Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

cleanup
  products/workers/src/content/platform/limits.md
Owners: @cloudflare/workers-docs

cleanup
  products/workers/src/content/platform/limits.md
Owners: @cloudflare/workers-docs

Update Logs docs to mention firewall_events dataset (#166)
  products/logs/src/content/logpush/logpush-configuration-api/understanding-logpush-api.md
  products/logs/src/content/tutorials/tutorial-logpush-curl.md
Owners: @soheiokamoto, @jherre, @tlozoot

Update Logs docs to mention firewall_events dataset (#166)
  products/logs/src/content/logpush/logpush-configuration-api/understanding-logpush-api.md
  products/logs/src/content/tutorials/tutorial-logpush-curl.md
Owners: @soheiokamoto, @jherre, @tlozoot

Add a link to instructions for getting zone_id
  products/logs/src/content/logpush/logpush-configuration-api/understanding-logpush-api.md
Owners: @soheiokamoto, @jherre, @tlozoot

consistency fixes
  products/gateway/src/content/about/index.md
  products/gateway/src/content/connecting-to-gateway/index.md
  products/gateway/src/content/connecting-to-gateway/install-cloudflare-cert.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-block-page.md
  products/gateway/src/content/getting-started/configuring-dns-policy.md
  products/gateway/src/content/getting-started/configuring-locations.md
  products/gateway/src/content/getting-started/index.md
  products/gateway/src/content/getting-started/onboarding-gateway.md
  products/gateway/src/content/how-gateway-works.md
  products/gateway/src/content/reference/index.md
Owners: @abracchi-tw

fix images
  products/gateway/src/content/getting-started/index.md
  products/gateway/src/content/how-gateway-works.md
Owners: @abracchi-tw

Update environments.md
  products/workers/src/content/platform/environments.md
Owners: @cloudflare/workers-docs

Consistency fixes to Gateway docs (#204)
  products/gateway/src/content/about/index.md
  products/gateway/src/content/connecting-to-gateway/index.md
  products/gateway/src/content/connecting-to-gateway/install-cloudflare-cert.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-block-page.md
  products/gateway/src/content/getting-started/configuring-dns-policy.md
  products/gateway/src/content/getting-started/configuring-locations.md
  products/gateway/src/content/getting-started/index.md
  products/gateway/src/content/getting-started/onboarding-gateway.md
  products/gateway/src/content/how-gateway-works.md
  products/gateway/src/content/reference/index.md
Owners: @abracchi-tw

Consistency fixes to Gateway docs (#204)
  products/gateway/src/content/about/index.md
  products/gateway/src/content/connecting-to-gateway/index.md
  products/gateway/src/content/connecting-to-gateway/install-cloudflare-cert.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-block-page.md
  products/gateway/src/content/getting-started/configuring-dns-policy.md
  products/gateway/src/content/getting-started/configuring-locations.md
  products/gateway/src/content/getting-started/index.md
  products/gateway/src/content/getting-started/onboarding-gateway.md
  products/gateway/src/content/how-gateway-works.md
  products/gateway/src/content/reference/index.md
Owners: @abracchi-tw

Update environments.md (#205)
  products/workers/src/content/platform/environments.md
Owners: @cloudflare/workers-docs

Update environments.md (#205)
  products/workers/src/content/platform/environments.md
Owners: @cloudflare/workers-docs

fixup! Adds documentation and analytics example for Magic Transit tunnel healthchecks
  products/analytics/src/content/graphql-api/tutorials/querying-magic-transit-tunnel-healthcheck-results/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Change request to response
  products/workers/src/content/runtime-apis/response.md
Owners: @cloudflare/workers-docs

Update Logs docs Logs fields page (#202)
  products/logs/src/content/log-fields/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Update Logs docs Logs fields page (#202)
  products/logs/src/content/log-fields/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Add a link to instructions for getting zone_id (#206)
  products/logs/src/content/logpush/logpush-configuration-api/understanding-logpush-api.md
Owners: @soheiokamoto, @jherre, @tlozoot

Add a link to instructions for getting zone_id (#206)
  products/logs/src/content/logpush/logpush-configuration-api/understanding-logpush-api.md
Owners: @soheiokamoto, @jherre, @tlozoot

PCX-1036 Restore package.json
  products/firewall/package.json
Owners: @cloudflare/firewall

corrects wifi wall-penetrating misinformation
  products/internet/src/content/wifi/index.md
Owners: @ConzorKingKong

Update service.md
  products/argo-tunnel/src/content/reference/service.md
Owners: @abracchi-tw

PCX-1036 QA copy pass
  products/firewall/src/content/api/cf-filters/endpoints.md
  products/firewall/src/content/api/cf-filters/index.md
  products/firewall/src/content/api/cf-filters/json-object.md
  products/firewall/src/content/api/cf-filters/validation.md
  products/firewall/src/content/api/cf-firewall-rules/endpoints.md
  products/firewall/src/content/api/cf-firewall-rules/index.md
  products/firewall/src/content/api/cf-firewall-rules/json-object.md
  products/firewall/src/content/api/cf-lists/json-object.md
  products/firewall/src/content/cf-dashboard/create-api-shield-rule.md
  products/firewall/src/content/cf-dashboard/create-edit-delete-rules.md
  products/firewall/src/content/cf-dashboard/expression-preview-editor.md
  products/firewall/src/content/cf-dashboard/index.md
  products/firewall/src/content/cf-dashboard/rule-preview.md
  products/firewall/src/content/cf-dashboard/rules-lists/index.md
  products/firewall/src/content/cf-dashboard/rules-lists/manage-items.md
  products/firewall/src/content/cf-dashboard/rules-lists/manage-lists.md
  products/firewall/src/content/cf-dashboard/rules-lists/use-lists-in-expressions.md
  products/firewall/src/content/cf-firewall-language/fields.md
  products/firewall/src/content/cf-firewall-language/functions.md
  products/firewall/src/content/cf-firewall-language/operators.md
  products/firewall/src/content/cf-firewall-language/values.md
  products/firewall/src/content/cf-firewall-rules/actions.md
  products/firewall/src/content/cf-firewall-rules/api-shield.md
  products/firewall/src/content/cf-firewall-rules/fields-and-expressions.md
  products/firewall/src/content/cf-firewall-rules/index.md
  products/firewall/src/content/cf-firewall-rules/order-priority.md
  products/firewall/src/content/cf-firewall-rules/rules-lists.md
Owners: @cloudflare/firewall

[argo-tunnel] Add missing docu of `socks5` arg
  products/argo-tunnel/src/content/configuration/arguments.md
Owners: @abracchi-tw

new api rules format
  products/access/src/content/access-service-auth/mutual-tls-authentication.md
  products/access/src/content/access-service-auth/mutual-tls-testing.md
  products/access/src/content/access-service-auth/service-tokens.md
  products/access/src/content/advanced-management/device-posture.md
  products/access/src/content/advanced-management/index.md
  products/access/src/content/advanced-management/revoking-user-sessions.md
  products/access/src/content/advanced-management/validating-json.md
  products/access/src/content/api-and-terraform/index.md
  products/access/src/content/api-and-terraform/rule-api-examples.md
  products/access/src/content/api-and-terraform/scoped-api-tokens.md
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/common-access-configurations/index.md
  products/access/src/content/examples/access-group.md
  products/access/src/content/examples/any-service-token.md
  products/access/src/content/examples/authentication-method.md
  products/access/src/content/examples/azure-group.md
  products/access/src/content/examples/common-name.md
  products/access/src/content/examples/country-code.md
  products/access/src/content/examples/email-domain.md
  products/access/src/content/examples/email.md
  products/access/src/content/examples/everyone.md
  products/access/src/content/examples/github-org.md
  products/access/src/content/examples/gsuite-group.md
  products/access/src/content/examples/ip-range.md
  products/access/src/content/examples/mtls-certificate.md
  products/access/src/content/examples/okta-group.md
  products/access/src/content/examples/saml-attribute.md
  products/access/src/content/examples/service-token.md
  products/access/src/content/getting-started/index.md
  products/access/src/content/learning/index.md
  products/access/src/content/protocols-and-connections/index.md
Owners: @cloudflare/access-docs

fix .js file
  products/access/src/content/api-and-terraform/index.md
Owners: @cloudflare/access-docs

kv value size on table
  products/workers/src/content/platform/limits.md
Owners: @cloudflare/workers-docs

[argo-tunnel] Add missing docu of `socks5` arg (#212)
  products/argo-tunnel/src/content/configuration/arguments.md
Owners: @abracchi-tw

[argo-tunnel] Add missing docu of `socks5` arg (#212)
  products/argo-tunnel/src/content/configuration/arguments.md
Owners: @abracchi-tw

Update index.md
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

Update config.md
  products/argo-tunnel/src/content/configuration/config.md
Owners: @abracchi-tw

Update index.md (#215)
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

Update index.md (#215)
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

Add search to Access docs
  products/access/docs-config.js
Owners: @cloudflare/access-docs

Update config.md (#216)
  products/argo-tunnel/src/content/configuration/config.md
Owners: @abracchi-tw

Update config.md (#216)
  products/argo-tunnel/src/content/configuration/config.md
Owners: @abracchi-tw

Update arguments.md
  products/argo-tunnel/src/content/configuration/arguments.md
Owners: @abracchi-tw

Add search to Access docs (#217)
  products/access/docs-config.js
Owners: @cloudflare/access-docs

Add search to Access docs (#217)
  products/access/docs-config.js
Owners: @cloudflare/access-docs

kv value size on table (#214)
  products/workers/src/content/platform/limits.md
Owners: @cloudflare/workers-docs

kv value size on table (#214)
  products/workers/src/content/platform/limits.md
Owners: @cloudflare/workers-docs

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs
