Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudflare/pcx-technical-writing, @kodster28, @pedrosousa, @haleycode, @kristianfreeman, @cloudflare/developer-advocacy, @RebeccaTamachiro, @bjesus, @mchenco, @elithrar, @rita3ko, @pdwittig, @deadlypants1973, @craigsdennis, @logangrasby, @Maddy-Cloudflare, @46bit, @bharatnc, @jherre, @jimhawkridge, @soheiokamoto, @victor-perov, @angelampcosta, @garrettgalow, @patriciasantaana, @ranbel, @tanushreesharma-cf, @celso, @meddulla, @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @maxvp, @rozenmd, @vy-ton, @joshthoward, @rts-rob, @dcpena, @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @tsmith512, @irvinebroque, @admah, @jonnyparris, @jasnell, @kflansburg, @igorminar, @dario-piotrowicz, @cloudflare/firewall, @unknownhad, @vs-mg, @jdesgats, @antoinecordelle, @marciocloudflare, @arges, @G4brym, @securitypedant, @crwaters16, @jedecf, @shanecloudflare, @zeinjaber, @rprice74, @ngayerie, @migueldemoura, @punkeel, @worenga, @aolache

.github/CODEOWNERS:

# Default owners if not more specific match
* @cloudflare/pcx-technical-writing

# More dev-specific files
/.github/ @kodster28 @pedrosousa @haleycode @kristianfreeman
/.github/CODEOWNERS @cloudflare/pcx-technical-writing
/.github/actions/assign-issue/index.js @cloudflare/pcx-technical-writing
/.github/actions/assign-pr/index.js @cloudflare/pcx-technical-writing
/.github/styles/cloudflare/spelling-exceptions.txt @cloudflare/pcx-technical-writing
/components/ @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
/functions/ @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
*.js @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
*.ts @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
/assets/json-collector.ts @cloudflare/pcx-technical-writing
/data/calculations/ @kristianfreeman @kodster28 @pedrosousa
/layouts/shortcodes/calculation.html @kristianfreeman @kodster28 @pedrosousa

# 1.1.1.1
/content/1.1.1.1/ @RebeccaTamachiro @cloudflare/pcx-technical-writing

# AI
/content/ai-gateway/ @bjesus @mchenco @cloudflare/pcx-technical-writing
/content/workers-ai/ @elithrar @rita3ko @pdwittig @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers-ai/tutorials @craigsdennis @logangrasby @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers-ai/static @craigsdennis @logangrasby @deadlypants1973 @cloudflare/pcx-technical-writing
/content/vectorize/ @elithrar @pdwittig @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/data/changelogs/ai-gateway.yaml @bjesus @mchenco @cloudflare/pcx-technical-writing
/data/changelogs/vectorize.yaml @elithrar @pdwittig @Maddy-Cloudflare @cloudflare/pcx-technical-writing

# Analytics & Logs
/content/analytics/ @46bit @bharatnc @jherre @jimhawkridge @soheiokamoto @victor-perov @angelampcosta @cloudflare/pcx-technical-writing
/content/data-localization/ @soheiokamoto @angelampcosta @cloudflare/pcx-technical-writing
/content/logs/ @bharatnc @jherre @soheiokamoto @victor-perov @angelampcosta @cloudflare/pcx-technical-writing

# API & Zones
/content/tenant/ @garrettgalow @patriciasantaana @cloudflare/pcx-technical-writing
/content/terraform/ @garrettgalow @ranbel @cloudflare/pcx-technical-writing
/content/version-management/ @garrettgalow @patriciasantaana @cloudflare/pcx-technical-writing

# Browser Rendering API
/content/browser-rendering/ @tanushreesharma-cf @mchenco @deadlypants1973 @cloudflare/pcx-technical-writing @celso @meddulla

# Cloudflare One
/content/cloudflare-one/ @kennyj42 @abelinkinbio @kkrum @janani-cr @ranbel @cloudflare/pcx-technical-writing
/content/cloudflare-one/policies/gateway/ @maxvp @cloudflare/pcx-technical-writing

# Developer platform
/content/d1/ @elithrar @rozenmd @vy-ton @joshthoward @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/content/durable-objects/ @elithrar @vy-ton @joshthoward @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/content/vectorize/ @elithrar @pdwittig @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/content/hyperdrive/ @elithrar @rts-rob @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/data/changelogs/hyperdrive.yaml @elithrar @rts-rob @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/data/changelogs/d1.yaml @elithrar @rozenmd @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/content/images/ @dcpena @cloudflare/pcx-technical-writing
/content/pages/ @cloudflare/workers-docs @GregBrimble @WalshyDev @deadlypants1973 @cloudflare/pcx-technical-writing
/data/changelogs/pages.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @deadlypants1973 @cloudflare/pcx-technical-writing
/content/kv/ @elithrar @rts-rob  @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/content/pub-sub/ @elithrar @rts-rob @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/content/queues/ @elithrar @rts-rob @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/data/changelogs/queues.yaml @elithrar @rts-rob @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/content/r2/ @dcpena @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/data/changelogs/r2.yaml @dcpena @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/content/stream/ @tsmith512 @dcpena @cloudflare/pcx-technical-writing
/data/changelogs/stream.yaml @tsmith512 @dcpena @cloudflare/pcx-technical-writing
/content/workers/ @cloudflare/workers-docs @GregBrimble @WalshyDev @deadlypants1973 @cloudflare/pcx-technical-writing
/data/changelogs/workers.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @deadlypants1973 @cloudflare/pcx-technical-writing @irvinebroque @admah
/content/zaraz/ @bjesus @jonnyparris @cloudflare/pcx-technical-writing
/data/changelogs/zaraz.yaml @bjesus @jonnyparris @cloudflare/pcx-technical-writing
/content/workers/runtime-apis/ @irvinebroque @jasnell @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers/platform/ @irvinebroque @tanushreesharma-cf @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers/configuration/bindings/ @irvinebroque @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers/configuration/compatibility-dates/ @irvinebroque @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers/reference/migrate-to-module-workers/ @irvinebroque @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers/reference/security-model/ @irvinebroque @deadlypants1973 @cloudflare/pcx-technical-writing
/content/workers/_partials/_platform-compatibility-dates/ @irvinebroque @kflansburg @deadlypants1973 @cloudflare/pcx-technical-writing
/content/pages/framework-guides/ @igorminar @dario-piotrowicz @deadlypants1973 @cloudflare/pcx-technical-writing

# Firewall Rules, WAF, Security
/content/api-shield/ @patriciasantaana @cloudflare/pcx-technical-writing
/content/bots/ @patriciasantaana @cloudflare/pcx-technical-writing
/content/firewall/ @pedrosousa @cloudflare/firewall @cloudflare/pcx-technical-writing
/content/waf/ @pedrosousa @cloudflare/firewall @cloudflare/pcx-technical-writing
/content/waf/change-log/ 
@pedrosousa @cloudflare/firewall @unknownhad @vs-mg @cloudflare/pcx-technical-writing
/data/changelogs/waf.yaml
@pedrosousa @cloudflare/firewall @unknownhad @vs-mg @cloudflare/pcx-technical-writing

# DDoS Protection
/content/ddos-protection/change-log/ @jdesgats @antoinecordelle @pedrosousa @cloudflare/pcx-technical-writing
/data/changelogs/ddos-http.yaml @jdesgats @antoinecordelle @pedrosousa @cloudflare/pcx-technical-writing
/data/changelogs/ddos-network.yaml @jdesgats @antoinecordelle @pedrosousa @cloudflare/pcx-technical-writing

# Magic products
/content/magic-transit/ @marciocloudflare @cloudflare/pcx-technical-writing
/content/magic-firewall/ @arges @marciocloudflare @cloudflare/pcx-technical-writing
/content/magic-wan/ @marciocloudflare @cloudflare/pcx-technical-writing

# Radar
/content/radar/ @meddulla @G4brym @cloudflare/pcx-technical-writing
/data/changelogs/radar.yaml @meddulla @G4brym @cloudflare/pcx-technical-writing

# Reference architecture
/content/reference-architecture/ @securitypedant @crwaters16 @cloudflare/pcx-technical-writing
/assets/images/reference-architecture/ @securitypedant @crwaters16 @cloudflare/pcx-technical-writing

# Support
/content/support/ @jedecf @shanecloudflare @zeinjaber @rprice74 @ngayerie @cloudflare/pcx-technical-writing

# Turnstile
/content/turnstile/ @migueldemoura @punkeel @worenga @patriciasantaana @cloudflare/pcx-technical-writing

# Waiting Room
/content/waiting-room/ @aolache @angelampcosta @cloudflare/pcx-technical-writing
/data/changelogs/waiting-room.yaml @aolache @angelampcosta @cloudflare/pcx-technical-writing

[QUEUES] Revert Queues content type changes (#13269)
  content/queues/reference/how-queues-works.md
  content/queues/reference/javascript-apis.md
  content/workers/_partials/_platform-compatibility-dates/queues-json-messages.md
  data/changelogs/queues.yaml
Owners: @elithrar, @rts-rob, @Maddy-Cloudflare, @cloudflare/pcx-technical-writing, @irvinebroque, @kflansburg, @deadlypants1973

[Bots] sequence rules (#13112)
  content/bots/_partials/_sequence-rules.md
  content/bots/concepts/sequence-rules.md
  content/fundamentals/reference/policies-compliances/cloudflare-cookies.md
  data/fraud-detection.yml
Owners: @patriciasantaana, @cloudflare/pcx-technical-writing

Fix broken link (#13268)
  content/fundamentals/setup/manage-domains/remove-domain.md
Owners: @cloudflare/pcx-technical-writing

ping_group_range command
  content/cloudflare-one/_partials/tunnel/_enable-gateway-proxy.md
Owners: @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @ranbel, @cloudflare/pcx-technical-writing

Add DLP partials
  content/cloudflare-one/_partials/data-loss-prevention/_custom-profile.md
  content/cloudflare-one/_partials/data-loss-prevention/_predefined-profile.md
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/_index.md
  content/learning-paths/defense-in-depth/build-http-policies/data-loss-prevention.md
  content/learning-paths/defense-in-depth/build-http-policies/enable-tls-inspection.md
Owners: @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @ranbel, @cloudflare/pcx-technical-writing
