Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs

fix two links
  products/1.1.1.1/src/content/index.md
Owners: @abracchi-tw

fix two links
  products/1.1.1.1/src/content/index.md
Owners: @abracchi-tw

[tenant] fix typo
  products/tenant/src/content/getting-started.md
Owners: @garrettgalow

[tenant] fix typo
  products/tenant/src/content/getting-started.md
Owners: @garrettgalow

add delete command
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

add delete command
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

fixes to verb
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

Tunnel delete (#270)
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

Tunnel delete (#270)
  products/argo-tunnel/src/content/create-tunnel/index.md
Owners: @abracchi-tw

Remove trailing grave from sample brew install cmd
  products/argo-tunnel/src/content/getting-started/installation.md
Owners: @abracchi-tw

Fix case of GitHub (#263)
  README.md
Owners: none

Fix case of GitHub (#263)
  README.md
Owners: none

Remove trailing grave from sample brew install cmd (#271)
  products/argo-tunnel/src/content/getting-started/installation.md
Owners: @abracchi-tw

Remove trailing grave from sample brew install cmd (#271)
  products/argo-tunnel/src/content/getting-started/installation.md
Owners: @abracchi-tw

Clarify Wrangler installation instructions (#267)
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/index.md
Owners: @cloudflare/workers-docs

Clarify Wrangler installation instructions (#267)
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/index.md
Owners: @cloudflare/workers-docs

cleanup
  products/workers/src/content/index.md
Owners: @cloudflare/workers-docs

cleanup
  products/workers/src/content/index.md
Owners: @cloudflare/workers-docs

Update list of datasets (#258)
  products/analytics/src/content/graphql-api/features/data-sets/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Update list of datasets (#258)
  products/analytics/src/content/graphql-api/features/data-sets/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Fixed data type of response parameter for put (#261)
  products/workers/src/content/runtime-apis/cache.md
Owners: @cloudflare/workers-docs

Fixed data type of response parameter for put (#261)
  products/workers/src/content/runtime-apis/cache.md
Owners: @cloudflare/workers-docs

PCX-580: Detail universal SSL behavior with LB (#180)
  products/load-balancing/src/content/understand-basics/load-balancers.md
Owners: @ConzorKingKong

PCX-580: Detail universal SSL behavior with LB (#180)
  products/load-balancing/src/content/understand-basics/load-balancers.md
Owners: @ConzorKingKong

changes to how-gateway-works.md
  products/gateway/src/content/about/how-gateway-works.md
Owners: @abracchi-tw

Change request to response (#207)
  products/workers/src/content/runtime-apis/response.md
Owners: @cloudflare/workers-docs

Change request to response (#207)
  products/workers/src/content/runtime-apis/response.md
Owners: @cloudflare/workers-docs

cleanup ' → ’
  products/terraform/src/content/tutorial/hello-world.md
Owners: @ConzorKingKong

cleanup ' → ’
  products/terraform/src/content/tutorial/hello-world.md
Owners: @ConzorKingKong

fix broken link in terraform docs (closes #268)
  products/terraform/src/content/tutorial/hello-world.md
Owners: @ConzorKingKong

fix broken link in terraform docs (closes #268)
  products/terraform/src/content/tutorial/hello-world.md
Owners: @ConzorKingKong

style tweaks to ingress rules
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Owners: @abracchi-tw

Add troubleshooting for revoking Argo Tunnel credentials
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/faq/index.md
Owners: @abracchi-tw

style tweaks to ingress rules (#272)
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Owners: @abracchi-tw

style tweaks to ingress rules (#272)
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Owners: @abracchi-tw

lacking as=style in the Link preload header (#265)
  products/workers/src/content/examples/http2-server-push.md
Owners: @cloudflare/workers-docs

lacking as=style in the Link preload header (#265)
  products/workers/src/content/examples/http2-server-push.md
Owners: @cloudflare/workers-docs

Mark Browser Insights datasets as beta
  products/analytics/src/content/graphql-api/features/data-sets/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

remove references to ipv6 from firewall protocol list
  products/magic-transit/src/content/how-to/set-up/firewall-policies.md
Owners: @annikagarbers

Update displaying-thumbnails.md
  products/stream/src/content/viewing-videos/displaying-thumbnails.md
Owners: @renandincer, @third774
