Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

fix to broken link (#229)
  products/argo-tunnel/src/content/learning/trycloudflare.md
  products/argo-tunnel/src/content/trycloudflare/index.md
Owners: @abracchi-tw

Update index.md (#226)
  products/gateway/src/content/privacy/index.md
Owners: @abracchi-tw

Update index.md (#226)
  products/gateway/src/content/privacy/index.md
Owners: @abracchi-tw

fix path
  products/access/src/content/api-and-terraform/rule-api-examples.md
Owners: @cloudflare/access-docs

access - new format for API example rule configurations (#213)
  products/access/src/content/access-service-auth/mutual-tls-authentication.md
  products/access/src/content/access-service-auth/mutual-tls-testing.md
  products/access/src/content/access-service-auth/service-tokens.md
  products/access/src/content/advanced-management/device-posture.md
  products/access/src/content/advanced-management/index.md
  products/access/src/content/advanced-management/revoking-user-sessions.md
  products/access/src/content/advanced-management/validating-json.md
  products/access/src/content/api-and-terraform/index.md
  products/access/src/content/api-and-terraform/rule-api-examples.md
  products/access/src/content/api-and-terraform/scoped-api-tokens.md
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/common-access-configurations/index.md
  products/access/src/content/examples/access-group.md
  products/access/src/content/examples/any-service-token.md
  products/access/src/content/examples/authentication-method.md
  products/access/src/content/examples/azure-group.md
  products/access/src/content/examples/common-name.md
  products/access/src/content/examples/country-code.md
  products/access/src/content/examples/email-domain.md
  products/access/src/content/examples/email.md
  products/access/src/content/examples/everyone.md
  products/access/src/content/examples/github-org.md
  products/access/src/content/examples/gsuite-group.md
  products/access/src/content/examples/ip-range.md
  products/access/src/content/examples/mtls-certificate.md
  products/access/src/content/examples/okta-group.md
  products/access/src/content/examples/saml-attribute.md
  products/access/src/content/examples/service-token.md
  products/access/src/content/getting-started/index.md
  products/access/src/content/learning/index.md
  products/access/src/content/protocols-and-connections/index.md
Owners: @cloudflare/access-docs

access - new format for API example rule configurations (#213)
  products/access/src/content/access-service-auth/mutual-tls-authentication.md
  products/access/src/content/access-service-auth/mutual-tls-testing.md
  products/access/src/content/access-service-auth/service-tokens.md
  products/access/src/content/advanced-management/device-posture.md
  products/access/src/content/advanced-management/index.md
  products/access/src/content/advanced-management/revoking-user-sessions.md
  products/access/src/content/advanced-management/validating-json.md
  products/access/src/content/api-and-terraform/index.md
  products/access/src/content/api-and-terraform/rule-api-examples.md
  products/access/src/content/api-and-terraform/scoped-api-tokens.md
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/common-access-configurations/index.md
  products/access/src/content/examples/access-group.md
  products/access/src/content/examples/any-service-token.md
  products/access/src/content/examples/authentication-method.md
  products/access/src/content/examples/azure-group.md
  products/access/src/content/examples/common-name.md
  products/access/src/content/examples/country-code.md
  products/access/src/content/examples/email-domain.md
  products/access/src/content/examples/email.md
  products/access/src/content/examples/everyone.md
  products/access/src/content/examples/github-org.md
  products/access/src/content/examples/gsuite-group.md
  products/access/src/content/examples/ip-range.md
  products/access/src/content/examples/mtls-certificate.md
  products/access/src/content/examples/okta-group.md
  products/access/src/content/examples/saml-attribute.md
  products/access/src/content/examples/service-token.md
  products/access/src/content/getting-started/index.md
  products/access/src/content/learning/index.md
  products/access/src/content/protocols-and-connections/index.md
Owners: @cloudflare/access-docs

socks in par
  products/argo-tunnel/src/content/configuration/arguments.md
Owners: @abracchi-tw

fix images in revoking-user-sessions.md
  products/access/src/content/advanced-management/session-management/revoking-user-sessions.md
Owners: @cloudflare/access-docs

cloudflared ARM64 to latest release
  products/argo-tunnel/src/content/getting-started/installation.md
Owners: @abracchi-tw

shell format
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/getting-started/installation.md
Owners: @abracchi-tw

argo cloudflared ARM64 bin & shell formatting (#232)
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/getting-started/installation.md
Owners: @abracchi-tw

argo cloudflared ARM64 bin & shell formatting (#232)
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/getting-started/installation.md
Owners: @abracchi-tw

argo hostnames correction (#228)
  products/argo-tunnel/src/content/faq/index.md
Owners: @abracchi-tw

argo hostnames correction (#228)
  products/argo-tunnel/src/content/faq/index.md
Owners: @abracchi-tw

argo arguments corrections (#230)
  products/argo-tunnel/src/content/configuration/arguments.md
Owners: @abracchi-tw

argo arguments corrections (#230)
  products/argo-tunnel/src/content/configuration/arguments.md
Owners: @abracchi-tw

Add whitespace to force redeploy
  products/workers/src/content/runtime-apis/request.md
Owners: @cloudflare/workers-docs

add missing code block closing
  products/access/src/content/examples/access-group.md
Owners: @cloudflare/access-docs

add missing code block closing
  products/access/src/content/examples/access-group.md
Owners: @cloudflare/access-docs

make access examples an overview page
  products/access/src/content/api-and-terraform/rule-api-examples.md
Owners: @cloudflare/access-docs

make access examples an overview page
  products/access/src/content/api-and-terraform/rule-api-examples.md
Owners: @cloudflare/access-docs

fix incorrect header depth breaking ToC
  products/access/src/content/setting-up-access/api-examples.md
Owners: @cloudflare/access-docs

fix incorrect header depth breaking ToC
  products/access/src/content/setting-up-access/api-examples.md
Owners: @cloudflare/access-docs

Document cron triggers wrangler config format
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/platform/cron-triggers/index.md
Owners: @cloudflare/workers-docs

→ examples overview component https://git.io/JTbPC
  products/access/src/content/api-and-terraform/rule-api-examples.md
  products/workers/src/content/examples/index.md
Owners: @cloudflare/access-docs, @cloudflare/workers-docs

→ examples overview component https://git.io/JTbPC
  products/access/src/content/api-and-terraform/rule-api-examples.md
  products/workers/src/content/examples/index.md
Owners: @cloudflare/access-docs, @cloudflare/workers-docs

move workers open graph image into repo
  products/workers/docs-config.js
  products/workers/static/og-image.png
Owners: @cloudflare/workers-docs

move workers open graph image into repo
  products/workers/docs-config.js
  products/workers/static/og-image.png
Owners: @cloudflare/workers-docs

Makes graphql analytics tutorial auto populate listings
  products/analytics/src/content/graphql-api/tutorials/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Announce 2020-11-04 WAF changes
  products/waf/src/content/change-log/2020-11-04.md
Owners: @cloudflare/firewall

Update and rename 2020-11-04.md to 2020-11-04---emergency-release.md
  products/waf/src/content/change-log/2020-11-04---emergency-release.md
Owners: @cloudflare/firewall

Announce 2020-11-04 WAF changes
  products/waf/src/content/change-log/2020-11-04---emergency-release.md
Owners: @cloudflare/firewall

Announce 2020-11-04 WAF changes
  products/waf/src/content/change-log/2020-11-04---emergency-release.md
Owners: @cloudflare/firewall

fix images in revoking-user-sessions.md (#231)
  products/access/src/content/advanced-management/session-management/revoking-user-sessions.md
Owners: @cloudflare/access-docs

fix images in revoking-user-sessions.md (#231)
  products/access/src/content/advanced-management/session-management/revoking-user-sessions.md
Owners: @cloudflare/access-docs

Updating with latest information
  products/access/src/content/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/app-information.png
  products/access/src/content/static/gsuite/configure-consent-screen.png
  products/access/src/content/static/gsuite/create-credentials.png
  products/access/src/content/static/gsuite/gadmin-apiclient.png
  products/access/src/content/static/gsuite/gadmin-secadvance.png
  products/access/src/content/static/gsuite/gadmin-security.png
  products/access/src/content/static/gsuite/gconsole-security-api-controls.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-add-new.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-delegation.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-new-client.png
  products/access/src/content/static/gsuite/gconsole-security.png
  products/access/src/content/static/gsuite/gcp-creds.png
Owners: @cloudflare/access-docs

Updating with latest information
  products/access/src/content/configuring-identity-providers/gsuite.md
Owners: @cloudflare/access-docs

PCX-1036 Fix remaining links (#222)
  products/firewall/src/content/api/cf-firewall-rules/index.md
  products/firewall/src/content/api/cf-lists/index.md
  products/firewall/src/content/cf-dashboard/expression-preview-editor.md
  products/firewall/src/content/cf-firewall-language/functions.md
  products/firewall/src/content/cf-firewall-language/operators.md
  products/firewall/src/content/cf-firewall-rules/api-shield.md
  products/firewall/src/content/recipes/block-ms-exchange-autodiscover.md
  products/firewall/src/content/recipes/challenge-bad-bots.md
  products/firewall/src/content/recipes/require-specific-http-ports.md
  products/firewall/src/content/recipes/require-valid-client-certificate.md
Owners: @cloudflare/firewall

PCX-1036 Fix remaining links (#222)
  products/firewall/src/content/api/cf-firewall-rules/index.md
  products/firewall/src/content/api/cf-lists/index.md
  products/firewall/src/content/cf-dashboard/expression-preview-editor.md
  products/firewall/src/content/cf-firewall-language/functions.md
  products/firewall/src/content/cf-firewall-language/operators.md
  products/firewall/src/content/cf-firewall-rules/api-shield.md
  products/firewall/src/content/recipes/block-ms-exchange-autodiscover.md
  products/firewall/src/content/recipes/challenge-bad-bots.md
  products/firewall/src/content/recipes/require-specific-http-ports.md
  products/firewall/src/content/recipes/require-valid-client-certificate.md
Owners: @cloudflare/firewall

argo shell style
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/getting-started/setup.md
  products/argo-tunnel/src/content/routing-to-tunnel/dns.md
Owners: @abracchi-tw

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs
