Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudflare/PCX, @cloudflare/dns, @soheiokamoto, @jherre, @tlozoot, @tanushreesharma-cf, @cloudflare/sdk, @ConzorKingKong, @dinasaur404, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @cloudflare/firewall, @kornelski, @GregBrimble, @sejoker, @bharatnc, @annikagarbers, @arges, @cloudflare/workers-docs, @armfazh, @renandincer, @third774, @Everlag, @zaidf, @mbetz08, @bkrebsbach, @garrettgalow, @wbl

.github/CODEOWNERS:

# 1.1.1.1
content/1.1.1.1/ @cloudflare/PCX @cloudflare/dns

# Analytics
content/analytics/ @soheiokamoto @jherre @tlozoot @tanushreesharma-cf @cloudflare/PCX

# API
content/api/ @cloudflare/sdk @cloudflare/PCX

# APO
content/automatic-platform-optimization/ @cloudflare/PCX

# Bot management
content/bots/ @cloudflare/PCX

# BYOIP
content/byoip/ @ConzorKingKong @dinasaur404 @cloudflare/PCX

# Cache
content/cache/ @cloudflare/PCX

# Cloudflare One
content/cloudflare-one/ @cloudflare/PCX

# Developers homepage
developers.cloudflare.com/ @cloudflare/PCX

# DDoS Protection
content/ddos-protection/ @cloudflare/PCX

# Distributed Web
content/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn @cloudflare/PCX

# Documentation Engine
content/docs-engine/ @cloudflare/PCX

# Email Routing
content/email-routing/ @cloudflare/PCX

# Firewall Rules
content/firewall/ @cloudflare/firewall @cloudflare/PCX

# Fundamentals
content/fundamentals/ @cloudflare/PCX

# HTTP/3
content/http3/ @ConzorKingKong @cloudflare/PCX

# Cloudflare Images
content/images/ @kornelski @GregBrimble @sejoker @cloudflare/PCX

# Load Balancing
content/load-balancing/ @ConzorKingKong @cloudflare/PCX

# Logs
content/logs/ @soheiokamoto @jherre @tlozoot @bharatnc @tanushreesharma-cf @cloudflare/PCX

# Magic Transit
content/magic-transit/ @annikagarbers @cloudflare/PCX

# Magic Firewall
content/magic-firewall/ @arges @annikagarbers @cloudflare/PCX

# Network Interconnect
content/network-interconnect @ConzorKingKong @cloudflare/PCX

# Pages
content/pages/ @cloudflare/workers-docs @cloudflare/PCX

# Page Shield
content/page-shield/ @cloudflare/PCX

# Railgun
content/railgun/ @cloudflare/PCX

# Randomness Beacon
content/randomness-beacon/ @lukevalenta @armfazh @cloudflare/PCX

# Registrar
content/registrar/ @cloudflare/PCX

# Rules
content/rules/ @cloudflare/PCX

# Ruleset Engine
content/ruleset-engine/ @cloudflare/PCX

# Security Center
content/security-center/ @cloudflare/PCX

# Spectrum
content/spectrum/ @ConzorKingKong @cloudflare/PCX

# SSL
content/ssl/ @ConzorKingKong @cloudflare/PCX

# Stream
content/stream/ @renandincer @third774 @Everlag @zaidf @mbetz08 @bkrebsbach @cloudflare/PCX

# Tenant
content/tenant/ @garrettgalow @cloudflare/PCX

# Terraform
content/terraform/ @ConzorKingKong @cloudflare/PCX

# Time Services
content/time-services/ @lukevalenta @wbl @armfazh @cloudflare/PCX

# WAF
content/waf/ @cloudflare/firewall @cloudflare/PCX

# Waiting Room
content/waiting-room/ @cloudflare/PCX

# Warp Client
content/warp-client/ @cloudflare/PCX

# Workers
content/workers/ @cloudflare/workers-docs @cloudflare/PCX

# Zaraz
content/zaraz/ @cloudflare/PCX

Update content/ssl/edge-certificates/universal-ssl/limitations.md
  content/ssl/edge-certificates/universal-ssl/limitations.md
Owners: @ConzorKingKong, @cloudflare/PCX

partial
  content/cloudflare-one/_partials/_cloudflared-new-ui.md
  content/cloudflare-one/connections/connect-apps/_index.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/deployment-guides/_index.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/installation.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-permissions.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-useful-commands.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-useful-terms.md
Owners: @cloudflare/PCX

Apply suggestions from documentation review
  content/firewall/cf-dashboard/create-edit-delete-rules.md
  content/firewall/cf-dashboard/rules-lists/_index.md
  content/firewall/cf-firewall-rules/order-priority.md
Owners: @cloudflare/firewall, @cloudflare/PCX

Update Managed Challenge description
  content/ruleset-engine/rules-language/actions.md
Owners: @cloudflare/PCX

[SSL-TLS] Updated link in limitations.md (#3896)
  content/ssl/edge-certificates/universal-ssl/limitations.md
Owners: @ConzorKingKong, @cloudflare/PCX

Add back "Animation of" to GIF alt text
  content/firewall/cf-dashboard/create-edit-delete-rules.md
Owners: @cloudflare/firewall, @cloudflare/PCX

Ruleset Engine: Update Managed Challenge description (#3901)
  content/ruleset-engine/rules-language/actions.md
Owners: @cloudflare/PCX

Cleaned up language, organization, and formatting for Time services
  content/time-services/_index.md
  content/time-services/_partials/_ntp-definition.md
  content/time-services/ntp/_index.md
  content/time-services/ntp/usage.md
  content/time-services/nts.md
  content/time-services/nts/_index.md
  content/time-services/nts/usage.md
  content/time-services/roughtime/_index.md
  content/time-services/roughtime/about.md
  content/time-services/roughtime/recipes.md
  content/time-services/roughtime/usage.md
  content/time-services/static/windowtime2.png
Owners: @lukevalenta, @wbl, @armfazh, @cloudflare/PCX

link fix
  content/cloudflare-one/_partials/_cloudflared-new-ui.md
Owners: @cloudflare/PCX

Static ips for spectrum (#3899)
  content/spectrum/about/static-ip.md
Owners: @ConzorKingKong, @cloudflare/PCX

Apply suggestions from code review
  content/time-services/ntp/_index.md
  content/time-services/nts.md
  content/time-services/roughtime/_index.md
  content/time-services/roughtime/recipes.md
  content/time-services/roughtime/usage.md
Owners: @lukevalenta, @wbl, @armfazh, @cloudflare/PCX

Added disable info to bot get started
  content/bots/_partials/_disable-sbfm.md
  content/bots/_partials/_get-started-pro-biz-steps.md
  content/bots/get-started/biz-and-ent.md
  content/bots/get-started/free.md
  content/bots/get-started/pro.md
Owners: @cloudflare/PCX

Update registration API with build num (#3888)
  content/cloudflare-one/connections/connect-devices/warp/deployment/firewall.md
Owners: @cloudflare/PCX

Apply suggestions from code review
  content/bots/_partials/_disable-sbfm.md
  content/bots/get-started/free.md
Owners: @cloudflare/PCX

[Bots] Added disable info to bot get started (#3904)
  content/bots/_partials/_disable-sbfm.md
  content/bots/_partials/_get-started-pro-biz-steps.md
  content/bots/get-started/biz-and-ent.md
  content/bots/get-started/free.md
  content/bots/get-started/pro.md
Owners: @cloudflare/PCX

MFW-577: Add documentation for sip field
  content/magic-firewall/reference/magic-firewall-fields.md
Owners: @arges, @annikagarbers, @cloudflare/PCX

Fixed linux ​​.deb install command
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide.md
Owners: @cloudflare/PCX

Added section for clear DF
  content/magic-transit/prerequisites.md
Owners: @annikagarbers, @cloudflare/PCX

wrangler2 release
  content/workers/cli-wrangler/_index.md
  content/workers/cli-wrangler/authentication.md
  content/workers/cli-wrangler/commands.md
  content/workers/cli-wrangler/configuration.md
  content/workers/cli-wrangler/install-update.md
  content/workers/cli-wrangler/webpack.md
  content/workers/wrangler/_index.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/compare-v1-v2.md
  content/workers/wrangler/configuration.md
  content/workers/wrangler/custom-builds.md
  content/workers/wrangler/deprecations.md
  content/workers/wrangler/eject-webpack.md
  content/workers/wrangler/environments.md
  content/workers/wrangler/getting-started.md
  content/workers/wrangler/migration.md
  content/workers/wrangler/module-system.md
  content/workers/wrangler/projects.md
Owners: @cloudflare/workers-docs, @cloudflare/PCX

Finished all but DNS probe errors page
  content/dns/zone-setups/full-setup/setup.md
Owners: none

Fixed typo
  content/dns/zone-setups/full-setup/setup.md
Owners: none

fix links
  content/workers/wrangler/commands.md
Owners: @cloudflare/workers-docs, @cloudflare/PCX

one more link
  content/workers/wrangler/deprecations.md
Owners: @cloudflare/workers-docs, @cloudflare/PCX

_redirects test
  static/_redirects
Owners: none

Move Gateway applications page up a level
  content/cloudflare-one/policies/filtering/application-app-types.md
  content/cloudflare-one/policies/filtering/applications-changelog.md
  content/cloudflare-one/policies/filtering/dns-policies-builder/_index.md
  content/cloudflare-one/policies/filtering/http-policies/_index.md
  content/cloudflare-one/policies/filtering/network-policies/index.md
  content/cloudflare-one/static/documentation/applications.csv
  content/cloudflare-one/static/documentation/policies/do-not-inspect.png
Owners: @cloudflare/PCX

Fix broken links
  content/cloudflare-one/analytics/access.md
  content/cloudflare-one/connections/connect-devices/warp/exclude-traffic/split-tunnels.md
  content/cloudflare-one/faq/teams-devices-faq.md
Owners: @cloudflare/PCX

Naive copy
  static/_redirects
Owners: none

Remove duplicates
  static/_redirects
Owners: none

Move to content to be alongside _headers
  content/_redirects
Owners: none

Create libraries.md
  content/zaraz/reference/libraries.md
Owners: @cloudflare/PCX

correct trim properties
  content/images/image-resizing/resize-with-workers.md
Owners: @kornelski, @GregBrimble, @sejoker, @cloudflare/PCX

[ZT] tunnel guide changes (#3893)
  content/cloudflare-one/_partials/_cloudflared-new-ui.md
  content/cloudflare-one/connections/connect-apps/_index.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/deployment-guides/_index.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/installation.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-permissions.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-useful-commands.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-useful-terms.md
  content/cloudflare-one/connections/connect-networks/private-net/_index.md
  content/cloudflare-one/static/documentation/connections/connect-apps/connector.png
  content/cloudflare-one/static/documentation/connections/connect-apps/tunnel-table.png
Owners: @cloudflare/PCX

Update content/time-services/nts.md
  content/time-services/nts.md
Owners: @lukevalenta, @wbl, @armfazh, @cloudflare/PCX

correct trim properties (#3917)
  content/images/image-resizing/resize-with-workers.md
Owners: @kornelski, @GregBrimble, @sejoker, @cloudflare/PCX

Remove host from destination of redirects
  content/_redirects
Owners: none

Added new SSL notifications Added H2 to organize by product
  content/fundamentals/notifications/notification-available.md
Owners: @cloudflare/PCX

Fixed ssl-for-saas formatting issues
  content/dns/zone-setups/full-setup/setup.md
  content/dns/zone-setups/troubleshooting/dns-probe-finished-nxdomain.md
  content/ssl/ssl-for-saas/getting-started.md
Owners: @ConzorKingKong, @cloudflare/PCX

Bulk Redirects → _redirects (#3910)
  content/_redirects
Owners: none

Update require-specific-http-ports.md
  content/firewall/recipes/require-specific-http-ports.md
Owners: @cloudflare/firewall, @cloudflare/PCX

Added redirects
  content/_redirects
Owners: none
