Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudflare/pcx-technical-writing, @kodster28, @pedrosousa, @haleycode, @kristianfreeman, @cloudflare/developer-advocacy, @bjesus, @mchenco, @elithrar, @rita3ko, @pdwittig, @craigsdennis, @logangrasby, @46bit, @bharatnc, @jherre, @jimhawkridge, @soheiokamoto, @victor-perov, @garrettgalow, @tanushreesharma-cf, @celso, @meddulla, @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @rozenmd, @vy-ton, @joshthoward, @rts-rob, @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @tsmith512, @irvinebroque, @admah, @jonnyparris, @jasnell, @kflansburg, @cloudflare/firewall, @unknownhad, @vs-mg, @jdesgats, @antoinecordelle, @arges, @G4brym, @securitypedant, @jedecf, @shanecloudflare, @zeinjaber, @rprice74, @ngayerie, @migueldemoura, @punkeel, @worenga, @aolache

.github/CODEOWNERS:

# Default owners if not more specific match
* @cloudflare/pcx-technical-writing

# More dev-specific files
/.github/ @kodster28 @pedrosousa @haleycode @kristianfreeman
/.github/CODEOWNERS @cloudflare/pcx-technical-writing
/.github/actions/assign-issue/index.js @cloudflare/pcx-technical-writing
/.github/actions/assign-pr/index.js @cloudflare/pcx-technical-writing
/.github/styles/cloudflare/spelling-exceptions.txt @cloudflare/pcx-technical-writing
/components/ @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
/functions/ @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
*.js @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
*.ts @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
/assets/json-collector.ts @cloudflare/pcx-technical-writing
/data/calculations/ @kristianfreeman @kodster28 @pedrosousa
/layouts/shortcodes/calculation.html @kristianfreeman @kodster28 @pedrosousa

# AI
/content/ai-gateway/ @bjesus @mchenco @cloudflare/pcx-technical-writing
/content/workers-ai/ @elithrar @rita3ko @pdwittig @cloudflare/pcx-technical-writing
/content/workers-ai/tutorials @craigsdennis @logangrasby @cloudflare/pcx-technical-writing
/content/workers-ai/static @craigsdennis @logangrasby @cloudflare/pcx-technical-writing
/content/vectorize/ @elithrar @pdwittig @cloudflare/pcx-technical-writing
/data/changelogs/ai-gateway.yaml @bjesus @mchenco @cloudflare/pcx-technical-writing
/data/changelogs/vectorize.yaml @elithrar @pdwittig @cloudflare/pcx-technical-writing

# Analytics & Logs
/content/analytics/ @46bit @bharatnc @jherre @jimhawkridge @soheiokamoto @victor-perov @cloudflare/pcx-technical-writing
/content/data-localization/ @soheiokamoto @cloudflare/pcx-technical-writing
/content/logs/ @bharatnc @jherre @soheiokamoto @victor-perov @cloudflare/pcx-technical-writing

# API & Zones
/content/tenant/ @garrettgalow @cloudflare/pcx-technical-writing
/content/version-management/ @garrettgalow @cloudflare/pcx-technical-writing

# Browser Rendering API
/content/browser-rendering/ @tanushreesharma-cf @mchenco @cloudflare/pcx-technical-writing @celso @meddulla

# Cloudflare One
/content/cloudflare-one/ @kennyj42 @abelinkinbio @kkrum @janani-cr @cloudflare/pcx-technical-writing

# Developer platform
/content/d1/ @elithrar @rozenmd @vy-ton @joshthoward @cloudflare/pcx-technical-writing
/content/durable-objects/ @elithrar @vy-ton @joshthoward @cloudflare/pcx-technical-writing
/content/vectorize/ @elithrar @pdwittig @cloudflare/pcx-technical-writing
/content/hyperdrive/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/data/changelogs/hyperdrive.yaml @elithrar @rts-rob @cloudflare/pcx-technical-writing
/data/changelogs/d1.yaml @elithrar @rozenmd @cloudflare/pcx-technical-writing
/content/images/ @cloudflare/pcx-technical-writing
/content/pages/ @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing
/data/changelogs/pages.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing
/content/kv/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/content/pub-sub/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/content/queues/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/data/changelogs/queues.yaml @elithrar @rts-rob @cloudflare/pcx-technical-writing
/content/r2/ @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/data/changelogs/r2.yaml @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/content/stream/ @tsmith512 @cloudflare/pcx-technical-writing
/data/changelogs/stream.yaml @tsmith512 @cloudflare/pcx-technical-writing
/content/workers/ @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing
/data/changelogs/workers.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing @irvinebroque @admah
/content/zaraz/ @bjesus @jonnyparris @cloudflare/pcx-technical-writing
/data/changelogs/zaraz.yaml @bjesus @jonnyparris @cloudflare/pcx-technical-writing
/content/workers/runtime-apis/ @irvinebroque @jasnell @cloudflare/pcx-technical-writing
/content/workers/platform/ @irvinebroque @tanushreesharma-cf @cloudflare/pcx-technical-writing
/content/workers/configuration/bindings/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/configuration/compatibility-dates/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/reference/migrate-to-module-workers/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/reference/security-model/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/_partials/_platform-compatibility-dates/ @irvinebroque @kflansburg @cloudflare/pcx-technical-writing

# Firewall Rules & WAF
/content/firewall/ @cloudflare/firewall @cloudflare/pcx-technical-writing
/content/waf/ @cloudflare/firewall @cloudflare/pcx-technical-writing
/content/waf/change-log/ @cloudflare/firewall @unknownhad @vs-mg @cloudflare/pcx-technical-writing
/data/changelogs/waf.yaml @cloudflare/firewall @unknownhad @vs-mg @cloudflare/pcx-technical-writing

# DDoS Protection
/content/ddos-protection/change-log/ @jdesgats @antoinecordelle @cloudflare/pcx-technical-writing
/data/changelogs/ddos-http.yaml @jdesgats @antoinecordelle @cloudflare/pcx-technical-writing
/data/changelogs/ddos-network.yaml @jdesgats @antoinecordelle @cloudflare/pcx-technical-writing

# Magic products
/content/magic-transit/ @cloudflare/pcx-technical-writing
/content/magic-firewall/ @arges @cloudflare/pcx-technical-writing
/content/magic-wan/ @cloudflare/pcx-technical-writing

# Radar
/content/radar/ @meddulla @G4brym @cloudflare/pcx-technical-writing
/data/changelogs/radar.yaml @meddulla @G4brym @cloudflare/pcx-technical-writing

# Reference architecture
/content/reference-architecture/ @securitypedant @cloudflare/pcx-technical-writing
/assets/images/reference-architecture/ @securitypedant @cloudflare/pcx-technical-writing

# Support
/content/support/ @jedecf @shanecloudflare @zeinjaber @rprice74 @ngayerie @cloudflare/pcx-technical-writing

# Turnstile
/content/turnstile/ @migueldemoura @punkeel @worenga @cloudflare/pcx-technical-writing

# Waiting Room
/content/waiting-room/ @aolache @cloudflare/pcx-technical-writing
/data/changelogs/waiting-room.yaml @aolache @cloudflare/pcx-technical-writing

Adds text-embeddings
  data/models/content.yml
  layouts/partials/models/code-examples/text-embeddings.md
  layouts/partials/models/code-examples/text-generation.md
  layouts/partials/models/header.md
  layouts/partials/models/responses/text-embeddings.md
Owners: @cloudflare/pcx-technical-writing

Adds Object Detection
  data/models/content.yml
  layouts/partials/models/code-examples/object-detection.md
  layouts/partials/models/responses/object-detection.md
Owners: @cloudflare/pcx-technical-writing

Adds Text Classification
  data/models/content.yml
  layouts/partials/models/code-examples/text-classification.md
  layouts/partials/models/responses/text-classification.md
Owners: @cloudflare/pcx-technical-writing

Whoops forgot links key
  data/models/content.yml
Owners: @cloudflare/pcx-technical-writing

Adds translation
  layouts/partials/models/code-examples/translation.md
  layouts/partials/models/responses/translation.md
Owners: @cloudflare/pcx-technical-writing

Adds Image Classification
  layouts/partials/models/code-examples/image-classification.md
  layouts/partials/models/responses/image-classification.md
Owners: @cloudflare/pcx-technical-writing

Adds ASR
  layouts/partials/models/code-examples/automatic-speech-recognition.md
  layouts/partials/models/responses/automatic-speech-recognition.md
Owners: @cloudflare/pcx-technical-writing

Adds Text to image
  layouts/partials/models/code-examples/text-to-image.md
  layouts/partials/models/responses/text-to-image.md
Owners: @cloudflare/pcx-technical-writing

add compatibility_date to wfp metadata example
  content/cloudflare-for-platforms/workers-for-platforms/reference/metadata.md
Owners: @cloudflare/pcx-technical-writing

Update content/workers/runtime-apis/bindings/D1.md
  content/workers/runtime-apis/bindings/D1.md
Owners: @irvinebroque, @jasnell, @cloudflare/pcx-technical-writing

[Workers] Create Bindings section in Runtime APIs & add Vectorize + D1 (#12900)
  content/_redirects
  content/cloudflare-for-platforms/workers-for-platforms/reference/outbound-workers.md
  content/pages/functions/bindings.md
  content/ssl/_partials/_forward-client-certificate.md
  content/ssl/client-certificates/_index.md
  content/ssl/client-certificates/create-a-client-certificate.md
  content/workers/_partials/_platform-compatibility-dates/dynamic-dispatch-tunnel-exceptions.md
  content/workers/configuration/bindings/_index.md
  content/workers/configuration/bindings/about-service-bindings.md
  content/workers/configuration/integrations/apis.md
  content/workers/configuration/integrations/external-services.md
  content/workers/configuration/smart-placement.md
  content/workers/databases/connecting-to-databases.md
  content/workers/platform/limits.md
  content/workers/runtime-apis/bindings/D1.md
  content/workers/runtime-apis/bindings/R2.md
  content/workers/runtime-apis/bindings/_index.md
  content/workers/runtime-apis/bindings/durable-objects.md
  content/workers/runtime-apis/bindings/kv.md
  content/workers/runtime-apis/bindings/mTLS.md
  content/workers/runtime-apis/bindings/queues.md
  content/workers/runtime-apis/bindings/service-bindings.md
  content/workers/runtime-apis/bindings/vectorize.md
  content/workers/runtime-apis/webassembly/rust/_index.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/configuration.md
Owners: @cloudflare/pcx-technical-writing, @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @irvinebroque, @kflansburg, @tanushreesharma-cf, @jasnell

fix markdown link syntax
  content/cloudflare-for-platforms/workers-for-platforms/reference/metadata.md
Owners: @cloudflare/pcx-technical-writing

add note about DO bindings in the getPlatformProxy docs
  content/workers/wrangler/api.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

Clarify that the DO `script_name` config can be used with local workers
  content/workers/wrangler/configuration.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

change the configuration api page description and mark `unstable_dev` as experimental
  content/workers/wrangler/api.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

Clarify nameserver assignments doc applies to Secondary DNS zones as well
  content/dns/zone-setups/reference/nameserver-assignment.md
Owners: @cloudflare/pcx-technical-writing

[DNS] Revise and move provider specific links to partial (#13129)
  content/dns/_partials/_ns-update-providers.md
  content/dns/zone-setups/full-setup/setup.md
Owners: @cloudflare/pcx-technical-writing

Replace use_apex_ns by multi_provider
  content/dns/dnssec/multi-signer-dnssec/setup.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.md
Owners: @cloudflare/pcx-technical-writing

Refer dashboard option in cloudflare-as-primary setup flow
  content/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.md
Owners: @cloudflare/pcx-technical-writing

Adding WebSocket examples
  content/durable-objects/api/websockets.md
  content/durable-objects/examples/websocket-hibernation-server.md
  content/durable-objects/examples/websocket-server.md
  content/durable-objects/platform/pricing.md
  content/durable-objects/reference/websockets.md
Owners: @elithrar, @vy-ton, @joshthoward, @cloudflare/pcx-technical-writing

Separate multi-signer steps for CF as primary from CF as secondary
  content/dns/dnssec/multi-signer-dnssec/setup.md
Owners: @cloudflare/pcx-technical-writing

Add tabs and fill in Dash instructions for CF as primary
  content/dns/dnssec/multi-signer-dnssec/setup.md
Owners: @cloudflare/pcx-technical-writing

Fill in dash steps for CF as secondary and remove API examples
  content/dns/dnssec/multi-signer-dnssec/setup.md
Owners: @cloudflare/pcx-technical-writing

refined text
  content/email-security/email-configuration/phish-submissions/_index.md
Owners: @cloudflare/pcx-technical-writing

Create page for new dns-zone-defaults functionality
  content/dns/additional-options/dns-zone-defaults.md
  content/dns/additional-options/reverse-zones.md
Owners: @cloudflare/pcx-technical-writing

added note to setup intro
  content/email-security/deployment/_index.md
Owners: @cloudflare/pcx-technical-writing

[Analytics] Remove deprecated field from Google Cloud integration guide
  content/analytics/analytics-integrations/google-cloud/index.md
Owners: @46bit, @bharatnc, @jherre, @jimhawkridge, @soheiokamoto, @victor-perov, @cloudflare/pcx-technical-writing

[Analytics] Update field list in Splunk integration guide
  content/analytics/analytics-integrations/splunk/index.md
Owners: @46bit, @bharatnc, @jherre, @jimhawkridge, @soheiokamoto, @victor-perov, @cloudflare/pcx-technical-writing

[Chore] Remove aggressive lints until we can auto-suggest corrections (#13135)
  .github/styles/cloudflare/NonStandardQuotes.yml
  .github/styles/cloudflare/UnclearAntecedent.yml
Owners: @kodster28, @pedrosousa, @haleycode, @kristianfreeman

Add new h2 and tabs, and remove contact account team in secondary override
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/proxy-traffic.md
Owners: @cloudflare/pcx-technical-writing

Apply suggestions from code review
  content/workers/configuration/routing/routes.md
  content/workers/configuration/routing/workers-dev.md
  content/workers/wrangler/configuration.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

Fill in Secondary DNS override dash steps and review API steps
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/proxy-traffic.md
Owners: @cloudflare/pcx-technical-writing
