Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @cloudflare/PCX, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @dinasaur404, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @cloudflare/workers-docs, @armfazh, @TownLake, @renandincer, @third774, @Everlag, @zaidf, @mbetz08, @bkrebsbach, @garrettgalow, @wbl

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs @cloudflare/PCX

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot @cloudflare/PCX

# API
products/api/ @cloudflare/sdk @cloudflare/PCX

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong @dinasaur404 @cloudflare/PCX

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn @cloudflare/PCX

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong @cloudflare/PCX

# Firewall Rules
products/firewall/ @cloudflare/firewall @cloudflare/PCX

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong @cloudflare/PCX

# Image Resizing
products/images/ @kornel @cloudflare/PCX

# The Life of a Request
products/internet/ @ConzorKingKong @cloudflare/PCX

# Load Balancing
products/load-balancing/ @ConzorKingKong @cloudflare/PCX

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot @cloudflare/PCX

# Magic Transit
products/magic-transit/ @annikagarbers @cloudflare/PCX

# Network Interconnect
products/network-interconnect @ConzorKingKong @cloudflare/PCX

# Pages
products/pages/ @cloudflare/workers-docs

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh @cloudflare/PCX

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong @cloudflare/PCX

# SSL
products/ssl/ @ConzorKingKong @cloudflare/PCX

# Stream
products/stream/ @renandincer @third774 @Everlag @zaidf @mbetz08 @bkrebsbach @cloudflare/PCX

# Tenant
products/tenant/ @garrettgalow @cloudflare/PCX

# Terraform
products/terraform/ @ConzorKingKong @cloudflare/PCX

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh @cloudflare/PCX

# WAF
products/waf/ @cloudflare/firewall @cloudflare/PCX

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs

Update deploy-a-jekyll-site.md
  products/pages/src/content/how-to/deploy-a-jekyll-site.md
Owners: @cloudflare/workers-docs

protocol examples
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ingress.md
Owners: none

smb note (#1026)
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
Owners: none

smb note (#1026)
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
Owners: none

Update articles according to review
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-cmr-joomla-only.md
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-cmr-wordpress-block.md
  products/firewall/src/content/cf-rulesets/common-use-cases/enable-selected-rules.md
  products/firewall/src/content/cf-rulesets/common-use-cases/override-ruleset-tag-rule.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/add-rules-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/create-custom-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/deploy-custom-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/index.md
  products/firewall/src/content/cf-rulesets/index.md
  products/firewall/src/content/cf-rulesets/managed-rulesets/override-managed-ruleset.md
  products/firewall/src/content/cf-rulesets/rulesets-api/create.md
  products/firewall/src/content/cf-rulesets/rulesets-api/update-rule.md
  products/firewall/src/content/cf-rulesets/rulesets-api/update.md
  products/firewall/src/content/cf-rulesets/view-rulesets.md
  products/waf/src/content/about.md
Owners: @cloudflare/firewall, @cloudflare/PCX

smb works now
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
Owners: none

smb works now (#1035)
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
Owners: none

smb works now (#1035)
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
Owners: none

Update config.md (#1023)
  products/cloudflare-one/src/content/connections/connect-apps/configuration/config.md
Owners: none

Update config.md (#1023)
  products/cloudflare-one/src/content/connections/connect-apps/configuration/config.md
Owners: none

add SMB tutorial
  products/cloudflare-one/src/content/applications/non-http.md
  products/cloudflare-one/src/content/tutorials/smb.md
Owners: none

tweak
  products/cloudflare-one/src/content/tutorials/smb.md
Owners: none

[Teams] add SMB tutorial (#1036)
  products/cloudflare-one/src/content/applications/non-http.md
  products/cloudflare-one/src/content/tutorials/smb.md
Owners: none

[Teams] add SMB tutorial (#1036)
  products/cloudflare-one/src/content/applications/non-http.md
  products/cloudflare-one/src/content/tutorials/smb.md
Owners: none

fix broken link (#1030)
  products/terraform/src/content/tutorial/source-control.md
Owners: @ConzorKingKong, @cloudflare/PCX

fix broken link (#1030)
  products/terraform/src/content/tutorial/source-control.md
Owners: @ConzorKingKong, @cloudflare/PCX
