Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs

Add whitespace to force redeploy (#233)
  products/workers/src/content/runtime-apis/request.md
Owners: @cloudflare/workers-docs

Add whitespace to force redeploy (#233)
  products/workers/src/content/runtime-apis/request.md
Owners: @cloudflare/workers-docs

Fix Access-Control-Allow-Origin on final response
  products/workers/src/content/examples/cors-header-proxy.md
Owners: @cloudflare/workers-docs

WAF announcement 2020-11-09
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

WAF announcement 2020-11-09
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

WAF announcement 2020-11-09
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

STREAM-2706 Update TUS docs with 256KiB multiple requirement
  products/stream/src/content/uploading-videos/upload-video-file.md
Owners: @renandincer, @third774

Update list of datasets
  products/analytics/src/content/graphql-api/features/data-sets/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

WAF announcement 2020-11-09
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

waf-announcement-2020-11-09 format fix
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

waf-announcement-2020-11-09 format fix
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

waf-announcement-2020-11-09 format fix
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

Update products/stream/src/content/uploading-videos/upload-video-file.md
  products/stream/src/content/uploading-videos/upload-video-file.md
Owners: @renandincer, @third774

Update products/stream/src/content/uploading-videos/upload-video-file.md
  products/stream/src/content/uploading-videos/upload-video-file.md
Owners: @renandincer, @third774

STREAM-2706 Update TUS docs with 256KiB multiple requirement (#257)
  products/stream/src/content/uploading-videos/upload-video-file.md
Owners: @renandincer, @third774

STREAM-2706 Update TUS docs with 256KiB multiple requirement (#257)
  products/stream/src/content/uploading-videos/upload-video-file.md
Owners: @renandincer, @third774

Fixed data type of response parameter for put
  products/workers/src/content/runtime-apis/cache.md
Owners: @cloudflare/workers-docs

Add httpRequests1*ByColoGroups to deprecation list
  products/analytics/src/content/graphql-api/features/data-sets/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Fix case of GitHub
  README.md
Owners: none

addressing comments on format
  products/docs-engine/src/content/contributing/content/working-with-github.md
  products/docs-engine/src/content/reference/codeowners.md
Owners: @adamschwartz

WAF announcement 2020-11-09
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

WAF announcement 2020-11-09
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

lacking as=style in the Link preload header
  products/workers/src/content/examples/http2-server-push.md
Owners: @cloudflare/workers-docs

add docs on testing IdPs for access
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/static/identity-index/connected-idp.png
Owners: @cloudflare/access-docs

add docs on testing idps
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/static/identity-index/connected-idp.png
  products/access/src/content/static/identity-index/disconnected-idp.png
Owners: @cloudflare/access-docs

fix typo
  products/access/src/content/authentication/configuring-identity-providers/index.md
Owners: @cloudflare/access-docs

TUN-3510: Argo Tunnel docs now tell users to configure origins using ingress rules. CLI args moved into a legacy page.
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/configuration/config.md
  products/argo-tunnel/src/content/configuration/origins-via-cli.md
  products/argo-tunnel/src/content/configuration/origins-via-ingress.md
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/reference/arguments.md
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Owners: @abracchi-tw

TUN-3510: Argo Tunnel docs now tell users to configure origins using (#260)
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/configuration/config.md
  products/argo-tunnel/src/content/configuration/origins-via-cli.md
  products/argo-tunnel/src/content/configuration/origins-via-ingress.md
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/reference/arguments.md
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Owners: @abracchi-tw

TUN-3510: Argo Tunnel docs now tell users to configure origins using (#260)
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/configuration/config.md
  products/argo-tunnel/src/content/configuration/origins-via-cli.md
  products/argo-tunnel/src/content/configuration/origins-via-ingress.md
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/reference/arguments.md
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Owners: @abracchi-tw

[Access] add documentation on testing an IdP (#266)
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/static/identity-index/connected-idp.png
  products/access/src/content/static/identity-index/disconnected-idp.png
Owners: @cloudflare/access-docs

[Access] add documentation on testing an IdP (#266)
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/static/identity-index/connected-idp.png
  products/access/src/content/static/identity-index/disconnected-idp.png
Owners: @cloudflare/access-docs

Clarify Wrangler installation instructions
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/index.md
Owners: @cloudflare/workers-docs

PCX-1040 Magic Transit: Restore missing content (#198)
  products/magic-transit/src/content/about/health-checks/tunnel.md
  products/magic-transit/src/content/about/traffic-steering.md
  products/magic-transit/src/content/about/tunnels-and-encapsulation.md
  products/magic-transit/src/content/configure-magic-transit-firewall.md
  products/magic-transit/src/content/set-up/onboarding.md
  products/magic-transit/src/content/set-up/provide-configuration-data/specify-gre-tunnel-endpoints.md
  products/magic-transit/src/content/set-up/provide-configuration-data/specify-prefixes-to-advertise.md
  products/magic-transit/src/content/set-up/requirements.md
  products/magic-transit/src/content/use-magic-transit-on-demand.md
Owners: @annikagarbers

PCX-1040 Magic Transit: Restore missing content (#198)
  products/magic-transit/src/content/about/health-checks/tunnel.md
  products/magic-transit/src/content/about/traffic-steering.md
  products/magic-transit/src/content/about/tunnels-and-encapsulation.md
  products/magic-transit/src/content/configure-magic-transit-firewall.md
  products/magic-transit/src/content/set-up/onboarding.md
  products/magic-transit/src/content/set-up/provide-configuration-data/specify-gre-tunnel-endpoints.md
  products/magic-transit/src/content/set-up/provide-configuration-data/specify-prefixes-to-advertise.md
  products/magic-transit/src/content/set-up/requirements.md
  products/magic-transit/src/content/use-magic-transit-on-demand.md
Owners: @annikagarbers

Update/pcx 985 access update mutual tls (#249)
  products/access/src/content/access-service-auth/mutual-tls-authentication.md
  products/access/src/content/service-auth/mtls.md
  products/access/src/content/static/mtls.png
Owners: @cloudflare/access-docs

Update/pcx 985 access update mutual tls (#249)
  products/access/src/content/access-service-auth/mutual-tls-authentication.md
  products/access/src/content/service-auth/mtls.md
  products/access/src/content/static/mtls.png
Owners: @cloudflare/access-docs

tweaks
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

Revert "add docs on testing IdPs for access"
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/static/identity-index/connected-idp.png
Owners: @cloudflare/access-docs

descriptive link + tweaks
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

delete whitespace
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz
