Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudflare/PCX, @cloudflare/dns, @soheiokamoto, @jherre, @tlozoot, @tanushreesharma-cf, @cloudflare/sdk, @ConzorKingKong, @dinasaur404, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @cloudflare/firewall, @kornelski, @GregBrimble, @sejoker, @bharatnc, @annikagarbers, @arges, @cloudflare/workers-docs, @armfazh, @renandincer, @third774, @Everlag, @zaidf, @mbetz08, @bkrebsbach, @garrettgalow, @wbl

.github/CODEOWNERS:

# 1.1.1.1
content/1.1.1.1/ @cloudflare/PCX @cloudflare/dns

# Analytics
content/analytics/ @soheiokamoto @jherre @tlozoot @tanushreesharma-cf @cloudflare/PCX

# API
content/api/ @cloudflare/sdk @cloudflare/PCX

# APO
content/automatic-platform-optimization/ @cloudflare/PCX

# Bot management
content/bots/ @cloudflare/PCX

# BYOIP
content/byoip/ @ConzorKingKong @dinasaur404 @cloudflare/PCX

# Cache
content/cache/ @cloudflare/PCX

# Cloudflare One
content/cloudflare-one/ @cloudflare/PCX

# Developers homepage
developers.cloudflare.com/ @cloudflare/PCX

# DDoS Protection
content/ddos-protection/ @cloudflare/PCX

# Distributed Web
content/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn @cloudflare/PCX

# Documentation Engine
content/docs-engine/ @cloudflare/PCX

# Email Routing
content/email-routing/ @cloudflare/PCX

# Firewall Rules
content/firewall/ @cloudflare/firewall @cloudflare/PCX

# Fundamentals
content/fundamentals/ @cloudflare/PCX

# HTTP/3
content/http3/ @ConzorKingKong @cloudflare/PCX

# Cloudflare Images
content/images/ @kornelski @GregBrimble @sejoker @cloudflare/PCX

# Load Balancing
content/load-balancing/ @ConzorKingKong @cloudflare/PCX

# Logs
content/logs/ @soheiokamoto @jherre @tlozoot @bharatnc @tanushreesharma-cf @cloudflare/PCX

# Magic Transit
content/magic-transit/ @annikagarbers @cloudflare/PCX

# Magic Firewall
content/magic-firewall/ @arges @annikagarbers @cloudflare/PCX

# Network Interconnect
content/network-interconnect @ConzorKingKong @cloudflare/PCX

# Pages
content/pages/ @cloudflare/workers-docs @cloudflare/PCX

# Page Shield
content/page-shield/ @cloudflare/PCX

# Railgun
content/railgun/ @cloudflare/PCX

# Randomness Beacon
content/randomness-beacon/ @lukevalenta @armfazh @cloudflare/PCX

# Registrar
content/registrar/ @cloudflare/PCX

# Rules
content/rules/ @cloudflare/PCX

# Ruleset Engine
content/ruleset-engine/ @cloudflare/PCX

# Security Center
content/security-center/ @cloudflare/PCX

# Spectrum
content/spectrum/ @ConzorKingKong @cloudflare/PCX

# SSL
content/ssl/ @ConzorKingKong @cloudflare/PCX

# Stream
content/stream/ @renandincer @third774 @Everlag @zaidf @mbetz08 @bkrebsbach @cloudflare/PCX

# Tenant
content/tenant/ @garrettgalow @cloudflare/PCX

# Terraform
content/terraform/ @ConzorKingKong @cloudflare/PCX

# Time Services
content/time-services/ @lukevalenta @wbl @armfazh @cloudflare/PCX

# WAF
content/waf/ @cloudflare/firewall @cloudflare/PCX

# Waiting Room
content/waiting-room/ @cloudflare/PCX

# Warp Client
content/warp-client/ @cloudflare/PCX

# Workers
content/workers/ @cloudflare/workers-docs @cloudflare/PCX

# Zaraz
content/zaraz/ @cloudflare/PCX

Updated redirect typo :(
  content/_redirects
Owners: none

Included non-slashed redirects
  content/_redirects
Owners: none

[DO NOT MERGE YET] [Time Services] Cleaned up language, organization, and formatting for Time services (#3902)
  content/_redirects
  content/time-services/_index.md
  content/time-services/_partials/_ntp-definition.md
  content/time-services/ntp/_index.md
  content/time-services/ntp/usage.md
  content/time-services/nts.md
  content/time-services/nts/_index.md
  content/time-services/nts/usage.md
  content/time-services/roughtime/_index.md
  content/time-services/roughtime/about.md
  content/time-services/roughtime/recipes.md
  content/time-services/roughtime/usage.md
  content/time-services/static/windowtime2.png
Owners: @lukevalenta, @wbl, @armfazh, @cloudflare/PCX

Apply suggestions from code review
  content/fundamentals/notifications/notification-available.md
Owners: @cloudflare/PCX

second half
  content/workers/learning/security-model/index.md
  content/workers/learning/security-model/media/Spectre-vulnerability-@2x.png
  content/workers/learning/security-model/media/freeze-Spectre@2x.png
  content/workers/learning/using-services/index.md
  content/workers/platform/cron-triggers/index.md
  content/workers/platform/deploy-button.md
  content/workers/platform/environment-variables.md
  content/workers/platform/routes.md
  content/workers/tutorials/authorize-users-with-auth0/index.md
  content/workers/tutorials/build-a-jamstack-app/index.md
  content/workers/tutorials/build-a-slackbot/index.md
  content/workers/tutorials/configure-your-cdn/index.md
  content/workers/tutorials/deploy-a-react-app-with-create-react-app/index.md
  content/workers/tutorials/deploy-a-static-wordpress-site/index.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
  content/workers/tutorials/hello-world-rust/index.md
  content/workers/tutorials/localize-a-website/index.md
  content/workers/tutorials/postgres/index.md
  content/workers/tutorials/store-data-with-fauna/index.md
Owners: @cloudflare/workers-docs, @cloudflare/PCX

Apply suggestions from code review
  content/workers/learning/using-services/index.md
  content/workers/platform/cron-triggers/index.md
Owners: @cloudflare/workers-docs, @cloudflare/PCX

Rename and move About page
  content/ruleset-engine/about/_index.md
Owners: @cloudflare/PCX

Update About section (with sub-pages)
  content/ruleset-engine/about/_index.md
  content/ruleset-engine/about/phases.md
  content/ruleset-engine/about/rules.md
  content/ruleset-engine/about/rulesets.md
Owners: @cloudflare/PCX

Rename section
  content/ruleset-engine/basic-operations/_index.md
Owners: @cloudflare/PCX

Update links
  content/bots/_partials/_bfm-ruleset-engine.md
  content/rules/transform/_index.md
  content/ruleset-engine/basic-operations/add-rule-phase-rulesets.md
  content/ruleset-engine/rules-language/actions.md
  content/waf/about.md
  content/waf/custom-rules/skip/options.md
  content/waf/managed-rulesets/_index.md
  content/waf/managed-rulesets/waf-exceptions/define-api.md
Owners: @cloudflare/PCX, @cloudflare/firewall

Move and rename "Workflow examples" section
  content/ruleset-engine/managed-rulesets/override-examples/_index.md
  content/ruleset-engine/managed-rulesets/override-examples/deploy-cmr-joomla-only.md
  content/ruleset-engine/managed-rulesets/override-examples/deploy-cmr-wordpress-block.md
  content/ruleset-engine/managed-rulesets/override-examples/enable-selected-rules.md
  content/ruleset-engine/managed-rulesets/override-examples/override-ddos-rule-sensitivity.md
  content/ruleset-engine/managed-rulesets/override-examples/override-ruleset-tag-rule.md
Owners: @cloudflare/PCX

Add phases list to new reference section
  content/ruleset-engine/reference/_index.md
  content/ruleset-engine/reference/phases-list.md
Owners: @cloudflare/PCX

Update phases diagram
  content/ruleset-engine/static/rulesets-phases.png
Owners: @cloudflare/PCX

Adjust some more links
  content/rules/transform/_index.md
  content/ruleset-engine/_index.md
  content/waf/managed-rulesets/waf-exceptions/define-api.md
Owners: @cloudflare/PCX, @cloudflare/firewall

Fix heading level
  content/ruleset-engine/about/phases.md
Owners: @cloudflare/PCX

Add required redirects
  content/_redirects
Owners: none

Updating egress references
  content/magic-transit/about/_index.md
  content/magic-transit/about/tunnels-and-encapsulation.md
  content/magic-transit/network-interconnect.md
  content/magic-transit/prerequisites.md
Owners: @annikagarbers, @cloudflare/PCX

Grammar fix
  content/magic-transit/network-interconnect.md
Owners: @annikagarbers, @cloudflare/PCX

Fix broken links
  content/ruleset-engine/basic-operations/deploy-rulesets.md
  content/ruleset-engine/managed-rulesets/override-managed-ruleset.md
  content/waf/managed-rulesets/owasp-core-ruleset.md
Owners: @cloudflare/PCX, @cloudflare/firewall

Additional info for scoped routes
  content/magic-transit/_partials/_scoped-routes.md
Owners: @annikagarbers, @cloudflare/PCX

Update content/magic-transit/about/tunnels-and-encapsulation.md
  content/magic-transit/about/tunnels-and-encapsulation.md
Owners: @annikagarbers, @cloudflare/PCX

Updating for clarity
  content/magic-transit/_partials/_scoped-routes.md
Owners: @annikagarbers, @cloudflare/PCX

Add named tunnel UI troubleshooting tips
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide.md
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
Owners: @cloudflare/PCX

fix broken links
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
Owners: @cloudflare/PCX

Added nxdomain troubleshooting page
  content/dns/zone-setups/full-setup/setup.md
  content/dns/zone-setups/troubleshooting/dns-probe-finished-nxdomain.md
Owners: none

Added a few words
  content/dns/zone-setups/full-setup/setup.md
Owners: none

[Magic Transit] Additional info for scoped routes (#3923)
  content/magic-transit/_partials/_scoped-routes.md
Owners: @annikagarbers, @cloudflare/PCX

Forgot partial preamble
  content/dns/_partials/_ssltls-subdomains.md
Owners: none

Update content/dns/zone-setups/troubleshooting/dns-probe-finished-nxdomain.md
  content/dns/zone-setups/troubleshooting/dns-probe-finished-nxdomain.md
Owners: none

[DNS] Added troubleshooting info for initial domain activation (#3925)
  content/dns/_partials/_ssltls-subdomains.md
  content/dns/_partials/_subdomain-customization.md
  content/dns/manage-dns-records/how-to/create-root-domain.md
  content/dns/manage-dns-records/how-to/create-subdomain.md
  content/dns/manage-dns-records/how-to/email-records.md
  content/dns/zone-setups/full-setup/setup.md
  content/dns/zone-setups/troubleshooting/_index.md
  content/dns/zone-setups/troubleshooting/dns-probe-finished-nxdomain.md
  content/dns/zone-setups/troubleshooting/nameservers.md
  content/fundamentals/get-started/basic-tasks/manage-subdomains.md
  content/ssl/ssl-for-saas/getting-started.md
Owners: @cloudflare/PCX, @ConzorKingKong

Apply suggestions from code review
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide.md
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
Owners: @cloudflare/PCX

[ZT] Add named tunnel UI troubleshooting tips (#3924)
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide.md
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
Owners: @cloudflare/PCX

Apply suggestions from documentation review
  content/ruleset-engine/about/rules.md
  content/ruleset-engine/reference/phases-list.md
Owners: @cloudflare/PCX

Alt text revision.
  content/api/tokens/advanced/restrictions.md
  content/api/tokens/create/_index.md
  content/client-ip-geolocation/about/index.md
Owners: @cloudflare/sdk, @cloudflare/PCX

Update custom fields page
  content/logs/reference/logpush-api-configuration/custom-fields.md
Owners: @soheiokamoto, @jherre, @tlozoot, @bharatnc, @tanushreesharma-cf, @cloudflare/PCX
