Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

Add troubleshooting for revoking Argo Tunnel credentials (#273)
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/faq/index.md
Owners: @abracchi-tw

Add troubleshooting for revoking Argo Tunnel credentials (#273)
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/faq/index.md
Owners: @abracchi-tw

add content to DoH instructions
  products/gateway/src/content/about/how-gateway-works.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/dns-over-https.md
  products/gateway/src/content/connecting-to-gateway/without-client/dns-over-tls.md
  products/gateway/src/content/connecting-to-gateway/without-client/native-os.md
  products/gateway/src/content/reference/location.md
Owners: @abracchi-tw

added paragraph to how-gateway-works.md
  products/gateway/src/content/about/how-gateway-works.md
Owners: @abracchi-tw

fix broken link for code block examples
  products/docs-engine/src/content/reference/markdown.md
Owners: @adamschwartz

fix broken link for code block examples (#277)
  products/docs-engine/src/content/reference/markdown.md
Owners: @adamschwartz

fix broken link for code block examples (#277)
  products/docs-engine/src/content/reference/markdown.md
Owners: @adamschwartz

Fix typo
  products/logs/src/content/tutorials/bot-management-dashboard.md
Owners: @soheiokamoto, @jherre, @tlozoot

Mark Browser Insights datasets as beta
  products/analytics/src/content/graphql-api/features/data-sets/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Mark Browser Insights datasets as beta
  products/analytics/src/content/graphql-api/features/data-sets/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

updated with DoT support
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/browser.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-https.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-tls.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/linux.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/mac.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/native-os.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/windows.md
  products/gateway/src/content/connecting-to-gateway/without-client/dns-over-tls.md
  products/gateway/src/content/connecting-to-gateway/without-client/native-os.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/troubleshooting-policies.md
  products/gateway/src/content/static/locations-doh-dot.png
  products/gateway/src/content/static/locations-doh.png
  products/gateway/src/content/static/locations-dot.png
Owners: @abracchi-tw

structural changes to warp docs
  products/warp-client/src/content/index.md
  products/warp-client/src/content/warp-for-everyone/getting-started/index.md
  products/warp-client/src/content/warp-for-everyone/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/android.md
  products/warp-client/src/content/warp-for-everyone/setting-up/iOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/macOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/requirements.md
  products/warp-client/src/content/warp-for-everyone/setting-up/windows.md
  products/warp-client/src/content/warp-for-teams/getting-started/index.md
  products/warp-client/src/content/warp-for-teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/android-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/iOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/parameters.md
Owners: @abracchi-tw

review of https/tls
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-https.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-tls.md
Owners: @abracchi-tw

tweaks and consistency fixes
  products/gateway/src/content/about/how-gateway-works.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-tls.md
  products/gateway/src/content/getting-started/configuring-block-page.md
  products/gateway/src/content/getting-started/onboarding-gateway.md
  products/gateway/src/content/static/locations-dot-complete.png
Owners: @abracchi-tw

tweaks
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
Owners: @abracchi-tw

Fix typo
  products/logs/src/content/tutorials/bot-management-dashboard.md
Owners: @soheiokamoto, @jherre, @tlozoot

Fix typo
  products/logs/src/content/tutorials/bot-management-dashboard.md
Owners: @soheiokamoto, @jherre, @tlozoot

Update displaying-thumbnails.md (#276)
  products/stream/src/content/viewing-videos/displaying-thumbnails.md
Owners: @renandincer, @third774

Update displaying-thumbnails.md (#276)
  products/stream/src/content/viewing-videos/displaying-thumbnails.md
Owners: @renandincer, @third774

Spelling correction
  products/access/src/content/authentication/configuring-identity-providers/keycloak.md
Owners: @cloudflare/access-docs

corrects link to load balancing docs-page
  products/argo-tunnel/src/content/routing-to-tunnel/kubernetes.md
Owners: @abracchi-tw

corrects link to load balancing docs-page (#283)
  products/argo-tunnel/src/content/routing-to-tunnel/kubernetes.md
Owners: @abracchi-tw

corrects link to load balancing docs-page (#283)
  products/argo-tunnel/src/content/routing-to-tunnel/kubernetes.md
Owners: @abracchi-tw

updated installation guides - TEAMS
  products/warp-client/src/content/index.md
  products/warp-client/src/content/requirements.md
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-everyone/setting-up/index.md
  products/warp-client/src/content/warp-for-teams/getting-started/index.md
  products/warp-client/src/content/warp-for-teams/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/android-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/iOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/parameters.md
Owners: @abracchi-tw

updated installation guides - EVERYONE
  products/warp-client/src/content/for-everyone.md
  products/warp-client/src/content/known-issues-and-faq/index.md
  products/warp-client/src/content/warp-for-everyone/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/android.md
  products/warp-client/src/content/warp-for-everyone/setting-up/iOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/macOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/windows.md
  products/warp-client/src/content/warp-for-teams/index.md
Owners: @abracchi-tw

fixed capitalization of "client"
  products/warp-client/src/content/for-teams.md
  products/warp-client/src/content/index.md
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/teams/android-Teams.md
  products/warp-client/src/content/teams/iOS-Teams.md
  products/warp-client/src/content/teams/index.md
  products/warp-client/src/content/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-everyone/setting-up/index.md
  products/warp-client/src/content/warp-for-teams/getting-started/index.md
  products/warp-client/src/content/warp-for-teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/android-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/iOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
Owners: @abracchi-tw

Update deploy-button.md with latest release number
  products/workers/src/content/platform/deploy-button.md
Owners: @cloudflare/workers-docs

Update keycloak.md
  products/access/src/content/authentication/configuring-identity-providers/keycloak.md
Owners: @cloudflare/access-docs

Spelling correction (#281)
  products/access/src/content/authentication/configuring-identity-providers/keycloak.md
Owners: @cloudflare/access-docs

Spelling correction (#281)
  products/access/src/content/authentication/configuring-identity-providers/keycloak.md
Owners: @cloudflare/access-docs

[Gateway] documentation on DNS-over-TLS (#280)
  products/gateway/src/content/about/how-gateway-works.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/browser.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-https.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-tls.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/linux.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/mac.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/native-os.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/windows.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-block-page.md
  products/gateway/src/content/getting-started/onboarding-gateway.md
  products/gateway/src/content/getting-started/troubleshooting-policies.md
  products/gateway/src/content/reference/location.md
  products/gateway/src/content/static/locations-doh-dot.png
  products/gateway/src/content/static/locations-doh.png
  products/gateway/src/content/static/locations-dot-complete.png
  products/gateway/src/content/static/locations-dot.png
Owners: @abracchi-tw

[Gateway] documentation on DNS-over-TLS (#280)
  products/gateway/src/content/about/how-gateway-works.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/browser.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-https.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-tls.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/linux.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/mac.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/native-os.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/windows.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-block-page.md
  products/gateway/src/content/getting-started/onboarding-gateway.md
  products/gateway/src/content/getting-started/troubleshooting-policies.md
  products/gateway/src/content/reference/location.md
  products/gateway/src/content/static/locations-doh-dot.png
  products/gateway/src/content/static/locations-doh.png
  products/gateway/src/content/static/locations-dot-complete.png
  products/gateway/src/content/static/locations-dot.png
Owners: @abracchi-tw

force deploy of stream
  products/stream/src/content/index.md
Owners: @renandincer, @third774

force deploy of stream
  products/stream/src/content/index.md
Owners: @renandincer, @third774

Update upload-video-file.md
  products/stream/src/content/uploading-videos/upload-video-file.md
Owners: @renandincer, @third774

update kv docs
  products/workers/src/content/platform/limits.md
  products/workers/src/content/platform/pricing.md
  products/workers/src/content/platform/sites/configuration.md
  products/workers/src/content/runtime-apis/kv.md
Owners: @cloudflare/workers-docs

Stream: Fix intendation in player API
  products/stream/src/content/viewing-videos/using-the-player-api.md
Owners: @renandincer, @third774

Stream: Fix intendation in player API (#288)
  products/stream/src/content/viewing-videos/using-the-player-api.md
Owners: @renandincer, @third774

Stream: Fix intendation in player API (#288)
  products/stream/src/content/viewing-videos/using-the-player-api.md
Owners: @renandincer, @third774

[Warp-Client] documentation overhaul (#284)
  products/warp-client/src/content/for-everyone.md
  products/warp-client/src/content/index.md
  products/warp-client/src/content/known-issues-and-faq/index.md
  products/warp-client/src/content/requirements.md
  products/warp-client/src/content/setting-up/index.md
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/teams/android-Teams.md
  products/warp-client/src/content/teams/iOS-Teams.md
  products/warp-client/src/content/teams/index.md
  products/warp-client/src/content/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-everyone/getting-started/index.md
  products/warp-client/src/content/warp-for-everyone/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/android.md
  products/warp-client/src/content/warp-for-everyone/setting-up/iOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/macOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/requirements.md
  products/warp-client/src/content/warp-for-everyone/setting-up/windows.md
  products/warp-client/src/content/warp-for-teams/getting-started/index.md
  products/warp-client/src/content/warp-for-teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/android-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/iOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/parameters.md
Owners: @abracchi-tw

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs
