Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @adamschwartz, @cloudflare/workers-docs, @renandincer, @abracchi-tw, @ltv511, @armfazh, @thibmeu, @jhoyla, @Lekensteyn, @wbl

fix column wrap on randomness-beacon home page
  products/randomness-beacon/src/content/index.md
Owners: @ltv511, @armfazh

fix column wrap on randomness-beacon home page
  products/randomness-beacon/src/content/index.md
Owners: @ltv511, @armfazh

distributed web gateway headers cleanup
  products/distributed-web/src/content/ipfs-gateway/troubleshooting.md
  products/distributed-web/src/content/ipfs-gateway/updating-for-ipfs.md
Owners: @ltv511, @thibmeu, @jhoyla, @Lekensteyn

distributed web gateway headers cleanup
  products/distributed-web/src/content/ipfs-gateway/troubleshooting.md
  products/distributed-web/src/content/ipfs-gateway/updating-for-ipfs.md
Owners: @ltv511, @thibmeu, @jhoyla, @Lekensteyn

fix column wrap on distributed web docs
  products/distributed-web/src/content/index.md
Owners: @ltv511, @thibmeu, @jhoyla, @Lekensteyn

fix column wrap on distributed web docs
  products/distributed-web/src/content/index.md
Owners: @ltv511, @thibmeu, @jhoyla, @Lekensteyn

fix column wrap on time services docs home
  products/time-services/src/content/index.md
Owners: @ltv511, @wbl, @armfazh

fix column wrap on time services docs home
  products/time-services/src/content/index.md
Owners: @ltv511, @wbl, @armfazh

fix typo on access page
  products/access/src/content/about/how-access-works.md
Owners: none

fix typo on access page
  products/access/src/content/about/how-access-works.md
Owners: none

take research team docs to prod
  .github/workflows/deploy.yml
  products/distributed-web/src/content/index.md
  products/randomness-beacon/src/content/index.md
  products/time-services/src/content/index.md
Owners: @ltv511, @thibmeu, @jhoyla, @Lekensteyn, @armfazh, @wbl

take research team docs to prod
  .github/workflows/deploy.yml
  products/distributed-web/src/content/index.md
  products/randomness-beacon/src/content/index.md
  products/time-services/src/content/index.md
Owners: @ltv511, @thibmeu, @jhoyla, @Lekensteyn, @armfazh, @wbl

update migration table
  README.md
Owners: none

update migration table
  README.md
Owners: none

fix headers and broken links in gateway, clean up
  products/gateway/src/content/about/how-gateway-works.md
  products/gateway/src/content/connecting-to-gateway/index.md
  products/gateway/src/content/connecting-to-gateway/with-client/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/browser.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/index.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-http-policy.md
  products/gateway/src/content/getting-started/index.md
  products/gateway/src/content/getting-started/safesearch.md
  products/gateway/src/content/locations/configuring-a-location.md
  products/gateway/src/content/locations/index.md
  products/gateway/src/content/locations/match-query-to-location.md
  products/gateway/src/content/locations/setup-instructions/android/index.md
  products/gateway/src/content/locations/setup-instructions/iOS/index.md
  products/gateway/src/content/locations/setup-instructions/iOS/mdm.md
  products/gateway/src/content/locations/setup-instructions/index.md
  products/gateway/src/content/policies/index.md
  products/gateway/src/content/reference/index.md
  products/gateway/src/content/reference/location.md
  products/gateway/src/content/reporting/index.md
Owners: @abracchi-tw

fix headers and broken links in gateway, clean up
  products/gateway/src/content/about/how-gateway-works.md
  products/gateway/src/content/connecting-to-gateway/index.md
  products/gateway/src/content/connecting-to-gateway/with-client/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/browser.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/index.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-http-policy.md
  products/gateway/src/content/getting-started/index.md
  products/gateway/src/content/getting-started/safesearch.md
  products/gateway/src/content/locations/configuring-a-location.md
  products/gateway/src/content/locations/index.md
  products/gateway/src/content/locations/match-query-to-location.md
  products/gateway/src/content/locations/setup-instructions/android/index.md
  products/gateway/src/content/locations/setup-instructions/iOS/index.md
  products/gateway/src/content/locations/setup-instructions/iOS/mdm.md
  products/gateway/src/content/locations/setup-instructions/index.md
  products/gateway/src/content/policies/index.md
  products/gateway/src/content/reference/index.md
  products/gateway/src/content/reference/location.md
  products/gateway/src/content/reporting/index.md
Owners: @abracchi-tw

take gateway to prod
  .github/workflows/deploy.yml
  products/gateway/src/content/about/how-gateway-works.md
Owners: @abracchi-tw

take gateway to prod
  .github/workflows/deploy.yml
  products/gateway/src/content/about/how-gateway-works.md
Owners: @abracchi-tw

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update byoip.
  products/byoip/src/content/about/index.md
  products/byoip/src/content/api/index.md
  products/byoip/src/content/dynamic-advertisement/best-practices.md
  products/byoip/src/content/dynamic-advertisement/configure-dynamic-advertisement.md
  products/byoip/src/content/dynamic-advertisement/index.md
  products/byoip/src/content/getting-started/index.md
  products/byoip/src/content/index.md
  products/byoip/src/content/irr-records/best-practices-for-irr-entry-updates.md
  products/byoip/src/content/irr-records/index.md
  products/byoip/src/content/irr-records/verify-irr-entries.md
  products/byoip/src/content/irr/index.md
  products/byoip/src/content/irr/updating-irr-records.md
  products/byoip/src/content/loa/example-template.md
  products/byoip/src/content/loa/index.md
  products/byoip/src/content/prefix-delegations/index.md
  products/byoip/src/content/static/dashboard-dynamic-advertisement.png
  products/byoip/src/content/static/dashboard-home-ip-prefixes.png
  products/byoip/src/content/static/dynamic-advertisement-status-drop-down.png
  products/byoip/src/content/static/ip-prefix-details-view.png
  products/byoip/src/content/static/ip-prefixes-expander.png
  products/byoip/src/content/static/ip-prefixes-page.png
  products/byoip/wrangler.toml
Owners: none

Cleanup frontmatter and whitespace.
  products/byoip/src/content/getting-started/index.md
  products/byoip/src/content/irr-records/verify-irr-entries.md
  products/byoip/src/content/prefix-delegations/index.md
Owners: none

Rename example-template.md to better match page title.
  products/byoip/src/content/loa/loa-template.md
Owners: none

Rename _index.md to index.md
  products/gateway/src/content/connecting-to-gateway/without-client/HTTP/index.md
Owners: @abracchi-tw

.github/CODEOWNERS:

# Documentation Engine
products/docs-engine/ @adamschwartz

# Workers
products/workers/ @cloudflare/workers-docs

# Stream
products/stream/ @renandincer

# Access
products/stream/ @abracchi-tw

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Gateway
products/gateway/ @abracchi-tw

# Warp Client
products/warpclient/ @abracchi-tw

# Randomness Beacon
products/randomness-beacon/ @ltv511 @armfazh

# Distributed Web
products/distributed-web/ @ltv511 @thibmeu @jhoyla @Lekensteyn

# Time Services
products/time-services/ @ltv511 @wbl @armfazh
