Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

[Warp-Client] documentation overhaul (#284)
  products/warp-client/src/content/for-everyone.md
  products/warp-client/src/content/index.md
  products/warp-client/src/content/known-issues-and-faq/index.md
  products/warp-client/src/content/requirements.md
  products/warp-client/src/content/setting-up/index.md
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/teams/android-Teams.md
  products/warp-client/src/content/teams/iOS-Teams.md
  products/warp-client/src/content/teams/index.md
  products/warp-client/src/content/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-everyone/getting-started/index.md
  products/warp-client/src/content/warp-for-everyone/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/android.md
  products/warp-client/src/content/warp-for-everyone/setting-up/iOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/macOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/requirements.md
  products/warp-client/src/content/warp-for-everyone/setting-up/windows.md
  products/warp-client/src/content/warp-for-teams/getting-started/index.md
  products/warp-client/src/content/warp-for-teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/android-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/iOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/parameters.md
Owners: @abracchi-tw

PCX-990 SSL: Remove SNI browser support option
  products/ssl/src/content/ssl-tls/browser-compatibility.md
Owners: @ConzorKingKong

PCX-990 Added link to SNI in learning center
  products/ssl/src/content/ssl-tls/browser-compatibility.md
Owners: @ConzorKingKong

PCX-990 Minor edit for clarity
  products/ssl/src/content/ssl-tls/browser-compatibility.md
Owners: @ConzorKingKong

PCX-1042 SSL-Restore missing content
  products/ssl/package.json
  products/ssl/src/content/advanced-certificate-manager/index.md
  products/ssl/src/content/client-certificates/_index.md
  products/ssl/src/content/client-certificates/configure-your-mobile-app-or-iot-device.md
  products/ssl/src/content/client-certificates/create-a-client-certificate.md
  products/ssl/src/content/client-certificates/enable-mtls.md
  products/ssl/src/content/client-certificates/index.md
  products/ssl/src/content/keyless-ssl/configuration.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/aws-cloud-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/azure-dedicated-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/ibm-cloud-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/index.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/ncipher-thales-nshield-connect.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/softhsmv2.md
  products/ssl/src/content/keyless-ssl/high-availability.md
  products/ssl/src/content/keyless-ssl/upgrading-your-key-server.md
  products/ssl/src/content/origin-configuration/authenticated-origin-pull.md
  products/ssl/src/content/ssl-for-saas/certificate-validation-methods.md
  products/ssl/src/content/ssl-for-saas/hostname-verification.md
  products/ssl/src/content/ssl-for-saas/issuing-certificates.md
  products/ssl/src/content/ssl-for-saas/status-codes/custom-csrs.md
  products/ssl/src/content/ssl-for-saas/status-codes/index.md
  products/ssl/src/content/ssl-tls/certificate-and-hostname-priority.md
  products/ssl/src/content/ssl-tls/index.md
  products/ssl/src/content/universal-ssl/changing-dcv-method.md
  products/ssl/src/content/universal-ssl/index.md
Owners: @ConzorKingKong

PCX-1042 Restore package.json
  products/ssl/package.json
Owners: @ConzorKingKong

PCX-1042 Incorporate comments and minor edits
  products/ssl/src/content/ssl-for-saas/status-codes/custom-csrs.md
Owners: @ConzorKingKong

CFLARE-280: Fixed typo and minor edits.
  products/analytics/src/content/graphql-api/getting-started/index.md
  products/analytics/src/content/migration-guides/zone-analytics/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

CFLARE-280: Minor edit
  products/analytics/src/content/migration-guides/zone-analytics/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

PCX-963 Updated session affinity
  products/load-balancing/src/content/understand-basics/session-affinity.md
Owners: @ConzorKingKong

URL typo in Creating API tokens via the API
  products/api/src/content/tokens/advanced/api.md
Owners: @cloudflare/sdk

Fix Fetch article’s “See also” section links
  products/workers/src/content/runtime-apis/fetch.md
Owners: @cloudflare/workers-docs

waf-announcement-2020-11-16
  products/waf/src/content/change-log/2020-11-16.md
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

Remove Workers Bundled dependency
  products/workers/src/content/tutorials/deploy-a-react-app-with-create-react-app/index.md
Owners: @cloudflare/workers-docs

Remove Workers Bundled dependency
  products/workers/src/content/tutorials/build-a-jamstack-app/index.md
Owners: @cloudflare/workers-docs

Remove Workers Bundled dependency
  products/workers/src/content/tutorials/authorize-users-with-auth0/index.md
Owners: @cloudflare/workers-docs

update kv docs (#287)
  products/workers/src/content/platform/limits.md
  products/workers/src/content/platform/pricing.md
  products/workers/src/content/platform/sites/configuration.md
  products/workers/src/content/runtime-apis/kv.md
  products/workers/src/content/tutorials/authorize-users-with-auth0/index.md
  products/workers/src/content/tutorials/build-a-jamstack-app/index.md
  products/workers/src/content/tutorials/deploy-a-react-app-with-create-react-app/index.md
Owners: @cloudflare/workers-docs

update kv docs (#287)
  products/workers/src/content/platform/limits.md
  products/workers/src/content/platform/pricing.md
  products/workers/src/content/platform/sites/configuration.md
  products/workers/src/content/runtime-apis/kv.md
  products/workers/src/content/tutorials/authorize-users-with-auth0/index.md
  products/workers/src/content/tutorials/build-a-jamstack-app/index.md
  products/workers/src/content/tutorials/deploy-a-react-app-with-create-react-app/index.md
Owners: @cloudflare/workers-docs

PCX-1069 Analytics: Update GraphQL title
  products/analytics/src/content/graphql-api/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

PCX-963 Updated session affinity (#291)
  products/load-balancing/src/content/understand-basics/session-affinity.md
Owners: @ConzorKingKong

PCX-963 Updated session affinity (#291)
  products/load-balancing/src/content/understand-basics/session-affinity.md
Owners: @ConzorKingKong

PCX-1042 Fix sh code block
  products/ssl/src/content/ssl-for-saas/issuing-certificates.md
Owners: @ConzorKingKong

Update products/waf/src/content/change-log/2020-11-16.md
  products/waf/src/content/change-log/2020-11-16.md
Owners: @cloudflare/firewall

WAF announcement 2020-11-16
  products/waf/src/content/change-log/2020-11-16.md
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

WAF announcement 2020-11-16
  products/waf/src/content/change-log/2020-11-16.md
  products/waf/src/content/change-log/scheduled-changes.md
Owners: @cloudflare/firewall

docs: update QR Code Generator tutorial
  products/workers/src/content/tutorials/build-a-qr-code-generator/index.md
Owners: @cloudflare/workers-docs

PCX-1042 SSL-Restore missing content (#191)
  products/ssl/src/content/advanced-certificate-manager/index.md
  products/ssl/src/content/client-certificates/_index.md
  products/ssl/src/content/client-certificates/configure-your-mobile-app-or-iot-device.md
  products/ssl/src/content/client-certificates/create-a-client-certificate.md
  products/ssl/src/content/client-certificates/enable-mtls.md
  products/ssl/src/content/client-certificates/index.md
  products/ssl/src/content/keyless-ssl/configuration.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/aws-cloud-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/azure-dedicated-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/ibm-cloud-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/index.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/ncipher-thales-nshield-connect.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/softhsmv2.md
  products/ssl/src/content/keyless-ssl/high-availability.md
  products/ssl/src/content/keyless-ssl/upgrading-your-key-server.md
  products/ssl/src/content/origin-configuration/authenticated-origin-pull.md
  products/ssl/src/content/ssl-for-saas/certificate-validation-methods.md
  products/ssl/src/content/ssl-for-saas/hostname-verification.md
  products/ssl/src/content/ssl-for-saas/issuing-certificates.md
  products/ssl/src/content/ssl-for-saas/status-codes/custom-csrs.md
  products/ssl/src/content/ssl-for-saas/status-codes/index.md
  products/ssl/src/content/ssl-tls/certificate-and-hostname-priority.md
  products/ssl/src/content/ssl-tls/index.md
  products/ssl/src/content/universal-ssl/changing-dcv-method.md
  products/ssl/src/content/universal-ssl/index.md
Owners: @ConzorKingKong

PCX-1042 SSL-Restore missing content (#191)
  products/ssl/src/content/advanced-certificate-manager/index.md
  products/ssl/src/content/client-certificates/_index.md
  products/ssl/src/content/client-certificates/configure-your-mobile-app-or-iot-device.md
  products/ssl/src/content/client-certificates/create-a-client-certificate.md
  products/ssl/src/content/client-certificates/enable-mtls.md
  products/ssl/src/content/client-certificates/index.md
  products/ssl/src/content/keyless-ssl/configuration.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/aws-cloud-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/azure-dedicated-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/ibm-cloud-hsm.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/index.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/ncipher-thales-nshield-connect.md
  products/ssl/src/content/keyless-ssl/hardware-security-modules/softhsmv2.md
  products/ssl/src/content/keyless-ssl/high-availability.md
  products/ssl/src/content/keyless-ssl/upgrading-your-key-server.md
  products/ssl/src/content/origin-configuration/authenticated-origin-pull.md
  products/ssl/src/content/ssl-for-saas/certificate-validation-methods.md
  products/ssl/src/content/ssl-for-saas/hostname-verification.md
  products/ssl/src/content/ssl-for-saas/issuing-certificates.md
  products/ssl/src/content/ssl-for-saas/status-codes/custom-csrs.md
  products/ssl/src/content/ssl-for-saas/status-codes/index.md
  products/ssl/src/content/ssl-tls/certificate-and-hostname-priority.md
  products/ssl/src/content/ssl-tls/index.md
  products/ssl/src/content/universal-ssl/changing-dcv-method.md
  products/ssl/src/content/universal-ssl/index.md
Owners: @ConzorKingKong

PCX-990 SSL: Remove SNI browser support option (#208)
  products/ssl/src/content/ssl-tls/browser-compatibility.md
Owners: @ConzorKingKong

PCX-990 SSL: Remove SNI browser support option (#208)
  products/ssl/src/content/ssl-tls/browser-compatibility.md
Owners: @ConzorKingKong

Fix typo
  products/workers/src/content/learning/getting-started.md
Owners: @cloudflare/workers-docs

Fix typo
  products/workers/src/content/learning/getting-started.md
Owners: @cloudflare/workers-docs

workers style corrections
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/platform/environments.md
Owners: @cloudflare/workers-docs

argo style corrections
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/configuration/config.md
  products/argo-tunnel/src/content/configuration/origins-via-ingress.md
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/create-tunnel/run-as-service.md
Owners: @abracchi-tw

CFLARE-280: Minor edit
  products/analytics/src/content/migration-guides/zone-analytics/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

PCX-1069 Analytics: Update GraphQL title
  products/analytics/src/content/graphql-api/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

CFLARE-280: Fixed typo and minor edits.
  products/analytics/src/content/graphql-api/getting-started/index.md
  products/analytics/src/content/migration-guides/zone-analytics/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

CFLARE-280: Fixed typo and minor edits.
  products/analytics/src/content/graphql-api/getting-started/index.md
  products/analytics/src/content/migration-guides/zone-analytics/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

CFLARE-280: Minor edit
  products/analytics/src/content/migration-guides/zone-analytics/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

PCX-1069 Analytics: Update GraphQL title
  products/analytics/src/content/graphql-api/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs
