Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudflare/pcx-technical-writing, @kodster28, @pedrosousa, @haleycode, @kristianfreeman, @cloudflare/developer-advocacy, @bjesus, @mchenco, @elithrar, @rita3ko, @pdwittig, @craigsdennis, @logangrasby, @46bit, @bharatnc, @jherre, @jimhawkridge, @soheiokamoto, @victor-perov, @garrettgalow, @tanushreesharma-cf, @celso, @meddulla, @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @rozenmd, @vy-ton, @joshthoward, @rts-rob, @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @tsmith512, @irvinebroque, @admah, @jonnyparris, @jasnell, @kflansburg, @cloudflare/firewall, @unknownhad, @vs-mg, @jdesgats, @antoinecordelle, @arges, @G4brym, @securitypedant, @jedecf, @shanecloudflare, @zeinjaber, @rprice74, @ngayerie, @migueldemoura, @punkeel, @worenga, @aolache

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @kodster28, @pedrosousa, @haleycode, @kristianfreeman

[Cache] Update Strong ETags (#13125)
  content/cache/reference/etag-headers.md
Owners: @cloudflare/pcx-technical-writing

Readding Background information
  content/durable-objects/api/websockets.md
Owners: @elithrar, @vy-ton, @joshthoward, @cloudflare/pcx-technical-writing

Remove compatibility checkmark for Microsoft Endpoint Manager & Linux
  content/cloudflare-one/identity/devices/service-providers/_index.md
Owners: @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @cloudflare/pcx-technical-writing

Remove compatibility checkmark for Microsoft Endpoint Manager & Linux (#13126)
  content/cloudflare-one/identity/devices/service-providers/_index.md
Owners: @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @cloudflare/pcx-technical-writing

Adjust resolution logic explanation cf PM feedback
  content/dns/foundation-dns/advanced-nameservers.md
Owners: @cloudflare/pcx-technical-writing

[Docs] Update PowerShell block guidelines and occurrences (#13119)
  content/cloudflare-one/_partials/tunnel/_troubleshoot-private-networks.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/warp-architecture.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/_index.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/tunnel-with-firewall.md
  content/cloudflare-one/connections/connect-networks/downloads/update-cloudflared.md
  content/cloudflare-one/connections/connect-networks/get-started/create-local-tunnel.md
  content/cloudflare-one/identity/devices/warp-client-checks/application-check.md
  content/cloudflare-one/identity/devices/warp-client-checks/client-certificate.md
  content/cloudflare-one/identity/devices/warp-client-checks/firewall.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/_index.md
  content/fundamentals/api/how-to/make-api-calls.md
  content/style-guide/formatting/code-block-guidelines.md
Owners: @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @cloudflare/pcx-technical-writing

Update content/pages/framework-guides/deploy-anything.md
  content/pages/framework-guides/deploy-anything.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

[Calls] Add beta tag
  content/calls/_index.md
Owners: @cloudflare/pcx-technical-writing

clarify that `getPlatformProxy` cannot run in the Workers runtime (#13065)
  content/workers/wrangler/api.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

Update the `wrangler types` documentation with the new customization options (#13040)
  content/workers/wrangler/commands.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

edits
  data/glossary/workers.yaml
Owners: @cloudflare/pcx-technical-writing

Apply suggestions from code review
  content/pages/functions/plugins/turnstile.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

remove gs link
  content/pages/framework-guides/deploy-a-nuxt-site.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

Revise and move provider specific links to partial
  content/dns/_partials/_ns-update-providers.md
  content/dns/zone-setups/full-setup/setup.md
Owners: @cloudflare/pcx-technical-writing

broken link
  content/pages/framework-guides/deploy-a-nuxt-site.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

[Pages] Get started revamp (#13076)
  content/_redirects
  content/pages/_index.md
  content/pages/framework-guides/deploy-a-hugo-site.md
  content/pages/framework-guides/deploy-a-nuxt-site.md
  content/pages/framework-guides/deploy-anything.md
  content/pages/functions/get-started.md
  content/pages/get-started/_index.md
  content/pages/get-started/c3.md
  content/pages/get-started/direct-upload.md
  content/pages/get-started/git-integration.md
  content/pages/migrations/migrating-jekyll-from-github-pages.md
  content/workers/wrangler/commands.md
Owners: @cloudflare/pcx-technical-writing, @cloudflare/workers-docs, @GregBrimble, @WalshyDev

[Calls] Add beta tag (#13128)
  content/calls/_index.md
Owners: @cloudflare/pcx-technical-writing

update the Next.js Pages guide to use the latest tooling
  content/pages/framework-guides/nextjs/deploy-a-nextjs-site.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

simplify snippets' comment as suggested in PR review
  content/pages/framework-guides/nextjs/deploy-a-nextjs-site.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

Apply suggestions from code review
  content/pages/framework-guides/nextjs/deploy-a-nextjs-site.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

revert changes that specify a commit instead of main when pointing to next-on-pages READMEs
  content/pages/framework-guides/nextjs/deploy-a-nextjs-site.md
Owners: @cloudflare/workers-docs, @GregBrimble, @WalshyDev, @cloudflare/pcx-technical-writing

endpoint mgmt variables
  content/api-shield/management-and-monitoring/_index.md
Owners: @cloudflare/pcx-technical-writing

[Warp client] Update Linux os type
  content/warp-client/get-started/_index.md
Owners: @cloudflare/pcx-technical-writing

endpoint mgmt variables (#13130)
  content/api-shield/management-and-monitoring/_index.md
Owners: @cloudflare/pcx-technical-writing

[Warp client] Update Linux os type (#13131)
  content/warp-client/get-started/_index.md
Owners: @cloudflare/pcx-technical-writing

[KV]Update get-started.md
  content/kv/get-started.md
Owners: @elithrar, @rts-rob, @cloudflare/pcx-technical-writing

Update queues.yaml
  data/changelogs/queues.yaml
Owners: @elithrar, @rts-rob, @cloudflare/pcx-technical-writing

[Durable Objects] WebSocket Hibernation Pricing + drive-by fix (#13043)
  content/durable-objects/platform/pricing.md
Owners: @elithrar, @vy-ton, @joshthoward, @cloudflare/pcx-technical-writing

[Chore] Remove aggressive lints until we can auto-suggest corrections
  .github/styles/cloudflare/NonStandardQuotes.yml
  .github/styles/cloudflare/UnclearAntecedent.yml
Owners: @kodster28, @pedrosousa, @haleycode, @kristianfreeman

Make sub-sections bold
  content/durable-objects/platform/pricing.md
Owners: @elithrar, @vy-ton, @joshthoward, @cloudflare/pcx-technical-writing

Add network on-ramps
  content/learning-paths/_partials/zero-trust/_connect-devices-objectives.md
  content/learning-paths/defense-in-depth/connect-networks/choose-on-ramp.md
  content/learning-paths/defense-in-depth/connect-networks/connect-networks.md
Owners: @cloudflare/pcx-technical-writing

isolate access application
  content/cloudflare-one/_partials/access/_enable-isolation.md
  content/cloudflare-one/_partials/access/_isolation-prereqs.md
  content/cloudflare-one/policies/access/isolate-application.md
  content/learning-paths/zero-trust-web-access/advanced-workflows/access-rbi.md
  content/learning-paths/zero-trust-web-access/advanced-workflows/external-evaluation.md
  content/learning-paths/zero-trust-web-access/advanced-workflows/isolate-application.md
Owners: @kennyj42, @abelinkinbio, @kkrum, @janani-cr, @cloudflare/pcx-technical-writing

Add Durable Object websocket examples
  content/durable-objects/examples/websocket-hibernation-server.md
  content/durable-objects/examples/websocket-server.md
Owners: @elithrar, @vy-ton, @joshthoward, @cloudflare/pcx-technical-writing

fix: typo
  content/durable-objects/examples/use-kv-from-durable-objects.md
Owners: @elithrar, @vy-ton, @joshthoward, @cloudflare/pcx-technical-writing

Adds conditionally and uses Scratch pattern
  data/models/content.yml
  layouts/_default/model.html
  layouts/partials/models/code-examples/llama-2-7b-chat-int8.md
  layouts/partials/models/code-examples/text-generation.md
  layouts/partials/models/conditionally.md
  layouts/partials/models/header.md
Owners: @cloudflare/pcx-technical-writing

Adds text-generation code snippets using summary/detail
  layouts/partials/models/code-examples/text-generation.md
  layouts/partials/models/header.md
Owners: @cloudflare/pcx-technical-writing

Moves back to the mdembo file check for templates. Will keep .Data in place for links maybe?
  data/models/content.yml
  layouts/partials/models/code-examples/text-generation.md
  layouts/partials/models/conditionally.md
  layouts/partials/models/header.md
  layouts/partials/models/prompting-guides/text-generation.md
  layouts/partials/models/responses/text-generation.md
Owners: @cloudflare/pcx-technical-writing

Adds additional links fallback pattern to footer.
  data/models/content.yml
  layouts/_default/model.html
  layouts/partials/models/conditionally.md
  layouts/partials/models/footer.md
  layouts/partials/models/header.md
Owners: @cloudflare/pcx-technical-writing

Adds current models.
  content/workers-ai/wip-models/bge-base-en-v1.5.md
  content/workers-ai/wip-models/bge-large-en-v1.5.md
  content/workers-ai/wip-models/bge-small-en-v1.5.md
  content/workers-ai/wip-models/codellama-7b-instruct-awq.md
  content/workers-ai/wip-models/deepseek-coder-6.7b-base-awq.md
  content/workers-ai/wip-models/detr-resnet-50.md
  content/workers-ai/wip-models/distilbert-sst-2-int8.md
  content/workers-ai/wip-models/llama-2-13b-chat-awq.md
  content/workers-ai/wip-models/llama-2-7b-chat-fp16.md
  content/workers-ai/wip-models/llama-2-7b-chat-int8.md
  content/workers-ai/wip-models/llamaguard-7b-awq.md
  content/workers-ai/wip-models/m2m100-1.2b.md
  content/workers-ai/wip-models/mistral-7b-instruct-v0.1-awq.md
  content/workers-ai/wip-models/mistral-7b-instruct-v0.1.md
  content/workers-ai/wip-models/neural-chat-7b-v3-1-awq.md
  content/workers-ai/wip-models/openhermes-2.5-mistral-7b-awq.md
  content/workers-ai/wip-models/resnet-50.md
  content/workers-ai/wip-models/stable-diffusion-xl-base-1.0.md
  content/workers-ai/wip-models/whisper.md
  content/workers-ai/wip-models/zephyr-7b-beta-awq.md
Owners: @elithrar, @rita3ko, @pdwittig, @cloudflare/pcx-technical-writing

.github/CODEOWNERS:

# Default owners if not more specific match
* @cloudflare/pcx-technical-writing

# More dev-specific files
/.github/ @kodster28 @pedrosousa @haleycode @kristianfreeman
/.github/CODEOWNERS @cloudflare/pcx-technical-writing
/.github/actions/assign-issue/index.js @cloudflare/pcx-technical-writing
/.github/actions/assign-pr/index.js @cloudflare/pcx-technical-writing
/.github/styles/cloudflare/spelling-exceptions.txt @cloudflare/pcx-technical-writing
/components/ @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
/functions/ @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
*.js @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
*.ts @cloudflare/developer-advocacy @kristianfreeman @kodster28 @pedrosousa @haleycode
/assets/json-collector.ts @cloudflare/pcx-technical-writing
/data/calculations/ @kristianfreeman @kodster28 @pedrosousa
/layouts/shortcodes/calculation.html @kristianfreeman @kodster28 @pedrosousa

# AI
/content/ai-gateway/ @bjesus @mchenco @cloudflare/pcx-technical-writing
/content/workers-ai/ @elithrar @rita3ko @pdwittig @cloudflare/pcx-technical-writing
/content/workers-ai/tutorials @craigsdennis @logangrasby @cloudflare/pcx-technical-writing
/content/workers-ai/static @craigsdennis @logangrasby @cloudflare/pcx-technical-writing
/content/vectorize/ @elithrar @pdwittig @cloudflare/pcx-technical-writing
/data/changelogs/ai-gateway.yaml @bjesus @mchenco @cloudflare/pcx-technical-writing
/data/changelogs/vectorize.yaml @elithrar @pdwittig @cloudflare/pcx-technical-writing

# Analytics & Logs
/content/analytics/ @46bit @bharatnc @jherre @jimhawkridge @soheiokamoto @victor-perov @cloudflare/pcx-technical-writing
/content/data-localization/ @soheiokamoto @cloudflare/pcx-technical-writing
/content/logs/ @bharatnc @jherre @soheiokamoto @victor-perov @cloudflare/pcx-technical-writing

# API & Zones
/content/tenant/ @garrettgalow @cloudflare/pcx-technical-writing
/content/version-management/ @garrettgalow @cloudflare/pcx-technical-writing

# Browser Rendering API
/content/browser-rendering/ @tanushreesharma-cf @mchenco @cloudflare/pcx-technical-writing @celso @meddulla

# Cloudflare One
/content/cloudflare-one/ @kennyj42 @abelinkinbio @kkrum @janani-cr @cloudflare/pcx-technical-writing

# Developer platform
/content/d1/ @elithrar @rozenmd @vy-ton @joshthoward @cloudflare/pcx-technical-writing
/content/durable-objects/ @elithrar @vy-ton @joshthoward @cloudflare/pcx-technical-writing
/content/vectorize/ @elithrar @pdwittig @cloudflare/pcx-technical-writing
/content/hyperdrive/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/data/changelogs/hyperdrive.yaml @elithrar @rts-rob @cloudflare/pcx-technical-writing
/data/changelogs/d1.yaml @elithrar @rozenmd @cloudflare/pcx-technical-writing
/content/images/ @cloudflare/pcx-technical-writing
/content/pages/ @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing
/data/changelogs/pages.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing
/content/kv/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/content/pub-sub/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/content/queues/ @elithrar @rts-rob @cloudflare/pcx-technical-writing
/data/changelogs/queues.yaml @elithrar @rts-rob @cloudflare/pcx-technical-writing
/content/r2/ @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/data/changelogs/r2.yaml @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/content/stream/ @tsmith512 @cloudflare/pcx-technical-writing
/data/changelogs/stream.yaml @tsmith512 @cloudflare/pcx-technical-writing
/content/workers/ @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing
/data/changelogs/workers.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @cloudflare/pcx-technical-writing @irvinebroque @admah
/content/zaraz/ @bjesus @jonnyparris @cloudflare/pcx-technical-writing
/data/changelogs/zaraz.yaml @bjesus @jonnyparris @cloudflare/pcx-technical-writing
/content/workers/runtime-apis/ @irvinebroque @jasnell @cloudflare/pcx-technical-writing
/content/workers/platform/ @irvinebroque @tanushreesharma-cf @cloudflare/pcx-technical-writing
/content/workers/configuration/bindings/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/configuration/compatibility-dates/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/reference/migrate-to-module-workers/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/reference/security-model/ @irvinebroque @cloudflare/pcx-technical-writing
/content/workers/_partials/_platform-compatibility-dates/ @irvinebroque @kflansburg @cloudflare/pcx-technical-writing

# Firewall Rules & WAF
/content/firewall/ @cloudflare/firewall @cloudflare/pcx-technical-writing
/content/waf/ @cloudflare/firewall @cloudflare/pcx-technical-writing
/content/waf/change-log/ @cloudflare/firewall @unknownhad @vs-mg @cloudflare/pcx-technical-writing
/data/changelogs/waf.yaml @cloudflare/firewall @unknownhad @vs-mg @cloudflare/pcx-technical-writing

# DDoS Protection
/content/ddos-protection/change-log/ @jdesgats @antoinecordelle @cloudflare/pcx-technical-writing
/data/changelogs/ddos-http.yaml @jdesgats @antoinecordelle @cloudflare/pcx-technical-writing
/data/changelogs/ddos-network.yaml @jdesgats @antoinecordelle @cloudflare/pcx-technical-writing

# Magic products
/content/magic-transit/ @cloudflare/pcx-technical-writing
/content/magic-firewall/ @arges @cloudflare/pcx-technical-writing
/content/magic-wan/ @cloudflare/pcx-technical-writing

# Radar
/content/radar/ @meddulla @G4brym @cloudflare/pcx-technical-writing
/data/changelogs/radar.yaml @meddulla @G4brym @cloudflare/pcx-technical-writing

# Reference architecture
/content/reference-architecture/ @securitypedant @cloudflare/pcx-technical-writing
/assets/images/reference-architecture/ @securitypedant @cloudflare/pcx-technical-writing

# Support
/content/support/ @jedecf @shanecloudflare @zeinjaber @rprice74 @ngayerie @cloudflare/pcx-technical-writing

# Turnstile
/content/turnstile/ @migueldemoura @punkeel @worenga @cloudflare/pcx-technical-writing

# Waiting Room
/content/waiting-room/ @aolache @cloudflare/pcx-technical-writing
/data/changelogs/waiting-room.yaml @aolache @cloudflare/pcx-technical-writing
