Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

add disclaimer about not pulling advertisements
  products/byoip/src/content/dynamic-advertisement/best-practices.md
Owners: @ConzorKingKong

PCX-1077 Load Balancing: Fix typo
  products/load-balancing/src/content/index.md
Owners: @ConzorKingKong

workers style corrections (#299)
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/platform/environments.md
Owners: @cloudflare/workers-docs

workers style corrections (#299)
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/platform/environments.md
Owners: @cloudflare/workers-docs

Fix typo (#297)
  products/workers/src/content/learning/getting-started.md
Owners: @cloudflare/workers-docs

Fix typo (#297)
  products/workers/src/content/learning/getting-started.md
Owners: @cloudflare/workers-docs

Fix Fetch article’s “See also” section links (#293)
  products/workers/src/content/runtime-apis/fetch.md
Owners: @cloudflare/workers-docs

Fix Fetch article’s “See also” section links (#293)
  products/workers/src/content/runtime-apis/fetch.md
Owners: @cloudflare/workers-docs

PCX-1077 Load Balancing: Fix typo (#303)
  products/load-balancing/src/content/index.md
Owners: @ConzorKingKong

PCX-1077 Load Balancing: Fix typo (#303)
  products/load-balancing/src/content/index.md
Owners: @ConzorKingKong

You can do an argo tunnel for the Apex domain
  products/argo-tunnel/src/content/faq/index.md
Owners: @abracchi-tw

TEAM-401: Argo Tunnel: Document 'bastion' service
  products/argo-tunnel/src/content/configuration/origins-via-ingress.md
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Owners: @abracchi-tw

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs
