Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs

[docs engine] add github best practices (#250)
  products/docs-engine/src/content/contributing/content/pr-title-pattern.png
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

[docs engine] add github best practices (#250)
  products/docs-engine/src/content/contributing/content/pr-title-pattern.png
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

fix broken link path in docs-engine docs
  products/docs-engine/src/content/reference/wall-of-entropy.jpg
Owners: @adamschwartz

fix broken link path in docs-engine docs
  products/docs-engine/src/content/reference/wall-of-entropy.jpg
Owners: @adamschwartz

reorder docs-engine content contribution subpage
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

reorder docs-engine content contribution subpage
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

improve content contribution guide navigation
  products/docs-engine/src/content/contributing/content/accessibility.md
  products/docs-engine/src/content/contributing/content/content-framework.md
  products/docs-engine/src/content/contributing/content/formatting.md
  products/docs-engine/src/content/contributing/content/index.md
  products/docs-engine/src/content/contributing/content/working-with-github.md
  products/docs-engine/src/content/contributing/content/writing-style.md
Owners: @adamschwartz

improve content contribution guide navigation
  products/docs-engine/src/content/contributing/content/accessibility.md
  products/docs-engine/src/content/contributing/content/content-framework.md
  products/docs-engine/src/content/contributing/content/formatting.md
  products/docs-engine/src/content/contributing/content/index.md
  products/docs-engine/src/content/contributing/content/working-with-github.md
  products/docs-engine/src/content/contributing/content/writing-style.md
Owners: @adamschwartz

improve docs engine docs homepage
  products/docs-engine/src/content/index.md
Owners: @adamschwartz

improve docs engine docs homepage
  products/docs-engine/src/content/index.md
Owners: @adamschwartz

docs for <Button/> & <ButtonGroup/> mdx components
  products/docs-engine/src/content/reference/markdown.md
Owners: @adamschwartz

docs for <Button/> & <ButtonGroup/> mdx components
  products/docs-engine/src/content/reference/markdown.md
Owners: @adamschwartz

[1.1.1.1] update docs homepage button group
  products/1.1.1.1/src/content/index.md
Owners: @abracchi-tw

[1.1.1.1] update docs homepage button group
  products/1.1.1.1/src/content/index.md
Owners: @abracchi-tw

[access] update docs homepage button group
  products/access/src/content/index.md
Owners: @cloudflare/access-docs

[access] update docs homepage button group
  products/access/src/content/index.md
Owners: @cloudflare/access-docs

[argo-tunnel] update docs homepage button group
  products/argo-tunnel/src/content/index.md
Owners: @abracchi-tw

[argo-tunnel] update docs homepage button group
  products/argo-tunnel/src/content/index.md
Owners: @abracchi-tw

[distributed-web] update docs homepage buttons
  products/distributed-web/src/content/index.md
Owners: @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn

[distributed-web] update docs homepage buttons
  products/distributed-web/src/content/index.md
Owners: @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn

[firewall] update docs homepage button group
  products/firewall/src/content/index.md
Owners: @cloudflare/firewall

[firewall] update docs homepage button group
  products/firewall/src/content/index.md
Owners: @cloudflare/firewall

[images] update docs homepage button group
  products/images/src/content/index.md
Owners: @kornel

[images] update docs homepage button group
  products/images/src/content/index.md
Owners: @kornel

[magic-transit] update docs homepage button group
  products/magic-transit/src/content/index.md
Owners: @annikagarbers

[magic-transit] update docs homepage button group
  products/magic-transit/src/content/index.md
Owners: @annikagarbers

[cni] update docs homepage button group
  products/network-interconnect/src/content/index.md
Owners: @ConzorKingKong

[cni] update docs homepage button group
  products/network-interconnect/src/content/index.md
Owners: @ConzorKingKong

[stream] update docs homepage button group
  products/stream/src/content/index.md
Owners: @renandincer, @third774

[stream] update docs homepage button group
  products/stream/src/content/index.md
Owners: @renandincer, @third774

cleanup
  products/stream/src/content/index.md
Owners: @renandincer, @third774

cleanup
  products/stream/src/content/index.md
Owners: @renandincer, @third774

[warp-client] update docs homepage button group
  products/warp-client/src/content/index.md
Owners: @abracchi-tw

[warp-client] update docs homepage button group
  products/warp-client/src/content/index.md
Owners: @abracchi-tw

[workers] update docs homepage button groups
  products/workers/src/content/index.md
Owners: @cloudflare/workers-docs

[workers] update docs homepage button groups
  products/workers/src/content/index.md
Owners: @cloudflare/workers-docs

[time-services] update docs homepage button group
  products/time-services/src/content/index.md
Owners: @lukevalenta, @wbl, @armfazh

[time-services] update docs homepage button group
  products/time-services/src/content/index.md
Owners: @lukevalenta, @wbl, @armfazh

clean up remaining buttons across the docs
  products/mobile-sdk/src/content/index.md
  products/randomness-beacon/src/content/index.md
  products/spectrum/src/content/index.md
  products/stream/src/content/uploading-videos/upload-via-link.md
  products/tenant/src/content/getting-started.md
  products/tenant/src/content/index.md
  products/tenant/src/content/tutorial/enabling-services.md
  products/tenant/src/content/tutorial/index.md
  products/tenant/src/content/tutorial/provisioning-resources.md
  products/tenant/src/content/tutorial/user-access.md
  products/waf/src/content/change-log/index.md
  products/waf/src/content/index.md
  products/workers/src/content/learning/getting-started.md
  products/workers/src/content/learning/playground.md
  products/workers/src/content/platform/sites/index.md
  products/workers/src/content/starters/index.md
Owners: @cloudflare/sdk, @lalkaka, @lukevalenta, @armfazh, @ConzorKingKong, @renandincer, @third774, @garrettgalow, @cloudflare/firewall, @cloudflare/workers-docs

clean up remaining buttons across the docs
  products/mobile-sdk/src/content/index.md
  products/randomness-beacon/src/content/index.md
  products/spectrum/src/content/index.md
  products/stream/src/content/uploading-videos/upload-via-link.md
  products/tenant/src/content/getting-started.md
  products/tenant/src/content/index.md
  products/tenant/src/content/tutorial/enabling-services.md
  products/tenant/src/content/tutorial/index.md
  products/tenant/src/content/tutorial/provisioning-resources.md
  products/tenant/src/content/tutorial/user-access.md
  products/waf/src/content/change-log/index.md
  products/waf/src/content/index.md
  products/workers/src/content/learning/getting-started.md
  products/workers/src/content/learning/playground.md
  products/workers/src/content/platform/sites/index.md
  products/workers/src/content/starters/index.md
Owners: @cloudflare/sdk, @lalkaka, @lukevalenta, @armfazh, @ConzorKingKong, @renandincer, @third774, @garrettgalow, @cloudflare/firewall, @cloudflare/workers-docs
