Repository cloudflare/cloudflare-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @abracchi-tw, @cloudflare/access-docs, @soheiokamoto, @jherre, @tlozoot, @cloudflare/sdk, @ConzorKingKong, @lukevalenta, @thibmeu, @jhoyla, @Lekensteyn, @adamschwartz, @cloudflare/firewall, @kornel, @annikagarbers, @lalkaka, @armfazh, @TownLake, @renandincer, @third774, @garrettgalow, @wbl, @cloudflare/workers-docs

.github/CODEOWNERS:

# 1.1.1.1
products/1.1.1.1/ @abracchi-tw

# Access
products/access/ @cloudflare/access-docs

# Analytics
products/analytics/ @soheiokamoto @jherre @tlozoot

# API
products/api/ @cloudflare/sdk

# Argo Tunnel
products/argo-tunnel/ @abracchi-tw

# BYOIP
products/byoip/ @ConzorKingKong

# Distributed Web
products/distributed-web/ @lukevalenta @thibmeu @jhoyla @Lekensteyn

# Documentation Engine
products/docs-engine/ @adamschwartz

# Events
products/events/ @ConzorKingKong

# Firewall Rules
products/firewall/ @cloudflare/firewall

# Gateway
products/gateway/ @abracchi-tw

# HTTP/3
products/http3/ @ConzorKingKong

# Image Resizing
products/images/ @kornel

# The Life of a Request
products/internet/ @ConzorKingKong

# Load Balancing
products/load-balancing/ @ConzorKingKong

# Logs
products/logs/ @soheiokamoto @jherre @tlozoot

# Magic Transit
products/magic-transit/ @annikagarbers

# Mobile SDK
products/mobile-sdk/ @cloudflare/sdk @lalkaka

# Network Interconnect
products/network-interconnect @ConzorKingKong

# Randomness Beacon
products/randomness-beacon/ @lukevalenta @armfazh

# Registrar
products/registrar/ @TownLake

# Spectrum
products/spectrum/ @ConzorKingKong

# SSL
products/ssl/ @ConzorKingKong

# Stream
products/stream/ @renandincer @third774

# Tenant
products/tenant/ @garrettgalow

# Terraform
products/terraform/ @ConzorKingKong

# Time Services
products/time-services/ @lukevalenta @wbl @armfazh

# WAF
products/waf/ @cloudflare/firewall

# Warp Client
products/warp-client/ @abracchi-tw

# Workers
products/workers/ @cloudflare/workers-docs

Makes graphql analytics tutorial auto populate listings (#234)
  products/analytics/src/content/graphql-api/tutorials/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Makes graphql analytics tutorial auto populate listings (#234)
  products/analytics/src/content/graphql-api/tutorials/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

argo shell style (#237)
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/getting-started/setup.md
  products/argo-tunnel/src/content/routing-to-tunnel/dns.md
Owners: @abracchi-tw

argo shell style (#237)
  products/argo-tunnel/src/content/configuration/arguments.md
  products/argo-tunnel/src/content/getting-started/setup.md
  products/argo-tunnel/src/content/routing-to-tunnel/dns.md
Owners: @abracchi-tw

Fix link and small tweaks in applications.md
  products/access/src/content/getting-started/applications.md
Owners: @cloudflare/access-docs

Document cron triggers wrangler config format (#227)
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/platform/cron-triggers/index.md
Owners: @cloudflare/workers-docs

Document cron triggers wrangler config format (#227)
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/platform/cron-triggers/index.md
Owners: @cloudflare/workers-docs

Merged in bugfix/CFLARE-270-pcx-861-graphql-apply-comment (pull request #14)
  products/analytics/src/content/graphql-api/getting-started/authentication/api-key-auth.md
  products/analytics/src/content/graphql-api/getting-started/authentication/index.md
  products/analytics/src/content/graphql-api/getting-started/index.md
  products/analytics/src/content/graphql-api/index.md
Owners: @soheiokamoto, @jherre, @tlozoot

Update index.md
  products/gateway/src/content/privacy/index.md
Owners: @abracchi-tw

Update index.md (#239)
  products/gateway/src/content/privacy/index.md
Owners: @abracchi-tw

Update index.md (#239)
  products/gateway/src/content/privacy/index.md
Owners: @abracchi-tw

Fix link and small tweaks in applications.md (#238)
  products/access/src/content/getting-started/applications.md
Owners: @cloudflare/access-docs

Fix link and small tweaks in applications.md (#238)
  products/access/src/content/getting-started/applications.md
Owners: @cloudflare/access-docs

made a few text updates and fixed a couple images
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/gcp-configure-user-type.png
  products/access/src/content/static/gsuite/gcp-create-oauth-client.png
  products/access/src/content/static/gsuite/gcp-newproject.png
Owners: @cloudflare/access-docs

Extension of Gsuite doc improvements (#241)
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/app-information.png
  products/access/src/content/static/gsuite/configure-consent-screen.png
  products/access/src/content/static/gsuite/create-credentials.png
  products/access/src/content/static/gsuite/gadmin-apiclient.png
  products/access/src/content/static/gsuite/gadmin-secadvance.png
  products/access/src/content/static/gsuite/gadmin-security.png
  products/access/src/content/static/gsuite/gconsole-security-api-controls.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-add-new.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-delegation.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-new-client.png
  products/access/src/content/static/gsuite/gconsole-security.png
  products/access/src/content/static/gsuite/gcp-configure-user-type.png
  products/access/src/content/static/gsuite/gcp-create-oauth-client.png
  products/access/src/content/static/gsuite/gcp-creds.png
  products/access/src/content/static/gsuite/gcp-newproject.png
Owners: @cloudflare/access-docs

Extension of Gsuite doc improvements (#241)
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/app-information.png
  products/access/src/content/static/gsuite/configure-consent-screen.png
  products/access/src/content/static/gsuite/create-credentials.png
  products/access/src/content/static/gsuite/gadmin-apiclient.png
  products/access/src/content/static/gsuite/gadmin-secadvance.png
  products/access/src/content/static/gsuite/gadmin-security.png
  products/access/src/content/static/gsuite/gconsole-security-api-controls.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-add-new.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-delegation.png
  products/access/src/content/static/gsuite/gconsole-security-api-domain-wide-new-client.png
  products/access/src/content/static/gsuite/gconsole-security.png
  products/access/src/content/static/gsuite/gcp-configure-user-type.png
  products/access/src/content/static/gsuite/gcp-create-oauth-client.png
  products/access/src/content/static/gsuite/gcp-creds.png
  products/access/src/content/static/gsuite/gcp-newproject.png
Owners: @cloudflare/access-docs

s/gsuite/Google Workspace/g
  products/access/src/content/about/how-access-works.md
  products/access/src/content/about/index.md
  products/access/src/content/about/quick-start.md
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/common-access-configurations/digital-ocean-example.md
  products/access/src/content/configuring-identity-providers/googleworkspace.md
  products/access/src/content/configuring-identity-providers/index.md
  products/access/src/content/examples/gsuite-group.md
  products/access/src/content/protocols-and-connections/ssh/short-lived-certificates.md
  products/access/src/content/protocols-and-connections/ssh/ssh-connections.md
  products/access/src/content/setting-up-access/access-applications/index.md
  products/access/src/content/setting-up-access/api-examples.md
  products/access/src/content/ssh/short-live-cert-server.md
  products/access/src/content/static/googleworkspace/app-information.png
  products/access/src/content/static/googleworkspace/configure-consent-screen.png
  products/access/src/content/static/googleworkspace/create-credentials.png
  products/access/src/content/static/googleworkspace/gconsole-security-api-controls.png
  products/access/src/content/static/googleworkspace/gconsole-security-api-domain-wide-add-new.png
  products/access/src/content/static/googleworkspace/gconsole-security-api-domain-wide-delegation.png
  products/access/src/content/static/googleworkspace/gconsole-security.png
  products/access/src/content/static/googleworkspace/gcp-configure-user-type.png
  products/access/src/content/static/googleworkspace/gcp-create-oauth-client.png
  products/access/src/content/static/googleworkspace/gcp-newproject.png
  products/access/src/content/static/googleworkspace/gcp-oauthconsent.png
  products/access/src/content/static/googleworkspace/gcp-projectdash.png
  products/access/src/content/static/googleworkspace/googleworkspace-9.png
  products/access/src/content/static/googleworkspace/googleworkspace-admin-sdk.png
  products/access/src/content/static/googleworkspace/googleworkspace-credentials.png
  products/access/src/content/static/googleworkspace/googleworkspace-int-ext.png
  products/access/src/content/static/googleworkspace/googleworkspace-oauthtype.png
  products/access/src/content/static/googleworkspace/googleworkspace-security-api-domain-wide-new-client.png
Owners: @cloudflare/access-docs

Announce 2020-11-05 WAF changes
  products/waf/src/content/change-log/2020-11-05---emergency-release.md
Owners: @cloudflare/firewall

Announce 2020-11-05 WAF changes
  products/waf/src/content/change-log/2020-11-05---emergency-release.md
Owners: @cloudflare/firewall

Announce 2020-11-05 WAF changes
  products/waf/src/content/change-log/2020-11-05---emergency-release.md
Owners: @cloudflare/firewall

mutza974​security.md
  mutza974SECURITY.md
Owners: none

[Access] fix JSX code on obsolete /gsuite.md file
  products/access/src/content/configuring-identity-providers/gsuite.md
Owners: @cloudflare/access-docs

[Access] fix JSX code on obsolete /gsuite.md file (#248)
  products/access/src/content/configuring-identity-providers/gsuite.md
Owners: @cloudflare/access-docs

[Access] fix JSX code on obsolete /gsuite.md file (#248)
  products/access/src/content/configuring-identity-providers/gsuite.md
Owners: @cloudflare/access-docs

PCX-985 Access: Clarified use of certs in mTLS
  products/access/package.json
  products/access/src/content/access-service-auth/mutual-tls-authentication.md
  products/access/src/content/service-auth/mtls.md
  products/access/src/content/static/mtls.png
Owners: @cloudflare/access-docs

PCX-985 Restore package.json
  products/access/package.json
Owners: @cloudflare/access-docs

add github best practices
  products/docs-engine/src/content/contributing/content/pr-title-pattern.png
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

add codeowners page + small tweaks
  products/docs-engine/src/content/contributing/content/working-with-github.md
  products/docs-engine/src/content/reference/codeowners.md
Owners: @adamschwartz

formatting
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

Token.md
  products/api/src/content/tokens/create/index.md
Owners: @cloudflare/sdk

addressing comments
  products/docs-engine/src/content/contributing/content/working-with-github.md
Owners: @adamschwartz

fixes to gsuite instructions
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/gcp-projectdash-screen.png
Owners: @cloudflare/access-docs

fixes to gsuite instructions
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/add-gsuite-to-access.png
Owners: @cloudflare/access-docs

fun-stuff.md: Fix link to DNS over Twitter (DoT)
  products/1.1.1.1/src/content/fun-stuff/index.md
Owners: @abracchi-tw

fun-stuff.md: Fix link to DNS over Twitter (DoT) (#252)
  products/1.1.1.1/src/content/fun-stuff/index.md
Owners: @abracchi-tw

fun-stuff.md: Fix link to DNS over Twitter (DoT) (#252)
  products/1.1.1.1/src/content/fun-stuff/index.md
Owners: @abracchi-tw

PCX-877 GraphQL Analytics API tokens (#190)
  products/analytics/src/content/graphql-api/getting-started/authentication/api-key-auth.md
  products/analytics/src/content/graphql-api/getting-started/authentication/api-token-auth.md
  products/analytics/src/content/graphql-api/getting-started/authentication/index.md
  products/analytics/src/content/graphql-api/getting-started/index.md
  products/analytics/src/content/graphql-api/getting-started/querying-basics.md
  products/analytics/src/content/graphql-api/index.md
  products/analytics/src/content/static/images/account-profile.png
  products/analytics/src/content/static/images/api-token-confirmation-page.png
  products/analytics/src/content/static/images/api-token-created.png
  products/analytics/src/content/static/images/api-token-optional.png
  products/analytics/src/content/static/images/api-token-permissions.png
  products/analytics/src/content/static/images/api-token-section.png
  products/analytics/src/content/static/images/api-token-summary.png
  products/analytics/src/content/static/images/create-api-token-get-started.png
  products/analytics/src/content/static/images/create-api-token-page-display.png
  products/analytics/src/content/static/images/create-api-token-page.png
  products/analytics/src/content/static/images/create-custom-api-token.png
  products/analytics/src/content/static/images/create-custom-token-ip-address-filtering.png
  products/analytics/src/content/static/images/create-custom-token-permissions.png
  products/analytics/src/content/static/images/create-custom-token-ttl.png
  products/analytics/src/content/static/images/create-custom-token-zone-resources.png
  products/analytics/src/content/static/images/user-profile-api-tokens-tab.png
Owners: @soheiokamoto, @jherre, @tlozoot

PCX-877 GraphQL Analytics API tokens (#190)
  products/analytics/src/content/graphql-api/getting-started/authentication/api-key-auth.md
  products/analytics/src/content/graphql-api/getting-started/authentication/api-token-auth.md
  products/analytics/src/content/graphql-api/getting-started/authentication/index.md
  products/analytics/src/content/graphql-api/getting-started/index.md
  products/analytics/src/content/graphql-api/getting-started/querying-basics.md
  products/analytics/src/content/graphql-api/index.md
  products/analytics/src/content/static/images/account-profile.png
  products/analytics/src/content/static/images/api-token-confirmation-page.png
  products/analytics/src/content/static/images/api-token-created.png
  products/analytics/src/content/static/images/api-token-optional.png
  products/analytics/src/content/static/images/api-token-permissions.png
  products/analytics/src/content/static/images/api-token-section.png
  products/analytics/src/content/static/images/api-token-summary.png
  products/analytics/src/content/static/images/create-api-token-get-started.png
  products/analytics/src/content/static/images/create-api-token-page-display.png
  products/analytics/src/content/static/images/create-api-token-page.png
  products/analytics/src/content/static/images/create-custom-api-token.png
  products/analytics/src/content/static/images/create-custom-token-ip-address-filtering.png
  products/analytics/src/content/static/images/create-custom-token-permissions.png
  products/analytics/src/content/static/images/create-custom-token-ttl.png
  products/analytics/src/content/static/images/create-custom-token-zone-resources.png
  products/analytics/src/content/static/images/user-profile-api-tokens-tab.png
Owners: @soheiokamoto, @jherre, @tlozoot

[Access] update G Suite idp instructions (#251)
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/add-gsuite-to-access.png
  products/access/src/content/static/gsuite/gcp-projectdash-screen.png
Owners: @cloudflare/access-docs

[Access] update G Suite idp instructions (#251)
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/add-gsuite-to-access.png
  products/access/src/content/static/gsuite/gcp-projectdash-screen.png
Owners: @cloudflare/access-docs
