Repository cloudflare/cloudflare-docs, pull requests merged in 2020-11, with the labels that each got.

#213 access - new format for API example rule configurations
  products/access/src/content/access-service-auth/mutual-tls-authentication.md
  products/access/src/content/access-service-auth/mutual-tls-testing.md
  products/access/src/content/access-service-auth/service-tokens.md
  products/access/src/content/advanced-management/device-posture.md
  products/access/src/content/advanced-management/index.md
  products/access/src/content/advanced-management/revoking-user-sessions.md
  products/access/src/content/advanced-management/validating-json.md
  products/access/src/content/api-and-terraform/index.md
  products/access/src/content/api-and-terraform/rule-api-examples.md
  products/access/src/content/api-and-terraform/scoped-api-tokens.md
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/common-access-configurations/index.md
  products/access/src/content/examples/access-group.md
  products/access/src/content/examples/any-service-token.md
  products/access/src/content/examples/authentication-method.md
  products/access/src/content/examples/azure-group.md
  products/access/src/content/examples/common-name.md
  products/access/src/content/examples/country-code.md
  products/access/src/content/examples/email-domain.md
  products/access/src/content/examples/email.md
  products/access/src/content/examples/everyone.md
  products/access/src/content/examples/github-org.md
  products/access/src/content/examples/gsuite-group.md
  products/access/src/content/examples/ip-range.md
  products/access/src/content/examples/mtls-certificate.md
  products/access/src/content/examples/okta-group.md
  products/access/src/content/examples/saml-attribute.md
  products/access/src/content/examples/service-token.md
  products/access/src/content/getting-started/index.md
  products/access/src/content/learning/index.md
  products/access/src/content/protocols-and-connections/index.md
Labels: product:access

#231 fix images in revoking-user-sessions.md
  products/access/src/content/advanced-management/session-management/revoking-user-sessions.md
Labels: product:access

#239 Update index.md
  products/gateway/src/content/privacy/index.md
Labels: product:gateway

#238 Fix link and small tweaks in applications.md
  products/access/src/content/getting-started/applications.md
Labels: product:access

#248 [Access] fix JSX code on obsolete /gsuite.md file
  products/access/src/content/configuring-identity-providers/gsuite.md
Labels: product:access

#251 [Access] update G Suite idp instructions
  products/access/src/content/authentication/configuring-identity-providers/gsuite.md
  products/access/src/content/static/gsuite/add-gsuite-to-access.png
  products/access/src/content/static/gsuite/gcp-projectdash-screen.png
Labels: product:access

#266 [Access] add documentation on testing an IdP
  products/access/src/content/authentication/configuring-identity-providers/index.md
  products/access/src/content/static/identity-index/connected-idp.png
  products/access/src/content/static/identity-index/disconnected-idp.png
Labels: product:access

#267 Clarify Wrangler installation instructions
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/index.md
Labels: product:workers

#272 [Argo Tunnel] style tweaks to ingress.md
  products/argo-tunnel/src/content/routing-to-tunnel/ingress.md
Labels: product:argo-tunnel

#273 Add troubleshooting for revoking Argo Tunnel credentials
  products/argo-tunnel/src/content/create-tunnel/index.md
  products/argo-tunnel/src/content/faq/index.md
Labels: product:argo-tunnel

#280 [Gateway] documentation on DNS-over-TLS
  products/gateway/src/content/about/how-gateway-works.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/browser.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-https.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/dns-over-tls.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/index.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/linux.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/mac.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/native-os.md
  products/gateway/src/content/connecting-to-gateway/without-client/DNS/windows.md
  products/gateway/src/content/faq/index.md
  products/gateway/src/content/getting-started/configuring-block-page.md
  products/gateway/src/content/getting-started/onboarding-gateway.md
  products/gateway/src/content/getting-started/troubleshooting-policies.md
  products/gateway/src/content/reference/location.md
  products/gateway/src/content/static/locations-doh-dot.png
  products/gateway/src/content/static/locations-doh.png
  products/gateway/src/content/static/locations-dot-complete.png
  products/gateway/src/content/static/locations-dot.png
Labels: product:gateway

#310 Fix typo
  products/warp-client/src/content/warp-for-everyone/index.md
Labels: product:warp-client

#314 Remove KV/Bundled reference in deploy button docs
  products/workers/src/content/platform/deploy-button.md
Labels: product:workers

#315 [WARP-client] fix download link for .plist file
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/teams/android-Teams.md
  products/warp-client/src/content/teams/iOS-Teams.md
  products/warp-client/src/content/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
Labels: product:warp-client

#328 [Gateway] fix gateway images on configuring-dns-policy
  products/gateway/src/content/getting-started/configuring-dns-policy/index.md
Labels: product:gateway

#330 [WARP] fix section titles for setup instructions
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
Labels: product:warp-client

#332 [Gateway] Add plan details to HTTP policies page
  products/gateway/src/content/getting-started/configuring-http-policy.md
Labels: product:gateway

#341 Update installation link for arm64
  products/argo-tunnel/src/content/getting-started/installation.md
Labels: product:argo-tunnel

#361 [WARP] fix image and download paths
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/teams/macOS-Teams.md
Labels: product:warp-client

#374 fixes to tunnel glossary
  products/argo-tunnel/src/content/glossary/index.md
Labels: product:argo-tunnel

#373 [Gateway] fixes to gateway glossary
  products/gateway/src/content/glossary/index.md
Labels: product:gateway

#371 [Teams] structural changes to Teams docs
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/index.md
  products/cloudflare-one/src/content/learning/index.md
  products/cloudflare-one/src/content/learning/policies.md
  products/cloudflare-one/src/content/tutorials/index.md
  products/cloudflare-one/src/content/tutorials/secure-origin-connections/credentials-only.md
  products/cloudflare-one/src/content/tutorials/secure-origin-connections/index.md
  products/cloudflare-one/src/content/tutorials/secure-origin-connections/multi-origin.md
  products/cloudflare-one/src/content/tutorials/secure-origin-connections/share-new-site.md
  products/cloudflare-one/src/content/tutorials/secure-web-gateway/block-uploads.md
  products/cloudflare-one/src/content/tutorials/secure-web-gateway/index.md
  products/cloudflare-one/src/content/tutorials/secure-web-gateway/secure-dns-devices.md
  products/cloudflare-one/src/content/tutorials/secure-web-gateway/secure-dns-network.md
  products/cloudflare-one/src/content/tutorials/zero-trust-security/country-rules.md
  products/cloudflare-one/src/content/tutorials/zero-trust-security/gitlab.md
  products/cloudflare-one/src/content/tutorials/zero-trust-security/index.md
Labels: product:cloudflare-one

#372 [Access] fixes to access glossary
  products/access/src/content/glossary/index.md
Labels: product:access

#379 add new tutorial - gateway blocks
  products/access/src/content/getting-started/applications.md
  products/cloudflare-one/src/content/secure-web-gateway/review-gateway-block.md
  products/cloudflare-one/src/content/static/secure-web-gateway/review-gateway-block/blocks-filter.png
  products/cloudflare-one/src/content/static/secure-web-gateway/review-gateway-block/custom.png
  products/cloudflare-one/src/content/static/secure-web-gateway/review-gateway-block/facebook-row.png
  products/cloudflare-one/src/content/static/secure-web-gateway/review-gateway-block/logs-unfiltered.png
  products/cloudflare-one/src/content/static/secure-web-gateway/review-gateway-block/override.png
  products/cloudflare-one/src/content/static/secure-web-gateway/review-gateway-block/policies.png
Labels: product:cloudflare-one

#390 [Teams] delete duplicate tutorial sections
  products/cloudflare-one/src/content/secure-origin-connections/credentials-only.md
  products/cloudflare-one/src/content/secure-origin-connections/index.md
  products/cloudflare-one/src/content/secure-origin-connections/multi-origin.md
  products/cloudflare-one/src/content/secure-origin-connections/share-new-site.md
  products/cloudflare-one/src/content/secure-web-gateway/block-uploads.md
  products/cloudflare-one/src/content/secure-web-gateway/index.md
  products/cloudflare-one/src/content/secure-web-gateway/secure-dns-devices.md
  products/cloudflare-one/src/content/secure-web-gateway/secure-dns-network.md
  products/cloudflare-one/src/content/tutorials/secure-web-gateway/review-gateway-block.md
  products/cloudflare-one/src/content/tutorials/secure-web-gateway/secure-dns-devices.md
  products/cloudflare-one/src/content/zero-trust-security/country-rules.md
  products/cloudflare-one/src/content/zero-trust-security/gitlab.md
  products/cloudflare-one/src/content/zero-trust-security/index.md
Labels: product:cloudflare-one

#393 [Argo Tunnel] fix disableChunkedEncoding explanation
  products/argo-tunnel/src/content/configuration/origins-via-ingress.md
Labels: product:argo-tunnel
