Repository cloudflare/cloudflare-docs, pull requests merged in 2020-10, with the labels that each got.

#39 extract-cookie-value.md: split cookie only once
  products/workers/src/content/examples/extract-cookie-value.md
Labels: workers

#44 Make style consistent in 'Using Durable Objects'
  products/workers/src/content/learning/using-durable-objects.md
Labels: workers

#3 Updating go example for signed urls
  products/stream/src/content/security/signed-urls.md
Labels: stream

#68 Add lilredirector kv namespace to images docs
  products/images/wrangler.toml
Labels: product:images

#55 Deploy Stream docs to prod
  .github/workflows/deploy.yml
Labels: product:stream

#105 Update policy criteria
  products/access/src/content/getting-started/policies.md
Labels: product:access

#104 update group list
  products/access/src/content/learning/access-groups-management.md
Labels: product:access

#40 fix routes reference
  products/workers/src/content/cli-wrangler/configuration.md
Labels: product:workers

#38 Update installation with nvm instructions
  products/workers/src/content/index.md
Labels: product:workers

#70 workers triggers issue
  products/workers/src/content/platform/cron-triggers/index.md
Labels: product:workers

#66 Tighten regex
  products/workers/src/content/examples/http2-server-push.md
Labels: product:workers

#108 Fix typo
  products/stream/src/content/getting-started/uploading-nodejs.md
Labels: product:stream

#49 Add # of requests included with bundled
  products/workers/src/content/platform/pricing.md
Labels: product:workers

#118 Added warning + awareness about wrangler secret
  products/workers/src/content/platform/environments.md
Labels: product:workers

#117 The name vars is too ambigous and not prominent
  products/workers/src/content/platform/environments.md
Labels: product:workers

#107 Fix Workers sample code.
  products/workers/src/content/examples/bulk-origin-proxy.md
Labels: product:workers

#149 Stream: Start using API Tokens instead of API Keys
  products/stream/src/content/faq/index.md
  products/stream/src/content/getting-analytics/fetching-bulk-analytics.md
  products/stream/src/content/index.md
  products/stream/src/content/uploading-videos/adding-captions.md
  products/stream/src/content/uploading-videos/applying-watermarks.md
  products/stream/src/content/uploading-videos/direct-creator-uploads.md
  products/stream/src/content/uploading-videos/searching.md
  products/stream/src/content/uploading-videos/upload-via-link.md
  products/stream/src/content/uploading-videos/upload-video-file.md
  products/stream/src/content/uploading-videos/using-webhooks.md
  products/stream/src/content/viewing-videos/displaying-thumbnails.md
  products/stream/src/content/viewing-videos/securing-your-stream.md
Labels: product:stream
