Repository cloudflare/cloudflare-docs, pull requests merged in 2020-12, with the labels that each got.

#410 [Access] general cleanup + improved Policies section
  products/access/src/content/access-service-auth/index.md
  products/access/src/content/advanced-management/index.md
  products/access/src/content/api-and-terraform/index.md
  products/access/src/content/authentication/index.md
  products/access/src/content/authentication/login-page.md
  products/access/src/content/getting-started/access-setup.md
  products/access/src/content/getting-started/applications.md
  products/access/src/content/getting-started/policies.md
  products/access/src/content/learning/access-groups-management.md
  products/access/src/content/learning/index.md
  products/access/src/content/learning/json-web-tokens.md
  products/access/src/content/learning/policies-and-rules.md
  products/access/src/content/protocols-and-connections/index.md
  products/access/src/content/protocols-and-connections/ssh/putty-clients.md
  products/access/src/content/protocols-and-connections/ssh/short-lived-certificates.md
  products/access/src/content/protocols-and-connections/ssh/ssh-connections.md
  products/access/src/content/static/summary/cookie-cloudflared.png
Labels: product:access

#416 [Gateway] blocking a TLD
  products/gateway/src/content/reference/policy.md
Labels: product:gateway

#411 [Teams] add components to homepage
  products/cloudflare-one/src/content/components/product-list.js
  products/cloudflare-one/src/content/css/product-list.css
  products/cloudflare-one/src/content/index.md
Labels: product:cloudflare-one

#415 [Access] add docs about automatic cloudflared authentication
  products/access/src/content/advanced-management/automatic-cloudflared-auth.md
  products/access/src/content/getting-started/applications.md
  products/access/src/content/static/access-page.png
Labels: product:access

#434 [Teams] Update policies.md
  products/cloudflare-one/src/content/learning/policies.md
Labels: product:cloudflare-one

#459 [Access] changes to policies sections
  products/access/src/content/advanced-management/session-management/index.md
  products/access/src/content/getting-started/policies.md
  products/access/src/content/learning/policies-and-rules.md
Labels: product:access

#437 [Gateway] updates to policies learning section
  products/gateway/src/content/connecting-to-gateway/index.md
  products/gateway/src/content/reference/policy.md
Labels: product:gateway

#475 [Access] SMB fix
  products/access/src/content/protocols-and-connections/SMB-file-shares.md
Labels: product:access

#479 [Teams] try out new page structure for policies
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/learning/policies/access-policies.md
  products/cloudflare-one/src/content/learning/policies/gateway-policies.md
  products/cloudflare-one/src/content/learning/policies/index.md
Labels: product:cloudflare-one

#486 [Teams] hide learning folder
  products/cloudflare-one/src/content/learning/index.md
Labels: product:cloudflare-one

#504 [Teams] add Require Gateway docs to Teams
  products/access/src/content/getting-started/policies.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/learning/index.md
  products/cloudflare-one/src/content/learning/policies.md
  products/cloudflare-one/src/content/learning/require-gateway.md
  products/cloudflare-one/src/content/static/require-gateway/device-posture.png
Labels: product:cloudflare-one

#507 [Access] add login customization docs
  products/access/src/content/authentication/login-page.md
  products/access/src/content/static/app-launch/preview-card-login.png
Labels: product:access

#522 [Gateway] fix link to getting started
  products/gateway/src/content/reference/location.md
  products/gateway/src/content/reference/policy.md
Labels: product:gateway

#523 [Argo Tunnel] move 'aside' in create-tunnel/index.md
  products/argo-tunnel/src/content/create-tunnel/index.md
Labels: product:argo-tunnel

#542 [Access] fix login customization page
  products/access/src/content/authentication/login-page.md
  products/access/src/content/static/app-launch/preview-card-login.png
Labels: product:access

#547 [Teams] fix require gateway image
  products/cloudflare-one/src/content/index.md
  products/cloudflare-one/src/content/learning/require-gateway.md
  products/cloudflare-one/src/content/static/documentation/device-posture.png
Labels: product:cloudflare-one

#442 [1.1.1.1] Fix cloudflared proxy-dns system service instructions
  products/1.1.1.1/README.md
  products/1.1.1.1/src/content/dns-over-https/cloudflared-proxy.md
Labels: product:1.1.1.1
