Repository cloudflare/cloudflare-docs, pull requests merged in 2021-05, with the labels that each got.

#1240 Cleanup of consumer
  products/warp-client/src/content/for-everyone.md
  products/warp-client/src/content/for-teams.md
  products/warp-client/src/content/overview.md
  products/warp-client/src/content/requirements.md
  products/warp-client/src/content/setting-up/android.md
  products/warp-client/src/content/setting-up/iOS.md
  products/warp-client/src/content/setting-up/index.md
  products/warp-client/src/content/setting-up/macOS.md
  products/warp-client/src/content/setting-up/requirements.md
  products/warp-client/src/content/setting-up/windows.md
  products/warp-client/src/content/teams/Windows-Teams.md
  products/warp-client/src/content/teams/android-Teams.md
  products/warp-client/src/content/teams/iOS-Teams.md
  products/warp-client/src/content/teams/index.md
  products/warp-client/src/content/teams/macOS-Teams.md
  products/warp-client/src/content/teams/parameters.md
  products/warp-client/src/content/warp-for-everyone/getting-started/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/android.md
  products/warp-client/src/content/warp-for-everyone/setting-up/iOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/index.md
  products/warp-client/src/content/warp-for-everyone/setting-up/macOS.md
  products/warp-client/src/content/warp-for-everyone/setting-up/requirements.md
  products/warp-client/src/content/warp-for-everyone/setting-up/windows.md
  products/warp-client/src/content/warp-for-teams/getting-started/index.md
  products/warp-client/src/content/warp-for-teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/Windows-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/android-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/iOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/index.md
  products/warp-client/src/content/warp-for-teams/teams/macOS-Teams.md
  products/warp-client/src/content/warp-for-teams/teams/parameters.md
Labels: product:warp-client

#1280 [WARP] Docs fixes
  products/warp-client/src/content/index.md
  products/warp-client/src/content/known-issues-and-faq/index.md
  products/warp-client/src/content/setting-up/iOS.md
  products/warp-client/src/content/setting-up/macOS.md
  products/warp-client/src/content/setting-up/windows.md
Labels: product:warp-client

#1279 [Teams] changes to faq content
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ingress.md
  products/cloudflare-one/src/content/connections/connect-apps/create-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/faq/teams-faq.md
  products/cloudflare-one/src/content/policies/filtering/index.md
Labels: product:cloudflare-one

#1034 protocol examples
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ingress.md
Labels: product:cloudflare-one

#1282 V1 Consumer docs for WARP Linux client
  products/warp-client/src/content/setting-up/index.md
  products/warp-client/src/content/setting-up/linux.md
  products/warp-client/src/content/setting-up/requirements.md
Labels: product:warp-client

#1290 [Teams] tweaks to DNS policies section
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
Labels: product:cloudflare-one

#1299 (Kate's first PR) Changed page title to "Overview"
  products/pages/src/content/index.md
Labels: product:pages

#1301 [Teams] add description for "location" DNS selector
  products/cloudflare-one/src/content/analytics/access.md
  products/cloudflare-one/src/content/analytics/gateway.md
  products/cloudflare-one/src/content/analytics/users.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/index.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/antivirus-scanning.md
Labels: product:cloudflare-one

#1306 [Teams] fixes to mTLS docs
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/index.md
  products/cloudflare-one/src/content/setup/index.md
  products/cloudflare-one/src/content/static/documentation/identity/devices/create-mtls-rule.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/mutual-tls-session-duration.png
Labels: product:cloudflare-one

#1304 Kubectl guide to includes a link to the dashboard
  products/cloudflare-one/src/content/tutorials/kubectl.md
Labels: product:cloudflare-one

#1216 Fixed spacing issue
  products/pages/src/content/platform/redirects.md
Labels: product:workers

#1324 [Teams] docs-wide link fixes
  products/cloudflare-one/src/content/analytics/logs/audit-logs.md
  products/cloudflare-one/src/content/applications/non-http.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ingress.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/origins-via-cli.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/installation.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/index.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/identity/devices/corp-device.md
  products/cloudflare-one/src/content/identity/idp-integration/gsuite.md
  products/cloudflare-one/src/content/identity/users/short-lived-certificates.md
  products/cloudflare-one/src/content/policies/index.md
  products/cloudflare-one/src/content/policies/zero-trust/index.md
  products/cloudflare-one/src/content/policies/zero-trust/mfa-requirements.md
  products/cloudflare-one/src/content/tutorials/credentials-only.md
  products/cloudflare-one/src/content/tutorials/kubectl.md
  products/cloudflare-one/src/content/tutorials/mongodb-tunnel.md
  products/cloudflare-one/src/content/tutorials/rdp.md
  products/cloudflare-one/src/content/tutorials/ssh-service-token.md
  products/cloudflare-one/src/content/tutorials/ssh.md
Labels: product:cloudflare-one

#1343 [Teams] brand new FAQ section
  products/cloudflare-one/src/content/faq/access.md
  products/cloudflare-one/src/content/faq/browser-isolation.md
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/faq/index.md
  products/cloudflare-one/src/content/faq/self-diagnostics.md
  products/cloudflare-one/src/content/faq/teams-authentication-faq.md
  products/cloudflare-one/src/content/faq/teams-devices-faq.md
  products/cloudflare-one/src/content/faq/teams-faq.md
  products/cloudflare-one/src/content/faq/teams-general-faq.md
  products/cloudflare-one/src/content/faq/teams-getting-started-faq.md
  products/cloudflare-one/src/content/faq/teams-policies-faq.md
  products/cloudflare-one/src/content/faq/teams-troubleshooting.md
  products/cloudflare-one/src/content/faq/tunnel.md
  products/cloudflare-one/src/content/faq/warp.md
  products/cloudflare-one/src/content/static/documentation/quickstart/step-1-b.png
Labels: product:cloudflare-one

#1346 [Teams] fixes to faq main page
  products/cloudflare-one/src/content/faq/index.md
Labels: product:cloudflare-one

#895 [pages] Minor corrections in the documentation
  products/pages/src/content/getting-started/index.md
  products/pages/src/content/how-to/deploy-a-gatsby-site.md
  products/pages/src/content/how-to/deploy-a-hugo-site.md
  products/pages/src/content/how-to/deploy-a-jekyll-site.md
  products/pages/src/content/how-to/deploy-a-nextjs-site.md
  products/pages/src/content/how-to/deploy-a-react-application.md
  products/pages/src/content/how-to/deploy-a-vue-application.md
  products/pages/src/content/how-to/deploy-anything.md
  products/pages/src/content/platform/limits.md
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
Labels: documentation, product:pages

#1129 Fix module reference in build modules
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
Labels: product:pages, technical review

#1355 [Teams] fix typo
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/installation.md
Labels: product:cloudflare-one

#702 [1.1.1.1] updated browser instructions
  products/1.1.1.1/src/content/dns-over-https/web-browser.md
Labels: product:1.1.1.1

#1000 include zola/gutenberg env vars in Pages > Build Configuration
  products/pages/src/content/platform/build-configuration.md
Labels: product:pages, technical review

#1354 Improve proxy template
  products/workers/src/content/examples/respond-with-another-site.md
Labels: product:workers

#1362 [Workers] Added note about "wrangler dev" websocket support in using-websockets.md
  products/workers/src/content/learning/using-websockets.md
Labels: product:workers

#1367 TUN-4424: Add api.cloudflare.com to Argo Tunnel egress FAQ
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
Labels: product:cloudflare-one

#1374 [Teams] Argo Tunnel > Cloudflare Tunnel name change
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/config.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ingress.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/origins-via-cli.md
  products/cloudflare-one/src/content/connections/connect-apps/create-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/installation.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/dns.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/kubernetes.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/lb.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/run-as-service.md
  products/cloudflare-one/src/content/connections/connect-apps/trycloudflare.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
  products/cloudflare-one/src/content/faq/index.md
  products/cloudflare-one/src/content/faq/teams-policies-faq.md
  products/cloudflare-one/src/content/faq/teams-troubleshooting.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/identity/users/validating-json.md
  products/cloudflare-one/src/content/teams-docs-changes.md
  products/cloudflare-one/src/content/technical-limitations.md
  products/cloudflare-one/src/content/tutorials/credentials-only.md
  products/cloudflare-one/src/content/tutorials/gitlab.md
  products/cloudflare-one/src/content/tutorials/kubectl.md
  products/cloudflare-one/src/content/tutorials/migrate-lb-tunnel.md
  products/cloudflare-one/src/content/tutorials/mongodb-tunnel.md
  products/cloudflare-one/src/content/tutorials/multi-origin.md
  products/cloudflare-one/src/content/tutorials/rdp.md
  products/cloudflare-one/src/content/tutorials/share-new-site.md
  products/cloudflare-one/src/content/tutorials/single-command.md
  products/cloudflare-one/src/content/tutorials/smb.md
  products/cloudflare-one/src/content/tutorials/ssh-cert-bastion.md
  products/cloudflare-one/src/content/tutorials/ssh.md
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel.md
  products/cloudflare-one/src/content/tutorials/zsh-env-var.md
Labels: product:cloudflare-one

#1382 [Teams] fix tunnel command - TEAM-563
  products/cloudflare-one/src/content/tutorials/rdp.md
Labels: product:cloudflare-one

#1379 Slight re-org of Script Monitor content
  products/bots/src/content/get-started/index.md
  products/page-shield/src/content/script-monitor/get-started/index.md
  products/page-shield/src/content/script-monitor/use-dashboard/index.md
Labels: documentation

#1369 Test waiting room
  products/waiting-room/src/content/how-to/create-waiting-room/create-waiting-room-dashboard/configure-settings.md
  products/waiting-room/src/content/how-to/test-waiting-room.md
  products/waiting-room/src/content/index.md
  products/waiting-room/src/content/static/test-waiting-room.png
Labels: documentation

#1404 add device question to FAQ
  products/cloudflare-one/src/content/faq/teams-devices-faq.md
Labels: product:cloudflare-one

#1375 Marcio/migrate railgun docs to dev docs
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  README.md
  developers.cloudflare.com/gatsby-config.js
  developers.cloudflare.com/src/components/product-grid.js
  products/railgun/README.md
  products/railgun/docs-config.js
  products/railgun/package.json
  products/railgun/src/content/changelog.md
  products/railgun/src/content/index.md
  products/railgun/src/content/license-agreement.md
  products/railgun/src/content/user-guide/administration.md
  products/railgun/src/content/user-guide/client-api/enable-and-disable-connections.md
  products/railgun/src/content/user-guide/client-api/index.md
  products/railgun/src/content/user-guide/client-api/list-railgun-details.md
  products/railgun/src/content/user-guide/client-api/manage-railguns.md
  products/railgun/src/content/user-guide/index.md
  products/railgun/src/content/user-guide/introduction.md
  products/railgun/src/content/user-guide/media/cnn.webp
  products/railgun/src/content/user-guide/optimized-partner-api/enable-and-disable-connections.md
  products/railgun/src/content/user-guide/optimized-partner-api/index.md
  products/railgun/src/content/user-guide/optimized-partner-api/list-railgun-details.md
  products/railgun/src/content/user-guide/optimized-partner-api/manage-railguns.md
  products/railgun/src/content/user-guide/optimized-partner-api/railguns-via-ip-ranges.md
  products/railgun/src/content/user-guide/optimized-partner-api/using-curl-with-the-api.md
  products/railgun/src/content/user-guide/railgun-execution.md
  products/railgun/src/content/user-guide/set-up/index.md
  products/railgun/src/content/user-guide/set-up/installation-overview.md
  products/railgun/src/content/user-guide/set-up/potential-problems.md
  products/railgun/src/content/user-guide/set-up/preparing-environment.md
  products/railgun/src/content/user-guide/set-up/system-startup.md
  products/railgun/wrangler.toml
Labels: documentation

#1391 [Teams] add new block page docs
  products/cloudflare-one/src/content/applications/configure-apps/index.md
  products/cloudflare-one/src/content/applications/non-http.md
  products/cloudflare-one/src/content/policies/filtering/configuring-block-page.md
  products/cloudflare-one/src/content/static/documentation/policies/cert-select-always-trust.png
  products/cloudflare-one/src/content/static/documentation/policies/customize-block-page.png
  products/cloudflare-one/src/content/static/documentation/policies/customize-settings-page.png
  products/cloudflare-one/src/content/static/documentation/policies/display-block-page.png
  products/cloudflare-one/src/content/static/documentation/policies/enable-block-page.png
  products/cloudflare-one/src/content/static/documentation/policies/final-block-page.png
  products/cloudflare-one/src/content/static/documentation/policies/http-block-page.png
  products/cloudflare-one/src/content/static/documentation/policies/update-certificates-page.png
  products/cloudflare-one/src/content/tutorials/gw-rollout-guide.md
Labels: product:cloudflare-one

#1418 [Teams] Jam session tweaks pt. 01
  products/cloudflare-one/src/content/analytics/logs/activity-log.md
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/configuring-a-location.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/tutorials/block-football-users.md
Labels: product:cloudflare-one

#1370 [APO] Adding content types
  products/automatic-platform-optimization/src/content/about/index.md
  products/automatic-platform-optimization/src/content/about/plugin-compatibility.md
  products/automatic-platform-optimization/src/content/about/test-current-speed.md
  products/automatic-platform-optimization/src/content/get-started/activate-cf-wp-plugin.md
  products/automatic-platform-optimization/src/content/get-started/change-nameservers.md
  products/automatic-platform-optimization/src/content/get-started/confirm-dns-records.md
  products/automatic-platform-optimization/src/content/get-started/index.md
  products/automatic-platform-optimization/src/content/get-started/verify-apo-works.md
  products/automatic-platform-optimization/src/content/index.md
  products/automatic-platform-optimization/src/content/reference/cache-device-type.md
  products/automatic-platform-optimization/src/content/reference/index.md
  products/automatic-platform-optimization/src/content/reference/page-rule-integration.md
  products/automatic-platform-optimization/src/content/reference/query-parameters.md
  products/automatic-platform-optimization/src/content/reference/subdomain-subdirectories.md
  products/automatic-platform-optimization/src/content/troubleshooting/faq.md
  products/automatic-platform-optimization/src/content/troubleshooting/index.md
Labels: documentation

#1352 Add magicFirewallSamplesAdaptiveGroups graphql node
  products/analytics/src/content/graphql-api/features/data-sets/index.md
  products/analytics/src/content/graphql-api/limits/index.md
  products/analytics/src/content/graphql-api/sampling/index.md
Labels: product:analytics

#1429 Fixed default expiry value
  products/stream/src/content/uploading-videos/direct-creator-uploads.md
Labels: documentation

#1430 Wrangler Tail and cloudflared issue fix warning
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers

#1431 fix(workflow): normalize indentation
  .github/workflows/build.yml
Labels: product:workers

#1426 [Teams] add logpush paragraph to activity log
  products/cloudflare-one/src/content/analytics/logs/activity-log.md
Labels: product:cloudflare-one
