Repository cloudflare/cloudflare-docs, pull requests merged in 2021-07, with the labels that each got.

#1171 Update limits.md
  products/pages/src/content/platform/limits.md
Labels: product:workers, technical review

#1705 Line break in limits Workers docs
  products/workers/src/content/platform/limits.md
Labels: product:workers

#1696 Format /pages intro actions with a <ButtonGroup>
  products/pages/src/content/index.md
Labels: product:pages

#1703 Updating image to routes documentation
  products/workers/src/content/platform/add-route-modal.png
  products/workers/src/content/platform/routes.md
Labels: product:workers

#1704 Route specificity update to Workers docs
  products/workers/src/content/platform/known-issues.md
  products/workers/src/content/platform/routes.md
Labels: product:workers

#1718 wrangler dev bug update
  products/workers/src/content/learning/debugging-workers.md
  products/workers/src/content/platform/known-issues.md
Labels: product:workers

#909 [pages] Add Expo to list of framework/tool
  products/pages/src/content/platform/build-configuration.md
Labels: product:pages, technical review

#938 [Pages] Added limitation for custom domains
  products/pages/src/content/platform/known-issues.md
Labels: product:pages, technical review

#1726 [Workers - Durable Objects] Add Troubleshooting section
  products/workers/src/content/learning/using-durable-objects.md
  products/workers/src/content/runtime-apis/durable-objects.md
Labels: product:workers

#1747 Update ordering of Platform content in Pages docs
  products/pages/src/content/platform/api.md
  products/pages/src/content/platform/build-configuration.md
  products/pages/src/content/platform/github-integration.md
  products/pages/src/content/platform/known-issues.md
  products/pages/src/content/platform/limits.md
  products/pages/src/content/platform/preview-deployments.md
  products/pages/src/content/platform/redirects.md
  products/pages/src/content/platform/rollbacks.md
  products/pages/src/content/platform/serving-pages.md
Labels: product:pages

#1295 Found an old "Bundled" reference under CPU runtime
  products/workers/src/content/platform/limits.md
Labels: product:workers

#1744 [Workers] Clarification on cache runtime api docs
  products/workers/src/content/runtime-apis/cache.md
Labels: product:workers

#1717 fixes to Environment in Workers Docs
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/platform/environments.md
Labels: product:workers

#1720 clarified autoplay behavior for iframes
  products/stream/src/content/viewing-videos/using-the-stream-player.md
Labels: product:stream

#1755 [Workers] Overview page style review
  products/workers/src/content/index.md
Labels: product:workers

#1689 Add missing limits for cloudflare access
  products/cloudflare-one/src/content/technical-limitations.md
Labels: product:cloudflare-one

#1700 Update zero-trust-network-access.md
  products/cloudflare-one/src/content/tutorials/zero-trust-network-access.md
Labels: product:cloudflare-one

#1690 Update cors.md troubleshooting sessions
  products/cloudflare-one/src/content/policies/zero-trust/cors.md
Labels: product:cloudflare-one

#1496 [Cloudflare for Teams] Add to Tunnel docs and edit IdP integration
  products/cloudflare-one/src/content/connections/connect-apps/hosting-requirements.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/run-as-service.md
  products/cloudflare-one/src/content/connections/connect-apps/secure-server.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
  products/cloudflare-one/src/content/faq/teams-troubleshooting.md
  products/cloudflare-one/src/content/identity/idp-integration/generic-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-okta.md
  products/cloudflare-one/src/content/identity/service-auth/service-tokens.md
  products/cloudflare-one/src/content/static/documentation/connections/gcp-firewall.png
  products/cloudflare-one/src/content/static/documentation/connections/ssl-encryption-mode.png
Labels: product:cloudflare-one

#1753 Fix broken links
  products/cloudflare-one/src/content/connections/connect-devices/warp/control-proxy.md
Labels: product:cloudflare-one

#1756 [Pages] Overview page fix
  products/pages/src/content/framework-guides/index.md
  products/pages/src/content/getting-started/index.md
  products/pages/src/content/how-to/index.md
  products/pages/src/content/index.md
Labels: product:pages

#1765 [Teams] Update teams-authentication-faq.md
  products/cloudflare-one/src/content/faq/teams-authentication-faq.md
Labels: product:cloudflare-one

#1649 [DO NOT MERGE] Global Settings instructions changes
  products/cloudflare-one/src/content/applications/app-launcher.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/control-proxy.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/device-enrollment.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/local-domains.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/split-tunnels.md
  products/cloudflare-one/src/content/identity/devices/corp-device.md
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/identity/idp-integration/adfs.md
  products/cloudflare-one/src/content/identity/idp-integration/azuread.md
  products/cloudflare-one/src/content/identity/idp-integration/centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/citrixadc-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/facebook-login.md
  products/cloudflare-one/src/content/identity/idp-integration/generic-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/github.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/identity/idp-integration/gsuite.md
  products/cloudflare-one/src/content/identity/idp-integration/index.md
  products/cloudflare-one/src/content/identity/idp-integration/jumpcloud-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/keycloak.md
  products/cloudflare-one/src/content/identity/idp-integration/linkedin.md
  products/cloudflare-one/src/content/identity/idp-integration/okta.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/ping-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/signed_authn.md
  products/cloudflare-one/src/content/identity/idp-integration/yandex.md
  products/cloudflare-one/src/content/identity/login-page.md
  products/cloudflare-one/src/content/identity/service-auth/service-tokens.md
  products/cloudflare-one/src/content/identity/users/short-lived-certificates.md
  products/cloudflare-one/src/content/policies/filtering/configuring-block-page.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/antivirus-scanning.md
  products/cloudflare-one/src/content/static/documentation/identity/adfs/adfs-19-b.png
  products/cloudflare-one/src/content/static/documentation/identity/adfs/adfs-19.png
  products/cloudflare-one/src/content/static/documentation/identity/adfs/adfs-20.png
  products/cloudflare-one/src/content/static/documentation/identity/azure/add-azure.png
  products/cloudflare-one/src/content/static/documentation/identity/citrixadc/citrixadc-saml-5.png
  products/cloudflare-one/src/content/static/documentation/identity/citrixadc/citrixadc-saml-7.png
  products/cloudflare-one/src/content/static/documentation/identity/facebook/fb10.png
  products/cloudflare-one/src/content/static/documentation/identity/generic-oidc/generic-oidc-2.png
  products/cloudflare-one/src/content/static/documentation/identity/generic-oidc/generic-oidc-3.png
  products/cloudflare-one/src/content/static/documentation/identity/generic-oidc/oidc.png
  products/cloudflare-one/src/content/static/documentation/identity/gsuite/add-gsuite.png
  products/cloudflare-one/src/content/static/documentation/identity/gsuite/input-client.png
  products/cloudflare-one/src/content/static/documentation/identity/gsuite/visit-link.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/add-okta.png
  products/cloudflare-one/src/content/tutorials/block-football.md
  products/cloudflare-one/src/content/tutorials/block-uploads.md
  products/cloudflare-one/src/content/tutorials/corp-device-tag.md
  products/cloudflare-one/src/content/tutorials/secure-dns-devices.md
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel.md
  products/cloudflare-one/src/content/tutorials/zero-trust-network-access.md
Labels: product:cloudflare-one

#1757 Correct localhost info regarding ports
  products/stream/src/content/viewing-videos/securing-your-stream.md
Labels: product:stream

#1773 Update changelog.md
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#1775 [Workers] Cache broken link
  products/workers/src/content/runtime-apis/cache.md
Labels: product:workers

#1728 [1.1.1.1] Update the DNS over Discord docs
  products/1.1.1.1/src/content/fun-stuff/dns-over-discord.md
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command-example-1.png
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command-example-2.png
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command-refresh.gif
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command-types.png
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command-example-1.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command-example-2.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command-refresh.gif
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command-types.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command.png
Labels: documentation

#1763 Fix broken link to Known issues section
  products/workers/src/content/learning/debugging-workers.md
Labels: product:workers

#1778 [Workers] Request and response limit updates
  products/workers/src/content/platform/limits.md
Labels: product:workers

#1764 WARP Performance
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/warp-client/src/content/known-issues-and-faq/index.md
Labels: product:cloudflare-one

#1759 [Pages] add tutorial for deploying a Nuxt site in nuxt.md
  products/pages/src/content/framework-guides/nuxt.md
Labels: product:pages

#1776 Fix deploy a static WordPress site WP2Static plugin link and info
  products/workers/src/content/tutorials/deploy-a-static-wordpress-site/index.md
Labels: product:workers

#1780 [Teams] list of Category IDs
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/dns-categories.md
Labels: product:cloudflare-one

#1782 Update to split tunnel pages
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/local-domains.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/split-tunnels.md
Labels: product:cloudflare-one

#1781 [Workers] Headers class documentation
  products/workers/src/content/runtime-apis/headers.md
Labels: product:workers

#1777 [Pages] Fix broken links
  products/pages/src/content/framework-guides/elderjs.md
  products/pages/src/content/platform/rollbacks.md
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
Labels: product:pages

#1783 [Pages] Limits update + builds documentation
  products/pages/src/content/platform/limits.md
Labels: product:pages

#1124 Updating create-react-app instructions
  products/workers/src/content/tutorials/deploy-a-react-app-with-create-react-app/index.md
Labels: product:workers, technical review

#1262 optimize query
  products/workers/src/content/examples/extract-cookie-value.md
Labels: product:workers

#1787 [pages] Fix intro paragraph for Jekyll
  products/pages/src/content/framework-guides/deploy-a-jekyll-site.md
Labels: product:pages

#1068 Added language to pages docs to explain caveat on custom domains
  products/pages/src/content/getting-started/index.md
Labels: product:pages, technical review

#1668 Little clarification that cache API wont work on workers.dev
  products/workers/src/content/runtime-apis/cache.md
Labels: product:workers

#1789 [Workers] workers.dev routes update
  products/workers/src/content/platform/environments.md
  products/workers/src/content/platform/routes.md
Labels: product:workers

#930 Remove redundant await in return statement.
  products/stream/src/content/uploading-videos/direct-creator-uploads.md
  products/workers/src/content/examples/aggregate-requests.md
  products/workers/src/content/examples/bulk-origin-proxy.md
  products/workers/src/content/examples/cors-header-proxy.md
  products/workers/src/content/examples/country-code-redirect.md
  products/workers/src/content/examples/data-loss-prevention.md
  products/workers/src/content/examples/fetch-html.md
  products/workers/src/content/examples/fetch-json.md
  products/workers/src/content/examples/post-json.md
  products/workers/src/content/examples/read-post.md
  products/workers/src/content/learning/using-durable-objects.md
  products/workers/src/content/tutorials/build-a-qr-code-generator/index.md
Labels: product:workers

#1799 [Pages] http tutorial revision
  products/pages/src/content/how-to/add-custom-http-headers.md
Labels: product:pages

#1793 Change types of Array<String> to Array<string>
  products/workers/src/content/runtime-apis/durable-objects.md
Labels: product:workers

#1795 Fix a routing issue in create-react-app guide
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
Labels: product:pages

#1801 [Pages] how-to update
  products/pages/src/content/how-to/npm-private-registry.md
Labels: product:pages

#1811 [Teams] correct typo in require-warp.md
  products/cloudflare-one/src/content/identity/devices/require-warp.md
Labels: product:cloudflare-one

#1807 [Pages] fix broken link display in Get Started
  products/pages/src/content/getting-started/index.md
Labels: product:pages

#1022 Create Blazor how-to
  products/pages/src/content/framework-guides/deploy-a-blazor-site.md
Labels: documentation, product:pages

#1751 Call out the need for poster url encoding
  products/stream/src/content/viewing-videos/using-the-stream-player.md
Labels: product:stream

#1816 [Pages] Get started page update
  products/pages/src/content/getting-started/index.md
Labels: product:pages

#1817 [Workers] Request headers documentation
  products/workers/src/content/runtime-apis/headers.md
Labels: product:workers

#1826 [Teams] Update index.md
  products/cloudflare-one/src/content/analytics/index.md
Labels: product:cloudflare-one

#1828 [Workers] Broken link in routes
  products/workers/src/content/platform/routes.md
Labels: product:workers

#1830 [Teams] Update rdp.md
  products/cloudflare-one/src/content/tutorials/rdp.md
Labels: product:cloudflare-one

#1838 [Teams] Update technical-limitations.md
  products/cloudflare-one/src/content/technical-limitations.md
Labels: product:cloudflare-one

#1834 updated tunnel limits
  products/cloudflare-one/src/content/technical-limitations.md
Labels: product:cloudflare-one

#1850 [Workers] PCX metadata add to docs
  products/workers/src/content/examples/ab-testing.md
  products/workers/src/content/examples/accessing-the-cloudflare-object.md
  products/workers/src/content/examples/aggregate-requests.md
  products/workers/src/content/examples/alter-headers.md
  products/workers/src/content/examples/auth-with-headers.md
  products/workers/src/content/examples/basic-auth.md
  products/workers/src/content/examples/block-on-tls.md
  products/workers/src/content/examples/bulk-origin-proxy.md
  products/workers/src/content/examples/bulk-redirects.md
  products/workers/src/content/examples/cache-api.md
  products/workers/src/content/examples/cache-post-request.md
  products/workers/src/content/examples/cache-using-fetch.md
  products/workers/src/content/examples/conditional-response.md
  products/workers/src/content/examples/cors-header-proxy.md
  products/workers/src/content/examples/country-code-redirect.md
  products/workers/src/content/examples/data-loss-prevention.md
  products/workers/src/content/examples/debugging-logs.md
  products/workers/src/content/examples/extract-cookie-value.md
  products/workers/src/content/examples/fetch-html.md
  products/workers/src/content/examples/fetch-json.md
  products/workers/src/content/examples/geolocation-app-weather.md
  products/workers/src/content/examples/geolocation-custom-styling.md
  products/workers/src/content/examples/geolocation-hello-world.md
  products/workers/src/content/examples/hot-link-protection.md
  products/workers/src/content/examples/http2-server-push.md
  products/workers/src/content/examples/index.md
  products/workers/src/content/examples/logging-headers.md
  products/workers/src/content/examples/modify-request-property.md
  products/workers/src/content/examples/modify-response.md
  products/workers/src/content/examples/post-json.md
  products/workers/src/content/examples/read-post.md
  products/workers/src/content/examples/redirect.md
  products/workers/src/content/examples/respond-with-another-site.md
  products/workers/src/content/examples/return-html.md
  products/workers/src/content/examples/return-json.md
  products/workers/src/content/examples/rewrite-links.md
  products/workers/src/content/examples/security-headers.md
  products/workers/src/content/examples/signing-requests.md
  products/workers/src/content/runtime-apis/streams/readablestream.md
  products/workers/src/content/runtime-apis/streams/readablestreambyobreader.md
  products/workers/src/content/runtime-apis/streams/readablestreamdefaultreader.md
  products/workers/src/content/runtime-apis/streams/transformstream.md
  products/workers/src/content/runtime-apis/streams/writablestream.md
  products/workers/src/content/runtime-apis/streams/writablestreamdefaultwriter.md
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/index.md
  products/workers/src/content/tutorials/index.md
Labels: product:workers

#1883 [Pages] Rename "Migrations" to "Migration Guides"
  products/pages/src/content/migration-guides/index.md
  products/pages/src/content/migration-guides/migrating-from-firebase.md
  products/pages/src/content/migration-guides/migrating-from-netlify/index.md
  products/pages/src/content/migration-guides/migrating-from-netlify/netlify-deploy-1.png
  products/pages/src/content/migration-guides/migrating-from-netlify/netlify-deploy-2.png
  products/pages/src/content/migration-guides/migrating-from-netlify/netlify-deploy-3.png
  products/pages/src/content/migration-guides/migrating-from-netlify/netlify-deploy-4.png
  products/pages/src/content/migration-guides/migrating-from-vercel/index.md
  products/pages/src/content/migration-guides/migrating-from-vercel/vercel-deploy-1.png
  products/pages/src/content/migration-guides/migrating-from-vercel/vercel-deploy-2.png
  products/pages/src/content/migration-guides/migrating-from-vercel/vercel-deploy-3.png
  products/pages/src/content/migration-guides/migrating-from-workers/index.md
Labels: product:pages

#882 [starters] Add Vitedge template
  products/workers/src/content/get-started/quickstarts.md
Labels: product:workers, technical review

#1886 [Pages] rename migrations to migration guides
  products/pages/src/content/migrations/index.md
Labels: product:pages

#1878 [Teams] Update teams-troubleshooting.md
  products/cloudflare-one/src/content/faq/teams-troubleshooting.md
Labels: product:cloudflare-one

#1881 [Pages] Preview development page update
  products/pages/src/content/platform/preview-deployment-generated.png
  products/pages/src/content/platform/preview-deployment-mergedone.png
  products/pages/src/content/platform/preview-deployments.md
Labels: product:pages

#1882 [Pages] How to specify root directory in get started
  products/pages/src/content/getting-started/images/root-directory.png
  products/pages/src/content/getting-started/index.md
Labels: product:pages

#1880 [Pages] Build configuration updates
  products/pages/src/content/framework-guides/deploy-anything.md
  products/pages/src/content/getting-started/index.md
  products/pages/src/content/platform/build-configuration.md
Labels: product:pages

#1897 [Pages] Get started guide URL fix
  products/pages/src/content/get-started/images/build-settings.png
  products/pages/src/content/get-started/images/configuration.png
  products/pages/src/content/get-started/images/deploy-log.png
  products/pages/src/content/get-started/images/domains.png
  products/pages/src/content/get-started/images/settings.png
  products/pages/src/content/get-started/images/site-dashboard.png
  products/pages/src/content/get-started/index.md
Labels: product:pages
