Repository cloudflare/cloudflare-docs, pull requests merged in 2021-09, with the labels that each got.

#2185 [Teams] Update cloudflare-tunnels-faq.md
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
Labels: product:cloudflare-one

#2191 [Teams] Create tunnel migration guide
  products/cloudflare-one/src/content/connections/connect-apps/do-more-with-tunnels/migrate-legacy-tunnels.md
Labels: product:cloudflare-one

#2195 [Teams] Seat management docs update
  products/cloudflare-one/src/content/faq/teams-getting-started-faq.md
Labels: product:cloudflare-one

#1213 Runtime API: Update Request.tlsClientAuth fields
  products/workers/src/content/runtime-apis/request.md
Labels: product:workers, technical review

#2200 [Teams] certificate files
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
  products/cloudflare-one/src/content/static/documentation/connections/Cloudflare_CA.pem
Labels: product:cloudflare-one

#2173 [Workers] QR code revision
  products/workers/src/content/tutorials/build-a-qr-code-generator/index.md
Labels: product:workers

#2131 [Workers] Jamstack tutorial revision
  products/workers/src/content/tutorials/build-a-jamstack-app/index.md
Labels: product:workers

#2197 chore(do): add waituntil section
  products/workers/src/content/runtime-apis/durable-objects.md
Labels: product:workers

#1996 Update durable-objects.md
  products/workers/src/content/runtime-apis/durable-objects.md
Labels: product:workers

#2210 Update manual-deployment.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/manual-deployment.md
Labels: product:cloudflare-one

#2186 Added a ref to git resource
  products/pages/src/content/_partials/_tutorials-before-you-start.md
  products/pages/src/content/framework-guides/astro.md
  products/pages/src/content/framework-guides/deploy-a-blazor-site.md
  products/pages/src/content/framework-guides/deploy-a-gatsby-site.md
  products/pages/src/content/framework-guides/deploy-a-hugo-site.md
  products/pages/src/content/framework-guides/deploy-a-jekyll-site.md
  products/pages/src/content/framework-guides/deploy-a-nextjs-site.md
  products/pages/src/content/framework-guides/deploy-a-preact-site.md
  products/pages/src/content/framework-guides/deploy-a-react-application.md
  products/pages/src/content/framework-guides/deploy-a-sphinx-site.md
  products/pages/src/content/framework-guides/deploy-a-svelte-site.md
  products/pages/src/content/framework-guides/deploy-a-vue-application.md
  products/pages/src/content/framework-guides/deploy-a-zola-site.md
  products/pages/src/content/framework-guides/deploy-an-angular-application.md
  products/pages/src/content/framework-guides/deploy-an-eleventy-site.md
  products/pages/src/content/framework-guides/deploy-anything.md
  products/pages/src/content/framework-guides/elderjs.md
  products/pages/src/content/framework-guides/nuxt.md
Labels: product:pages

#2220 Update index.md
  products/page-shield/src/content/script-monitor/get-started/index.md
Labels: product:page-shield

#2056 Add teams mode caveat to ZTNA Tutorial
  products/cloudflare-one/src/content/tutorials/zero-trust-network-access.md
Labels: product:cloudflare-one

#2190 Fix copy/paste error in Cloudflare Access SMB tutorial
  products/cloudflare-one/src/content/tutorials/smb.md
Labels: product:access

#2226 Update teams-troubleshooting.md
  products/cloudflare-one/src/content/faq/teams-troubleshooting.md
Labels: product:cloudflare-one

#2213 [Workers] CDN tutorial revision
  products/workers/src/content/tutorials/configure-your-cdn/index.md
Labels: product:workers

#2037 Clarify signed URL vs signed Token
  products/stream/src/content/viewing-videos/using-the-stream-player.md
Labels: product:stream

#2211 [Workers] Update changelog with recent release notes
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#2236 Stream Connect no longer Beta
  products/stream/src/content/stream-connect.md
Labels: product:stream

#2235 [Teams] Google Workspace Tutorial
  products/cloudflare-one/src/content/static/zero-trust-security/google-workspace-saas/sso-profile.png
  products/cloudflare-one/src/content/static/zero-trust-security/google-workspace-saas/teams-app-fields.png
  products/cloudflare-one/src/content/static/zero-trust-security/google-workspace-saas/third-party-profile.png
  products/cloudflare-one/src/content/tutorials/google-workspace-saas.md
Labels: product:cloudflare-one

#2237 Add note to use the pem vs crt certificate.
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
Labels: product:warp-client, product:cloudflare-one

#2250 Update migrate-tunnels-legacy.md formatting
  products/cloudflare-one/src/content/connections/connect-apps/do-more-with-tunnels/migrate-legacy-tunnels.md
Labels: product:cloudflare-one

#2252 Fix typo in do-not-decrypt.md
  products/cloudflare-one/src/content/tutorials/do-not-decrypt.md
Labels: product:cloudflare-one

#2253 [Teams] Fix formatting issues
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
Labels: product:cloudflare-one

#2224 [Workers] React tutorial revision
  products/workers/src/content/tutorials/deploy-a-react-app-with-create-react-app/index.md
Labels: product:workers

#2258 remove unnecessary await
  products/workers/src/content/learning/using-durable-objects.md
Labels: product:workers

#2249 Per Account Keys docs change
  products/cloudflare-one/src/content/identity/users/validating-json.md
Labels: product:cloudflare-one

#2010 [CF1] Limitations for lb tunnels
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/lb.md
Labels: product:cloudflare-one

#1729 add link to cloudflare access crl worker
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
Labels: product:cloudflare-one

#2273 Make tunnel configuration example more generic
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-guide.md
Labels: product:cloudflare-one

#2248 Add Linux manual deployment steps
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/manual-deployment.md
Labels: product:cloudflare-one

#2161 Add load balancer pool monitor config note
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/lb.md
Labels: product:argo-tunnel, product:cloudflare-one

#1877 [Teams] Update dns-over-https.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/dns-over-https.md
Labels: product:cloudflare-one

#2274 Update run-as-service.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/run-as-service.md
Labels: product:cloudflare-one

#2082 This PR will create preview links for any pull request with changes o…
  .github/workflows/preview.yml
  get-products-from-file-paths.js
Labels: preview

#2277 [Teams] fixes to tunnel docs
  products/cloudflare-one/src/content/connections/connect-apps/configuration/configuration-file/ingress.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/trycloudflare.md
  products/cloudflare-one/src/content/faq/teams-troubleshooting.md
Labels: product:cloudflare-one

#2120 clearer instructions when using workers subdomain
  products/workers/src/content/platform/sites/start-from-scratch.md
Labels: product:workers

#2280 [Teams] tunnel logs
  products/cloudflare-one/src/content/connections/connect-apps/configuration/arguments.md
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
Labels: product:cloudflare-one, preview

#2291 Fix the links to the examples for 1.1.1.1 UDP and JSON formats.
  products/1.1.1.1/src/content/encrypted-dns/dns-over-https/make-api-requests/index.md
Labels: documentation

#2298 [Teams] Update validating-json.md
  products/cloudflare-one/src/content/identity/users/validating-json.md
Labels: product:cloudflare-one

#2177 Clarify Pages caching behavior
  products/pages/src/content/platform/serving-pages.md
Labels: product:workers

#1905 Edge Cache TTL can work without Cache Everything
  products/cache/src/content/about/edge-browser-cache-ttl.md
Labels: product:cache

#2306 Add Script Monitor API page
  products/page-shield/src/content/reference/index.md
  products/page-shield/src/content/reference/script-monitor-api.md
  products/page-shield/src/content/script-monitor/about/index.md
  products/page-shield/src/content/script-monitor/get-started/index.md
  products/page-shield/src/content/script-monitor/index.md
  products/page-shield/src/content/script-monitor/troubleshooting/index.md
  products/page-shield/src/content/script-monitor/use-dashboard/index.md
Labels: preview

#2066 dobjects: include migrations documentation
  products/workers/src/content/learning/using-durable-objects.md
Labels: product:workers

#2320 Add instructions for Google Cloud DNS forwarding
  products/1.1.1.1/src/content/setup-1.1.1.1/google-cloud.md
Labels: documentation

#2324 Update tunnel-guide.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-guide.md
Labels: product:cloudflare-one

#2312 [Teams] new tunnel landing page
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/static/documentation/connections/connect-apps/tunnel-blog.png
Labels: product:cloudflare-one, preview

#2315 [Teams] tutorial hubspot
  products/cloudflare-one/src/content/static/zero-trust-security/hubspot-saas/hubspot-certificate.png
  products/cloudflare-one/src/content/static/zero-trust-security/hubspot-saas/hubspot-saas-ui.png
  products/cloudflare-one/src/content/tutorials/hubspot-saas.md
Labels: product:cloudflare-one

#2325 Adding additional URL's and extra info.
  products/1.1.1.1/src/content/1.1.1.1-for-families/router.md
Labels: documentation

#2327 [NEL] Added Network Error Logging docs
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  developers.cloudflare.com/src/components/product-grid.js
  products/network-error-logging/README.md
  products/network-error-logging/docs-config.js
  products/network-error-logging/package.json
  products/network-error-logging/src/content/_partials/_beta.md
  products/network-error-logging/src/content/get-started/index.md
  products/network-error-logging/src/content/how-to/index.md
  products/network-error-logging/src/content/icons/network-error-logging.js
  products/network-error-logging/src/content/index.md
  products/network-error-logging/src/content/reference/index.md
  products/network-error-logging/src/content/static/last-mile.png
  products/network-error-logging/wrangler.toml
Labels: preview

#2342 [Teams] Update install-cloudflare-cert.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
Labels: product:cloudflare-one

#1594 Stream Analytics - 3rd party player
  products/stream/src/content/getting-analytics/fetching-bulk-analytics.md
Labels: product:stream

#1666 clarify direct creator upload using tus
  products/stream/src/content/uploading-videos/direct-creator-uploads.md
Labels: product:stream

#2348 [Teams] Update tunnel-guide.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-guide.md
Labels: product:cloudflare-one

#2349 [Teams] Update install-cloudflare-cert.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
Labels: product:cloudflare-one

#2350 [Teams] Update teams-devices-faq.md
  products/cloudflare-one/src/content/faq/teams-devices-faq.md
Labels: product:cloudflare-one

#2326 edit preview yml
  .github/workflows/preview.yml
  get-products-from-file-paths.js
  products/spectrum/wrangler.toml
Labels: preview

#2347 Fix SvelteKit pages docs to use ESM config
  products/pages/src/content/framework-guides/deploy-a-svelte-site.md
Labels: product:workers

#2353 [Images] Improve the deleting images docs
  products/images/src/content/deleting-images.md
Labels: product:images

#2362 [Teams] Update tunnel-useful-commands.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-useful-commands.md
Labels: product:cloudflare-one

#2244 [Workers] Github notifs tutorial revision
  products/workers/src/content/tutorials/github-sms-notifications-using-twilio/index.md
Labels: product:workers

#2330 new guide on profiling workers
  products/workers/src/content/learning/how-kv-works.md
  products/workers/src/content/learning/how-the-cache-works.md
  products/workers/src/content/learning/how-workers-works.md
  products/workers/src/content/learning/integrations.md
  products/workers/src/content/learning/media/chrome-inspect.png
  products/workers/src/content/learning/media/devtools-chart.png
  products/workers/src/content/learning/metrics-and-analytics.md
  products/workers/src/content/learning/profiling-workers.md
  products/workers/src/content/learning/security-model/index.md
  products/workers/src/content/learning/using-durable-objects.md
  products/workers/src/content/learning/using-streams.md
  products/workers/src/content/learning/using-websockets.md
Labels: product:workers

#2372 Update scheduled-changes.md
  products/waf/src/content/change-log/scheduled-changes.md
Labels: product:firewall

#2386 [Teams] Temporary auth + tutorial docs
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/deploy-cloudflared-replicas.md
  products/cloudflare-one/src/content/policies/zero-trust/require-purpose-justification.md
  products/cloudflare-one/src/content/policies/zero-trust/temporary-auth.md
  products/cloudflare-one/src/content/static/zero-trust-security/docusign/Screenshot 2021-09-27 at 13.01.49.png
  products/cloudflare-one/src/content/static/zero-trust-security/docusign/custom-attribute-mapping.png
  products/cloudflare-one/src/content/static/zero-trust-security/docusign/saml-attributes.png
  products/cloudflare-one/src/content/static/zero-trust-security/docusign/saml-endpoints.png
  products/cloudflare-one/src/content/tutorials/docusign-access.md
Labels: product:cloudflare-one

#2385 [Workers] Profiling Workers revision
  products/workers/src/content/learning/profiling-workers.md
Labels: product:workers

#2316 Add capability for watching products directories and files
  develop.js
  package.json
  products/docs-engine/src/content/contributing/development-setup.md
  watch.js
Labels: docs engine

#2409 [Teams] Update index.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
Labels: product:cloudflare-one

#2408 [Teams] Update dns.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/dns.md
Labels: product:cloudflare-one

#2415 Marcio/stream live - pcx-2698
  products/stream/src/content/faq/index.md
  products/stream/src/content/getting-analytics/fetching-bulk-analytics.md
  products/stream/src/content/stream-connect.md
  products/stream/src/content/stream-live/create-live-input.png
  products/stream/src/content/stream-live/index.md
  products/stream/src/content/stream-live/live-input-name.png
  products/stream/src/content/stream-live/live-inputs-dash.png
  products/stream/src/content/stream-live/live-video-stream.png
  products/stream/src/content/stream-live/rtmps-key.png
  products/stream/src/content/stream-live/simulcasting.md
  products/stream/src/content/stream-live/simulcasting.png
  products/stream/src/content/stream-live/start-stream-live.md
  products/stream/src/content/stream-live/watch-live-stream.md
Labels: documentation

#2404 Remove URL.createObjectURL from example script for reading POST data
  products/workers/src/content/examples/read-post.md
Labels: product:workers

#2380 Update command.md to match CLI output
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers
