Repository cloudflare/cloudflare-docs, pull requests merged in 2021-12, with the labels that each got.

#2816 [Workers] Fix KV max value size
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/platform/limits.md
  products/workers/src/content/platform/sites/configuration.md
  products/workers/src/content/runtime-apis/kv.md
Labels: product:workers

#2827 Update firewall.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/firewall.md
Labels: product:warp-client, product:cloudflare-one

#2833 Update supported version of clients
  products/cloudflare-one/src/content/connections/connect-devices/warp/download-warp.md
Labels: product:cloudflare-one

#2829 [Access] Add client signing steps for keycloak
  products/cloudflare-one/src/content/identity/idp-integration/keycloak.md
Labels: product:cloudflare-one

#2841 [Teams] okta work
  products/cloudflare-one/src/content/connections/connect-devices/warp/warp-settings.md
  products/cloudflare-one/src/content/identity/idp-integration/okta.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-okta.md
  products/cloudflare-one/src/content/static/documentation/identity/okta/Add_Okta_Cred_API_Token.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/add-uri.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/app-view.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/assign-app.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/assignments-tab.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/choose-okta.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/credentials.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/input-credentials.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/okta-1.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/okta-2.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/okta-3.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/select-admin.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/web-app.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/with-mfa.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-1.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-10.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-11.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-12.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-13.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-14.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-2.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-4.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-5.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-6.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-7.png
  products/cloudflare-one/src/content/static/documentation/identity/saml-okta/saml-okta-8.png
Labels: product:cloudflare-one

#2786 [Teams] accessibility for BI
  products/cloudflare-one/src/content/policies/browser-isolation/accessibility.md
Labels: product:cloudflare-one

#2853 [Workers] headers link
  products/workers/src/content/runtime-apis/headers.md
Labels: product:workers

#2844 [Workers] Websockets revision
  products/workers/src/content/runtime-apis/websockets.md
Labels: product:workers

#2196 [workers] Add DNS info to custom route page
  products/workers/src/content/platform/routes.md
Labels: product:workers

#2859 Add details around integrated experiences
  products/cloudflare-one/src/content/connections/connect-devices/warp/warp-settings.md
Labels: product:cloudflare-one

#2868 Update fallback domain information for new functionality
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/local-domains.md
Labels: product:cloudflare-one

#2847 Placeholder for workspace one posture integration
  products/cloudflare-one/src/content/identity/devices/workspace-one.md
Labels: product:cloudflare-one

#2869 update line 187
  products/cloudflare-one/src/content/tutorials/rdp.md
Labels: product:cloudflare-one

#2831 Clarify ip length field.
  products/magic-firewall/src/content/reference/magic-firewall-fields.md
Labels: product:magic

#2872 [Workers] fetchevent broken link fix
  products/workers/src/content/get-started/guide.md
  products/workers/src/content/learning/playground.md
  products/workers/src/content/runtime-apis/request.md
Labels: product:workers

#2851 Add missing .cloudflareaccess in signing SAML requests
  products/cloudflare-one/src/content/identity/idp-integration/generic-saml.md
Labels: product:cloudflare-one

#2807 [Workers] platform workers sites revision
  products/workers/src/content/platform/sites/configuration.md
  products/workers/src/content/platform/sites/index.md
  products/workers/src/content/platform/sites/start-from-existing.md
  products/workers/src/content/platform/sites/start-from-scratch.md
  products/workers/src/content/platform/sites/start-from-worker.md
Labels: product:workers

#2891 [Workers] addEventListener revision
  products/workers/src/content/runtime-apis/add-event-listener.md
Labels: product:workers

#2783 [Workers] learning revision
  products/workers/src/content/learning/how-kv-works.md
  products/workers/src/content/learning/how-workers-works.md
  products/workers/src/content/learning/security-model/index.md
Labels: product:workers

#2896 Update browser isolation third-party cookies instructions
  products/cloudflare-one/src/content/policies/browser-isolation/third-party-cookies.md
Labels: product:cloudflare-one

#2897 Update okta.md
  products/cloudflare-one/src/content/identity/idp-integration/okta.md
Labels: product:cloudflare-one

#2880 [Pages]: Deploy previews are limited preview-deployments.md
  products/pages/src/content/platform/preview-deployments.md
Labels: product:pages

#2275 Pages - Add section about preview deploys aliases
  products/pages/src/content/platform/preview-deployments.md
Labels: product:workers

#2904 [Workers] pricing table revision
  products/workers/src/content/platform/pricing.md
Labels: product:workers

#2907 Update changelog.md
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#2908 [Workers] readAtLeast revision
  products/workers/src/content/runtime-apis/streams/readablestreambyobreader.md
Labels: product:workers

#2921 [Teams] config changes
  products/cloudflare-one/src/content/applications/non-http/arbitrary-tcp.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/arguments.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/configuration-file/index.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/configuration-file/ingress.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/origins-via-cli.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
  products/cloudflare-one/src/content/tutorials/salesforce-saas.md
Labels: product:cloudflare-one

#2255 [Workers] Airtable tutorial revision
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/index.md
Labels: product:workers

#2842 [Workers] how the cache works revision
  products/workers/src/content/learning/how-the-cache-works.md
Labels: product:workers

#2930 [Pages] Aliases
  products/pages/src/content/platform/preview-deployments.md
Labels: product:pages

#2924 [pages] get started update
  products/pages/src/content/get-started/index.md
Labels: product:pages, preview

#2895 [Workers] fetch and headers revision
  products/workers/src/content/runtime-apis/fetch.md
  products/workers/src/content/runtime-apis/headers.md
Labels: product:workers

#2948 [Pages] netlify edit
  products/pages/src/content/migrations/migrating-from-netlify/index.md
Labels: product:pages

#2954 added the previous dns resolver design
  products/1.1.1.1/docs-config.js
Labels: product:1.1.1.1, product:dns

#2959 [workers] airtable tutorial revision
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/index.md
Labels: product:workers

#2960 [Workers] notifications revision
  products/workers/src/content/get-started/guide.md
Labels: product:workers

#2945 Update generic-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/generic-oidc.md
Labels: product:cloudflare-one

#2974 [Teams] Update set-up-warp.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/set-up-warp.md
Labels: product:cloudflare-one

#2978 [Teams] add device posture checks for GW
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/network-policies/index.md
Labels: product:cloudflare-one

#2977 [Teams] Update index.md
  products/cloudflare-one/src/content/policies/zero-trust/index.md
Labels: product:cloudflare-one

#2858 Update private-networks.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/private-networks.md
Labels: product:cloudflare-one

#2952 Align logpush cURL examples to be consistent
  products/logs/src/content/reference/logpush-api-configuration/examples/example-logpush-curl/index.md
Labels: product:logs

#3001 [Teams] Private IPs & hostnames docs
  products/cloudflare-one/src/content/analytics/logs/index.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/private-networks.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/create-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/index.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/private-hostnames-ips.md
  products/cloudflare-one/src/content/static/documentation/connections/local-domain-fallback-entry.png
  products/cloudflare-one/src/content/static/documentation/connections/private-ips-diagram.png
Labels: product:cloudflare-one

#3018 internal dns tutorial
  products/cloudflare-one/src/content/static/secure-origin-connections/warp-to-tunnel-internal-dns/create-local-domain-fallback.png
  products/cloudflare-one/src/content/static/secure-origin-connections/warp-to-tunnel-internal-dns/enable-udp.png
  products/cloudflare-one/src/content/static/secure-origin-connections/warp-to-tunnel-internal-dns/manage-local-domain-fallback.png
  products/cloudflare-one/src/content/static/secure-origin-connections/warp-to-tunnel-internal-dns/network-settings.png
  products/cloudflare-one/src/content/static/secure-origin-connections/warp-to-tunnel-internal-dns/update-cfd.png
  products/cloudflare-one/src/content/static/secure-origin-connections/warp-to-tunnel-internal-dns/warp-to-tunnel.png
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel-internal-dns.md
Labels: product:cloudflare-one

#3034 Clarification of remote and local machines
  products/cloudflare-one/src/content/identity/users/short-lived-certificates.md
Labels: product:cloudflare-one

#3035 [Teams] Update private-hostnames-ips.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/private-hostnames-ips.md
Labels: product:cloudflare-one

#3036 [Teams] Update index.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/configuration-file/index.md
Labels: product:cloudflare-one

#3038 [Cloudflare Docs] Add a category for domain testing
  products/cloudflare-one/src/content/policies/filtering/dns-policies/categories.md
Labels: product:cloudflare-one
