Repository cloudflare/cloudflare-docs, pull requests merged in 2021-01, with the labels that each got.

#546 Update DNS over Discord docs with Slash Commands
  products/1.1.1.1/src/content/fun-stuff/dns-over-discord.md
  products/1.1.1.1/src/content/static/dns-over-discord-1.png
  products/1.1.1.1/src/content/static/dns-over-discord-2.png
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command-example-1.png
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command-example-2.png
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command-types.png
  products/1.1.1.1/src/content/static/dns-over-discord/dig-command.png
  products/1.1.1.1/src/content/static/dns-over-discord/github-command.png
  products/1.1.1.1/src/content/static/dns-over-discord/help-command.png
  products/1.1.1.1/src/content/static/dns-over-discord/invite-command.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command-example-1.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command-example-2.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command-types.png
  products/1.1.1.1/src/content/static/dns-over-discord/multi-dig-command.png
  products/1.1.1.1/src/content/static/dns-over-discord/privacy-command.png
Labels: product:1.1.1.1

#569 workers: available request.cf properties to plans
  products/workers/src/content/runtime-apis/request.md
Labels: bug, product:workers

#557 refactor(workers): add missing whitespace in cache using fetch example
  products/workers/src/content/examples/cache-using-fetch.md
Labels: product:workers

#589 [Teams] fix tutorials + remove duplicate pages + fix groups page
  products/cloudflare-one/src/content/identity/idps/google-workspace.md
  products/cloudflare-one/src/content/identity/idps/index.md
  products/cloudflare-one/src/content/identity/login-customization.md
  products/cloudflare-one/src/content/identity/users/groups.md
  products/cloudflare-one/src/content/index.md
  products/cloudflare-one/src/content/tutorials/index.md
Labels: product:cloudflare-one

#596 [Teams] cleanup and add troubleshooting section
  products/cloudflare-one/src/content/applications/configure-applications.md
  products/cloudflare-one/src/content/faq/access.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/faq/index.md
  products/cloudflare-one/src/content/faq/tunnel.md
  products/cloudflare-one/src/content/faq/warp.md
  products/cloudflare-one/src/content/policies/filtering-policies/DNS-policies.md
  products/cloudflare-one/src/content/policies/filtering-policies/HTTP-policies.md
  products/cloudflare-one/src/content/policies/filtering-policies/common-configurations.md
  products/cloudflare-one/src/content/policies/filtering-policies/index.md
  products/cloudflare-one/src/content/policies/filtering-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/configuring-block-page.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/safesearch.md
  products/cloudflare-one/src/content/policies/index.md
  products/cloudflare-one/src/content/policies/zero-trust/common-configs.md
  products/cloudflare-one/src/content/policies/zero-trust/policy-management.md
  products/cloudflare-one/src/content/static/documentation/faq/blocked-disabled.png
  products/cloudflare-one/src/content/static/documentation/faq/blocked-enabled.png
  products/cloudflare-one/src/content/static/documentation/faq/gateway-dash-overview-empty.png
  products/cloudflare-one/src/content/static/documentation/faq/http-error-page.png
  products/cloudflare-one/src/content/static/documentation/faq/location-with-destinations.png
  products/cloudflare-one/src/content/static/documentation/faq/locations-doh.png
  products/cloudflare-one/src/content/static/documentation/faq/locations-dot.png
  products/cloudflare-one/src/content/static/documentation/faq/source-ip-taken.png
Labels: product:cloudflare-one

#601 [Teams] cleanup + WARP docs
  products/cloudflare-one/src/content/connections/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/warp/deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/warp/deployment/parameters.md
  products/cloudflare-one/src/content/connections/warp/index.md
  products/cloudflare-one/src/content/connections/warp/system-requirements.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/identity/devices/device-enrollment.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/categories.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/configuring-locations.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/index.md
  products/cloudflare-one/src/content/policies/index.md
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
  products/cloudflare-one/src/content/policies/zero-trust/common-configurations.md
  products/cloudflare-one/src/content/policies/zero-trust/mfa-requirements.md
  products/cloudflare-one/src/content/static/documentation/applications/app-path-1.png
  products/cloudflare-one/src/content/static/documentation/applications/app-path-2.png
  products/cloudflare-one/src/content/static/documentation/applications/identity-rule.png
  products/cloudflare-one/src/content/static/documentation/applications/mfa.png
  products/cloudflare-one/src/content/static/documentation/applications/policy-wildcards.png
  products/cloudflare-one/src/content/static/documentation/connections/com.cloudflare.warp.plist
  products/cloudflare-one/src/content/static/documentation/connections/macOSMenuBar.png
  products/cloudflare-one/src/content/static/documentation/connections/macOS_GatewayButton.png
  products/cloudflare-one/src/content/static/documentation/connections/macOS_TeamsButton.png
  products/cloudflare-one/src/content/static/documentation/connections/windowsSysTray.png
  products/cloudflare-one/src/content/static/documentation/connections/windows_GatewayButton.png
  products/cloudflare-one/src/content/static/documentation/connections/windows_TeamsButton.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/device-enrollment.png
  products/cloudflare-one/src/content/static/documentation/policies/content-categories.png
  products/cloudflare-one/src/content/static/documentation/policies/security-threats.png
Labels: product:cloudflare-one

#605 [Teams] logs
  products/cloudflare-one/src/content/analytics/index.md
  products/cloudflare-one/src/content/analytics/logs/activity-log.md
  products/cloudflare-one/src/content/analytics/logs/audit-logs.md
  products/cloudflare-one/src/content/analytics/logs/index.md
  products/cloudflare-one/src/content/analytics/overview/index.md
  products/cloudflare-one/src/content/applications/index.md
  products/cloudflare-one/src/content/connections/index.md
  products/cloudflare-one/src/content/connections/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/warp/setup.md
  products/cloudflare-one/src/content/identity/index.md
  products/cloudflare-one/src/content/policies/index.md
  products/cloudflare-one/src/content/policies/zero-trust/policies.md
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-filter-by-location.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-filter-by-time.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-overview-empty.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-overview-page.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-top-allowed-and-blocked-requests.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-top-categories.png
  products/cloudflare-one/src/content/static/documentation/logs/teams-dash-activity-log-expanded.png
  products/cloudflare-one/src/content/static/documentation/logs/teams-dash-activity-log.png
  products/cloudflare-one/src/content/tutorials/index.md
Labels: product:cloudflare-one

#607 [Teams] small cleanup
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/connections/connect-devices/DNS/index.md
  products/cloudflare-one/src/content/connections/connect-devices/Troubleshooting.md
  products/cloudflare-one/src/content/connections/connect-devices/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/parameters.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/device-enrollment.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/system-requirements.md
  products/cloudflare-one/src/content/connections/connect-devices/with-client/index.md
  products/cloudflare-one/src/content/connections/connect-without-agent/index.md
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/identity/login-page.md
  products/cloudflare-one/src/content/index.md
  products/cloudflare-one/src/content/static/documentation/connections/client-dns-filtering-only.png
  products/cloudflare-one/src/content/static/documentation/connections/go-to-account.png
  products/cloudflare-one/src/content/static/documentation/connections/go-to-auth-domain-page.png
  products/cloudflare-one/src/content/static/documentation/connections/go-to-device-settings-page.png
  products/cloudflare-one/src/content/static/documentation/connections/go-to-locations-page.png
  products/cloudflare-one/src/content/static/documentation/connections/go-to-teams-dashboard-devices.png
  products/cloudflare-one/src/content/static/documentation/connections/go-to-teams-dashboard.png
Labels: product:cloudflare-one

#610 [Teams] cleanup
  products/cloudflare-one/src/content/analytics/index.md
  products/cloudflare-one/src/content/analytics/logs/index.md
  products/cloudflare-one/src/content/applications/configure-apps/index.md
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/applications/index.md
  products/cloudflare-one/src/content/applications/non-HTTP/arbitrary-tcp.md
  products/cloudflare-one/src/content/applications/non-HTTP/kubectl.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ingress.md
  products/cloudflare-one/src/content/connections/connect-apps/create-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/dns.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/kubernetes.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/lb.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/run-as-service.md
  products/cloudflare-one/src/content/connections/connect-devices/install-cloudflare-cert.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/parameters.md
  products/cloudflare-one/src/content/connections/connect-without-agent/DNS/dns-over-tls.md
  products/cloudflare-one/src/content/connections/connect-without-agent/DNS/native-os.md
  products/cloudflare-one/src/content/connections/index.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/index.md
  products/cloudflare-one/src/content/policies/filtering/index.md
  products/cloudflare-one/src/content/static/documentation/connections/Cloudflare_CA.crt
  products/cloudflare-one/src/content/static/documentation/connections/android_advanced_encrypt.png
  products/cloudflare-one/src/content/static/documentation/connections/android_advanced_encrypt2.png
  products/cloudflare-one/src/content/static/documentation/connections/android_ca_cert.png
  products/cloudflare-one/src/content/static/documentation/connections/android_choose_certificate.png
  products/cloudflare-one/src/content/static/documentation/connections/android_install_anyway.png
  products/cloudflare-one/src/content/static/documentation/connections/android_install_cert.png
  products/cloudflare-one/src/content/static/documentation/connections/android_security_settings.png
  products/cloudflare-one/src/content/static/documentation/connections/cert-click-on-trust.png
  products/cloudflare-one/src/content/static/documentation/connections/cert-select-always-trust.png
  products/cloudflare-one/src/content/static/documentation/connections/ct1.png
  products/cloudflare-one/src/content/static/documentation/connections/expand-locations-card.png
  products/cloudflare-one/src/content/static/documentation/connections/get-unique-subdomain.png
  products/cloudflare-one/src/content/static/documentation/connections/ios_cert_download.jpg
  products/cloudflare-one/src/content/static/documentation/connections/ios_cert_profile1.jpg
  products/cloudflare-one/src/content/static/documentation/connections/ios_cert_trust1.jpg
  products/cloudflare-one/src/content/static/documentation/connections/ios_cert_trust2.jpg
  products/cloudflare-one/src/content/static/documentation/connections/listed-in-keych.png
  products/cloudflare-one/src/content/static/documentation/connections/lt1.png
  products/cloudflare-one/src/content/static/documentation/connections/rt1.png
  products/cloudflare-one/src/content/static/documentation/connections/start-param-1.png
  products/cloudflare-one/src/content/static/documentation/connections/windows_cert_install_finished.png
  products/cloudflare-one/src/content/static/documentation/connections/windows_cert_location.png
  products/cloudflare-one/src/content/static/documentation/connections/windows_install_cert.png
  products/cloudflare-one/src/content/static/documentation/teams-illustration.jpg
  products/cloudflare-one/src/content/static/documentation/teams-no-background.png
Labels: product:cloudflare-one

#613 [Teams] tweaks + new Tunnel copy
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/applications/non-HTTP/arbitrary-tcp.md
  products/cloudflare-one/src/content/connections/connect-apps/create-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/getting-started.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/index.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/installation.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/setup.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/index.md
  products/cloudflare-one/src/content/static/documentation/policies/gateway-flow-1.jpg
  products/cloudflare-one/src/content/static/documentation/policies/gateway-flow-2.jpg
  products/cloudflare-one/src/content/static/documentation/policies/gateway-flow-3.jpg
Labels: product:cloudflare-one

#630 [Teams] cleanup
  products/cloudflare-one/src/content/connections/connect-apps/configuration/origins-via-cli.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/index.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/index.md
  products/cloudflare-one/src/content/connections/connect-devices/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/device-enrollment.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/configuring-a-location.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/match-query-to-location.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/android/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/firefox.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/iOS/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/mac.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/router.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/windows.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/troubleshooting-locations.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/configuring-locations.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/index.md
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
  products/cloudflare-one/src/content/policies/zero-trust/index.md
  products/cloudflare-one/src/content/setup/index.md
  products/cloudflare-one/src/content/static/documentation/connections/expand-location-card.png
  products/cloudflare-one/src/content/static/documentation/connections/expanded-location-with-destinations.png
  products/cloudflare-one/src/content/static/documentation/connections/gateway-dash-overview-empty.png
  products/cloudflare-one/src/content/static/documentation/connections/source-ip-taken.png
  products/cloudflare-one/src/content/static/documentation/policies/location-with-dns-over-https-hostname.png
Labels: product:cloudflare-one

#634 [Teams] wildcards + cleanup
  products/cloudflare-one/src/content/applications/app-paths.md
  products/cloudflare-one/src/content/connections/connect-apps/index.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/index.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/identity/idp-integration/index.md
  products/cloudflare-one/src/content/identity/index.md
  products/cloudflare-one/src/content/identity/users/index.md
  products/cloudflare-one/src/content/identity/users/service-tokens.md
  products/cloudflare-one/src/content/index.md
  products/cloudflare-one/src/content/policies/index.md
  products/cloudflare-one/src/content/setup/index.md
  products/cloudflare-one/src/content/static/documentation/applications/path-subdomain.png
  products/cloudflare-one/src/content/tutorials/migrate-lb-tunnel.md
Labels: product:cloudflare-one

#636 [Teams] service token fix
  products/cloudflare-one/src/content/identity/users/service-tokens.md
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
Labels: product:cloudflare-one

#638 [1.1.1.1] fix broken link for families setup in index.md
  products/1.1.1.1/src/content/1.1.1.1-for-families/index.md
Labels: product:1.1.1.1

#640 [workers] Add discord link to docs
  products/workers/docs-config.js
  products/workers/src/content/index.md
Labels: product:workers

#641 [Teams] add self-diagnostics section + warp cleaning
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/device-enrollment.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
  products/cloudflare-one/src/content/faq/access.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/faq/index.md
  products/cloudflare-one/src/content/faq/self-diagnostics.md
  products/cloudflare-one/src/content/faq/tunnel.md
  products/cloudflare-one/src/content/faq/warp.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/static/documentation/connections/keychain-popup.png
  products/cloudflare-one/src/content/static/documentation/faq/access-page-app-launch.png
  products/cloudflare-one/src/content/static/documentation/faq/help-page.png
Labels: product:cloudflare-one

#646 [Teams] security risks + cleanup
  products/cloudflare-one/src/content/policies/filtering/dns-policies/categories.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/configuring-block-page.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/policy-management.md
  products/cloudflare-one/src/content/setup/index.md
  products/cloudflare-one/src/content/static/documentation/policies/add-policy-name.png
  products/cloudflare-one/src/content/static/documentation/policies/enter-policy-name.png
  products/cloudflare-one/src/content/static/documentation/policies/security-risks.png
Labels: product:cloudflare-one

#654 [Teams] add search bar
  products/cloudflare-one/docs-config.js
Labels: product:cloudflare-one

#659 Add note about configuring certificate on firefox
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
Labels: product:cloudflare-one

#661 Remove KV namespaces from Pages docs
  products/pages/wrangler.toml
Labels: product:pages

#671 [Teams] move and update service tokens section
  products/cloudflare-one/src/content/identity/devices/index.md
  products/cloudflare-one/src/content/identity/service-auth/index.md
  products/cloudflare-one/src/content/identity/service-auth/service-tokens.md
  products/cloudflare-one/src/content/static/documentation/identity/token-notification.png
Labels: product:cloudflare-one

#678 [Teams] What's New page
  products/cloudflare-one/src/content/teams-docs-changes.md
Labels: product:cloudflare-one

#662 [Firewall] add rulesets early access content
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-cmr-joomla-only.md
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-cmr-wordpress-block.md
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-custom-managed-use-case.md
  products/firewall/src/content/cf-rulesets/common-use-cases/enable-selected-rules.md
  products/firewall/src/content/cf-rulesets/common-use-cases/index.md
  products/firewall/src/content/cf-rulesets/common-use-cases/override-ruleset-category-rule.md
  products/firewall/src/content/cf-rulesets/configure-root-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/add-rules-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/create-custom-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/deploy-custom-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/index.md
  products/firewall/src/content/cf-rulesets/deploy-rulesets.md
  products/firewall/src/content/cf-rulesets/index.md
  products/firewall/src/content/cf-rulesets/managed-rulesets/deploy-managed-ruleset.md
  products/firewall/src/content/cf-rulesets/managed-rulesets/index.md
  products/firewall/src/content/cf-rulesets/managed-rulesets/override-managed-ruleset.md
  products/firewall/src/content/cf-rulesets/rulesets-api/endpoints.md
  products/firewall/src/content/cf-rulesets/rulesets-api/get.md
  products/firewall/src/content/cf-rulesets/rulesets-api/index.md
  products/firewall/src/content/cf-rulesets/rulesets-api/json-object.md
  products/firewall/src/content/cf-rulesets/rulesets-api/post.md
  products/firewall/src/content/cf-rulesets/rulesets-api/put.md
  products/firewall/src/content/cf-rulesets/view-root-rulesets.md
  products/firewall/src/content/cf-rulesets/view-rulesets.md
  products/firewall/src/content/images/rulesets-types.png
Labels: documentation

#680 [Magic Transit] removing Oracle link from requirements.md
  products/magic-transit/src/content/set-up/requirements.md
Labels: documentation, enhancement

#693 [Teams] fixes to Teams docs
  products/cloudflare-one/docs-config.js
  products/cloudflare-one/src/content/analytics/logs/index.md
  products/cloudflare-one/src/content/analytics/overview/index.md
  products/cloudflare-one/src/content/api-terraform/access-with-terraform.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/configuring-a-location.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/index.md
  products/cloudflare-one/src/content/faq/access.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/identity/idp-integration/keycloak.md
  products/cloudflare-one/src/content/identity/idp-integration/one-time-pin.md
  products/cloudflare-one/src/content/static/documentation/policies/editable-ip-address.png
Labels: product:cloudflare-one

#700 [Teams] docs on user registry
  products/cloudflare-one/src/content/analytics/logs/activity-log.md
  products/cloudflare-one/src/content/analytics/logs/index.md
  products/cloudflare-one/src/content/analytics/logs/users.md
  products/cloudflare-one/src/content/analytics/users.md
  products/cloudflare-one/src/content/static/documentation/logs/user-list.png
  products/cloudflare-one/src/content/static/documentation/logs/user-summary.png
  products/cloudflare-one/src/content/static/documentation/logs/workplace-records.png
  products/cloudflare-one/src/content/static/documentation/teams-logo.png
  products/cloudflare-one/src/content/teams-docs-changes.md
Labels: product:cloudflare-one
