Repository cloudflare/cloudflare-docs, pull requests merged in 2021-03, with the labels that each got.

#858 [Teams] Update warp-to-tunnel.md
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel.md
Labels: product:cloudflare-one

#854 [Teams] cert pinning + regex docs
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/global-rules.md
Labels: product:cloudflare-one

#883 [Teams] remove duplicate instructions
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/kubernetes.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/router.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/android/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/android/manual.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/android/mdm.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/firefox.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/iOS/cfteams.mobileconfig
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/iOS/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/iOS/manual.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/iOS/mdm.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/linux.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/mac.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/setup-instructions/windows.md
Labels: product:cloudflare-one

#911 [Teams] Salesforce tutorial
  products/cloudflare-one/src/content/static/zero-trust-security/access/salesforce-sso.png
  products/cloudflare-one/src/content/static/zero-trust-security/access/salesforce.png
  products/cloudflare-one/src/content/tutorials/salesforce-saas.md
Labels: product:cloudflare-one

#915 [Teams] App types docs
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/application-app-types.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/lists.md
  products/cloudflare-one/src/content/static/documentation/applications.csv
  products/cloudflare-one/src/content/static/documentation/faq/do-not-decrypt.png
  products/cloudflare-one/src/content/static/documentation/list-test.csv
  products/cloudflare-one/src/content/static/documentation/policies/http-applications-operator-value.png
  products/cloudflare-one/src/content/static/documentation/policies/http-applications.png
  products/cloudflare-one/src/content/tutorials/gateway-list.md
Labels: product:cloudflare-one

#921 [Teams] fixes to app types
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/application-app-types.md
  products/cloudflare-one/src/content/policies/filtering/lists.md
Labels: product:cloudflare-one

#944 [Teams] update to device posture instructions
  products/cloudflare-one/src/content/connections/connect-devices/warp/device-enrollment.md
  products/cloudflare-one/src/content/identity/devices/index.md
  products/cloudflare-one/src/content/identity/devices/tanium.md
  products/cloudflare-one/src/content/static/documentation/identity/devices/add-device-posture.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/add-posture-tanium.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/add-posture.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/add-tanium.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/tanium-setup.png
Labels: product:cloudflare-one

#950 [Teams] tweaks to gateway pages
  products/cloudflare-one/src/content/connections/connect-devices/warp/device-enrollment.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/application-app-types.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
Labels: product:cloudflare-one

#919 [Teams] add doh subdomain glossary entry
  products/cloudflare-one/src/content/connections/connect-devices/agentless/dns-over-https.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/parameters.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/glossary/index.md
Labels: product:cloudflare-one

#956 [Teams] add technical limitations + API example
  products/cloudflare-one/src/content/analytics/logs/audit-logs.md
  products/cloudflare-one/src/content/technical-limitations.md
Labels: product:cloudflare-one

#957 [Teams] fix broken link
  products/cloudflare-one/src/content/connections/connect-networks/private-net/create-tunnel/index.md
Labels: product:cloudflare-one

#969 [Teams] update Location docs
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/configuring-a-location.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/index.md
  products/cloudflare-one/src/content/static/documentation/connections/add-location.png
  products/cloudflare-one/src/content/static/documentation/connections/added-location.png
  products/cloudflare-one/src/content/static/documentation/connections/location-setup-instructions.png
Labels: product:cloudflare-one

#970 [Teams] Update download-warp.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/download-warp.md
Labels: product:cloudflare-one

#971 [do not merge] doc navbar audit
  products/cloudflare-one/src/content/applications/app-launcher.md
  products/cloudflare-one/src/content/applications/non-HTTP/ssh/short-lived-certificates.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/index.md
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/identity/idp-integration/adfs.md
  products/cloudflare-one/src/content/identity/idp-integration/azuread.md
  products/cloudflare-one/src/content/identity/idp-integration/centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/citrixadc-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/facebook-login.md
  products/cloudflare-one/src/content/identity/idp-integration/generic-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/github.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/identity/idp-integration/index.md
  products/cloudflare-one/src/content/identity/idp-integration/jumpcloud-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/keycloak.md
  products/cloudflare-one/src/content/identity/idp-integration/linkedin.md
  products/cloudflare-one/src/content/identity/idp-integration/okta.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/ping-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/signed_authn.md
  products/cloudflare-one/src/content/identity/idp-integration/yandex.md
  products/cloudflare-one/src/content/identity/service-auth/service-tokens.md
  products/cloudflare-one/src/content/identity/users/session-management.md
  products/cloudflare-one/src/content/setup/index.md
  products/cloudflare-one/src/content/static/documentation/applications/access-app-launcher.png
  products/cloudflare-one/src/content/static/documentation/applications/configure-app-launcher.png
  products/cloudflare-one/src/content/static/documentation/identity/auth-home.png
  products/cloudflare-one/src/content/static/documentation/identity/azure/add-azure-ad.png
  products/cloudflare-one/src/content/static/documentation/identity/azure/add-azure.png
  products/cloudflare-one/src/content/static/documentation/identity/azure/add-identity.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/add-mtls.png
  products/cloudflare-one/src/content/static/documentation/identity/devices/mtls-policy.png
  products/cloudflare-one/src/content/static/documentation/identity/google/add-google.png
  products/cloudflare-one/src/content/static/documentation/identity/google/add-idp.png
  products/cloudflare-one/src/content/static/documentation/identity/google/input-client-id.png
  products/cloudflare-one/src/content/static/documentation/identity/login-methods-auth.png
  products/cloudflare-one/src/content/static/documentation/identity/login-methods-card.png
  products/cloudflare-one/src/content/static/documentation/identity/okta/add-okta.png
  products/cloudflare-one/src/content/static/documentation/identity/users/browser-cookies.png
  products/cloudflare-one/src/content/static/documentation/identity/users/cookies.png
  products/cloudflare-one/src/content/static/documentation/identity/users/detail-service-token.png
  products/cloudflare-one/src/content/static/documentation/identity/users/name-service-token.png
  products/cloudflare-one/src/content/static/documentation/identity/users/notification-token.png
  products/cloudflare-one/src/content/static/documentation/identity/users/revoke-app.png
  products/cloudflare-one/src/content/static/documentation/identity/users/revoke-token.png
  products/cloudflare-one/src/content/static/documentation/identity/users/service-token-detail.png
  products/cloudflare-one/src/content/static/documentation/identity/users/service-token-home.png
  products/cloudflare-one/src/content/static/documentation/identity/users/service-token-list.png
  products/cloudflare-one/src/content/static/documentation/identity/users/service-token-name.png
  products/cloudflare-one/src/content/static/documentation/quickstart/quickstart.png
  products/cloudflare-one/src/content/static/documentation/quickstart/step-6.png
Labels: product:cloudflare-one

#976 [Teams] fix link
  products/cloudflare-one/src/content/faq/gateway.md
Labels: product:cloudflare-one

#997 [Teams] fixes
  products/cloudflare-one/src/content/applications/index.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/config.md
  products/cloudflare-one/src/content/policies/zero-trust/common-configs.md
  products/cloudflare-one/src/content/tutorials/gw-rollout-guide.md
  products/cloudflare-one/src/content/tutorials/rdp.md
Labels: product:cloudflare-one

#1006 Bots paygo pcx 1285
  bot-analytics-dashboard-ent.png
  bot-analytics-dashboard.png
  products/bots/docs-config.js
  products/bots/src/content/_partials/_about-plan-biz-and-ent.md
  products/bots/src/content/_partials/_about-plan-bm-subscription.md
  products/bots/src/content/_partials/_about-plan-considerations.md
  products/bots/src/content/_partials/_about-plan-free.md
  products/bots/src/content/_partials/_about-plan-pro.md
  products/bots/src/content/_partials/_analytics-features.md
  products/bots/src/content/_partials/_bots-ad.md
  products/bots/src/content/_partials/_bots-cookie.md
  products/bots/src/content/_partials/_bots-heuristics.md
  products/bots/src/content/_partials/_bots-intro.md
  products/bots/src/content/_partials/_bots-jsd.md
  products/bots/src/content/_partials/_bots-ml.md
  products/bots/src/content/_partials/_buttons-plan-pages.md
  products/bots/src/content/_partials/_get-started-pro-biz-steps.md
  products/bots/src/content/_partials/_plan-get-started.md
  products/bots/src/content/_partials/_plan-intro.md
  products/bots/src/content/_partials/_static-resources-bm.md
  products/bots/src/content/about.md
  products/bots/src/content/about/index.md
  products/bots/src/content/about/javascript-detections/index.md
  products/bots/src/content/about/plans/biz-and-ent.md
  products/bots/src/content/about/plans/bm-subscription.md
  products/bots/src/content/about/plans/free.md
  products/bots/src/content/about/plans/index.md
  products/bots/src/content/about/plans/pro.md
  products/bots/src/content/about/static-resources/index.md
  products/bots/src/content/bot-analytics/biz-and-ent.md
  products/bots/src/content/bot-analytics/bm-subscription.md
  products/bots/src/content/bot-analytics/index.md
  products/bots/src/content/bot-fight-mode/index.md
  products/bots/src/content/bot-management-enterprise/index.md
  products/bots/src/content/get-started/biz-and-ent.md
  products/bots/src/content/get-started/bm-subscription.md
  products/bots/src/content/get-started/free.md
  products/bots/src/content/get-started/index.md
  products/bots/src/content/get-started/pro.md
  products/bots/src/content/images/bot-analytics-dashboard-biz.png
  products/bots/src/content/images/bot-analytics-dashboard-ent.png
  products/bots/src/content/images/bot-analytics-dashboard.png
  products/bots/src/content/images/bot-report-pro.png
  products/bots/src/content/images/traffic-distribution.png
  products/bots/src/content/index.md
  products/bots/src/content/troubleshooting/index.md
  products/firewall/src/content/cf-firewall-language/fields.md
  products/firewall/src/content/recipes/challenge-bad-bots.md
  products/firewall/src/content/recipes/update-rules-customers-partners.md
Labels: documentation

#456 refactor: remove unneeded whitespace
  products/api/src/content/tokens/advanced/restrictions.md
Labels: documentation

#960 Fix code selection in load balancer tutorial
  products/cloudflare-one/src/content/tutorials/migrate-lb-tunnel.md
Labels: product:cloudflare-one

#1004 Update index.md
  products/browser-isolation/src/content/index.md
Labels: product:cloudflare-one

#963 updates
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel.md
Labels: product:cloudflare-one

#859 Update validation-backoff-schedule.md
  products/ssl/src/content/ssl-for-saas/validation-backoff-schedule.md
Labels: documentation

#946 Fixed incorrectly formatted hyperlink
  products/internet/src/content/protocols/dns.md
Labels: documentation

#564 Fixed a typo in the library's name.
  products/terraform/src/content/advanced-topics/importing-cloudflare-resources.md
Labels: documentation

#891 Use identical format
  products/internet/src/content/protocols/tls.md
Labels: documentation

#975 Update Durable Object limitations
  products/workers/src/content/learning/using-durable-objects.md
  products/workers/src/content/runtime-apis/durable-objects.md
Labels: product:workers

#776 Fix to Python example since PyJWT 2.0.0
  products/cloudflare-one/src/content/identity/users/validating-json.md
Labels: product:cloudflare-one

#923 WIP - Add new section on Rules
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  README.md
  developers.cloudflare.com/src/components/product-grid.js
  products/firewall/src/content/cf-firewall-language/functions.md
  products/rules/README.md
  products/rules/docs-config.js
  products/rules/package.json
  products/rules/src/content/index.md
  products/rules/src/content/static/transform/create-transform-rule.png
  products/rules/src/content/static/transform/created-gb-rule.png
  products/rules/src/content/static/transform/expression-field.png
  products/rules/src/content/static/transform/expression-operator.png
  products/rules/src/content/static/transform/expression-value.png
  products/rules/src/content/static/transform/overview.png
  products/rules/src/content/static/transform/rewrite-path-static-gb.png
  products/rules/src/content/static/transform/rule-operations.png
  products/rules/src/content/static/transform/transform-rules-tab.png
  products/rules/src/content/static/transform/use-case-blog.png
  products/rules/src/content/transform/index.md
  products/rules/src/content/transform/manage.md
  products/rules/src/content/transform/use-cases.md
  products/rules/wrangler.toml
Labels: documentation

#1018 fixed a typo
  products/firewall/src/content/cf-firewall-language/functions.md
Labels: documentation

#699 Fixed header levels
  products/ssl/src/content/ssl-for-saas/hostname-verification.md
Labels: documentation

#1036 [Teams] add SMB tutorial
  products/cloudflare-one/src/content/applications/non-http.md
  products/cloudflare-one/src/content/tutorials/smb.md
Labels: product:cloudflare-one

#1039 [Teams] fix non-HTTP link
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ingress.md
Labels: product:cloudflare-one
