Repository cloudflare/cloudflare-docs, pull requests merged in 2021-06, with the labels that each got.

#1454 Update firewall.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/firewall.md
Labels: product:cloudflare-one

#1395 point out that caches.open is async unlike caches.default
  products/workers/src/content/learning/how-the-cache-works.md
Labels: product:workers

#1452 [Teams] new additions to docs
  products/cloudflare-one/src/content/cloudflare-teams-roles-permissions.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/dns-over-https.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/dns-over-tls.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/index.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/native-os.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/index.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/identity/idp-integration/gsuite.md
  products/cloudflare-one/src/content/identity/idp-integration/index.md
  products/cloudflare-one/src/content/identity/index.md
  products/cloudflare-one/src/content/identity/one-time-pin.md
  products/cloudflare-one/src/content/identity/service-auth/index.md
  products/cloudflare-one/src/content/identity/users/index.md
  products/cloudflare-one/src/content/tutorials/rdp.md
Labels: product:cloudflare-one

#1471 Pages Link Fix
  products/pages/src/content/index.md
Labels: documentation

#1465 Adding a note to recommend Simply Static instead of WP2Static
  products/workers/src/content/tutorials/deploy-a-static-wordpress-site/index.md
Labels: product:workers

#1442 Fixed code bug
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
Labels: product:pages

#1482 warp to tunnel: mention http traffic filtering
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel.md
Labels: product:cloudflare-one

#1483 Deployment parameter docs for service token auth
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/parameters.md
Labels: product:cloudflare-one

#1481 [Teams] add gsuite step + tweak captive portals banners
  products/cloudflare-one/src/content/connections/connect-devices/agentless/dns-over-https.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/dns-over-tls.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/linux.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/mac.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/native-os.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/windows.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/index.md
  products/cloudflare-one/src/content/connections/connect-networks/locations/troubleshooting-locations.md
  products/cloudflare-one/src/content/faq/teams-troubleshooting.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/identity/one-time-pin.md
  products/cloudflare-one/src/content/static/documentation/faq/google-error-400.png
Labels: product:cloudflare-one

#1503 Fixes to wrangler dev description
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers

#1466 Update configuration.md
  products/workers/src/content/cli-wrangler/configuration.md
Labels: product:workers

#1505 Adding parameters to key input
  products/workers/src/content/runtime-apis/kv.md
Labels: product:workers

#1493 STREAM-3185 Add example for cover background video
  products/stream/src/content/viewing-videos/using-own-player.md
Labels: product:stream

#1502 Fix to npm install guide
  products/workers/src/content/cli-wrangler/install-update.md
  products/workers/src/content/get-started/guide.md
  products/workers/src/content/index.md
Labels: product:workers

#1531 Fix broken link
  products/workers/src/content/cli-wrangler/configuration.md
Labels: product:workers

#1521 [STREAM] Update signing utility documentation
  products/stream/src/content/uploading-videos/direct-creator-uploads.md
  products/stream/src/content/viewing-videos/displaying-thumbnails.md
  products/stream/src/content/viewing-videos/download-videos.md
  products/stream/src/content/viewing-videos/securing-your-stream.md
Labels: product:stream

#521 Update permissions.md
  products/api/src/content/tokens/create/permissions.md
Labels: product:API, technical review

#1541 [workers] Fix Table of Contents rendering on tutorials
  products/workers/src/content/components/content-table.js
  products/workers/src/content/tutorials/authorize-users-with-auth0/index.md
  products/workers/src/content/tutorials/build-a-jamstack-app/index.md
  products/workers/src/content/tutorials/build-a-qr-code-generator/index.md
  products/workers/src/content/tutorials/build-a-serverless-api/index.md
  products/workers/src/content/tutorials/build-a-slackbot/index.md
  products/workers/src/content/tutorials/configure-your-cdn/index.md
  products/workers/src/content/tutorials/deploy-a-react-app-with-create-react-app/index.md
  products/workers/src/content/tutorials/deploy-a-static-wordpress-site/index.md
  products/workers/src/content/tutorials/github-sms-notifications-using-twilio/index.md
  products/workers/src/content/tutorials/hello-world-rust/index.md
  products/workers/src/content/tutorials/introduction-to-cloudflare-workers/index.md
  products/workers/src/content/tutorials/localize-a-website/index.md
  products/workers/src/content/tutorials/manage-projects-with-lerna/index.md
Labels: product:workers

#1558 [Teams] remove file extension selector from HTTP policies
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
Labels: product:cloudflare-one

#1559 [Teams] ZTNA tutorial
  products/cloudflare-one/src/content/connections/connect-devices/warp/device-enrollment.md
  products/cloudflare-one/src/content/static/documentation/teams-illustration.svg
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/create-network-policy.png
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/device-enrollment-rules.png
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/first-network-policy.png
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/run-tunnel.png
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/second-network-policy.png
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/split-tunnels.png
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/tunnel-id.png
  products/cloudflare-one/src/content/static/zero-trust-security/ztna/warp-preferences.png
  products/cloudflare-one/src/content/tutorials/zero-trust-network-access.md
Labels: product:cloudflare-one

#1561 [workers] Rewrite vars example in Wrangler docs
  products/workers/src/content/cli-wrangler/configuration.md
Labels: product:workers

#1560 Process clarifications
  products/cloudflare-one/src/content/tutorials/ssh.md
Labels: product:cloudflare-one

#1289 Create basic-auth.md
  products/workers/src/content/examples/basic-auth.md
Labels: product:workers

#1571 [Teams] fixes to Access docs
  products/cloudflare-one/src/content/analytics/logs/users.md
  products/cloudflare-one/src/content/applications/configure-apps/app-paths.md
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
  products/cloudflare-one/src/content/policies/zero-trust/cors.md
Labels: product:cloudflare-one

#1569 Adding a note to the Limits section
  products/workers/src/content/platform/limits.md
Labels: product:workers

#1565 [SSL] Correctly format origin pull cert
  products/ssl/src/content/origin-configuration/authenticated-origin-pull.md
Labels: product:SSL

#1572 Fixed 2 important missing things for Windows in the cloudflared RDP tutorial
  products/cloudflare-one/src/content/static/zero-trust-security/ssh/enable-websockets.png
  products/cloudflare-one/src/content/tutorials/rdp.md
Labels: product:cloudflare-one

#1084 add jobs to workers deploy button example
  products/workers/src/content/platform/deploy-button.md
Labels: documentation, product:workers

#1587 Metadata to Pages docs
  products/pages/src/content/framework-guides/astro.md
  products/pages/src/content/framework-guides/deploy-a-gatsby-site.md
  products/pages/src/content/framework-guides/deploy-a-hugo-site.md
  products/pages/src/content/framework-guides/deploy-a-jekyll-site.md
  products/pages/src/content/framework-guides/deploy-a-nextjs-site.md
  products/pages/src/content/framework-guides/deploy-a-preact-site.md
  products/pages/src/content/framework-guides/deploy-a-react-application.md
  products/pages/src/content/framework-guides/deploy-a-sphinx-site.md
  products/pages/src/content/framework-guides/deploy-a-svelte-site.md
  products/pages/src/content/framework-guides/deploy-a-vue-application.md
  products/pages/src/content/framework-guides/deploy-a-zola-site.md
  products/pages/src/content/framework-guides/deploy-an-angular-application.md
  products/pages/src/content/framework-guides/deploy-anything.md
  products/pages/src/content/framework-guides/elderjs.md
  products/pages/src/content/framework-guides/index.md
  products/pages/src/content/getting-started/index.md
  products/pages/src/content/how-to/index.md
  products/pages/src/content/how-to/npm-private-registry.md
  products/pages/src/content/index.md
  products/pages/src/content/migrations/index.md
  products/pages/src/content/migrations/migrating-from-firebase.md
  products/pages/src/content/migrations/migrating-from-netlify/index.md
  products/pages/src/content/migrations/migrating-from-vercel/index.md
  products/pages/src/content/migrations/migrating-from-workers/index.md
  products/pages/src/content/platform/index.md
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
  products/pages/src/content/tutorials/index.md
Labels: product:pages

#1540 [workers] Add airtable form tutorial
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/api-details.png
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/api-key.png
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/columns.png
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/example.gif
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/form-submissions.png
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/index.md
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/new-base.png
  products/workers/src/content/tutorials/handle-form-submissions-with-airtable/ui.png
Labels: product:workers

#1614 Updating Worker to Worker limits in fetch API docs
  products/workers/src/content/runtime-apis/fetch.md
Labels: product:workers

#1615 Changes to to cache API docs
  products/workers/src/content/runtime-apis/cache.md
Labels: product:workers

#1611 [Teams] add VNC client tutorial
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-domain-application.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-login-screen.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-password.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-policy.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-rfbport.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-run-tunnel.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-server-password.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-server.png
  products/cloudflare-one/src/content/static/zero-trust-security/vnc-client-in-browser/vnc-xstartup.png
  products/cloudflare-one/src/content/tutorials/vnc-client-in-browser.md
Labels: product:cloudflare-one

#1616 update multiple CA requirement aside
  products/firewall/src/content/cf-dashboard/create-mtls-rule.md
Labels: product:firewall

#1621 Dropdown menu for Pages sections
  products/pages/src/content/framework-guides/index.md
  products/pages/src/content/how-to/index.md
  products/pages/src/content/tutorials/index.md
Labels: product:pages

#1626 Include Terraform provider instructions for Cloudflare One docs page
  products/access/src/content/api-and-terraform/access-with-terraform.md
  products/cloudflare-one/src/content/api-terraform/access-with-terraform.md
Labels: product:cloudflare-one

#1617 There is no Account page in the Settings section
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel.md
Labels: product:cloudflare-one

#1638 [Teams] remove extra line + screenshot
  products/cloudflare-one/src/content/tutorials/vnc-client-in-browser.md
Labels: product:cloudflare-one

#1650 Marcio/web-gateway
  products/distributed-web/src/content/ethereum-gateway/about-eth.md
  products/distributed-web/src/content/ethereum-gateway/connecting-your-website.md
  products/distributed-web/src/content/ethereum-gateway/getting-started.md
  products/distributed-web/src/content/ethereum-gateway/index.md
  products/distributed-web/src/content/ethereum-gateway/interacting-with-the-eth-gateway.md
  products/distributed-web/src/content/ethereum-gateway/kill-switches.md
  products/distributed-web/src/content/index.md
  products/distributed-web/src/content/ipfs-gateway/automated-deployment.md
  products/distributed-web/src/content/ipfs-gateway/browsing-ipfs.md
  products/distributed-web/src/content/ipfs-gateway/connecting-website.md
  products/distributed-web/src/content/ipfs-gateway/index.md
  products/distributed-web/src/content/ipfs-gateway/setting-up-a-server.md
  products/distributed-web/src/content/ipfs-gateway/troubleshooting.md
  products/distributed-web/src/content/ipfs-gateway/updating-for-ipfs.md
Labels: documentation

#1647 Update country in countryMap Object
  products/workers/src/content/examples/country-code-redirect.md
Labels: product:workers

#1653 Adding learning center links to Workers learning docs
  products/workers/src/content/get-started/guide.md
  products/workers/src/content/index.md
  products/workers/src/content/learning/how-workers-works.md
  products/workers/src/content/learning/playground.md
Labels: product:workers

#1654 Adding learning center links to Pages docs
  products/pages/src/content/index.md
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
Labels: product:pages

#890 Fix typo in name of Post React component in API tutorial
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
Labels: product:workers, technical review

#855 Fix wrangler secret command
  products/workers/src/content/tutorials/build-a-slackbot/index.md
Labels: product:workers, technical review

#1377 fix: Pages now ships with Node v12.18.0 by default
  products/pages/src/content/platform/build-configuration.md
Labels: product:pages, technical review

#1372 [Workers] Add max upload size to limits.md + Fix toml in configuration.md
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/platform/limits.md
Labels: product:workers

#1644 Tutorial for custom http headers
  products/pages/src/content/how-to/add-custom-http-headers.md
Labels: product:pages

#1665 Updates to most current Pages Get Started
  products/pages/src/content/getting-started/index.md
Labels: product:pages

#1674 Update categorization of Examples
  products/workers/src/content/examples/ab-testing.md
  products/workers/src/content/examples/accessing-the-cloudflare-object.md
  products/workers/src/content/examples/aggregate-requests.md
  products/workers/src/content/examples/alter-headers.md
  products/workers/src/content/examples/auth-with-headers.md
  products/workers/src/content/examples/basic-auth.md
  products/workers/src/content/examples/block-on-tls.md
  products/workers/src/content/examples/bulk-origin-proxy.md
  products/workers/src/content/examples/bulk-redirects.md
  products/workers/src/content/examples/cache-api.md
  products/workers/src/content/examples/cache-post-request.md
  products/workers/src/content/examples/cache-using-fetch.md
  products/workers/src/content/examples/conditional-response.md
  products/workers/src/content/examples/cors-header-proxy.md
  products/workers/src/content/examples/country-code-redirect.md
  products/workers/src/content/examples/debugging-logs.md
  products/workers/src/content/examples/extract-cookie-value.md
  products/workers/src/content/examples/fetch-html.md
  products/workers/src/content/examples/fetch-json.md
  products/workers/src/content/examples/geolocation-app-weather.md
  products/workers/src/content/examples/geolocation-custom-styling.md
  products/workers/src/content/examples/geolocation-hello-world.md
  products/workers/src/content/examples/hot-link-protection.md
  products/workers/src/content/examples/http2-server-push.md
  products/workers/src/content/examples/logging-headers.md
  products/workers/src/content/examples/modify-request-property.md
  products/workers/src/content/examples/modify-response.md
  products/workers/src/content/examples/post-json.md
  products/workers/src/content/examples/read-post.md
  products/workers/src/content/examples/redirect.md
  products/workers/src/content/examples/respond-with-another-site.md
  products/workers/src/content/examples/return-html.md
  products/workers/src/content/examples/return-json.md
  products/workers/src/content/examples/rewrite-links.md
  products/workers/src/content/examples/signing-requests.md
Labels: product:workers

#1664 Headers updates
  products/pages/src/content/migrations/migrating-from-netlify/index.md
  products/pages/src/content/platform/known-issues.md
Labels: product:pages

#1685 addEventListener code snippet update
  products/workers/src/content/runtime-apis/add-event-listener.md
Labels: product:workers

#1639 Add changelog
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#1286 Update links to TOML docs
  products/workers/src/content/cli-wrangler/configuration.md
Labels: product:workers

#1687 wrangler publish downtime explanation update
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers

#1027 Update deploy-a-hugo-site.md
  products/pages/src/content/framework-guides/deploy-a-hugo-site.md
Labels: product:pages, technical review
