Repository cloudflare/cloudflare-docs, pull requests merged in 2021-11, with the labels that each got.

#2602 [Teams] improvements to gateway docs
  products/cloudflare-one/src/content/analytics/gateway.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/network-policies/index.md
  products/cloudflare-one/src/content/static/documentation/logs/gateway-analytics-overview.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-filter-by-location.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-filter-by-time.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-overview-page.png
  products/cloudflare-one/src/content/static/documentation/logs/gateway-dash-top-allowed-and-blocked-requests.png
  products/cloudflare-one/src/content/static/documentation/logs/selective-logging.png
  products/cloudflare-one/src/content/technical-limitations.md
Labels: product:cloudflare-one

#2635 [Teams] Create arbitrary-tcp.md
  products/cloudflare-one/src/content/applications/arbitrary-tcp.md
Labels: product:cloudflare-one

#2642 Fix incorrect tunnel route command in share-new-site.md
  products/cloudflare-one/src/content/tutorials/share-new-site.md
Labels: product:cloudflare-one

#2641 [Stream] Unsubscription consequences - PSPEC-658
  products/stream/src/content/faq/index.md
Labels: product:stream

#2639 [Teams] Tunnel permissions page
  products/cloudflare-one/src/content/connections/connect-apps/configuration/ports-and-ips.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-guide.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-permissions.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-useful-terms.md
  products/cloudflare-one/src/content/connections/connect-apps/routing-to-tunnel/index.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/run-as-service.md
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
Labels: product:cloudflare-one

#2673 [Teams] access changes
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/identity/users/groups.md
Labels: product:cloudflare-one

#2674 [Teams] migrating BI docs
  products/cloudflare-one/src/content/connections/connect-browsers/index.md
  products/cloudflare-one/src/content/policies/browser-isolation/configuration.md
  products/cloudflare-one/src/content/policies/browser-isolation/extensions.md
  products/cloudflare-one/src/content/policies/browser-isolation/index.md
  products/cloudflare-one/src/content/policies/browser-isolation/known-limitations.md
  products/cloudflare-one/src/content/policies/browser-isolation/third-party-cookies.md
Labels: product:cloudflare-one

#2676 [Workers] deploy buttons revision
  products/workers/src/content/platform/deploy-button.md
Labels: product:workers

#2637 [Worker] cron triggers revision
  products/workers/src/content/platform/cron-triggers/index.md
Labels: product:workers

#2638 [Workers] platform language revision
  products/workers/src/content/platform/languages.md
Labels: product:workers

#2636 [Workers] wrangler commands revision
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers

#2675 [Workers] compatibility dates revision
  products/workers/src/content/platform/compatibility-dates.md
Labels: product:workers

#2681 Update 1.1.1.1 docs for DoH JSON API
  products/1.1.1.1/src/content/encrypted-dns/dns-over-https/make-api-requests/dns-json.md
Labels: documentation, product:1.1.1.1

#2694 Client ID Typo
  products/cloudflare-one/src/content/identity/idp-integration/keycloak.md
Labels: product:cloudflare-one

#2686 [Teams] Add descriptions to network logs
  products/cloudflare-one/src/content/analytics/gateway.md
  products/cloudflare-one/src/content/analytics/logs/activity-log.md
  products/cloudflare-one/src/content/static/documentation/logs/gateway-analytics-overview.png
  products/cloudflare-one/src/content/static/secure-origin-connections/mongodb-tunnel/apps.png
  products/cloudflare-one/src/content/static/secure-origin-connections/mongodb-tunnel/self-hosted.png
  products/cloudflare-one/src/content/static/secure-origin-connections/share-new-site/applications.png
  products/cloudflare-one/src/content/static/secure-origin-connections/share-new-site/self-hosted.png
  products/cloudflare-one/src/content/static/secure-web-gateway/block-football/block-espn-action.png
  products/cloudflare-one/src/content/static/secure-web-gateway/block-football/device-enrollment-settings.png
  products/cloudflare-one/src/content/static/secure-web-gateway/block-football/expand-list.png
  products/cloudflare-one/src/content/static/secure-web-gateway/block-football/policy-start.png
  products/cloudflare-one/src/content/static/secure-web-gateway/exempt-cert-pinning/starter-list.png
  products/cloudflare-one/src/content/tutorials/block-football-users.md
  products/cloudflare-one/src/content/tutorials/block-football.md
  products/cloudflare-one/src/content/tutorials/block-uploads.md
  products/cloudflare-one/src/content/tutorials/do-not-decrypt.md
  products/cloudflare-one/src/content/tutorials/mongodb-tunnel.md
  products/cloudflare-one/src/content/tutorials/require-swg.md
  products/cloudflare-one/src/content/tutorials/secure-dns-devices.md
  products/cloudflare-one/src/content/tutorials/share-new-site.md
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel.md
Labels: product:cloudflare-one

#2662 [Teams] App Launcher improvements
  products/cloudflare-one/src/content/applications/bookmarks.md
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/applications/non-http/arbitrary-tcp.md
  products/cloudflare-one/src/content/applications/non-http/index.md
  products/cloudflare-one/src/content/static/secure-web-gateway/custom-block/block-page.png
  products/cloudflare-one/src/content/static/secure-web-gateway/custom-block/custom-text.png
  products/cloudflare-one/src/content/static/secure-web-gateway/custom-block/edit-page.png
  products/cloudflare-one/src/content/static/secure-web-gateway/custom-block/general-list.png
  products/cloudflare-one/src/content/static/secure-web-gateway/custom-block/rule-order.png
  products/cloudflare-one/src/content/static/zero-trust-security/corp-device/app-list.png
  products/cloudflare-one/src/content/static/zero-trust-security/corp-device/edit-app.png
  products/cloudflare-one/src/content/static/zero-trust-security/country-rules/app-list.png
  products/cloudflare-one/src/content/static/zero-trust-security/country-rules/starter-groups.png
  products/cloudflare-one/src/content/static/zero-trust-security/default-groups/group-list-start.png
  products/cloudflare-one/src/content/tutorials/corp-device-tag.md
  products/cloudflare-one/src/content/tutorials/country-rules.md
  products/cloudflare-one/src/content/tutorials/custom-block-page.md
  products/cloudflare-one/src/content/tutorials/default-groups.md
Labels: product:cloudflare-one

#2714 [Teams] Delete arbitrary-tcp.md
  products/cloudflare-one/src/content/applications/arbitrary-tcp.md
Labels: product:cloudflare-one

#2689 [Workers] Encoding revision
  products/workers/src/content/runtime-apis/encoding.md
Labels: product:workers

#2696 Fix formatting in tutorial partial
  products/pages/src/content/_partials/_tutorials-before-you-start.md
Labels: product:pages, preview

#2711 Workers Pricing Superscript
  products/workers/src/content/platform/pricing.md
Labels: product:workers

#2692 [Workers] fetch-event.md: Fix casing of link anchor names
  products/workers/src/content/runtime-apis/fetch-event.md
Labels: product:workers

#2688 [Workers] Cache revision
  products/workers/src/content/runtime-apis/cache.md
Labels: product:workers

#2715 Add Strapi to deploy hooks
  products/pages/src/content/platform/deploy-hooks.md
  products/pages/src/content/platform/strapi.png
Labels: product:pages

#2721 Update dash-sso-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/dash-sso-apps.md
Labels: product:cloudflare-one

#2729 [Teams] Fix table
  products/cloudflare-one/src/content/analytics/logs/activity-log.md
Labels: product:cloudflare-one

#2726 [Pages] functions + get started revision
  products/pages/src/content/get-started/index.md
  products/pages/src/content/platform/functions.md
Labels: product:pages, preview

#2738 [Workers] limits revision
  products/workers/src/content/platform/limits.md
Labels: product:workers

#2683 Update examples.md
  products/magic-firewall/src/content/reference/examples.md
Labels: product:magic

#2626 Tile for Email Routing
  .github/CODEOWNERS
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  README.md
  developers.cloudflare.com/src/components/product-grid.js
  developers.cloudflare.com/static/robots.txt
  products/email-routing/README.md
  products/email-routing/docs-config.js
  products/email-routing/package.json
  products/email-routing/src/content/email-routing-options.md
  products/email-routing/src/content/enable-email-routing.md
  products/email-routing/src/content/icons/email-routing.js
  products/email-routing/src/content/index.md
  products/email-routing/wrangler.toml
Labels: preview

#2741 [Workers] streams revision
  products/workers/src/content/learning/using-streams.md
Labels: product:workers

#2740 [Workers] pricing revision
  products/workers/src/content/platform/cron-triggers/index.md
  products/workers/src/content/platform/pricing.md
Labels: product:workers

#2757 [workers] Update changelog.md
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#2752 [Teams] changes to policies
  products/cloudflare-one/src/content/analytics/logs/activity-log.md
  products/cloudflare-one/src/content/policies/filtering/configuring-block-page.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/policy-management.md
  products/cloudflare-one/src/content/policies/filtering/identity-selectors.md
  products/cloudflare-one/src/content/policies/filtering/network-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/network-policies/policy-management.md
  products/cloudflare-one/src/content/static/documentation/policies/dash-first-policy.png
  products/cloudflare-one/src/content/static/documentation/policies/enter-policy-name.png
  products/cloudflare-one/src/content/static/documentation/policies/http-add-rule.png
  products/cloudflare-one/src/content/static/documentation/policies/http-first-rule.png
  products/cloudflare-one/src/content/static/documentation/policies/protocol-settings.png
Labels: product:cloudflare-one

#2770 [workers] changelog revision
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#2767 [Workers] metrics revision
  products/workers/src/content/learning/metrics-and-analytics.md
Labels: product:workers

#2768 [Workers] Logging revision
  products/workers/src/content/learning/logging-workers.md
  products/workers/src/content/learning/media/metrics.png
Labels: product:workers

#2773 [Teams] MDM docs
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/manual-deployment.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/parameters.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/partners/hexnode.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/partners/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/partners/intune.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/partners/jamf.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/partners/jumpcloud.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/partners/kandji.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/warp-settings.md
  products/cloudflare-one/src/content/faq/cloudflare-tunnels-faq.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
  products/cloudflare-one/src/content/policies/filtering/network-policies/index.md
  products/cloudflare-one/src/content/static/documentation/connections/custom-profile.png
  products/cloudflare-one/src/content/static/secure-web-gateway/split-tunnel/split-tunnel-entries.png
Labels: product:cloudflare-one

#2755 [Workers] websockets revision
  products/workers/src/content/learning/using-websockets.md
Labels: product:workers

#2764 [Workers] playground revision
  products/workers/src/content/learning/playground.md
Labels: product:workers

#2680 [Workers] DO revision
  products/workers/src/content/runtime-apis/durable-objects.md
Labels: product:workers

#2739 [workers] routes revision
  products/workers/src/content/platform/routes.md
Labels: product:workers

#2811 Unpin docs engine to get latest engine updates
  developers.cloudflare.com/package.json
  products/email-routing/package.json
  products/fundamentals/package.json
  products/workers/package.json
Labels: preview

#2789 [Teams] admin override instructions
  products/cloudflare-one/src/content/connections/connect-devices/warp/warp-settings.md
Labels: product:cloudflare-one

#2810 [Workers] fix platform image location
  products/workers/src/content/platform/environment-variables.md
  products/workers/src/content/platform/environments.md
  products/workers/src/content/platform/media/add-route-modal.png
  products/workers/src/content/platform/media/env_variables_dash.png
  products/workers/src/content/platform/media/envvarssecret-detail-page.jpeg
  products/workers/src/content/platform/media/kv_namespace_bindings.png
  products/workers/src/content/platform/routes.md
Labels: product:workers

#2806 [Workers] Debugging workers revision
  products/workers/src/content/learning/debugging-workers.md
  products/workers/src/content/tutorials/configure-your-cdn/index.md
Labels: product:workers

#2822 [Workers] integrations revision
  products/workers/src/content/learning/integrations.md
  products/workers/src/content/learning/metrics-and-analytics.md
Labels: product:workers

#2800 [Cloudflare-Pages] Add scoop install hugo
  products/pages/src/content/framework-guides/deploy-a-hugo-site.md
Labels: product:pages
