Repository cloudflare/cloudflare-docs, pull requests merged in 2021-08, with the labels that each got.

#1792 [pages] Add Cloudflare Tunnel guide
  products/pages/src/content/how-to/media/tunnel.png
  products/pages/src/content/how-to/preview-with-cloudflare-tunnel.md
Labels: product:pages

#1573 [workers] postgres + postgrest tutorial
  products/workers/src/content/tutorials/postgres/example.gif
  products/workers/src/content/tutorials/postgres/index.md
Labels: product:workers

#1927 Update with proper link.
  products/workers/src/content/examples/logging-headers.md
Labels: product:workers

#1930 [Pages] Astro framework guide style guide review
  products/pages/src/content/framework-guides/astro.md
Labels: product:pages

#1851 [Workers] Get started page refresh
  products/workers/src/content/get-started/guide.md
Labels: product:workers

#1935 [Workers] Partials style guide fix
  products/workers/src/content/_partials/_tutorials-before-you-start.md
Labels: product:workers

#1901 Add .NET to list of language support/frameworks
  products/pages/src/content/platform/build-configuration.md
Labels: product:workers

#1956 [Workers] cloudflared tail issue update
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers

#1931 [Pages] Blazor framework guide style guide review
  products/pages/src/content/framework-guides/deploy-a-blazor-site.md
Labels: product:pages

#1932 [Pages] Gatsby framework guide style guide review
  products/pages/src/content/framework-guides/deploy-a-gatsby-site.md
Labels: product:pages

#1802 Migration Guide: Jekyll on GitHub Pages -> Cloudflare Pages
  products/pages/src/content/framework-guides/deploy-a-jekyll-site.md
  products/pages/src/content/migrations/migrating-jekyll-from-github-pages.md
Labels: product:pages

#1876 JeffH - Updated Sphinx Framework Guide
  products/pages/src/content/framework-guides/deploy-a-sphinx-site.md
Labels: product:pages

#1978 [pages] Deploy Hooks documentation
  products/pages/src/content/platform/contentful.png
  products/pages/src/content/platform/deploy-hooks-add.png
  products/pages/src/content/platform/deploy-hooks-configure.png
  products/pages/src/content/platform/deploy-hooks-deployment-logs.png
  products/pages/src/content/platform/deploy-hooks-details.png
  products/pages/src/content/platform/deploy-hooks.md
  products/pages/src/content/platform/ghost.png
  products/pages/src/content/platform/sanity.png
  products/pages/src/content/platform/wordpress.png
Labels: product:pages

#1979 [pages] Document Deploy Hooks in Sanity.io tutorial
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/hooks.png
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
Labels: product:pages

#1951 [Pages] Hugo framework style guide revision
  products/pages/src/content/framework-guides/deploy-a-hugo-site.md
Labels: product:pages

#1989 [Pages] Gatsby style guide fix
  products/pages/src/content/framework-guides/deploy-a-gatsby-site.md
Labels: product:pages

#1977 [Tunnel] Fixed incorrect windows "installation" instructions
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/installation.md
Labels: product:cloudflare-one

#1969 [warp-client] Fix format of mailto: for support_url in parameters.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/parameters.md
Labels: product:cloudflare-one

#2011 Fix proxy mode features
  products/cloudflare-one/src/content/connections/connect-devices/warp/index.md
Labels: product:cloudflare-one

#1954 [Pages] Framework Guides style guide review
  products/pages/src/content/framework-guides/astro.md
  products/pages/src/content/framework-guides/deploy-a-gatsby-site.md
  products/pages/src/content/framework-guides/deploy-a-hugo-site.md
  products/pages/src/content/framework-guides/deploy-a-jekyll-site.md
  products/pages/src/content/framework-guides/deploy-a-nextjs-site.md
  products/pages/src/content/framework-guides/deploy-a-preact-site.md
  products/pages/src/content/framework-guides/deploy-a-react-application.md
  products/pages/src/content/framework-guides/deploy-a-sphinx-site.md
  products/pages/src/content/framework-guides/deploy-a-svelte-site.md
  products/pages/src/content/framework-guides/deploy-a-vue-application.md
  products/pages/src/content/framework-guides/deploy-a-zola-site.md
  products/pages/src/content/framework-guides/deploy-an-angular-application.md
  products/pages/src/content/framework-guides/deploy-anything.md
  products/pages/src/content/framework-guides/elderjs.md
  products/pages/src/content/framework-guides/nuxt.md
Labels: product:pages

#2005 [Pages] deploy hooks revision
  products/pages/src/content/platform/deploy-hooks.md
Labels: product:pages

#1924 Fixes openssl command options
  products/ssl/src/content/keyless-ssl/configuration.md
Labels: product:SSL

#2012 [Teams] Update app-paths.md
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
Labels: product:cloudflare-one

#2023 [Teams] add tenant control docs
  products/cloudflare-one/src/content/policies/filtering/http-policies/tenant-control.md
Labels: product:cloudflare-one

#2030 Update tenant-control.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/tenant-control.md
Labels: product:cloudflare-one

#2018 Fix service worker section headings to match module headings
  products/workers/src/content/cli-wrangler/configuration.md
Labels: product:workers

#2022 [Pages] HTTP tutorial broken link
  products/pages/src/content/how-to/add-custom-http-headers.md
Labels: product:pages

#2034 [Workers] Response API bad link
  products/workers/src/content/runtime-apis/response.md
Labels: product:workers

#1829 link to Typescript Durable Objects template
  products/workers/src/content/learning/using-durable-objects.md
Labels: product:workers

#2027 [Pages] Vercel migration revision
  products/pages/src/content/migrations/migrating-from-vercel/index.md
Labels: product:pages

#2025 [Pages] Jekyll migration revision
  products/pages/src/content/migrations/migrating-jekyll-from-github-pages.md
Labels: product:pages

#2026 [Pages] Netifly migration revision
  products/pages/src/content/migrations/migrating-from-netlify/index.md
Labels: product:pages

#2032 [Pages] WS migration revision
  products/pages/src/content/migrations/migrating-from-workers/index.md
Labels: product:pages

#2039 Update okta.md
  products/cloudflare-one/src/content/identity/idp-integration/okta.md
Labels: product:cloudflare-one

#2024 [Pages] Firebase migration revision
  products/pages/src/content/migrations/migrating-from-firebase.md
Labels: product:pages

#2009 Clarify Cache API storage limit is per request
  products/workers/src/content/platform/limits.md
Labels: product:workers

#2043 [Pages] Preview deployments broken link
  products/pages/src/content/platform/preview-deployments.md
Labels: product:pages

#2042 [Pages] GH integration revision
  products/pages/src/content/platform/github-integration.md
Labels: product:pages

#2041 [Pages] Build config revision
  products/pages/src/content/platform/build-configuration.md
Labels: product:pages

#2058 [Teams] fix image and link
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/identity/devices/corp-device.md
  products/cloudflare-one/src/content/static/zero-trust-security/corp-device/list-saved.png
Labels: product:cloudflare-one

#2062 [Pages] API with Workers tutorial revision
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
Labels: product:pages

#2057 [Pages] npm how to revision
  products/pages/src/content/how-to/npm-private-registry.md
Labels: product:pages

#2071 [workers] Remove Aside re: modules/Durable Objects
  products/workers/src/content/cli-wrangler/configuration.md
Labels: product:workers

#2081 [Pages] Jekyll broken links
  products/pages/src/content/framework-guides/deploy-a-jekyll-site.md
  products/pages/src/content/migrations/migrating-jekyll-from-github-pages.md
Labels: product:pages

#2080 [Pages] Sanity+Nuxt tutorial revision
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
Labels: product:pages

#2087 [Teams] G Suite to Google Workspace
  products/cloudflare-one/src/content/identity/idp-integration/gsuite.md
Labels: product:cloudflare-one

#2089 [Pages] Zola site headers update
  products/pages/src/content/framework-guides/deploy-a-zola-site.md
Labels: product:pages

#2090 [Workers] Sunder Workers starter template
  products/workers/src/content/get-started/quickstarts.md
Labels: product:workers

#2091 [Workers] Delete scripts
  products/workers/src/content/platform/limits.md
  products/workers/src/content/platform/scripts.md
Labels: product:workers

#2093 pages: update `nextjs` framework guide
  products/pages/src/content/framework-guides/deploy-a-nextjs-site.md
Labels: product:workers

#2083 [Teams] Add feature availability table to WARP pages
  products/cloudflare-one/src/content/applications/index.md
  products/cloudflare-one/src/content/connections/connect-browsers/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/local-domains.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/split-tunnels.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/warp-settings.md
  products/cloudflare-one/src/content/identity/devices/application-check.md
  products/cloudflare-one/src/content/identity/devices/azure-ad.md
  products/cloudflare-one/src/content/identity/devices/carbon-black.md
  products/cloudflare-one/src/content/identity/devices/corp-device.md
  products/cloudflare-one/src/content/identity/devices/crowdstrike.md
  products/cloudflare-one/src/content/identity/devices/disk-encryption.md
  products/cloudflare-one/src/content/identity/devices/domain-joined.md
  products/cloudflare-one/src/content/identity/devices/file-check.md
  products/cloudflare-one/src/content/identity/devices/firewall.md
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/identity/devices/os-version.md
  products/cloudflare-one/src/content/identity/devices/require-gateway.md
  products/cloudflare-one/src/content/identity/devices/require-warp.md
  products/cloudflare-one/src/content/identity/devices/sentinel-one.md
  products/cloudflare-one/src/content/identity/devices/tanium.md
  products/cloudflare-one/src/content/static/documentation/rbi/cloudflare-one-browser-diagram-background.png
Labels: product:cloudflare-one

#2095 Add new tail command options
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers

#2103 [Workers] env variables revision
  products/workers/src/content/cli-wrangler/configuration.md
  products/workers/src/content/platform/cron-triggers/index.md
  products/workers/src/content/platform/deploy-button.md
  products/workers/src/content/platform/env_variables_dash.png
  products/workers/src/content/platform/environment-variables.md
  products/workers/src/content/platform/environments.md
  products/workers/src/content/platform/envvarssecret-detail-page.jpeg
  products/workers/src/content/platform/kv_namespace_bindings.png
Labels: product:workers

#2097 [Magic Transit] Added content for Flow Based Monitoring
  products/magic-transit/src/content/about/flow-based-monitoring.md
Labels: product:magic, preview

#2113 [Workers] Workers KV rust format fix
  products/workers/src/content/tutorials/workers-kv-from-rust/index.md
Labels: product:pages

#2107 Add new page for logging from Workers
  products/workers/src/content/learning/debugging-workers.md
  products/workers/src/content/learning/how-kv-works.md
  products/workers/src/content/learning/how-the-cache-works.md
  products/workers/src/content/learning/how-workers-works.md
  products/workers/src/content/learning/integrations.md
  products/workers/src/content/learning/logging-workers.md
  products/workers/src/content/learning/media/workers-logging-dashboard.png
  products/workers/src/content/learning/metrics-and-analytics.md
  products/workers/src/content/learning/security-model/index.md
  products/workers/src/content/learning/using-durable-objects.md
  products/workers/src/content/learning/using-streams.md
  products/workers/src/content/learning/using-websockets.md
Labels: product:workers

#2130 [Teams] documentation improvements
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/setup.md
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-guide.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/deploy-cloudflared-replicas.md
  products/cloudflare-one/src/content/connections/connect-apps/tunnel-useful-terms.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/create-tunnel/index.md
  products/cloudflare-one/src/content/faq/teams-policies-faq.md
  products/cloudflare-one/src/content/identity/idp-integration/adfs.md
  products/cloudflare-one/src/content/identity/idp-integration/citrixadc-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/github.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/identity/idp-integration/gsuite.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/signed_authn.md
  products/cloudflare-one/src/content/policies/filtering/applications-changelog.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/tenant-control.md
  products/cloudflare-one/src/content/static/documentation/connections/proxy.png
  products/cloudflare-one/src/content/tutorials/block-tld.md
  products/cloudflare-one/src/content/tutorials/do-not-decrypt.md
  products/cloudflare-one/src/content/tutorials/secure-dns-network.md
Labels: product:cloudflare-one

#2112 [Workers] Auth0 tutorial revision
  products/workers/src/content/tutorials/authorize-users-with-auth0/index.md
Labels: product:workers

#894 Add build documentation for Jigsaw
  products/pages/src/content/platform/build-configuration.md
Labels: product:workers, technical review

#2171 [Workers] CacheTTL revision
  products/workers/src/content/examples/cache-using-fetch.md
  products/workers/src/content/runtime-apis/request.md
Labels: product:workers

#2145 fix: Correct default Node version on Pages' known issues
  products/pages/src/content/platform/known-issues.md
Labels: product:pages

#2168 [Cache] Adjuste inline block around the max-age
  products/cache/src/content/about/cache-control.md
Labels: product:cache

#2174 [Teams] WARP docs + tunnel fixes
  products/cloudflare-one/src/content/connections/connect-apps/do-more-with-tunnels/secure-server.md
  products/cloudflare-one/src/content/connections/connect-apps/do-more-with-tunnels/trycloudflare.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/split-tunnels.md
Labels: product:cloudflare-one

#2162 [SSL] Removed "three" since there are 4 pre-val methods
  products/ssl/src/content/ssl-for-saas/certificate-validation-methods.md
Labels: product:SSL

#2183 [Teams] Update DNS selectors
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
Labels: product:cloudflare-one

#1349 Update edge.md
  products/http3/src/content/edge.md
Labels: documentation

#1348 Update chrome.md
  products/http3/src/content/chrome.md
Labels: documentation
