Repository cloudflare/cloudflare-docs, pull requests merged in 2021-02, with the labels that each got.

#706 [Durable Objects] add waitUntil()
  products/workers/src/content/runtime-apis/durable-objects.md
Labels: product:workers

#715 [Teams] update zero trust policies section
  products/cloudflare-one/src/content/policies/zero-trust/index.md
Labels: product:cloudflare-one

#717 [Teams] auth domain > team domain
  products/cloudflare-one/src/content/applications/app-launcher.md
  products/cloudflare-one/src/content/applications/configure-apps/index.md
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/parameters.md
  products/cloudflare-one/src/content/faq/access.md
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/identity/idp-integration/adfs.md
  products/cloudflare-one/src/content/identity/idp-integration/azuread.md
  products/cloudflare-one/src/content/identity/idp-integration/centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/citrixadc-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/facebook-login.md
  products/cloudflare-one/src/content/identity/idp-integration/generic-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/github.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/identity/idp-integration/gsuite.md
  products/cloudflare-one/src/content/identity/idp-integration/jumpcloud-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/keycloak.md
  products/cloudflare-one/src/content/identity/idp-integration/linkedin.md
  products/cloudflare-one/src/content/identity/idp-integration/okta.md
  products/cloudflare-one/src/content/identity/idp-integration/one-time-pin.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/ping-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-okta.md
  products/cloudflare-one/src/content/identity/idp-integration/signed_authn.md
  products/cloudflare-one/src/content/identity/idp-integration/yandex.md
  products/cloudflare-one/src/content/identity/login-page.md
  products/cloudflare-one/src/content/identity/users/session-management.md
  products/cloudflare-one/src/content/identity/users/validating-json.md
  products/cloudflare-one/src/content/setup/index.md
  products/cloudflare-one/src/content/static/documentation/applications/network-diagram.png
  products/cloudflare-one/src/content/static/documentation/applications/new-diagram-saas.png
  products/cloudflare-one/src/content/static/documentation/identity/adfs/adfs-19-b.png
  products/cloudflare-one/src/content/static/documentation/identity/adfs/adfs-19.png
  products/cloudflare-one/src/content/static/documentation/identity/azure/azure-ad-groups.png
  products/cloudflare-one/src/content/static/documentation/identity/azure/configure-group-n.png
  products/cloudflare-one/src/content/static/documentation/identity/facebook/fb10.png
  products/cloudflare-one/src/content/static/documentation/identity/generic-oidc/oidc.png
  products/cloudflare-one/src/content/static/documentation/identity/keycloak/access-config-keycloak.png
  products/cloudflare-one/src/content/static/documentation/identity/yandex/yandex-9.png
  products/cloudflare-one/src/content/tutorials/user-diagnostics.md
Labels: product:cloudflare-one

#739 [1.1.1.1] terminology change
  products/1.1.1.1/src/content/nitty-gritty-details/index.md
Labels: product:1.1.1.1

#742 [Teams] warp troubleshooting fix
  products/cloudflare-one/src/content/faq/warp.md
Labels: product:cloudflare-one

#755 [Teams] cleanup
  products/cloudflare-one/src/content/connections/connect-apps/license/copyrights.md
  products/cloudflare-one/src/content/connections/connect-apps/license/index.md
  products/cloudflare-one/src/content/connections/connect-apps/trycloudflare.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/global-rules.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
Labels: product:cloudflare-one

#758 [Teams] Update global-rules.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/global-rules.md
Labels: product:cloudflare-one

#762 [Teams] new SaaS diagram
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/static/documentation/applications/diagram-saas.jpg
Labels: product:cloudflare-one

#766 [Teams] inclusive language update
  products/cloudflare-one/src/content/policies/zero-trust/common-configs.md
Labels: product:cloudflare-one

#793 [Teams] Links and terminology cleanup
  products/cloudflare-one/src/content/applications/non-HTTP/RDP.md
  products/cloudflare-one/src/content/applications/non-HTTP/arbitrary-tcp.md
  products/cloudflare-one/src/content/applications/non-HTTP/kubectl.md
  products/cloudflare-one/src/content/applications/non-HTTP/ssh/ssh-connections.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/Windows-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/android-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/faq/access.md
  products/cloudflare-one/src/content/identity/devices/azure-ad.md
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/identity/devices/require-gateway.md
  products/cloudflare-one/src/content/identity/devices/tanium.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/tutorials/block-football-users.md
  products/cloudflare-one/src/content/tutorials/block-football.md
  products/cloudflare-one/src/content/tutorials/block-tld.md
  products/cloudflare-one/src/content/tutorials/block-uploads.md
  products/cloudflare-one/src/content/tutorials/country-rules.md
  products/cloudflare-one/src/content/tutorials/credentials-only.md
  products/cloudflare-one/src/content/tutorials/default-groups.md
  products/cloudflare-one/src/content/tutorials/gitlab.md
  products/cloudflare-one/src/content/tutorials/mongodb-tunnel.md
  products/cloudflare-one/src/content/tutorials/multi-origin.md
  products/cloudflare-one/src/content/tutorials/okta-u2f.md
  products/cloudflare-one/src/content/tutorials/require-swg.md
  products/cloudflare-one/src/content/tutorials/review-gateway-block.md
  products/cloudflare-one/src/content/tutorials/secure-dns-devices.md
  products/cloudflare-one/src/content/tutorials/secure-dns-network.md
  products/cloudflare-one/src/content/tutorials/share-new-site.md
  products/cloudflare-one/src/content/tutorials/single-command.md
  products/cloudflare-one/src/content/tutorials/split-tunnel.md
  products/cloudflare-one/src/content/tutorials/ssh-cert-bastion.md
  products/cloudflare-one/src/content/tutorials/ssh-service-token.md
Labels: product:cloudflare-one

#802 [Teams] code fixes
  products/cloudflare-one/src/content/applications/non-HTTP/ssh/ssh-connections.md
Labels: product:cloudflare-one

#805 [Teams] Update dns-over-tls.md
  products/cloudflare-one/src/content/connections/connect-devices/agentless/dns-over-tls.md
Labels: product:cloudflare-one

#807 [Teams] fix typo
  products/cloudflare-one/src/content/connections/connect-devices/index.md
Labels: product:cloudflare-one

#818 Update Workers examples
  products/workers/src/content/examples/cache-api.md
  products/workers/src/content/examples/cache-post-request.md
  products/workers/src/content/examples/country-code-redirect.md
  products/workers/src/content/examples/rewrite-links.md
  products/workers/src/content/examples/signing-requests.md
  products/workers/src/content/runtime-apis/cache.md
  products/workers/src/content/runtime-apis/fetch.md
  products/workers/src/content/runtime-apis/html-rewriter.md
  products/workers/src/content/runtime-apis/request.md
  products/workers/src/content/runtime-apis/web-crypto.md
Labels: product:workers

#737 [1.1.1.1] Privacy policy update
  products/1.1.1.1/src/content/privacy/public-dns-resolver.md
Labels: product:1.1.1.1

#826 [Teams] JWT fix
  products/cloudflare-one/src/content/identity/users/validating-json.md
Labels: product:cloudflare-one

#822 [Teams] split tunnels
  products/cloudflare-one/src/content/connections/connect-devices/warp/local-domains.md
  products/cloudflare-one/src/content/static/documentation/connections/add-IP-address.png
  products/cloudflare-one/src/content/static/documentation/connections/add-domains.png
  products/cloudflare-one/src/content/static/documentation/connections/delete-IP-address.png
  products/cloudflare-one/src/content/static/documentation/connections/delete-domains.png
Labels: product:cloudflare-one

#833 [Teams] edits to local domains + split tunnel
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/local-domains.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/split-tunnels.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/local-domains.md
Labels: product:cloudflare-one

#838 [Teams] Lists docs
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
  products/cloudflare-one/src/content/policies/filtering/lists.md
  products/cloudflare-one/src/content/static/documentation/policies/manual-list.png
  products/cloudflare-one/src/content/static/documentation/policies/upload-csv.png
Labels: product:cloudflare-one

#840 [Teams] Formatting fix and new onboarding docs
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/local-domains.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/split-tunnels.md
  products/cloudflare-one/src/content/setup/index.md
  products/cloudflare-one/src/content/static/documentation/quickstart/step-0.png
  products/cloudflare-one/src/content/static/documentation/quickstart/step-000.png
  products/cloudflare-one/src/content/static/documentation/quickstart/step-2.png
  products/cloudflare-one/src/content/static/documentation/quickstart/step-3.png
  products/cloudflare-one/src/content/static/documentation/quickstart/step-4.png
  products/cloudflare-one/src/content/static/documentation/quickstart/step-5.png
  products/cloudflare-one/src/content/static/documentation/quickstart/step-6.png
Labels: product:cloudflare-one

#618 Update QR code image
  products/workers/src/content/tutorials/build-a-qr-code-generator/index.md
  products/workers/src/content/tutorials/build-a-qr-code-generator/media/demo.png
Labels: product:workers
