Repository cloudflare/cloudflare-docs, pull requests merged in 2021-04, with the labels that each got.

#1007 [Teams] BI docs
  products/cloudflare-one/src/content/analytics/index.md
  products/cloudflare-one/src/content/connections/connect-browsers/configuration.md
  products/cloudflare-one/src/content/connections/connect-browsers/index.md
  products/cloudflare-one/src/content/connections/connect-browsers/known-limitations.md
  products/cloudflare-one/src/content/faq/access.md
  products/cloudflare-one/src/content/faq/browser-isolation.md
  products/cloudflare-one/src/content/faq/gateway.md
  products/cloudflare-one/src/content/faq/index.md
  products/cloudflare-one/src/content/faq/self-diagnostics.md
  products/cloudflare-one/src/content/faq/tunnel.md
  products/cloudflare-one/src/content/faq/warp.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/zero-trust/mfa-requirements.md
  products/cloudflare-one/src/content/static/documentation/rbi/cloudflare-gateway-root-ca.png
  products/cloudflare-one/src/content/static/documentation/rbi/cloudflare-one-browser-diagram.png
  products/cloudflare-one/src/content/static/documentation/rbi/isolated-browser.png
  products/cloudflare-one/src/content/static/documentation/rbi/macos-submitting-feedback.png
  products/cloudflare-one/src/content/static/documentation/rbi/non-cloudflare-root-ca.png
  products/cloudflare-one/src/content/static/documentation/rbi/non-isolated-browser.png
Labels: product:cloudflare-one

#1056 [Teams] add device serials docs + small tweaks
  products/cloudflare-one/src/content/applications/app-launcher.md
  products/cloudflare-one/src/content/applications/configure-apps/app-paths.md
  products/cloudflare-one/src/content/applications/configure-apps/index.md
  products/cloudflare-one/src/content/applications/configure-apps/saas-apps.md
  products/cloudflare-one/src/content/applications/configure-apps/self-hosted-apps.md
  products/cloudflare-one/src/content/applications/non-http.md
  products/cloudflare-one/src/content/identity/devices/corp-device.md
  products/cloudflare-one/src/content/identity/devices/tanium.md
  products/cloudflare-one/src/content/identity/service-auth/service-tokens.md
  products/cloudflare-one/src/content/policies/lists.md
  products/cloudflare-one/src/content/static/documentation/applications/non-http/access-page.png
  products/cloudflare-one/src/content/tutorials/zsh-env-var.md
Labels: product:cloudflare-one

#1001 Removed screenshots that were outdated or didn't have value + reworke…
  products/load-balancing/src/content/best-practices/index.md
  products/load-balancing/src/content/create-load-balancer-ui/index.md
  products/load-balancing/src/content/static/images/add-traffic-steering.png
  products/load-balancing/src/content/static/images/attach-health-check-complete.png
  products/load-balancing/src/content/static/images/attach-monitor-0.png
  products/load-balancing/src/content/static/images/attach-monitor.png
  products/load-balancing/src/content/static/images/attach-origin-pools-list.png
  products/load-balancing/src/content/static/images/best-practices-1.png
  products/load-balancing/src/content/static/images/configure-monitor-values.png
  products/load-balancing/src/content/static/images/configure-monitor.png
  products/load-balancing/src/content/static/images/create-load-balancer-add-origin.png
  products/load-balancing/src/content/static/images/create-load-balancer-create-origin.png
  products/load-balancing/src/content/static/images/create-load-balancer-custom-rules.png
  products/load-balancing/src/content/static/images/create-load-balancer-hostname.png
  products/load-balancing/src/content/static/images/create-load-balancer-review.png
  products/load-balancing/src/content/static/images/create-load-balancer.png
  products/load-balancing/src/content/static/images/create-monitor-advanced.png
  products/load-balancing/src/content/static/images/create-monitor-example.png
  products/load-balancing/src/content/static/images/create-monitor-link.png
  products/load-balancing/src/content/static/images/load-balancing-cards.png
  products/load-balancing/src/content/static/images/session-affinity-1.png
  products/load-balancing/src/content/static/images/session-affinity-2.png
  products/load-balancing/src/content/static/images/traffic-steering-1.png
  products/load-balancing/src/content/static/images/troubleshooting-1.png
  products/load-balancing/src/content/static/images/weighted-load-balancing-1.png
  products/load-balancing/src/content/troubleshooting/index.md
  products/load-balancing/src/content/understand-basics/load-balancers.md
  products/load-balancing/src/content/understand-basics/monitors.md
  products/load-balancing/src/content/understand-basics/session-affinity.md
  products/load-balancing/src/content/understand-basics/traffic-steering.md
  products/load-balancing/src/content/understand-basics/weighted-load-balancing.md
Labels: documentation

#809 First cut at addressing per hostname override
  products/load-balancing/src/content/create-load-balancer-api/index.md
  products/load-balancing/src/content/create-load-balancer-ui/index.md
  products/load-balancing/src/content/static/images/origin-host-header-override.png
  products/load-balancing/src/content/understand-basics/monitors.md
  products/load-balancing/src/content/understand-basics/pools.md
Labels: documentation

#999 [Teams] EPP Prereq
  products/cloudflare-one/src/content/applications/index.md
  products/cloudflare-one/src/content/identity/devices/carbon-black.md
  products/cloudflare-one/src/content/identity/devices/crowdstrike.md
  products/cloudflare-one/src/content/identity/devices/sentinel-one.md
Labels: product:cloudflare-one

#794 Typo in Hiding the image "sever"
  products/images/src/content/controlling-origin-access.md
Labels: documentation

#496 clarify functionality supported in magic firewall today
  products/magic-transit/src/content/magic-firewall/forming-an-expression.md
  products/magic-transit/src/content/magic-firewall/index.md
Labels: documentation

#403 tweak language to not confuse customers with mention of egress
  products/magic-transit/src/content/about/bandwidth-measurement.md
Labels: documentation

#365 add MT endpoint hc interval
  products/magic-transit/src/content/about/health-checks/endpoint.md
Labels: documentation

#943 Add kubernetes link to migrate-lb-tunnel.md
  products/cloudflare-one/src/content/tutorials/migrate-lb-tunnel.md
Labels: product:cloudflare-one

#541 Update fields.md
  products/firewall/src/content/cf-firewall-language/fields.md
Labels: documentation

#1024 Update Ruleset Engine and (new) WAF documentation
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-cmr-joomla-only.md
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-cmr-wordpress-block.md
  products/firewall/src/content/cf-rulesets/common-use-cases/deploy-custom-managed-use-case.md
  products/firewall/src/content/cf-rulesets/common-use-cases/enable-selected-rules.md
  products/firewall/src/content/cf-rulesets/common-use-cases/index.md
  products/firewall/src/content/cf-rulesets/common-use-cases/override-ruleset-category-rule.md
  products/firewall/src/content/cf-rulesets/common-use-cases/override-ruleset-tag-rule.md
  products/firewall/src/content/cf-rulesets/configure-root-ruleset.md
  products/firewall/src/content/cf-rulesets/create-phase-rulesets.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/add-rules-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/create-custom-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/deploy-custom-ruleset.md
  products/firewall/src/content/cf-rulesets/custom-rulesets/index.md
  products/firewall/src/content/cf-rulesets/deploy-rulesets.md
  products/firewall/src/content/cf-rulesets/index.md
  products/firewall/src/content/cf-rulesets/managed-rulesets/deploy-managed-ruleset.md
  products/firewall/src/content/cf-rulesets/managed-rulesets/index.md
  products/firewall/src/content/cf-rulesets/managed-rulesets/override-managed-ruleset.md
  products/firewall/src/content/cf-rulesets/rulesets-api/create.md
  products/firewall/src/content/cf-rulesets/rulesets-api/endpoints.md
  products/firewall/src/content/cf-rulesets/rulesets-api/get.md
  products/firewall/src/content/cf-rulesets/rulesets-api/index.md
  products/firewall/src/content/cf-rulesets/rulesets-api/json-object.md
  products/firewall/src/content/cf-rulesets/rulesets-api/post.md
  products/firewall/src/content/cf-rulesets/rulesets-api/put.md
  products/firewall/src/content/cf-rulesets/rulesets-api/update-rule.md
  products/firewall/src/content/cf-rulesets/rulesets-api/update.md
  products/firewall/src/content/cf-rulesets/rulesets-api/view.md
  products/firewall/src/content/cf-rulesets/view-root-rulesets.md
  products/firewall/src/content/cf-rulesets/view-rulesets.md
  products/firewall/src/content/images/rulesets-phases.png
  products/firewall/src/content/images/rulesets-rules-example.png
  products/firewall/src/content/images/rulesets-types.png
  products/waf/src/content/about.md
  products/waf/src/content/change-log/index.md
  products/waf/src/content/images/waf-apply-changes-modal.png
  products/waf/src/content/images/waf-browse-rules.png
  products/waf/src/content/images/waf-configure-ruleset.png
  products/waf/src/content/images/waf-managed-rules-tab.png
  products/waf/src/content/images/waf-modify-selected-rules.png
  products/waf/src/content/images/waf-selected-tag.png
  products/waf/src/content/index.md
  products/waf/src/content/managed-rulesets/deploy-api.md
  products/waf/src/content/managed-rulesets/deploy-zone-dashboard.md
  products/waf/src/content/managed-rulesets/index.md
Labels: documentation

#1081 [Teams] link fix
  products/cloudflare-one/src/content/setup/index.md
Labels: product:cloudflare-one

#1048 [Teams] delete link to BI docs
  products/cloudflare-one/src/content/index.md
Labels: product:cloudflare-one

#926 Put the link to the Cloudflare Pages dashboard in the docs!
  products/pages/src/content/getting-started/index.md
  products/pages/src/content/index.md
Labels: product:pages

#929 Fix homebrew installation instructions
  products/http3/src/content/curl-brew.md
Labels: technical review

#1097 Fix broken kubernetes link
  products/cloudflare-one/src/content/tutorials/migrate-lb-tunnel.md
Labels: product:cloudflare-one

#1098 Remove mentions to RE2
  products/firewall/src/content/cf-firewall-language/operators.md
  products/firewall/src/content/cf-firewall-language/values.md
  products/firewall/src/content/known-issues-and-faq/index.md
  products/load-balancing/src/content/understand-basics/load-balancing-rules/reference.md
Labels: product:firewall

#747 Update chrome.md
  products/http3/src/content/chrome.md
Labels: documentation

#1101 Fix broken link on Get Started Guide page
  products/workers/src/content/get-started/guide.md
Labels: product:workers

#1090 [Logs] PCX-1536 Update product templates for http_requests fields
  products/logs/src/content/log-fields/_partials/http_requests.md
Labels: product:logs

#711 Update index.md
  products/registrar/src/content/transfer-instructions/index.md
Labels: product:registrar

#1109 Fix 404 in audit-logs.md
  products/cloudflare-one/src/content/analytics/logs/audit-logs.md
Labels: product:cloudflare-one

#1118 [Teams] fix lists docs
  products/cloudflare-one/src/content/policies/lists.md
Labels: product:cloudflare-one

#639 Colos: additions and removals
  developers.cloudflare.com/package.json
Labels: engineering

#1083 Updates to address pcx-1400
  products/ssl/src/content/ssl-for-saas/hostname-verification.md
Labels: documentation, product:SSL

#1127 Fix root wildcard example
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
Labels: product:cloudflare-one

#1122 WARP Client updates for mdm
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/iOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/macOS-Teams.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/parameters.md
  products/cloudflare-one/src/content/static/documentation/connections/CloudflareWARP.mobileconfig
Labels: product:warp-client

#1058 Pcx 1488
  products/registrar/src/content/domain-transfers/transfer-faq.md
  products/registrar/src/content/domain-transfers/transfer-to-cloudflare.md
  products/registrar/src/content/domain-transfers/troubleshoot-a-stalled-transfer.md
  products/registrar/src/content/static/navbar.png
  products/registrar/src/content/transfer-instructions/namecheap.md
Labels: product:registrar

#1086 [Workers] WebSocket docs
  products/workers/src/content/learning/integrations.md
  products/workers/src/content/learning/metrics-and-analytics.md
  products/workers/src/content/learning/security-model/index.md
  products/workers/src/content/learning/using-websockets.md
  products/workers/src/content/runtime-apis/websockets.md
Labels: product:workers

#1126 Fix typo in wildcard example
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
Labels: product:cloudflare-one

#1106 [Analytics] Adding Web Analytics to developer docs site
  products/analytics/src/content/faq/index.md
  products/analytics/src/content/graphql-api/index.md
  products/analytics/src/content/graphql-api/migration-guides/index.md
  products/analytics/src/content/graphql-api/migration-guides/zone-analytics-colos/index.md
  products/analytics/src/content/graphql-api/migration-guides/zone-analytics/index.md
  products/analytics/src/content/index.md
  products/analytics/src/content/static/images/dash-web_analytics-filters.png
  products/analytics/src/content/static/images/dash-web_analytics-overview.png
  products/analytics/src/content/web-analytics/configuring-web-analytics/filters/index.md
  products/analytics/src/content/web-analytics/configuring-web-analytics/index.md
  products/analytics/src/content/web-analytics/getting-started/index.md
  products/analytics/src/content/web-analytics/getting-started/web-analytics-spa/index.md
  products/analytics/src/content/web-analytics/index.md
  products/analytics/src/content/web-analytics/understanding-web-analytics/core-web-vitals/index.md
  products/analytics/src/content/web-analytics/understanding-web-analytics/index.md
Labels: product:analytics

#913 Remove unused code
  products/workers/src/content/examples/logging-headers.md
Labels: product:workers

#987 Update access-with-terraform.md
  products/cloudflare-one/src/content/api-terraform/access-with-terraform.md
Labels: product:cloudflare-one

#884 pages: add "how to preact" document
  products/pages/src/content/how-to/deploy-a-preact-site.md
Labels: product:pages

#958 Update build.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: engineering

#984 Pcx 1277 page shield
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  developers.cloudflare.com/src/components/product-grid.js
  products/page-shield/README.md
  products/page-shield/docs-config.js
  products/page-shield/package.json
  products/page-shield/src/content/_partials/_script-monitor-definition.md
  products/page-shield/src/content/index.md
  products/page-shield/src/content/script-monitor/about/index.md
  products/page-shield/src/content/script-monitor/get-started/index.md
  products/page-shield/src/content/script-monitor/index.md
  products/page-shield/src/content/script-monitor/troubleshooting/index.md
  products/page-shield/wrangler.toml
Labels: documentation, product:page-shield

#816 Change CLOUDFLARE_TOKEN to CLOUDFLARE_API_TOKEN
  products/terraform/src/content/advanced-topics/importing-cloudflare-resources.md
  products/terraform/src/content/tutorial/source-control.md
Labels: product:terraform, technical review

#1215 [Teams] docs fixes
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/identity/idp-integration/adfs.md
  products/cloudflare-one/src/content/identity/idp-integration/azuread.md
  products/cloudflare-one/src/content/identity/idp-integration/centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/citrixadc-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/facebook-login.md
  products/cloudflare-one/src/content/identity/idp-integration/generic-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/github.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
  products/cloudflare-one/src/content/identity/idp-integration/gsuite.md
  products/cloudflare-one/src/content/identity/idp-integration/jumpcloud-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/keycloak.md
  products/cloudflare-one/src/content/identity/idp-integration/linkedin.md
  products/cloudflare-one/src/content/identity/idp-integration/okta.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-oidc.md
  products/cloudflare-one/src/content/identity/idp-integration/onelogin-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/ping-saml.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-centrify.md
  products/cloudflare-one/src/content/identity/idp-integration/saml-okta.md
  products/cloudflare-one/src/content/identity/idp-integration/signed_authn.md
  products/cloudflare-one/src/content/identity/idp-integration/yandex.md
  products/cloudflare-one/src/content/identity/users/validating-json.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
  products/cloudflare-one/src/content/tutorials/salesforce-saas.md
Labels: product:cloudflare-one

#398 add note about supernet IRRs
  products/byoip/src/content/irr-records/verify-irr-entries.md
Labels: documentation, product:BYOIP

#1222 [Teams] added os-specific short-lived cert instructions
  products/cloudflare-one/src/content/identity/users/short-lived-certificates.md
Labels: product:cloudflare-one

#1229 [Teams] New policies diagrams
  products/cloudflare-one/src/content/identity/devices/mutual-tls-authentication.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/static/documentation/policies/gateway-dns-diagram.png
  products/cloudflare-one/src/content/static/documentation/policies/gateway-identity-diagram.jpg
Labels: product:cloudflare-one

#1235 [Teams] AV docs
  products/cloudflare-one/src/content/policies/filtering/http-policies/antivirus-scanning.md
  products/cloudflare-one/src/content/static/documentation/policies/av-toggles.png
  products/cloudflare-one/src/content/static/documentation/policies/blocked-decision.png
Labels: product:cloudflare-one

#1241 [Pages] Fix hugo/react mixup
  products/pages/src/content/how-to/deploy-a-hugo-site.md
Labels: product:pages
