Repository cloudflare/cloudflare-docs, pull requests merged in 2022-10, with the labels that each got.

#6083 [Workers] Test Tab Switcher on 3 Examples
  content/workers/examples/103-early-hints.md
  content/workers/examples/ab-testing.md
  content/workers/examples/accessing-the-cloudflare-object.md
Labels: hacktoberfest-accepted

#6085 grammatical correction
  content/dns/zone-setups/full-setup/setup.md
Labels: hacktoberfest-accepted

#6122 [Wrangler] Document multi-worker testing
  content/workers/wrangler/api.md
Labels: hacktoberfest-accepted

#6154 [Wrangler] Document --var in dev/publish
  content/workers/wrangler/commands.md
Labels: hacktoberfest-accepted

#6160 [Wrangler] Document --define for dev/publish
  content/workers/wrangler/commands.md
Labels: hacktoberfest-accepted

#6112 [Pages] Refactor API page
  content/pages/platform/api.md
Labels: hacktoberfest-accepted

#6153 [Workers] add DigestStream to WebCrypto Docs
  content/workers/runtime-apis/web-crypto.md
Labels: hacktoberfest-accepted

#6196 Added Functions billing FAQ
  content/pages/platform/functions/billing.md
Labels: hacktoberfest-accepted

#6215 [R2] fix overlap between s3 api content and page index
  content/r2/data-access/s3-api/api.md
Labels: product:r2

#6141 [Wrangler] Deprecation messaging
  content/workers/wrangler/cli-wrangler/_index.md
Labels: documentation, product:workers, do-not-merge-yet

#5433 [SSL] Digicert migration guide for ACM certs
  content/fundamentals/notifications/notification-available.md
  content/ssl/_partials/_full-zone-acm-dcv.md
  content/ssl/_partials/_generic-view-validation-status.md
  content/ssl/_partials/_partial-zone-acm-dcv.md
  content/ssl/_partials/_txt-validation-api.md
  content/ssl/_partials/_txt-validation-dashboard.md
  content/ssl/_partials/_txt-validation-preamble.md
  content/ssl/edge-certificates/changing-dcv-method/methods/_index.md
  content/ssl/edge-certificates/changing-dcv-method/methods/email.md
  content/ssl/edge-certificates/changing-dcv-method/methods/http.md
  content/ssl/edge-certificates/changing-dcv-method/methods/txt.md
  content/ssl/reference/migration-guides/digicert-update/_index.md
  content/ssl/reference/migration-guides/digicert-update/advanced-certificates.md
  content/ssl/reference/migration-guides/digicert-update/custom-hostname-certificates.md
Labels: do-not-merge-yet

#6129 [Docs Site] clipboard: do not copy unselectable elements from codeblocks.
  assets/events.ts
Labels: engineering

#6305 [Rules] Update features available in Dynamic Redirects
  content/rules/url-forwarding/_index.md
  content/rules/url-forwarding/dynamic-redirects/_index.md
Labels: product:rules

#5511 [WAF] Rename WAF ML
  content/_redirects
  content/waf/about/waf-attack-score.md
Labels: product:waf

#6331 [WAF] Add new rate limiting characteristic (API only)
  content/waf/rate-limiting-rules/_index.md
  content/waf/rate-limiting-rules/parameters.md
Labels: product:waf

#6271 [R2] clarify md5 being available by default for non-multipart objects
  content/r2/data-access/workers-api/workers-api-reference.md
Labels: product:r2

#6393 [DDoS Protection] Add account-level API configurations for HTTP Managed Ruleset
  content/ddos-protection/_partials/_ddos-custom-expressions-api-only.md
  content/ddos-protection/managed-rulesets/adaptive-protection.md
  content/ddos-protection/managed-rulesets/http/_index.md
  content/ddos-protection/managed-rulesets/http/configure-api.md
  content/ddos-protection/managed-rulesets/http/configure-dashboard.md
  content/ddos-protection/managed-rulesets/http/override-parameters.md
  content/ddos-protection/managed-rulesets/http/rule-categories.md
  content/ddos-protection/reference/alerts.md
  content/fundamentals/notifications/notification-available.md
Labels: product:ddos

#6462 [wrangler] types command
  content/workers/wrangler/commands.md
Labels: documentation, product:workers, content:new

#6461 [wrangler] deployment command
  content/workers/wrangler/commands.md
Labels: documentation, product:workers, blocked, content:new
