Repository cloudflare/cloudflare-docs, pull requests merged in 2022-06, with the labels that each got.

#4503 [Pages] Add Direct Uploads to get started guide
  content/_redirects
  content/pages/get-started/index.md
  content/pages/platform/custom-domains.md
  content/pages/platform/direct-upload.md
  content/pages/platform/media/domains.png
  content/pages/platform/preview-deployments.md
Labels: product:pages

#4490 Add NETCAT explanation - Visible ports
  content/firewall/_partials/_open-ports-blocked-traffic.md
  content/firewall/recipes/require-specific-http-ports.md
  content/fundamentals/get-started/reference/network-ports.md
Labels: product:firewall, fundamentals

#4680 fix: Remove extra spacing after links
  layouts/_default/_markup/render-link.html
Labels: engineering

#4300 [Pages]: How to use Pages Functions for A/B testing
  content/pages/how-to/use-worker-for-ab-testing-in-pages.md
Labels: product:pages

#4521 Set color-scheme in dark theme
  static/home.css
  static/style.css
Labels: engineering

#4812 [Workers] Document new cacheTags feature
  content/workers/examples/cache-tags.md
  content/workers/runtime-apis/request.md
Labels: documentation, product:workers

#4850 [Workers doc]: update adding domain section
  content/workers/get-started/guide.md
Labels: product:workers

#4923 Clear up file limit
  content/pages/platform/direct-upload.md
Labels: product:pages

#4921 [Pages]: Update custom branches section.
  content/pages/platform/git-integration.md
Labels: product:pages

#4944 Transform Rules troublshooting - link to evaluation explanation
  content/rules/transform/troubleshooting.md
Labels: product:rules
