Repository cloudflare/cloudflare-docs, pull requests merged in 2022-11, with the labels that each got.

#6494 [Wrangler] Hiding Deployments
  content/workers/wrangler/commands.md
Labels: documentation, product:workers, content:edit

#6511 [DDoS Protection] Update HTTP DDoS Attack Alert
  content/ddos-protection/reference/alerts.md
Labels: product:ddos

#6520 Add DDoS change log entries for 2022-11-02
  content/ddos-protection/change-log/http/2022-11-02-emergency.md
Labels: product:ddos

#6568 Announcing new detection for libinjection
  content/waf/change-log/scheduled-changes.md
Labels: product:waf

#6570 [Rules] Update "URL forwarding" section following dashboard changes (reapply changes)
  assets/json/optimize-site-speed.json
  content/_redirects
  content/fundamentals/api/reference/permissions.md
  content/rules/_index.md
  content/rules/_partials/_product_execution_order.md
  content/rules/url-forwarding/_index.md
  content/rules/url-forwarding/bulk-redirects/_index.md
  content/rules/url-forwarding/bulk-redirects/create-api.md
  content/rules/url-forwarding/bulk-redirects/create-dashboard.md
  content/rules/url-forwarding/dynamic-redirects/_index.md
  content/rules/url-forwarding/single-redirects/_index.md
  content/rules/url-forwarding/single-redirects/create-api.md
  content/rules/url-forwarding/single-redirects/create-dashboard.md
  content/rules/url-forwarding/single-redirects/settings.md
  content/rules/url-forwarding/single-redirects/terraform-example.md
  content/ruleset-engine/reference/phases-list.md
  content/ruleset-engine/rules-language/actions.md
  content/ruleset-engine/rules-language/functions.md
  content/terraform/additional-configurations/_index.md
  content/terraform/additional-configurations/link-dynamic-redirects.md
Labels: product:rules

#6528 [Page Shield] Adjust alerts to mention "resources"
  content/page-shield/reference/alerts.md
Labels: product:page-shield

#6638 [Rules] Small updates to Origin Rules documentation
  content/rules/origin-rules/create-api.md
  content/ruleset-engine/rules-language/actions.md
Labels: product:rules

#6645 Fix terraform example
  content/rules/origin-rules/terraform-example.md
Labels: product:terraform, product:rules

#6663 [Docs] Update actions/checkout and actions/setup-node to v3
  .github/workflows/ci.yml
Labels: engineering

#5015 [Pages] Functions docs rewrite
  content/_redirects
  content/pages/platform/functions/_index.md
  content/pages/platform/functions/advanced-mode.md
  content/pages/platform/functions/api-reference.md
  content/pages/platform/functions/billing.md
  content/pages/platform/functions/bindings.md
  content/pages/platform/functions/debugging-and-logging.md
  content/pages/platform/functions/examples/_index.md
  content/pages/platform/functions/examples/ab-testing.md
  content/pages/platform/functions/examples/cors-headers.md
  content/pages/platform/functions/function-invocation-routes.md
  content/pages/platform/functions/get-started.md
  content/pages/platform/functions/local-development.md
  content/pages/platform/functions/media/dash-custom-logs.png
  content/pages/platform/functions/media/dash-logs.png
  content/pages/platform/functions/media/metrics.png
  content/pages/platform/functions/media/wrangler-custom-logs.png
  content/pages/platform/functions/metrics.md
  content/pages/platform/functions/middleware.md
  content/pages/platform/functions/plugins/_index.md
  content/pages/platform/functions/pricing.md
  content/pages/platform/functions/routing.md
  content/pages/platform/functions/typescript.md
  content/workers/platform/pricing.md
Labels: product:pages

#6458 Refactor Cloudflare GraphQL API's getting started and limit blocks of…
  content/analytics/graphql-api/features/data-sets/index.md
  content/analytics/graphql-api/features/discovery/_index.md
  content/analytics/graphql-api/features/discovery/introspection.md
  content/analytics/graphql-api/features/discovery/settings.md
  content/analytics/graphql-api/getting-started/_index.md
  content/analytics/graphql-api/getting-started/compose-graphql-query.md
  content/analytics/graphql-api/getting-started/execute-graphql-query.md
  content/analytics/graphql-api/getting-started/explore-graphql-schema.md
  content/analytics/graphql-api/getting-started/querying-basics.md
  content/analytics/graphql-api/limits/index.md
Labels: product:analytics, product:logs

#6747 Update alerts.md
  content/ddos-protection/reference/alerts.md
Labels: product:ddos

#6752 Update logs.md
  content/ddos-protection/reference/logs.md
Labels: product:ddos

#6007 Update _index.md
  content/rules/transform/url-rewrite/_index.md
Labels: product:rules

#6774 [DDoS Protection] Clarify that DDoS reports and DDoS alerts are independent
  content/ddos-protection/_partials/_alerts-and-reports-independent.md
  content/ddos-protection/reference/alerts.md
  content/ddos-protection/reference/reports.md
Labels: product:ddos

#6773 [DDoS Protection] Getting additional DNS protection
  content/ddos-protection/about/attack-coverage.md
Labels: product:ddos

#6802 [Ruleset Engine] Update availability of HTTP request body fields
  content/ruleset-engine/rules-language/fields.md
Labels: product:ruleset-engine

#6744 [wrangler] dependency on libc++
  content/workers/wrangler/commands.md
Labels: product:workers, content:new

#6816 [DDoS Protection] Advanced TCP Protection filters (API instructions)
  content/ddos-protection/tcp-protection/_index.md
  content/ddos-protection/tcp-protection/api/_index.md
  content/ddos-protection/tcp-protection/api/examples.md
  content/ddos-protection/tcp-protection/api/json-objects.md
  content/ddos-protection/tcp-protection/concepts.md
  content/ddos-protection/tcp-protection/rule-settings.md
Labels: product:ddos

#6835 [Queues] fix typescript comments in how-queues-works.md
  content/queues/learning/how-queues-works.md
Labels: product:queues

#6831 [DDoS Protection] Clarify Advanced TCP Protection availability in attack coverage page
  content/ddos-protection/about/attack-coverage.md
Labels: product:ddos

#6841 Broken link to Spectrum Community site
  content/spectrum/get-started/index.md
  data/spectrum.yml
Labels: product:spectrum

#6840 Typo HTTP3 > HTTP/3
  content/cloudflare-one/identity/devices/access-integrations/mutual-tls-authentication.md
Labels: product:cloudflare-one

#6846 Update index.md
  content/cloudflare-one/setup/index.md
Labels: product:cloudflare-one

#6813 [Wrangler] Custom builds page
  content/workers/wrangler/custom-builds.md
Labels: quick win

#6882 [Rules] Fix custom error response example
  content/rules/custom-error-responses/create-api.md
  content/ruleset-engine/rules-language/fields.md
Labels: product:rules, product:ruleset-engine

#5120 [Pages]: Add binding instructions to remix sites
  content/pages/framework-guides/remix.md
Labels: product:pages
