Repository cloudflare/cloudflare-docs, pull requests merged in 2022-08, with the labels that each got.

#5422 Update Workers learning section ordering to reflect more natural order
  content/workers/learning/debugging-workers.md
  content/workers/learning/how-kv-works.md
  content/workers/learning/how-the-cache-works.md
  content/workers/learning/how-workers-works.md
  content/workers/learning/integrations.md
  content/workers/learning/logging-workers.md
  content/workers/learning/metrics-and-analytics.md
  content/workers/learning/migrating-to-module-workers.md
  content/workers/learning/playground.md
  content/workers/learning/security-model/index.md
  content/workers/learning/service-worker.md
  content/workers/learning/using-durable-objects.md
  content/workers/learning/using-services/index.md
  content/workers/learning/using-streams.md
  content/workers/learning/using-websockets.md
Labels: product:workers

#5424 Start using Module Syntax as default for overview
  content/workers/_index.md
Labels: product:workers

#5425 update routing to custom domain
  content/workers/platform/routing/_index.md
Labels: product:workers

#5420 [Pages]: Organize known issues for more clarity
  content/pages/platform/known-issues.md
Labels: product:pages

#5356 [Pages]:Redirect Workers tutorial to Pages guide
  content/_redirects
  content/workers/tutorials/deploy-a-react-app-with-create-react-app/index.md
  content/workers/tutorials/deploy-a-react-app-with-create-react-app/media/demo.png
Labels: product:pages

#3869 websocket: bad handshake troubleshooting
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one

#5436 [Pages]: Add R2 and D1 sections to Functions docs
  content/pages/platform/functions/_index.md
  content/pages/platform/media/d1-test-database.png
  content/pages/platform/media/r2-test-bucket.png
Labels: product:pages

#5283 [Docs site] Implement Overview redesign
  layouts/_default/overview.html
  layouts/partials/footer.html
  layouts/shortcodes/beta.html
  layouts/shortcodes/description.html
  layouts/shortcodes/feature.html
  layouts/shortcodes/plan.html
  layouts/shortcodes/related.html
  layouts/shortcodes/resource-group.html
  layouts/shortcodes/resource.html
  static/icons/resources/documentation-clipboard.svg
  static/icons/resources/help-giving.svg
  static/icons/resources/learning-center-book.svg
  static/icons/resources/logo-Discord.svg
  static/icons/resources/price.svg
  static/icons/resources/user-multi.svg
  static/style.css
Labels: technical review

#5270 Update false-negative.md
  content/ddos-protection/managed-rulesets/adjust-rules/false-negative.md
Labels: product:ddos

#5669 Update false-negative.md
  content/ddos-protection/managed-rulesets/adjust-rules/false-negative.md
Labels: product:ddos

#5668 Update _index.md
  content/ddos-protection/_index.md
Labels: product:ddos

#5672 Update false-negative.md
  content/ddos-protection/managed-rulesets/adjust-rules/false-negative.md
Labels: product:ddos
