Repository cloudflare/cloudflare-docs, pull requests merged in 2022-12, with the labels that each got.

#6889 [WAF] Change Firewall Events > Security Events
  assets/dashboard-landing.json
  content/api-shield/security/schema-validation/_index.md
  content/bots/concepts/ja3-fingerprint.md
  content/bots/get-started/bm-subscription.md
  content/bots/get-started/free.md
  content/bots/get-started/pro.md
  content/ddos-protection/managed-rulesets/adaptive-protection.md
  content/ddos-protection/managed-rulesets/adjust-rules/false-negative.md
  content/ddos-protection/managed-rulesets/adjust-rules/false-positive.md
  content/ddos-protection/managed-rulesets/http/_index.md
  content/ddos-protection/reference/alerts.md
  content/ddos-protection/reference/analytics.md
  content/firewall/cf-dashboard/rule-preview.md
  content/firewall/known-issues-and-faq/index.md
  content/firewall/recipes/challenge-bad-bots.md
  content/fundamentals/data-products/analytics-integrations/google-cloud/index.md
  content/fundamentals/data-products/types-of-analytics.md
  content/fundamentals/get-started/concepts/cloudflare-challenges.md
  content/fundamentals/get-started/reference/cloudflare-ray-id.md
  content/fundamentals/notifications/notification-available.md
  content/waf/_index.md
  content/waf/_partials/_analytics-activity-log.md
  content/waf/_partials/_analytics-create-firewall-rule.md
  content/waf/_partials/_analytics-filter-report-duration.md
  content/waf/_partials/_analytics-share-url.md
  content/waf/about/content-scanning.md
  content/waf/analytics/_index.md
  content/waf/analytics/additional-information.md
  content/waf/analytics/free-plan.md
  content/waf/analytics/paid-plans.md
  content/waf/change-log/_index.md
  content/waf/custom-rules/skip/options.md
  content/waf/exposed-credentials-check/monitor-events.md
  content/waf/managed-rulesets/payload-logging/_index.md
  content/waf/managed-rulesets/payload-logging/view.md
  content/waf/managed-rulesets/waf-exceptions/_index.md
  content/waf/reference/alerts.md
  content/waf/tools/ip-access-rules/_index.md
  content/workers/platform/limits.md
Labels: product:waf

#6426 [turnstile] Add changelog for October 28th
  content/turnstile/changelog.md
Labels: product:Challenges/Turnstile

#6905 [Wrangler] Banner color change
  content/workers/wrangler/cli-wrangler/_index.md
Labels: product:workers, content:edit

#6944 Add DDoS change log entries for 2022-12-06
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: product:ddos

#7077 Fix dead link
  content/fundamentals/_partials/_account-roles-non-ent.md
Labels: documentation

#7090 Fix link
  content/web3/ipfs-gateway/concepts/ipfs.md
Labels: product:web3
