Repository cloudflare/cloudflare-docs, pull requests merged in 2022-05, with the labels that each got.

#4264 [Pages] Hugo uses semver
  content/pages/platform/build-configuration.md
Labels: product:pages

#4271 Fix docs filename typo
  content/terraform/tutorial/track-history.md
Labels: product:terraform

#4343 [Pages]: Add branch to build control docs
  content/pages/platform/branch-build-controls.md
  content/pages/platform/media/configure-preview-deployment.png
  content/pages/platform/media/include-preview-brances.png
Labels: product:pages

#4342 [Pages]: Add direct uploads docs
  content/pages/platform/direct-upload.md
Labels: product:pages

#4233 [Pages] Update Worker site to Pages migration guide
  content/pages/migrations/migrating-from-workers/index.md
Labels: product:pages

#4027 Pages Plugins
  content/pages/platform/functions/_index.md
  content/pages/platform/functions/plugins/_index.md
  content/pages/platform/functions/plugins/cloudflare-access.md
  content/pages/platform/functions/plugins/community-plugins.md
  content/pages/platform/functions/plugins/google-chat.md
  content/pages/platform/functions/plugins/google-chat.png
  content/pages/platform/functions/plugins/graphql.md
  content/pages/platform/functions/plugins/hcaptcha.md
  content/pages/platform/functions/plugins/honeycomb.md
  content/pages/platform/functions/plugins/honeycomb.png
  content/pages/platform/functions/plugins/sentry.md
  content/pages/platform/functions/plugins/static-forms.md
  content/pages/platform/functions/plugins/stytch.md
Labels: product:pages

#4328 [Rules] Update Managed Transforms
  content/rules/transform/managed-transforms/_index.md
  content/rules/transform/managed-transforms/configure.md
  content/rules/transform/managed-transforms/reference.md
Labels: product:rules

#4475 [Pages]: Fix 404 for direct uploads demo site
  content/_redirects
Labels: product:pages

#4492 pubsub: update JS example
  content/pub-sub/examples/connect-javascript.md
Labels: product:pub-sub
