Repository cloudflare/cloudflare-docs, pull requests merged in 2022-07, with the labels that each got.

#4996 [Terraform] Add Response Header Modification Rule example
  content/terraform/additional-configurations/transform-rules.md
Labels: product:terraform, product:rules

#5012 [Pages]: Fix CLI copy for direct uploads commands
  content/pages/platform/direct-upload.md
Labels: product:pages

#5022 [DDoS Protection] Migrate DDoS reports from KB page
  content/ddos-protection/reference/reports.md
  content/ddos-protection/static/ddos-report-email.png
  content/ddos-protection/static/ddos-report-no-attacks.png
Labels: product:ddos

#5023 [DDoS Protection] Migrate KB page on DDoS alerts
  content/ddos-protection/managed-rulesets/adjust-rules/false-positive.md
  content/ddos-protection/reference/alerts.md
  content/ddos-protection/reference/logs.md
  content/ddos-protection/static/ddos-notification-example.png
  content/fundamentals/_partials/_ddos.md
  content/fundamentals/notifications/_index.md
Labels: product:ddos

#5036 [Pages]: Update local dev support for env vars
  content/pages/platform/functions/_index.md
Labels: product:pages

#3744 How to refactor a Worker to Pages Function
  content/pages/how-to/refactor-a-worker-to-pages-functions.md
Labels: product:pages

#5096 [Pages]: Update Mailchannel plugin doc
  content/pages/platform/functions/plugins/mailchannel_DKIM_DNS_setup.png
  content/pages/platform/functions/plugins/mailchannels.md
Labels: product:pages

#5081 [Pages]: Update Sveltekit adapter
  content/pages/framework-guides/deploy-a-svelte-site.md
Labels: product:pages

#4656 [ZT] add pac file instructions and restructure agentless options section
  content/1.1.1.1/setup/google-cloud.md
  content/_redirects
  content/cloudflare-one/connections/connect-apps/configuration/local-management/configuration-file.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-useful-commands.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-useful-terms.md
  content/cloudflare-one/connections/connect-apps/private-net/_index.md
  content/cloudflare-one/connections/connect-apps/private-net/private-hostnames-ips.md
  content/cloudflare-one/connections/connect-apps/private-net/tunnel-virtual-networks.md
  content/cloudflare-one/connections/connect-devices/agentless/_index.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/_index.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-tls.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/locations/_index.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/locations/dns-resolver-ips.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/native-os.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/router.md
  content/cloudflare-one/connections/connect-devices/agentless/pac-files.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/vpn.md
  content/cloudflare-one/connections/connect-devices/warp/set-up-warp.md
  content/cloudflare-one/connections/connect-networks/_index.md
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
  content/cloudflare-one/glossary/index.md
  content/cloudflare-one/policies/filtering/dns-policies/_index.md
  content/cloudflare-one/policies/filtering/initial-setup/dns.md
  content/cloudflare-one/static/documentation/connections/firefox-network-settings.png
  content/cloudflare-one/static/documentation/connections/firefox-pac-file.png
  content/fundamentals/glossary.md
Labels: do-not-merge-yet

#5215 [Pages] Document using `tsconfig.json` with Pages Functions
  content/pages/platform/functions/_index.md
Labels: product:pages

#5216 [Pages]: Update for DO support in local dev
  content/pages/platform/functions/_index.md
Labels: product:pages

#5193 [Pages]: Add correct build command for pelican
  content/pages/platform/build-configuration.md
Labels: product:pages

#5256 [Rules] Clarify Managed Transforms scope
  content/rules/transform/managed-transforms/_index.md
Labels: product:rules

#5307 Fix "Rasberry" typo
  content/cloudflare-one/connections/connect-apps/do-more-with-tunnels/hosting-requirements.md
Labels: product:cloudflare-one

#4763 [ZT] Gateway authenticated doh
  content/cloudflare-one/connections/connect-devices/agentless/_index.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/_index.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/cloudflare-one/connections/connect-devices/agentless/pac-files.md
  content/cloudflare-one/static/documentation/connections/authenticated-doh.py
Labels: do-not-merge-yet

#5217 [WAF] Clarify known limitation for Firewall Analytics
  content/waf/analytics/_index.md
Labels: product:waf
