Repository cloudflare/cloudflare-docs, pull requests merged in 2022-01, with the labels that each got.

#3049 Fixed tunnel run command with config parameter
  products/cloudflare-one/src/content/connections/connect-apps/configuration/configuration-file/index.md
Labels: product:cloudflare-one

#2866 Added note about Access and Workers Cache issue
  products/workers/src/content/runtime-apis/cache.md
Labels: product:workers

#3050 Fixed tunnel run command with config parameter
  products/cloudflare-one/src/content/connections/connect-apps/install-and-setup/tunnel-useful-commands.md
Labels: product:cloudflare-one

#3053 Add note about specifying a server
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/local-domains.md
Labels: product:cloudflare-one

#3012 Update actions.md
  products/firewall/src/content/cf-firewall-rules/actions.md
Labels: product:firewall

#3055 Add missing info to os version posture check
  products/cloudflare-one/src/content/identity/devices/os-version.md
Labels: product:cloudflare-one

#3028 docs: use more descriptive example code
  products/images/src/content/image-resizing/integration-with-frameworks.md
Labels: product:images

#3051 [Pages] limits update
  products/pages/src/content/platform/limits.md
Labels: product:pages

#3062 [Teams] Update index.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/exclude-traffic/index.md
Labels: product:cloudflare-one

#2857 Add Same-URL A/B Testing to Examples
  products/workers/src/content/examples/ab-testing.md
Labels: product:workers

#3065 Improve the Private DNS tutorial
  products/cloudflare-one/src/content/static/secure-origin-connections/warp-to-tunnel-internal-dns/create-local-domain-fallback.png
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel-internal-dns.md
Labels: product:cloudflare-one

#3080 [Zero Trust] move tutorial to main docs
  products/cloudflare-one/src/content/connections/connect-networks/private-net/private-hostnames-ips.md
  products/cloudflare-one/src/content/tutorials/warp-to-tunnel-internal-dns.md
Labels: product:cloudflare-one

#3068 [Workers] web standard revision
  products/workers/src/content/runtime-apis/web-standards.md
Labels: product:workers

#3081 [Workers] webcrypto revision
  products/workers/src/content/runtime-apis/web-crypto.md
Labels: product:workers

#3002 Add remix framework to framework guide
  products/pages/src/content/framework-guides/remix.md
Labels: product:pages

#3096 [Zero Trust] Update index.md
  products/cloudflare-one/src/content/connections/connect-apps/configuration/configuration-file/index.md
Labels: product:cloudflare-one

#3106 Add example for functions single path segment.
  products/pages/src/content/platform/functions.md
Labels: product:pages

#3101 Fix base64 decoding of UTF-8 test in Basic Auth
  products/workers/src/content/examples/basic-auth.md
Labels: product:workers

#3122 [Zero Trust] small link fixes and move content
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/mdm-deployment/partners/jamf.md
  products/cloudflare-one/src/content/connections/connect-networks/private-net/private-hostnames-ips.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/check-policy.md
  products/cloudflare-one/src/content/policies/filtering/index.md
Labels: product:cloudflare-one

#3127 Add DoH addresses to the Firewall config
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/firewall.md
Labels: product:cloudflare-one

#3117 Specify Zola version supported for Pages build.
  products/pages/src/content/framework-guides/deploy-a-zola-site.md
Labels: product:pages

#3090 [Pages] Adding tutorials for HTML and React forms with Formspree
  products/pages/src/content/tutorials/add-a-react-form-with-formspree/env-vars.png
  products/pages/src/content/tutorials/add-a-react-form-with-formspree/form-endpoint.png
  products/pages/src/content/tutorials/add-a-react-form-with-formspree/index.md
  products/pages/src/content/tutorials/add-a-react-form-with-formspree/new-form-dialog.png
  products/pages/src/content/tutorials/add-an-html-form-with-formspree/form-endpoint.png
  products/pages/src/content/tutorials/add-an-html-form-with-formspree/index.md
  products/pages/src/content/tutorials/add-an-html-form-with-formspree/new-form-dialog.png
Labels: product:pages

#3089 Add note about _headers behavior in Pages
  products/pages/src/content/platform/headers.md
Labels: product:pages

#3095 [Workers] Fix HTML / CSS syntax of sample code
  products/workers/src/content/examples/geolocation-hello-world.md
Labels: product:workers

#3141 [Pages] style guide fixes
  products/pages/src/content/framework-guides/astro.md
  products/pages/src/content/framework-guides/deploy-a-zola-site.md
  products/pages/src/content/index.md
  products/pages/src/content/migrations/migrating-from-firebase.md
  products/pages/src/content/platform/build-configuration.md
  products/pages/src/content/platform/deploy-hooks.md
  products/pages/src/content/platform/known-issues.md
  products/pages/src/content/platform/limits.md
  products/pages/src/content/tutorials/add-a-react-form-with-formspree/index.md
  products/pages/src/content/tutorials/add-an-html-form-with-formspree/index.md
  products/pages/src/content/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
  products/pages/src/content/tutorials/build-an-api-with-workers/index.md
  products/pages/src/content/tutorials/forms/index.md
Labels: preview

#3165 [Zero Trust] Update require-swg.md
  products/cloudflare-one/src/content/tutorials/require-swg.md
Labels: product:cloudflare-one

#3169 [Zero Trust] Update index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
Labels: product:cloudflare-one

#3170 [Zero Trust] Update install-cloudflare-cert.md
  products/cloudflare-one/src/content/connections/connect-devices/warp/install-cloudflare-cert.md
Labels: product:cloudflare-one

#3171 [Zero Trust] Update google.md
  products/cloudflare-one/src/content/identity/idp-integration/google.md
Labels: product:cloudflare-one

#3142 Add local binding command and examples for kv and DO
  products/pages/src/content/platform/functions.md
Labels: product:pages

#3129 Add another example for next() in functions
  products/pages/src/content/platform/functions.md
Labels: product:pages

#3177 add .NET Framework requirement for Windows devices
  products/warp-client/src/content/known-issues-and-faq.md
Labels: documentation

#3181 Add commands for KV, ENV and DO bindings to pages dev example
  products/pages/src/content/platform/functions.md
Labels: product:pages

#2836 Mention workarounds for 25MB file size limit
  products/pages/src/content/framework-guides/deploy-a-blazor-site.md
Labels: product:pages

#3180 Update notification-available.md
  products/fundamentals/src/content/notifications/notification-available.md
Labels: product:ddos

#3178 Add section on Wrangler env variables
  products/workers/src/content/cli-wrangler/commands.md
Labels: product:workers

#3208 Add min version of .net framework
  products/cloudflare-one/src/content/connections/connect-devices/warp/download-warp.md
Labels: product:cloudflare-one

#3207 Change Workers changelog dates to ISO-8601
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#3229 Update trycloudflare.md
  products/cloudflare-one/src/content/connections/connect-apps/run-tunnel/trycloudflare.md
Labels: product:cloudflare-one

#3241 New 3rd party licensing page
  products/warp-client/src/content/legal/3rdparty.md
  products/warp-client/src/content/legal/index.md
Labels: product:cloudflare-one

#3244 Add HTTPS info to WARP Firewall page
  products/cloudflare-one/src/content/connections/connect-devices/warp/deployment/firewall.md
Labels: product:cloudflare-one

#3124 update file to be general "git integration"
  products/pages/src/content/platform/git-integration.md
Labels: product:pages

#3251 [Zaraz] Behavioral triggers, multiple triggers and Zaraz script
  products/zaraz/src/content/get-started/create-trigger.md
  products/zaraz/src/content/get-started/options.md
  products/zaraz/src/content/get-started/send-events.md
Labels: preview

#3246 Update changelog.md
  products/workers/src/content/platform/changelog.md
Labels: product:workers

#3261 [Zero Trust] Update cloudflare-teams-roles-permissions.md
  products/cloudflare-one/src/content/cloudflare-teams-roles-permissions.md
Labels: product:cloudflare-one

#3294 [Zero Trust] Changes to policies and glossary
  products/cloudflare-one/src/content/glossary/index.md
  products/cloudflare-one/src/content/policies/browser-isolation/configuration.md
  products/cloudflare-one/src/content/policies/browser-isolation/index.md
  products/cloudflare-one/src/content/policies/filtering/configuring-block-page.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies-builder/index.md
  products/cloudflare-one/src/content/policies/filtering/dns-policies/categories.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/antivirus-scanning.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/application-app-types.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/global-rules.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/index.md
  products/cloudflare-one/src/content/policies/filtering/http-policies/tenant-control.md
  products/cloudflare-one/src/content/policies/filtering/identity-selectors.md
  products/cloudflare-one/src/content/policies/filtering/index.md
  products/cloudflare-one/src/content/policies/filtering/network-policies/index.md
  products/cloudflare-one/src/content/policies/index.md
  products/cloudflare-one/src/content/policies/lists.md
  products/cloudflare-one/src/content/policies/zero-trust/app-paths.md
  products/cloudflare-one/src/content/policies/zero-trust/index.md
  products/cloudflare-one/src/content/policies/zero-trust/mfa-requirements.md
  products/cloudflare-one/src/content/policies/zero-trust/policy-management.md
  products/cloudflare-one/src/content/policies/zero-trust/require-purpose-justification.md
  products/cloudflare-one/src/content/policies/zero-trust/temporary-auth.md
Labels: product:cloudflare-one
