Repository cloudflare/cloudflare-docs, pull requests merged in 2022-04, with the labels that each got.

#3993 compress logo SVG icons
  data/1.1.1.1.yml
  data/analytics.yml
  data/api-shield.yml
  data/api.yml
  data/apps.yml
  data/automatic-platform-optimization.yml
  data/bots.yml
  data/byoip.yml
  data/cache.yml
  data/client-ip-geolocation.yml
  data/cloudflare-one.yml
  data/ddos-protection.yml
  data/distributed-web.yml
  data/dns.yml
  data/email-routing.yml
  data/firewall.yml
  data/fundamentals.yml
  data/http3.yml
  data/images.yml
  data/load-balancing.yml
  data/logs.yml
  data/magic-firewall.yml
  data/magic-transit.yml
  data/magic-wan.yml
  data/network-error-logging.yml
  data/network-interconnect.yml
  data/page-shield.yml
  data/pages.yml
  data/partners.yml
  data/r2.yml
  data/railgun.yml
  data/randomness-beacon.yml
  data/registrar.yml
  data/rules.yml
  data/ruleset-engine.yml
  data/security-center.yml
  data/spectrum.yml
  data/ssl.yml
  data/stream.yml
  data/tenant.yml
  data/terraform.yml
  data/time-services.yml
  data/waf.yml
  data/waiting-room.yml
  data/warp-client.yml
  data/workers.yml
  data/zaraz.yml
Labels: engineering

#4117 [Guide] Framework Guide for deploying Qwik sites
  content/pages/framework-guides/deploy-a-qwik-site.md
Labels: product:pages

#4210 Typos
  content/images/cloudflare-images/upload-images/supported-formats.md
Labels: product:images

#4186 update known issues
  content/pages/platform/known-issues.md
Labels: product:pages

#4250 [Images] ACCOUNT_ID should be ACCOUNT_HASH in resize-images.md
  content/images/cloudflare-images/resize-images.md
Labels: documentation
