Repository cloudflare/cloudflare-docs, pull requests merged in 2023-08, with the labels that each got.

#10131 [Web anlytics] Changelog update for 2023-07-25
  content/analytics/web-analytics/changelog.md
Labels: product:analytics, size/xs

#10019 Update Troubleshooting Cloudflare 5XX errors.md
  content/support/Troubleshooting/Cloudflare Errors/Troubleshooting Cloudflare 5XX errors.md
Labels: size/xs, product:support

#10115 [Web Analytics] Include bot filtering
  content/analytics/web-analytics/understanding-web-analytics/dimensions.md
Labels: product:analytics, size/xs, pcx_team_review

#9702 [D1] Fix Order of D1 `changelog.md` by Date
  content/d1/changelog.md
Labels: product:d1, size/s

#10138 [D1] Update limits.md
  content/d1/changelog.md
  content/d1/platform/limits.md
Labels: product:d1, size/s

#9010 [D1] Improve API tutorial to remove friction when following along
  content/d1/tutorials/build-a-comments-api/index.md
Labels: product:d1, size/s

#10141 [Area 1] Added Australia region
  content/email-security/_partials/_bcc-table-geographic-locations.md
  content/email-security/_partials/_mx-geographic-locations.md
  content/email-security/deployment/inline/reference/egress-ips.md
Labels: size/s, pcx_team_review, product:email-security

#10145 Explain limits on making too many concurrent updates to the same ruleset
  content/fundamentals/api/reference/limits.md
  content/ruleset-engine/rulesets-api/_index.md
Labels: product:ruleset-engine, size/xs, product:fundamentals

#9843 Radar: added sharing/embed instructions
  content/radar/get-started/embed.md
  static/icons/share.svg
Labels: size/s, product:radar

#9952 [Radar] Add explanation of industry and verticals to Radar glossary
  content/radar/glossary.md
Labels: size/xs, product:radar

#10119 [Docs] Update a few curl commands
  content/api-shield/security/jwt-validation/configure.md
  content/api-shield/security/schema-validation/configure.md
  content/api-shield/security/sequence-mitigation/configure.md
  content/magic-firewall/how-to/use-rules-list.md
Labels: product:api-shield, size/s, product:magic-firewall, pcx_team_review

#10149 [GH] Alex update
  .github/workflows/spell-check.yml
  assets/tutorial-coveo.ts
  content/bots/_index.md
  content/bots/troubleshooting.md
Labels: product:bots, size/s, pcx_team_review

#10153 Update configure.md
  content/api-shield/security/sequence-mitigation/configure.md
Labels: product:api-shield, size/xs

#10108 Fix logpull_options validation curl in api-configuration.md
  content/logs/get-started/api-configuration.md
Labels: product:logs, size/s

#10140 [Cache] Added a note to Browser Cache TTL
  content/cache/how-to/edge-browser-cache-ttl/_index.md
Labels: product:cache, size/xs, pcx_team_review

#10142 add information about Zaraz Consent API
  content/zaraz/consent-management/api.md
Labels: size/m, product:zaraz

#10151 [workers] add migration guide for v3
  content/workers/wrangler/migration/update-v2-to-v3.md
Labels: product:workers, size/s

#10163 [Homepage] Update footer
  layouts/partials/home.footer.html
Labels: size/s, pcx_team_review

#10109 [ZT] Gateway application protocol detection
  content/cloudflare-one/_partials/gateway/_protocol-detection.md
  content/cloudflare-one/insights/logs/gateway-logs/_index.md
  content/cloudflare-one/policies/gateway/network-policies/_index.md
  content/cloudflare-one/policies/gateway/network-policies/protocol-detection.md
  content/cloudflare-one/policies/gateway/network-policies/ssh-logging.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#9945 [SSL] More information on certificate authorities
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/issue-and-validate/issue-certificates.md
  content/ssl/reference/browser-compatibility.md
  content/ssl/reference/certificate-authorities.md
Labels: product:ssl, product:cloudflare-for-platforms, size/m, pcx_team_review

#10159 Emergency release for CVE-2023-3519
  content/waf/change-log/2023-08-01---emergency-release.md
Labels: product:waf, size/s

#10171 [QUEUES] Improving get-started page
  content/queues/get-started.md
Labels: product:queues, size/s, pcx_team_review

#10169 [Area 1] Admin quarantine
  content/email-security/email-configuration/admin-quarantine.md
Labels: size/xs, pcx_team_review, product:email-security

#10168 [Workers] add upstash integration
  content/workers/databases/native-integrations/_index.md
  content/workers/databases/native-integrations/upstash.md
Labels: product:workers, size/m

#10175 [Area 1 ] Added missing geo loc table
  content/email-security/email-configuration/retract-settings/office365-retraction.md
Labels: size/xs, pcx_team_review, product:email-security

#10162 [CAT] Turnstile updates
  content/fundamentals/get-started/concepts/cloudflare-challenges.md
Labels: size/xs, product:fundamentals, pcx_team_review

#10179 [Area 1] False positives
  content/email-security/email-configuration/phish-submissions/_index.md
Labels: size/s, pcx_team_review, product:email-security

#10181 [WAF, Firewall] Add code owners
  .github/CODEOWNERS
Labels: size/xs, pcx_team_review

#10172 Update load-custom-managed-component.md
  content/zaraz/advanced/load-custom-managed-component.md
Labels: size/xs, product:zaraz

#10177 [Workers] add upstash note
  content/workers/databases/native-integrations/upstash.md
Labels: product:workers, size/xs

#10103 Update local flags for kv commands
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#10182 r2: Update cache-api.md
  content/r2/examples/cache-api.md
Labels: product:r2, size/xs

#10166 Revert "[UI update] Websites to zones (#10076)"
  content/analytics/web-analytics/understanding-web-analytics/core-web-vitals.md
  content/cloudflare-for-platforms/_partials/_delete-custom-hostname-dash.md
  content/ddos-protection/managed-rulesets/adaptive-protection.md
  content/ddos-protection/managed-rulesets/http/configure-dashboard.md
  content/dns/additional-options/reverse-zones.md
  content/dns/zone-setups/full-setup/setup.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup.md
  content/firewall/cf-dashboard/create-edit-delete-rules.md
  content/fundamentals/account-and-billing/account-maintenance/cancel-subscription.md
  content/fundamentals/data-products/analytics-integrations/elastic/index.md
  content/fundamentals/data-products/analytics-integrations/graylog/index.md
  content/fundamentals/data-products/analytics-integrations/looker/index.md
  content/fundamentals/get-started/setup/add-site.md
  content/images/cloudflare-images/serve-images/serve-images-custom-domains.md
  content/images/image-resizing/serve-images-custom-paths.md
  content/load-balancing/additional-options/load-balancing-rules/reference.md
  content/logs/get-started/enable-destinations/new-relic/index.md
  content/pages/how-to/www-redirect.md
  content/pages/platform/custom-domains.md
  content/rules/normalization/manage.md
  content/rules/snippets/create-dashboard.md
  content/rules/transform/managed-transforms/configure.md
  content/rules/transform/request-header-modification/create-dashboard.md
  content/rules/transform/response-header-modification/create-dashboard.md
  content/rules/transform/url-rewrite/create-dashboard.md
  content/speed/optimization/content/auto-minify.md
  content/speed/optimization/content/brotli/enable.md
  content/ssl/edge-certificates/additional-options/http-strict-transport-security.md
  content/ssl/edge-certificates/additional-options/minimum-tls.md
  content/support/More Dashboard Apps/Cloudflare Apps/Managing Cloudflare Apps.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/Understanding Cloudflare Hotlink Protection.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What does Server Side Excludes (SSE) do.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What is Email Address Obfuscation.md
  content/turnstile/get-started/_index.md
  content/waf/custom-rules/create-dashboard.md
  content/web3/_partials/_create-gateway-dashboard.md
  content/web3/how-to/enable-gateways.md
  content/web3/how-to/manage-gateways.md
  content/workers/configuration/routing/routes.md
  content/workers/examples/103-early-hints.md
  data/learning-paths/application-security.json
  data/learning-paths/optimize-site-speed.json
Labels: product:workers, product:images, product:pages, product:analytics, product:firewall, product:load-balancing, product:logs, product:rules, product:ssl, product:dns, product:waf, product:web3, product:cloudflare-for-platforms, size/m, product:turnstile, product:fundamentals, product:support, product:ddos-protection, pcx_team_review, product:speed

#10161 [HOLD][R2] Updated content for bucket scoped tokens
  content/r2/api/s3/tokens.md
Labels: product:r2, size/s, pcx_team_review

#10134 [ZT] Add SentinelOne provider
  content/cloudflare-one/identity/devices/service-providers/crowdstrike.md
  content/cloudflare-one/identity/devices/service-providers/kolide.md
  content/cloudflare-one/identity/devices/service-providers/microsoft.md
  content/cloudflare-one/identity/devices/service-providers/sentinelone.md
  content/cloudflare-one/identity/devices/service-providers/taniums2s.md
  content/cloudflare-one/identity/devices/service-providers/uptycs.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#10185 [Turnstile] Various edits
  content/turnstile/_index.md
  content/turnstile/changelog.md
  content/turnstile/community-resources.md
  content/turnstile/get-started/client-side-rendering.md
  content/turnstile/get-started/server-side-validation.md
  content/turnstile/migration/_index.md
  content/turnstile/reference/terraform.md
Labels: size/s, product:turnstile, pcx_team_review

#9643 Add NitroPack to the Compatible plugins list
  content/automatic-platform-optimization/about/plugin-compatibility.md
Labels: size/xs, product:automatic-platform-optimization

#10192 [Analytics and Fundamentals] Removed images
  assets/images/analytics/GraphiQL-edit-http-headers-complete.png
  assets/images/fundamentals/elastic/screenshots/elastic-cloud-console.png
  assets/images/fundamentals/elastic/screenshots/environment-variables-lambda-cloudflare.png
  content/analytics/graphql-api/getting-started/authentication/graphql-client-headers.md
  content/fundamentals/data-products/analytics-integrations/elastic/index.md
Labels: product:analytics, size/xs, product:fundamentals, pcx_team_review

#10194 [Ruleset Engine] Update `lookup_json_string()` function signature
  content/ruleset-engine/rules-language/functions.md
Labels: product:ruleset-engine, size/xs, pcx_team_review

#10193 [WAF] Improve WAF exception dashboard instructions
  assets/images/waf/waf-exception-create.png
  assets/images/waf/waf-exception-select-all-rules.png
  content/waf/managed-rules/waf-exceptions/_index.md
  content/waf/managed-rules/waf-exceptions/define-dashboard.md
Labels: product:waf, size/s, pcx_team_review

#10196 update next.js static preset
  content/pages/_partials/_build-configuration.md
Labels: product:pages, size/xs

#10198 [API Shield] SV2 limitation note
  content/api-shield/security/schema-validation/configure.md
Labels: product:api-shield, size/xs, pcx_team_review

#10178 [SSL] New FAQ page on CAs and certs
  content/ssl/edge-certificates/troubleshooting/ca-faq.md
  content/ssl/reference/certificate-authorities.md
  content/ssl/reference/migration-guides/digicert-update/_index.md
Labels: product:ssl, size/s, pcx_team_review

#10173 [SSL] Per-hostname min TLS and cipher suites
  content/ssl/edge-certificates/additional-options/minimum-tls.md
  content/ssl/edge-certificates/advanced-certificate-manager/_index.md
  content/ssl/reference/cipher-suites/customize-cipher-suites.md
  content/ssl/reference/protocols.md
Labels: product:ssl, size/m, pcx_team_review

#10188 [ZT] Apply suggestions to protocol detection
  content/cloudflare-one/_partials/gateway/_protocol-detection.md
  content/cloudflare-one/insights/logs/gateway-logs/_index.md
  content/cloudflare-one/policies/gateway/network-policies/protocol-detection.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#10136 [Workers] Update wrangler secret:bulk documentation for stdin support
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#10200 [Stream] Expiring uploads
  content/stream/edit-videos/video-clipping.md
  content/stream/stream-live/start-stream-live.md
  content/stream/uploading-videos/upload-video-file.md
Labels: product:stream, size/s, pcx_team_review

#9477 DO NOT MERGE [Durable Objects] Make Durable Objects a tile
  .github/ISSUE_TEMPLATE/content.add.yml
  .github/ISSUE_TEMPLATE/content.edit.yml
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
  content/_redirects
  content/durable-objects/_index.md
  content/durable-objects/_partials/_durable-objects-pricing.md
  content/durable-objects/api/_index.md
  content/durable-objects/api/alarms-in-durable-objects.md
  content/durable-objects/api/hibernatable-websockets-api.md
  content/durable-objects/api/transactional-storage-api.md
  content/durable-objects/examples/_index.md
  content/durable-objects/examples/build-a-counter.md
  content/durable-objects/examples/durable-object-example.md
  content/durable-objects/examples/durable-objects-rollup-es-modules.md
  content/durable-objects/examples/durable-objects-typescript-rollup-es-modules.md
  content/durable-objects/examples/durable-objects-webpack-commonjs.md
  content/durable-objects/get-started.md
  content/durable-objects/how-to/_index.md
  content/durable-objects/how-to/access-durable-object-from-a-worker.md
  content/durable-objects/how-to/create-durable-object-stubs.md
  content/durable-objects/learning/_index.md
  content/durable-objects/learning/durable-objects-migrations.md
  content/durable-objects/learning/in-memory-state.md
  content/durable-objects/learning/websockets.md
  content/durable-objects/platform/_index.md
  content/durable-objects/platform/data-location.md
  content/durable-objects/platform/environments.md
  content/durable-objects/platform/graphql-analytics.md
  content/durable-objects/platform/known-issues.md
  content/durable-objects/platform/limits.md
  content/durable-objects/platform/pricing.md
  content/durable-objects/platform/troubleshooting.md
  content/workers/configuration/durable-objects.md
  content/workers/runtime-apis/durable-objects.md
  data/durable-objects.yml
Labels: product:workers, do-not-merge-yet, product:durable-objects, size/xl, product:_redirects

#10206 [Durable Objects] Remove duplicate example
  content/durable-objects/get-started.md
Labels: product:durable-objects, size/xs, pcx_team_review

#10205 [Durable Objects] Fixing broken links
  content/workers/configuration/bindings/_index.md
  content/workers/configuration/deployments.md
  content/workers/learning/storage-options.md
  content/workers/platform/pricing.md
  content/workers/runtime-apis/kv.md
  content/workers/runtime-apis/service-bindings.md
  content/workers/runtime-apis/websockets/websockets.md
  content/workers/wrangler/workers-kv.md
Labels: product:workers, size/s, pcx_team_review

#10204 [Magic Firewall] Enable ids dashbaord
  content/magic-firewall/about/ids.md
  content/magic-firewall/how-to/enable-ids.md
Labels: size/s, product:magic-firewall, pcx_team_review

#10208 [Area 1] Expand webhooks tutorials to new supported products
  content/email-security/reporting/siem-integration/_index.md
  content/email-security/reporting/siem-integration/knowbe4-integration-guide.md
  content/email-security/reporting/siem-integration/logscale-integration-guide.md
  content/email-security/reporting/siem-integration/splunk-integration-guide.md
  content/email-security/reporting/siem-integration/sumo-logic-integration-guide.md
Labels: size/s, pcx_team_review, product:email-security

#10024 [SSL] More context on DCV steps and relevant parties
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/webhook-definitions.md
  content/ssl/_partials/_dcv-definition.md
  content/ssl/concepts.md
  content/ssl/edge-certificates/changing-dcv-method/_index.md
  content/ssl/edge-certificates/changing-dcv-method/dcv-flow.md
  content/ssl/edge-certificates/changing-dcv-method/troubleshooting.md
Labels: product:ssl, product:cloudflare-for-platforms, size/s, pcx_team_review

#10207 [Rules] Small fixes for Bulk Redirects
  content/rules/url-forwarding/bulk-redirects/faq.md
  content/rules/url-forwarding/bulk-redirects/how-it-works.md
Labels: product:rules, size/s, pcx_team_review

#10072 [DDoS Protection] Update ATP docs
  content/byoip/how-to/configure-dynamic-advertisement.md
  content/ddos-protection/tcp-protection/_index.md
  content/ddos-protection/tcp-protection/how-to/add-prefix.md
Labels: product:byoip, size/s, product:ddos-protection, pcx_team_review

#10210 [Workers] remove `publish` & replace with `deploy`
  assets/images/workers/tutorials/rust/publish.gif
  assets/images/workers/tutorials/slackbot/publish.gif
  content/analytics/analytics-engine/get-started.md
  content/cloudflare-one/identity/authorization-cookie/cors.md
  content/cloudflare-one/policies/access/external-evaluation.md
  content/cloudflare-one/tutorials/azuread-risky-users.md
  content/constellation/get-started/first-constellation-worker.md
  content/d1/tutorials/build-a-comments-api/index.md
  content/pages/how-to/add-custom-http-headers.md
  content/pages/platform/direct-upload.md
  content/pub-sub/learning/integrate-workers.md
  content/queues/learning/consumer-concurrency.md
  content/r2/api/workers/workers-multipart-usage.md
  content/radar/investigate/bgp-anomalies.md
  content/workers/configuration/compatibility-dates.md
  content/workers/configuration/deployments.md
  content/workers/configuration/routing/custom-domains.md
  content/workers/runtime-apis/webassembly/rust/_index.md
  content/workers/tutorials/build-a-slackbot/index.md
  content/workers/tutorials/connect-to-turso-using-workers/index.md
  content/workers/tutorials/deploy-a-realtime-chat-app/index.md
  content/workers/tutorials/generate-youtube-thumbnails-with-workers-and-images/index.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/hello-world-rust/index.md
  content/workers/tutorials/localize-a-website/index.md
  content/workers/tutorials/store-data-with-fauna/index.md
  content/workers/wrangler/bundling.md
  content/workers/wrangler/ci-cd.md
  content/workers/wrangler/configuration.md
  content/workers/wrangler/custom-builds.md
  content/workers/wrangler/migration/v1-to-v2/eject-webpack.md
  content/workers/wrangler/system-environment-variables.md
Labels: product:workers, product:cloudflare-one, product:pages, product:analytics, product:pub-sub, product:r2, product:queues, product:d1, product:constellation, size/m, product:radar, pcx_team_review

#10211 Update okta.md
  content/cloudflare-one/identity/idp-integration/okta.md
Labels: product:cloudflare-one, size/xs

#9456 [workers] Add timing attack example
  content/workers/examples/auth-with-headers.md
  content/workers/examples/basic-auth.md
  content/workers/examples/protect-against-timing-attacks.md
Labels: product:workers, size/s

#10216 [API Shield] API Discovery inbox
  content/api-shield/_partials/_blog-post.md
  content/api-shield/security/api-discovery.md
Labels: product:api-shield, size/s, pcx_team_review

#10221 [ZT] delete a cloudflared replica
  content/cloudflare-one/connections/connect-networks/install-and-setup/tunnel-guide/local/tunnel-useful-commands.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#10223 [ZT] Update deploy-cloudflared-replicas.md
  content/cloudflare-one/connections/connect-networks/install-and-setup/deploy-cloudflared-replicas.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#10199 Farber/pcx 7781 cipa lp 2
  assets/images/dns/dns-resolvers-android.png
  assets/images/dns/dns-resolvers-iphone.png
  assets/images/dns/dns-resolvers-macosx.png
  assets/images/dns/dns-resolvers-windows.png
  assets/json-collector.ts
  content/cloudflare-one/_partials/_gateway-add-block-page.md
  content/cloudflare-one/_partials/_gateway-add-locations-static-ip-warning.md
  content/cloudflare-one/_partials/_gateway-add-locations.md
  content/cloudflare-one/_partials/_gateway-add-logo-image.md
  content/cloudflare-one/_partials/_gateway-customize-block-page.md
  content/cloudflare-one/_partials/gateway/_block-cipa.md
  content/cloudflare-one/_partials/gateway/_recommended-dns-policies.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/locations/_index.md
  content/cloudflare-one/policies/gateway/configuring-block-page.md
  content/cloudflare-one/policies/gateway/domain-categories.md
  content/email-security/_index.md
  content/email-security/_partials/_email-security-description.md
  content/email-security/_partials/_reference-detect-phish.md
  content/email-security/_partials/_setup-api-overview.md
  content/email-security/_partials/_setup-inline-overview.md
  content/email-security/_partials/_setup-overview.md
  content/email-security/deployment/_index.md
  content/email-security/deployment/api/_index.md
  content/email-security/deployment/inline/_index.md
  content/email-security/reference/how-we-detect-phish.md
  content/fundamentals/_partials/_cybersafe-cipa-subcategories.md
  content/fundamentals/_partials/_cybersafe-configuration.md
  content/fundamentals/_partials/_cybersafe-description.md
  content/fundamentals/_partials/_cybersafe-requirements.md
  content/fundamentals/_partials/_cybersafe-school-eligibility.md
  content/fundamentals/security/cybersafe.md
  content/learning-paths/cybersafe.md
  content/learning-paths/modules/cybersafe/cybersafe-account-creation/_index.md
  content/learning-paths/modules/cybersafe/cybersafe-account-creation/create-area1-org.md
  content/learning-paths/modules/cybersafe/cybersafe-account-creation/create-cloudflare-account.md
  content/learning-paths/modules/cybersafe/cybersafe-account-creation/create-zero-trust-org.md
  content/learning-paths/modules/cybersafe/cybersafe-area1-onboarding/_index.md
  content/learning-paths/modules/cybersafe/cybersafe-area1-onboarding/area1-api.md
  content/learning-paths/modules/cybersafe/cybersafe-area1-onboarding/area1-connection-methods.md
  content/learning-paths/modules/cybersafe/cybersafe-area1-onboarding/area1-inline.md
  content/learning-paths/modules/cybersafe/cybersafe-area1-onboarding/area1-next-steps.md
  content/learning-paths/modules/cybersafe/cybersafe-concepts/_index.md
  content/learning-paths/modules/cybersafe/cybersafe-concepts/cipa-overview.md
  content/learning-paths/modules/cybersafe/cybersafe-concepts/what-is-area1.md
  content/learning-paths/modules/cybersafe/cybersafe-concepts/what-is-dns-filtering.md
  content/learning-paths/modules/cybersafe/cybersafe-concepts/what-is-dns.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/_index.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-block-pages.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-connection-methods.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-create-cipa-policy.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-create-test-policy.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-locations.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-update-local-resolver.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-verify-local-connectivity.md
  data/learning-paths/cybersafe.json
  data/modules/cybersafe/cybersafe-account-creation.json
  data/modules/cybersafe/cybersafe-area1-onboarding.json
  data/modules/cybersafe/cybersafe-concepts.json
  data/modules/cybersafe/cybersafe-gateway-onboarding.json
Labels: product:cloudflare-one, size/xl, product:fundamentals, product:learning-paths, pcx_team_review, product:email-security

#10233 Update deploy-a-svelte-site.md
  content/pages/framework-guides/deploy-a-svelte-site.md
Labels: product:pages, size/xs

#10237 link fix and text updates
  content/fundamentals/security/cybersafe.md
  data/learning-paths/cybersafe.json
Labels: size/xs, product:fundamentals, pcx_team_review

#10238 minor grammar fix
  layouts/shortcodes/tutorial-prereqs.html
Labels: size/xs

#10240 Add DDoS change log entries for 2023-08-07
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: changelog, size/s, product:ddos-protection

#10080 [Pages] Use build presets for framework-guides and swap to use npx in commands
  content/pages/_partials/_build-configuration.md
  content/pages/framework-guides/deploy-a-brunch-site.md
  content/pages/framework-guides/deploy-a-docusaurus-site.md
  content/pages/framework-guides/deploy-a-gatsby-site.md
  content/pages/framework-guides/deploy-a-gridsome-site.md
  content/pages/framework-guides/deploy-a-hugo-site.md
  content/pages/framework-guides/deploy-a-jekyll-site.md
  content/pages/framework-guides/deploy-a-nextjs-site.md
  content/pages/framework-guides/deploy-a-nuxt-site.md
  content/pages/framework-guides/deploy-a-pelican-site.md
  content/pages/framework-guides/deploy-a-qwik-site.md
  content/pages/framework-guides/deploy-a-react-site.md
  content/pages/framework-guides/deploy-a-remix-site.md
  content/pages/framework-guides/deploy-a-svelte-site.md
  content/pages/framework-guides/deploy-a-vue-site.md
  content/pages/framework-guides/deploy-a-vuepress-site.md
  content/pages/framework-guides/deploy-a-zola-site.md
  content/pages/framework-guides/deploy-an-angular-site.md
  content/pages/framework-guides/deploy-an-astro-site.md
  content/pages/framework-guides/deploy-an-elderjs-site.md
  content/pages/framework-guides/deploy-an-eleventy-site.md
  content/pages/framework-guides/deploy-an-emberjs-site.md
  content/pages/framework-guides/deploy-an-mkdocs-site.md
  content/pages/framework-guides/deploy-anything.md
  layouts/shortcodes/pages-build-preset.html
  static/icons/framework-icons/logo-elder-js.png
Labels: product:pages, size/m

#10243 Update index.md
  content/analytics/faq/wae-faqs/index.md
Labels: product:analytics, size/xs

#10245 Toggling 2 rules
  content/waf/change-log/2023-08-07.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, size/s

#10247 [Docs] Only run checks if there are changed files
  .github/workflows/spell-check.yml
Labels: size/s, pcx_team_review

#10195 Fix a -> an
  content/workers/databases/native-integrations/upstash.md
Labels: product:workers, size/xs

#10249 SPM-1437 Update support documentation for Network Error Logging
  content/support/Network/Understanding Network Error Logging.md
Labels: size/xs, product:support

#10248 [MFirewall] Managed lists
  content/magic-firewall/how-to/use-rules-list.md
Labels: size/s, product:magic-firewall, pcx_team_review

#10244 [SSL] More info on custom certificate processes
  content/ssl/edge-certificates/custom-certificates/renewing.md
  content/ssl/edge-certificates/custom-certificates/uploading.md
Labels: product:ssl, size/s, pcx_team_review

#10250 [QUEUES] Recommend channel and community instead of email
  content/queues/platform/javascript-apis.md
Labels: product:queues, size/xs, pcx_team_review

#10251 [DLS] Added South Korea
  content/data-localization/_index.md
Labels: product:data-localization, size/xs, pcx_team_review

#10252 [Several docs] Fix some Case Police warnings
  README.md
  content/1.1.1.1/setup/router.md
  content/ddos-protection/managed-rulesets/network/rule-categories.md
  content/ruleset-engine/rulesets-api/view.md
  content/ssl/troubleshooting/too-many-redirects.md
  content/turnstile/community-resources.md
  content/waf/change-log/2019-10-07.md
  content/waf/change-log/2020-01-20.md
  content/waf/change-log/2020-01-27.md
  content/waf/change-log/2020-04-27.md
  content/waf/change-log/2020-08-03.md
  content/waf/change-log/2020-09-21.md
  content/waf/change-log/2020-11-16.md
  content/waf/change-log/2021-06-01.md
  content/waf/change-log/2021-10-19.md
  content/waf/reference/legacy/old-waf-managed-rules/_index.md
Labels: product:1.1.1.1, product:ssl, product:waf, product:ruleset-engine, size/s, product:turnstile, product:ddos-protection, pcx_team_review

#10246 Update _index.md
  content/cloudflare-one/applications/configure-apps/saas-apps/_index.md
Labels: product:cloudflare-one, size/s

#10255 [R2] Mark object tagging APIs as unsupported
  content/r2/api/s3/api.md
Labels: product:r2, size/s

#10258 [Bots] Challenge Solve Rate Challenge Mode
  content/bots/_partials/_challenge-solve-rate.md
  content/bots/_partials/_challenge-solve-recommendations.md
  content/bots/concepts/challenge-solve-rate.md
Labels: product:bots, size/xs, pcx_team_review

#10261 Maintenance + some search tweaks
  content/dns/manage-dns-records/troubleshooting/_index.md
  content/dns/zone-setups/troubleshooting/_index.md
  content/pages/platform/functions/module-support.md
  content/speed/optimization/content/troubleshooting/_index.md
  content/speed/optimization/images/troubleshooting/_index.md
  content/speed/optimization/other/troubleshooting/_index.md
  content/speed/speed-test/test-results.md
  content/speed/troubleshooting.md
  content/ssl/edge-certificates/troubleshooting/_index.md
  content/ssl/troubleshooting/_index.md
  content/style-guide/_index.md
  content/style-guide/documentation-content-strategy/content-types/navigation.md
  content/style-guide/documentation-content-strategy/content-types/reference.md
  content/style-guide/documentation-content-strategy/content-types/troubleshooting.md
  content/style-guide/formatting/_index.md
  content/style-guide/grammar/_index.md
  content/workers/runtime-apis/webassembly/rust/crates.md
  layouts/partials/head.meta.html
Labels: product:workers, product:pages, product:ssl, product:dns, size/s, pcx_team_review, product:style-guide, product:speed

#10226 Update Supabase link
  content/workers/databases/connecting-to-databases.md
Labels: product:workers, size/xs

#10265 [Area 1] O365 egress ips
  content/email-security/deployment/inline/reference/egress-ips.md
Labels: size/m, pcx_team_review, product:email-security

#10266 [SSL] Bring immediate recheck instructions into Validation schedule page
  content/ssl/_partials/_dcv-validate-patch.md
  content/ssl/edge-certificates/changing-dcv-method/methods/email.md
  content/ssl/edge-certificates/changing-dcv-method/methods/txt.md
  content/ssl/edge-certificates/changing-dcv-method/validation-backoff-schedule.md
  content/ssl/reference/migration-guides/digicert-update/advanced-certificates.md
Labels: product:ssl, size/s, pcx_team_review

#10268 [MWAN/Transit] Added api key info GRE
  content/magic-transit/_partials/_tunnel-endpoints.md
Labels: size/s, product:magic-transit, pcx_team_review

#10269 [MWAN/MT] icmp echo request
  content/magic-transit/_partials/_probe-construction.md
  content/magic-transit/reference/probe-construction.md
  content/magic-wan/reference/probe-construction.md
Labels: size/xs, product:magic-transit, product:magic-wan, pcx_team_review

#10262 [Version mgmt] Update on disabling
  content/version-management/how-to/enable.md
Labels: product:version-management, size/s, pcx_team_review

#10263 Documentation for the new Constellation API
  assets/images/constellation/pages.png
  content/constellation/get-started/first-constellation-worker.md
  content/constellation/get-started/petal.md
  content/constellation/platform/client-api.md
  content/constellation/platform/limits.md
  content/constellation/platform/pages.md
  content/constellation/platform/runtimes.md
  content/constellation/platform/wrangler.md
  content/pages/platform/functions/bindings.md
Labels: product:pages, product:constellation, size/l

#10275 [MWAN/MT] Tabs for API and dash how to
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-wan/third-party/palo-alto.md
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#10276 [Durable Objects] Adding testing example
  content/durable-objects/examples/testing-with-durable-objects.md
Labels: product:durable-objects, size/m, pcx_team_review

#10280 [Stream] Deprecation of current generation of client-side analytics
  content/stream/getting-analytics/fetching-bulk-analytics.md
Labels: product:stream, size/m

#10283 [Stream] Add scheduled deletion to stream changelog
  content/stream/changelog.md
  content/stream/uploading-videos/upload-video-file.md
Labels: product:stream, size/xs

#10284 [CF1] Remove duplicate guide pages
  content/_redirects
  content/cloudflare-one/identity/devices/crowdstrike.md
  content/cloudflare-one/identity/devices/microsoft.md
  content/cloudflare-one/identity/devices/service-providers/taniums2s.md
  content/cloudflare-one/identity/devices/tanium.md
  content/cloudflare-one/identity/devices/uptycs.md
  content/cloudflare-one/identity/devices/workspace-one.md
Labels: product:cloudflare-one, size/m, product:_redirects, pcx_team_review

#10286 [CF4SaaS] Update getting-started.md
  content/cloudflare-for-platforms/cloudflare-for-saas/start/getting-started.md
Labels: product:cloudflare-for-platforms, size/xs, pcx_team_review

#10267 Add multi language support to consent
  content/zaraz/consent-management/enable-consent-management.md
Labels: size/s, product:zaraz

#10231 Add Diffie-Hellman group to Fortigate IPsec config
  content/magic-wan/third-party/fortinet.md
Labels: size/xs, product:magic-wan

#10278 [Durable Objects] Add api link
  content/durable-objects/durable-objects-api.md
Labels: product:durable-objects, size/xs, pcx_team_review

#10209 [Durable Objects] Clarify method behavior + local dev
  content/durable-objects/api/hibernatable-websockets-api.md
Labels: product:durable-objects, size/s

#10295 [Area 1] Hard delete
  content/email-security/_partials/_auto-retraction.md
  content/email-security/email-configuration/retract-settings/gmail-retraction.md
  content/email-security/email-configuration/retract-settings/office365-retraction.md
Labels: size/s, pcx_team_review, product:email-security

#10296 [MWAN] Fortinet tut patch
  content/magic-wan/third-party/fortinet.md
Labels: size/xs, product:magic-wan, pcx_team_review

#10215 [Workers] runtime api external links for R2, DO
  content/r2/api/s3/presigned-urls.md
  content/r2/api/workers/workers-api-reference.md
  content/r2/api/workers/workers-api-usage.md
  content/workers/platform/changelog.md
  content/workers/runtime-apis/R2.md
  content/workers/runtime-apis/durable-objects.md
  content/workers/runtime-apis/tcp-sockets.md
  content/workers/runtime-apis/websockets/use-websockets.md
Labels: product:workers, product:r2, size/l, pcx_team_review

#10288 Update wording of apex proxying
  content/cloudflare-for-platforms/_partials/_get-started-prereqs.md
  content/cloudflare-for-platforms/cloudflare-for-saas/start/advanced-settings/apex-proxying/_index.md
  content/cloudflare-for-platforms/cloudflare-for-saas/start/advanced-settings/apex-proxying/setup.md
  content/cloudflare-for-platforms/cloudflare-for-saas/start/getting-started.md
Labels: product:cloudflare-for-platforms, size/xs, pcx_team_review

#10289 Update change-plan.md
  content/fundamentals/account-and-billing/account-maintenance/change-plan.md
Labels: size/xs, product:fundamentals

#9383 [Workers] Add function calling tutorial
  content/workers/tutorials/openai-function-calls-workers/index.md
Labels: product:workers, size/m

#10293 CF-IPCountry header removed from Workers subrequests
  content/fundamentals/get-started/reference/http-request-headers.md
Labels: size/xs, product:fundamentals

#10300 [D1] Update sidebar nav link
  content/_redirects
  content/d1/platform/wrangler-commands.md
Labels: product:d1, size/s, product:_redirects, pcx_team_review

#10302 Update _index.md
  content/cloudflare-one/applications/configure-apps/saas-apps/_index.md
Labels: product:cloudflare-one, size/xs

#10277 [LB] Update http host header override documentation for load balancer
  content/load-balancing/additional-options/override-http-host-headers.md
Labels: product:load-balancing, size/xs

#10301 [CAT/Bots] Common errors
  content/fundamentals/get-started/concepts/cloudflare-challenges.md
Labels: size/s, product:fundamentals, pcx_team_review

#10290 Update prefix-delegations.md
  content/byoip/about/prefix-delegations.md
Labels: product:byoip, size/xs

#10303 [Fundamentals] Remove doc
  content/_redirects
  content/fundamentals/account-and-billing/account-security/scim-setup.md
Labels: size/m, product:fundamentals, product:_redirects, pcx_team_review

#10279 [ZT] SAML Attributes device profile selector
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#10218 [ZT] Access custom hostnames
  content/cloudflare-for-platforms/cloudflare-for-saas/security/secure-with-access.md
Labels: product:cloudflare-for-platforms, size/xs, pcx_team_review

#10285 [ZT] SAML attributes and OIDC claims
  content/cloudflare-one/identity/idp-integration/generic-oidc.md
  content/cloudflare-one/identity/idp-integration/generic-saml.md
  content/cloudflare-one/policies/access/_index.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#10306 Update BYOIP assignee
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/s, pcx_team_review

#10309 [MFirewall] removed specific numbers
  content/magic-firewall/about/list-types.md
Labels: size/xs, product:magic-firewall, pcx_team_review

#10305 [Fundamentals] Update to remove domain
  content/fundamentals/get-started/basic-tasks/manage-domains/remove-domain.md
Labels: size/xs, product:fundamentals, pcx_team_review

#10315 [Magic Transit] Added link to cf ips
  content/magic-transit/prerequisites.md
Labels: size/xs, product:magic-transit, pcx_team_review

#10312 Add reference to 1.1.1.1/help in Network Operators section
  content/1.1.1.1/infrastructure/network-operators.md
Labels: product:1.1.1.1, size/xs, pcx_team_review

#9998 Issue 9995: adding known issue description for WARP + Docker on Linux…
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/known-limitations.md
  content/warp-client/known-issues-and-faq.md
Labels: product:warp-client, product:cloudflare-one, size/s

#10307 [Logs] Fix typo in Country Pathing Status
  content/logs/reference/pathing-status.md
Labels: product:logs, size/xs

#10256 provide example for Consent API usage
  content/zaraz/consent-management/api.md
Labels: size/s, product:zaraz

#10274 [Workers for Platforms] Update note for unsupported outbound workers use cases
  content/cloudflare-for-platforms/workers-for-platforms/platform/outbound-workers.md
Labels: product:cloudflare-for-platforms, size/xs

#10325 updating anchor link for cipa block
  content/fundamentals/_partials/_cybersafe-configuration.md
  data/learning-paths/cybersafe.json
Labels: size/s, product:fundamentals, pcx_team_review

#10326 [MWAN / MT] Tunnels patch
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-wan/_partials/_tunnel-healthchecks-dash.md
  content/magic-wan/third-party/sophos-firewall.md
  content/magic-wan/third-party/strongswan.md
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#10304 [Queues] Add 'ack messages from dash' feature docs
  content/queues/examples/list-messages-from-dash/fetched-messages.png
  content/queues/examples/list-messages-from-dash/index.md
Labels: product:queues, size/s

#10219 [D1] Update D1 maximum db size
  content/d1/_index.md
Labels: product:d1, size/xs

#10322 [Fundamentals] Update roles and tokens
  content/fundamentals/account-and-billing/members/roles.md
  content/fundamentals/api/reference/permissions.md
Labels: size/m, product:fundamentals, pcx_team_review

#10327 [WAF] Update dashboard instructions
  assets/images/waf/custom-rules/custom-rules-tab.png
  assets/images/waf/custom-rules/firewall-custom-rule-create.png
  assets/images/waf/custom-rules/rate-limiting-create.png
  assets/images/waf/reference/custom-rules-tab.png
  assets/images/waf/waf-configure-ruleset.png
  assets/images/waf/waf-managed-rules-tab.png
  content/waf/_partials/_custom-response-blocked-requests.md
  content/waf/custom-rules/create-dashboard.md
  content/waf/custom-rules/manage-dashboard.md
  content/waf/exposed-credentials-check/_index.md
  content/waf/managed-rules/deploy-zone-dashboard.md
  content/waf/managed-rules/payload-logging/configure.md
  content/waf/rate-limiting-rules/create-zone-dashboard.md
  content/waf/rate-limiting-rules/parameters.md
  content/waf/reference/migration-guides/firewall-rules-to-custom-rules.md
Labels: product:waf, size/m, pcx_team_review

#10324 call out bucket scoped tokens as a feature on r2 overview
  content/r2/_index.md
Labels: product:r2, size/xs

#10314 [Fundamentals] Migrated add multiple sites
  content/_redirects
  content/fundamentals/_partials/_automation-number-limitations.md
  content/fundamentals/get-started/setup/add-multiple-sites-automation.md
  content/fundamentals/get-started/setup/multiple-sites-automation.md
  content/support/Account Management & Billing/Account Management/Adding Multiple Sites to Cloudflare via Automation.md
  content/support/Account Management & Billing/Account Management/_index.md
  content/support/Other Languages/Deutsch/Mehrere Websites automatisch in Cloudflare aufnehmen .md
  content/support/Other Languages/Español (España)/Cómo añadir varios sitios en Cloudflare mediante automatización.md
  content/support/Other Languages/Français (France)/Ajout de plusieurs sites à Cloudflare via Automation.md
  content/support/Other Languages/Português do Brasil/Como adicionar vários sites à Cloudflare via automação.md
  content/support/Other Languages/日本語/自動化機能を使ってCloudflareに複数のサイトを追加する.md
  content/support/Other Languages/简体中文/通过自动化将多个站点添加到 Cloudflare.md
  content/support/Other Languages/한국어/자동화를 통해 여러 사이트를 Cloudflare에 추가.md
Labels: size/xl, product:fundamentals, product:support, product:_redirects, pcx_team_review

#10331 [DDoS, WAF] Update code owners
  .github/CODEOWNERS
Labels: size/xs, pcx_team_review

#10321 [ZT] Update 'Application' API example
  content/cloudflare-one/_partials/gateway/_application.md
  content/cloudflare-one/policies/gateway/http-policies/_index.md
Labels: product:cloudflare-one, size/s

#10308 Deansundquist cloudflared ports and ips us region
  content/cloudflare-one/connections/connect-networks/install-and-setup/ports-and-ips.md
Labels: product:cloudflare-one, size/s

#10333 [ZT] remove h2mux protocol
  content/cloudflare-one/connections/connect-networks/install-and-setup/tunnel-guide/local/local-management/arguments.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#10329 Add DDoS change log entries for 2023-08-11
  content/ddos-protection/change-log/http/2023-08-11-emergency.md
Labels: changelog, size/s, product:ddos-protection

#10334 [ZT] Move and rename new Gateway partials
  content/cloudflare-one/_partials/gateway/_add-block-page.md
  content/cloudflare-one/_partials/gateway/_add-locations-static-ip-warning.md
  content/cloudflare-one/_partials/gateway/_add-locations.md
  content/cloudflare-one/_partials/gateway/_add-logo-image.md
  content/cloudflare-one/_partials/gateway/_customize-block-page.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/locations/_index.md
  content/cloudflare-one/policies/gateway/configuring-block-page.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-block-pages.md
  content/learning-paths/modules/cybersafe/cybersafe-gateway-onboarding/gateway-locations.md
Labels: sub-product:gateway, product:cloudflare-one, size/s, product:learning-paths

#10190 [Pages] Typo `_workers.js` to `_worker.js`
  content/pages/platform/functions/advanced-mode.md
  content/pages/platform/functions/get-started.md
Labels: product:pages, size/xs

#10234 [WIP] Zaraz: Add context enricher docs
  content/zaraz/advanced/context-enricher.md
  content/zaraz/reference/settings.md
Labels: size/m, product:zaraz

#10298 [D1] Update changelog.md
  content/d1/changelog.md
Labels: product:d1, size/s

#10340 docs: fix some broken links
  content/durable-objects/platform/limits.md
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
  content/pages/migrations/migrating-from-workers/index.md
  content/pages/platform/functions/advanced-mode.md
  content/pages/platform/functions/metrics.md
  content/queues/platform/limits.md
  content/workers/configuration/environment-variables.md
  content/workers/get-started/guide.md
  content/workers/learning/migrate-to-module-workers.md
  content/workers/learning/protocols.md
  content/workers/observability/metrics-and-analytics.md
  content/workers/runtime-apis/fetch-event.md
  content/workers/runtime-apis/tcp-sockets.md
  content/workers/runtime-apis/web-crypto.md
  content/workers/runtime-apis/websockets/use-websockets.md
Labels: product:workers, product:pages, product:queues, product:durable-objects, size/s, product:magic-network-monitoring

#10342 Farber/pcx 7806 maintence
  content/durable-objects/how-to/create-durable-object-stubs.md
  content/radar/investigate/url-scanner.md
Labels: product:durable-objects, size/xs, product:radar, pcx_team_review

#10345 14th August release, 2 rules for MR and 1 rule for legacy WAF
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, size/s

#10346 Add IPv6 adoption section to Radar glossary (RADAR-3327)
  content/radar/glossary.md
Labels: size/xs, product:radar

#10347 Add DDoS change log entries for 2023-08-14
  content/ddos-protection/change-log/http/2023-08-14.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: size/s, product:ddos-protection

#10350 Slight update to codeowners
  .github/CODEOWNERS
Labels: size/xs, pcx_team_review

#10170 Update Troubleshooting Cloudflare 5XX errors.md
  content/support/Troubleshooting/Cloudflare Errors/Troubleshooting Cloudflare 5XX errors.md
Labels: size/xs, product:support

#10352 [CF1] Added redirect
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#10318 [ZT] update SAML header attributes
  content/cloudflare-one/identity/idp-integration/generic-saml.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#10348 Clarify firewall documentation
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/warp-architecture.md
Labels: product:cloudflare-one, size/xs
