Repository cloudflare/cloudflare-docs, pull requests merged in 2023-02, with the labels that each got.

#7556 Wrangler v1 deprecation
  content/_redirects
  content/cloudflare-for-platforms/workers-for-platforms/get-started/configuration.md
  content/d1/_index.md
  content/d1/platform/migrations.md
  content/d1/tutorials/build-a-comments-api/index.md
  content/pages/how-to/use-direct-upload-with-continuous-integration.md
  content/pages/migrations/migrating-from-workers/index.md
  content/pages/platform/direct-upload.md
  content/pub-sub/get-started/guide.md
  content/pub-sub/learning/command-line-wrangler.md
  content/r2/data-access/workers-api/workers-api-usage.md
  content/workers/_index.md
  content/workers/_partials/_tutorials-before-you-start.md
  content/workers/_partials/_wrangler-v1-deprecation.md
  content/workers/get-started/guide.md
  content/workers/learning/using-durable-objects.md
  content/workers/platform/changelog.md
  content/workers/platform/environments.md
  content/workers/platform/pricing.md
  content/workers/platform/sites/configuration.md
  content/workers/platform/sites/start-from-existing.md
  content/workers/platform/sites/start-from-scratch.md
  content/workers/platform/sites/start-from-worker.md
  content/workers/runtime-apis/kv.md
  content/workers/runtime-apis/web-standards.md
  content/workers/tutorials/build-a-qr-code-generator/index.md
  content/workers/tutorials/build-a-slackbot/index.md
  content/workers/tutorials/configure-your-cdn/index.md
  content/workers/tutorials/deploy-a-realtime-chat-app/index.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
  content/workers/tutorials/hello-world-rust/index.md
  content/workers/tutorials/localize-a-website/index.md
  content/workers/tutorials/postgres/index.md
  content/workers/tutorials/store-data-with-fauna/index.md
  content/workers/tutorials/workers-kv-from-rust/index.md
  content/workers/wrangler-legacy/_index.md
  content/workers/wrangler-legacy/authentication.md
  content/workers/wrangler-legacy/commands.md
  content/workers/wrangler-legacy/compare-v1-v2.md
  content/workers/wrangler-legacy/configuration.md
  content/workers/wrangler-legacy/install-update.md
  content/workers/wrangler-legacy/migration/_index.md
  content/workers/wrangler-legacy/migration/deprecations.md
  content/workers/wrangler-legacy/migration/eject-webpack.md
  content/workers/wrangler-legacy/webpack.md
  content/workers/wrangler/api.md
  content/workers/wrangler/bundling.md
  content/workers/wrangler/cli-wrangler/_index.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/configuration.md
  content/workers/wrangler/custom-builds.md
  content/workers/wrangler/environments.md
  content/workers/wrangler/install-and-update.md
  content/workers/wrangler/migration/_index.md
  content/workers/wrangler/workers-kv.md
Labels: do-not-merge-yet

#7598 Add DDoS change log entries for 2023-02-08
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: product:ddos

#6925 [Wrangler] Mark v1-specific tutorials with warning banner
  content/workers/_partials/_tutorials-wrangler-v1-warning.md
  content/workers/tutorials/build-a-jamstack-app/index.md
  content/workers/tutorials/build-a-qr-code-generator/index.md
  content/workers/tutorials/build-a-slackbot/index.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
  content/workers/tutorials/hello-world-rust/index.md
  content/workers/tutorials/localize-a-website/index.md
  content/workers/tutorials/postgres/index.md
  content/workers/tutorials/query-postgres-from-workers-using-database-connectors/index.md
  content/workers/tutorials/store-data-with-fauna/index.md
  content/workers/tutorials/workers-kv-from-rust/index.md
Labels: product:workers

#7242 [Wrangler] Template URL Updates
  content/workers/get-started/quickstarts.md
Labels: documentation, product:workers, content:edit

#7614 [Pages] Add Analytics Engine and Queue Producer binding
  content/pages/platform/functions/bindings.md
Labels: product:pages, do-not-merge-yet

#7652 [Wrangler] Annotations
  content/workers/wrangler/commands.md
Labels: documentation, product:workers, content:edit

#7767 error
  content/fundamentals/get-started/basic-tasks/manage-domains/move-domain.md
Labels: fundamentals

#7787 Add DDoS change log entries for 2023-02-27
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: product:ddos

#7781 r2: improve AllowedOrigins docs re: acceptable values
  content/r2/learning/cors.md
Labels: product:r2

#7801 Add DDoS change log entries for 2023-02-28
  content/ddos-protection/change-log/http/2023-02-28-emergency.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: product:ddos

#7731 queues: clarify retention period
  content/queues/platform/limits.md
Labels: product:queues

#7793 r2: fix typo in URL on CORS page
  content/r2/learning/cors.md
Labels: product:r2
