Repository cloudflare/cloudflare-docs, pull requests merged in 2023-11, with the labels that each got.

#11593 Fix sentence on domain transfer docs
  content/fundamentals/setup/manage-domains/move-domain.md
Labels: size/xs, product:fundamentals

#10869 [Gateway] Resolver policies
  content/cloudflare-one/policies/gateway/_index.md
  content/cloudflare-one/policies/gateway/application-app-types.md
  content/cloudflare-one/policies/gateway/configuring-block-page.md
  content/cloudflare-one/policies/gateway/domain-categories.md
  content/cloudflare-one/policies/gateway/global-policies.md
  content/cloudflare-one/policies/gateway/identity-selectors.md
  content/cloudflare-one/policies/gateway/order-of-enforcement.md
  content/cloudflare-one/policies/gateway/resolver-policies.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#11266 [Gateway] Custom resolvers in chart
  content/cloudflare-one/policies/gateway/order-of-enforcement.md
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/s

#11602 [Roles] Added address maps token
  content/fundamentals/_partials/_account-permissions-table.md
Labels: size/xs, product:fundamentals, pcx_team_review

#11600 [Chore] Lazy load resource svgs (below fold)
  layouts/shortcodes/resource.html
Labels: size/xs, pcx_team_review

#11597 [Chore] Migrate littlefoot out of headers
  content/_headers
  layouts/_default/baseof.html
  layouts/partials/littlefoot.html
  static/home.css
  static/style.css
Labels: size/s, pcx_team_review, product:_headers

#11605 Changed image reference
  content/pulumi/tutorial/hello-world.md
Labels: size/xs, pcx_team_review, product:pulumi

#11594 [R2] Using Sippy with bucket jurisdictions
  content/r2/data-migration/sippy.md
Labels: product:r2, size/xs

#11586 text updates
  content/security-center/brand-protection/index.md
Labels: product:security-center, size/xs, pcx_team_review

#11609 Add depreciation notice for Grafana plugin
  content/support/Cloudflare Client API/Install the Cloudflare Grafana Plugin.md
Labels: size/xs, product:support

#11306 [Workers] Update Vectorize docs to use new query format
  content/vectorize/changelog.md
  content/vectorize/get-started/intro.md
  content/vectorize/learning/query-vectors.md
  content/vectorize/platform/client-api.md
  content/workers/_partials/_platform-compatibility-dates/vectorize-query-metadata-optional.md
Labels: product:workers, size/s, product:vectorize

#11608 [Maintenance] unused image files
  assets/images/bots/bot-score-distribution.png
  assets/images/pulumi/hello-world-tutorial/sn1.png
Labels: size/xs, pcx_team_review

#10931 [Workers] Fix binding for vectorize index
  content/workers/wrangler/configuration.md
Labels: product:workers, size/xs

#11621 typo: primariy → primary
  content/cloudflare-one/connections/connect-networks/private-net/cloudflared/_index.md
Labels: product:cloudflare-one, size/xs

#11622 [DNS] / [LP] email clarifications
  content/dns/_partials/_add-mx-records.md
  content/dns/manage-dns-records/how-to/email-records.md
  content/dns/manage-dns-records/reference/dns-record-types.md
  content/learning-paths/get-started-free/other-features/email-routing.md
  content/load-balancing/additional-options/additional-dns-records.md
Labels: product:load-balancing, product:dns, size/s, product:learning-paths, pcx_team_review

#11620 Revise Pages project limit docs
  content/pages/platform/limits.md
Labels: product:pages, size/xs

#11599 Add the phishing detection capability against QR Code Attack (Quishing)
  content/email-security/_partials/_reference-detect-phish.md
Labels: size/xs, product:email-security

#11615 [Analytics] Update Network Analytics tabs
  assets/images/analytics/network-analytics/high-level-metrics.png
  content/analytics/network-analytics/_index.md
  content/analytics/network-analytics/configure/_index.md
  content/analytics/network-analytics/configure/time-range.md
  content/analytics/network-analytics/get-started.md
  content/analytics/network-analytics/understand/_index.md
  content/analytics/network-analytics/understand/concepts.md
  content/analytics/network-analytics/understand/main-dashboard.md
Labels: product:analytics, size/s, pcx_team_review

#11632 Add missing comma while calling client function
  content/r2/examples/aws/boto3.md
Labels: product:r2, size/xs

#11626 [ZT] Tunnels moved to Networks in UI
  content/cloudflare-one/connections/connect-networks/configure-tunnels/remote-management.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/ansible.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/terraform.md
  content/cloudflare-one/connections/connect-networks/do-more-with-tunnels/migrate-legacy-tunnels.md
  content/cloudflare-one/connections/connect-networks/downloads/update-cloudflared.md
  content/cloudflare-one/connections/connect-networks/get-started/create-remote-tunnel.md
  content/cloudflare-one/connections/connect-networks/get-started/tunnel-useful-terms.md
  content/cloudflare-one/connections/connect-networks/monitor-tunnels/logs.md
  content/cloudflare-one/connections/connect-networks/private-net/cloudflared/private-dns.md
  content/cloudflare-one/connections/connect-networks/private-net/cloudflared/tunnel-virtual-networks.md
  content/load-balancing/local-traffic-management/ltm-tunnels-setup.md
Labels: product:cloudflare-one, product:load-balancing, size/s, pcx_team_review

#11630 [ZT] WARP connector prereqs
  content/cloudflare-one/connections/connect-networks/private-net/warp-connector.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#11628 workers: add section about local env variables to point out use of .dev.vars file
  content/workers/configuration/environment-variables.md
Labels: product:workers, size/s

#11610 Updating incorrect image
  assets/images/support/Screen_Shot_2021-08-16_at_1.11.27_PM.png
  assets/images/support/bandwidth-alliance.png
  content/support/Partners/Reduce data transfer (egress costs) between Azure and Cloudflare.md
Labels: size/xs, product:support

#11627 [ZT] Risk score log notes
  content/cloudflare-one/insights/risk-score.md
Labels: product:cloudflare-one, size/xs

#11538 [Gateway] Dedicated egress IP FAQ
  content/cloudflare-one/policies/gateway/egress-policies/dedicated-egress-ips.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#11631 docs: added forwardemail.net to vendor-specific DNS records guides
  content/dns/manage-dns-records/reference/vendor-specific-records.md
Labels: product:dns, size/xs

#11629 Update known-limitations.md - Add Cox issue
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/known-limitations.md
Labels: product:cloudflare-one, size/xs

#11514 [Wrangler] Update commands list
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#11598 [Pages] Add improvements and troubleshooting guide to git-integration.md
  assets/images/pages/platform/git.dashboard-error.png
  content/pages/platform/git-integration.md
Labels: product:pages, size/s

#11638 [API Shield] API Discovery example updates
  content/api-shield/security/api-discovery.md
Labels: product:api-shield, size/xs, pcx_team_review

#11590 [Workers] Clarify some references to free/paid plans
  content/workers/platform/limits.md
Labels: product:workers, size/xs

#11577 [Pages] Document header size limit
  content/pages/platform/limits.md
Labels: product:pages, size/xs

#11645 Fix typo
  content/workers/runtime-apis/handlers/fetch.md
Labels: product:workers, size/xs

#11639 [Load Balancing] Fix formatting on Load shedding
  content/load-balancing/additional-options/load-shedding.md
Labels: product:load-balancing, size/s

#11108 Update commands.md to reflect the ability to "Download existing data …
  content/workers/wrangler/commands.md
Labels: product:workers, product:d1, size/xs

#11648 [LB] Replace broken HTML table with Markdown
  content/load-balancing/_partials/_monitor-example.md
Labels: product:load-balancing, size/s, pcx_team_review

#11647 [Workers] remove wrangler survey
  content/workers/_index.md
  content/workers/_partials/_wrangler_survey.md
  content/workers/wrangler/_index.md
  content/workers/wrangler/api.md
  content/workers/wrangler/bundling.md
  content/workers/wrangler/ci-cd.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/configuration.md
  content/workers/wrangler/custom-builds.md
  content/workers/wrangler/deprecations.md
  content/workers/wrangler/environments.md
  content/workers/wrangler/install-and-update.md
  content/workers/wrangler/system-environment-variables.md
Labels: product:workers, size/s, pcx_team_review

#11654 [WAE] Correct graphs order
  assets/images/analytics/equitable-sampling.png
  assets/images/analytics/sample-data.png
Labels: size/xs, pcx_team_review

#11655 doc: ceritificates → certificates
  content/pages/platform/debugging-pages.md
Labels: product:pages, size/xs

#11650 [Chore] exclude partials from comment-changed-files workflow
  .github/workflows/comment-changed-filenames.yml
Labels: size/xs

#11659 [Support] Consolidated mirage and polish info
  content/_redirects
  content/images/_partials/_comparison-mirage-polish.md
  content/images/polish/_index.md
  content/speed/optimization/images/mirage.md
  content/support/Speed/Optimization - File Size/Will Mirage and Polish optimize off-site resources.md
  content/support/Speed/Optimization - File Size/_index.md
Labels: product:images, size/s, product:support, product:_redirects, pcx_team_review, product:speed

#11616 Redirect cleanup
  content/_redirects
Labels: size/m, product:_redirects, pcx_team_review

#11666 [Support] Migrate out new customer FAQ + Enhanced HTTP/2 troubleshooting
  content/_redirects
  content/fundamentals/setup/add-multiple-sites-automation.md
  content/fundamentals/setup/troubleshooting.md
  content/fundamentals/setup/use-cloudflare-without-changing-nameservers.md
  content/speed/optimization/protocol/enhanced-http2-prioritization.md
  content/speed/optimization/protocol/troubleshooting/_index.md
  content/speed/optimization/protocol/troubleshooting/enhanced-http2-prioritization-ios-safari.md
  content/speed/troubleshooting.md
  content/support/About Cloudflare/Getting Started/Troubleshooting FAQ for new Cloudflare customers.md
  content/support/About Cloudflare/Getting Started/_index.md
  content/support/Troubleshooting/Performance/HTTP2 and Enhanced HTTP2 Prioritization options may affect content loading on iOSSafari devices.md
  content/support/Troubleshooting/Performance/_index.md
Labels: size/m, product:fundamentals, product:support, product:_redirects, pcx_team_review, product:speed

#11667 Emergency release for CVE-2023-22518
  content/waf/change-log/2023-11-06---emergency-release.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#11668 Postpone enablement of scheduled rules
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: size/xs, product:ddos-protection

#11671 [SSL] Migrated general FAQ out of /support/
  content/_redirects
  content/dns/troubleshooting/_index.md
  content/fundamentals/setup/troubleshooting.md
  content/ssl/troubleshooting/_index.md
  content/ssl/troubleshooting/faq.md
  content/support/Account Management & Billing/Account Privacy and Security/Understanding SameSite cookie interaction with Cloudflare.md
  content/support/SSL TLS/FAQ and Reference/SSL FAQ.md
Labels: product:ssl, product:dns, size/m, product:fundamentals, product:support, product:_redirects, pcx_team_review

#11663 [Magic WAN] Conector traffic firewall update
  content/magic-wan/connector/configure-connector.md
Labels: size/s, product:magic-wan, pcx_team_review

#11658 [MWAN / MT] Added info on legacy HC system
  content/magic-transit/_partials/_legacy-hc-system.md
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-transit/_partials/_tunnel-health-checks.md
Labels: size/s, product:magic-transit, pcx_team_review

#11603 Update zaraz.yaml
  data/changelogs/zaraz.yaml
Labels: size/xs

#11665 [Rules] Clarify location of added headers (request sent to origin)
  content/rules/transform/managed-transforms/reference.md
Labels: product:rules, size/xs, pcx_team_review

#11651 [WR] Added FAQ
  content/waiting-room/troubleshooting.md
Labels: product:waiting-room, size/xs, pcx_team_review

#11427 [Workers] Add docs for smart placement with non-fetch event handlers
  content/workers/configuration/smart-placement.md
Labels: product:workers, size/xs

#11675 [WAF] Fix typo in date
  content/waf/change-log/2023-11-06---emergency-release.md
Labels: product:waf, size/xs, pcx_team_review

#11678 Update _product-limitations.md
  content/version-management/_partials/_product-limitations.md
Labels: product:version-management, size/xs

#10902 [LB] Update geo-steering.md
  content/load-balancing/pools/create-pool.md
  content/load-balancing/understand-basics/traffic-steering/steering-policies/geo-steering.md
Labels: product:load-balancing, size/s

#11680 Faq style guide template
  content/style-guide/documentation-content-strategy/content-types/faq.md
Labels: size/s, pcx_team_review, product:style-guide

#11676 [Rules] Add structured data to Origin Rules FAQ
  content/rules/origin-rules/faq.md
Labels: product:rules, size/s, pcx_team_review

#11656 [Workers] replace worker.js -> index.js for C3
  content/browser-rendering/get-started/screenshots.md
  content/workers/learning/migrate-to-module-workers.md
  content/workers/tutorials/build-a-qr-code-generator/index.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
  content/workers/tutorials/hello-world-rust/index.md
  content/workers/tutorials/openai-function-calls-workers/index.md
Labels: product:workers, product:browser-rendering, size/s, pcx_team_review

#11682 [Stream] Remove survey link
  content/stream/_index.md
Labels: product:stream, size/xs, pcx_team_review

#11688 Update get-started.md
  content/cache/get-started.md
Labels: product:cache, size/xs, pcx_team_review

#11687 Update _index.md
  content/argo-smart-routing/_index.md
Labels: size/xs, pcx_team_review, product:argo-smart-routing

#11684 [Billing] Update payment methods
  content/fundamentals/_partials/_billing-add-payment-method.md
  content/fundamentals/account-and-billing/account-billing/updating-billing-info.md
Labels: size/s, product:fundamentals, pcx_team_review

#11425 Prefer random_password over random_id
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/ansible.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/terraform.md
Labels: product:cloudflare-one, size/s

#11660 Update roles-permissions.md
  content/cloudflare-one/roles-permissions.md
Labels: product:cloudflare-one, size/xs

#11694 [SSL] Fix ECDHE-RSA-AES128-SHA cipher security level
  content/ssl/reference/cipher-suites/supported-cipher-suites.md
Labels: product:ssl, size/xs, pcx_team_review

#11566 [Workers] Add docs for smart placement with D1
  content/workers/configuration/smart-placement.md
Labels: product:workers, size/xs

#11681 [D1] Add backup tools to community projects
  content/d1/platform/community-projects.md
Labels: product:d1, size/xs

#11695 Update 3xx Redirection.md
  content/support/Troubleshooting/HTTP Status Codes/3xx Redirection.md
Labels: size/s, product:support

#11640 [Workers] Update workers.yaml
  data/changelogs/workers.yaml
Labels: size/xs

#11657 [Speed] Added note about the IP in Cloudflare Logs
  content/speed/optimization/content/prefetch-urls.md
Labels: size/xs, pcx_team_review, product:speed

#11696 [Workers] backup download command warning
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs, pcx_team_review

#11686 [KV] Fix expirationTtl field capitalization
  content/kv/api/write-key-value-pairs.md
Labels: size/xs, product:kv

#11690 [Discord feedback] Add mention of pseudo ipv4 in restoring visitor ip addresses
  content/fundamentals/_partials/_pseudo-ipv4-warning.md
  content/fundamentals/reference/http-request-headers.md
  content/support/Network/Understanding and configuring Cloudflare's IPv6 support.md
  content/support/Troubleshooting/Restoring Visitor IPs/Restoring original visitor IPs.md
  content/support/_partials/_2fa-overview.md
Labels: size/s, product:fundamentals, product:support, pcx_team_review

#11674 Add a Timescale x Hyperdrive tutorial
  content/hyperdrive/tutorials/serverless-timeseries-api-with-timescale/index.md
Labels: size/m, product:hyperdrive

#11683 [Gateway] List entry account limits
  content/cloudflare-one/account-limits.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#11670 Hyperdrive: Create _index.md
  content/hyperdrive/tutorials/_index.md
  content/hyperdrive/tutorials/serverless-timeseries-api-with-timescale/index.md
Labels: size/m, pcx_team_review, product:hyperdrive

#11697 [DNS] Add Redirect Rules mention to orignless setup FAQ
  content/dns/troubleshooting/faq.md
Labels: product:dns, size/xs

#11705 [Chore] External links work with tooltips
  content/_redirects
  layouts/shortcodes/glossary-tooltip.html
Labels: size/s, product:_redirects, pcx_team_review

#11703 [Workers] remove init from deprecations
  content/workers/wrangler/deprecations.md
Labels: product:workers, size/xs, pcx_team_review

#11706 d1: deprecate d1.error.cause in debug learning docs
  content/d1/learning/debug-d1.md
Labels: product:d1, size/s

#11709 [Chore] Fix html properties for FAQ pages
  layouts/_default/baseof.html
Labels: size/xs, pcx_team_review

#11707 [Chore] Update FAQ format for various products
  content/api-shield/frequently-asked-questions.md
  content/bots/troubleshooting.md
Labels: product:bots, product:api-shield, size/m, pcx_team_review

#11710 Hyperdrive: fix broken markdown link
  content/hyperdrive/tutorials/serverless-timeseries-api-with-timescale/index.md
Labels: size/xs, pcx_team_review, product:hyperdrive

#11704 adding list of security insights
  content/security-center/security-insights/_index.md
Labels: product:security-center, size/s, pcx_team_review

#11712 Fixed weird behavior in web3 doc
  content/web3/ethereum-gateway/concepts/node-types.md
Labels: product:web3, size/xs, pcx_team_review

#11673 [Gateway] Device posture limitations
  content/cloudflare-one/_partials/gateway/_device-posture.md
  content/cloudflare-one/identity/devices/_index.md
  content/cloudflare-one/policies/gateway/identity-selectors.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#11716 [IAM] Apple ID access
  content/fundamentals/basic-tasks/login.md
Labels: size/s, product:fundamentals, pcx_team_review

#11720 [cloudflare-one] Keep local tunnel file extenstion consistent
  content/cloudflare-one/connections/connect-networks/get-started/create-local-tunnel.md
Labels: product:cloudflare-one, size/xs

#11726 [MWAN] Refined text regarding GraphQL analytics
  content/magic-transit/analytics/_index.md
  content/magic-wan/how-to/view-analytics.md
Labels: size/xs, product:magic-transit, product:magic-wan, pcx_team_review

#11721 [Cache] Add note to more places for cache reserve billing
  content/cache/_partials/_cache-reserve-billing-note.md
  content/cache/advanced-configuration/cache-reserve.md
Labels: product:cache, size/s, pcx_team_review

#11724 [Magic WAN] Glossary tooltips
  content/magic-transit/_partials/_icmp-mfirewall.md
  content/magic-transit/_partials/_static-routes1.md
  content/magic-transit/_partials/_static-routes3.md
  content/magic-transit/_partials/_traffic-steering.md
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-transit/_partials/_tunnel-health-checks.md
  content/magic-transit/_partials/_tunnels-encapsulation-opening.md
  content/magic-transit/_partials/_update-tunnel-health-checks-frequency.md
  content/magic-wan/_index.md
  content/magic-wan/_partials/_anti-replay-protection.md
  content/magic-wan/_partials/_magic-tunnel-health-alerts.md
  content/magic-wan/_partials/_network-analytics.md
  content/magic-wan/_partials/_traceroute.md
  content/magic-wan/_partials/_tunnel-healthchecks-dash.md
  content/magic-wan/connector/_index.md
  content/magic-wan/connector/configure-connector.md
  content/magic-wan/connector/device-information.md
  content/magic-wan/how-to/traceroute.md
  content/magic-wan/prerequisites.md
  content/magic-wan/reference/device-compatibility.md
  content/magic-wan/zero-trust/warp.md
  data/glossary/magic-transit.yaml
  data/glossary/magic-wan.yaml
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#11718 [Gateway] Remove WARP client checks note
  content/cloudflare-one/identity/devices/_index.md
  content/cloudflare-one/identity/devices/access-integrations/tanium.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#11715 [ZT] Update Okta instructions
  assets/images/cloudflare-one/identity/okta/okta-3.png
  content/cloudflare-one/identity/idp-integration/okta.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#11719 [DLP] ID entries
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/predefined-profiles.md
Labels: product:cloudflare-one, size/xs, sub-product:data-loss-prevention

#11730 Update account-limits.md
  content/cloudflare-one/account-limits.md
Labels: product:cloudflare-one, size/xs

#11649 [DLS] Update to DLS table
  content/data-localization/_index.md
Labels: product:data-localization, size/xs, pcx_team_review

#11728 Update 4xx Client Error.md
  content/support/Troubleshooting/HTTP Status Codes/4xx Client Error.md
Labels: size/xs, product:support

#11572 [ZT] WARP VM requirements
  content/cloudflare-one/connections/connect-devices/warp/deployment/manual-deployment.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#11672 [ZT] Override local interface IP
  content/cloudflare-one/_partials/warp/_all-systems-modes-plans.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/warp-architecture.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#11735 [Workers & Browser Rendering] Added note about casing and dashes
  content/browser-rendering/get-started/browser-rendering-with-DO.md
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
Labels: product:workers, product:browser-rendering, size/xs, pcx_team_review

#11738 [ZT] Remove glossary tooltips from IdPs
  content/cloudflare-one/identity/idp-integration/adfs.md
  content/cloudflare-one/identity/idp-integration/azuread.md
  content/cloudflare-one/identity/idp-integration/centrify.md
  content/cloudflare-one/identity/idp-integration/facebook-login.md
  content/cloudflare-one/identity/idp-integration/generic-oidc.md
  content/cloudflare-one/identity/idp-integration/generic-saml.md
  content/cloudflare-one/identity/idp-integration/github.md
  content/cloudflare-one/identity/idp-integration/google.md
  content/cloudflare-one/identity/idp-integration/gsuite.md
  content/cloudflare-one/identity/idp-integration/jumpcloud-saml.md
  content/cloudflare-one/identity/idp-integration/keycloak.md
  content/cloudflare-one/identity/idp-integration/linkedin.md
  content/cloudflare-one/identity/idp-integration/okta-saml.md
  content/cloudflare-one/identity/idp-integration/okta.md
  content/cloudflare-one/identity/idp-integration/onelogin-oidc.md
  content/cloudflare-one/identity/idp-integration/onelogin-saml.md
  content/cloudflare-one/identity/idp-integration/pingfederate-saml.md
  content/cloudflare-one/identity/idp-integration/pingone-oidc.md
  content/cloudflare-one/identity/idp-integration/saml-centrify.md
  content/cloudflare-one/identity/idp-integration/yandex.md
Labels: product:cloudflare-one, size/m, pcx_team_review

#11736 [Accounts] Apple Relay note
  content/fundamentals/basic-tasks/login.md
Labels: size/xs, product:fundamentals, pcx_team_review

#11740 [Analytics] Update info where to configure Maximum Upload Size
  content/analytics/account-and-zone-analytics/status-codes.md
Labels: product:analytics, size/xs, pcx_team_review

#11741 [Magic Transit] Added tooltips
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
  content/magic-transit/about.md
  content/magic-transit/cloudflare-ips.md
  content/magic-transit/get-started.md
  content/magic-transit/how-to/advertise-prefixes.md
  content/magic-transit/network-interconnect.md
  content/magic-transit/prerequisites.md
  data/glossary/magic-transit.yaml
  data/glossary/magic-wan.yaml
Labels: size/s, product:magic-transit, pcx_team_review, product:magic-network-monitoring

#11732 [Workers] databases descriptions
  content/workers/databases/_index.md
  content/workers/databases/analytics-engine.md
  content/workers/databases/connecting-to-databases.md
  content/workers/databases/d1.md
  content/workers/databases/hyperdrive.md
  content/workers/databases/native-integrations/_index.md
  content/workers/databases/vectorize.md
  content/workers/observability/local-development-and-testing.md
Labels: product:workers, size/s, pcx_team_review

#11617 Update protect-against-timing-attacks.md
  content/workers/examples/protect-against-timing-attacks.md
Labels: product:workers, size/s

#11416 [DNS] Clarify existing domain required for Secondary DNS setup
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup.md
Labels: product:dns, size/s

#11742 Update Configuring Custom Pages (Error and Challenge).md
  content/support/More Dashboard Apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
Labels: size/xs, product:support

#11661 [DNS] Add record types and update link to field definitions
  content/dns/_partials/_api-field-definitions.md
  content/dns/manage-dns-records/how-to/create-dns-records.md
  content/dns/manage-dns-records/reference/dns-record-types.md
Labels: product:dns, size/s, pcx_team_review

#11743 updated text
  content/cloudflare-for-platforms/cloudflare-for-saas/domain-support/remove-custom-hostnames.md
Labels: product:cloudflare-for-platforms, size/xs, pcx_team_review

#11747 [Magic Transit] Added layout single
  content/magic-transit/analytics/_index.md
Labels: size/xs, product:magic-transit, pcx_team_review

#11606 [ZT] WARP with legacy VPN
  content/cloudflare-one/_partials/access/_access-block-page.md
  content/cloudflare-one/_partials/access/_enable-scim-on-dashboard.md
  content/cloudflare-one/_partials/access/_idp-integration.md
  content/cloudflare-one/_partials/access/_one-time-pin.md
  content/cloudflare-one/_partials/tunnel/_cloudflared-debian-install.md
  content/cloudflare-one/_partials/warp/_client-orchestration-ips.md
  content/cloudflare-one/_partials/warp/_device-enrollment.md
  content/cloudflare-one/_partials/warp/_doh-ips.md
  content/cloudflare-one/_partials/warp/_mdm-dash-conflict.md
  content/cloudflare-one/_partials/warp/_mdm-intro.md
  content/cloudflare-one/_partials/warp/_service-token-enrollment.md
  content/cloudflare-one/_partials/warp/_vpn-ip-traffic.md
  content/cloudflare-one/applications/configure-apps/saas-apps/_index.md
  content/cloudflare-one/applications/configure-apps/self-hosted-apps.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/device-enrollment.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/firewall.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/_index.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/vpn.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/aws.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/azure.md
  content/cloudflare-one/connections/connect-networks/get-started/create-local-tunnel.md
  content/cloudflare-one/identity/idp-integration/_index.md
  content/cloudflare-one/identity/idp-integration/azuread.md
  content/cloudflare-one/identity/idp-integration/okta.md
  content/cloudflare-one/identity/one-time-pin.md
  content/learning-paths/dns-filtering/connect-devices/install-agent.md
  content/learning-paths/dns-filtering/plan-deployment/mdm.md
  content/learning-paths/dns-filtering/plan-deployment/user-authentication.md
Labels: product:cloudflare-one, size/m, product:learning-paths, pcx_team_review

#11749 [Cache] Adding glossary link to cache docs
  content/cache/glossary.md
  data/glossary/cache.yaml
Labels: product:cache, size/s, pcx_team_review

#11745 Add DDoS change log entries for 2023-11-10
  content/ddos-protection/change-log/http/2023-11-10-emergency.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#11752 security intelligence api limits
  content/security-center/intel-apis/_index.md
  content/security-center/intel-apis/limits.md
Labels: product:security-center, size/s, pcx_team_review

#11662 [Cache] Clarify strong ETag behavior
  content/cache/reference/etag-headers.md
Labels: product:cache, size/s, pcx_team_review

#11534 [SSL] Update certificate-transparency-monitoring.md
  content/ssl/edge-certificates/additional-options/certificate-transparency-monitoring.md
Labels: product:ssl, size/xs

#11700 [SSL] Add explicit note about DCV Delegation not working with USSL
  content/ssl/edge-certificates/changing-dcv-method/methods/delegated-dcv.md
Labels: product:ssl, size/xs

#11604 [Load Balancing] Add caveat note about Pages origins
  content/load-balancing/_partials/_pool-create.md
Labels: product:load-balancing, size/xs

#11755 [CAT] Forward Proxy limitation
  content/firewall/cf-firewall-rules/cloudflare-challenges.md
Labels: product:firewall, size/xs, pcx_team_review

#11601 Tutorial: Protecting AWS S3 buckets using Cloudflare Zero Trust
  content/cloudflare-one/tutorials/s3-buckets.md
Labels: product:cloudflare-one, size/m

#11748 adding aside under vpns
  content/waf/tools/lists/managed-lists.md
Labels: product:waf, size/s, pcx_team_review

#11769 [Magic Network Monitoring] glossary tooltips
  content/magic-network-monitoring/_index.md
  content/magic-network-monitoring/get-started.md
  content/magic-network-monitoring/glossary.md
  content/magic-network-monitoring/routers/_index.md
  content/magic-network-monitoring/routers/netflow-ipfix-config.md
  content/magic-network-monitoring/routers/recommended-sampling-rate.md
  content/magic-network-monitoring/routers/supported-routers.md
  content/magic-network-monitoring/rules/recommended-rule-configuration.md
  content/magic-network-monitoring/tutorials/graphql-analytics.md
  data/glossary/magic-network-monitoring.yaml
  data/glossary/magic-transit.yaml
Labels: size/s, pcx_team_review, product:magic-network-monitoring

#11770 [KV] Adding try...catch
  content/kv/api/read-key-value-pairs.md
Labels: size/s, pcx_team_review, product:kv

#11771 [SSL] Update _index.md
  content/ssl/reference/migration-guides/digicert-update/_index.md
Labels: product:ssl, size/xs

#11576 Fix NS record setup API command
  content/dns/dnssec/multi-signer-dnssec/setup.md
Labels: product:dns, size/xs

#11776 [D1] Changing ' to "
  content/d1/get-started.md
Labels: product:d1, size/xs, pcx_team_review

#11529 Clarify restrictions for index names
  content/vectorize/get-started/embeddings.md
  content/vectorize/get-started/intro.md
Labels: size/xs, product:vectorize

#11773 [Cache] Added Bypass option
  content/cache/how-to/cache-rules/create-dashboard.md
  content/cache/how-to/cache-rules/settings.md
  content/cache/reference/development-mode.md
Labels: product:cache, size/s, pcx_team_review

#11751 [D1] Update client-api.md
  content/d1/platform/client-api.md
Labels: product:d1, size/xs

#11778 [D1] Clarify limits
  content/d1/platform/limits.md
Labels: product:d1, size/xs, pcx_team_review

#11781 Update vectorize.yml
  data/vectorize.yml
Labels: size/xs, pcx_team_review

#11774 Add precision on onion service x509 termination
  content/support/Firewall/Learn more/Understanding Cloudflare Tor support and Onion Routing.md
Labels: size/xs, product:support

#11782 Update managing-dynamic-ip-addresses.md
  content/dns/manage-dns-records/how-to/managing-dynamic-ip-addresses.md
Labels: product:dns, size/xs, pcx_team_review

#11733 [Docs guide] First couple pages
  content/docs-guide/_index.md
  content/docs-guide/manage-content/_index.md
  content/docs-guide/manage-content/automation/_index.md
  content/docs-guide/manage-content/automation/process.md
  content/docs-guide/manage-content/metadata/_index.md
  content/docs-guide/manage-content/metadata/process.md
  content/docs-guide/manage-content/redirects/_index.md
  content/docs-guide/manage-content/redirects/best-practices.md
  content/docs-guide/manage-content/redirects/maintenance.md
  content/docs-guide/manage-content/redirects/process.md
  data/docs-guide.yml
Labels: size/m, product:docs-guide

#11739 [WAF] Add glossary entries
  content/analytics/network-analytics/configure/share-export.md
  content/logs/reference/glossary.md
  data/glossary/waf.yaml
Labels: product:analytics, product:logs, size/s, pcx_team_review

#11783 Add DDoS change log entries for 2023-11-13
  content/ddos-protection/change-log/http/2023-11-13-emergency.md
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#11731 * auto generated model docs for workers ai
  content/_redirects
  content/vectorize/get-started/embeddings.md
  content/vectorize/learning/create-indexes.md
  content/vectorize/learning/query-vectors.md
  content/vectorize/learning/what-is-a-vector-database.md
  content/workers-ai/models/image-classification.md
  content/workers-ai/models/speech-recognition.md
  content/workers-ai/models/speech-to-text.md
  content/workers-ai/models/text-classification.md
  content/workers-ai/models/text-embeddings.md
  content/workers-ai/models/text-generation.md
  content/workers-ai/models/text-to-image.md
  content/workers-ai/models/translation.md
  content/workers-ai/platform/limits.md
Labels: size/xl, product:_redirects, product:workers-ai, product:vectorize

#11790 pcx-8814-legal
  content/waf/tools/lists/managed-lists.md
Labels: product:waf, size/xs

#11791 [Docs] Add references to WAF glossary entries
  content/analytics/network-analytics/configure/share-export.md
  content/analytics/network-analytics/get-started.md
  content/analytics/network-analytics/reference/network-analytics-v1.md
  content/bots/concepts/bot-score.md
  content/ddos-protection/managed-rulesets/adjust-rules/false-negative.md
  content/ddos-protection/reference/logs.md
  content/fundamentals/_partials/_allow-cloudflare-ips.md
  content/fundamentals/basic-tasks/trace-request.md
  content/learning-paths/prevent-ddos-attacks/advanced/improve-analytics.md
  content/logs/get-started/enable-destinations/_index.md
  content/logs/reference/change-notices/2023-02-01-security-fields-updates.md
  content/logs/reference/pathing-status.md
  content/page-shield/policies/violations.md
  content/rules/transform/managed-transforms/reference.md
  content/waf/_partials/_analytics-export-data.md
  content/waf/about/waf-attack-score.md
  content/waf/custom-rules/create-api.md
  content/waf/custom-rules/use-cases/block-ip-reputation.md
  content/waf/exposed-credentials-check/_index.md
  content/waf/glossary.md
  content/waf/security-analytics/index.md
  content/waf/security-events/_index.md
  content/waf/security-events/additional-information.md
  content/waf/tools/ip-access-rules/_index.md
Labels: product:analytics, product:bots, product:logs, product:rules, product:page-shield, product:waf, size/s, product:fundamentals, product:ddos-protection, product:learning-paths, pcx_team_review

#11370 [LB, Spectrum] Update docs on using Spectrum with a load balancer
  assets/images/spectrum/spectrum-tcp-check.png
  content/load-balancing/_partials/_spectrum-lb-limitations.md
  content/load-balancing/additional-options/override-http-host-headers.md
  content/load-balancing/additional-options/spectrum.md
  content/load-balancing/pools/_index.md
  content/spectrum/_partials/_spectrum-with-load-balancer-api.md
  content/spectrum/_partials/_spectrum-with-load-balancer-dash.md
  content/spectrum/about/load-balancer.md
  content/spectrum/get-started/index.md
Labels: product:load-balancing, product:spectrum, size/m, pcx_team_review

#11784 KV: Update _kv_pricing.md
  content/kv/platform/pricing.md
  content/workers/_partials/_kv_pricing.md
Labels: product:workers, size/s, pcx_team_review, product:kv

#11750 Queues: Update commands.md
  content/queues/platform/wrangler-commands.md
  content/workers/wrangler/commands.md
Labels: product:workers, product:queues, size/s, pcx_team_review

#11754 D1: Update local-development.md
  content/d1/learning/local-development.md
Labels: product:d1, size/s, pcx_team_review

#11792 [Fundamentals, Other Docs] Add CSP glossary entry and references
  content/analytics/web-analytics/understanding-web-analytics/data-origin-and-collection.md
  content/bots/_partials/_javascript-detections-csp.md
  content/images/_partials/_svg.md
  content/page-shield/how-it-works/_index.md
  content/page-shield/policies/_index.md
  content/page-shield/policies/create-dashboard.md
  content/page-shield/policies/csp-directives.md
  content/page-shield/reference/csp-header.md
  content/page-shield/reference/page-shield-api.md
  content/page-shield/reference/settings.md
  content/page-shield/troubleshooting.md
  content/radar/investigate/url-scanner.md
  content/speed/_partials/_rocket-loader-csp.md
  content/speed/optimization/content/fonts/_index.md
  content/speed/optimization/images/mirage.md
  content/stream/faq/index.md
  content/zaraz/faq.md
  data/glossary/fundamentals.yaml
Labels: product:stream, product:images, product:analytics, product:bots, product:page-shield, size/s, product:radar, product:zaraz, pcx_team_review, product:speed

#11794 [Analytics] Update threat types page
  content/analytics/account-and-zone-analytics/threat-types.md
Labels: product:analytics, size/s, pcx_team_review

#11789 [Chore] Add glossary VS Code snippets
  .vscode/devdocs.code-snippets
  SNIPPETS.md
Labels: size/s, pcx_team_review

#11780 Add Radar error codes
  content/radar/get-started/error-codes.md
Labels: size/s, product:radar

#11798 Fix redirects
  content/_redirects
Labels: size/l, product:_redirects, pcx_team_review

#11788 Update [MDM-deployment]
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/_index.md
Labels: product:cloudflare-one, size/s
