Repository cloudflare/cloudflare-docs, pull requests merged in 2023-06, with the labels that each got.

#9170 [Repo] Update content types in VSCode snippets
  .vscode/devdocs.code-snippets
Labels: docs-repo-or-site

#8816 [ZT] SCIM provisioning
  content/cloudflare-one/applications/configure-apps/dash-sso-apps.md
  content/fundamentals/account-and-billing/account-security/scim-setup.md
Labels: product:cloudflare-one, fundamentals

#9192 [ZT] UDP regional services warning
  content/cloudflare-one/_partials/gateway/_disable-udp.md
  content/data-localization/_index.md
  content/data-localization/how-to/zero-trust.md
Labels: product:cloudflare-one, product:data-localization

#9229 [Page Shield, Other docs] Update API links
  content/dns/additional-options/custom-nameservers.md
  content/firewall/api/cf-filters/endpoints.md
  content/firewall/api/cf-firewall-rules/endpoints.md
  content/fundamentals/api/how-to/create-via-api.md
  content/load-balancing/_partials/_load-balancer-create-api.md
  content/page-shield/reference/page-shield-api.md
  content/ruleset-engine/rulesets-api/endpoints.md
  content/tenant/get-started/index.md
  content/terraform/_partials/_find-ids-managed-rulesets.md
  content/terraform/_partials/_find-ids.md
Labels: product:page-shield

#9228 Announcing new rule
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog

#9227 Add DDoS change log entries for 2023-06-05
  content/ddos-protection/change-log/http/2023-06-05-emergency.md
Labels: product:ddos, changelog

#9183 [Ruleset Engine, Rules] Add ip.src.region field and cf-region header
  content/rules/transform/managed-transforms/reference.md
  content/ruleset-engine/rules-language/fields.md
Labels: product:rules, product:ruleset-engine

#9211 [ZT] Add learning path policies to DNS common policies
  content/cloudflare-one/_partials/gateway/_block-applications.md
  content/cloudflare-one/_partials/gateway/_policies-optional.md
  content/cloudflare-one/_partials/gateway/_recommended-dns-policies.md
  content/cloudflare-one/policies/filtering/dns-policies/common-policies.md
  content/cloudflare-one/policies/filtering/http-policies/common-policies.md
  content/cloudflare-one/policies/filtering/network-policies/common-policies.md
  content/learning-paths/modules/security/dns-filtering-create-policy/recommended-policies.md
Labels: product:gateway, learning-paths

#9236 [Analytics] Link to Network Analytics v2 technical blog post
  content/analytics/network-analytics/_index.md
Labels: product:analytics

#9232 [DDoS Protection] Protects against attacks on an entire IP prefix
  content/ddos-protection/tcp-protection/_index.md
Labels: product:ddos

#9156 [SSL] Fix schedule info on custom cert expiration
  content/ssl/edge-certificates/custom-certificates/renewing.md
Labels: product:ssl

#9254 Add DDoS change log entries for 2023-06-06
  content/ddos-protection/change-log/http/2023-06-06.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: product:ddos, changelog

#9262 Durable Objects: cross-link Location hints
  content/workers/learning/using-durable-objects.md
Labels: product:durable-objects

#8130 queues: refer to the latest wrangler
  content/queues/learning/consumer-concurrency.md
Labels: product:queues

#8937 workers: Update connect-to-postgres.md
  content/workers/databases/connect-to-postgres.md
Labels: product:workers

#9273 Update use-cases.md to fix typo
  content/rules/url-forwarding/bulk-redirects/use-cases.md
Labels: product:rules

#8804 [DNS] Add tenant custom nameservers and update ACNS conditions
  content/dns/_partials/_acns-tcns-byoip.md
  content/dns/_partials/_acns-tcns-conditions.md
  content/dns/_partials/_acns-tcns-intro.md
  content/dns/_partials/_ns-set-omission-callout.md
  content/dns/additional-options/custom-nameservers.md
  content/dns/additional-options/custom-nameservers/_index.md
  content/dns/additional-options/custom-nameservers/account-custom-nameservers.md
  content/dns/additional-options/custom-nameservers/tenant-custom-nameservers.md
  content/dns/additional-options/custom-nameservers/zone-custom-nameservers.md
Labels: product:dns

#8959 d1: update home page
  content/d1/_index.md
Labels: product:d1

#9005 d1: Update importing-data.md
  content/d1/learning/importing-data.md
Labels: product:d1

#9072 d1: Update limits.md
  content/d1/platform/limits.md
Labels: product:d1

#9168 workers: link out to native integrations
  content/workers/databases/native-integrations.md
Labels: product:workers

#9230 d1: add a changelog
  content/d1/changelog.md
Labels: product:d1

#9266 [ZT] Change Custom Page name
  content/cloudflare-one/faq/teams-getting-started-faq.md
  content/cloudflare-one/glossary/index.md
  content/cloudflare-one/identity/login-page.md
  content/cloudflare-one/policies/filtering/configuring-block-page.md
Labels: product:cloudflare-one

#9287 [Durable Objects - Workers] Add Hibernation API to changelog; add note
  content/workers/platform/changelog.md
  content/workers/runtime-apis/durable-objects.md
Labels: product:durable-objects

#9270 [ZT] Windows 11 and Server 2022 DoH procedure
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
Labels: product:gateway, product:cloudflare-one

#9248 [ZT] Add H3 limitation to FIPS
  content/cloudflare-one/policies/filtering/http-policies/http3.md
  content/cloudflare-one/policies/filtering/http-policies/tls-decryption.md
Labels: product:gateway, product:cloudflare-one

#9317 [ZT] Add specs for block page image
  content/cloudflare-one/policies/filtering/configuring-block-page.md
Labels: product:gateway, product:cloudflare-one

#9193 [ZT] Add post-DNS-resolution note
  content/cloudflare-one/policies/filtering/dns-policies/_index.md
Labels: product:gateway, product:cloudflare-one

#9318 [ZT] Update Gateway log fields for WARP client
  content/cloudflare-one/insights/logs/gateway-logs/_index.md
Labels: product:gateway, product:warp-client, product:cloudflare-one

#9339 [GitHub] Auto-size PR
  .github/workflow-scripts/label-pr-size.js
  .github/workflow-scripts/label-products.js
  .github/workflows/label-prs.yml
  content/analytics/analytics-engine/get-started.md
  content/analytics/faq/wae-faqs/index.md
  content/cloudflare-one/_index.md
  content/turnstile/frequently-asked-questions.md
Labels: product:cloudflare-one, product:analytics, size/m, product:turnstile

#9345 [Fundamentals] Update screenshot
  assets/images/fundamentals/get-started/delete-account.png
  content/fundamentals/account-and-billing/account-maintenance/delete-account.md
Labels: size/xs, product:fundamentals

#9260 [Workers] get started revision
  content/workers/get-started/guide.md
Labels: product:workers, size/s

#9352 Emergency release for CVE-2023-20887
  content/waf/change-log/2023-06-14---emergency-release.md
Labels: product:waf, size/s

#9353 [Maintenance] Broken api docs link
  content/radar/investigate/domain-ranking-datasets.md
Labels: size/xs, product:radar

#9358 [MWAN and MT] Check for anycast tunnel health in the dash
  content/magic-transit/how-to/run-tunnel-health-checks.md
  content/magic-wan/_partials/_tunnel-healthchecks-dash.md
  content/magic-wan/how-to/run-tunnel-health-checks.md
  content/magic-wan/third-party/sonicwall.md
  content/magic-wan/third-party/sophos-firewall.md
Labels: size/s, product:magic-transit, product:magic-wan

#9362 [ZT] update WARP download link for Linux
  content/cloudflare-one/connections/connect-devices/warp/download-warp.md
Labels: product:cloudflare-one, size/xs

#9365 [ZT] Clarify unsupported traffic
  content/cloudflare-one/policies/filtering/egress-policies/dedicated-egress-ips.md
Labels: product:cloudflare-one, size/xs

#9360 [GitHub] Add codespell check to compiles
  .github/workflows/label-prs.yml
  content/zaraz/advanced/worker-variables.md
Labels: size/s, product:zaraz

#9372 [ZT] Update user management navigation page
  content/cloudflare-one/identity/users/_index.md
Labels: product:cloudflare-one, size/xs

#9296 analytics-engine: clarify bindings config
  content/analytics/analytics-engine/get-started.md
  content/workers/wrangler/configuration.md
Labels: product:analytics

#9375 [DNS] Add mention to DNS Firewall rate limiting
  content/dns/dns-firewall/_index.md
  content/dns/dns-firewall/setup.md
Labels: product:dns, size/xs

#9374 [MWAN / MT] Links to tunlels reference
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-transit/_partials/_tunnels-encapsulation-opening.md
  content/magic-transit/reference/tunnels.md
  content/magic-wan/prerequisites.md
  content/magic-wan/reference/tunnels.md
Labels: size/s, product:magic-transit, product:magic-wan

#9377 [Support] Clarify Accept-Encoding header
  content/support/Speed/Optimization - File Size/What will Cloudflare compress.md
Labels: size/xs, product:support

#9378 [Rules] Update description in Managed Transform
  content/rules/transform/managed-transforms/reference.md
Labels: product:rules, size/xs

#9379 [Cache] New page about retention and freshness
  content/cache/concepts/retention-vs-freshness.md
Labels: product:cache, size/s

#9312 [Workers] Update changelog.md with latest release notes
  content/workers/platform/changelog.md
Labels: product:workers, size/xs

#9369 [ZT] Tunnel remote log stream (UI)
  content/cloudflare-one/connections/connect-apps/monitor-tunnels/logs.md
Labels: product:cloudflare-one, size/s

#9367 [Workers] Fix 'writeable' typos in TCP sockets docs
  content/workers/runtime-apis/tcp-sockets.md
Labels: product:workers

#9382 [Workers] spelling fixes
  content/workers/get-started/guide.md
  content/workers/platform/changelog.md
  content/workers/runtime-apis/tail-event.md
Labels: product:workers, size/s

#9384 [GH actions] Continue on error
  .github/workflows/label-prs.yml
Labels: docs-repo-or-site, size/xs

#9394 [Radar] Update Radar glossary
  content/radar/glossary.md
Labels: size/s, product:radar

#9398 [ZT] Remove ZT 'Dashboard' and update links
  content/cloudflare-one/_partials/gateway/_debugging-policies.md
  content/cloudflare-one/applications/scan-apps/casb-dlp.md
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/common-issues.md
  content/cloudflare-one/policies/data-loss-prevention/dlp-policies/_index.md
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/_index.md
Labels: product:cloudflare-one, size/s

#9199 [Support] Update "What will Cloudflare compress"
  content/support/Speed/Optimization - File Size/What will Cloudflare compress.md
Labels: support, size/s, product:support

#9380 [Support] Page Rules: Add "Disable Zaraz" setting
  content/support/Page Rules/Understanding and configuring Cloudflare Page Rules (Page Rules Tutorial).md
Labels: size/xs, product:support

#9409 [Cache] New plans page
  content/cache/_index.md
  content/cache/plans/index.md
Labels: product:cache, size/s

#9407 [Page Shield] Update alerts
  content/fundamentals/_partials/_script-monitor-review-malicious-scripts.md
  content/fundamentals/notifications/notification-available.md
  content/page-shield/_partials/_alerts-configure.md
Labels: product:page-shield, size/m, product:fundamentals

#9233 [Docs] Set development env when using local previews
  package.json
Labels: docs-repo-or-site, size/xs

#9404 Added incremental migration CTA, R2 migration source, source and dest…
  content/r2/data-migration.md
Labels: product:r2, size/s

#9304 [SSL] Update supported OS
  content/ssl/_partials/_keyless-prereqs.md
Labels: product:ssl

#9395 [ZT] DEX: update HTTP test
  content/cloudflare-one/insights/dex/tests.md
  content/cloudflare-one/insights/dex/tests/_index.md
  content/cloudflare-one/insights/dex/tests/http.md
  content/cloudflare-one/insights/dex/tests/view-results.md
Labels: product:cloudflare-one, size/m

#9425 [ZT] Device UUID requires an MDM
  content/cloudflare-one/identity/devices/warp-client-checks/device-uuid.md
Labels: product:cloudflare-one, size/xs

#9437 Analytics Engine: Index limit is now 96
  content/analytics/analytics-engine/get-started.md
Labels: product:analytics, size/xs

#9434 [Magic WAN] IOS XE tutorial
  content/magic-wan/third-party/cisco-ios-xe.md
Labels: size/m, product:magic-wan

#9438 Add DDoS change log entries for 2023-06-16
  content/ddos-protection/change-log/http/2023-06-16.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: changelog, size/s, product:ddos-protection

#9439 Add DDoS change log entries for 2023-06-19
  content/ddos-protection/change-log/http/2023-06-19.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: changelog, size/s, product:ddos-protection

#9444 [ZT] Okta SAML groups
  content/cloudflare-one/identity/idp-integration/okta-saml.md
  content/cloudflare-one/policies/filtering/identity-selectors.md
  content/cloudflare-one/static/documentation/identity/attributes-cloudflare.png
  content/cloudflare-one/static/documentation/identity/okta-saml/okta-saml-6.png
Labels: product:cloudflare-one, size/s

#9443 [Fundamentals] Updates from Content Design
  content/fundamentals/account-and-billing/non-contract-products.md
  content/fundamentals/get-started/concepts/accounts-and-zones.md
Labels: size/s, product:fundamentals

#9421 added owners with assign
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/s

#9381 [Magic Firewall] Managed rulesets dash
  content/magic-firewall/how-to/enable-managed-rulesets.md
Labels: size/s, product:magic-firewall

#9401 document conditional copy
  content/r2/api/s3/extensions.md
Labels: product:r2, size/s

#9457 document R2 custom domains limit
  content/r2/reference/limits.md
Labels: product:r2, size/xs

#9464 [DNS] Update answer on DNS queries faq
  content/dns/troubleshooting/faq.md
Labels: product:dns, size/xs

#9465 [Speed] Speed docs updates
  content/fundamentals/speed/speed-test/_index.md
  content/fundamentals/speed/speed-test/faq.md
  content/fundamentals/speed/speed-test/optimization.md
  content/fundamentals/speed/speed-test/run-speed-test.md
  content/learning-paths/modules/get-started/performance-free/optimize-speed.md
Labels: size/m, product:fundamentals, product:learning-paths

#9469 [Spectrum] Update to Spectrum config options
  content/spectrum/reference/configuration-options.md
Labels: product:spectrum, size/xs

#9470 Announcing 3 new rules and toggling 2 rules
  content/waf/change-log/2023-06-19.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog, size/s

#9288 Update troubleshooting.md
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/issue-and-validate/validate-certificates/troubleshooting.md
Labels: product:cloudflare-for-platforms, size/xs

#9472 [Various] Update references to mention config / origin rules
  content/_redirects
  content/dns/_partials/_subdomain-customization.md
  content/fundamentals/speed/rocket-loader/enable.md
  content/fundamentals/speed/signed-exchanges/enable-signed-exchange.md
  content/images/polish/activate-polish.md
  content/rules/_partials/_configuration-rule-promotion.md
  content/rules/_partials/_origin-rule-promotion.md
  content/ssl/edge-certificates/additional-options/automatic-https-rewrites.md
  content/ssl/edge-certificates/additional-options/opportunistic-encryption.md
  content/ssl/edge-certificates/changing-dcv-method/troubleshooting.md
  content/ssl/edge-certificates/encrypt-visitor-traffic.md
  content/ssl/origin-configuration/ssl-modes/_index.md
  content/ssl/troubleshooting/too-many-redirects.md
  content/support/Firewall/Settings/Understanding the Cloudflare Security Level.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/Understanding Cloudflare Hotlink Protection.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What does Scrape Shield do.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What does Server Side Excludes (SSE) do.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What is Email Address Obfuscation.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/_index.md
  content/support/Page Rules/Recommended Page Rules to consider.md
  content/support/Page Rules/Understanding and configuring Cloudflare Page Rules (Page Rules Tutorial).md
  content/support/Page Rules/Using Page Rules to rewrite Host Headers.md
  content/support/Page Rules/Using Resolve Override in Page Rules.md
  content/support/Speed/Optimization - Delivery/Configuring Cloudflare Mirage.md
  content/support/Speed/Optimization - File Size/Using Cloudflare Auto Minify.md
  content/support/Speed/Optimization - File Size/Why isn't Auto Minify working.md
Labels: product:images, product:rules, product:ssl, product:dns, size/m, product:fundamentals, product:support, product:_redirects

#9451 [workers] Update changelog.md
  content/workers/platform/changelog.md
Labels: product:workers, size/xs

#9277 Adding a mention to Zone Hold
  content/pages/platform/custom-domains.md
Labels: product:pages, size/xs

#9476 [Stream] Minor edits
  content/stream/stream-live/custom-domains.md
  content/stream/webrtc-beta.md
Labels: product:stream, size/xs

#9346 d1: update tutorial to reflect new c3 onboarding
  content/d1/get-started.md
Labels: product:d1, size/m

#9471 d1: Update local-development.md
  content/d1/learning/local-development.md
Labels: product:d1, size/s

#9482 [Radar] Add a paragraph to Radar glossary
  content/radar/glossary.md
Labels: size/xs, product:radar

#9490 [ZT] Update tunnel log UI instructions
  content/cloudflare-one/connections/connect-apps/monitor-tunnels/logs.md
Labels: product:cloudflare-one, size/xs

#9491 [Reference Architecture] Add updates and diagram to CDN Reference Architecture
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-7.png
  content/reference-architecture/cdn-reference-architecture.md
Labels: product:reference-architecture, size/s

#9453 [WAF] Add managed ruleset availability
  content/waf/managed-rules/_index.md
  data/plans.json
  layouts/shortcodes/feature-table.html
Labels: product:waf, size/s

#9498 [Logs] Clarify Workers Logpush availability
  content/logs/about/index.md
Labels: product:logs, size/xs

#9500 farber/PCX-7379 adding a note about domain registry deletions
  content/registrar/faq.md
Labels: product:registrar, size/xs

#9320 [Workers] Fixing unit spacing
  content/workers/platform/pricing.md
Labels: product:workers

#9499 [Pages] Functions are not in Beta
  content/pages/platform/known-issues.md
Labels: product:pages, size/xs

#9478 workers: link out to analytics engine
  content/workers/databases/analytics-engine.md
Labels: product:workers, size/xs

#9501 [Rules] Add section
  content/rules/_index.md
  content/rules/_partials/_product_execution_order.md
  content/rules/custom-error-responses/_index.md
  content/rules/reference/_index.md
  content/rules/snippets/_index.md
  content/rules/snippets/create-dashboard.md
  data/plans.json
  layouts/shortcodes/alpha.html
  static/style.css
Labels: product:rules, size/m

#9088 Reword deploy button page
  content/workers/platform/deploy-button.md
Labels: product:workers, size/s

#9507 [GH actions] Update assignment script to reduce noise
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/assign-pr/index.ts
  .github/actions/owners.ts
Labels: size/s, pcx_team_review

#9108 Adding a note for custom cache keys in image resizing context
  content/images/image-resizing/url-format.md
Labels: product:images, size/xs

#9426 update R2 changelog to 16/06/2023
  content/r2/reference/changelog.md
Labels: product:r2, size/s

#9502 Update create-custom-hostnames.md
  content/cloudflare-for-platforms/_partials/_create-custom-hostname-limitations.md
  content/cloudflare-for-platforms/_partials/_create-custom-hostname.md
  content/cloudflare-for-platforms/_partials/_get-started-per-hostname.md
  content/cloudflare-for-platforms/cloudflare-for-saas/domain-support/create-custom-hostnames.md
Labels: product:cloudflare-for-platforms, size/s

#9504 [Registrar] Add nameservers limitation
  content/registrar/_partials/_requirements.md
  content/registrar/get-started/transfer-domain-to-cloudflare.md
  content/registrar/get-started/transfer-uk-domain.md
Labels: product:registrar, size/s

#6008 [R2] demo worker example fix
  content/r2/api/workers/demo-worker.md
Labels: product:r2, size/s

#9389 Document `wasm-bindgen` without `worker-build`
  content/workers/platform/webassembly/rust.md
Labels: product:workers, size/s

#9513 Update _index.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/local/_index.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9511 [Support] Remove outdated plan limitation
  content/support/Account Management & Billing/Account Privacy and Security/Securing user access with two-factor authentication (2FA).md
Labels: size/xs, product:support, pcx_team_review

#9480 [ZT] update troubleshooting FAQ
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one, size/s

#9518 [ZT] WARP errors placeholder
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/client-errors.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9524 [SSL] Add notes clarifying delegated DCV vs origin CA
  content/ssl/edge-certificates/changing-dcv-method/methods/delegated-dcv.md
  content/ssl/origin-configuration/origin-ca.md
Labels: product:ssl, size/xs, pcx_team_review

#9525 Updating release date
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, size/xs

#9522 [Logs] Update to Logpush
  content/logs/get-started/api-configuration.md
  content/logs/reference/filters.md
Labels: product:logs, size/xs, pcx_team_review

#9521 [Ruleset Engine] Remove old limitations
  content/ruleset-engine/rulesets-api/view.md
Labels: product:ruleset-engine, size/xs, pcx_team_review

#9533 [API Shield] Schema Validation limitation
  content/api-shield/security/schema-validation/_index.md
Labels: product:api-shield, size/xs, pcx_team_review

#9515 MFW-1151: Add docs and sample queries for IDS Analytics
  content/analytics/graphql-api/tutorials/querying-magic-firewall-ids-samples/index.md
  content/magic-firewall/about/ids.md
  content/magic-firewall/tutorials/graphql-analytics.md
Labels: product:analytics, size/m, product:magic-firewall

#9388 [Workers] Add Strict Compression, Strict Crypto compatibility flags
  content/workers/_partials/_platform-compatibility-dates/strict-compression.md
  content/workers/_partials/_platform-compatibility-dates/strict-crypto.md
  content/workers/platform/changelog.md
Labels: product:workers, size/s

#9527 farber/PCX-7285: restructuring Security Center docs plus some other updates
  content/fundamentals/get-started/reference/cloudflare-site-crawling.md
  content/security-center/_index.md
  content/security-center/_partials/_scan-frequency.md
  content/security-center/_partials/_setup.md
  content/security-center/about/_index.md
  content/security-center/app-security-reports/index.md
  content/security-center/brand-protection/index.md
  content/security-center/get-started/index.md
  content/security-center/infrastructure/index.md
  content/security-center/security-insights/_index.md
  content/security-center/security-insights/how-it-works.md
  content/security-center/security-insights/review-insights.md
  content/security-center/tasks/_index.md
  content/security-center/tasks/start-scan.md
Labels: product:security-center, size/m, product:fundamentals, pcx_team_review

#9536 fix footnote button styling
  static/style.css
Labels: size/xs

#9534 [Github] Find orphaned files
  .github/workflows/image-audit.yml
  assets/images/analytics/api-token-created.png
  assets/images/analytics/api-token-optional.png
  assets/images/analytics/api-token-permissions.png
  assets/images/analytics/api-token-section.png
  assets/images/analytics/create-api-token-page.png
  assets/images/analytics/create-query-fw-data-set-description.png
  assets/images/analytics/create-query-fw-data-set-field-type.png
  assets/images/analytics/create-query-fw-data-set.png
  assets/images/analytics/docs-fw-data-set.png
  assets/images/analytics/docs-fw-fields-list.png
  assets/images/analytics/docs-query.png
  assets/images/analytics/docs-viewer.png
  assets/images/analytics/docs-zone-filter.png
  assets/images/analytics/docs-zone.png
  assets/images/firewall/firewall-rules-csr-hover.png
  assets/images/fundamentals/api/template-select.png
  assets/images/fundamentals/api/zone-selection.png
  assets/images/fundamentals/elastic/screenshots/configure-index-management-elastic.png
  assets/images/fundamentals/elastic/screenshots/elastic-kibana-scripted-fields.png
  assets/images/fundamentals/looker/dashboards/origin-requests-per-hostname-ssl-connection-client-http-request-content-type-cloudflare-performnance-dashboard-looker.png
  assets/images/fundamentals/looker/dashboards/rate-limiting-cloudflare-dashboard-looker.png
  assets/images/fundamentals/looker/dashboards/static-vs-dynami-and-slowest-urls-cloudflare-performance-looker-dashboard.png
  assets/images/fundamentals/looker/dashboards/waf-cloudflare-security-dashboard-looker.png
  assets/images/fundamentals/notifications/start.png
  assets/images/fundamentals/notifications/where-to-find.png
  assets/images/fundamentals/splunk/dashboards/splunk-cloudflare-snapshot-web-traffic-types-dashboard.png
  assets/images/fundamentals/splunk/screenshots/splunk-add-aws-info-to-configuration.png
  assets/images/fundamentals/splunk/screenshots/splunk-addon-for-aws.png
  assets/images/fundamentals/splunk/screenshots/splunk-apps-manage-apps-cloudflare-set-up.png
  assets/images/fundamentals/splunk/screenshots/splunk-aws-s3-update-source-to-cloudflare-json.png
  assets/images/fundamentals/splunk/screenshots/splunk-cloudflare-app-for-splunk-search-logs.png
  assets/images/fundamentals/splunk/screenshots/splunk-cloudflare-data-model-calculated-fields.png
  assets/images/fundamentals/splunk/screenshots/splunk-configure-cloudflare-index-app-wizard.png
  assets/images/fundamentals/splunk/screenshots/splunk-create-new-index-cloudflare.png
  assets/images/fundamentals/splunk/screenshots/splunk-create-new-input-generic-s3.png
  assets/images/fundamentals/splunk/screenshots/splunk-data-input-aws-s3-source-type-cloudflare-json.png
  assets/images/fundamentals/splunk/screenshots/splunk-data-models-cloudflare.png
  assets/images/fundamentals/splunk/screenshots/splunk-generic-s3-fill-out-cloudflare-data.png
  assets/images/fundamentals/splunk/screenshots/splunk-settings-data-indexes.png
  assets/images/fundamentals/splunk/screenshots/splunk-settings-data-inputs-aws-s3.png
  assets/images/images/image-resizing.png
  assets/images/load-balancing/rules-builder-edit-expression-link.png
  assets/images/load-balancing/rules-editor-1.png
  assets/images/magic-wan/third-party/viptela/viptela-cisco-traffic-flow.png
  assets/images/magic-wan/third-party/viptela/viptela-cli-config.png
  assets/images/magic-wan/third-party/viptela/viptela-east-west-ping.png
  assets/images/magic-wan/third-party/viptela/viptela-flow-diagram-ipsec.png
  assets/images/magic-wan/third-party/viptela/viptela-gre-routing-table.png
  assets/images/magic-wan/third-party/viptela/viptela-ipsec-routing-table.png
  assets/images/magic-wan/third-party/viptela/viptela-swg-traffic-validation.png
  assets/images/magic-wan/third-party/viptela/viptela-update-device-template-ipsec.png
  assets/images/magic-wan/third-party/viptela/viptela-validate-traffic-curl-ipsec.png
  assets/images/magic-wan/third-party/viptela/viptela-validate-traffic-ipsec.png
Labels: size/s, pcx_team_review

#9539 [R2] Removed dated reference to CORS setup
  content/r2/buckets/public-buckets.md
Labels: product:r2, size/xs, pcx_team_review

#9540 [Chore] Unused image cleanup
  .github/workflows/image-audit.yml
  assets/images/analytics/create-query-fw-data-set-filter.png
  assets/images/analytics/graphiql-doc-explorer-firewalleventsadaptive.png
  content/email-security/static/bec/o365/step7-protect-user.png
  content/email-security/static/deployment/api-setup/journaling/step7-define-journal-rules.png
  content/email-security/static/email-retraction/gmail/step3-auto-retract.png
  content/email-security/static/email-retraction/gmail/step4-update-auto-retraction.png
  content/email-security/static/email-retraction/gmail/step5-updated-behaviors.png
  content/email-security/static/email-retraction/o365/step2-auto-retract.png
  content/email-security/static/email-retraction/o365/step3-nodisposition.png
  content/email-security/static/email-retraction/o365/step4-autoretract-settings.png
  content/email-security/static/email-retraction/o365/step5-updated-table.png
  content/support/static/Screen_Shot_2015-06-30_at_3.45.52_PM.png.png
  content/support/static/Screenshot_2020-08-14_at_16.10.06.png
  content/support/static/Screenshot_from_2018-03-21_11-23-4.png
  content/support/static/hc-dash-account-level-analytics_button.png
  content/support/static/hc-ext-shopify_o2o.png
  content/support/static/hc-import_installing_cloudflare_apps_one_page_only.png
  content/support/static/image2.png
  content/support/static/o2o-bigcommerce.png
  content/support/static/o2o.png
  content/support/static/stream_billing_subcriptions_previous_month.png
  content/support/static/troubleshoot_dnssec-example_correct_dnssec.png
Labels: size/xs, product:support, pcx_team_review, product:email-security

#9543 [Tile owners] Updating D1 and Email Routing
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/s

#9512 move demo worker to examples
  content/_redirects
  content/r2/examples/demo-worker.md
Labels: product:r2, size/xs, product:_redirects

#9544 [LB] Steering Policies reorg
  content/load-balancing/_partials/_least-outstanding-request-steering-definition.md
  content/load-balancing/_partials/_origin-steering-policies.md
  content/load-balancing/understand-basics/pools.md
  content/load-balancing/understand-basics/traffic-steering/origin-level-steering/_index.md
  content/load-balancing/understand-basics/traffic-steering/origin-level-steering/hash-origin-steering.md
  content/load-balancing/understand-basics/traffic-steering/origin-level-steering/least-outstanding-request-pools.md
  content/load-balancing/understand-basics/traffic-steering/origin-level-steering/random-origin-steering.md
  content/load-balancing/understand-basics/traffic-steering/steering-policies/dynamic-steering.md
  content/load-balancing/understand-basics/traffic-steering/steering-policies/least-outstanding-request.md
  content/load-balancing/understand-basics/traffic-steering/steering-policies/proximity-steering.md
Labels: product:load-balancing, size/m, pcx_team_review

#9546 [Product directory] Remove javascript req for load
  layouts/shortcodes/product-grid.html
Labels: size/xs, pcx_team_review

#9530 Update changelog.md with 2023-06-22 release
  content/workers/platform/changelog.md
Labels: product:workers, size/xs

#9556 [Cache] HTTP/2 to Origin is now under Speed
  content/cache/concepts/enable-http2-to-origin.md
Labels: product:cache, size/xs

#9554 [Rules] Add Compression Rules
  content/rules/_index.md
  content/rules/compression-rules/_index.md
  content/rules/compression-rules/create-api.md
  content/rules/compression-rules/create-dashboard.md
  content/rules/compression-rules/examples.md
  content/rules/compression-rules/settings.md
  content/rules/snippets/_index.md
  content/ruleset-engine/reference/phases-list.md
  content/ruleset-engine/rules-language/actions.md
  content/ruleset-engine/rules-language/fields.md
  data/plans.json
  static/style.css
Labels: product:rules, product:ruleset-engine, size/l, pcx_team_review

#9555 [Support] Add Brotli compression
  content/support/Speed/Optimization - File Size/What will Cloudflare compress.md
Labels: size/s, product:support, pcx_team_review

#9553 [DLS] Add info about roles
  content/data-localization/regional-services/get-started.md
Labels: product:data-localization, size/xs, pcx_team_review

#9552 [Magic Network Monitoring] Update page names and reconcile info
  content/_redirects
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
  content/magic-network-monitoring/magic-transit-integration.md
  content/magic-transit/flow-based-monitoring/_index.md
  content/magic-transit/flow-based-monitoring/enable-flow-based-monitoring.md
  content/magic-transit/how-to/advertise-prefixes.md
  content/magic-transit/magic-network-monitoring.md
Labels: size/s, product:magic-transit, product:_redirects, pcx_team_review, product:magic-network-monitoring

#9083 Update Worker size limits
  content/workers/platform/limits.md
Labels: product:workers

#9561 [Workers] remove postgres tutorial
  content/_redirects
  content/workers/learning/integrations/databases.md
  content/workers/tutorials/query-postgres-from-workers-using-database-connectors/index.md
Labels: product:workers, size/m, product:_redirects, pcx_team_review

#9393 [workers] Update CDN tutorial
  content/workers/tutorials/configure-your-cdn/index.md
Labels: product:workers, size/m

#9342 [workers] Update postgres tutorial
  content/workers/tutorials/postgres/index.md
Labels: product:workers, size/m

#9564 [Docs] Fix some link anchors
  content/cloudflare-one/_partials/_service-token-enrollment.md
  content/email-security/reporting/audit-logs.md
  content/learning-paths/modules/performance/load-balancing-planning/server-pool-health.md
  content/load-balancing/_partials/_monitor-create.md
  content/load-balancing/_partials/_monitor-health-check-regions-options.md
  content/load-balancing/_partials/_pool-create.md
  content/load-balancing/how-to/create-monitor.md
  content/load-balancing/understand-basics/traffic-steering/origin-level-steering/hash-origin-steering.md
  content/load-balancing/understand-basics/traffic-steering/origin-level-steering/random-origin-steering.md
  content/magic-firewall/how-to/pcaps-bucket-setup.md
  content/magic-wan/zero-trust/warp.md
  content/pages/_index.md
  content/pages/framework-guides/deploy-a-hugo-site.md
  content/pages/get-started/guide.md
  content/pages/migrations/migrating-jekyll-from-github-pages.md
  content/pages/platform/functions/get-started.md
  content/r2/data-migration.md
  content/stream/uploading-videos/direct-creator-uploads.md
  content/stream/viewing-videos/using-own-player/_index.md
  content/stream/webrtc-beta.md
  content/waiting-room/additional-options/create-events.md
  content/warp-client/_partials/_modes-options.md
  content/workers/databases/connect-to-postgres.md
  content/workers/get-started/guide.md
  content/workers/learning/metrics-and-analytics.md
  content/workers/learning/using-durable-objects.md
  content/workers/platform/bindings/_index.md
  content/workers/runtime-apis/durable-objects.md
Labels: product:workers, product:stream, product:warp-client, product:cloudflare-one, product:pages, product:load-balancing, product:waiting-room, product:r2, size/m, product:magic-wan, product:magic-firewall, product:learning-paths, pcx_team_review, product:email-security

#9565 [Chore] Add more early hints
  content/_headers
Labels: size/xs, pcx_team_review, product:_headers

#9566 wae: clarify limits
  content/analytics/analytics-engine/get-started.md
Labels: product:analytics, size/xs

#9567 Update view-results.md
  content/cloudflare-one/insights/dex/tests/view-results.md
Labels: product:cloudflare-one, size/xs

#9569 [Chore] Update skip link to appear above searchbox
  static/style.css
Labels: size/xs, pcx_team_review

#9586 [Magic Network Monitoring] New dash network analytics for MT and MWAN
  content/magic-transit/analytics/_index.md
  content/magic-wan/_partials/_network-analytics.md
  content/magic-wan/how-to/view-analytics.md
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#9591 [MWAN / MT] New DH group IPsec
  content/magic-transit/_partials/_tunnels-encapsulation-opening.md
  content/magic-wan/prerequisites.md
Labels: size/xs, product:magic-transit, product:magic-wan, pcx_team_review

#9505 [Workers] Fix accidental code block formatting in start-from-worker.md
  content/workers/platform/sites/start-from-worker.md
Labels: product:workers

#9589 [D1] Update get-started.md
  content/d1/get-started.md
Labels: product:d1, size/xs

#9593 [MNM] Added integration to title
  content/magic-transit/magic-network-monitoring.md
Labels: size/xs, product:magic-transit, pcx_team_review

#9595 [Magic WAN] Deleted unused imgs tutorial
  assets/images/magic-wan/third-party/palo-alto/cloudflare_dash_ipsec-orig/01_magic_ipsec_tun_01.png
  assets/images/magic-wan/third-party/palo-alto/cloudflare_dash_ipsec-orig/02_magic_ipsec_tun_02.png
  assets/images/magic-wan/third-party/palo-alto/cloudflare_dash_ipsec-orig/06_magic_ipsec_tun_02_gen_psk.png
  assets/images/magic-wan/third-party/palo-alto/cloudflare_dash_ipsec-orig/07_magic_ipsec_tun_02_show_psk.png
  assets/images/magic-wan/third-party/palo-alto/cloudflare_dash_ipsec-orig/09_magic_ipsec_tun_02_fqdn.png
  assets/images/magic-wan/third-party/palo-alto/cloudflare_dash_ipsec/06_magic_ipsec_tun_02_gen_psk.png
  assets/images/magic-wan/third-party/palo-alto/cloudflare_dash_ipsec/07_magic_ipsec_tun_02_show_psk.png
  assets/images/magic-wan/third-party/palo-alto/panw_ipsec_tunnels/11_ipsec_tunnel_overview.png
  assets/images/magic-wan/third-party/palo-alto/panw_logging/05_logging_mwan_egress.png
  assets/images/magic-wan/third-party/palo-alto/panw_logging/06_logging_mwan_egress_tun01_detail.png
  assets/images/magic-wan/third-party/palo-alto/panw_logging/07_ipsec_logging.png
  assets/images/magic-wan/third-party/palo-alto/panw_mwan_egress/08_pbf_trust_mwan_egress_tun01_source.png
  assets/images/magic-wan/third-party/palo-alto/panw_objects/01_address_objects.png
  assets/images/magic-wan/third-party/palo-alto/panw_objects/02_address_group_object.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/17_pbf_mwan_egress_tun01_general.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/18_pbf_mwan_egress_tun01_source.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/19_pbf_mwan_egress_tun01_dest-app-service.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/20_pbf_mwan_egress_tun01_forwarding.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/21_pbf_mwan_egress_tun02_general.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/22_pbf_mwan_egress_tun02_source.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/23_pbf_mwan_egress_tun02_dest-app-service.png
  assets/images/magic-wan/third-party/palo-alto/panw_pbf/24_pbf_mwan_egress_tun02_forwarding.png
  assets/images/magic-wan/third-party/palo-alto/panw_security_rules/19_trust_to_mwan_egress_general.png
  assets/images/magic-wan/third-party/palo-alto/panw_security_rules/20_trust_to_mwan_egress_source.png
  assets/images/magic-wan/third-party/palo-alto/panw_security_rules/21_trust_to_mwan_egress_dest.png
  assets/images/magic-wan/third-party/palo-alto/panw_security_rules/22_trust_to_mwan_egress_apps.png
  assets/images/magic-wan/third-party/palo-alto/panw_security_rules/23_trust_to_mwan_egress_service-url.png
  assets/images/magic-wan/third-party/palo-alto/panw_security_rules/24_trust_to_mwan_egress_action.png
  assets/images/magic-wan/third-party/palo-alto/panw_tags/01_trust_tag.png
  assets/images/magic-wan/third-party/palo-alto/panw_tags/02_untrust_tag.png
  assets/images/magic-wan/third-party/palo-alto/panw_tags/03_cloudflare_tag.png
  assets/images/magic-wan/third-party/palo-alto/panw_tags/04_tags_overview.png
  assets/images/magic-wan/third-party/palo-alto/troubleshooting/10_magic_wan_egress_ip.png
Labels: size/xs, pcx_team_review

#9597 [DNS] Add callout note on step two of partial setup
  content/dns/zone-setups/partial-setup/setup.md
Labels: product:dns, size/xs, pcx_team_review

#9550 Update FAQ sur les enregistrements DNS de Cloudflare.md
  content/support/Other Languages/Français (France)/FAQ sur les enregistrements DNS de Cloudflare.md
Labels: size/xs, product:support

#9520 Update 6/9 Runtime changelog
  content/workers/platform/changelog.md
Labels: product:workers, size/xs

#9263 [Style guide] Grammar and Formatting
  .vscode/extensions.json
  content/style-guide/_index.md
  content/style-guide/grammar-and-formatting/URLs-and-domain-names.md
  content/style-guide/grammar-and-formatting/_index.md
  content/style-guide/grammar-and-formatting/code-block-guidelines.md
  content/style-guide/grammar-and-formatting/code-conventions-and-format.md
  content/style-guide/grammar-and-formatting/dates-and-times.md
  content/style-guide/grammar-and-formatting/example-values.md
  content/style-guide/grammar-and-formatting/external-references.md
  content/style-guide/grammar-and-formatting/file-types-and-extensions.md
  content/style-guide/grammar-and-formatting/footnotes.md
  content/style-guide/grammar-and-formatting/keyboard-keys.md
  content/style-guide/grammar-and-formatting/notes-and-other-notation-types.md
  content/style-guide/grammar-and-formatting/numbers-and-units-of-measurement.md
  content/style-guide/grammar-and-formatting/parts-of-speech/_index.md
  content/style-guide/grammar-and-formatting/parts-of-speech/abbreviations.md
  content/style-guide/grammar-and-formatting/parts-of-speech/acronyms.md
  content/style-guide/grammar-and-formatting/parts-of-speech/anthropomorphisms.md
  content/style-guide/grammar-and-formatting/parts-of-speech/capitalization.md
  content/style-guide/grammar-and-formatting/parts-of-speech/compound-words.md
  content/style-guide/grammar-and-formatting/parts-of-speech/contractions.md
  content/style-guide/grammar-and-formatting/parts-of-speech/nouns-and-pronouns.md
  content/style-guide/grammar-and-formatting/parts-of-speech/possessives.md
  content/style-guide/grammar-and-formatting/parts-of-speech/prepositions.md
  content/style-guide/grammar-and-formatting/parts-of-speech/slang.md
  content/style-guide/grammar-and-formatting/product-name-and-pluralization.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/_index.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/ampersands.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/colons.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/commas.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/dashes.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/exclamation-points.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/percentages.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/periods.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/quotation-marks.md
  content/style-guide/grammar-and-formatting/punctuation-marks-and-symbols/semicolons.md
  content/style-guide/grammar-and-formatting/structure/_index.md
  content/style-guide/grammar-and-formatting/structure/lists.md
  content/style-guide/grammar-and-formatting/structure/paragraphs-and-line-breaks.md
  content/style-guide/grammar-and-formatting/structure/sentence-structure.md
  content/style-guide/grammar-and-formatting/structure/tables.md
  content/style-guide/grammar-and-formatting/symbols-in-UI-element-names.md
  data/style-guide.yml
Labels: docs-repo-or-site, size/xl, product:style-guide

#9590 [SSL] Clarify DCV token validity and check schedule
  content/_redirects
  content/cloudflare-for-platforms/_partials/_ssl-for-saas-validate-patch.md
  content/cloudflare-for-platforms/cloudflare-for-saas/reference/dcv-validation-backoff.md
  content/cloudflare-for-platforms/cloudflare-for-saas/reference/versioning.md
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/issue-and-validate/validate-certificates/http.md
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/webhook-definitions.md
  content/ssl/_partials/_dcv-validate-patch.md
  content/ssl/edge-certificates/changing-dcv-method/validation-backoff-schedule.md
  content/ssl/reference/migration-guides/digicert-update/custom-hostname-certificates.md
Labels: product:ssl, product:cloudflare-for-platforms, size/s, product:_redirects, pcx_team_review

#9600 Update style-guide.yml
  data/style-guide.yml
Labels: size/xs

#9467 ZRZ-649: Add Custom MC Page
  content/zaraz/_index.md
  content/zaraz/advanced/load-custom-managed-component.md
Labels: zaraz

#9493 [ZT] RBI hardware tokens
  content/cloudflare-one/policies/browser-isolation/known-limitations.md
Labels: product:cloudflare-one, size/xs

#9605 Update use-cases.md - remove wildcard from contains example
  content/waf/rate-limiting-rules/use-cases.md
Labels: product:waf, size/xs
