Repository cloudflare/cloudflare-docs, pull requests merged in 2023-09, with the labels that each got.

#10542 Removed r2 screenshots that aren't referenced
  assets/images/r2/public-buckets-active-allowed.png
  assets/images/r2/public-buckets-add-domain.png
  assets/images/r2/public-buckets-allow-access.png
  assets/images/r2/public-buckets-allowed.png
  assets/images/r2/public-buckets-bucket.png
  assets/images/r2/public-buckets-connect-domain.png
  assets/images/r2/public-buckets-disable-domain.png
  assets/images/r2/public-buckets-disallow-access.png
  assets/images/r2/public-buckets-domain-access.png
  assets/images/r2/public-buckets-manage-cloudflare-dns.png
  assets/images/r2/public-buckets-not-allowed-2.png
  assets/images/r2/public-buckets-not-allowed.png
  assets/images/r2/public-buckets-r2.png
  assets/images/r2/public-buckets-remove-domain.png
  assets/images/r2/public-buckets-settings.png
Labels: size/xs, pcx_team_review

#10543 updating tutorial
  content/fundamentals/setup/add-multiple-sites-automation.md
Labels: size/m, product:fundamentals, pcx_team_review

#10545 [Fundamentals] Rate limit update
  content/fundamentals/api/reference/limits.md
Labels: size/xs, product:fundamentals, pcx_team_review

#10534 [ZT] Revise cert procedures
  assets/images/cloudflare-one/connections/android_advanced_encrypt.png
  assets/images/cloudflare-one/connections/android_advanced_encrypt2.png
  assets/images/cloudflare-one/connections/android_ca_cert.png
  assets/images/cloudflare-one/connections/android_choose_certificate.png
  assets/images/cloudflare-one/connections/android_install_anyway.png
  assets/images/cloudflare-one/connections/android_install_cert.png
  assets/images/cloudflare-one/connections/android_security_settings.png
  assets/images/cloudflare-one/connections/cert-click-on-trust.png
  assets/images/cloudflare-one/connections/cert-select-always-trust.png
  assets/images/cloudflare-one/connections/ios_cert_download.PNG
  assets/images/cloudflare-one/connections/ios_cert_profile.PNG
  assets/images/cloudflare-one/connections/ios_cert_trust1.PNG
  assets/images/cloudflare-one/connections/ios_cert_trust2.PNG
  assets/images/cloudflare-one/connections/ios_profile_installed.PNG
  assets/images/cloudflare-one/connections/keychain-popup.png
  assets/images/cloudflare-one/connections/listed-in-keych.png
  assets/images/cloudflare-one/connections/windows_cert_install_finished.png
  assets/images/cloudflare-one/connections/windows_cert_location.png
  assets/images/cloudflare-one/connections/windows_install_cert.png
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: sub-product:gateway, product:cloudflare-one, size/m

#10444 Update Gmail address in integration test
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
Labels: product:cloudflare-one, size/xs

#10554 Releasing WAF rules for 04-09-2023
  content/waf/change-log/2023-09-04.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog, size/m

#10539 [DNS] Overview page update
  content/dns/_index.md
  content/dns/reference/all-features.md
Labels: product:dns, size/s, pcx_team_review

#10555 [SSL] Add missing cipher to supported list on origin
  content/ssl/origin-configuration/cipher-suites.md
Labels: product:ssl, size/xs, pcx_team_review

#10544 Add deprecated endpoints to radar changelog
  content/radar/changelog.md
Labels: size/s, product:radar

#10557 [Several] GitHub maintenance broken headers
  content/analytics/network-analytics/_index.md
  content/bots/_partials/_javascript-detections-implementation.md
  content/bots/troubleshooting.md
  content/cloudflare-for-platforms/cloudflare-for-saas/start/advanced-settings/custom-origin.md
  content/ddos-protection/best-practices/respond-to-ddos-attacks.md
  content/ddos-protection/managed-rulesets/http/override-parameters.md
  content/dns/manage-dns-records/how-to/create-subdomain.md
  content/dns/manage-dns-records/how-to/create-zone-apex.md
  content/dns/manage-dns-records/how-to/round-robin-dns.md
  content/dns/zone-setups/partial-setup/_index.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/proxy-traffic.md
  content/fundamentals/account-and-billing/account-billing/delete-account.md
  content/fundamentals/account-and-billing/account-billing/understand-invoices.md
  content/fundamentals/account-and-billing/account-billing/updating-billing-info.md
  content/fundamentals/basic-tasks/test-speed.md
  content/fundamentals/reference/cloudflare-ray-id.md
  content/fundamentals/setup/account-setup/verify-email-address.md
  content/fundamentals/setup/manage-domains/redirect-domain.md
  content/fundamentals/setup/manage-domains/remove-domain.md
  content/fundamentals/setup/manage-members/scope.md
  content/learning-paths/cybersafe/gateway-onboarding/gateway-create-cipa-policy.md
  content/load-balancing/troubleshooting/load-balancing-faq.md
  content/magic-firewall/about/list-types.md
  content/magic-firewall/how-to/use-rules-list.md
  content/ruleset-engine/rules-language/values.md
  content/security-center/_index.md
  content/ssl/edge-certificates/additional-options/certificate-transparency-monitoring.md
  content/ssl/edge-certificates/custom-certificates/renewing.md
  content/ssl/edge-certificates/custom-certificates/uploading.md
  content/ssl/reference/cipher-suites/customize-cipher-suites.md
  content/tenant/get-started/index.md
  content/waf/tools/challenge-passage.md
  content/waf/tools/ip-access-rules/actions.md
  content/waf/tools/lists/_index.md
  content/waf/tools/lists/create-dashboard.md
  content/waf/tools/lists/ip-lists.md
  content/waf/tools/lists/use-in-expressions.md
  content/waf/tools/security-level.md
  content/web3/_partials/_cloudflare-settings.md
  content/workers/learning/protocols.md
Labels: product:workers, product:analytics, product:bots, product:load-balancing, product:ssl, product:dns, product:waf, product:ruleset-engine, product:web3, product:tenant, product:security-center, product:cloudflare-for-platforms, size/s, product:fundamentals, product:ddos-protection, product:magic-firewall, product:learning-paths, pcx_team_review

#10559 [Cache] Fix typo in tiered-cache.md
  content/cache/how-to/tiered-cache.md
Labels: product:cache, size/xs

#10560 [Fundamentals] Small fixes to API page
  content/fundamentals/api/how-to/make-api-calls.md
Labels: size/s, product:fundamentals, pcx_team_review

#9899 [Page Shield] Add roles and permissions
  content/fundamentals/setup/manage-members/roles.md
  content/page-shield/get-started.md
  content/page-shield/reference/page-shield-api.md
  content/page-shield/reference/roles-and-permissions.md
Labels: product:page-shield, size/s, product:fundamentals, pcx_team_review

#9412 Update Contacting Cloudflare Support.md
  content/support/Troubleshooting/General Troubleshooting/Contacting Cloudflare Support.md
Labels: size/xs, product:support

#9413 Update Troubleshooting Cloudflare 1XXX errors.md
  content/support/Troubleshooting/Cloudflare Errors/Troubleshooting Cloudflare 1XXX errors.md
Labels: size/xs, product:support

#10564 [Chore] Accessibility fixes - Duplicate Aria IDs
  layouts/partials/external.icon.html
  layouts/partials/logo.html
Labels: size/xs, pcx_team_review

#10184 Add --local and --persist-to to r2 commands
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#10566 Update ownership
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/xs, pcx_team_review

#10561 Update Pages changelog
  content/pages/platform/changelog.md
Labels: product:pages, size/s

#10567 [LB] Remove Virtual IP support API only callout
  content/load-balancing/understand-basics/traffic-management.md
Labels: product:load-balancing, size/xs, pcx_team_review

#10569 [ZT] Access product compatibility
  content/cloudflare-one/applications/configure-apps/self-hosted-apps.md
  content/cloudflare-one/identity/authorization-cookie/_index.md
  content/cloudflare-one/policies/access/isolate-application.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#10574 [SSL] Update link to edge ciphers list
  content/ssl/origin-configuration/cipher-suites.md
Labels: product:ssl, size/xs, pcx_team_review

#10552 Sync `kv:key get` with current `wrangler` flags
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#10356 Document GraphQL API's new support for arrays of primitives
  content/analytics/graphql-api/features/filtering/index.md
  content/analytics/graphql-api/features/nested-structures/index.md
Labels: product:analytics, size/s

#10575 Add DDoS change log entries for 2023-09-05
  content/ddos-protection/change-log/http/2023-09-05-emergency.md
Labels: changelog, size/s, product:ddos-protection

#10577 [Workers] remove DO limits
  content/workers/platform/limits.md
Labels: product:workers, size/s, pcx_team_review

#10494 Update upstash.md for Redis trademark compliance
  content/workers/databases/native-integrations/upstash.md
Labels: product:workers, size/xs

#10111 Update examples document path
  content/pages/framework-guides/deploy-a-nextjs-site.md
Labels: product:pages, size/xs

#10573 [Chore] Add recent tiles to issue templates
  .github/ISSUE_TEMPLATE/content.add.yml
  .github/ISSUE_TEMPLATE/content.edit.yml
Labels: size/xs, pcx_team_review

#10571 [Images Resizing] Added note about focal point for gravity option
  content/images/_partials/_supported-properties.md
Labels: product:images, size/xs, pcx_team_review

#10581 [MWAN] Added ike id to Sophos
  content/magic-wan/third-party/sophos-firewall.md
Labels: size/xs, product:magic-wan, pcx_team_review

#10417 [Changelog] V2 PoC
  .github/CODEOWNERS
  config.toml
  content/_index.html
  content/changelog.html
  content/d1/changelog.md
  content/pages/platform/changelog.md
  content/queues/changelog.md
  content/r2/reference/changelog.md
  content/stream/changelog.md
  content/style-guide/documentation-content-strategy/content-types/changelog.md
  content/turnstile/changelog.md
  content/workers/platform/changelog.md
  data/changelogs/d1.yaml
  data/changelogs/pages.yaml
  data/changelogs/queues.yaml
  data/changelogs/r2.yaml
  data/changelogs/stream.yaml
  data/changelogs/turnstile.yaml
  data/changelogs/workers.yaml
  layouts/_default/changelog.rss.xml
  layouts/_default/home.html
  layouts/_default/home.rss.xml
  layouts/partials/head.meta.html
  layouts/partials/topbar.tools.html
  layouts/shortcodes/full-changelog.html
  layouts/shortcodes/product-changelog.html
  static/changelog.css
  static/home.css
  static/style.css
Labels: product:workers, product:stream, product:pages, product:r2, product:queues, product:d1, size/xl, product:turnstile, pcx_team_review, product:style-guide, product:_index.html, product:changelog.html

#10507 [WR] Multi-hostname and path coverage
  content/waiting-room/_index.md
  content/waiting-room/additional-options/ssl-for-saas.md
  content/waiting-room/get-started/index.md
  content/waiting-room/how-to/customize-waiting-room.md
  content/waiting-room/how-to/place-waiting-room.md
  content/waiting-room/reference/configuration-settings.md
  content/waiting-room/reference/waiting-room-cookie.md
  data/plans.json
Labels: product:waiting-room, size/m, pcx_team_review

#10578 [ZT] Revise Network Override
  content/cloudflare-one/policies/gateway/network-policies/_index.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#10584 [CAT] FAQ updates
  content/turnstile/frequently-asked-questions.md
Labels: size/s, product:turnstile, pcx_team_review

#10582 Update deploy-a-nextjs-site.md
  content/pages/framework-guides/deploy-a-nextjs-site.md
Labels: product:pages, size/xs

#10588 [Notifications] Added changelog
  content/notifications/api-reference.md
  content/notifications/changelog.md
  content/notifications/notification-available.md
  data/changelogs/notifications.yaml
Labels: size/m, product:notifications

#10501 Document Cloudflare Pages ignoring ports when matching _headers rules
  content/pages/_partials/_headers_redirects_placeholders.md
  content/pages/platform/headers.md
  content/pages/platform/redirects.md
Labels: product:pages, size/s

#10536 [Logs] Update Log fields
  content/logs/reference/log-fields/account/gateway_dns.md
  content/logs/reference/log-fields/account/gateway_http.md
  content/logs/reference/log-fields/account/gateway_network.md
  content/logs/reference/log-fields/account/sinkhole_http_logs.md
  content/logs/reference/log-fields/account/zero_trust_network_sessions.md
Labels: product:logs, size/s

#10583 add a changelog for Zaraz
  .github/CODEOWNERS
  content/zaraz/changelog.md
  data/changelogs/zaraz.yaml
Labels: size/s, product:zaraz

#10565 [SSL] Overview page update
  content/ssl/_index.md
  content/ssl/reference/all-features.md
Labels: product:ssl, size/s, pcx_team_review

#10590 [Docs] Fix typos
  content/cloudflare-one/_partials/gateway/_disable-udp.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/kandji.md
  content/dns/additional-options/custom-nameservers/account-custom-nameservers.md
  content/dns/dnssec/dnssec-active-migration.md
  content/dns/dnssec/dnssec-states.md
  content/dns/dnssec/multi-signer-dnssec/setup.md
  content/durable-objects/get-started.md
  content/email-security/account-setup/sso/_index.md
  content/network-interconnect/partners/equinix-fabric.md
  content/ssl/reference/certificate-authorities.md
  content/support/Other Languages/Español (España)/Cómo recopilar información para solucionar problemas en el sitio.md
  content/support/Other Languages/Español (España)/Cómo solucionar errores 1XXX de Clouflare.md
  content/support/Other Languages/Français (France)/Meilleures pratiques  Mesures de prévention contre les attaques DDoS.md
  content/support/Other Languages/Français (France)/Restaurer l’adresse IP d’origine du visiteur.md
  content/support/Other Languages/日本語/Cloudflare 1XXX エラーのトラブルシューティング.md
  content/support/Other Languages/日本語/Cloudflare 5XX エラーのトラブルシューティング.md
  content/support/Other Languages/日本語/Cloudflareレート制限を設定する.md
  content/support/Other Languages/简体中文/客户事件管理策略.md
  content/support/Other Languages/한국어/SSL FAQ.md
  content/workers/configuration/routing/custom-domains.md
  content/workers/tutorials/generate-youtube-thumbnails-with-workers-and-images/index.md
Labels: product:workers, product:cloudflare-one, product:ssl, product:dns, product:network-interconnect, product:durable-objects, size/s, product:support, pcx_team_review, product:email-security

#10591 Add radar changelog to new all products changelog
  .github/CODEOWNERS
  content/radar/changelog.md
  data/changelogs/radar.yaml
Labels: size/m, product:radar

#10592 [SSL] Add CAA record callout to DC offboarding docs
  content/ssl/_partials/_digicert-caa-warning.md
  content/ssl/reference/migration-guides/digicert-update/advanced-certificates.md
  content/ssl/reference/migration-guides/digicert-update/custom-hostname-certificates.md
  content/ssl/reference/migration-guides/digicert-update/universal-certificates.md
Labels: product:ssl, size/s, pcx_team_review

#10453 [Workers] Make an example for environment variable with multiple environment
  content/workers/configuration/environment-variables.md
Labels: product:workers, size/s

#10596 [MWAN Connector] Added serial number info
  content/magic-wan/connector/configure-connector.md
Labels: size/xs, product:magic-wan, pcx_team_review

#10597 [Page Shield] Policies update (connect-src support, unmonitored directives)
  content/page-shield/get-started.md
  content/page-shield/policies/_index.md
  content/page-shield/policies/create-dashboard.md
  content/page-shield/policies/csp-directives.md
  content/page-shield/reference/page-shield-api.md
Labels: product:page-shield, size/s, pcx_team_review

#10599 [Workers] subrequest definition add
  content/workers/platform/limits.md
Labels: product:workers, size/xs, pcx_team_review

#10570 [ZT] DLP source code detection
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/predefined-profiles.md
Labels: product:cloudflare-one, size/s, sub-product:data-loss-prevention

#10598 [Workers] small fix
  content/workers/wrangler/configuration.md
Labels: product:workers, size/xs, pcx_team_review

#10388 [Workers] Secrets page
  content/workers/_partials/_env_and_secrets.md
  content/workers/configuration/environment-variables.md
  content/workers/configuration/secrets.md
Labels: product:workers, size/m, pcx_team_review

#10576 [LB] New VNET field in Pools creation
  content/load-balancing/_partials/_pool-create.md
  content/load-balancing/understand-basics/traffic-management.md
Labels: product:load-balancing, size/s, pcx_team_review

#10533 [QUEUES] Added language in more places around remote dev limitations
  content/queues/examples/web-crawler-with-browser-rendering/index.md
  content/queues/learning/.consumer-concurrency.md.swp
  content/queues/platform/limits.md
Labels: product:queues, size/xs

#10600 [Workers] routing limits
  content/workers/platform/limits.md
Labels: product:workers, size/xs, pcx_team_review

#10595 [Docs] Assign PR action: Get product from changelog file path
  .github/actions/assign-pr/index.js
  .github/actions/assign-pr/index.ts
Labels: size/s, pcx_team_review

#10585 [workers] add wrangler changelog
  .github/CODEOWNERS
  content/workers/platform/changelog/_index.md
  content/workers/platform/changelog/wrangler.md
  data/changelogs/wrangler.yaml
  layouts/shortcodes/full-changelog.html
Labels: product:workers, size/m

#10601 [WR] Add to changelog
  .github/CODEOWNERS
  content/waiting-room/changelog.md
  data/changelogs/waiting-room.yaml
Labels: product:waiting-room, size/s

#10604 [MWAN] Added link
  content/magic-wan/connector/configure-connector.md
Labels: size/xs, product:magic-wan, pcx_team_review

#9929 [ZT] Editing a device profile requires a connection restart
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#10457 Charlieburnett/pubsub-move-guide
  content/pub-sub/faq.md
  content/pub-sub/get-started/_index.md
  content/pub-sub/guide.md
Labels: product:pub-sub, size/s

#10528 [QUEUES] Update consumer-concurrency.md
  content/queues/learning/consumer-concurrency.md
Labels: product:queues, size/xs

#10323 [ZT] WARP GUI error codes
  assets/images/cloudflare-one/connections/warp-gui-error.png
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/client-errors.md
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/common-issues.md
Labels: product:cloudflare-one, size/m, pcx_team_review

#10606 [Fundamentals] Billing updates
  content/fundamentals/account-and-billing/account-billing/change-plan.md
  content/fundamentals/account-and-billing/account-billing/understand-invoices.md
Labels: size/s, product:fundamentals, pcx_team_review

#10611 [Docs] Specify exact version of node-html-parser dependency
  package.json
Labels: size/xs, pcx_team_review

#10610 spelling error has been fixed
  content/dns/dns-firewall/random-prefix-attacks/about.md
Labels: product:dns, size/xs

#10613 [SSL] Adjust DigiCert offboarding date for new CF accounts on SSL4SaaS
  content/ssl/reference/migration-guides/digicert-update/_index.md
  content/ssl/reference/migration-guides/digicert-update/custom-hostname-certificates.md
Labels: product:ssl, size/xs, pcx_team_review

#10616 [Support] Add Discord to contact support page
  content/support/Troubleshooting/General Troubleshooting/Contacting Cloudflare Support.md
Labels: size/xs, product:support

#10164 Add citation for dynamic edge IP assignment for proxied domains
  content/fundamentals/_partials/_proxy-status-effects.md
Labels: size/xs, product:fundamentals

#10619 [Chore] Hide footnote backlinks from littlefoot
  static/style.css
Labels: size/xs, pcx_team_review

#10608 [ZT] Managed networks example and testing tips
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.md
Labels: product:cloudflare-one, size/m, pcx_team_review

#10622 Log status code from Jira if issue creation fails
  tools/cmd/sync-github-issue-to-jira/main.go
Labels: size/xs

#10625 [ZT] Fix a couple assorted typos in IdP docs
  content/cloudflare-one/_partials/_one-time-pin.md
  content/cloudflare-one/identity/authorization-cookie/validating-json.md
  content/cloudflare-one/identity/idp-integration/centrify.md
  content/cloudflare-one/identity/idp-integration/okta-saml.md
  content/cloudflare-one/identity/idp-integration/pingone-oidc.md
Labels: product:cloudflare-one, size/s

#10516 [Workers] Update docs to reflect latest `wrangler-action` version
  content/workers/configuration/deploy-button.md
Labels: documentation, product:workers, content:edit, size/xs

#10615 [Radar] Add connection tampering endpoints to changelog
  data/changelogs/radar.yaml
Labels: size/xs

#10618 Add TCP Connection Tampering section to Radar glossary
  content/radar/glossary.md
Labels: size/s, product:radar

#10631 [Cache] Corrected example to match UI
  content/cache/how-to/purge-cache/purge_by_prefix.md
Labels: product:cache, size/xs, pcx_team_review

#10628 [D1] Pages + d1 locally
  content/d1/learning/local-development.md
Labels: product:d1, size/s

#10633 [Speed] Added Content Encoding Issues
  content/speed/optimization/content/troubleshooting/content-encoding-issues.md
Labels: size/s, pcx_team_review, product:speed

#10549 [Support] Recommended WordPress settings turns IPv6 on, not off
  content/support/Third-Party Software/Content Management System (CMS)/What settings are applied when I click Optimize Cloudflare for WordPress in Cloudflare's WordPress plugin.md
Labels: size/xs, product:support

#10634 [Fundamentals] Added role
  content/fundamentals/setup/manage-members/roles.md
Labels: size/s, product:fundamentals, pcx_team_review

#10635 [Magic Network Monitoring] Added discord link to overview
  content/magic-network-monitoring/_index.md
Labels: size/xs, pcx_team_review, product:magic-network-monitoring

#10636 [MWAN] Refined aws title
  content/magic-wan/third-party/aws.md
Labels: size/xs, product:magic-wan, pcx_team_review

#10638 [ZT] RBI file size limitation
  content/cloudflare-one/policies/browser-isolation/known-limitations.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9918 [Workers] Add info in required permissions for mTLS cert upload
  content/workers/runtime-apis/mTLS.md
Labels: product:workers, size/xs

#10630 [Support] Fix French Page Rules Tutorial formatting and formality
  content/support/Other Languages/Français (France)/Comprendre et configurer Cloudflare Page Rules (tutoriel Page Rules).md
Labels: size/l, product:support

#10639 [Cache] Add retention period for cache analytics
  data/plans.json
Labels: size/xs, pcx_team_review

#10644 Announcing BETA for SSRF cloud
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog, size/s

#10643 [Bots] Transient false negatives
  content/bots/reference/verified-bots-policy.md
Labels: product:bots, size/s, pcx_team_review

#10645 [Rules] Custom error responses: Warn about referrer meta tags
  content/rules/custom-error-responses/parameters.md
Labels: product:rules, size/xs, pcx_team_review

#10589 [ZT] ChromeOS + Chromium cert procedure
  assets/images/cloudflare-one/connections/chromeOS1_cert.png
  assets/images/cloudflare-one/connections/chromeOS2_cert.png
  assets/images/cloudflare-one/connections/chromeOS3_cert.png
  assets/images/cloudflare-one/connections/chromeOS4_cert.png
  assets/images/cloudflare-one/connections/chromeOS5_cert.png
  assets/images/cloudflare-one/connections/chromeOS6_cert.png
  assets/images/cloudflare-one/connections/chromeOS7_cert.png
  assets/images/cloudflare-one/connections/chromeOS8_cert.png
  content/cloudflare-one/_partials/_chromeos-cert-settings.md
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one, size/s

#10647 [Fundamentals] IP range updates
  content/fundamentals/setup/allow-cloudflare-ip-addresses.md
Labels: size/xs, product:fundamentals, pcx_team_review

#10648 [ZT] Move macOS cert methods into tabs
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one, size/s

#10640 Update zaraz.yaml
  data/changelogs/zaraz.yaml
Labels: size/xs

#10637 Update Configuring Custom Pages (Error and Challenge).md
  content/support/More Dashboard Apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
Labels: size/xs, product:support

#10649 [MNM] Added new rule duration times
  content/magic-network-monitoring/rules.md
Labels: size/xs, pcx_team_review, product:magic-network-monitoring

#10572 Update What is Email Address Obfuscation.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What is Email Address Obfuscation.md
Labels: size/xs, product:support

#10007 Update 1.1.1.1 macOS Setup Docs `macos.md` to match macOS Ventura 13 UI
  content/1.1.1.1/setup/macos.md
Labels: product:1.1.1.1, size/s

#10653 [Magic Network Monitoring] API docs
  content/magic-network-monitoring/api.md
Labels: size/s, pcx_team_review, product:magic-network-monitoring

#10362 [Workers] Langchain/Pinecone/Notion tutorial
  assets/images/workers/tutorials/chatgpt-search/custom-plugin.png
  assets/images/workers/tutorials/chatgpt-search/demo.gif
  content/workers/tutorials/create-a-chatgpt-powered-search-plugin/demo.gif
  content/workers/tutorials/create-a-chatgpt-powered-search-plugin/index.md
Labels: product:workers, size/m

#10654 Added SFCC O2O Provider Guide and updated Partial Provider Guides
  content/cloudflare-for-platforms/_partials/_provider-guide-benefits.md
  content/cloudflare-for-platforms/_partials/_provider-guide-compatibility.md
  content/cloudflare-for-platforms/_partials/_provider-guide-help.md
  content/cloudflare-for-platforms/_partials/_provider-guide-intro.md
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/salesforce-commerce-cloud.md
Labels: product:cloudflare-for-platforms, size/s

#10655 Update create-private-networks.md
  content/cloudflare-one/connections/connect-networks/private-net/create-private-networks.md
Labels: product:cloudflare-one, size/xs

#10614 [Turnstile] Update remoteip param information
  content/turnstile/get-started/server-side-validation.md
Labels: size/xs, product:turnstile

#10641 [Workers] Diagnostics channel tail worker example fix
  content/workers/runtime-apis/nodejs/diagnostics-channel.md
Labels: product:workers, size/xs

#10587 Document http_headers_getsetcookie compatibility flag
  content/workers/_partials/_platform-compatibility-dates/http_headers_getsetcookie.md
Labels: product:workers, size/s

#10657 [D1] add a page for remote development
  content/d1/learning/remote-development.md
Labels: product:d1, size/s

#10656 [ZT] Clarify Access Bypass policy example
  content/cloudflare-one/policies/access/_index.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#10642 [Bots] Bot score Workers subrequests update
  content/bots/_partials/_bots-nc.md
  content/bots/reference/bot-management-skips.md
Labels: product:bots, size/xs, pcx_team_review

#10659 [Chore] Fix links and anchors
  content/learning-paths/bot-management/setup/challenge-rule.md
  content/speed/_partials/_rocket-loader-csp.md
  content/ssl/edge-certificates/additional-options/certificate-transparency-monitoring.md
  content/stream/viewing-videos/using-own-player/_index.md
  content/support/Page Rules/Understanding and configuring Cloudflare Page Rules (Page Rules Tutorial).md
  content/waf/_partials/_analytics-activity-log.md
  content/warp-client/legal/3rdparty.md
  content/workers/databases/connect-to-postgres.md
  content/workers/tutorials/connect-to-turso-using-workers/index.md
  content/workers/tutorials/postgres/index.md
  content/workers/wrangler/environments.md
  data/learning-paths/application-security.json
  data/plans.json
Labels: product:workers, product:stream, product:warp-client, product:ssl, product:waf, size/s, product:support, product:learning-paths, pcx_team_review, product:speed

#10662 [5xx] Fixed broken headers + re-added instructions
  content/support/Troubleshooting/Cloudflare Errors/Troubleshooting Cloudflare 5XX errors.md
  static/style.css
Labels: size/s, product:support, pcx_team_review

#10660 Remove Zaraz beta tag
  content/zaraz/_partials/_zaraz-definition.md
Labels: size/xs, product:zaraz

#10665 [Chore] remove unused shortcodes
  content/404.html
  layouts/shortcodes/blog-block.html
  layouts/shortcodes/center.html
Labels: size/s, pcx_team_review, product:404.html

#10621 Add Runtime team to codeowners for compat date partials
  .github/CODEOWNERS
Labels: size/xs

#10546 [ZT] Custom OIDC claims for named integrations
  assets/images/cloudflare-one/identity/onelogin/onelogin-oidc-3.png
  content/cloudflare-one/identity/idp-integration/azuread.md
  content/cloudflare-one/identity/idp-integration/centrify.md
  content/cloudflare-one/identity/idp-integration/generic-oidc.md
  content/cloudflare-one/identity/idp-integration/gsuite.md
  content/cloudflare-one/identity/idp-integration/okta.md
  content/cloudflare-one/identity/idp-integration/onelogin-oidc.md
  content/cloudflare-one/identity/idp-integration/pingone-oidc.md
Labels: product:cloudflare-one, size/m, pcx_team_review

#10626 [Pages] Attempt to clear up domain limit text
  content/pages/platform/limits.md
Labels: product:pages, size/xs

#10050 [Workers] Update Fauna tutorial
  assets/images/workers/tutorials/fauna/create-collection.png
  assets/images/workers/tutorials/fauna/create-database.png
  assets/images/workers/tutorials/fauna/delete-database.png
  assets/images/workers/tutorials/fauna/delete-worker.png
  assets/images/workers/tutorials/fauna/fauna-cf-workers-diagram.jpg
  assets/images/workers/tutorials/fauna/new-server-key.png
  content/workers/tutorials/store-data-with-fauna/index.md
Labels: product:workers, size/l

#10652 [Pages] block access to pages.dev
  content/pages/platform/custom-domains.md
  content/pages/platform/known-issues.md
  content/pages/platform/preview-deployments.md
Labels: product:pages, size/s, pcx_team_review

#10670 [Workers] DO tutorial revision
  content/workers/tutorials/deploy-a-realtime-chat-app/index.md
Labels: product:workers, size/xs, pcx_team_review

#10676 [CF1] Dupe title maintenance
  content/cloudflare-one/api-terraform/access-with-terraform.md
  content/cloudflare-one/applications/configure-apps/saas-apps/aws-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/github.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/google-workspace/_index.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/salesforce.md
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/known-limitations.md
  content/cloudflare-one/connections/connect-networks/deployment-guides/aws.md
  content/cloudflare-one/connections/connect-networks/deployment-guides/terraform.md
  content/cloudflare-one/connections/connect-networks/install-and-setup/tunnel-guide/local/local-management/_index.md
  content/cloudflare-one/connections/connect-networks/install-and-setup/tunnel-guide/remote/remote-management.md
  content/cloudflare-one/connections/connect-networks/monitor-tunnels/logs.md
  content/cloudflare-one/faq/teams-authentication-faq.md
  content/cloudflare-one/faq/teams-policies-faq.md
  content/cloudflare-one/identity/devices/access-integrations/tanium.md
  content/cloudflare-one/identity/devices/service-providers/sentinelone.md
  content/cloudflare-one/identity/devices/service-providers/taniums2s.md
  content/cloudflare-one/identity/devices/warp-client-checks/sentinel-one.md
  content/cloudflare-one/identity/idp-integration/github.md
  content/cloudflare-one/identity/idp-integration/gsuite.md
  content/cloudflare-one/identity/idp-integration/workspace-one.md
  content/cloudflare-one/insights/logs/_index.md
  content/cloudflare-one/policies/browser-isolation/known-limitations.md
  content/cloudflare-one/policies/data-loss-prevention/dlp-policies/common-policies.md
  content/cloudflare-one/policies/gateway/dns-policies/common-policies.md
  content/cloudflare-one/policies/gateway/http-policies/common-policies.md
  content/cloudflare-one/policies/gateway/initial-setup/_index.md
  content/cloudflare-one/policies/gateway/network-policies/common-policies.md
  layouts/shortcodes/community-block.html
Labels: product:cloudflare-one, size/s, pcx_team_review

#10664 Update teams-troubleshooting.md
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one, size/s

#10678 [Various] Fix dupe titles
  content/analytics/graphql-api/limits/index.md
  content/analytics/web-analytics/understanding-web-analytics/limits.md
  content/cache/troubleshooting/always-online.md
  content/cloudflare-for-platforms/cloudflare-for-saas/reference/status-codes/custom-hostnames.md
  content/data-localization/regional-services/get-started.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/network/scheduled-changes.md
  content/ddos-protection/managed-rulesets/http/rule-categories.md
  content/ddos-protection/managed-rulesets/network/rule-categories.md
  content/dns/manage-dns-records/how-to/_index.md
  content/dns/manage-dns-records/troubleshooting/_index.md
  content/dns/zone-setups/troubleshooting/_index.md
  content/firewall/api/cf-filters/delete.md
  content/firewall/api/cf-filters/endpoints.md
  content/firewall/api/cf-filters/get.md
  content/firewall/api/cf-filters/post.md
  content/firewall/api/cf-filters/put.md
  content/firewall/api/cf-firewall-rules/delete.md
  content/firewall/api/cf-firewall-rules/endpoints.md
  content/firewall/api/cf-firewall-rules/get.md
  content/firewall/api/cf-firewall-rules/post.md
  content/firewall/api/cf-firewall-rules/put.md
  content/images/cloudflare-images/transform/_index.md
  content/learning-paths/get-started-free/performance/add-on-products.md
  content/learning-paths/get-started-free/performance/default-improvements.md
  content/learning-paths/get-started-free/security/add-on-products.md
  content/learning-paths/get-started-free/security/default-improvements.md
  content/load-balancing/understand-basics/traffic-steering/origin-level-steering/least-outstanding-requests-pools.md
  content/load-balancing/understand-basics/traffic-steering/steering-policies/least-outstanding-requests.md
  content/logs/faq/instant-logs.md
  content/logs/faq/logpush.md
  content/pages/platform/functions/get-started.md
  content/speed/optimization/content/troubleshooting/_index.md
  content/speed/optimization/images/troubleshooting/_index.md
  content/speed/optimization/other/amp-real-ulr/reference.md
  content/speed/optimization/other/signed-exchanges/reference.md
  content/speed/optimization/other/troubleshooting/_index.md
  content/ssl/edge-certificates/troubleshooting/_index.md
  content/web3/ethereum-gateway/concepts/node-types.md
  content/web3/polygon-gateway/concepts/node-types.md
  content/workers/configuration/bindings/about-service-bindings.md
  content/workers/runtime-apis/nodejs/streams.md
  content/workers/runtime-apis/service-bindings.md
  content/workers/runtime-apis/streams/_index.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/configuration.md
  content/workers/wrangler/migration/v1-to-v2/wrangler-legacy/commands.md
  content/workers/wrangler/migration/v1-to-v2/wrangler-legacy/configuration.md
Labels: product:workers, product:images, product:pages, product:analytics, product:firewall, product:load-balancing, product:logs, product:ssl, product:dns, product:cache, product:web3, product:data-localization, product:cloudflare-for-platforms, size/s, product:ddos-protection, product:learning-paths, pcx_team_review, product:speed

#10679 [Turnstile] supported languages
  content/turnstile/frequently-asked-questions.md
  content/turnstile/get-started/client-side-rendering.md
Labels: size/s, product:turnstile, pcx_team_review

#10680 [Support] fix typo in 'Understanding Cloudflare HTTP2 and HTTP3 Support.md'
  content/support/Network/Understanding Cloudflare HTTP2 and HTTP3 Support.md
Labels: size/xs, product:support

#10673 [QUEUES] New example - use-queues-with-durable-objects.md
  content/queues/examples/use-queues-with-durable-objects.md
Labels: product:queues, size/s

#10675 Add documentation for R2 metrics
  content/r2/reference/metrics-analytics.md
Labels: product:r2, size/m

#10580 Moved Data location from Buckets->Reference. Added documentation for upcoming Jurisdictions
  content/_redirects
  content/r2/_index.md
  content/r2/buckets/data-location.md
  content/r2/reference/data-location.md
  content/workers/wrangler/configuration.md
Labels: product:workers, product:r2, size/m, product:_redirects

#10683 [ZT] Google Cloud and GAM certs
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one, size/s

#10677 Rename Normal to None in Connection Tampering glossary
  content/radar/glossary.md
Labels: size/xs, product:radar

#10684 R2 metrics & analytics doc fixes
  content/r2/reference/metrics-analytics.md
Labels: product:r2, size/s

#10686 [QUEUES] Minor improvements to example
  content/queues/examples/use-queues-with-durable-objects.md
Labels: product:queues, size/s, pcx_team_review

#10687 [Logs] Changed "removed" to "deprecated".
  content/logs/reference/change-notices/2023-02-01-security-fields-updates.md
Labels: product:logs, size/xs, pcx_team_review

#10691 [D1] Create database-commands.md
  content/d1/learning/database-commands.md
Labels: product:d1, size/m

#10436 [D1] Update metrics-analytics.md
  content/d1/platform/metrics-analytics.md
Labels: product:d1, size/s

#10694 [WAF] Rate limiting throttle behavior
  assets/images/waf/rate-limiting-rules/behavior-apply-action-for-duration.png
  assets/images/waf/rate-limiting-rules/behavior-throttle.png
  content/waf/rate-limiting-rules/_index.md
  content/waf/rate-limiting-rules/parameters.md
Labels: product:waf, size/s, pcx_team_review

#10624 [PubSub] Clarify PubSub get started guide to have appropriate information to successfully work
  content/pub-sub/guide.md
Labels: product:pub-sub, size/s

#10693 [DNS] Add callout on presetting prevent
  content/dns/zone-setups/reference/nameserver-assignment.md
Labels: product:dns, size/s, pcx_team_review

#10690 Fix heading
  content/zaraz/advanced/context-enricher.md
Labels: size/xs, product:zaraz

#10692 [Durable Objects] Update limits.md
  content/durable-objects/platform/limits.md
Labels: product:durable-objects, size/xs

#10214 [Durable Objects] Update _index.md
  content/durable-objects/_index.md
Labels: product:durable-objects, size/s

#10696 [Pages] Update Pages changelog
  data/changelogs/pages.yaml
Labels: size/s

#10698 [Chore] Bump littlenote version + attempted bug fix
  content/_headers
  layouts/partials/littlefoot.html
  static/style.css
Labels: size/s, pcx_team_review, product:_headers

#10672 [Durable Objects] Use-kv-from-durable-objects.md
  content/durable-objects/examples/use-kv-from-durable-objects.md
Labels: product:durable-objects, size/s

#10699 [Durable Objects] Fix Durable Objects overview page
  content/durable-objects/_index.md
Labels: product:durable-objects, size/xs, pcx_team_review

#10700 [D1] set hideChildren to false for /examples/
  content/d1/examples/_index.md
Labels: product:d1, size/xs

#10705 [D1] update page weight and title
  content/d1/learning/database-commands.md
  content/d1/learning/using-d1-from-pages.md
Labels: product:d1, size/xs

#10706 [Pages] Add page on Zaraz
  content/pages/how-to/_index.md
  content/pages/how-to/enable-zaraz.md
Labels: product:pages, size/s, pcx_team_review

#10701 [Fundamentals] Role api references
  content/dns/manage-dns-records/troubleshooting/_index.md
  content/dns/zone-setups/troubleshooting/_index.md
  content/fundamentals/_partials/_account-member-manage-limitation.md
  content/fundamentals/setup/manage-members/manage.md
  content/speed/optimization/content/troubleshooting/_index.md
  content/speed/optimization/images/troubleshooting/_index.md
  content/speed/optimization/other/troubleshooting/_index.md
  content/ssl/edge-certificates/troubleshooting/_index.md
  layouts/partials/head.meta.html
  layouts/shortcodes/tab.html
Labels: product:ssl, product:dns, size/s, product:fundamentals, pcx_team_review, product:speed

#10713 [Pages] Fix typo in changelog
  data/changelogs/pages.yaml
Labels: size/xs, pcx_team_review

#10714 [Fundamentals] Update WAF recommendation for non-standard ports
  content/fundamentals/reference/network-ports.md
Labels: size/xs, product:fundamentals, pcx_team_review

#10716 Update Zaraz Changelog
  data/changelogs/zaraz.yaml
Labels: size/xs

#10719 [MWAN] Connector update img
  assets/images/magic-wan/connector/lan-config.png
  assets/images/magic-wan/connector/wan-config.png
Labels: size/xs, pcx_team_review
