Repository cloudflare/cloudflare-docs, pull requests merged in 2023-03, with the labels that each got.

#7623 [Zaraz] Ecommerce - Add Shipping Info Entered and payment_type
  content/zaraz/web-api/ecommerce.md
Labels: zaraz

#7817 d1: document D1_TYPE_ERROR
  content/d1/platform/client-api.md
Labels: product:d1

#7823 queues: update limits notice
  content/queues/changelog.md
  content/queues/platform/limits.md
Labels: product:queues

#7796 queues: new feature - explicit acknowledgement
  content/queues/changelog.md
  content/queues/learning/batching-retries.md
  content/queues/platform/javascript-apis.md
Labels: product:queues

#7867 [Workers] Fix Templates URL
  content/workers/get-started/guide.md
Labels: documentation, product:workers, content:edit

#7893 workers: increased logpush line limit
  content/workers/learning/logging-workers.md
  content/workers/platform/changelog.md
  content/workers/platform/logpush.md
Labels: product:workers

#7904 queues: document backlog size limit of 25GB
  content/queues/platform/limits.md
Labels: product:queues

#7919 [firewall] Update XHR Challenge limitations
  content/firewall/known-issues-and-faq/index.md
Labels: product:firewall

#7944 queues: clarify msg/sec is per queue
  content/queues/platform/limits.md
Labels: product:queues

#7957 Add DDoS change log entries for 2023-03-10
  content/ddos-protection/change-log/http/2023-03-10.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: product:ddos

#7990 [Docs site] Separated api docs into separate tab
  content/search.html
Labels: do-not-merge-yet

#8008 d1: add Drizzle ORM as community project
  content/d1/platform/community-projects.md
Labels: product:d1

#7932 queues: consumer concurrency
  content/queues/changelog.md
  content/queues/learning/consumer-concurrency.md
  content/queues/platform/configuration.md
  content/queues/platform/limits.md
Labels: product:queues

#8025 d1: mention --persist
  content/pages/platform/functions/bindings.md
Labels: product:d1

#8036 pubsub: 3 brokers is the correct limit
  content/pub-sub/platform/limits.md
Labels: product:pub-sub

#7492 [Wrangler] Rollbacks & Views
  content/workers/platform/deployments.md
  content/workers/wrangler/commands.md
Labels: product:workers, content:edit

#8160 Add DDoS change log entries for 2023-03-22
  content/ddos-protection/change-log/http/2023-03-22.md
Labels: product:ddos

#8189 [Page Shield] Fix anchor
  content/page-shield/best-practices/handle-an-alert.md
Labels: product:page-shield

#7620 Only Super Admin can see Payload Logging option
  content/waf/managed-rules/payload-logging/configure.md
Labels: product:waf
