Repository cloudflare/cloudflare-docs, pull requests merged in 2023-12, with the labels that each got.

#12047 [Durable Objects] Remove await
  content/durable-objects/examples/build-a-counter.md
Labels: product:durable-objects, size/xs, pcx_team_review

#12048 Remove WPMU article
  content/_redirects
  content/support/Third-Party Software/Content Management System (CMS)/How do I use WordPress Multi-Site (WPMU) With Cloudflare.md
Labels: size/s, product:support, product:_redirects, pcx_team_review

#12050 [Chore] Remove dupe wordpress.com article
  content/_redirects
  content/support/Third-Party Software/Content Management System (CMS)/How do I add a WordPress.com Custom Domain Mapping site to Cloudflare.md
Labels: size/s, product:support, product:_redirects, pcx_team_review

#12051 [Chore] Deprecate signalr in favor of consolidating on websockets page
  content/_redirects
  content/network/websockets.md
  content/support/Third-Party Software/Others/Does Cloudflare support SignalR.md
Labels: size/s, product:support, product:_redirects, product:network

#12052 [Chore] Remove two very outdated KBs
  content/_redirects
  content/support/Partners/Partner Plugin Supportability.md
  content/support/Third-Party Software/Others/How do I get Cloudflare to work with VaultPress.md
Labels: size/s, product:support, product:_redirects, pcx_team_review

#12063 [APO] Added limitations section to APO
  content/automatic-platform-optimization/about/_index.md
Labels: size/xs, pcx_team_review, product:automatic-platform-optimization

#12054 [API Shield] SV2 pagination update
  content/api-shield/security/schema-validation/configure.md
Labels: product:api-shield, size/xs, pcx_team_review

#11968 fix step
  content/cloudflare-one/identity/users/short-lived-certificates.md
Labels: product:cloudflare-one, size/xs

#12067 [WAF] Clarify migration impact on OWASP ruleset configuration
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
Labels: product:waf, size/xs, pcx_team_review

#12009 Added FAQ about PageSpeed insights bad score and our player
  content/stream/faq/index.md
Labels: product:stream, size/xs

#12036 [Workers] es modules revision in How Workers works
  content/workers/learning/how-workers-works.md
Labels: product:workers, size/s, pcx_team_review

#12072 [WR] Updated WR FAQ format
  content/waiting-room/troubleshooting.md
Labels: product:waiting-room, size/s, pcx_team_review

#12076 Fixing rule action, this action is default block
  content/waf/change-log/2023-10-02.md
Labels: product:waf, size/xs

#12075 [Speed] Updated Observatory FAQ format
  content/speed/speed-test/faq.md
Labels: size/s, pcx_team_review, product:speed

#12073 [DDoS Protection] Fix formatting
  content/ddos-protection/managed-rulesets/http/configure-dashboard.md
  content/ddos-protection/managed-rulesets/network/configure-dashboard.md
Labels: size/s, product:ddos-protection, pcx_team_review

#12081 [Ruleset Engine] Add EU countries according to geolocation data
  content/ruleset-engine/rules-language/fields.md
Labels: product:ruleset-engine, size/m, pcx_team_review

#12082 [MFirewall] Updated list of managed threats
  content/magic-firewall/plans.md
Labels: size/xs, product:magic-firewall, pcx_team_review

#12083 [Chore] Remove outdated LB Kubernetes guide
  assets/images/load-balancing/best-practices-2.png
  assets/images/support/hc-import-google_cloud_shell.png
  assets/images/support/hc-import-kub_warp_cf_lb_gke_aws_diagrams.png
  assets/images/support/hc-import-kubernetes_gke_http_aws_elb_with_cf_lb.png
  content/_redirects
  content/load-balancing/additional-options/_index.md
  content/load-balancing/additional-options/deploy-containerized-applications.md
  content/support/Third-Party Software/Others/Using Kubernetes on GKE and AWS with Cloudflare Load Balancer.md
Labels: product:load-balancing, size/m, product:support, product:_redirects, pcx_team_review

#12071 Fix cloudflare/pages-build-image#7
  content/pages/_partials/_platform-language-support-and-tools/v2.md
Labels: product:pages, size/xs

#12074 [1.1.1.1] Update privacy commitment
  content/1.1.1.1/privacy/public-dns-resolver.md
Labels: product:1.1.1.1, size/xs, pcx_team_review

#11979 Update faq.md
  content/dns/troubleshooting/faq.md
Labels: product:dns, size/xs

#11592 [Workers AI]: Fix typo and correct LLM model name to Llama 2
  content/workers-ai/get-started/workers-wrangler.md
Labels: size/xs, product:workers-ai

#11901 Update cdn-cgi-endpoint.md
  content/fundamentals/reference/cdn-cgi-endpoint.md
Labels: size/xs, product:fundamentals

#12092 [ZT] Update _create-tunnel.md
  content/cloudflare-one/_partials/tunnel/_create-tunnel.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#12093 Update _account-permissions-table.md
  content/fundamentals/_partials/_account-permissions-table.md
Labels: size/xs, product:fundamentals, pcx_team_review

#11932 [workers] Fix Signing & Basic Auth examples + add playground links
  content/workers/examples/basic-auth.md
  content/workers/examples/signing-requests.md
  layouts/_default/example.html
Labels: product:workers, size/l

#12100 Update troubleshooting-cloudflare-domains-blocked-by-china.md
  content/support/Troubleshooting/general-troubleshooting/troubleshooting-cloudflare-domains-blocked-by-china.md
Labels: size/xs, product:support

#12105 updating text
  content/cloudflare-for-platforms/cloudflare-for-saas/domain-support/custom-metadata.md
Labels: product:cloudflare-for-platforms, size/xs, pcx_team_review

#12103 [Magic WAN] Connector ports
  content/magic-wan/configuration/connector/configure-connector.md
Labels: size/xs, product:magic-wan, pcx_team_review

#12089 [Ruleset Engine] Clarify rule expressions
  content/ruleset-engine/about/rules.md
  content/ruleset-engine/rules-language/_index.md
Labels: product:ruleset-engine, size/s, pcx_team_review

#12015 [Workers] add related resources
  content/_redirects
  content/workers/learning/how-the-cache-works.md
  content/workers/learning/how-workers-works.md
  content/workers/runtime-apis/headers.md
  content/workers/tutorials/deploy-button/index.md
Labels: product:workers, size/s, product:_redirects, pcx_team_review

#12106 [WAF] Update sentence in complexity-based rate limiting
  content/waf/rate-limiting-rules/request-rate.md
Labels: product:waf, size/xs, pcx_team_review

#12108 [Analytics] Updated FAQ format for Analytics
  content/analytics/faq/other-faqs/index.md
  content/analytics/faq/wae-faqs/index.md
  content/analytics/faq/web-analytics/index.md
Labels: product:analytics, size/m, pcx_team_review

#12111 [Workers] platform section reorder
  content/_redirects
  content/d1/_index.md
  content/d1/platform/limits.md
  content/d1/platform/storage-options.md
  content/durable-objects/_index.md
  content/hyperdrive/_index.md
  content/hyperdrive/_partials/_create-hyperdrive-config.md
  content/hyperdrive/platform/storage-options.md
  content/queues/platform/storage-options.md
  content/r2/reference/storage-options.md
  content/vectorize/_index.md
  content/vectorize/platform/storage-options.md
  content/workers/_index.md
  content/workers/databases/connecting-to-databases.md
  content/workers/platform/betas.md
  content/workers/platform/changelog/_index.md
  content/workers/platform/known-issues.md
  content/workers/platform/limits.md
  content/workers/platform/pricing.md
  content/workers/platform/storage-options.md
  content/workers/playground.md
Labels: product:workers, product:r2, product:queues, product:d1, product:durable-objects, size/s, product:_redirects, pcx_team_review, product:vectorize, product:hyperdrive

#12114 [DLS] Update FAQ format
  content/analytics/faq/other-faqs/index.md
  content/data-localization/metadata-boundary/faq.md
Labels: product:analytics, product:data-localization, size/s, pcx_team_review

#12115 [Magic WAN] Updated azure ipsec
  content/magic-wan/reference/device-compatibility.md
Labels: size/s, product:magic-wan, pcx_team_review

#12094 Update reply-email-workers.md
  content/email-routing/email-workers/reply-email-workers.md
Labels: product:email-routing, size/xs, pcx_team_review

#12117 [Chore] Remove duplicate redirect
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#12104 [Docs] Fix invalid aside types
  content/magic-wan/configuration/manually/third-party/pfsense.md
  content/pages/how-to/use-worker-for-ab-testing-in-pages.md
  content/support/Third-Party Software/Content Management System (CMS)/Cloudflare WordPress Plugin Automatic Cache Management.md
  content/support/Third-Party Software/Content Management System (CMS)/Using the Cloudflare plugin with WordPress.md
  content/support/Troubleshooting/HTTP Status Codes/4xx Client Error.md
  content/support/Troubleshooting/Planned maintenance/Disruptive Maintenance Windows.md
  content/support/Troubleshooting/Restoring Visitor IPs/Restoring original visitor IPs.md
  content/support/Troubleshooting/Website Under Attack/Using Cloudflare Logs (ELS) to Investigate DDoS Traffic (Enterprise Only).md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-1xxx-errors.md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.md
  content/support/Troubleshooting/general-troubleshooting/gathering-information-for-troubleshooting-sites.md
  content/workers/examples/basic-auth.md
  content/workers/examples/openai-sdk-streaming.md
  content/workers/examples/signing-requests.md
  content/workers/examples/turnstile-html-rewriter.md
Labels: product:workers, product:pages, size/s, product:support, product:magic-wan, pcx_team_review

#12087 [Maintenance] Fix broken links
  content/d1/examples/d1-and-hono.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup.md
  content/queues/learning/consumer-concurrency.md
  content/workers/observability/errors.md
  content/workers/platform/limits.md
  data/changelogs/d1.yaml
Labels: product:workers, product:dns, product:queues, product:d1, size/s, pcx_team_review

#12097 /support/ move recovering site
  content/_redirects
  content/fundamentals/basic-tasks/recovering-from-hacked-site.md
  content/support/About Cloudflare/Attack Preparation and Response/Recovering from a hacked site.md
Labels: size/s, product:fundamentals, product:support, product:_redirects, pcx_team_review

#12090 [Bots] JSD ETags limitation
  content/bots/reference/javascript-detections.md
Labels: product:bots, size/xs, pcx_team_review

#12098 [Vectorize] Add Vectorize metadata filtering docs
  content/vectorize/changelog.md
  content/vectorize/learning/metadata-filtering.md
Labels: size/m, product:vectorize

#12095 Speed from /support/ tile
  content/_redirects
  content/cache/troubleshooting/chunked-encoding-and-dynamic-content.md
  content/support/Speed/Essentials/Why is my dynamic content being sent with chunked encoding.md
  content/support/Speed/Essentials/_index.md
  content/support/Speed/Optimization - Mobile/Accelerated Mobile Links (sunset).md
  content/support/Speed/Optimization - Mobile/Accelerated Mobile Pages (AMP) FAQ.md
  content/support/Speed/Optimization - Mobile/Deprecation notice Cloudflare Mobile SDK.md
  content/support/Speed/Optimization - Mobile/_index.md
  content/support/Speed/_index.md
Labels: product:cache, size/m, product:support, product:_redirects, pcx_team_review

#12121 [Glossary] App Sec & more
  content/api-shield/glossary.md
  content/bots/glossary.md
  content/byoip/glossary.md
  content/turnstile/glossary.md
  data/glossary/api-shield.yaml
  data/glossary/bots.yaml
  data/glossary/byoip.yaml
  data/glossary/magic-transit.yaml
  data/glossary/rules.yaml
  data/glossary/ssl.yaml
  data/glossary/turnstile.yaml
Labels: product:bots, product:byoip, product:api-shield, size/m, product:turnstile, pcx_team_review

#12126 [Style guide] Adding link to content type templates in GH
  content/style-guide/documentation-content-strategy/content-types/_index.md
Labels: size/xs, product:style-guide

#11959 [DNS] Update information on zone statuses and add diagram
  content/dns/zone-setups/reference/domain-status.md
  content/dns/zone-setups/removal.md
  content/fundamentals/setup/manage-domains/remove-domain.md
Labels: product:dns, size/m, product:fundamentals, pcx_team_review

#12138 [MT / MWAN] Organize partials
  content/analytics/graphql-api/tutorials/querying-magic-transit-tunnel-bandwidth-analytics/index.md
  content/analytics/graphql-api/tutorials/querying-magic-transit-tunnel-healthcheck-results/index.md
  content/magic-transit/_partials/_scoped-routes.md
  content/magic-transit/_partials/graphql/_query-magic-transit-bandwidth-graphql.md
  content/magic-transit/_partials/graphql/_query-magic-transit-health-checks.md
  content/magic-transit/_partials/prerequisites/_clear-dont-fragment.md
  content/magic-transit/_partials/prerequisites/_maximum-segment-size.md
  content/magic-transit/_partials/prerequisites/_router-vendor-guidelines-mss-settings-origin.md
  content/magic-transit/_partials/static-routes/_static-routes1.md
  content/magic-transit/_partials/static-routes/_static-routes2-prefixes-smaller-24.md
  content/magic-transit/_partials/static-routes/_static-routes3.md
  content/magic-transit/_partials/tunnel-endpoints/_add-tunnels.md
  content/magic-transit/_partials/tunnel-endpoints/_anti-replay.md
  content/magic-transit/_partials/tunnel-endpoints/_bi-uni-health-checks.md
  content/magic-transit/_partials/tunnel-endpoints/_cni.md
  content/magic-transit/_partials/tunnel-endpoints/_gre-ipsec.md
  content/magic-transit/_partials/tunnel-endpoints/_mt-egress.md
  content/magic-transit/_partials/tunnel-endpoints/_tunnel-endpoints.md
  content/magic-transit/_partials/tunnel-health/_tunnel-health-checks.md
  content/magic-transit/_partials/tunnel-health/_update-tunnel-health-checks-frequency.md
  content/magic-transit/_partials/tunnels-reference/_tunnels-encapsulation-mt-network-analytics.md
  content/magic-transit/_partials/tunnels-reference/_tunnels-encapsulation-opening.md
  content/magic-transit/analytics/query-bandwidth.md
  content/magic-transit/analytics/query-tunnel-health.md
  content/magic-transit/how-to/check-tunnel-health-dashboard.md
  content/magic-transit/how-to/configure-static-routes.md
  content/magic-transit/how-to/configure-tunnels.md
  content/magic-transit/how-to/enable-magic-roles.md
  content/magic-transit/how-to/tunnel-health-checks.md
  content/magic-transit/prerequisites.md
  content/magic-transit/reference/tunnel-health-checks.md
  content/magic-transit/reference/tunnels.md
  content/magic-wan/configuration/manually/how-to/configure-magic-tunnel-alerts.md
  content/magic-wan/configuration/manually/how-to/configure-static-routes.md
  content/magic-wan/configuration/manually/how-to/configure-tunnels.md
  content/magic-wan/configuration/manually/how-to/tunnel-health-checks.md
  content/magic-wan/prerequisites.md
  content/magic-wan/reference/tunnel-health-checks.md
  content/magic-wan/reference/tunnels.md
Labels: product:analytics, size/m, product:magic-transit, product:magic-wan, pcx_team_review

#12140 [Vectorize] Revisit grammar
  content/vectorize/learning/metadata-filtering.md
Labels: size/s, pcx_team_review, product:vectorize

#12139 Update send-email-workers.md
  content/email-routing/email-workers/send-email-workers.md
Labels: product:email-routing, size/xs

#12127 Update change-nameservers.md
  content/automatic-platform-optimization/get-started/change-nameservers.md
Labels: size/xs, pcx_team_review, product:automatic-platform-optimization

#12143 [Challenges] Updated browser support
  content/waf/reference/cloudflare-challenges.md
Labels: product:waf, size/xs, pcx_team_review

#12124 Depreciate Multiple /support/
  content/_redirects
  content/ddos-protection/_index.md
  content/support/About Cloudflare/Attack Preparation and Response/_index.md
  content/support/Account Management & Billing/Common account questions/I was visiting another website and saw a Cloudflare error page.md
  content/support/Account Management & Billing/Common account questions/_index.md
  content/support/Cloudflare Client API/Cloudflare PHP API Binding.md
  content/support/SSL TLS/Origin Server/Validating a Let’s Encrypt Certificate on a Site Already Active on Cloudflare.md
  content/support/SSL TLS/Origin Server/_index.md
  content/support/Third-Party Software/Content Management System (CMS)/Problems logging into Magento 1 Admin Panel.md
  content/support/Third-Party Software/Content Management System (CMS)/Using Cloudflare with your Magento 1 online store.md
  content/support/Third-Party Software/Content Management System (CMS)/Using the Cloudflare plugin with WordPress.md
  content/support/Troubleshooting/Website Under Attack/Using Cloudflare Logs (ELS) to Investigate DDoS Traffic (Enterprise Only).md
  content/support/Troubleshooting/Website Under Attack/_index.md
Labels: size/l, product:support, product:ddos-protection, product:_redirects, pcx_team_review

#12145 [Analytics] Update retention on Workers GraphQL docs
  content/analytics/graphql-api/tutorials/querying-workers-metrics/index.md
Labels: product:analytics, size/xs, pcx_team_review

#12132 Move Missing Images doc to speed /support/
  content/_redirects
  content/speed/optimization/images/troubleshooting/troubleshooting-missing-images.md
  content/support/Troubleshooting/general-troubleshooting/troubleshooting-missing-images.md
Labels: size/s, product:support, product:_redirects, pcx_team_review, product:speed

#12096 Scrape Shield from /support/ tile
  content/_redirects
  content/analytics/account-and-zone-analytics/threat-types.md
  content/cache/get-started.md
  content/cache/reference/etag-headers.md
  content/firewall/cf-firewall-rules/actions.md
  content/logs/reference/glossary.md
  content/rules/configuration-rules/settings.md
  content/rules/page-rules/reference/settings.md
  content/speed/_partials/_brotli-compression-warning.md
  content/speed/optimization/content/troubleshooting/content-encoding-issues.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/Understanding Cloudflare Hotlink Protection.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What does Server Side Excludes (SSE) do.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/What is Email Address Obfuscation.md
  content/support/More Dashboard Apps/Cloudflare Scrape Shield/Why doesn't my RSS feed show images.md
  content/waf/custom-rules/skip/options.md
  content/waf/custom-rules/use-cases/exempt-partners-hotlink-protection.md
  content/waf/tools/scrape-shield/_index.md
  content/waf/tools/scrape-shield/email-address-obfuscation.md
  content/waf/tools/scrape-shield/hotlink-protection.md
  content/waf/tools/scrape-shield/server-side-excludes.md
  data/plans.json
Labels: product:analytics, product:firewall, product:logs, product:rules, product:cache, product:waf, size/m, product:support, product:_redirects, pcx_team_review, product:speed

#12107 Added AI Gateway Bedrock provider
  content/ai-gateway/_partials/_bedrock.md
  content/ai-gateway/get-started/connecting-applications.md
  content/ai-gateway/providers/bedrock.md
Labels: size/s, product:ai-gateway

#12142 [QUEUES] Create Tutorials sec and move content
  content/_redirects
  content/queues/tutorials/_index.md
  content/queues/tutorials/web-crawler-with-browser-rendering/create-kv-namespaces.png
  content/queues/tutorials/web-crawler-with-browser-rendering/create-queue.png
  content/queues/tutorials/web-crawler-with-browser-rendering/index.md
  content/queues/tutorials/web-crawler-with-browser-rendering/list-namespace-id.png
Labels: product:queues, size/s, product:_redirects, pcx_team_review

#12068 [Stream] Changelog updates
  data/changelogs/stream.yaml
Labels: size/xs

#12125 [CNI] Updated to have user select provider
  content/network-interconnect/partners/megaport.md
Labels: product:network-interconnect, size/xs, pcx_team_review

#12088 [ZT] Tunnel ERR_TOO_MANY_REDIRECTS
  content/cloudflare-one/connections/connect-networks/configure-tunnels/origin-configuration.md
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#12149 [SSL] Add section about SSL Labs report to cipher suites troubleshooting
  content/ssl/reference/cipher-suites/troubleshooting.md
Labels: product:ssl, size/xs, pcx_team_review

#12130 [Style Guide] Revise URL page
  content/style-guide/formatting/URLs-and-domain-names.md
Labels: size/xs, product:style-guide

#12040 Add initial version of Cloudflare Load Balancing Reference Architecture
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-1.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-10.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-11.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-12.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-13.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-14.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-15.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-16.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-17.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-18.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-19.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-2.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-20.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-21.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-22-ALT.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-22.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-23-ALT.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-23.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-24.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-25.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-26.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-27.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-28-ALT.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-28.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-29.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-3.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-30.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-4.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-5.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-6.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-7.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-8.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-9.png
  content/reference-architecture/load-balancing-reference-architecture.md
Labels: product:reference-architecture, size/l

#12148 [Chore] Replace links to support.cloudflare.com in regular product docs
  assets/dashboard-landing.json
  content/analytics/faq/about-analytics.md
  content/durable-objects/platform/troubleshooting.md
  content/fundamentals/account-and-billing/account-billing/updating-billing-info.md
  content/fundamentals/account-and-billing/account-security/multi-factor-email-authentication.md
  content/fundamentals/account-and-billing/account-security/securing-a-compromised-account.md
  content/fundamentals/basic-tasks/improve-seo.md
  content/fundamentals/reference/cdn-cgi-endpoint.md
  content/fundamentals/reference/cloudflare-site-crawling.md
  content/fundamentals/reference/http-request-headers.md
  content/fundamentals/reference/policies-compliances/cloudflare-cookies.md
  content/fundamentals/reference/policies-compliances/content-security-policies.md
  content/fundamentals/setup/account-setup/create-billing-profile.md
  content/fundamentals/setup/allow-cloudflare-ip-addresses.md
  content/fundamentals/setup/manage-domains/remove-domain.md
  content/load-balancing/additional-options/override-http-host-headers.md
  content/network/ipv6-compatibility.md
  content/pages/platform/custom-domains.md
  content/r2/buckets/public-buckets.md
  content/railgun/user-guide/set-up/preparing-environment.md
  content/railgun/user-guide/troubleshooting/potential-problems.md
  content/registrar/faq.md
  content/rules/configuration-rules/settings.md
  content/rules/custom-error-responses/_index.md
  content/rules/url-forwarding/bulk-redirects/faq.md
  content/ssl/edge-certificates/additional-options/http-strict-transport-security.md
  content/ssl/edge-certificates/changing-dcv-method/troubleshooting.md
  content/ssl/origin-configuration/ssl-modes/off.md
  content/ssl/reference/migration-guides/digicert-update/advanced-certificates.md
  content/ssl/reference/protocols.md
  content/support/Third-Party Software/Content Management System (CMS)/WordPress.com and Cloudflare.md
  content/version-management/_index.md
  content/workers/learning/how-the-cache-works.md
  content/workers/runtime-apis/request.md
Labels: product:workers, product:pages, product:analytics, product:load-balancing, product:railgun, product:registrar, product:rules, product:ssl, product:r2, product:version-management, product:durable-objects, size/m, product:fundamentals, product:support, product:network

#12151 [CAT] Limitation update
  content/waf/reference/cloudflare-challenges.md
Labels: product:waf, size/xs, pcx_team_review

#12134 [ZT] Tunnel metrics
  assets/images/cloudflare-one/connections/connect-apps/grafana/grafana-ops.png
  assets/images/cloudflare-one/connections/connect-apps/grafana/metrics-port.png
  assets/images/cloudflare-one/secure-origin-connections/monitor-tunnels/Grafana-dashboard.png
  assets/images/cloudflare-one/secure-origin-connections/monitor-tunnels/Prometheus-dashboard.png
  content/_redirects
  content/cloudflare-one/connections/connect-networks/configure-tunnels/remote-management.md
  content/cloudflare-one/connections/connect-networks/configure-tunnels/tunnel-run-parameters.md
  content/cloudflare-one/connections/connect-networks/monitor-tunnels/grafana.md
  content/cloudflare-one/connections/connect-networks/monitor-tunnels/metrics.md
  content/cloudflare-one/tutorials/grafana.md
Labels: product:cloudflare-one, size/m, product:_redirects, pcx_team_review

#12154 [API Shield] SV2 endpoints update
  content/api-shield/security/schema-validation/_index.md
  content/api-shield/security/schema-validation/configure.md
  data/glossary/api-shield.yaml
Labels: product:api-shield, size/s, pcx_team_review

#12165 Fix table typo
  content/reference-architecture/load-balancing-reference-architecture.md
Labels: product:reference-architecture, size/xs

#12167 [Bots] Fix escaping in BM FAQ
  content/bots/troubleshooting.md
Labels: product:bots, size/xs

#11987 [IAM] SCIM provisioning guide
  content/fundamentals/account-and-billing/account-security/scim-setup.md
Labels: size/m, product:fundamentals, pcx_team_review

#12164 [Vectorize+Hyperdrive] migrate to new changelog
  .github/CODEOWNERS
  content/hyperdrive/changelog.md
  content/vectorize/changelog.md
  data/changelogs/hyperdrive.yaml
  data/changelogs/vectorize.yaml
Labels: size/m, product:vectorize, product:hyperdrive

#12110 [Logs] Update and move API token permissions
  content/logs/get-started/enable-destinations/r2/index.md
Labels: product:logs, size/xs, pcx_team_review

#12112 [Support] Add missing line breaks in code blocks
  content/support/Firewall/Learn more/Configuring Token Authentication.md
Labels: size/xs, product:support, pcx_team_review

#12144 [Chore] Fix some broken header links
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup.md
  content/durable-objects/api/websockets.md
  content/pages/platform/known-issues.md
  content/rules/page-rules/reference/settings.md
  content/rules/transform/_index.md
  content/support/Troubleshooting/general-troubleshooting/gathering-information-for-troubleshooting-sites.md
  content/support/Troubleshooting/general-troubleshooting/troubleshooting-issues-sharing-to-facebook.md
  content/support/contacting-cloudflare-support.md
  content/workers/configuration/bindings/_index.md
  content/workers/observability/errors.md
  content/workers/platform/limits.md
  content/workers/runtime-apis/cache.md
  content/workers/wrangler/configuration.md
Labels: product:workers, product:pages, product:rules, product:dns, product:durable-objects, size/s, product:support, pcx_team_review

#12174 Update Configuring Custom Pages (Error and Challenge).md
  content/support/More Dashboard Apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
Labels: size/xs, product:support

#12185 Announcing new BETA detection
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#12173 depreciate misc /support/
  content/support/Third-Party Software/Content Management System (CMS)/Using Cloudflare with a personal domain on Medium.md
  content/support/Third-Party Software/Content Management System (CMS)/Why do I get a Unable to make Cloudflare API request error with W3TC.md
  content/support/Troubleshooting/general-troubleshooting/troubleshooting-cloudflare-domains-blocked-by-china.md
Labels: size/s, product:support, pcx_team_review

#12166 DNS Firewall configuration has moved to main menu bar
  content/dns/dns-firewall/setup.md
Labels: product:dns, size/s

#12159 Facebook sharing migrate from /support/
  content/_redirects
  content/support/Troubleshooting/general-troubleshooting/troubleshooting-issues-sharing-to-facebook.md
  content/waf/troubleshooting/facebook-sharing.md
Labels: product:waf, size/s, product:support, product:_redirects, pcx_team_review

#12172 Attestation move from /support/
  content/_redirects
  content/fundamentals/reference/cryptographic-personhood.md
  content/support/About Cloudflare/Better Internet Initiatives/_index.md
Labels: size/s, product:fundamentals, product:support, product:_redirects, pcx_team_review

#12170 [CAT] Challenges/Turnstile default behavior
  content/turnstile/_index.md
  content/turnstile/_partials/_challenge-behavior.md
  content/turnstile/_partials/_proxied-hostnames.md
  content/turnstile/frequently-asked-questions.md
  content/waf/reference/cloudflare-challenges.md
Labels: product:waf, size/s, product:turnstile, pcx_team_review

#12191 [ZT] Device profile operators
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#12192 [Gateway] Change Add --> And
  content/cloudflare-one/_partials/gateway/_logical-operators.md
Labels: product:cloudflare-one, size/xs

#12181 Remove --cask option
  content/terraform/advanced-topics/import-cloudflare-resources.md
Labels: product:terraform, size/xs

#12197 [Docs] Update collapse alt text
  layouts/partials/sidebar.nav.html
Labels: size/xs

#12201 [WR] Waiting Room glossary
  content/waiting-room/glossary.md
  data/glossary/waiting-room.yaml
Labels: product:waiting-room, size/s, pcx_team_review

#12202 [Area 1] False negatives
  assets/images/email-security/phish-submissions/false-negative.png
  content/email-security/email-configuration/phish-submissions/_index.md
Labels: size/s, pcx_team_review, product:email-security

#11927 [Browser Rendering] Fix wrangler example
  .github/CODEOWNERS
  content/browser-rendering/get-started/browser-rendering-with-DO.md
  content/browser-rendering/platform/wrangler.md
Labels: product:browser-rendering, size/s

#12190 Add workers ai usage warning in local mode
  content/workers-ai/platform/limits.md
  content/workers/wrangler/configuration.md
Labels: product:workers, size/s, product:workers-ai

#12152 [Style Guide] UI elements
  assets/images/style-guide/ui-elements/button.png
  assets/images/style-guide/ui-elements/checkbox.png
  assets/images/style-guide/ui-elements/command.png
  assets/images/style-guide/ui-elements/container.png
  assets/images/style-guide/ui-elements/error-message.png
  assets/images/style-guide/ui-elements/menu.png
  assets/images/style-guide/ui-elements/tab.png
  assets/images/style-guide/ui-elements/toggle.png
  content/_redirects
  content/style-guide/formatting/symbols-in-UI-element-names.md
  content/style-guide/formatting/ui-elements.md
Labels: size/s, product:_redirects, product:style-guide

#12207 [D1] Update limits.md
  content/d1/platform/limits.md
Labels: product:d1, size/xs

#12209 [Chore] Removed unused images
  assets/images/support/5xx_Error___Cloudflare.png
  assets/images/support/cmd-composer_require_cloudflare_sdk.png
  assets/images/support/cmd-getting-user-id.png
  assets/images/support/cmd-listing-zones.png
  assets/images/support/hc-external-edge_response_status_ELS.png
  assets/images/support/hc-import-11.png
  assets/images/support/hc-import-pagerules_urlforwarding_woptions_edited.png
  assets/images/support/php-cache-purge-everything.png
  assets/images/support/php-list-dns-type-name.png
Labels: size/xs, pcx_team_review

#12210 [LB] added external link
  content/load-balancing/reference-architecture-external-link.md
Labels: product:load-balancing, size/xs, pcx_team_review

#12205 [Vectorize] Review Overview page
  content/vectorize/_index.md
  content/vectorize/platform/pricing.md
  data/workers-ai.yml
Labels: size/s, pcx_team_review, product:vectorize

#12168 Updating Stream account & UID doc references
  content/stream/edit-videos/applying-watermarks.md
  content/stream/examples/dash-js.md
  content/stream/examples/hls-js.md
  content/stream/examples/shaka-player.md
  content/stream/examples/stream-player.md
  content/stream/examples/video-js.md
  content/stream/examples/vidstack.md
  content/stream/get-started.md
  content/stream/manage-video-library/creator-id.md
  content/stream/manage-video-library/using-webhooks.md
  content/stream/stream-live/replay-recordings.md
  content/stream/stream-live/watch-live-stream.md
  content/stream/uploading-videos/upload-via-link.md
  content/stream/viewing-videos/displaying-thumbnails.md
  content/stream/viewing-videos/using-own-player/_index.md
  content/stream/viewing-videos/using-the-stream-player/_index.md
Labels: product:stream, size/m

#12217 [Vectorize] Fix misc Vectorize issues, including incorrect query return format
  content/vectorize/get-started/embeddings.md
  content/vectorize/get-started/intro.md
  content/vectorize/learning/query-vectors.md
  content/vectorize/platform/client-api.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: size/s, product:workers-ai, product:vectorize

#12215 [Chore] Remove changelog gitinfo
  layouts/partials/footer.html
Labels: size/xs, pcx_team_review

#12220 [Pages] Add link to contact support in Git integration errors
  content/pages/platform/git-integration.md
Labels: product:pages, size/xs

#12187 Correct r2 put command
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
Labels: product:workers, size/xs

#12224 [Page Shield] Add aside
  content/page-shield/policies/violations.md
Labels: product:page-shield, size/xs, pcx_team_review

#12222 [Ruleset Engine] Small fix
  content/ruleset-engine/rulesets-api/view.md
Labels: product:ruleset-engine, size/xs, pcx_team_review

#12227 [Rules] Update Trace limitations
  content/fundamentals/basic-tasks/trace-request.md
Labels: size/xs, product:fundamentals, pcx_team_review

#12230 [D1] Update pricing.md
  content/d1/platform/pricing.md
Labels: product:d1, size/xs

#11937 [LB] Updated Host header prioritization section
  content/load-balancing/monitors/_index.md
Labels: product:load-balancing, size/xs

#12228 [Docs] Add Markdown support to `details` headers
  layouts/shortcodes/details.html
Labels: size/xs, pcx_team_review

#12137 [DNS] Update faq.md
  content/dns/troubleshooting/faq.md
Labels: product:dns, size/s

#12231 [Workers for Platforms] Add env var binding
  content/cloudflare-for-platforms/workers-for-platforms/platform/metadata.md
Labels: product:cloudflare-for-platforms, size/xs, pcx_team_review

#12211 Update list of unsupported products for ZVM
  content/version-management/_partials/_product-limitations.md
Labels: product:version-management, size/xs

#12233 [Docs] Add system UI fonts to stack
  static/style.css
Labels: technical review, size/xs

#11883 [Hugo] Create a calculator component to promote best practices
  .github/CODEOWNERS
  content/cloudflare-one/connections/connect-networks/_index.md
  data/calculations/tunnel-capacity.json
  layouts/shortcodes/calculation.html
Labels: product:cloudflare-one, size/m, pcx_team_review

#12219 [Chore] Track glossary tooltip views via zaraz custom events
  assets/events.ts
Labels: size/s, pcx_team_review

#12234 [fundamentals] Update API limits
  content/fundamentals/_partials/_api-rate-limits.md
  content/fundamentals/api/reference/limits.md
  content/support/Troubleshooting/HTTP Status Codes/4xx Client Error.md
Labels: size/s, product:fundamentals, product:support, pcx_team_review

#12232 Uptated email-fwdr egress IPs
  content/email-routing/postmaster.md
Labels: product:email-routing, size/xs

#12238 Emergency release for Apache struts, CVE-2023-50164
  content/waf/change-log/2023-12-14---emergency-release.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#12239 [Network] Fix typo
  content/network/ip-geolocation.md
Labels: size/xs, product:network

#12242 [Workers] clarify that Workers run before cache
  content/workers/learning/how-the-cache-works.md
Labels: product:workers, size/xs, pcx_team_review

#12244 [MWAN] Added more details heartbeat
  content/magic-wan/configuration/connector/device-information.md
Labels: size/xs, product:magic-wan, pcx_team_review

#11607 [Gateway] PAC file DNS policy support
  content/cloudflare-one/connections/connect-devices/agentless/pac-files.md
  content/cloudflare-one/policies/browser-isolation/_index.md
  content/cloudflare-one/policies/browser-isolation/isolation-policies.md
  content/cloudflare-one/policies/browser-isolation/setup/clientless-browser-isolation.md
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/s

#12129 [Glossary] Tooltips & replacements
  content/api-shield/get-started/index.md
  content/api-shield/management-and-monitoring/_index.md
  content/api-shield/management-and-monitoring/developer-portal.md
  content/api-shield/reference/classic-schema-validation.md
  content/api-shield/reference/terraform.md
  content/api-shield/security/api-discovery.md
  content/api-shield/security/jwt-validation/_index.md
  content/api-shield/security/jwt-validation/configure.md
  content/api-shield/security/mtls/_index.md
  content/api-shield/security/schema-validation/_index.md
  content/api-shield/security/schema-validation/configure.md
  content/api-shield/security/sequence-analytics.md
  content/api-shield/security/sequence-mitigation/_index.md
  content/api-shield/security/volumetric-abuse-detection.md
  content/bots/_partials/_bot-tags.md
  content/bots/_partials/_bots-cookie.md
  content/bots/_partials/_bots-cs.md
  content/bots/_partials/_verified-bots.md
  content/bots/bot-analytics/biz-and-ent.md
  content/bots/bot-analytics/bm-subscription.md
  content/bots/concepts/feedback-loop.md
  content/bots/reference/bot-management-skips.md
  content/bots/reference/static-resources.md
  content/bots/reference/verified-bots-policy.md
  content/byoip/concepts/dynamic-advertisement/_index.md
  content/byoip/get-started/index.md
  content/byoip/how-to/verify-irr-entries.md
  content/byoip/proxy-ips.md
  content/turnstile/get-started/_index.md
  content/turnstile/get-started/server-side-validation.md
  content/turnstile/reference/client-side-errors.md
  content/turnstile/reference/rotate-secret-key.md
  content/turnstile/reference/testing.md
  content/turnstile/reference/widget-types.md
Labels: product:bots, product:byoip, product:api-shield, size/m, product:turnstile, pcx_team_review

#12235 [Gateway] Resolver policies post-release updates
  content/cloudflare-one/policies/gateway/resolver-policies.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#12245 Clarify Browser Cache TTL override conditions
  content/cache/how-to/edge-browser-cache-ttl/_index.md
Labels: product:cache, size/xs

#12200 Update plans.json with page shield ENT add-on logpush entitlement
  data/plans.json
Labels: size/xs

#12236 [Workers]: Add Xata Integration
  content/workers/databases/native-integrations/upstash.md
  content/workers/databases/native-integrations/xata.md
Labels: product:workers, size/s

#11853 [ZT] Captive portal detection
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/captive-portals.md
  content/cloudflare-one/faq/teams-devices-faq.md
  data/glossary/cloudflare-one.yaml
Labels: product:cloudflare-one, size/s, pcx_team_review

#12155 [IAM] Updates to 2FA doc to explain account recovery due to 2FA issues
  content/fundamentals/account-and-billing/account-security/2fa.md
Labels: size/s, product:fundamentals

#12198 [Registrar] Self-Serve domain restoration now available
  content/registrar/faq.md
Labels: product:registrar, size/s

#12247 [Docs] Fix typos
  content/data-localization/how-to/zero-trust.md
  content/dns/zone-setups/reference/domain-status.md
  content/magic-wan/configuration/connector/configure-connector.md
  content/ssl/reference/migration-guides/digicert-update/_index.md
Labels: product:ssl, product:dns, product:data-localization, size/xs, product:magic-wan, pcx_team_review

#12243 Add DDoS change log entries for 2023-12-14
  content/ddos-protection/change-log/http/2023-12-14-emergency.md
  data/changelogs/ddos-http.yaml
Labels: changelog, size/s, product:ddos-protection

#12252 [Area 1] Replaced report message how-to
  content/email-security/email-configuration/phish-submissions/microsoft-report-message.md
Labels: size/s, pcx_team_review, product:email-security

#12253 [Spectrum] Spectrum glossary
  content/spectrum/about/_index.md
  content/spectrum/get-started/index.md
  content/spectrum/glossary.md
  content/spectrum/how-to/_index.md
  content/spectrum/reference/_index.md
  data/glossary/spectrum.yaml
Labels: product:spectrum, size/s, pcx_team_review

#12254 [Magic Network Monitoring] Added FAQ page
  content/magic-network-monitoring/faq.md
Labels: size/s, pcx_team_review, product:magic-network-monitoring

#12257 [SSL] Remove mention to API Shield from BYO-CA docs
  content/ssl/_partials/_cloudflare-managed-client-cert.md
  content/ssl/client-certificates/byo-ca-api-shield.md
  content/ssl/client-certificates/create-a-client-certificate.md
Labels: product:ssl, size/s, pcx_team_review

#12249 [Vectorize] Vectorize metadata filtering edits
  content/vectorize/learning/metadata-filtering.md
  content/vectorize/learning/query-vectors.md
Labels: size/s, product:vectorize

#12258 [DLP] Remove beta tags
  content/cloudflare-one/policies/data-loss-prevention/datasets.md
  content/cloudflare-one/policies/data-loss-prevention/dlp-policies/_index.md
Labels: product:cloudflare-one, size/xs, sub-product:data-loss-prevention

#11701 [Workers] learning path
  content/learning-paths/workers/_index.md
  content/learning-paths/workers/concepts/_index.md
  content/learning-paths/workers/concepts/workers-concepts.md
  content/learning-paths/workers/configure/_index.md
  content/learning-paths/workers/configure/intro-to-config.md
  content/learning-paths/workers/devplat/_index.md
  content/learning-paths/workers/devplat/intro-to-devplat.md
  content/learning-paths/workers/get-started/_index.md
  content/learning-paths/workers/get-started/first-worker.md
  content/learning-paths/workers/test/_index.md
  content/learning-paths/workers/test/intro-to-observability.md
  content/workers/_index.md
  data/learning-paths/workers.json
Labels: product:workers, size/m, product:learning-paths, pcx_team_review

#12256 [Workers] move continuous integration
  content/_redirects
  content/workers/configuration/continuous-integration.md
  content/workers/wrangler/ci-cd.md
Labels: product:workers, size/xs, product:_redirects, pcx_team_review

#12251 [Waiting Room] Clarify waiting room cookie behaviour
  content/waiting-room/how-to/json-response.md
Labels: product:waiting-room, size/xs

#12271 fix render error
  content/pages/how-to/use-direct-upload-with-continuous-integration.md
Labels: product:pages, size/xs

#12273 [MWAN / MT] Corrected subnet range
  content/magic-transit/how-to/configure-tunnels.md
  content/magic-wan/configuration/manually/how-to/configure-tunnels.md
Labels: size/xs, product:magic-transit, product:magic-wan, pcx_team_review

#12274 [MWAN] Corrected AWS ip range
  content/magic-wan/configuration/manually/third-party/aws.md
Labels: size/xs, product:magic-wan, pcx_team_review

#12272 [Fundamentals] Add note about invalid header removal
  content/fundamentals/reference/http-request-headers.md
Labels: size/xs, product:fundamentals, pcx_team_review

#12275 [Rules] Update Page Rules
  content/rules/page-rules/_index.md
  content/rules/page-rules/manage.md
  content/rules/page-rules/reference/settings.md
Labels: product:rules, size/s, pcx_team_review

#12282 [D1] Update d1-and-sveltekit.md
  content/d1/examples/d1-and-sveltekit.md
Labels: product:d1, size/xs

#12284 Update _index.md
  content/turnstile/_index.md
Labels: size/xs, product:turnstile

#12288 [Magic Network Monitoring] Corrected name link
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
Labels: size/xs, pcx_team_review, product:magic-network-monitoring

#12278 [Rules] Clarify role of raw fields
  content/rules/reference/troubleshooting.md
  content/ruleset-engine/about/rules.md
Labels: product:rules, product:ruleset-engine, size/s, pcx_team_review

#12277 [Area 1] Timestamps localized to user timezone
  assets/images/email-security/timestamps.png
  content/email-security/_partials/_timestamp.md
  content/email-security/reference/timestamps.md
  content/email-security/reporting/_index.md
  content/email-security/reporting/audit-logs.md
  content/email-security/reporting/search/_index.md
Labels: size/s, pcx_team_review, product:email-security

#12283 [D1/Pages] Update bindings.md
  content/pages/functions/bindings.md
Labels: product:pages, size/xs

#12280 [D1] Update d1-and-remix.md
  content/d1/examples/d1-and-remix.md
Labels: product:d1, size/xs
