Repository cloudflare/cloudflare-docs, pull requests merged in 2023-05, with the labels that each got.

#8682 [ZT] Add WebSocket policy
  content/cloudflare-one/policies/filtering/http-policies/websocket.md
Labels: product:gateway, product:cloudflare-one

#8676 [ZT] Migrate more ZT tutorials
  content/_redirects
  content/cloudflare-one/connections/_index.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/local/_index.md
  content/cloudflare-one/identity/_index.md
  content/cloudflare-one/identity/service-tokens.md
  content/cloudflare-one/identity/users/groups.md
  content/cloudflare-one/static/secure-origin-connections/multi-origin/multi-origin-dns.png
  content/cloudflare-one/static/secure-origin-connections/share-new-site/add-dns.png
  content/cloudflare-one/static/secure-origin-connections/share-new-site/add-rules.png
  content/cloudflare-one/static/secure-origin-connections/share-new-site/configure-app.png
  content/cloudflare-one/static/secure-origin-connections/share-new-site/hugo-new.png
  content/cloudflare-one/static/zero-trust-security/ssh-tokens/choose-service-auth.png
  content/cloudflare-one/static/zero-trust-security/ssh-tokens/non-id-rule.png
  content/cloudflare-one/static/zero-trust-security/ssh-tokens/rule-list.png
  content/cloudflare-one/static/zero-trust-security/ssh-tokens/start-app.png
  content/cloudflare-one/tutorials/credentials-only.md
  content/cloudflare-one/tutorials/default-groups.md
  content/cloudflare-one/tutorials/migrate-lb-tunnel.md
  content/cloudflare-one/tutorials/multi-origin.md
  content/cloudflare-one/tutorials/share-new-site.md
  content/cloudflare-one/tutorials/ssh-service-token.md
  content/cloudflare-one/tutorials/user-diagnostics.md
  content/cloudflare-one/tutorials/zsh-env-var.md
Labels: product:cloudflare-one

#8686 Update reports.md
  content/ddos-protection/reference/reports.md
Labels: product:ddos

#8700 Add DDoS change log entries for 2023-05-02
  content/ddos-protection/change-log/http/2023-05-02-emergency.md
Labels: product:ddos, changelog

#8674 [Workers] Page Rules and Workers testing update
  content/workers/platform/workers-with-page-rules.md
Labels: product:workers

#8705 Release-May-02-2023
  content/waf/change-log/2023-05-02.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog

#8713 [Security Center] Clarify mitigated requests in app security reports
  content/security-center/app-security-reports.md
Labels: product:security-center

#8710 [SSL] Clarify origin server part and concepts in get-started
  content/ssl/get-started/index.md
  content/ssl/origin-configuration/authenticated-origin-pull/_index.md
  content/ssl/origin-configuration/cipher-suites.md
  content/ssl/origin-configuration/custom-origin-trust-store/index.md
  content/ssl/origin-configuration/origin-ca.md
  content/ssl/origin-configuration/ssl-modes/_index.md
  content/ssl/origin-configuration/ssl-tls-recommender.md
Labels: product:SSL

#8718 [Workers + R2] layout: overview revision
  content/r2/_index.md
  content/workers/_index.md
Labels: product:workers, product:r2

#8648 [Workers] Custom Domains revision
  content/workers/platform/triggers/custom-domains.md
  content/workers/platform/triggers/routes.md
Labels: product:workers

#8472 [ZT] Add Gateway policy examples
  content/_redirects
  content/cloudflare-one/api-terraform/_index.md
  content/cloudflare-one/api-terraform/access-api-examples/_index.md
  content/cloudflare-one/api-terraform/access-api-examples/access-group.md
  content/cloudflare-one/api-terraform/access-api-examples/any-service-token.md
  content/cloudflare-one/api-terraform/access-api-examples/authentication-method.md
  content/cloudflare-one/api-terraform/access-api-examples/azure-group.md
  content/cloudflare-one/api-terraform/access-api-examples/common-name.md
  content/cloudflare-one/api-terraform/access-api-examples/country-code.md
  content/cloudflare-one/api-terraform/access-api-examples/email-domain.md
  content/cloudflare-one/api-terraform/access-api-examples/email.md
  content/cloudflare-one/api-terraform/access-api-examples/everyone.md
  content/cloudflare-one/api-terraform/access-api-examples/github-org.md
  content/cloudflare-one/api-terraform/access-api-examples/gsuite-group.md
  content/cloudflare-one/api-terraform/access-api-examples/ip-range.md
  content/cloudflare-one/api-terraform/access-api-examples/mtls-certificate.md
  content/cloudflare-one/api-terraform/access-api-examples/okta-group.md
  content/cloudflare-one/api-terraform/access-api-examples/saml-attribute.md
  content/cloudflare-one/api-terraform/access-api-examples/service-token.md
  content/cloudflare-one/api-terraform/access-with-terraform.md
  content/cloudflare-one/api-terraform/gateway-api-examples/_index.md
  content/cloudflare-one/api-terraform/gateway-api-examples/dns-policy.md
  content/cloudflare-one/api-terraform/gateway-api-examples/http-policy.md
  content/cloudflare-one/api-terraform/gateway-api-examples/network-policy.md
  content/cloudflare-one/api-terraform/rule-api-examples/_index.md
  content/cloudflare-one/api-terraform/rule-api-examples/access-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/any-service-token.md
  content/cloudflare-one/api-terraform/rule-api-examples/authentication-method.md
  content/cloudflare-one/api-terraform/rule-api-examples/azure-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/common-name.md
  content/cloudflare-one/api-terraform/rule-api-examples/country-code.md
  content/cloudflare-one/api-terraform/rule-api-examples/email-domain.md
  content/cloudflare-one/api-terraform/rule-api-examples/email.md
  content/cloudflare-one/api-terraform/rule-api-examples/everyone.md
  content/cloudflare-one/api-terraform/rule-api-examples/github-org.md
  content/cloudflare-one/api-terraform/rule-api-examples/gsuite-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/ip-range.md
  content/cloudflare-one/api-terraform/rule-api-examples/mtls-certificate.md
  content/cloudflare-one/api-terraform/rule-api-examples/okta-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/saml-attribute.md
  content/cloudflare-one/api-terraform/rule-api-examples/service-token.md
  content/cloudflare-one/api-terraform/scoped-api-tokens.md
  content/cloudflare-one/examples/_index.md
  layouts/shortcodes/list-examples.html
Labels: product:access, product:gateway, product:cloudflare-one

#8646 [Ruleset Engine] Add mTLS-related fields
  content/ruleset-engine/rules-language/fields.md
Labels: product:ruleset-engine

#8720 [ZT] Move other selector callout
  content/cloudflare-one/policies/filtering/dns-policies/common-policies.md
  content/cloudflare-one/policies/filtering/http-policies/common-policies.md
  content/cloudflare-one/policies/filtering/network-policies/common-policies.md
Labels: product:gateway, product:cloudflare-one

#8726 [ZT] Add Support links to troubleshooting
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one

#8369 [ZT] Update QUIC HTTP policies
  content/cloudflare-one/policies/filtering/http-policies/http3.md
Labels: product:gateway, product:cloudflare-one

#8729 [WAF] Clarify what is shown in Security Events
  content/waf/security-events/_index.md
Labels: product:waf

#8679 [Queues] Overview page
  content/queues/_index.md
Labels: product:queues

#8326 Update linux.md
  content/warp-client/get-started/linux.md
Labels: product:warp-client

#8733 [SSL] Clarify steps to opt in Certificate Transparency Monitoring
  content/ssl/edge-certificates/additional-options/certificate-transparency-monitoring.md
Labels: product:SSL

#8731 [WAF] Clarify rate limiting availability for Ent customers
  content/waf/rate-limiting-rules/_index.md
  content/waf/rate-limiting-rules/create-account-dashboard.md
  content/waf/rate-limiting-rules/create-api.md
  content/waf/rate-limiting-rules/create-zone-dashboard.md
Labels: product:waf

#8660 need-logpush-job-update-for-new-field
  content/logs/reference/change-notices/2023-02-01-security-fields-updates.md
Labels: product:logs

#8715 [WAF] Add new rate limiting characteristic
  content/waf/rate-limiting-rules/_index.md
  content/waf/rate-limiting-rules/parameters.md
Labels: product:waf

#8754 [Page Shield] Clarify sampling for CSP report-only headers
  content/page-shield/policies/_index.md
  content/page-shield/reference/csp-header.md
Labels: product:page-shield

#8312 [Rules, Cache] Clarify rule config when several rules match
  content/cache/about/cache-rules.md
  content/rules/origin-rules/_index.md
  content/rules/origin-rules/faq.md
Labels: product:rules, product:cache

#8258 [Logs] Update Log fields
  content/logs/reference/log-fields/account/gateway_http.md
  content/logs/reference/log-fields/account/gateway_network.md
  content/logs/reference/log-fields/account/zero_trust_network_sessions.md
Labels: product:logs

#8750 [Logs] Update description of MatchIndex field
  content/logs/reference/log-fields/zone/firewall_events.md
Labels: product:logs

#8796 [Rules] Req. header modification: Note about `cookie` header
  content/rules/transform/request-header-modification/_index.md
Labels: product:rules

#8800 [Several docs] Fix broken links and anchors
  content/cache/about/cors.md
  content/cache/how-to/purge-cache.md
  content/cloudflare-one/_partials/_warp-to-tunnel-server.md
  content/cloudflare-one/connections/connect-apps/private-net/create-private-networks.md
  content/cloudflare-one/connections/connect-apps/private-net/private-hostnames-ips.md
  content/cloudflare-one/connections/connect-apps/use-cases/smb.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-modes/device-information-only.md
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cert-with-warp.md
  content/cloudflare-one/faq/teams-troubleshooting.md
  content/d1/get-started.md
  content/pages/platform/functions/plugins/cloudflare-access.md
  content/queues/learning/how-queues-works.md
  content/r2/api/s3/tokens.md
  content/r2/examples/postman.md
  content/tenant/_partials/_create-zone-subscription.md
  content/tenant/get-started/index.md
  content/turnstile/migration/migrating-from-hcaptcha.md
  content/turnstile/migration/migrating-from-recaptcha.md
  content/version-management/_index.md
  content/waiting-room/additional-options/create-events.md
  content/waiting-room/get-started/index.md
  content/waiting-room/how-to/create-waiting-room.md
  content/waiting-room/how-to/customize-waiting-room.md
  content/waiting-room/reference/waiting-room-cookie.md
Labels: docs-repo-or-site

#8805 [ZT] Make CASB integrations consistent
  content/cloudflare-one/applications/scan-apps/casb-integrations/atlassian-confluence.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/atlassian-jira.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/box.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/github.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/google-workspace.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/microsoft-365.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/salesforce.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/slack.md
Labels: product:cloudflare-one

#8811 [Docs] Update RSS icon
  layouts/partials/topbar.tools.html
Labels: technical review

#8813 [ZT] Add CASB definition to glossary
  content/cloudflare-one/glossary/index.md
Labels: product:cloudflare-one

#8823 [WAF] Add note about changing rule IDs in firewall rules migration
  content/waf/reference/migration-guides/firewall-rules-to-custom-rules.md
Labels: product:firewall, product:waf

#8830 [ZT] Add H2 stream limit
  content/cloudflare-one/account-limits.md
Labels: product:gateway, product:cloudflare-one

#8832 [Rules] Add TLS client auth managed transform
  content/rules/transform/managed-transforms/configure.md
  content/rules/transform/managed-transforms/reference.md
  content/ruleset-engine/rules-language/fields.md
Labels: product:rules

#8851 [WAF, Ruleset Engine] Update API examples to add rules
  content/ruleset-engine/managed-rulesets/deploy-managed-ruleset.md
  content/ruleset-engine/rulesets-api/update-rule.md
  content/waf/_partials/_api-add-rule-to-ruleset.md
  content/waf/_partials/_api-create-ruleset-with-rule.md
  content/waf/_partials/_api-generic-create-rule-procedure.md
  content/waf/custom-rules/create-api.md
  content/waf/custom-rules/skip/api-examples.md
  content/waf/rate-limiting-rules/create-api.md
Labels: product:waf, product:ruleset-engine

#8845 [ZT] H3 order of enforcement
  content/cloudflare-one/policies/filtering/http-policies/http3.md
  content/cloudflare-one/policies/filtering/order-of-enforcement.md
Labels: product:gateway, product:cloudflare-one

#8869 d1: clarify binding naming
  content/d1/get-started.md
Labels: product:d1

#8364 Add link to cache using fetch() example
  content/workers/runtime-apis/cache.md
Labels: product:workers

#8795 [Workers] Runtime API: TCP Socket API Docs `connect()`
  content/workers/platform/betas.md
  content/workers/platform/limits.md
  content/workers/platform/protocols.md
  content/workers/runtime-apis/tcp-sockets.md
Labels: product:workers

#8887 workers: add native database integrations tutorials
  content/magic-wan/_partials/_traceroute.md
  content/workers/learning/integrations/databases.md
Labels: product:workers

#8934 workers: more changelog
  content/workers/platform/changelog.md
Labels: product:workers

#8834 [ZT] DLP predefined secret profiles
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/predefined-profiles.md
Labels: product:cloudflare-one

#8945 [constellation] Fix missing bracket
  content/constellation/platform/wrangler.md
Labels: product:constellation

#8515 [SUPPORT] migration of China Network content
  assets/images/china-network/icp-number-in-footer.png
  content/_redirects
  content/china-network/concepts/icp.md
  content/china-network/faq.md
  content/china-network/get-started.md
  content/support/About Cloudflare/Enterprise Documentation/Understanding and configuring an ICP number.md
Labels: support

#8711 [Rules] Add headers to existing Managed Transform
  content/rules/transform/managed-transforms/reference.md
  content/ruleset-engine/rules-language/fields.md
Labels: product:rules, product:ruleset-engine

#8936 Add DDoS change log entries for 2023-05-16
  content/ddos-protection/change-log/http/2023-05-16-emergency.md
Labels: product:ddos, changelog

#8356 Update deploy-a-remix-site.md
  content/pages/framework-guides/deploy-a-remix-site.md
Labels: product:pages

#8767 [Docs site] Remove typo, add troubleshoot bulletin point
  content/d1/learning/importing-data.md
Labels: product:d1

#8919 d1: getting started updates
  content/d1/get-started.md
Labels: product:d1

#8692 d1: add new index & JSON content
  content/d1/learning/backups.md
  content/d1/learning/data-location.md
  content/d1/learning/importing-data.md
  content/d1/learning/querying-json.md
  content/d1/learning/using-d1-from-pages.md
  content/d1/learning/using-indexes.md
  content/d1/platform/limits.md
  content/workers/wrangler/commands.md
Labels: product:d1

#8981 [ZT] Remove duplicate Access API examples
  content/cloudflare-one/api-terraform/rule-api-examples/_index.md
  content/cloudflare-one/api-terraform/rule-api-examples/access-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/any-service-token.md
  content/cloudflare-one/api-terraform/rule-api-examples/authentication-method.md
  content/cloudflare-one/api-terraform/rule-api-examples/azure-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/common-name.md
  content/cloudflare-one/api-terraform/rule-api-examples/country-code.md
  content/cloudflare-one/api-terraform/rule-api-examples/email-domain.md
  content/cloudflare-one/api-terraform/rule-api-examples/email.md
  content/cloudflare-one/api-terraform/rule-api-examples/everyone.md
  content/cloudflare-one/api-terraform/rule-api-examples/github-org.md
  content/cloudflare-one/api-terraform/rule-api-examples/gsuite-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/ip-range.md
  content/cloudflare-one/api-terraform/rule-api-examples/mtls-certificate.md
  content/cloudflare-one/api-terraform/rule-api-examples/okta-group.md
  content/cloudflare-one/api-terraform/rule-api-examples/saml-attribute.md
  content/cloudflare-one/api-terraform/rule-api-examples/service-token.md
Labels: product:access, product:cloudflare-one

#8860 [ZT] Update domain subcategories
  content/cloudflare-one/policies/filtering/domain-categories.md
Labels: product:gateway, product:cloudflare-one

#8977 [DDoS Protection] Update Get started and dashboard instructions
  assets/images/ddos-protection/ddos/ddos-configure-override.png
  assets/images/ddos-protection/ddos/ddos-configure-rules.png
  assets/images/ddos-protection/ddos/ddos-configure-ruleset.png
  content/ddos-protection/_partials/managed-rulesets/_delete-override.md
  content/ddos-protection/get-started/index.md
  content/ddos-protection/managed-rulesets/adaptive-protection.md
  content/ddos-protection/managed-rulesets/http/configure-dashboard.md
  content/ddos-protection/managed-rulesets/network/configure-dashboard.md
Labels: product:ddos

#8992 d1: Update querying-json.md
  content/d1/learning/querying-json.md
Labels: product:d1

#9003 [DNS] Remove ZT note from Windows auth exception
  content/dns/manage-dns-records/reference/proxied-dns-records.md
Labels: product:dns

#9019 fix typo (wranger -> wrangler)
  content/browser-rendering/get-started/screenshots.md
Labels: product:browser-rendering

#9028 [D1] Remove white rectangle and optimize SVG icon
  data/d1.yml
Labels: product:d1

#9026 [SSL] Add note clarifying no impact on HTTP validation
  content/ssl/edge-certificates/additional-options/always-use-https.md
Labels: product:ssl

#9016 [ZT] DLP first match for payload logging
  content/cloudflare-one/policies/data-loss-prevention/dlp-policies/payload-logging.md
Labels: product:cloudflare-one

#9030 [Cache]. Update browser cache TTL values
  data/plans.json
Labels: product:cache

#9017 [ZT] Add proxy UDP limitation
  content/cloudflare-one/connections/connect-devices/agentless/pac-files.md
Labels: product:gateway, product:cloudflare-one

#8293 [ZT] Fleet status
  .gitignore
  content/_redirects
  content/cloudflare-one/_partials/gateway/_policies-optional.md
  content/cloudflare-one/_partials/posture/_configure-posture-check.md
  content/cloudflare-one/api-terraform/_index.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/locations/dns-resolver-ips.md
  content/cloudflare-one/connections/connect-devices/warp/_index.md
  content/cloudflare-one/identity/devices/crowdstrike.md
  content/cloudflare-one/identity/devices/microsoft.md
  content/cloudflare-one/identity/devices/uptycs.md
  content/cloudflare-one/identity/devices/warp-client-checks/application-check.md
  content/cloudflare-one/identity/devices/warp-client-checks/carbon-black.md
  content/cloudflare-one/identity/devices/warp-client-checks/disk-encryption.md
  content/cloudflare-one/identity/devices/warp-client-checks/domain-joined.md
  content/cloudflare-one/identity/devices/warp-client-checks/file-check.md
  content/cloudflare-one/identity/devices/warp-client-checks/firewall.md
  content/cloudflare-one/identity/devices/warp-client-checks/os-version.md
  content/cloudflare-one/identity/devices/warp-client-checks/sentinel-one.md
  content/cloudflare-one/identity/devices/workspace-one.md
  content/cloudflare-one/identity/one-time-pin.md
  content/cloudflare-one/insights/_index.md
  content/cloudflare-one/insights/analytics/_index.md
  content/cloudflare-one/insights/analytics/access.md
  content/cloudflare-one/insights/analytics/gateway.md
  content/cloudflare-one/insights/dex/_index.md
  content/cloudflare-one/insights/dex/fleet-status.md
  content/cloudflare-one/insights/logs/_index.md
  content/cloudflare-one/insights/logs/audit-logs.md
  content/cloudflare-one/insights/logs/gateway-logs/_index.md
  content/cloudflare-one/insights/logs/gateway-logs/manage-pii.md
  content/cloudflare-one/insights/logs/logpush.md
  content/cloudflare-one/insights/logs/posture-logs.md
  content/cloudflare-one/insights/logs/tunnel-audit-logs.md
  content/cloudflare-one/insights/logs/users.md
  content/cloudflare-one/policies/browser-isolation/_index.md
  content/cloudflare-one/teams-docs-changes.md
  content/data-localization/how-to/zero-trust.md
  content/logs/reference/log-fields/_index.md
  data/learning-paths/replace-vpn.json
Labels: product:cloudflare-one

#9036 [DDoS Protection] Update weekly reports info
  content/analytics/network-analytics/_index.md
  content/ddos-protection/_partials/_alerts-and-reports-independent.md
  content/ddos-protection/reference/alerts.md
  content/ddos-protection/reference/analytics.md
  content/ddos-protection/reference/reports.md
  content/fundamentals/data-products/types-of-analytics.md
Labels: product:ddos

#9049 [Terraform] Add sentence on adding extra rules
  content/terraform/_partials/_add-new-rule.md
  content/terraform/additional-configurations/rate-limiting-rules.md
  content/terraform/additional-configurations/transform-rules.md
  content/terraform/additional-configurations/waf-custom-rules.md
  content/terraform/additional-configurations/waf-managed-rulesets.md
Labels: product:terraform, product:rules, product:waf

#9039 Release-May-22-2023
  content/waf/change-log/2023-05-22.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog

#8984 [Load Balancing] Health Check > Health Monitor/Requests
  content/load-balancing/_partials/_health-check-definition.md
  content/load-balancing/_partials/_health-check-diagram.md
  content/load-balancing/_partials/_health-check-regions.md
  content/load-balancing/_partials/_load-balancing-diagram.md
  content/load-balancing/_partials/_monitor-create.md
  content/load-balancing/_partials/_monitor-definition.md
  content/load-balancing/_partials/_monitor-health-check-regions-options.md
  content/load-balancing/_partials/_monitor-prepare-server.md
  content/load-balancing/_partials/_monitor-settings-advanced.md
  content/load-balancing/_partials/_monitor-settings-basic.md
  content/load-balancing/_partials/_monitor-settings-consecutive.md
  content/load-balancing/_partials/_origin-steering-weights-process.md
  content/load-balancing/_partials/_pool-create.md
  content/load-balancing/_partials/_pool-definition.md
  content/load-balancing/additional-options/_index.md
  content/load-balancing/additional-options/override-http-host-headers.md
  content/load-balancing/additional-options/pagerduty-integration.md
  content/load-balancing/additional-options/planned-maintenance.md
  content/load-balancing/how-to/create-monitor.md
  content/load-balancing/reference/migration-guides/health-monitor-notifications.md
  content/load-balancing/troubleshooting/common-error-codes/index.md
  content/load-balancing/troubleshooting/load-balancing-faq.md
  content/load-balancing/understand-basics/health-details.md
  content/load-balancing/understand-basics/monitors.md
  content/load-balancing/understand-basics/pools.md
  content/load-balancing/understand-basics/traffic-management.md
  content/load-balancing/understand-basics/traffic-steering/steering-policies/dynamic-steering.md
  content/load-balancing/understand-basics/traffic-steering/steering-policies/standard-options.md
Labels: product:load-balancing

#8986 [ZT] Parse RData
  content/cloudflare-one/insights/logs/logpush/_index.md
  content/cloudflare-one/insights/logs/logpush/rdata.md
Labels: product:gateway, product:cloudflare-one

#9061 [ZT] Remove extra Logpush file
  content/cloudflare-one/insights/logs/logpush.md
Labels: product:cloudflare-one

#9066 [China Network] Updated FAQ entry
  content/china-network/faq.md
Labels: product:china-network

#9054 [SSL] Add note on scope and workarounds for min TLS
  content/ssl/edge-certificates/additional-options/minimum-tls.md
Labels: product:ssl

#9071 [SSL] Clarify certificate auto renewal vs replacement
  content/ssl/reference/certificate-validity-periods.md
Labels: product:ssl

#8971 d1: local dev + debugging
  content/d1/learning/debug-d1.md
  content/d1/learning/local-development.md
  content/workers/platform/bindings/_index.md
  content/workers/wrangler/configuration.md
Labels: product:d1

#8393 Update worker-variables.md fix broken function example
  content/zaraz/advanced/worker-variables.md
Labels: product:zaraz

#9076 [Ruleset Engine] Update ip.geoip.* to ip.src.* in Fields reference
  content/firewall/recipes/update-rules-customers-partners.md
  content/rules/transform/managed-transforms/reference.md
  content/ruleset-engine/rules-language/fields.md
Labels: product:ruleset-engine

#9138 [Ruleset Engine, other docs] Maximum expression length
  content/firewall/cf-dashboard/create-edit-delete-rules.md
  content/rules/transform/url-rewrite/reference/fields-functions.md
  content/ruleset-engine/_partials/_max-expression-length.md
  content/ruleset-engine/rules-language/_index.md
  content/ruleset-engine/rules-language/expressions.md
Labels: product:firewall, product:rules, product:ruleset-engine

#9091 [DNS] Explain DNSSEC states
  content/dns/additional-options/dnssec/dnssec-states.md
Labels: product:dns

#9155 [ZT] Change DLP Singapore NRIC to checksum
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/predefined-profiles.md
Labels: product:cloudflare-one

#9101 [ZT] DLP context awareness
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/advanced-settings.md
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/predefined-profiles.md
Labels: product:cloudflare-one

#9143 Update concepts.md typo
  content/ssl/concepts.md
Labels: product:ssl
