Repository cloudflare/cloudflare-docs, pull requests merged in 2023-10, with the labels that each got.

#11023 Link to Mailchannels documentation about Domain Lockdown DNS record
  content/pages/platform/functions/plugins/mailchannels.md
Labels: product:pages, size/xs, pcx_team_review

#10976 [WAF] Add new custom lists (hostnames, ASNs)
  content/_redirects
  content/ddos-protection/best-practices/respond-to-ddos-attacks.md
  content/ddos-protection/managed-rulesets/http/configure-api.md
  content/firewall/api/cf-filters/_index.md
  content/firewall/cf-dashboard/rule-preview.md
  content/firewall/cf-firewall-rules/_index.md
  content/fundamentals/setup/manage-members/roles.md
  content/magic-firewall/about/list-types.md
  content/magic-firewall/best-practices/extended-ruleset.md
  content/magic-firewall/how-to/use-rules-list.md
  content/magic-firewall/reference/examples.md
  content/rules/transform/response-header-modification/_index.md
  content/rules/url-forwarding/bulk-redirects/concepts.md
  content/ruleset-engine/rules-language/values.md
  content/support/Troubleshooting/Cloudflare Errors/Troubleshooting Cloudflare 10XXX errors.md
  content/waf/rate-limiting-rules/best-practices.md
  content/waf/rate-limiting-rules/parameters.md
  content/waf/tools/ip-access-rules/_index.md
  content/waf/tools/lists/_index.md
  content/waf/tools/lists/create-dashboard.md
  content/waf/tools/lists/custom-lists.md
  content/waf/tools/lists/ip-lists.md
  content/waf/tools/lists/lists-api/_index.md
  content/waf/tools/lists/lists-api/endpoints.md
  content/waf/tools/lists/lists-api/json-object.md
  content/waf/tools/lists/managed-lists.md
  content/waf/tools/lists/use-in-expressions.md
  data/plans.json
Labels: product:firewall, product:rules, product:waf, product:ruleset-engine, size/l, product:fundamentals, product:support, product:ddos-protection, product:magic-firewall, product:_redirects, pcx_team_review

#11037 [SSL] Further clarify AOP CF cert vs custom cert
  content/learning-paths/_partials/_limit-external-connections-transport.md
  content/ssl/origin-configuration/authenticated-origin-pull/_index.md
  content/ssl/origin-configuration/authenticated-origin-pull/explanation.md
  content/ssl/origin-configuration/authenticated-origin-pull/set-up/zone-level.md
Labels: product:ssl, size/s, product:learning-paths, pcx_team_review

#11038 Toggling 1 rule announced on 18-09-2023
  content/waf/change-log/2023-10-02.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#11033 [Vectorize] Update client-api.md
  content/vectorize/platform/client-api.md
Labels: size/xs, product:vectorize

#10651 [DNS] Update DNSSEC docs to reflect new UI options
  content/dns/_partials/_dnssec-providers.md
  content/dns/_partials/_dnssec-registrar-steps.md
  content/dns/dnssec/multi-signer-dnssec/setup.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/dnssec-for-secondary.md
Labels: product:dns, size/s, pcx_team_review

#11036 Update create-api.md
  content/waf/_partials/_rules-next-steps-table.md
  content/waf/custom-rules/create-api.md
  content/waf/rate-limiting-rules/create-api.md
Labels: product:waf, size/s

#11044 [Ruleset Engine] Add "String values" section with the new raw string syntax
  content/ruleset-engine/rules-language/values.md
Labels: product:ruleset-engine, size/s, pcx_team_review

#11045 [ZT] Clarify indicator feed selector
  content/cloudflare-one/_partials/gateway/_indicator-feed.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#11042 vectorize: Update limits.md
  content/vectorize/changelog.md
  content/vectorize/platform/limits.md
Labels: size/xs, pcx_team_review, product:vectorize

#11020 [ZT] Tunnel virtual networks UI
  content/cloudflare-one/connections/connect-networks/private-net/tunnel-virtual-networks.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#11047 [Gateway] Add warning about Terraform precedence
  content/cloudflare-one/policies/gateway/order-of-enforcement.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#10934 address feedback from community
  content/pages/platform/functions/bindings.md
  content/workers-ai/get-started/workers-wrangler.md
  content/workers-ai/models/embedding.md
  content/workers-ai/models/llm.md
  content/workers-ai/models/sentiment-analysis.md
  content/workers-ai/platform/bindings.md
  content/workers-ai/platform/limits.md
  content/workers-ai/platform/workers-pages-sdk.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: product:pages, size/s, pcx_team_review, product:workers-ai

#11050 [Hyperdrive] Update wrangler.toml field
  content/hyperdrive/_partials/_create-hyperdrive-config.md
Labels: size/xs, product:hyperdrive

#11051 [Fundamentals] Remove buttons to deprecated content
  content/fundamentals/_partials/_origin-health-overview.md
Labels: size/xs, product:fundamentals, pcx_team_review

#11052 [MWAN] Removed beta from Connector
  content/magic-wan/connector/_index.md
  content/magic-wan/connector/configure-connector.md
Labels: size/xs, product:magic-wan, pcx_team_review

#11054 [Speed] Corrected application type
  content/speed/optimization/content/brotli/content-compression.md
Labels: size/xs, pcx_team_review, product:speed

#10881 [Pages] update bindings in your Astro application
  content/pages/framework-guides/deploy-an-astro-site.md
Labels: product:pages, size/s

#10863 Add DDoS change log entries for 2023-09-24
  content/ddos-protection/change-log/http/2023-09-24-emergency.md
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#11056 [MWAN] Bidirectional checks dash
  content/magic-transit/_partials/_tunnel-endpoints.md
Labels: size/s, product:magic-transit, pcx_team_review

#11055 [Area 1] Third-party submissions button
  content/email-security/_partials/_service-addresses.md
  content/email-security/email-configuration/phish-submissions/knowbe4.md
  content/email-security/email-configuration/phish-submissions/microsoft-report-message.md
  content/email-security/email-configuration/phish-submissions/phishnet-gworkspace.md
  content/email-security/email-configuration/phish-submissions/phishnet-o365.md
Labels: size/s, pcx_team_review, product:email-security

#11043 Add back in Email Workers Runtime API docs
  content/_redirects
  content/email-routing/email-workers/runtime-api.md
  content/workers/runtime-apis/handlers/email.md
Labels: product:workers, product:email-routing, size/m, product:_redirects, pcx_team_review

#10948 Make Tanushree and Michelle codeowners of Browser Rendering API docs
  .github/CODEOWNERS
Labels: size/xs, pcx_team_review

#11057 [Turnstile] Update community-resources.md
  content/turnstile/community-resources.md
Labels: size/xs, product:turnstile

#11058 [Pages] fix markdown link bindings in Astro
  content/pages/framework-guides/deploy-an-astro-site.md
Labels: product:pages, size/xs

#11060 Add link to Mozilla's ECH FAQ
  content/ssl/edge-certificates/ech.md
Labels: product:ssl, size/xs

#11064 [Turnstile] Import Turnstile in Terraform
  content/turnstile/reference/terraform.md
Labels: size/s, product:turnstile, pcx_team_review

#11065 [Chore] delete unused image
  assets/images/pages/platform/branch_alias_pr_comment.png
Labels: size/xs, pcx_team_review

#11066 Update frequently-asked-questions.md
  content/turnstile/frequently-asked-questions.md
Labels: size/s, product:turnstile

#11068 [ZT] Reformat device enrollment examples
  content/cloudflare-one/_partials/_service-token-enrollment.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/device-enrollment.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#10994 Clarify that it is possible to edit logpush output options via the dash
  content/logs/reference/log-output-options.md
Labels: product:logs, size/xs, pcx_team_review

#11070 Zaraz changelog update 03-10-2023
  data/changelogs/zaraz.yaml
Labels: size/xs

#11030 [Logs] Add Log Retention instructions for Windows Command Prompt
  content/logs/logpull/enabling-log-retention/index.md
Labels: product:logs, size/xs

#11073 [MWAN Connector] Conector heartbeat
  content/magic-wan/connector/configure-connector.md
  content/magic-wan/connector/device-information.md
Labels: size/s, product:magic-wan, pcx_team_review

#11072 [Ruleset Engine] Add note about regular expression matching
  content/ruleset-engine/rules-language/operators.md
Labels: product:ruleset-engine, size/xs, pcx_team_review

#11071 [Ruleset Engine] Clarify entry point ruleset definition
  content/rules/compression-rules/examples.md
  content/rules/url-forwarding/bulk-redirects/create-api.md
  content/ruleset-engine/about/phases.md
  content/ruleset-engine/about/rulesets.md
  content/ruleset-engine/basic-operations/add-rule-phase-rulesets.md
  content/ruleset-engine/rulesets-api/view.md
  content/waf/custom-rules/create-api.md
  content/waf/custom-rules/skip/api-examples.md
  content/waf/managed-rules/waf-exceptions/define-api.md
  content/waf/rate-limiting-rules/create-api.md
Labels: product:rules, product:waf, product:ruleset-engine, size/s, pcx_team_review

#11076 [Magic] Bidirectional health checks patch
  content/magic-transit/_partials/_tunnel-endpoints.md
Labels: size/xs, product:magic-transit, pcx_team_review

#11077 Update vary-for-images.md
  content/cache/advanced-configuration/vary-for-images.md
Labels: product:cache, size/xs

#11078 [WAF] update rate limiting rules dashboard instructions
  assets/images/waf/custom-rules/rate-limiting-create-account.png
  content/waf/rate-limiting-rules/create-account-dashboard.md
  content/waf/rate-limiting-rules/create-zone-dashboard.md
Labels: product:waf, size/s, pcx_team_review

#11080 [WAF] Update default PL in OWASP managed ruleset
  content/waf/managed-rules/reference/owasp-core-ruleset.md
Labels: product:waf, size/xs, pcx_team_review

#11083 Announcing emergency release for confluence
  content/waf/change-log/2023-10-04---emergency-release.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#11081 [MWAN Connector] WAN health steering
  assets/images/magic-wan/connector/wan-config.png
  content/magic-wan/connector/_index.md
  content/magic-wan/connector/configure-connector.md
  content/magic-wan/get-started/_index.md
  content/magic-wan/third-party/_index.md
  content/magic-wan/zero-trust/_index.md
Labels: size/xs, product:magic-wan, pcx_team_review

#11082 [R2/Cache] Note that Tiered Cache and R2 are incompatible
  content/cache/how-to/tiered-cache.md
  content/r2/reference/limits.md
Labels: product:cache, product:r2, size/xs

#11084 [SSL] Add note on new advanced order offboarding postponed
  content/ssl/reference/migration-guides/digicert-update/_index.md
  content/ssl/reference/migration-guides/digicert-update/advanced-certificates.md
Labels: product:ssl, size/s, pcx_team_review

#11024 [Cache] Update crawler-hints.md
  content/cache/advanced-configuration/crawler-hints.md
Labels: product:cache, size/xs

#11085 [CAT] Favicon customization
  content/firewall/cf-firewall-rules/cloudflare-challenges.md
Labels: product:firewall, size/s, pcx_team_review

#11086 [Workers] LP dash instructions
  content/workers/observability/logpush.md
Labels: product:workers, size/s, pcx_team_review

#10461 fix(workers/wrangler/configuration): Fix D1 `name` to `database_name`
  content/workers/wrangler/configuration.md
Labels: product:workers, size/xs

#11069 Update domain-management.md
  content/turnstile/reference/domain-management.md
Labels: size/xs, product:turnstile

#11092 Add additional HTTP Header check recommendation to Origin Server Protection page
  content/learning-paths/_partials/_limit-external-connections-application.md
Labels: size/xs, product:learning-paths

#11094 [DLP] Add availability note
  content/cloudflare-one/policies/data-loss-prevention/_index.md
Labels: product:cloudflare-one, size/xs, sub-product:data-loss-prevention

#11100 [AI] Fix references to D1 binding
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: size/xs, product:workers-ai

#11096 Update manage-active-sessions.md
  content/fundamentals/account-and-billing/account-security/manage-active-sessions.md
Labels: size/xs, product:fundamentals, pcx_team_review

#10754 [workers] Write r2 finetune tutorial
  assets/images/workers/tutorials/finetune/finetune-example.png
  assets/images/workers/tutorials/finetune/finetune-jobs.png
  content/workers/tutorials/create-a-chatgpt-powered-search-plugin/index.md
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
Labels: product:workers, size/m

#11103 [QUEUES] Glossary
  content/queues/glossary.md
  data/glossary/queues.yaml
Labels: product:queues, size/s, pcx_team_review

#11097 [CF1] Swap a few team names
  content/cloudflare-one/_partials/_choose-team-name.md
  content/cloudflare-one/_partials/_enroll-ios-android.md
  content/cloudflare-one/_partials/_enroll-linux.md
  content/cloudflare-one/_partials/_enroll-windows-mac.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/parameters.md
  content/cloudflare-one/connections/connect-devices/warp/set-up-warp.md
  content/cloudflare-one/identity/idp-integration/adfs.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#10859 [ZT] WARP configuration CUSTESCs
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/split-tunnels.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/firewall.md
  content/cloudflare-one/faq/teams-devices-faq.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#11106 Vectorize: add max vectors per index in Limits
  content/vectorize/platform/limits.md
Labels: size/xs, product:vectorize

#11062 Create page_shield_events log fields
  content/logs/reference/log-fields/zone/page_shield_events.md
Labels: product:logs, size/s

#11095 [Pulumi] Overview and install docs
  .github/ISSUE_TEMPLATE/content.add.yml
  .github/ISSUE_TEMPLATE/content.edit.yml
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
  content/pulumi/_index.md
  content/pulumi/installing.md
  data/pulumi.yml
  data/tenant.yml
Labels: size/m, product:pulumi

#10355 Update Configuring Custom Pages (Error and Challenge).md
  content/support/More Dashboard Apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
Labels: size/xs, product:support

#11116 [ZT] Update sidenav order
  content/_redirects
  content/cloudflare-one/account-limits.md
  content/cloudflare-one/api-terraform/_index.md
  content/cloudflare-one/applications/_index.md
  content/cloudflare-one/connections/_index.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/tunnel-permissions.md
  content/cloudflare-one/faq/_index.md
  content/cloudflare-one/glossary/index.md
  content/cloudflare-one/identity/_index.md
  content/cloudflare-one/insights/dex/tests/view-results.md
  content/cloudflare-one/insights/logs/gateway-logs/manage-pii.md
  content/cloudflare-one/learning-paths/_index.md
  content/cloudflare-one/roles-permissions.md
  content/cloudflare-one/setup.md
  content/cloudflare-one/tutorials/_index.md
  content/learning-paths/cybersafe/account-creation/create-cloudflare-account.md
  content/learning-paths/dns-filtering/account/create-cloudflare-account.md
Labels: product:cloudflare-one, size/s, product:learning-paths, product:_redirects

#11093 [Chore] Remove outdated learning path
  assets/json-collector.ts
  content/_index.html
  content/_redirects
  content/bots/_partials/_allow-mobile-app-rule.md
  content/bots/_partials/_allow-rules-caveat.md
  content/bots/_partials/_bot-types-attacks.md
  content/bots/_partials/_bots-ad.md
  content/bots/_partials/_bots-jsd.md
  content/bots/_partials/_bots-ml.md
  content/bots/_partials/_challenge-solve-recommendations.md
  content/bots/bot-analytics/bm-subscription.md
  content/bots/concepts/challenge-solve-rate.md
  content/bots/get-started/bm-subscription.md
  content/learning-paths/bot-management/_index.md
  content/learning-paths/bot-management/concepts/_index.md
  content/learning-paths/bot-management/concepts/bot-detections.md
  content/learning-paths/bot-management/concepts/bot-management-situations.md
  content/learning-paths/bot-management/concepts/what-is-a-bot.md
  content/learning-paths/bot-management/planning/_index.md
  content/learning-paths/bot-management/planning/bot-signals.md
  content/learning-paths/bot-management/planning/implementation-methods.md
  content/learning-paths/bot-management/planning/javascript-detections.md
  content/learning-paths/bot-management/planning/site-content.md
  content/learning-paths/bot-management/planning/site-traffic.md
  content/learning-paths/bot-management/setup/_index.md
  content/learning-paths/bot-management/setup/allow-rules.md
  content/learning-paths/bot-management/setup/challenge-rule.md
  content/learning-paths/bot-management/setup/enable.md
  content/learning-paths/bot-management/setup/expand-rules.md
  content/learning-paths/bot-management/setup/log-only-rule.md
  content/learning-paths/bot-management/setup/next-steps.md
  content/learning-paths/bot-management/setup/review-analytics.md
  content/learning-paths/prevent-ddos-attacks/advanced/customize-security.md
  content/learning-paths/prevent-ddos-attacks/advanced/improve-analytics.md
  content/waf/custom-rules/use-cases/challenge-bad-bots.md
  content/waf/rate-limiting-rules/best-practices.md
  data/learning-paths/bot-management.json
Labels: product:bots, product:waf, size/l, product:learning-paths, product:_redirects, pcx_team_review, product:_index.html

#11107 [D1] Fix syntax
  content/d1/learning/time-travel.md
Labels: product:d1, size/xs, pcx_team_review

#11105 [Durable Objects] Glossary
  content/durable-objects/glossary.md
  data/glossary/durable-objects.yaml
Labels: product:durable-objects, size/s, pcx_team_review

#11136 [Pulumi] Added overview layout
  content/pulumi/_index.md
Labels: size/xs, pcx_team_review, product:pulumi

#11137 [MWAN Connector] Added metrics info
  content/magic-wan/connector/device-information.md
Labels: size/s, product:magic-wan, pcx_team_review

#11128 [Various] styling updates
  content/api-shield/security/sequence-analytics.md
  content/bots/reference/wordpress-loopback-issue.md
  content/turnstile/reference/client-side-errors.md
  content/turnstile/reference/tooltips.md
  content/turnstile/reference/turnstile-analytics.md
Labels: product:bots, product:api-shield, size/s, product:turnstile, pcx_team_review

#11139 [Workers KV] Glossary
  content/kv/api/delete-key-value-pairs.md
  content/kv/api/write-key-value-pairs.md
  content/kv/glossary.md
  data/glossary/kv.yaml
Labels: size/s, pcx_team_review, product:kv

#11035 [D1] Increase Limits
  content/d1/platform/limits.md
  data/changelogs/d1.yaml
Labels: product:d1, size/s, pcx_team_review

#11075 [Queues] Increase limit to 10k per account
  content/queues/platform/limits.md
  data/changelogs/queues.yaml
Labels: product:queues, size/s, pcx_team_review

#11141 Update d1.yaml
  data/changelogs/d1.yaml
Labels: product:d1, size/xs, pcx_team_review

#11144 [Notifications] Changelog styling
  content/notifications/notification-available.md
  data/changelogs/notifications.yaml
Labels: size/s, pcx_team_review, product:notifications

#11143 [ZT] cloudflared download instructions
  content/cloudflare-one/_partials/_cloudflared-debian-install.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/aws.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/azure.md
  content/cloudflare-one/connections/connect-networks/downloads/_index.md
  content/cloudflare-one/connections/connect-networks/downloads/update-cloudflared.md
  content/cloudflare-one/connections/connect-networks/get-started/create-local-tunnel.md
  content/cloudflare-one/tutorials/gitlab.md
  content/cloudflare-one/tutorials/kubectl.md
Labels: product:cloudflare-one, size/m, pcx_team_review

#11131 [ZT] Organize partials
  content/cloudflare-one/_partials/_access-block-page.md
  content/cloudflare-one/_partials/_choose-team-name.md
  content/cloudflare-one/_partials/_clientless-browser-isolation.md
  content/cloudflare-one/_partials/_device-settings.md
  content/cloudflare-one/_partials/_dlp-entries.md
  content/cloudflare-one/_partials/_doh-ips.md
  content/cloudflare-one/_partials/_mdm-dash-conflict.md
  content/cloudflare-one/_partials/_service-token-enrollment.md
  content/cloudflare-one/_partials/posture/_available-for-warp-with-gateway.md
  content/cloudflare-one/_partials/posture/_configure-posture-check.md
  content/cloudflare-one/_partials/posture/_test-posture-provider.md
  content/cloudflare-one/_partials/ssh/_modify-sshd.md
  content/cloudflare-one/_partials/ssh/_public-key.md
  content/cloudflare-one/_partials/ssh/_restart-server.md
  content/cloudflare-one/_partials/ssh/_usernames.md
  content/cloudflare-one/_partials/terraform/_input-variables.md
  content/cloudflare-one/_partials/terraform/_variable-values.md
  content/cloudflare-one/_partials/tunnel/_cloudflared-access.md
  content/cloudflare-one/_partials/tunnel/_cloudflared-cloud-deployment.md
  content/cloudflare-one/_partials/tunnel/_warp-to-tunnel-client.md
  content/cloudflare-one/_partials/tunnel/_warp-to-tunnel-intro.md
  content/cloudflare-one/_partials/tunnel/_warp-to-tunnel-route-ips.md
  content/cloudflare-one/_partials/tunnel/_warp-to-tunnel-server.md
  content/cloudflare-one/_partials/warp/_enroll-ios-android.md
  content/cloudflare-one/_partials/warp/_enroll-linux.md
  content/cloudflare-one/_partials/warp/_enroll-windows-mac.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/manual-deployment.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/ansible.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/aws.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/azure.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/google-cloud-platform.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/terraform.md
  content/cloudflare-one/connections/connect-networks/private-net/connect-private-networks.md
  content/cloudflare-one/connections/connect-networks/use-cases/rdp.md
  content/cloudflare-one/connections/connect-networks/use-cases/smb.md
  content/cloudflare-one/connections/connect-networks/use-cases/ssh.md
  content/cloudflare-one/identity/users/short-lived-certificates.md
  content/cloudflare-one/policies/data-loss-prevention/dlp-profiles/_index.md
  content/cloudflare-one/policies/gateway/network-policies/ssh-logging.md
  content/learning-paths/dns-filtering/connect-devices/install-agent.md
Labels: product:cloudflare-one, size/m, product:learning-paths

#11149 Update limits.md - are place -> are in place
  content/workers-ai/platform/limits.md
Labels: size/xs, product:workers-ai

#11152 [Vectorize] fix link to vectorize limits in _index.md
  content/vectorize/_index.md
Labels: size/xs, product:vectorize

#11101 [AI] Fix import in RAG tutorial
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: size/xs, product:workers-ai

#11026 Fix incorrect code example in build-a-retrieval-augmented-generation-ai.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: size/xs, product:workers-ai

#11167 [MWAN Connector] icmp note
  content/magic-wan/connector/configure-connector.md
Labels: size/xs, product:magic-wan, pcx_team_review

#11172 Update 2 data files for labels
  data/ai.yml
  data/queues.yml
Labels: size/xs

#11161 Fix Header Links
  content/rules/compression-rules/examples.md
  content/rules/url-forwarding/bulk-redirects/create-api.md
  content/ruleset-engine/about/rulesets.md
  content/ruleset-engine/basic-operations/add-rule-phase-rulesets.md
  content/ruleset-engine/rules-language/values.md
  content/vectorize/learning/query-vectors.md
  content/waf/custom-rules/create-api.md
  content/waf/custom-rules/skip/api-examples.md
  content/waf/managed-rules/waf-exceptions/define-api.md
  content/waf/rate-limiting-rules/create-api.md
Labels: product:rules, product:waf, product:ruleset-engine, size/s, product:vectorize

#11176 [Products] More distinctive hover color
  layouts/shortcodes/product-grid.html
Labels: size/xs, pcx_team_review

#11177 [Chore] remove dupe declaration from render shortcode
  layouts/shortcodes/render.html
Labels: size/xs, pcx_team_review

#11158 update vidstack example
  content/stream/examples/vidstack.md
Labels: product:stream, size/m

#11164 DO alarm restructuring
  content/durable-objects/_index.md
  content/durable-objects/api/alarms-in-durable-objects.md
  content/durable-objects/api/alarms.md
  content/durable-objects/api/hibernatable-websockets-api.md
  content/durable-objects/examples/alarms-api.md
  content/workers/learning/storage-options.md
  content/workers/runtime-apis/handlers/alarm.md
  content/workers/runtime-apis/tcp-sockets.md
Labels: product:workers, product:durable-objects, size/m

#11169 [Page Shield] Add Logpush to policy violations page
  content/page-shield/policies/violations.md
Labels: product:page-shield, size/s, pcx_team_review

#10317 [WAF] Security Analytics: Update unmitigated traffic
  assets/images/waf/security-analytics/security-analytics-dashboard.png
  assets/images/waf/security-analytics/security-analytics-sampled-logs.png
  content/waf/security-analytics/index.md
Labels: product:waf, size/s, pcx_team_review

#11179 [Chore] Update broken api docs links
  content/api-shield/management-and-monitoring/_index.md
  content/kv/api/delete-key-value-pairs.md
Labels: product:api-shield, size/xs, pcx_team_review, product:kv

#11181 [Chore] Update version mgmt ownership
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/xs, pcx_team_review

#11178 Add DDoS change log entries for 2023-10-09
  content/ddos-protection/change-log/http/2023-10-09-emergency.md
Labels: size/s, product:ddos-protection

#11182 [Notifications] Update plans
  content/notifications/notification-available.md
Labels: size/s, pcx_team_review, product:notifications

#11186 [Notifications] New alerts updates
  content/notifications/notification-available.md
Labels: size/s, pcx_team_review, product:notifications

#11187 [ZT] Style Zero Trust dash links
  content/cloudflare-one/applications/configure-apps/dash-sso-apps.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
  content/cloudflare-one/applications/scan-apps/manage-findings.md
  content/cloudflare-one/tutorials/vnc-client-in-browser.md
Labels: product:cloudflare-one, size/xs

#11162 DO websocket restructuring
  content/_redirects
  content/durable-objects/_index.md
  content/durable-objects/_partials/_durable-objects-pricing.md
  content/durable-objects/api/hibernatable-websockets-api.md
  content/durable-objects/api/transactional-storage-api.md
  content/durable-objects/api/websockets.md
  content/durable-objects/examples/use-kv-from-durable-objects.md
  content/durable-objects/learning/websockets.md
  content/workers/_partials/_durable_objects_pricing.md
  content/workers/examples/websockets.md
  content/workers/runtime-apis/websockets.md
  content/workers/runtime-apis/websockets/_index.md
  data/changelogs/workers.yaml
Labels: product:workers, product:durable-objects, size/m, product:_redirects

#11132 Remove @irvinebroque from AI and Vectorize Codeowners
  .github/CODEOWNERS
Labels: size/xs, pcx_team_review

#11189 Fixes TCP table format issue
  content/workers/platform/betas.md
Labels: product:workers, size/xs

#11170 [Speed] Fonts docs
  content/speed/optimization/content/apo.md
  content/speed/optimization/content/auto-minify.md
  content/speed/optimization/content/brotli/_index.md
  content/speed/optimization/content/early-hints.md
  content/speed/optimization/content/fonts/_index.md
  content/speed/optimization/content/fonts/faq.md
  content/speed/optimization/content/fonts/troubleshooting.md
  content/speed/optimization/content/prefetch-urls.md
  content/speed/optimization/content/rocket-loader/_index.md
  content/speed/optimization/content/smart-hints.md
  content/speed/optimization/content/troubleshooting/_index.md
Labels: size/m, pcx_team_review, product:speed

#11184 [WAF] Managed Rules: Add ruleset IDs for API/Terraform users
  content/ruleset-engine/managed-rulesets/deploy-managed-ruleset.md
  content/waf/managed-rules/_index.md
  content/waf/managed-rules/deploy-api.md
Labels: product:waf, product:ruleset-engine, size/m, pcx_team_review

#11198 Announcing 3 new rules for WAF
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#11194 [MWAN] Refined WARP tut
  content/magic-wan/zero-trust/warp.md
Labels: size/s, product:magic-wan, pcx_team_review

#11196 [Magic] Tunnels patch
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-transit/how-to/configure-tunnels.md
  content/magic-wan/get-started/configure-tunnels.md
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#11190 [ZT] Glossary entries
  content/cloudflare-one/_partials/gateway/_add-locations.md
  content/cloudflare-one/connections/connect-devices/agentless/pac-files.md
  content/cloudflare-one/policies/data-loss-prevention/_index.md
  data/glossary/cloudflare-one.yaml
  data/glossary/dns.yaml
Labels: product:cloudflare-one, size/s

#11183 Update _cloudflared-debian-install.md
  content/cloudflare-one/_partials/_cloudflared-debian-install.md
Labels: product:cloudflare-one, size/xs

#11199 fix the path of teams name in teams-getting-started-faq.md
  content/cloudflare-one/faq/teams-getting-started-faq.md
Labels: product:cloudflare-one, size/xs

#11205 [Durable Objects] Improve formatting and syntax
  content/durable-objects/api/alarms.md
  content/durable-objects/api/transactional-storage-api.md
  content/durable-objects/api/websockets.md
  content/durable-objects/examples/alarms-api.md
  content/durable-objects/learning/websockets.md
Labels: product:durable-objects, size/s, pcx_team_review

#11192 Add missing redirect to new Durable Objects alarms doc
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#11206 [Analytics] Added budget depleted error
  content/analytics/graphql-api/errors/index.md
Labels: product:analytics, size/xs, pcx_team_review

#11188 [AIG] Updated Workers AI example and added a changelog
  .github/CODEOWNERS
  content/ai-gateway/_partials/_workersai.md
  content/ai-gateway/changelog.md
  data/changelogs/ai-gateway.yaml
Labels: size/s, product:ai-gateway

#11214 Update teams-troubleshooting.md
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#11209 [Tenant] New admin UI
  assets/images/tenant/add-tenant-account.png
  content/tenant/_partials/_create-account-api.md
  content/tenant/_partials/_create-account-dash.md
  content/tenant/changelog.md
  content/tenant/how-to/manage-accounts.md
  data/changelogs/tenant.yaml
Labels: product:tenant, size/s, pcx_team_review

#11211 Changed the old twitter icons
  static/icons/twitter.svg
  static/twitter-logo-black.svg
Labels: size/s

#11202 [Pages] Fix numbered list in redirect-to-custom-domain.md
  content/pages/how-to/redirect-to-custom-domain.md
Labels: product:pages, size/s

#11145 Update Troubleshooting failed payments.md
  content/support/Account Management & Billing/Billing Cloudflare Plans/Troubleshooting failed payments.md
Labels: size/xs, product:support

#11216 [Pulumi] linking docs content
  content/pulumi/_index.md
  content/pulumi/installing.md
  content/pulumi/tutorial/hello-world.md
Labels: size/s, product:pulumi

#11212 Add details shortcode
  content/cloudflare-one/_partials/gateway/_doh-instructions.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  layouts/shortcodes/details.html
Labels: product:cloudflare-one, technical review, size/s

#11219 fixed broken header
  content/pulumi/_index.md
Labels: size/xs, pcx_team_review, product:pulumi

#11221 [Pulumi] Make headers distinct to work with tutorial shortcode
  content/pulumi/tutorial/hello-world.md
Labels: size/xs, pcx_team_review, product:pulumi

#9118 [Workers] Add Notes about Type Expections about Worker's Socket API
  content/workers/runtime-apis/streams/writablestreamdefaultwriter.md
  content/workers/runtime-apis/tcp-sockets.md
Labels: product:workers, size/xs

#11215 Add missing entries for DDoS L7 RSS feed
  data/changelogs/ddos-http.yaml
Labels: size/xs

#11213 [MWAN Connector] Tunnels in connector
  content/magic-wan/connector/configure-connector.md
  content/magic-wan/reference/device-compatibility.md
  content/magic-wan/third-party/palo-alto.md
Labels: size/s, product:magic-wan, pcx_team_review

#11225 [MWAN] Uptade to Fitel tutorial
  content/magic-wan/third-party/fitelnet.md
Labels: size/s, product:magic-wan, pcx_team_review

#11226 Add DDoS change log entries for 2023-10-11
  content/ddos-protection/change-log/http/2023-10-11.md
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#11218 [Durable Objects] Consolidate DO counter examples
  content/durable-objects/examples/build-a-counter.md
  content/durable-objects/examples/durable-objects-rollup-es-modules.md
  content/durable-objects/examples/durable-objects-typescript-rollup-es-modules.md
  content/durable-objects/examples/durable-objects-webpack-commonjs.md
  content/durable-objects/examples/use-kv-from-durable-objects.md
Labels: product:durable-objects, size/m

#11223 [ZT] Fix typo
  content/learning-paths/dns-filtering/connect-devices/install-agent.md
Labels: size/xs, product:learning-paths, pcx_team_review

#11210 [DDoS Protection] Advanced TCP Protection filters (dashboard)
  content/ddos-protection/_partials/_atp-filter-definition.md
  content/ddos-protection/_partials/_atp-filters-rules-precedence.md
  content/ddos-protection/tcp-protection/api/examples.md
  content/ddos-protection/tcp-protection/concepts.md
  content/ddos-protection/tcp-protection/how-to/add-prefix-allowlist.md
  content/ddos-protection/tcp-protection/how-to/add-prefix.md
  content/ddos-protection/tcp-protection/how-to/create-filter.md
  content/ddos-protection/tcp-protection/how-to/create-rule.md
  content/ddos-protection/tcp-protection/how-to/exclude-prefix.md
  content/ddos-protection/tcp-protection/setup.md
Labels: size/m, product:ddos-protection, pcx_team_review

#11230 [Magic Transit] Terminology clarification
  content/magic-transit/how-to/advertise-prefixes.md
  content/magic-transit/on-demand.md
Labels: size/xs, product:magic-transit, pcx_team_review

#11229 11 10 2023
  content/waf/change-log/2023-10-11---emergency-release.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#11231 [WAF] Small fix in page title
  content/waf/change-log/2023-10-04---emergency-release.md
Labels: product:waf, size/xs, pcx_team_review

#11233 [SSL] New advanced cert renewal offboarding date
  content/ssl/reference/migration-guides/digicert-update/_index.md
  content/ssl/reference/migration-guides/digicert-update/advanced-certificates.md
Labels: product:ssl, size/s, pcx_team_review

#11232 [API Shield] Operation IDs in Sequence Mitigation
  content/api-shield/reference/classic-schema-validation.md
  content/api-shield/security/sequence-mitigation/configure.md
Labels: product:api-shield, size/xs, pcx_team_review

#11234 Fix tense in non-contract partial
  content/fundamentals/_partials/_non-contract-enablement.md
Labels: size/xs, product:fundamentals

#11235 [workers] remove deployments beta messaging. remove beta messaging from module syntax
  content/workers/configuration/deployments.md
  content/workers/platform/betas.md
  content/workers/wrangler/migration/v1-to-v2/wrangler-legacy/configuration.md
Labels: product:workers, size/s

#11201 [Images] Add pages.dev caveat to error 9524
  content/images/image-resizing/troubleshooting.md
Labels: product:images, size/xs

#11240 [Docs Site] Fix redirects from #11162
  content/_redirects
Labels: size/xs, product:_redirects

#11241 [Chore] Homepage design fixes
  content/_redirects
  content/zero-trust.html
  static/home.css
Labels: size/m, product:_redirects, pcx_team_review, product:zero-trust.html

#11245 Update Gathering information for troubleshooting sites.md
  content/support/Troubleshooting/General Troubleshooting/Gathering information for troubleshooting sites.md
Labels: size/s, product:support

#11250 updating subcategory
  content/cloudflare-one/policies/gateway/domain-categories.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#11249 [MNM] Recommended rule config
  assets/images/magic-network-monitoring/custom-time-range.png
  content/magic-network-monitoring/rules/_index.md
  content/magic-network-monitoring/rules/recommended-rule-configuration.md
Labels: size/s, pcx_team_review, product:magic-network-monitoring

#11253 [Durable Objects] Add spacing in Limits page
  content/durable-objects/platform/limits.md
Labels: product:durable-objects, size/xs, pcx_team_review

#11254 updating guidance for brotli
  content/fundamentals/reference/http-request-headers.md
Labels: size/xs, product:fundamentals, pcx_team_review

#10990 [wrangler] CI/CD improvements
  assets/images/workers/wrangler/templates.png
  content/workers/wrangler/ci-cd.md
Labels: product:workers, size/s

#11255 Update /support/ ownership
  .github/CODEOWNERS
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/xs, pcx_team_review

#11251 [SSL] Clarify Delegated DCV CNAME coverage and related guidance
  content/ssl/edge-certificates/changing-dcv-method/methods/delegated-dcv.md
Labels: product:ssl, size/s, pcx_team_review

#10975 [LB] LTM new org and Tunnel offramp how-to guide
  content/_redirects
  content/load-balancing/additional-options/cloudflare-tunnel.md
  content/load-balancing/local-traffic-management/_index.md
  content/load-balancing/local-traffic-management/ltm-tunnels-setup.md
  content/load-balancing/understand-basics/traffic-management.md
Labels: product:load-balancing, size/m, product:_redirects, pcx_team_review

#11259 [MWAN] Added Conector support info
  content/magic-wan/connector/_index.md
Labels: size/xs, product:magic-wan, pcx_team_review

#11261 [Stream] Removed links to Stackblitz
  content/stream/examples/dash-js.md
  content/stream/examples/hls-js.md
  content/stream/examples/shaka-player.md
  content/stream/examples/stream-player.md
  content/stream/examples/video-js.md
  content/stream/uploading-videos/direct-creator-uploads.md
  content/stream/viewing-videos/using-the-stream-player/_index.md
  content/stream/webrtc-beta.md
Labels: product:stream, size/s, pcx_team_review

#11262 [WAF] Add maximum number of custom lists
  content/waf/tools/lists/_index.md
Labels: product:waf, size/xs, pcx_team_review

#11263 Update vectorize
  content/vectorize/get-started/embeddings.md
Labels: size/xs, product:vectorize

#11264 [Stream] Removed example links
  content/stream/uploading-videos/direct-creator-uploads.md
Labels: product:stream, size/xs, pcx_team_review
