Repository cloudflare/cloudflare-docs, pull requests merged in 2023-04, with the labels that each got.

#8302 workers: add Turso + Workers tutorial
  content/workers/tutorials/connect-to-turso-using-workers/index.md
Labels: product:workers

#8328 [Firewall Rules] Change regex101 to use Rust flavour
  content/firewall/known-issues-and-faq/index.md
Labels: product:firewall

#8341 Fixed worker code to not cache the client
  content/workers/tutorials/connect-to-turso-using-workers/index.md
Labels: product:workers

#8410 Fix algolia search duplicates
  assets/search.ts
Labels: bug, docs-repo-or-site

#8403 [Bots] Fix markdown in FAQs
  content/bots/troubleshooting.md
Labels: product:bots

#8425 Release-Apr-11-2023
  content/waf/change-log/2023-04-11.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog

#8366 [Product grid] Allow multiple product group tags
  data/analytics.yml
  data/cache.yml
  data/china-network.yml
  data/cloudflare-for-saas.yml
  data/d1.yml
  data/data-localization.yml
  data/durable-objects.yml
  data/graphql-api.yml
  data/kv.yml
  data/logs.yml
  data/magic-network-monitoring.yml
  data/network-analytics.yml
  data/network-error-logging.yml
  data/r2.yml
  data/ruleset-engine.yml
  data/turnstile.yml
  data/web-analytics.yml
  data/web3.yml
  data/workers-analytics-engine.yml
  layouts/shortcodes/product-grid.html
Labels: docs-repo-or-site

#8417 [Pages] Pages overview revision
  content/pages/_index.md
  content/workers/_index.md
Labels: product:pages

#8435 R2: clarify supported HTTP methods
  content/r2/api/s3/presigned-urls.md
Labels: product:r2

#8439 [Several docs] Small fixes
  content/bots/reference/machine-learning-models.md
  content/cloudflare-for-platforms/cloudflare-for-saas/performance/argo-for-saas.md
  content/cloudflare-one/connections/connect-apps/do-more-with-tunnels/trycloudflare.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/local/run-tunnel.md
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
  content/fundamentals/data-products/analytics-integrations/google-cloud/index.md
  content/load-balancing/additional-options/railgun.md
  content/logs/get-started/enable-destinations/sumo-logic/index.md
  content/magic-firewall/best-practices/extended-ruleset.md
  content/pages/tutorials/add-a-react-form-with-formspree/index.md
  content/pages/tutorials/add-an-html-form-with-formspree/index.md
  content/pages/tutorials/forms/index.md
  content/r2/buckets/public-buckets.md
  content/stream/viewing-videos/using-own-player/_index.md
  content/support/About Cloudflare/Attack Preparation and Response/Responding to DDoS attacks.md
  content/support/Account Management & Billing/Billing Cloudflare Add-on Services/Billing for Cloudflare for Teams.md
  content/support/Account Management & Billing/Billing Cloudflare Plans/Cloudflare Billing Policy.md
  content/support/Analytics/Essentials/Understanding Cloudflare Account Analytics (beta).md
  content/support/Analytics/Essentials/Understanding Cloudflare Site Analytics.md
  content/support/Analytics/Learn more/Status code metrics in Cloudflare Site Analytics.md
  content/support/Caching/Configuration/Understanding Query String Sort.md
  content/support/DNS/DNSSEC/Troubleshooting DNSSEC.md
  content/support/DNS/How to/Warning about exposing your origin IP address via DNS records.md
  content/support/DNS/Troubleshooting/Email undeliverable when using Cloudflare.md
  content/support/Firewall/Tools/Troubleshooting Cloudflare Rate Limiting.md
  content/support/Network/Configuring IP geolocation.md
  content/support/Network/Understanding Network Error Logging.md
  content/support/Other Languages/Deutsch/Cloudflare Site Analytics verstehen .md
  content/support/Other Languages/Deutsch/Fehlerbehebung bei der Durchsatzbegrenzung von Cloudflare .md
  content/support/Other Languages/Deutsch/Fehlerbehebung bei fehlenden Bildern .md
  content/support/Other Languages/Deutsch/Ich kann meine Domain nicht zu Cloudflare hinzufügen... .md
  content/support/Other Languages/Deutsch/Reaktion auf DDoS.md
  content/support/Other Languages/Deutsch/Warnung bezüglich Anzeigen Ihrer Ursprungs-IP-Adresse über DNS.md
  content/support/Other Languages/Español (España)/Advertencia sobre la exposición de tu dirección IP de origen a través de los registros DNS.md
  content/support/Other Languages/Español (España)/Cloudflare Site Analytics.md
  content/support/Other Languages/Español (España)/Cómo resolver el problema de imágenes faltantes.md
  content/support/Other Languages/Español (España)/Cómo responder a los ataques DDoS.md
  content/support/Other Languages/Español (España)/No puedo añadir mi dominio a Cloudflare….md
  content/support/Other Languages/Español (España)/Política de facturación de Cloudflare.md
  content/support/Other Languages/Español (España)/Solución de problemas de la función de Limitación de velocidad de Cloudflare.md
  content/support/Other Languages/Español (España)/¿Qué hace la geolocalización de IP de Cloudflare.md
  content/support/Third-Party Software/Content Management System (CMS)/Speed Up WordPress and Improve Performance.md
  content/support/Third-Party Software/Others/Using Kubernetes on GKE and AWS with Cloudflare Load Balancer.md
  content/support/Troubleshooting/General Troubleshooting/Troubleshooting missing images.md
  content/support/Troubleshooting/Restoring Visitor IPs/Restoring original visitor IPs.md
Labels: docs-repo-or-site

#8442 [ZT] Update global policies
  content/_redirects
  content/cloudflare-one/policies/filtering/application-app-types.md
  content/cloudflare-one/policies/filtering/configuring-block-page.md
  content/cloudflare-one/policies/filtering/domain-categories.md
  content/cloudflare-one/policies/filtering/enforce-sessions.md
  content/cloudflare-one/policies/filtering/global-rules.md
  content/cloudflare-one/policies/filtering/http-policies/global-rules.md
  content/cloudflare-one/policies/filtering/identity-selectors.md
  content/cloudflare-one/policies/filtering/lists.md
  content/cloudflare-one/policies/filtering/order-of-enforcement.md
Labels: product:cloudflare-one

#8360 [Logs] Add device posture results logpush dataset
  content/logs/reference/log-fields/account/device_posture_results.md
Labels: product:logs

#8419 d1: clarify backup retention
  content/d1/learning/backups.md
  content/d1/platform/limits.md
Labels: product:d1

#8377 queues: clarify defaults / min / max for batches
  content/queues/learning/batching-retries.md
Labels: product:queues

#8450 [ZT] Update Global policies
  content/cloudflare-one/policies/filtering/global-policies.md
  content/cloudflare-one/policies/filtering/global-rules.md
Labels: product:cloudflare-one

#8447 Update _index.md
  content/analytics/graphql-api/migration-guides/network-analytics-v2/_index.md
Labels: product:analytics, product:ddos

#8443 Update reports.md
  content/ddos-protection/reference/reports.md
Labels: product:ddos

#8455 [MWAN] Sophos added to matrix compatibility page
  content/magic-wan/reference/device-compatibility.md
Labels: product:magic

#8434 [Logs] Add FAQ
  content/logs/faq/logpush.md
Labels: product:logs

#8465 [ZT] Edit egress table
  content/cloudflare-one/policies/filtering/egress-policies/dedicated-egress-ips.md
Labels: product:cloudflare-one

#8306 [Pages] Custom domain debugging
  content/pages/platform/debugging-pages.md
Labels: product:pages

#8452 [ZT] Add IPv4/v6 DNS policies
  content/cloudflare-one/policies/filtering/dns-policies/common-policies.md
  content/cloudflare-one/policies/filtering/egress-policies/_index.md
Labels: product:cloudflare-one

#8460 [Logs] Improvements to the Enable destinations section
  content/logs/_partials/_enable-read-permissions.md
  content/logs/get-started/enable-destinations/aws-s3/index.md
  content/logs/get-started/enable-destinations/azure/index.md
  content/logs/get-started/enable-destinations/google-cloud-storage/index.md
  content/logs/get-started/enable-destinations/other-providers/index.md
  content/logs/get-started/enable-destinations/sumo-logic/index.md
  content/logs/get-started/permissions.md
Labels: product:logs

#8470 [Docs site] Show cookie banner only in production branch deployments
  config.toml
  layouts/_default/baseof.html
  layouts/_default/home.html
Labels: docs-repo-or-site

#8477 Update options.md
  content/waf/custom-rules/skip/_index.md
  content/waf/custom-rules/skip/options.md
  content/waf/static/custom-rules/skip-action-options.png
Labels: product:waf

#8478 [Workers] get started update
  content/workers/get-started/guide.md
Labels: product:workers

#8507 [Docs site] Do not optimize external images
  layouts/_default/_markup/render-image.html
Labels: docs-repo-or-site

#8511 [ZT] Add default WARP session duration
  content/cloudflare-one/policies/filtering/enforce-sessions.md
Labels: product:cloudflare-one

#8510 Add DDoS change log entries for 2023-04-17
  content/ddos-protection/change-log/http/2023-04-17.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
  content/ddos-protection/change-log/network/2023-04-17.md
Labels: product:ddos, changelog

#8391 Clarify that no logs are stored on Cloudflare with v2
  content/logs/about/index.md
Labels: product:logs

#8530 [DNS] Replace origin with upstream
  content/dns/dns-firewall/random-prefix-attacks/_index.md
  content/dns/dns-firewall/random-prefix-attacks/setup.md
Labels: product:dns

#8535 [Analytics] Update NAv1 deprecation date
  content/analytics/graphql-api/migration-guides/network-analytics-v2/_index.md
  content/analytics/graphql-api/tutorials/export-graphql-to-csv/index.md
Labels: product:analytics, product:ddos

#8320 Add Node.js compatibility page to /platform section
  content/workers/platform/nodejs-compatibility.md
  content/workers/runtime-apis/nodejs/_index.md
Labels: product:workers

#8538 [ZT] Update Gateway check
  content/cloudflare-one/identity/devices/warp-client-checks/require-gateway.md
Labels: product:cloudflare-one

#8549 workers/storage: link to /storage-options/ guide
  content/d1/platform/storage-options.md
  content/queues/platform/storage-options.md
  content/r2/reference/storage-options.md
Labels: product:r2, product:queues, product:d1

#8551 [ZT] Edit ZT dataset table
  content/cloudflare-one/analytics/logs/logpush.md
Labels: product:cloudflare-one

#8572 Add DDoS change log entries for 2023-04-21
  content/ddos-protection/change-log/http/2023-04-21-emergency.md
Labels: product:ddos, changelog

#8575 [Workers] Add clear route instructions
  content/workers/platform/triggers/routes.md
Labels: product:workers

#8389 [Pages] Functions: Dashboard upload not supported
  content/pages/platform/functions/get-started.md
Labels: product:pages

#8570 [ZT] Rename /use_cases/
  content/_redirects
  content/cloudflare-one/_partials/_tunnel-cloudflared-access.md
  content/cloudflare-one/applications/non-http/_index.md
  content/cloudflare-one/connections/connect-apps/_index.md
  content/cloudflare-one/connections/connect-apps/deployment-guides/ansible.md
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/local/local-management/ingress.md
  content/cloudflare-one/connections/connect-apps/use-cases/_index.md
  content/cloudflare-one/connections/connect-apps/use-cases/kubectl.md
  content/cloudflare-one/connections/connect-apps/use-cases/rdp.md
  content/cloudflare-one/connections/connect-apps/use-cases/smb.md
  content/cloudflare-one/connections/connect-apps/use-cases/ssh.md
  content/cloudflare-one/identity/users/short-lived-certificates.md
  content/zero-trust.html
Labels: product:cloudflare-one

#8311 Added health checks number of data centers per Region
  content/health-checks/concepts/health-checks-regions.md
Labels: product:health-checks

#8590 NC-2860: Documentation for cf-mitigated header
  content/fundamentals/get-started/concepts/cloudflare-challenges.md
Labels: product:Challenges/Turnstile

#8635 [Several docs] Update API endpoints and their descriptions
  content/magic-firewall/how-to/add-rules.md
  content/rules/url-forwarding/bulk-redirects/create-api.md
  content/rules/url-forwarding/single-redirects/create-api.md
  content/ruleset-engine/basic-operations/add-rule-phase-rulesets.md
  content/ruleset-engine/custom-rulesets/add-rules-ruleset.md
  content/ruleset-engine/custom-rulesets/create-custom-ruleset.md
  content/ruleset-engine/rulesets-api/add-rule.md
  content/ruleset-engine/rulesets-api/create.md
  content/ruleset-engine/rulesets-api/delete-rule.md
  content/ruleset-engine/rulesets-api/delete.md
  content/ruleset-engine/rulesets-api/update-rule.md
  content/ruleset-engine/rulesets-api/update.md
  content/ruleset-engine/rulesets-api/view.md
  content/terraform/_partials/_find-ids-managed-rulesets.md
  content/waf/custom-rules/skip/api-examples.md
  content/waf/managed-rules/reference/owasp-core-ruleset.md
Labels: product:rules, product:waf, product:ruleset-engine

#8619 [ZT] Update Google Drive cert instructions
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one

#8644 [Fundamentals] Fix API link
  content/fundamentals/global-configurations/lists/lists-api/json-object.md
Labels: fundamentals

#8596 [Workers] fix example typo in routes.md
  content/workers/platform/triggers/routes.md
Labels: product:workers

#8645 [Firewall] Update Allow action exemptions
  content/firewall/cf-firewall-rules/actions.md
Labels: product:firewall

#8667 [SSL] Consolidate info about validity periods
  content/ssl/_partials/_acm-ca-hostnames-conditions.md
  content/ssl/_partials/_lets-encrypt-advanced-limitations.md
  content/ssl/edge-certificates/advanced-certificate-manager/_index.md
  content/ssl/edge-certificates/advanced-certificate-manager/manage-certificates.md
  content/ssl/edge-certificates/changing-dcv-method/methods/email.md
  content/ssl/edge-certificates/changing-dcv-method/methods/http.md
  content/ssl/reference/certificate-validity-periods.md
Labels: product:SSL
