Repository cloudflare/cloudflare-docs, pull requests merged in 2023-07, with the labels that each got.

#9695 [Magic Firewall] Updated examples with warning
  content/magic-firewall/reference/examples.md
Labels: size/xs, product:magic-firewall, pcx_team_review

#9697 [China Network] Remove section
  content/china-network/reference/infrastructure.md
Labels: product:china-network, size/xs, pcx_team_review

#9699 [Magic WAN] CF Tunnel integration
  content/cloudflare-one/connections/connect-apps/private-net/_index.md
  content/magic-wan/zero-trust/cloudflare-tunnel.md
Labels: product:cloudflare-one, size/s, product:magic-wan, pcx_team_review

#9700 [Cache] Updates to Cache Rules and remove ent only
  content/cache/how-to/cache-rules.md
  content/cache/troubleshooting/cache-everything-ignore-query-strings.md
  content/workers/examples/cache-using-fetch.md
Labels: product:workers, product:cache, size/s, pcx_team_review

#9701 [Docs] Update minify version (from 2.12.4 to 2.12.5)
  Makefile
Labels: docs-repo-or-site, size/xs, pcx_team_review

#9703 [WR] Add SEO bypassing to plans page
  data/plans.json
Labels: size/xs, pcx_team_review

#9704 [Area 1] Removed beta from unified search
  content/email-security/reporting/search/unified-search.md
Labels: size/xs, pcx_team_review, product:email-security

#9662 [Analytics] Update Network Analytics section
  assets/images/analytics/network-analytics/high-level-metrics.png
  assets/images/analytics/network-analytics/share-url.png
  content/analytics/_partials/_network-analytics-requirements.md
  content/analytics/_partials/_network-analytics-tabs-other-parameters.md
  content/analytics/network-analytics/_index.md
  content/analytics/network-analytics/configure/_index.md
  content/analytics/network-analytics/configure/displayed-data.md
  content/analytics/network-analytics/configure/share-export.md
  content/analytics/network-analytics/configure/time-range.md
  content/analytics/network-analytics/get-started.md
  content/analytics/network-analytics/understand/_index.md
  content/analytics/network-analytics/understand/main-dashboard.md
Labels: product:analytics, size/m, pcx_team_review

#9705 [Cache] Rename section
  content/cache/concepts/cache-behavior.md
Labels: product:cache, size/xs, pcx_team_review

#9710 Fixing the Action from Block to log and updating release date
  content/waf/change-log/2023-05-02.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog, size/xs

#9711 [Area 1] Added note regarding email phish
  content/email-security/email-configuration/phish-submissions/_index.md
Labels: size/xs, pcx_team_review, product:email-security

#9686 [WAF] Add `cf-terraforming` guidance to MR migration guide
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
Labels: product:waf, size/m, pcx_team_review

#9713 [Cache] Add link to reference architecture
  content/cache/reference/cdn-reference-architecture.md
Labels: product:cache, size/xs, pcx_team_review

#9698 [DDoS Protection] Clarify hostnames in L7 alerts
  content/ddos-protection/reference/alerts.md
Labels: size/xs, product:ddos-protection, pcx_team_review

#9355 Update Understanding and configuring Cloudflare Page Rules (Page Rule…
  content/support/Page Rules/Understanding and configuring Cloudflare Page Rules (Page Rules Tutorial).md
Labels: size/s, product:support

#9714 Farber/pcx 7037 registrar updates
  content/_redirects
  content/learning-paths/modules/get-started/onboarding/add-and-activate.md
  content/registrar/_index.md
  content/registrar/_partials/_before-you-begin.md
  content/registrar/about.md
  content/registrar/account-options/transfer-out-from-cloudflare.md
  content/registrar/account-options/whois-redaction.md
  content/registrar/custom-domain-protection.md
  content/registrar/faq.md
  content/registrar/get-started/enable-dnssec.md
  content/registrar/get-started/register-domain.md
  content/registrar/reference/_index.md
  content/registrar/top-level-domains/_index.md
  content/registrar/top-level-domains/uk-domains.md
  content/registrar/top-level-domains/us-domains.md
Labels: product:registrar, size/m, product:learning-paths, product:_redirects, pcx_team_review

#9712 [SSL, ZT, Support] Cannot disable Always use HTTP with Page Rules
  content/cloudflare-one/policies/access/_index.md
  content/rules/url-forwarding/single-redirects/examples.md
  content/ssl/edge-certificates/additional-options/always-use-https.md
  content/ssl/edge-certificates/encrypt-visitor-traffic.md
  content/support/Page Rules/Understanding and configuring Cloudflare Page Rules (Page Rules Tutorial).md
Labels: product:cloudflare-one, product:rules, product:ssl, size/s, product:support, pcx_team_review

#9721 Update Troubleshooting FAQ for new Cloudflare customers.md
  content/support/About Cloudflare/Getting Started/Troubleshooting FAQ for new Cloudflare customers.md
Labels: size/xs, product:support

#9723 [Docs] Update owners: add Style Guide
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/s, pcx_team_review

#9717 [Rules] Add new dynamic redirect example
  content/rules/url-forwarding/single-redirects/examples.md
Labels: product:rules, size/s, pcx_team_review

#9724 [SSL,R2] Clarify what certificate is used with R2 custom domains
  content/r2/reference/data-security.md
  content/ssl/edge-certificates/advanced-certificate-manager/_index.md
  content/ssl/reference/certificate-and-hostname-priority.md
Labels: product:ssl, product:r2, size/s, pcx_team_review

#9725 Updating announcement for OWASP 5 rule changes and MR 1 rule toggle
  content/waf/change-log/2023-07-05.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, changelog, size/m

#9726 [Cache] Purge cache improvements
  content/cache/advanced-configuration/vary-for-images.md
  content/cache/cache-security/cors.md
  content/cache/how-to/purge-cache.md
  content/cache/how-to/purge-cache/_index.md
  content/cache/how-to/purge-cache/purge-by-hostname.md
  content/cache/how-to/purge-cache/purge-by-single-file.md
  content/cache/how-to/purge-cache/purge-by-tags.md
  content/cache/how-to/purge-cache/purge-cache-key.md
  content/cache/how-to/purge-cache/purge-everything.md
  content/cache/how-to/purge-cache/purge-varied-images.md
  content/cache/how-to/purge-cache/purge_by_prefix.md
  content/cloudflare-for-platforms/cloudflare-for-saas/reference/troubleshooting.md
  content/pages/platform/custom-domains.md
  content/pages/platform/serving-pages.md
  content/workers/learning/how-the-cache-works.md
  content/workers/runtime-apis/request.md
Labels: product:workers, product:pages, product:cache, product:cloudflare-for-platforms, size/l, pcx_team_review

#9730 [Zaraz] Update grouping
  data/zaraz.yml
Labels: size/xs, pcx_team_review

#9727 [Several] Cleans up curl commands
  content/email-security/reporting/siem-integration/splunk-integration-guide.md
  content/magic-firewall/how-to/collect-pcaps.md
  content/magic-firewall/how-to/enable-ids.md
  content/magic-firewall/how-to/enable-managed-rulesets.md
  content/magic-firewall/how-to/filter-views.md
  content/magic-firewall/how-to/pcaps-bucket-setup.md
  content/magic-firewall/how-to/use-rules-list.md
  content/magic-firewall/reference/examples.md
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-transit/_partials/_update-tunnel-health-checks-frequency.md
  content/magic-wan/third-party/aruba-edgeconnect.md
  content/magic-wan/third-party/sonicwall.md
  content/magic-wan/third-party/sophos-firewall.md
  content/magic-wan/third-party/strongswan.md
Labels: size/l, product:magic-transit, product:magic-wan, product:magic-firewall, pcx_team_review, product:email-security

#9729 Update Configuring Custom Pages (Error and Challenge).md
  content/support/More Dashboard Apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
Labels: size/xs, product:support

#9731 [Pages] Add notifications
  content/fundamentals/notifications/notification-available.md
Labels: size/s, product:fundamentals, pcx_team_review

#9687 [WAF] Migrate security settings
  content/_redirects
  content/analytics/account-and-zone-analytics/threat-types.md
  content/bots/reference/wordpress-loopback-issue.md
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/product-compatibility.md
  content/fundamentals/security/_index.md
  content/fundamentals/security/browser-integrity-check.md
  content/fundamentals/security/challenge-passage.md
  content/fundamentals/security/privacy-pass.md
  content/fundamentals/security/security-level.md
  content/fundamentals/security/under-attack-mode.md
  content/learning-paths/modules/get-started/security-free/security-settings.md
  content/learning-paths/modules/security/ddos-advanced/customize-security.md
  content/support/Firewall/Settings/Understanding Cloudflare Under Attack mode (advanced DDOS protection).md
  content/support/Firewall/Settings/Understanding the Cloudflare Browser Integrity Check.md
  content/support/Firewall/Settings/Understanding the Cloudflare Security Level.md
  content/support/Firewall/Settings/Using Privacy Pass with Cloudflare.md
  content/support/Firewall/Settings/_index.md
  content/support/Firewall/Tools/_index.md
  content/support/Page Rules/Understanding and configuring Cloudflare Page Rules (Page Rules Tutorial).md
  content/waf/custom-rules/use-cases/block-ip-reputation.md
  content/waf/security-events/_index.md
Labels: product:analytics, product:bots, product:waf, product:cloudflare-for-platforms, size/m, product:fundamentals, product:support, product:learning-paths, product:_redirects, pcx_team_review

#9728 [Ruleset Engine] Update curl examples
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/logs/faq/logpush.md
  content/ruleset-engine/basic-operations/add-rule-phase-rulesets.md
  content/ruleset-engine/basic-operations/deploy-rulesets.md
  content/ruleset-engine/basic-operations/view-rulesets.md
  content/ruleset-engine/custom-rulesets/_index.md
  content/ruleset-engine/custom-rulesets/add-rules-ruleset.md
  content/ruleset-engine/custom-rulesets/create-custom-ruleset.md
  content/ruleset-engine/custom-rulesets/deploy-custom-ruleset.md
  content/ruleset-engine/managed-rulesets/_index.md
  content/ruleset-engine/managed-rulesets/deploy-managed-ruleset.md
  content/ruleset-engine/managed-rulesets/override-examples/deploy-cmr-joomla-only.md
  content/ruleset-engine/managed-rulesets/override-examples/deploy-cmr-wordpress-block.md
  content/ruleset-engine/managed-rulesets/override-examples/enable-selected-rules.md
  content/ruleset-engine/managed-rulesets/override-examples/override-ddos-rule-sensitivity.md
  content/ruleset-engine/managed-rulesets/override-examples/override-ruleset-tag-rule.md
  content/ruleset-engine/managed-rulesets/override-managed-ruleset.md
  content/ruleset-engine/rulesets-api/add-rule.md
  content/ruleset-engine/rulesets-api/create.md
  content/ruleset-engine/rulesets-api/delete-rule.md
  content/ruleset-engine/rulesets-api/delete.md
  content/ruleset-engine/rulesets-api/endpoints.md
  content/ruleset-engine/rulesets-api/json-object.md
  content/ruleset-engine/rulesets-api/update-rule.md
  content/ruleset-engine/rulesets-api/update.md
  content/ruleset-engine/rulesets-api/view.md
  content/tenant/_partials/_account-details.md
  content/tenant/_partials/_tenant-details.md
  content/tenant/how-to/manage-accounts.md
  content/waiting-room/additional-options/test-waiting-room.md
Labels: product:cloudflare-one, product:logs, product:waiting-room, product:ruleset-engine, product:tenant, size/l, pcx_team_review

#9733 remove bad behavior references
  assets/images/support/hc-import-cf_bad_behavior.png
  content/_redirects
  content/fundamentals/get-started/setup/allow-cloudflare-ip-addresses.md
  content/fundamentals/security/browser-integrity-check.md
  content/support/Third-Party Software/Others/Is Cloudflare compatible with Bad Behavior.md
Labels: size/s, product:fundamentals, product:support, product:_redirects, pcx_team_review

#9732 [D1] Update get-started.md
  content/d1/get-started.md
Labels: product:d1, size/s

#9363 [Queues] Update types and Wrangler commands in get-started.md and send-errors-to-r2.md
  content/queues/examples/send-errors-to-r2.md
  content/queues/get-started.md
Labels: product:queues

#9736 [ZT] Temporarily remove Network Path Viz
  content/cloudflare-one/insights/dex/tests/view-results.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9706 add an example on how to set custom headers in s3 sdks
  content/r2/api/s3/extensions.md
  content/r2/examples/aws/custom-header.md
Labels: product:r2, size/m

#9740 [WAF] Fix redirect
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#9741 [Area 1] O365 IP ranges
  content/email-security/deployment/inline/reference/egress-ips.md
Labels: size/s, pcx_team_review, product:email-security

#9715 [DNS] PROBE_POSSIBLE troubleshooting page and update to plans.json
  content/_redirects
  content/dns/_partials/_dns-errors-ts-action.md
  content/dns/_partials/_dns-errors-ts-intro.md
  content/dns/_partials/_dns-nxdomain-warning.md
  content/dns/troubleshooting/dns-probe-finished-nxdomain.md
  content/dns/troubleshooting/dns-probe-possible.md
  content/dns/zone-setups/troubleshooting/dns-probe-finished-nxdomain.md
  content/learning-paths/modules/get-started/onboarding/check-dns.md
  data/plans.json
Labels: product:dns, size/m, product:learning-paths, product:_redirects, pcx_team_review

#9743 Clarify deleted DNSSEC state
  content/dns/dnssec/dnssec-states.md
Labels: product:dns

#9744 [SSL] Add Let's Encrypt as CA for backup certificate
  content/ssl/edge-certificates/backup-certificates.md
  content/ssl/reference/certificate-authorities.md
Labels: product:ssl, size/xs, pcx_team_review

#9745 [Cache] Updated links in Get started page
  content/cache/get-started.md
Labels: product:cache, size/s, pcx_team_review

#9747 [Rules, Support] Add limitation about Disable Apps
  content/rules/configuration-rules/settings.md
  content/support/Page Rules/Understanding and configuring Cloudflare Page Rules (Page Rules Tutorial).md
Labels: product:rules, size/xs, product:support, pcx_team_review

#9746 d1: Update get-started.md
  content/d1/get-started.md
Labels: product:d1, size/xs

#9748 [MWAN] MSS clamp note
  content/magic-transit/_partials/_maximum-segment-size.md
Labels: size/xs, product:magic-transit, pcx_team_review

#9750 [Reporting] Update param to take advantage of previous logic
  .github/review-template.md
  content/dns/dnssec/dnssec-active-migration.md
  content/email-security/deployment/api/setup/_index.md
  content/email-security/deployment/api/setup/exchange-bcc-setup.md
  content/email-security/deployment/api/setup/gsuite-bcc-setup.md
  content/email-security/deployment/api/setup/office365-graph-api.md
  content/email-security/deployment/api/setup/office365-journaling.md
  content/email-security/deployment/inline/setup/_index.md
  content/email-security/deployment/inline/setup/cisco-area1-mx.md
  content/email-security/deployment/inline/setup/cisco-cisco-mx.md
  content/email-security/deployment/inline/setup/gsuite-area1-mx.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/_index.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/five-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/four-user-quarantine-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/one-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/three-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/two-junk-user-quarantine.md
  content/email-security/reporting/siem-integration/_index.md
  content/email-security/reporting/siem-integration/splunk-integration-guide.md
  content/email-security/reporting/siem-integration/sumo-logic-integration-guide.md
  content/fundamentals/account-and-billing/account-setup/create-billing-profile.md
  content/magic-network-monitoring/tutorials/graphql-analytics.md
  content/magic-transit/analytics/query-bandwidth.md
  content/magic-transit/analytics/query-tunnel-health.md
  content/network-interconnect/set-up-cni/peering-portal.md
  content/page-shield/best-practices/handle-an-alert.md
  content/r2/examples/mastodon.md
  content/workers/platform/webassembly/rust/_index.md
  layouts/partials/head.meta.html
Labels: product:workers, product:page-shield, product:dns, product:r2, product:network-interconnect, size/s, product:fundamentals, product:magic-transit, pcx_team_review, product:email-security, product:magic-network-monitoring

#9751 [ZT] CASB ServiceNow integration
  content/cloudflare-one/applications/scan-apps/casb-integrations/_index.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/servicenow.md
Labels: product:cloudflare-one, size/s, sub-product:casb

#9754 [c3] update c3 install commands to include @latest
  content/d1/get-started.md
  content/pages/get-started/c3.md
  content/queues/get-started.md
  content/workers/wrangler/deprecations.md
Labels: product:workers, product:pages, product:queues, product:d1, size/s

#9759 [cache] Added rules order to cache rules
  content/cache/how-to/cache-rules.md
Labels: product:cache, size/xs, pcx_team_review

#9760 [MWAN] Corrected warp link
  content/magic-wan/_partials/_traceroute.md
Labels: size/xs, product:magic-wan, pcx_team_review

#9761 [Page Shield] Update "Export to CSV" requirements
  content/page-shield/detection/monitor-connections-scripts.md
Labels: product:page-shield, size/xs, pcx_team_review

#9763 [Rules] Add proxied DNS records requirement
  content/rules/_index.md
  content/rules/_partials/_rules-requirements.md
  content/rules/compression-rules/_index.md
  content/rules/configuration-rules/_index.md
  content/rules/normalization/_index.md
  content/rules/origin-rules/_index.md
  content/rules/transform/_index.md
  content/rules/url-forwarding/_index.md
Labels: product:rules, size/s, pcx_team_review

#9671 Move SW syntax content for ScheduledEvent to ESM migration page
  content/workers/learning/migrate-to-module-workers.md
  content/workers/runtime-apis/scheduled-event.md
Labels: product:workers, size/s

#9489 [GitHub] Use pull_request_target for labels
  .github/actions/label-products/action.yml
  .github/actions/label-products/index.js
  .github/actions/label-products/index.ts
  .github/actions/label-products/package.json
  .github/actions/label-products/readme.md
  .github/actions/label-size/action.yml
  .github/actions/label-size/index.js
  .github/actions/label-size/index.ts
  .github/actions/label-size/package.json
  .github/actions/label-size/readme.md
  .github/workflows/label-pr.yml
  .github/workflows/spell-check.yml
  content/bots/bot-analytics/bm-subscription.md
Labels: product:bots, docs-repo-or-site, size/m, pcx_team_review

#9764 farber/PCX-7546 updating link to point to domain categories in zt pages
  content/security-center/investigate/change-categorization.md
Labels: product:security-center, size/xs, pcx_team_review

#9766 [WAF] Security Analytics: Clarify mitigated requests
  content/waf/security-analytics/index.md
Labels: product:waf, size/xs, pcx_team_review

#9768 [Chore] Some preload assets aren't used
  content/_headers
Labels: size/xs, pcx_team_review, product:_headers

#9767 [D1] Add new /examples page
  content/d1/examples/_index.md
  content/d1/examples/d1-and-remix.md
  content/d1/examples/d1-and-sveltekit.md
Labels: product:d1, size/m

#9771 [Chore] Update 1.1.1.1 ownership
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/xs, pcx_team_review

#9770 [D1] Add T4 App as a community project
  content/d1/platform/community-projects.md
Labels: product:d1, size/s

#9774 [Turnstile] turnstile.remove() update
  content/turnstile/get-started/client-side-rendering.md
Labels: size/xs, product:turnstile, pcx_team_review

#9571 Add documentation for process.env, process.nextTick, and diagnostics_channel
  content/workers/platform/tail-workers.md
  content/workers/runtime-apis/nodejs/diagnostics-channel.md
  content/workers/runtime-apis/nodejs/process.md
Labels: product:workers, size/m

#9769 Update changelog.md
  content/workers/platform/changelog.md
Labels: product:workers, size/xs

#9785 [Support] Argo Tunnel -> Cloudflare Tunnel
  content/support/Network/Understanding Cloudflare gRPC support.md
Labels: size/xs, product:support

#9335 [Workers]: Update Form Submission Tutorial
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
Labels: product:workers, size/m

#9788 [MWAN & MT] Added info for new dash options
  content/magic-transit/_partials/_tunnel-endpoints.md
  content/magic-transit/how-to/configure-tunnels.md
  content/magic-wan/get-started/configure-tunnels.md
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#9716 Add Zaraz Pricing Page
  content/zaraz/faq.md
  content/zaraz/pricing.md
Labels: size/m, product:zaraz

#9777 [D1] Update d1-and-remix.md
  content/d1/examples/d1-and-remix.md
Labels: product:d1, size/xs

#9607 [SSL] Upload CA for API Shield mTLS
  content/api-shield/security/mtls/_index.md
  content/api-shield/security/mtls/byo-ca.md
  content/api-shield/security/mtls/configure.md
  content/ssl/_partials/_client-cert-shared.md
  content/ssl/_partials/_cloudflare-managed-client-cert.md
  content/ssl/client-certificates/_index.md
  content/ssl/client-certificates/byo-ca-api-shield.md
  content/ssl/client-certificates/configure-your-mobile-app-or-iot-device.md
  content/ssl/client-certificates/revoke-client-certificate.md
  content/ssl/client-certificates/troubleshooting.md
  content/ssl/client-certificates/zero-trust-mtls.md
  content/ssl/keyless-ssl/_index.md
  content/ssl/saas.md
Labels: product:ssl, product:api-shield, size/m, pcx_team_review

#9789 Announcing 2 new rules and releasing OWASP 5 rules with updated logic
  content/waf/change-log/2023-07-10.md
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, size/m

#9790 [D1] Add Hono examples for Pages + Workers
  content/d1/examples/d1-and-hono.md
Labels: product:d1, size/s

#9791 Update Troubleshooting Cloudflare 5XX errors.md
  content/support/Troubleshooting/Cloudflare Errors/Troubleshooting Cloudflare 5XX errors.md
Labels: size/xs, product:support

#9780 Fbaetens/r2 changelog
  content/r2/examples/aws/custom-header.md
  content/r2/reference/changelog.md
Labels: product:r2, size/s

#9781 nit: typo
  content/r2/objects/multipart-objects.md
Labels: product:r2, size/xs

#9794 [SSL] Callout specific formatting requirement for byo-ca parameter
  content/ssl/client-certificates/byo-ca-api-shield.md
Labels: product:ssl, size/xs, pcx_team_review

#9775 [SSL] Clarify DCV renewal behavior
  content/ssl/_partials/_dcv-certificate-renewal.md
  content/ssl/_partials/_dcv-renewal-fallback.md
  content/ssl/_partials/_dcv-token-renewal.md
  content/ssl/edge-certificates/changing-dcv-method/_index.md
  content/ssl/edge-certificates/changing-dcv-method/methods/email.md
  content/ssl/edge-certificates/changing-dcv-method/methods/http.md
  content/ssl/edge-certificates/changing-dcv-method/methods/txt.md
Labels: product:ssl, size/s, pcx_team_review

#9796 Update custom-pages.md
  content/cloudflare-one/applications/custom-pages.md
Labels: product:cloudflare-one, size/xs

#9492 [ZT] Add DLP account limits
  content/cloudflare-one/account-limits.md
Labels: product:cloudflare-one, size/s, sub-product:data-loss-prevention

#7936 updated AV scanning
  content/cloudflare-one/policies/filtering/http-policies/antivirus-scanning.md
Labels: product:cloudflare-one

#9779 [ZT] Remote browser cookies
  content/cloudflare-one/policies/browser-isolation/_index.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9798 Update traceroute.md to correct typo.
  content/cloudflare-one/insights/dex/tests/traceroute.md
Labels: product:cloudflare-one, size/xs

#9792 Images api changes
  content/images/_partials/_supported-properties.md
Labels: product:images, size/xs

#9797 R2 multipart: Further clarify how completed multipart ETags are calculated
  content/r2/objects/multipart-objects.md
Labels: product:r2, size/s

#9799 [ZT] Update agentless options
  content/cloudflare-one/connections/connect-devices/agentless/_index.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9801 [ZT] AzureAD typo
  content/cloudflare-one/identity/idp-integration/azuread.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9783 Update arguments for `cloudflared tunnel run`
  content/cloudflare-one/connections/connect-apps/install-and-setup/tunnel-guide/local/local-management/arguments.md
Labels: product:cloudflare-one, size/s

#9757 Prepare V2 build system for stable release
  content/pages/_partials/_platform-language-support-and-tools/v2.md
  content/pages/platform/language-support-and-tools.md
Labels: product:pages, size/s

#9804 [DMARC Management] SPF inspector
  content/dmarc-management/dns-lookup-limits.md
Labels: size/s, pcx_team_review, product:dmarc-management

#9805 [China Network] Add Instant Logs to the China Network docs
  content/china-network/reference/available-products.md
Labels: product:china-network, size/xs, pcx_team_review

#9795 [API Shield] mTLS update
  content/api-shield/security/mtls/_index.md
  content/api-shield/security/mtls/configure.md
Labels: product:api-shield, size/xs, pcx_team_review

#9806 Removing unsupported example with Bulk Redirect
  content/rules/url-forwarding/bulk-redirects/reference/csv-file-format.md
Labels: product:rules, size/xs

#9808 Remove status from v2
  content/pages/_partials/_platform-language-support-and-tools/v2.md
  content/pages/platform/language-support-and-tools.md
Labels: product:pages, size/xs

#9813 [ZT] RSR version
  content/cloudflare-one/identity/devices/warp-client-checks/os-version.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#9816 Update PCI compliance and Cloudflare SSLTLS.md
  content/support/SSL TLS/Edge Certificates SSL TLS configuration/PCI compliance and Cloudflare SSLTLS.md
Labels: size/xs, product:support

#9793 Add DDoS change log entries for 2023-07-10
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
Labels: product:ddos, changelog, size/xs

#9821 [Analytics] Add Spectrum node to NAv1>NAv2 schema map
  content/analytics/graphql-api/migration-guides/network-analytics-v2/schema-map.md
Labels: product:analytics, size/xs, pcx_team_review

#9825 [Area 1] Removed unnecessary redirects
  content/_redirects
Labels: size/s, product:_redirects, pcx_team_review

#9817 Update securing-your-stream.md
  content/stream/viewing-videos/securing-your-stream.md
Labels: product:stream, size/xs

#9826 Add DDoS change log entries for 2023-07-12
  content/ddos-protection/change-log/http/2023-07-12-emergency.md
Labels: changelog, size/s, product:ddos-protection

#9829 [TEST #2] Comments on PRs
  .github/actions/show-changed-files/index.js
  .github/actions/show-changed-files/index.ts
  content/ssl/keyless-ssl/troubleshooting.md
Labels: product:ssl, size/s, pcx_team_review

#9820 [R2] Fix R2PutOptions types
  content/r2/api/workers/workers-api-reference.md
Labels: product:r2, size/xs

#9830 [QUEUES] Fixing formatting and styling
  content/queues/get-started.md
  content/queues/learning/batching-retries.md
  content/queues/learning/how-queues-works.md
  content/queues/platform/javascript-apis.md
  content/queues/platform/limits.md
Labels: product:queues, size/s, pcx_team_review

#9822 Add note about data retention period
  content/analytics/analytics-engine/get-started.md
Labels: product:analytics, size/xs

#9838 [WAF] Add two custom rules use cases
  content/waf/custom-rules/use-cases/allow-traffic-from-specific-countries.md
  content/waf/custom-rules/use-cases/allow-traffic-from-verified-bots.md
  content/waf/custom-rules/use-cases/block-ip-reputation.md
Labels: product:waf, size/s, pcx_team_review

#9841 [Docs] Update spell check action
  .github/workflows/spell-check.yml
Labels: size/xs, pcx_team_review

#9839 [Doc] Doc changes: Handle _index.md files
  .github/actions/show-changed-files/index.js
  .github/actions/show-changed-files/index.ts
  content/waf/about/_index.md
Labels: product:waf, size/xs, pcx_team_review

#9762 Update http-events-api.md
  content/zaraz/http-events-api.md
Labels: size/xs, product:zaraz

#9836 [WARP] Use PATCH instead of PUT
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/custom-certificate.md
Labels: product:cloudflare-one, size/xs

#9835 [Docs engine] Parrot stripe's api doc link labeling
  content/cache/how-to/tiered-cache.md
  content/cloudflare-for-platforms/cloudflare-for-saas/api-reference.md
  content/cloudflare-one/api-terraform/_index.md
  content/dns/additional-options/analytics.md
  content/email-routing/api-reference.md
  content/firewall/api/cf-filters/endpoints.md
  content/firewall/api/cf-firewall-rules/endpoints.md
  content/fundamentals/global-configurations/lists/lists-api/endpoints.md
  content/fundamentals/notifications/api-reference.md
  content/images/cloudflare-images/api-reference.md
  content/images/image-resizing/api-reference.md
  content/images/polish/api-reference.md
  content/load-balancing/api-reference.md
  content/magic-firewall/reference/examples.md
  content/r2/reference/changelog.md
  content/radar/api-reference.md
  content/railgun/api-reference.md
  content/registrar/api-reference.md
  content/ruleset-engine/basic-operations/add-rule-phase-rulesets.md
  content/ruleset-engine/custom-rulesets/add-rules-ruleset.md
  content/ruleset-engine/custom-rulesets/create-custom-ruleset.md
  content/ruleset-engine/managed-rulesets/deploy-managed-ruleset.md
  content/security-center/investigate/change-categorization.md
  content/stream/edit-videos/_index.md
  content/stream/stream-api.md
  content/stream/stream-live/stream-live-api.md
  content/stream/uploading-videos/upload-via-link.md
  content/support/Other Languages/Español (España)/Preguntas frecuentes sobre el DNS de Cloudflare.md
  content/support/Other Languages/Português do Brasil/Perguntas frequentes sobre o DNS da Cloudflare.md
  content/support/Other Languages/日本語/Cloudflare DNSに関するFAQ.md
  content/support/Other Languages/简体中文/Cloudflare DNS 常见问题解答.md
  content/support/Other Languages/한국어/Cloudflare DNS FAQ.md
  content/terraform/_partials/_find-ids-managed-rulesets.md
  content/terraform/_partials/_find-ids.md
  content/waf/_partials/_api-generic-create-rule-procedure.md
  content/waf/custom-rules/skip/api-examples.md
  content/waf/reference/migration-guides/old-rate-limiting-deprecation.md
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
  content/waf/troubleshooting/blocked-bing-site-scans.md
  content/waiting-room/api-reference.md
  content/web3/api-reference.md
  content/workers/platform/triggers/custom-domains.md
  content/workers/platform/triggers/routes.md
  layouts/_default/_markup/render-link.html
  layouts/partials/api.icon.html
  layouts/partials/api.link.html
  layouts/partials/sidebar.navitem.html
  static/style.css
Labels: engineering, size/m, pcx_team_review

#9837 [DLS] Updated DLS table
  content/data-localization/_index.md
Labels: product:data-localization, size/s, pcx_team_review

#9840 [Area 1] new search
  assets/images/email-security/email-retraction/gmail/step2-mail-trace.png
  assets/images/email-security/email-retraction/gmail/step4-retract.png
  assets/images/email-security/email-retraction/gmail/step6-retraction-success.png
  assets/images/email-security/unified-search/revert-search.png
  assets/images/email-security/unified-search/try-new-search.png
  content/_redirects
  content/email-security/_partials/_manual-retraction.md
  content/email-security/_partials/_search.md
  content/email-security/email-configuration/phish-submissions/_index.md
  content/email-security/reporting/search/_index.md
  content/email-security/reporting/search/available-parameters.md
  content/email-security/reporting/search/detection-search/_index.md
  content/email-security/reporting/search/mailtrace.md
  content/email-security/reporting/search/unified-search.md
Labels: size/m, product:_redirects, pcx_team_review, product:email-security

#9807 [workers] update wrangler dev compat with v3.2 release
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#9852 Update traffic-management.md
  content/load-balancing/understand-basics/traffic-management.md
Labels: product:load-balancing, size/xs, pcx_team_review

#9811 Update radar glossary ddos entries
  content/radar/glossary.md
Labels: size/xs, product:radar

#9824 [Durable Objects - Workers] Update DO limit to be clearer
  content/workers/platform/storage-options.md
Labels: product:workers, size/xs

#9855 [DLS] Updates to the DLS Overview page
  content/data-localization/_index.md
Labels: product:data-localization, size/xs, pcx_team_review

#9832 [Workers for Platforms] Using ES syntax and adding more information
  content/cloudflare-for-platforms/workers-for-platforms/get-started/configuration.md
  content/cloudflare-for-platforms/workers-for-platforms/platform/multipart.md
Labels: product:cloudflare-for-platforms, size/s, pcx_team_review

#9851 [Style Guide] Update code block guidelines
  content/style-guide/grammar-and-formatting/code-block-guidelines.md
Labels: size/s, pcx_team_review, product:style-guide

#9859 [Rules] Update ESC deprecation date
  content/rules/reference/esc-deprecation.md
Labels: product:rules, size/m, pcx_team_review

#9857 [Magic Network Monitoring] Per prefix thresholds
  content/_redirects
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
  content/magic-network-monitoring/magic-transit-integration.md
  content/magic-network-monitoring/rules.md
  content/magic-transit/how-to/auto-advertise-prefixes.md
  content/magic-transit/magic-network-monitoring.md
Labels: size/m, product:magic-transit, product:_redirects, pcx_team_review, product:magic-network-monitoring

#9861 [Workers] Runtime API nav revision
  content/_redirects
  content/china-network/reference/available-products.md
  content/pages/platform/functions/module-support.md
  content/workers/learning/using-durable-objects.md
  content/workers/platform/languages.md
  content/workers/platform/nodejs-compatibility.md
  content/workers/runtime-apis/headers.md
  content/workers/runtime-apis/nodejs/_index.md
  content/workers/runtime-apis/streams/_index.md
  content/workers/runtime-apis/streams/readablestream.md
  content/workers/runtime-apis/streams/readablestreambyobreader.md
  content/workers/runtime-apis/streams/readablestreamdefaultreader.md
  content/workers/runtime-apis/streams/transformstream.md
  content/workers/runtime-apis/streams/use-streams.md
  content/workers/runtime-apis/streams/writablestream.md
  content/workers/runtime-apis/streams/writablestreamdefaultwriter.md
  content/workers/runtime-apis/webassembly/_index.md
  content/workers/runtime-apis/webassembly/javascript.md
  content/workers/runtime-apis/webassembly/rust/_index.md
  content/workers/runtime-apis/webassembly/rust/crates.md
  content/workers/runtime-apis/websockets/_index.md
  content/workers/runtime-apis/websockets/use-websockets.md
  content/workers/runtime-apis/websockets/websockets.md
Labels: product:workers, product:pages, product:china-network, size/m, product:_redirects, pcx_team_review

#9862 [Logs] Fix formatting of Datadog endpoints
  content/logs/get-started/enable-destinations/datadog/index.md
Labels: product:logs, size/s, pcx_team_review

#9865 [Logs] Add link to API keys
  content/fundamentals/data-products/analytics-integrations/datadog/index.md
  content/fundamentals/glossary.md
  content/rules/transform/_index.md
Labels: product:rules, size/xs, product:fundamentals, pcx_team_review

#9867 [CF4SaaS] Added new product compatibility
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/product-compatibility.md
Labels: product:cloudflare-for-platforms, size/xs, pcx_team_review

#9866 [Docs] Don't spell check localized Support content
  .github/workflows/spell-check.yml
  content/support/Other Languages/Deutsch/WAF.md
Labels: docs-repo-or-site, size/xs, product:support, pcx_team_review

#9778 [Docs Engine] Create shortcodes for tutorial layouts
  assets/events.ts
  content/fundamentals/account-and-billing/account-setup/create-billing-profile.md
  layouts/shortcodes/tabs.html
  layouts/shortcodes/tutorial-step.html
  layouts/shortcodes/tutorial.html
  static/style.css
Labels: engineering, docs engine, size/m, product:fundamentals, pcx_team_review

#9863 [Workers] Observability
  content/_redirects
  content/cloudflare-for-platforms/workers-for-platforms/platform/observability.md
  content/d1/learning/debug-d1.md
  content/d1/learning/local-development.md
  content/email-routing/limits.md
  content/fundamentals/data-products/types-of-analytics.md
  content/logs/about/index.md
  content/pages/platform/functions/smart-placement.md
  content/support/Other Languages/Deutsch/Cloudflare-1XXX.md
  content/support/Other Languages/Español (España)/Cómo solucionar errores 1XXX de Clouflare.md
  content/support/Other Languages/Français (France)/Résolution des erreurs Cloudflare 1XXX.md
  content/support/Other Languages/Português do Brasil/Solução de problemas de erros 1XXX da Cloudflare.md
  content/support/Other Languages/日本語/Cloudflare 1XXX エラーのトラブルシューティング.md
  content/support/Other Languages/简体中文/Cloudflare 1XXX 错误故障排除.md
  content/support/Other Languages/한국어/Troubleshooting Cloudflare 1XXX errors.md
  content/support/Troubleshooting/Cloudflare Errors/Troubleshooting Cloudflare 1XXX errors.md
  content/workers/observability/_index.md
  content/workers/observability/debug-workers.md
  content/workers/observability/log-from-workers.md
  content/workers/observability/logpush.md
  content/workers/observability/metrics-and-analytics.md
  content/workers/observability/tail-workers.md
  content/workers/platform/changelog.md
  content/workers/platform/smart-placement.md
  content/workers/platform/triggers/cron-triggers/index.md
  content/workers/runtime-apis/nodejs/diagnostics-channel.md
  content/workers/tutorials/connect-to-turso-using-workers/index.md
  content/workers/wrangler/_index.md
Labels: product:workers, product:pages, product:logs, product:d1, product:email-routing, product:cloudflare-for-platforms, size/s, product:fundamentals, product:support, product:_redirects, pcx_team_review

#9870 [ZT] fix typo
  content/cloudflare-one/faq/teams-devices-faq.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#9871 [BYOIP] corrected how to ​​obtain prefix IDs
  content/byoip/how-to/configure-dynamic-advertisement.md
Labels: product:byoip, size/s, pcx_team_review

#9869 [Workers] headers redirect revision
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#9652 [Workers] Databases revision
  content/_redirects
  content/workers/databases/connect-to-postgres.md
  content/workers/databases/connecting-to-databases.md
  content/workers/databases/native-integrations.md
  content/workers/learning/integrations/_index.md
  content/workers/learning/integrations/databases.md
  content/workers/platform/changelog.md
Labels: product:workers, size/l, product:_redirects, pcx_team_review

#9082 [Browser Rendering] Tabbed Browser Worker code to support JS & TS
  content/browser-rendering/get-started/screenshots.md
  content/browser-rendering/platform/puppeteer.md
  content/browser-rendering/platform/wrangler.md
Labels: product:pages

#9040 [Workers] fix tail worker doc issues
  content/workers/runtime-apis/tail-event.md
Labels: product:workers, size/s

#9755 pages: fix Remix bindings example
  content/pages/framework-guides/deploy-a-remix-site.md
Labels: product:pages, size/s

#9858 [Logs] Add Logpush to IBM QRadar
  content/logs/get-started/enable-destinations/ibm-qradar/index.md
Labels: product:logs, size/s, pcx_team_review

#9875 [Version Mgmt] Compare versions page
  assets/images/version-management/compare-versions.png
  content/version-management/how-to/compare-versions.md
Labels: product:version-management, size/s, pcx_team_review

#9878 Update traceroute.md
  content/cloudflare-one/insights/dex/tests/traceroute.md
Labels: product:cloudflare-one, size/xs

#9877 Update http.md
  content/cloudflare-one/insights/dex/tests/http.md
Labels: product:cloudflare-one, size/xs

#9876 Update changelog.md
  content/workers/platform/changelog.md
Labels: product:workers, size/xs

#9880 [Reference Architecture] Add multi-vendor reference architecture doc
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_1.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_10.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_11.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_12.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_13.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_14.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_2.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_3.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_4.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_5.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_6.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_7.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_8.png
  assets/images/reference-architecture/multi-vendor-architecture-images/Figure_9.png
  content/reference-architecture/multi-vendor-architecture.md
Labels: product:reference-architecture, size/m, pcx_team_review

#9882 Image cleanup 7 14
  .github/workflows/image-audit.yml
  assets/images/workers/tutorials/airtable/api-details.png
  assets/images/workers/tutorials/airtable/api-key.png
  assets/images/workers/tutorials/airtable/columns.png
  assets/images/workers/tutorials/airtable/form-submissions.png
  assets/images/workers/tutorials/airtable/new-base.png
Labels: size/xs, pcx_team_review

#9888 fix markdown for plan table
  content/support/Other Languages/日本語/CloudflareのPage Rulesを理解した上で設定する（Page Rulesチュートリアル）.md
Labels: size/s, product:support

#9892 [Support] Fix wrong table markdown in Chinese Page Rules Guide
  content/support/Other Languages/简体中文/了解和配置 Cloudflare Page Rules（页面规则教程）.md
Labels: size/s, product:support

#9893 [Ruleset Engine] Fix API links
  content/ruleset-engine/rulesets-api/view.md
Labels: product:ruleset-engine, size/xs, pcx_team_review

#9802 [Workers] Add Fetch to IP address section
  content/workers/platform/known-issues.md
Labels: product:workers, size/s

#9895 Changed DLP feature availability
  content/cloudflare-one/policies/data-loss-prevention/_index.md
Labels: product:cloudflare-one, size/xs

#9864 [Cloudflare One] add javascript code sample for validating authorization cookie
  content/cloudflare-one/identity/authorization-cookie/validating-json.md
Labels: product:cloudflare-one, size/s

#9896 [Spectrum] Updated Spectrum Overview page
  content/spectrum/_index.md
Labels: product:spectrum, size/s, pcx_team_review

#9868 Update firewall.md for DEX
  content/cloudflare-one/connections/connect-devices/warp/deployment/firewall.md
Labels: product:cloudflare-one, size/s

#9845 [ZT] Move Access app tutorials
  assets/images/cloudflare-one/zero-trust-security/aws-sso-saas/aws-application.png
  assets/images/cloudflare-one/zero-trust-security/aws-sso-saas/aws-settings.png
  assets/images/cloudflare-one/zero-trust-security/docusign/Screenshot 2021-09-27 at 13.01.49.png
  assets/images/cloudflare-one/zero-trust-security/docusign/custom-attribute-mapping.png
  assets/images/cloudflare-one/zero-trust-security/docusign/saml-attributes.png
  assets/images/cloudflare-one/zero-trust-security/zendesk-sso-saas/zendesk-attributes.png
  assets/images/cloudflare-one/zero-trust-security/zendesk-sso-saas/zendesk-fingerprint.png
  content/_redirects
  content/cloudflare-one/applications/configure-apps/saas-apps/_index.md
  content/cloudflare-one/applications/configure-apps/saas-apps/aws-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/docusign-access.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/hubspot-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
Labels: product:cloudflare-one, size/m, product:_redirects

#9902 [Spectrum] Close resource-group tag
  content/spectrum/_index.md
Labels: product:spectrum, size/xs

#9903 [ZT] LP visibility
  content/cloudflare-one/learning-paths/_index.md
  content/cloudflare-one/learning-paths/dns-filtering.md
  content/cloudflare-one/learning-paths/replace-vpn.md
Labels: product:cloudflare-one, size/s, pcx_team_review
