Repository cloudflare/cloudflare-docs, pull requests merged in 2023-01, with the labels that each got.

#6669 chore: use `path.Join` to avoid double slashes
  layouts/shortcodes/type-link.html
Labels: engineering

#5503 [Logs] Apply Overview redesign
  content/logs/_index.md
Labels: do-not-merge-yet

#7234 Update reports.md
  content/ddos-protection/reference/reports.md
Labels: product:ddos

#7116 [WAF] example of how the counting expression works
  content/waf/rate-limiting-rules/parameters.md
Labels: product:waf

#7217 [Pages] Add Pages changelog
  content/pages/platform/changelog.md
  content/pages/platform/functions/routing.md
  content/pages/platform/media/branch_alias_pr_comment.png
Labels: product:pages

#7358 Add DDoS change log entries for 2023-01-23
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
  content/ddos-protection/change-log/network/scheduled-changes.md
  content/ddos-protection/change-log/network/scheduled.json
Labels: product:ddos

#6932 Fully proxy API docs
  functions/api/[[path]].ts
Labels: engineering
