Repository cloudflare/cloudflare-docs, pull requests merged in 2024-10, with the labels that each got.

#17247 [KV] Removing "Welcome to Cloudflare Developer Channel" from KV tutorials.
  src/content/videos/index.yaml
Labels: size/xs

#17226 recreated PR16235 - Migrate Preact docs from wmr to create-preact
  src/content/docs/pages/framework-guides/deploy-a-preact-site.mdx
Labels: product:pages, size/s

#17253 Updating video page content types
  src/content/docs/d1/tutorials/build-a-comments-api/index.mdx
  src/content/docs/pages/tutorials/build-an-api-with-pages-functions/index.mdx
Labels: product:pages, product:d1, size/s

#17254 [AIG] Added redirects for evaluation
  public/_redirects
Labels: size/xs

#17255 [KV] Removing Welcome to Developer platform video from KV tutorials page.
  src/content/videos/index.yaml
Labels: size/xs

#17234 [Workers] Fix broken link in routing.mdx
  src/content/docs/workers/static-assets/routing.mdx
Labels: product:workers, size/xs

#17250 Fix heading sizes in Next.js docs
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
Labels: product:workers, size/s

#17207 [Speed] Adds TF support
  src/content/docs/speed/optimization/content/speed-brain.mdx
Labels: size/xs, product:speed

#17256 [Rules] Update functions.mdx
  src/content/docs/ruleset-engine/rules-language/functions.mdx
Labels: product:ruleset-engine, size/xs

#17229 [Speed] Clarify No HTTP/3 Support to Origin
  src/content/docs/speed/optimization/protocol/http3.mdx
Labels: size/xs, product:speed

#16835 [Docs Site] Convert schema function to TS
  functions/schema.ts
Labels: size/s

#17257 [AIG] redirects for /ai-gateway/evaluations//set-up-evaluations/
  public/_redirects
Labels: size/xs

#16839 [Docs Site] format astro files
  src/components/Details.astro
  src/components/DirectoryListing.astro
  src/components/GlossaryDefinition.astro
  src/components/HomepageHero.astro
  src/components/Markdown.astro
  src/components/models/responses/TextToImageResponses.astro
  src/components/overrides/SkipLink.astro
  src/pages/plans.astro
  src/pages/sponsorships.astro
Labels: size/xl

#17258 [AIG] Reorder the side nav bar
  src/content/docs/ai-gateway/changelog.mdx
  src/content/docs/ai-gateway/demos.mdx
  src/content/docs/ai-gateway/evaluations/index.mdx
  src/content/docs/ai-gateway/reference/index.mdx
Labels: size/xs, product:ai-gateway

#16066 Add user-installation + DNSSEC disabling to DNS over Discord
  src/content/docs/1.1.1.1/other-ways-to-use-1.1.1.1/dns-over-discord.mdx
Labels: product:1.1.1.1, size/s

#17197 Callout @opennextjs/cloudflare from Next.js Pages SSR docs
  src/content/docs/pages/framework-guides/nextjs/ssr/index.mdx
Labels: product:pages, size/xs

#16547 Fix Prisma migrate file format
  src/content/docs/d1/tutorials/d1-and-prisma-orm/index.mdx
Labels: product:d1, size/xs

#17238 [Workers AI] Remove duplicate Qwen JSON
  src/content/workers-ai-models/qwen.json
Labels: size/m

#16602 Doc: Update example to use ES module syntax.
  src/content/docs/images/transform-images/transform-via-workers.mdx
Labels: product:images, size/m

#16218 docs: add more information about `init` deprecation
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs

#17241 [Gateway] Add availability note to sandboxing
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#17227 [SSL/TLS] Add Client Certificates availability by plans
  src/content/plans/index.json
Labels: size/s

#17224 [Workers] Add await writer.close() to get promise
  src/content/docs/workers/runtime-apis/tcp-sockets.mdx
Labels: product:workers, size/xs

#17084 [Support]Update contacting-cloudflare-support.mdx
  src/content/docs/support/contacting-cloudflare-support.mdx
Labels: size/xs, product:support

#17239 [Workers] Version previews behind Access
  src/content/docs/workers/configuration/previews.mdx
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
Labels: product:workers, size/s

#17259 Release-Oct-1-2024
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/2024-10-01.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/s

#17186 New reference architecture diagram - Protect public networks with Cloudflare
  src/assets/images/reference-architecture/protect-public-networks-with-cloudflare/figure-1.svg
  src/assets/images/reference-architecture/protect-public-networks-with-cloudflare/figure-2.svg
  src/content/docs/reference-architecture/diagrams/network/protect-public-networks-with-cloudflare.mdx
  src/content/docs/reference-architecture/diagrams/network/protecting-sp-networks-from-ddos.mdx
Labels: product:reference-architecture, size/xl

#17265 [Gateway] Sandboxing changelog
  src/content/changelogs/gateway.yaml
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#17266 [Gateway] Clarify DNI + TLS decryption
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tls-decryption.mdx
Labels: product:cloudflare-one, size/s

#17000 Update semgrep.yml
  .github/workflows/semgrep.yml
Labels: size/xs

#16450 Inform client-filtering doesn't apply to test-command
  src/content/docs/fundamentals/api/how-to/restrict-tokens.mdx
Labels: size/xs, product:fundamentals

#17174 [QUEUES] Update `Use Queues from Durable Objects`
  src/content/docs/queues/examples/use-queues-with-durable-objects.mdx
Labels: product:queues, size/xs

#17261 [Security Center] Add note to Security Insights
  src/content/docs/security-center/security-insights/how-it-works.mdx
Labels: product:security-center, size/xs

#17275 [MWAN / MT] Partial errors
  src/content/docs/magic-transit/how-to/configure-magic-tunnel-alerts.mdx
  src/content/docs/magic-wan/configuration/common-settings/configure-magic-tunnel-alerts.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#16995 hyperdrive: nodejs_compat_v2
  src/content/changelogs/hyperdrive.yaml
  src/content/docs/hyperdrive/configuration/connect-to-postgres.mdx
Labels: size/s, product:hyperdrive

#17277 [MWAN, MT] Create dash partial
  src/content/docs/magic-transit/how-to/configure-magic-tunnel-alerts.mdx
  src/content/docs/magic-wan/configuration/common-settings/configure-magic-tunnel-alerts.mdx
  src/content/partials/magic-wan/magic-tunnel-health-alerts/setup-magic-tunnels-dash.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#17039 [KV] adjust kv docs for tiered cache and analytics for hot and cold reads
  src/content/docs/kv/api/read-key-value-pairs.mdx
  src/content/docs/kv/concepts/how-kv-works.mdx
Labels: size/m, product:kv

#17278 [Docs Site] Render Cursor responses with marked
  package-lock.json
  package.json
  src/pages/workers/ai.astro
Labels: size/m

#17271 [DO] Adding entry for DO changelog retrospectively.
  src/content/changelogs/durable-objects.yaml
  src/content/docs/durable-objects/observability/troubleshooting.mdx
Labels: product:durable-objects, size/s

#17281 [Logpush] document gateway dns new fields
  src/content/docs/logs/reference/log-fields/account/gateway_dns.mdx
Labels: product:logs, size/m

#17283 [Docs Site] Upgrade Mermaid to 11.2.1
  package-lock.json
  package.json
Labels: size/xs

#16586 fix: Adds code to extend DO base class
  src/content/docs/durable-objects/api/alarms.mdx
  src/content/docs/durable-objects/examples/alarms-api.mdx
  src/content/docs/durable-objects/examples/durable-object-in-memory-state.mdx
  src/content/docs/durable-objects/examples/use-kv-from-durable-objects.mdx
  src/content/docs/durable-objects/get-started/walkthrough.mdx
Labels: product:durable-objects, size/s

#17287 [Docs Site] Downgrade DOMPurify to 3.1.6
  package-lock.json
  package.json
Labels: size/xs

#17290 [Gateway] Remove archive limitation
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#17282 [IAM] Update Account Owned Tokens partial
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/s

#17101 Update health-details.mdx
  src/content/docs/load-balancing/understand-basics/health-details.mdx
Labels: product:load-balancing, size/xs

#17280 [Waiting Room] mention sessionsRevoked metrics
  src/content/docs/waiting-room/how-to/control-user-session.mdx
Labels: product:waiting-room, size/xs

#16707 Update minimum-tls.mdx
  src/content/docs/ssl/edge-certificates/additional-options/minimum-tls.mdx
Labels: product:ssl, size/s

#16852 [DNS] Update domain-status.mdx
  src/content/docs/dns/zone-setups/reference/domain-status.mdx
Labels: product:dns, size/xs

#16898 [SSL] Update bundling-methodologies.mdx
  src/content/docs/ssl/edge-certificates/custom-certificates/bundling-methodologies.mdx
Labels: product:ssl, size/xs

#16970 [SSL] Update byo-ca.mdx
  src/content/docs/ssl/client-certificates/byo-ca.mdx
Labels: product:ssl, size/xs

#17279 [PCX General task] Overview page audit
  src/content/docs/magic-firewall/how-to/index.mdx
  src/content/docs/magic-firewall/reference/index.mdx
  src/content/docs/magic-firewall/tutorials/graphql-analytics.mdx
  src/content/docs/magic-firewall/tutorials/index.mdx
Labels: size/s, product:magic-firewall

#16918 Promote Node.js compat
  src/content/docs/pages/functions/get-started.mdx
  src/content/docs/pages/functions/index.mdx
  src/content/docs/workers/runtime-apis/index.mdx
Labels: product:workers, product:pages, size/xs

#17296 [Style guide] Added more vars
  src/content/docs/style-guide/components/render.mdx
Labels: size/s, product:style-guide

#17160 [Vectorize] Mention index name reuse + high-precision scoring trigger
  src/content/docs/vectorize/best-practices/create-indexes.mdx
  src/content/docs/vectorize/best-practices/insert-vectors.mdx
  src/content/docs/vectorize/best-practices/query-vectors.mdx
Labels: size/s, product:vectorize

#17001 Fix broken template link
  src/content/docs/workers/languages/typescript/index.mdx
Labels: product:workers, size/xs

#17097 [DNS] Docs-in-dash landing page
  src/content/docs/dns/get-started.mdx
  src/content/docs/dns/manage-dns-records/index.mdx
Labels: product:dns, size/s

#17297 [MNM] Encrypted traffic tutorial
  src/content/docs/magic-network-monitoring/tutorials/encrypt-network-flow-data.mdx
Labels: size/s, product:magic-network-monitoring

#17306 Remove custom ports known issue
  src/content/docs/workers/platform/known-issues.mdx
Labels: product:workers, size/s

#17264 SQLite in DO clarifications:
  src/content/docs/durable-objects/api/storage-api.mdx
  src/content/docs/durable-objects/best-practices/access-durable-objects-storage.mdx
Labels: product:durable-objects, size/s

#16952 Changing usage model for ENT
  src/content/docs/workers/platform/pricing.mdx
Labels: product:workers, size/s

#17309 Remove Kody
  .github/ISSUE_TEMPLATE/engineering.yml
Labels: size/xs

#17310 Update ai-gateway.yaml
  src/content/changelogs/ai-gateway.yaml
Labels: size/xs

#17311 Support HTML entities in TOC
  package-lock.json
  package.json
  src/components/overrides/PageSidebar.astro
Labels: size/s

#17312 [Docs Site] Re-render Mermaid diagrams when theme changes
  package-lock.json
  package.json
  src/components/overrides/Head.astro
Labels: size/s

#17313 [MNM] Updated tutorial date
  src/content/docs/magic-network-monitoring/tutorials/encrypt-network-flow-data.mdx
Labels: size/xs, product:magic-network-monitoring

#17315 [DNS] Clarify IP address examples in round-robin-dns
  src/content/docs/dns/manage-dns-records/how-to/round-robin-dns.mdx
Labels: product:dns, size/xs

#17182 New get started tutorial with sqlite in DO
  src/content/docs/durable-objects/get-started/tutorial-with-sql-api.mdx
  src/content/docs/durable-objects/get-started/video-series/index.mdx
Labels: product:durable-objects, size/m

#17252 [Workers Assets] fix and clarify `not_found_handling` documentation
  src/content/docs/workers/static-assets/binding.mdx
  src/content/docs/workers/static-assets/routing.mdx
Labels: product:workers, size/s

#16923 Add note about application posture check path comparison
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/application-check.mdx
Labels: product:cloudflare-one, do-not-merge-yet, size/xs

#17321 [Magic Firewall] Update changelog with new UI improvements
  src/content/changelogs/magic-firewall.yaml
Labels: size/xs

#17322 [Docs] Update URLs (Hugo, old folder structure)
  README.md
  src/content/docs/ai-gateway/changelog.mdx
  src/content/docs/api-shield/changelog.mdx
  src/content/docs/bots/changelog.mdx
  src/content/docs/browser-rendering/changelog.mdx
  src/content/docs/d1/platform/changelog.mdx
  src/content/docs/ddos-protection/change-log/general-updates.mdx
  src/content/docs/docs-guide/manage-content/automation/process.mdx
  src/content/docs/docs-guide/manage-content/redirects/best-practices.mdx
  src/content/docs/docs-guide/manage-content/redirects/process.mdx
  src/content/docs/durable-objects/platform/changelog.mdx
  src/content/docs/fundamentals/api/reference/deprecations.mdx
  src/content/docs/fundamentals/basic-tasks/trace-request/changelog.mdx
  src/content/docs/fundamentals/reference/changelog/performance.mdx
  src/content/docs/fundamentals/reference/changelog/platform.mdx
  src/content/docs/fundamentals/reference/changelog/security.mdx
  src/content/docs/hyperdrive/platform/changelog.mdx
  src/content/docs/kv/platform/changelog.mdx
  src/content/docs/magic-cloud-networking/changelog.mdx
  src/content/docs/magic-firewall/changelog.mdx
  src/content/docs/magic-network-monitoring/changelog.mdx
  src/content/docs/magic-wan/changelog.mdx
  src/content/docs/network-interconnect/changelog.mdx
  src/content/docs/notifications/changelog.mdx
  src/content/docs/page-shield/changelog.mdx
  src/content/docs/pages/configuration/build-configuration.mdx
  src/content/docs/pages/configuration/build-image.mdx
  src/content/docs/pages/platform/changelog.mdx
  src/content/docs/queues/platform/changelog.mdx
  src/content/docs/r2/platform/changelog.mdx
  src/content/docs/radar/changelog.mdx
  src/content/docs/security-center/changelog.mdx
  src/content/docs/stream/changelog.mdx
  src/content/docs/style-guide/documentation-content-strategy/component-attributes/glossary-entry.mdx
  src/content/docs/style-guide/documentation-content-strategy/content-types/changelog.mdx
  src/content/docs/style-guide/documentation-content-strategy/file-conventions.mdx
  src/content/docs/style-guide/formatting/footnotes.mdx
  src/content/docs/style-guide/frontmatter/sidebar.mdx
  src/content/docs/tenant/changelog.mdx
  src/content/docs/turnstile/changelog.mdx
  src/content/docs/turnstile/community-resources.mdx
  src/content/docs/vectorize/platform/changelog.mdx
  src/content/docs/version-management/changelog.mdx
  src/content/docs/waf/change-log/general-updates.mdx
  src/content/docs/waf/change-log/managed-rulesets.mdx
  src/content/docs/waiting-room/changelog.mdx
  src/content/docs/web-analytics/changelog.mdx
  src/content/docs/workers-ai/changelog.mdx
  src/content/docs/workers/configuration/compatibility-dates.mdx
  src/content/docs/workers/platform/changelog/index.mdx
  src/content/docs/workers/platform/changelog/platform.mdx
  src/content/docs/workers/platform/changelog/wrangler.mdx
  src/content/docs/zaraz/changelog.mdx
  src/content/partials/cloudflare-one/casb/security-findings.mdx
Labels: product:workers, product:stream, product:pages, product:bots, product:waiting-room, product:page-shield, product:waf, product:r2, product:queues, product:d1, product:version-management, product:tenant, product:network-interconnect, product:security-center, product:api-shield, product:browser-rendering, product:durable-objects, size/m, product:turnstile, product:fundamentals, product:radar, product:magic-wan, product:ddos-protection, product:zaraz, product:magic-firewall, product:magic-network-monitoring, product:style-guide, product:kv, product:notifications, product:ai-gateway, product:workers-ai, product:vectorize, product:hyperdrive, product:docs-guide, product:web-analytics, product:magic-cloud-networking

#17299 [DNS] Per record CNAME flattening
  src/content/docs/dns/cname-flattening/set-up-cname-flattening.mdx
Labels: product:dns, size/s

#17323 Updated auto assignee
  .github/actions/assign-pr/index.ts
Labels: size/xs

#16315 wrangler download config command
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs

#17243 Clarify target and infra app setup
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
  src/content/docs/cloudflare-one/policies/gateway/network-policies/ssh-logging.mdx
  src/content/partials/cloudflare-one/access/add-target.mdx
  src/content/partials/cloudflare-one/ssh/ssh-proxy-ca-note.mdx
Labels: product:cloudflare-one, size/s

#17294 [DLP] Add file scanning context
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-profiles/advanced-settings.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/index.mdx
Labels: product:cloudflare-one, size/s, sub-product:data-loss-prevention

#17331 [Stream] Adding additional info about Allowed Origins
  src/content/docs/stream/viewing-videos/securing-your-stream.mdx
Labels: product:stream, size/xs

#17329 [ZT] Update WARP changelog
  src/content/changelogs/warp.yaml
Labels: size/s

#17319 Bot Management reference architecture diagram
  src/assets/images/reference-architecture/bot-management/bot-management-ra-diagram.svg
  src/content/docs/reference-architecture/diagrams/bots/bot-management.mdx
  src/content/docs/reference-architecture/diagrams/bots/index.mdx
Labels: product:reference-architecture, size/m

#17348 Fix typo in Next.js framework docs
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
Labels: product:workers, size/xs

#17276 [DO] Binding clarification to Get started for DO
  src/content/docs/durable-objects/get-started/walkthrough.mdx
Labels: product:durable-objects, size/xs

#17353 [CNI] Updated step to reflect dash changes
  src/content/docs/network-interconnect/express-cni/create-interconnects.mdx
Labels: product:network-interconnect, size/xs

#17354 [Codeownwers] Changed CNI from denise to marcio
  .github/CODEOWNERS
Labels: size/xs

#17356 [Logs] Adds Taegis link
  src/content/docs/logs/get-started/enable-destinations/third-party/taegis.mdx
Labels: product:logs, size/xs

#17349 add workers/frameworks and workers/static-assets code owner rules
  .github/CODEOWNERS
Labels: size/xs

#17362 [Style Guide] Link to Cloudflare dashboard convention
  src/content/docs/style-guide/formatting/structure/links.mdx
Labels: size/s, product:style-guide

#17358 Adding llama 3.1 video to the list of video tutorials
  src/content/videos/index.yaml
Labels: size/s

#17363 [Security Center] Miscategorization API
  src/content/docs/security-center/intel-apis/manage-miscategorization-reports.mdx
Labels: product:security-center, size/s

#17333 [Images] Added note about metadata in requests
  src/content/docs/images/upload-images/direct-creator-upload.mdx
  src/content/docs/images/upload-images/upload-URL.mdx
Labels: product:images, size/xs

#17341 Update implicit-vs-explicit-rendering.mdx
  src/content/docs/turnstile/tutorials/implicit-vs-explicit-rendering.mdx
Labels: size/xs, product:turnstile

#17365 [Docs] Update default PR assignment
  .github/actions/assign-pr/index.js
  .github/actions/assign-pr/index.ts
Labels: size/xs

#17367 [Docs Site] Fix ExternalResources cloudflareOnly prop
  src/components/ExternalResources.astro
  src/content/docs/style-guide/components/external-resources.mdx
Labels: size/s, product:style-guide

#17352 Release-Oct-7-2024
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/2024-10-07.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/m

#17332 [ZT] Fix sidenav casing
  src/content/docs/cloudflare-one/applications/non-http/short-lived-certificates-legacy.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-tls.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/locations/dns-resolver-ips.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/pac-files.mdx
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
  src/content/docs/cloudflare-one/identity/devices/access-integrations/mutual-tls-authentication.mdx
  src/content/docs/cloudflare-one/identity/service-tokens.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/payload-logging.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-profiles/integration-profiles.mdx
  src/content/docs/cloudflare-one/policies/gateway/application-app-types.mdx
  src/content/docs/cloudflare-one/policies/gateway/dns-policies/scheduled-dns-policies.mdx
  src/content/docs/cloudflare-one/policies/gateway/dns-policies/test-dns-filtering.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tenant-control.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/dns.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/http.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/network.mdx
  src/content/docs/cloudflare-one/policies/gateway/network-policies/ssh-logging.mdx
  src/content/docs/cloudflare-one/tutorials/clientless-access-private-dns.mdx
  src/content/docs/cloudflare-one/tutorials/entra-id-risky-users.mdx
  src/content/docs/cloudflare-one/tutorials/integrate-microsoft-mcas-teams.mdx
  src/content/docs/cloudflare-one/tutorials/m365-dedicated-egress-ips.mdx
  src/content/docs/cloudflare-one/tutorials/mysql-network-policy.mdx
  src/content/docs/cloudflare-one/tutorials/s3-buckets.mdx
  src/content/docs/cloudflare-one/tutorials/user-selectable-egress-ips.mdx
  src/content/docs/hyperdrive/configuration/connect-to-private-database.mdx
  src/content/docs/learning-paths/cybersafe/gateway-onboarding/gateway-create-cipa-policy.mdx
  src/content/docs/learning-paths/cybersafe/gateway-onboarding/gateway-create-test-policy.mdx
  src/content/docs/learning-paths/cybersafe/gateway-onboarding/gateway-update-local-resolver.mdx
  src/content/docs/learning-paths/replace-vpn/build-policies/create-policy.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-dns-policies/create-policy.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-dns-policies/onboard-dns.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-dns-policies/test-policy.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-egress-policies/egress-policies.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-http-policies/browser-isolation.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-http-policies/create-policy.mdx
  src/content/docs/security-center/indicator-feeds.mdx
Labels: product:cloudflare-one, product:security-center, size/m, product:learning-paths, product:hyperdrive

#17326 Update limits.mdx
  src/content/docs/ai-gateway/reference/limits.mdx
Labels: size/s, product:ai-gateway

#17372 [Docs Site] Temp. remove Kody from assignees
  .github/actions/assign-issue/index.js
  .github/actions/assign-issue/index.ts
  .github/workflows/anchor-link-audit.yml
  .github/workflows/api-links-crawl.yml
  .github/workflows/image-audit.yml
Labels: size/s

#17284 [Docs Site] Add TypeScriptExample component
  package-lock.json
  package.json
  src/components/TypeScriptExample.astro
  src/components/index.ts
  src/content/docs/style-guide/components/code.mdx
Labels: size/xl, product:style-guide

#17377 Update lb-ref-arch-3.svg
  src/assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-3.svg
Labels: size/m

#17371 Update bot-management-ra-diagram.svg
  src/assets/images/reference-architecture/bot-management/bot-management-ra-diagram.svg
Labels: size/m

#17375 [WAF] Add link
  src/content/docs/waf/detections/leaked-credentials/index.mdx
Labels: product:waf, size/xs

#17376 [WAF] Add link to Turnstile tutorial
  src/content/docs/waf/custom-rules/use-cases/challenge-bad-bots.mdx
Labels: product:waf, size/xs

#17381 [Gateway] Update Always blocked domain category name
  src/content/docs/cloudflare-one/policies/gateway/domain-categories.mdx
  src/content/partials/cloudflare-one/gateway/domain-categories.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#17374 [ZT] Add Mac MDM instructions for WARP cert
  src/content/docs/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cert-with-warp.mdx
Labels: product:cloudflare-one, size/s

#17380 [Bots] Verified bot categories string values
  src/content/docs/bots/reference/verified-bot-categories.mdx
Labels: product:bots, size/s

#17359 Hyperdrive: add rust-postgres
  src/content/docs/hyperdrive/configuration/connect-to-postgres.mdx
Labels: size/xs, product:hyperdrive

#17384 Document that alarms have been re-enabled for SQLite backed DOs
  src/content/changelogs/durable-objects.yaml
  src/content/docs/durable-objects/api/alarms.mdx
  src/content/docs/durable-objects/api/storage-api.mdx
  src/content/docs/durable-objects/index.mdx
Labels: product:durable-objects, size/s

#17388 Update index.mdx - fixing typo
  src/content/docs/aegis/about/index.mdx
Labels: size/xs, product:aegis

#17368 [D1] Adding two more projects into the Community projects page.
  src/content/docs/d1/reference/community-projects.mdx
Labels: product:d1, size/s

#17373 [D1] Adding info on resolving 'statement too long' errors while importing.
  src/content/docs/d1/build-with-d1/import-export-data.mdx
Labels: product:d1, size/s

#17273 [Workers assets] Update assets vitest mentions
  src/content/docs/workers/static-assets/index.mdx
  src/content/docs/workers/testing/vitest-integration/recipes.mdx
Labels: product:workers, size/xs

#17391 [CNI] Changes Express CNI to Directo CNI to match dash
  src/content/changelogs/network-interconnect.yaml
  src/content/docs/magic-transit/get-started.mdx
  src/content/docs/magic-transit/network-interconnect.mdx
  src/content/docs/magic-wan/network-interconnect.mdx
  src/content/docs/network-interconnect/about.mdx
  src/content/docs/network-interconnect/express-cni/create-interconnects.mdx
  src/content/docs/network-interconnect/express-cni/index.mdx
  src/content/docs/reference-architecture/architectures/sase.mdx
Labels: product:reference-architecture, product:network-interconnect, size/s, product:magic-transit, product:magic-wan

#17396 [Logs] Correct datadog destination
  src/content/docs/logs/get-started/enable-destinations/datadog.mdx
Labels: product:logs, size/xs

#17393 [D1] Statement too long fix
  src/content/docs/d1/build-with-d1/import-export-data.mdx
Labels: product:d1, size/s

#17360 docs: add new example with AI & R2
  src/content/apps/index.yaml
Labels: size/xs

#17395 [Logs] Adds filters table back
  src/content/docs/logs/reference/filters.mdx
Labels: product:logs, size/s

#17369 docs: add missing flag to d1 migrations list
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs

#17236 [ZT] RBI chrome extension
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/clientless-browser-isolation.mdx
Labels: product:cloudflare-one, size/s

#17406 Update cloudflare-sase-with-microsoft.mdx
  src/content/docs/reference-architecture/architectures/cloudflare-sase-with-microsoft.mdx
Labels: product:reference-architecture, size/xs

#16964 Set proper Ruby version and remove version minimum in favor of latest to prevent build errors.
  src/content/docs/pages/migrations/migrating-jekyll-from-github-pages.mdx
Labels: product:pages, size/s

#17402 Adding Hono video to the Hono framework page
  src/content/docs/pages/framework-guides/deploy-a-hono-site.mdx
  src/content/videos/index.yaml
Labels: product:pages, size/s

#17407 [Page Shield] Remove duplicated section
  src/content/docs/page-shield/how-it-works/malicious-script-detection.mdx
Labels: product:page-shield, size/xs

#17325 [API Shield] Fix SV2 Availability
  src/content/docs/api-shield/plans.mdx
  src/content/docs/api-shield/security/schema-validation/index.mdx
Labels: product:api-shield, size/s

#17410 Fix typo
  src/content/docs/workers/runtime-apis/bindings/service-bindings/index.mdx
Labels: product:workers, size/xs

#17390 Update user-agents.mdx
  src/content/partials/speed/user-agents.mdx
Labels: size/xs

#17412 Update ssh logs docs
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
Labels: product:cloudflare-one, size/xs

#16698 [ZT] Generic s2s
  src/content/docs/cloudflare-one/identity/devices/service-providers/crowdstrike.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/custom.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/index.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/kolide.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/microsoft.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/sentinelone.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/taniums2s.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/uptycs.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/workspace-one.mdx
  src/content/docs/cloudflare-one/tutorials/index.mdx
  src/content/partials/cloudflare-one/posture/add-service-provider.mdx
  src/content/partials/cloudflare-one/posture/configure-posture-check.mdx
  src/content/partials/cloudflare-one/posture/test-posture-provider.mdx
Labels: product:cloudflare-one, size/m

#17413 Update index.mdx
  src/content/docs/cloudflare-one/applications/non-http/index.mdx
Labels: product:cloudflare-one, size/xs

#17357 [Docs Site] Use Tippy.js for footnotes
  astro.config.ts
  package-lock.json
  package.json
  src/components/GlossaryTooltip.astro
  src/components/overrides/Head.astro
  src/components/overrides/PageSidebar.astro
  src/content/docs/style-guide/components/footnotes.mdx
  src/scripts/footnotes.ts
  src/scripts/mermaid.ts
  src/tooltips.css
  src/util/tippy.ts
Labels: size/m, product:style-guide

#17404 [Docs Site] Remove empty browser-isolation icon
  src/icons/browser-isolation.svg
Labels: size/xs

#17425 [Style Guide] Updated links rules
  src/content/docs/style-guide/formatting/structure/links.mdx
Labels: size/s, product:style-guide

#17397 [WAF] Improve API examples
  src/content/docs/waf/managed-rules/reference/exposed-credentials-check.mdx
  src/content/docs/waf/managed-rules/reference/sensitive-data-detection.mdx
Labels: product:waf, size/m

#17426 Added myself to Codeowners
  .github/CODEOWNERS
Labels: size/xs

#17400 [Analytics] Update data transfer definition.
  src/content/docs/analytics/account-and-zone-analytics/zone-analytics.mdx
Labels: product:analytics, size/xs

#17433 [Docs Site] Cache /_astro/* with immutable directive
  public/_headers
Labels: size/xs

#17431 [Style guide] Tutorial template
  src/content/docs/style-guide/documentation-content-strategy/content-types/tutorial.mdx
  templates/tutorial-template.mdx
Labels: size/m, product:style-guide

#17424 [LB] Adds more resources to LB overview page
  src/content/docs/load-balancing/index.mdx
Labels: product:load-balancing, size/s

#17434 [DDoS Protection] Remove Early Access badge
  src/content/docs/ddos-protection/botnet-threat-feed.mdx
Labels: size/xs, product:ddos-protection

#17408 fix broken link in qr-code-generator tutorial
  src/content/docs/workers/tutorials/build-a-qr-code-generator/index.mdx
Labels: product:workers, size/xs

#17327 Added clarification on using the IP of managed network endpoint and n…
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.mdx
Labels: product:cloudflare-one, size/xs

#17432 [Registrar] Remove obsolete description of premium domains
  src/content/docs/registrar/get-started/register-domain.mdx
  src/content/docs/registrar/get-started/transfer-domain-to-cloudflare.mdx
  src/content/docs/registrar/top-level-domains/index.mdx
  src/content/partials/registrar/restrictions.mdx
Labels: product:registrar, size/s

#17411 Update reference documentation for Worker accessible DO interfaces
  src/content/docs/durable-objects/api/alarms.mdx
  src/content/docs/durable-objects/api/id.mdx
  src/content/docs/durable-objects/api/index.mdx
  src/content/docs/durable-objects/api/namespace.mdx
  src/content/docs/durable-objects/api/storage-api.mdx
  src/content/docs/durable-objects/api/stub.mdx
  src/content/docs/durable-objects/api/webgpu.mdx
  src/content/docs/durable-objects/api/websockets.mdx
  src/content/docs/durable-objects/api/workers-rs.mdx
  src/content/docs/durable-objects/reference/data-location.mdx
Labels: product:durable-objects, size/l

#17292 [Workers] Fix wording in static-assets/routing.mdx
  src/content/docs/workers/static-assets/routing.mdx
Labels: product:workers, size/xs

#17437 [R2] Added Tutorials folder
  public/_redirects
  src/content/docs/r2/buckets/event-notifications.mdx
  src/content/docs/r2/tutorials/cloudflare-access.mdx
  src/content/docs/r2/tutorials/index.mdx
  src/content/docs/r2/tutorials/mastodon.mdx
  src/content/docs/r2/tutorials/postman.mdx
  src/content/docs/r2/tutorials/upload-logs-event-notifications.mdx
Labels: product:r2, size/s

#16697 [Workers] Update description of how smart placement works
  src/content/docs/pages/functions/smart-placement.mdx
  src/content/docs/workers/configuration/smart-placement.mdx
  src/content/docs/workers/observability/metrics-and-analytics.mdx
Labels: product:workers, product:pages, size/s

#17442 [Bots] Update partial for supported extensions on static resource protection
  src/content/partials/bots/static-resources-list.mdx
Labels: size/xs

#17386 Add section in Pages Functions Bindings page describing how to use Hyperdrive bindings
  src/content/docs/pages/functions/bindings.mdx
Labels: product:pages, size/s

#17444 [R2] Sidebar edits for Tutorials folder
  src/content/docs/r2/examples/authenticate-r2-auth-tokens.mdx
  src/content/docs/r2/tutorials/cloudflare-access.mdx
  src/content/docs/r2/tutorials/index.mdx
  src/content/docs/r2/tutorials/postman.mdx
Labels: product:r2, size/xs

#16513 Update remote-management.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/configure-tunnels/remote-management.mdx
Labels: product:cloudflare-one, size/s

#17288 [Images] Upload an image via a Worker
  src/components/models/code/TextToImageCode.astro
  src/content/docs/images/upload-images/upload-file-worker.mdx
Labels: product:images, size/s
