Repository cloudflare/cloudflare-docs, pull requests merged in 2024-09, with the labels that each got.

#16568 [WAF] Add numbers to get started steps
  src/content/docs/waf/get-started.mdx
Labels: product:waf, size/s

#16569 [WAF] Small fixes (post migration)
  src/content/docs/waf/reference/cloudflare-challenges.mdx
  src/content/docs/waf/reference/phases.mdx
Labels: product:waf, size/m

#16578 [CNI] Updated how-to choose a CNI
  src/content/changelogs/network-interconnect.yaml
  src/content/docs/network-interconnect/changelog.mdx
  src/content/docs/network-interconnect/express-cni/create-interconnects.mdx
Labels: product:network-interconnect, size/s

#16580 [WAF] Update layout of changelog pages
  src/content/docs/waf/change-log/2024-01-04.mdx
  src/content/docs/waf/change-log/2024-01-16.mdx
  src/content/docs/waf/change-log/2024-01-17---emergency-release.mdx
  src/content/docs/waf/change-log/2024-01-22---emergency-release.mdx
  src/content/docs/waf/change-log/2024-02-05.mdx
  src/content/docs/waf/change-log/2024-02-12.mdx
  src/content/docs/waf/change-log/2024-02-20.mdx
  src/content/docs/waf/change-log/2024-02-26.mdx
  src/content/docs/waf/change-log/2024-03-04.mdx
  src/content/docs/waf/change-log/2024-03-11.mdx
  src/content/docs/waf/change-log/2024-03-18.mdx
  src/content/docs/waf/change-log/2024-04-08.mdx
  src/content/docs/waf/change-log/2024-04-15.mdx
  src/content/docs/waf/change-log/2024-04-16---emergency-release.mdx
  src/content/docs/waf/change-log/2024-04-22.mdx
  src/content/docs/waf/change-log/2024-04-24.mdx
  src/content/docs/waf/change-log/2024-05-06.mdx
  src/content/docs/waf/change-log/2024-05-08.mdx
  src/content/docs/waf/change-log/2024-05-14.mdx
  src/content/docs/waf/change-log/2024-05-21.mdx
  src/content/docs/waf/change-log/2024-05-29---emergency-release.mdx
  src/content/docs/waf/change-log/2024-05-30---emergency-release.mdx
  src/content/docs/waf/change-log/2024-06-06---emergency-release.mdx
  src/content/docs/waf/change-log/2024-06-18---emergency-release.mdx
  src/content/docs/waf/change-log/2024-07-10.mdx
  src/content/docs/waf/change-log/2024-07-17.mdx
  src/content/docs/waf/change-log/2024-07-24.mdx
  src/content/docs/waf/change-log/2024-07-29.mdx
  src/content/docs/waf/change-log/2024-08-05.mdx
  src/content/docs/waf/change-log/2024-08-19.mdx
  src/content/docs/waf/change-log/2024-08-20---emergency-release.mdx
  src/content/docs/waf/change-log/historical-2018.mdx
  src/content/docs/waf/change-log/historical-2019.mdx
  src/content/docs/waf/change-log/historical-2020.mdx
  src/content/docs/waf/change-log/historical-2021.mdx
  src/content/docs/waf/change-log/historical-2022.mdx
  src/content/docs/waf/change-log/historical-2023.mdx
  src/content/docs/waf/change-log/index.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/xl

#16581 [Rules] Update parameter types
  src/content/docs/rules/url-forwarding/bulk-redirects/reference/parameters.mdx
Labels: product:rules, size/s

#16243 [Cache] Update caching-html-with-drupal.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/caching-html-with-drupal.mdx
Labels: size/xs, product:support

#16584 [Logs] Removes ownership step
  src/content/docs/logs/get-started/enable-destinations/azure/index.mdx
  src/content/docs/logs/get-started/enable-destinations/sumo-logic/index.mdx
Labels: product:logs, size/s

#16194 [WAF] Update parameters.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
Labels: product:waf, size/xs

#16583 [Ruleset Engine] Re-add tables with operators
  src/content/docs/ruleset-engine/rules-language/operators.mdx
Labels: product:ruleset-engine, size/m

#16571 APO - Update faq.mdx
  src/content/docs/automatic-platform-optimization/troubleshooting/faq.mdx
Labels: size/xs, product:automatic-platform-optimization

#16589 [MWAN] Update to Site Analytics
  src/content/docs/magic-wan/analytics/site-analytics.mdx
Labels: size/s, product:magic-wan

#16588 [Docs] Fix links with broken anchors
  src/content/docs/ddos-protection/managed-rulesets/http/configure-api.mdx
  src/content/docs/firewall/cf-dashboard/rule-preview.mdx
  src/content/docs/firewall/cf-firewall-rules/index.mdx
  src/content/docs/magic-firewall/about/list-types.mdx
  src/content/docs/magic-firewall/best-practices/extended-ruleset.mdx
  src/content/docs/magic-firewall/how-to/use-rules-list.mdx
  src/content/docs/reference-architecture/architectures/load-balancing.mdx
  src/content/docs/rules/reference/page-rules-migration/index.mdx
  src/content/docs/rules/transform/response-header-modification/index.mdx
  src/content/docs/ruleset-engine/rules-language/fields/http-request-header.mdx
  src/content/docs/ruleset-engine/rules-language/values.mdx
  src/content/docs/security-center/security-insights/index.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-ips-in-allowlist.mdx
  src/content/docs/waf/rate-limiting-rules/best-practices.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/docs/waf/tools/ip-access-rules/index.mdx
  src/content/docs/waf/tools/lists/custom-lists.mdx
Labels: product:firewall, product:rules, product:waf, product:ruleset-engine, product:reference-architecture, product:security-center, size/xl, product:ddos-protection, product:magic-firewall

#16591 [Email Security (formerly Area 1)] Clarify India MX Deployment
  src/content/partials/email-security/deployment/mx-geographic-locations.mdx
Labels: size/xs

#16402 Add "Replace insecure JS library" to brotli-compression-warning.mdx
  src/content/partials/speed/brotli-compression-warning.mdx
Labels: size/s

#16593 [Cache]Update query-string-sort.mdx
  src/content/docs/cache/advanced-configuration/query-string-sort.mdx
Labels: product:cache, size/xs

#16594 [DNS Firewall] Update FAQ with current behavior for SERVFAIL caching
  src/content/docs/dns/dns-firewall/faq.mdx
Labels: product:dns, size/s

#16596 [WAF] Update max custom block page size for rate limiting
  src/content/docs/waf/custom-rules/create-dashboard.mdx
  src/content/docs/waf/custom-rules/custom-rulesets/create-dashboard.mdx
  src/content/docs/waf/rate-limiting-rules/create-account-dashboard.mdx
  src/content/docs/waf/rate-limiting-rules/create-zone-dashboard.mdx
  src/content/partials/waf/custom-response-blocked-requests.mdx
Labels: product:waf, size/s

#16597 [Cache] Correct directive mistype
  src/content/docs/cache/concepts/cache-control.mdx
Labels: product:cache, size/xs

#16601 [D1] Removing redundant Overview tabs from the sidebar.
  src/content/docs/d1/build-with-d1/index.mdx
  src/content/docs/d1/configuration/index.mdx
  src/content/docs/d1/examples/index.mdx
  src/content/docs/d1/observability/index.mdx
  src/content/docs/d1/platform/index.mdx
  src/content/docs/d1/reference/index.mdx
Labels: product:d1, size/s

#16598 [Rules] Template to redirect from www to root
  src/content/docs/rules/url-forwarding/examples/redirect-www-to-root.mdx
Labels: product:rules, size/s

#16603 [KV] Removing redundant Overview pages from the sidebar.
  src/content/docs/kv/api/index.mdx
  src/content/docs/kv/concepts/index.mdx
  src/content/docs/kv/examples/index.mdx
  src/content/docs/kv/index.mdx
  src/content/docs/kv/platform/index.mdx
  src/content/docs/kv/reference/index.mdx
Labels: size/s, product:kv

#16606 Update batching-retries.mdx
  src/content/docs/queues/configuration/batching-retries.mdx
Labels: product:queues, size/xs

#16566 r2: list ordering
  src/content/docs/r2/api/workers/workers-api-reference.mdx
Labels: product:r2, size/xs

#16607 [Bug] Reformat message
  src/content/changelogs/d1.yaml
Labels: size/xs

#16561 [API Shield] Update supported hostname variables + other edits
  src/content/changelogs/api-shield.yaml
  src/content/docs/api-shield/management-and-monitoring/index.mdx
  src/content/docs/api-shield/security/volumetric-abuse-detection.mdx
Labels: product:api-shield, size/s

#16599 Update cloudflare-sase-with-microsoft.mdx
  src/content/docs/reference-architecture/architectures/cloudflare-sase-with-microsoft.mdx
Labels: product:reference-architecture, size/xs

#16577 change incorrect `connStr` to correct `DB_URL` env var
  src/content/docs/workers/tutorials/postgres/index.mdx
Labels: product:workers, size/xs

#16608 Release-Sept-3-2024: Flipping 1 detection
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/2024-09-03.mdx
Labels: product:waf, size/s

#16613 Release-Sept-3-2024: Scheduled Changes
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/s

#16208 [DLP] Exact Data Match multi-entry
  src/content/changelogs/dlp.yaml
  src/content/docs/cloudflare-one/account-limits.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/datasets.mdx
Labels: product:cloudflare-one, do-not-merge-yet, size/s, sub-product:data-loss-prevention

#16585 command is lack of "npx"
  src/content/docs/r2/api/workers/workers-api-usage.mdx
Labels: product:r2, size/xs

#16616 [ZT] Linux OS version extra - 2
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/os-version.mdx
Labels: product:cloudflare-one, size/s

#16435 [KV] Overhaul KV API docs
  src/content/docs/kv/api/delete-key-value-pairs.mdx
  src/content/docs/kv/api/list-keys.mdx
  src/content/docs/kv/api/read-key-value-pairs.mdx
  src/content/docs/kv/api/write-key-value-pairs.mdx
Labels: size/m, product:kv

#16618 [KV} typo in static assets example for kv
  src/content/docs/kv/examples/workers-kv-to-serve-assets.mdx
Labels: size/xs, product:kv

#16611 [Rules] Rename dynamic redirects to single redirects
  src/content/docs/rules/page-rules/reference/recommended-rules.mdx
  src/content/docs/rules/reference/page-rules-migration/index.mdx
  src/content/docs/rules/url-forwarding/examples/perform-mobile-redirects.mdx
  src/content/docs/rules/url-forwarding/examples/redirect-admin-https.mdx
  src/content/docs/rules/url-forwarding/examples/redirect-all-different-hostname.mdx
  src/content/docs/rules/url-forwarding/examples/redirect-country-subdomains.mdx
  src/content/docs/rules/url-forwarding/examples/remove-locale-url.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-api.mdx
  src/content/docs/ssl/edge-certificates/additional-options/always-use-https.mdx
  src/content/docs/ssl/edge-certificates/encrypt-visitor-traffic.mdx
  src/content/partials/rules/url-forwarding/different-hostname-example.mdx
Labels: product:rules, product:ssl, size/s

#16476 hid overviews on ai gateway
  .vscode/settings.json
  src/content/docs/ai-gateway/configuration/index.mdx
  src/content/docs/ai-gateway/demos.mdx
  src/content/docs/ai-gateway/get-started.mdx
  src/content/docs/ai-gateway/providers/anthropic.mdx
  src/content/docs/ai-gateway/providers/azureopenai.mdx
  src/content/docs/ai-gateway/providers/bedrock.mdx
  src/content/docs/ai-gateway/providers/cohere.mdx
  src/content/docs/ai-gateway/providers/google-ai-studio.mdx
  src/content/docs/ai-gateway/providers/groq.mdx
  src/content/docs/ai-gateway/providers/huggingface.mdx
  src/content/docs/ai-gateway/providers/index.mdx
  src/content/docs/ai-gateway/providers/mistral.mdx
  src/content/docs/ai-gateway/providers/openai.mdx
  src/content/docs/ai-gateway/providers/perplexity.mdx
  src/content/docs/ai-gateway/providers/replicate.mdx
  src/content/docs/ai-gateway/providers/universal.mdx
  src/content/docs/ai-gateway/providers/vertex.mdx
  src/content/docs/ai-gateway/providers/workersai.mdx
  src/content/docs/ai-gateway/reference/index.mdx
  src/content/docs/ai-gateway/tutorials/index.mdx
Labels: size/m, product:ai-gateway

#16625 [MCN] Refined text
  src/content/docs/magic-cloud-networking/index.mdx
Labels: size/xs, product:magic-cloud-networking

#16624 [Rules] Add Cloud Connector example using Terraform
  src/content/docs/rules/cloud-connector/examples/route-images-to-aws-s3-using-terraform.mdx
Labels: product:rules, size/s

#16627 [MWAN] Added warning box
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/prioritized-traffic.mdx
Labels: size/s, product:magic-wan

#16617 [Pulumi] Recreate tutorial
  src/content/docs/pulumi/tutorial/add-site.mdx
  src/content/docs/pulumi/tutorial/hello-world.mdx
  src/content/docs/pulumi/tutorial/index.mdx
  src/content/docs/pulumi/tutorial/manage-secrets.mdx
Labels: size/m, product:pulumi

#16626 [Magic Firewall] Clarify bucket setup
  src/content/docs/magic-firewall/packet-captures/pcaps-bucket-setup.mdx
Labels: size/xs, product:magic-firewall

#16556 [D1] Location Hints Update
  src/content/docs/d1/configuration/data-location.mdx
Labels: product:d1, size/s

#16567 [Fundamentals] API deprecations
  src/content/changelogs/api-deprecations.yaml
  src/content/docs/fundamentals/api/reference/deprecations.mdx
Labels: size/l, product:fundamentals

#16628 Hid overview on Workers AI
  src/content/docs/workers-ai/configuration/index.mdx
  src/content/docs/workers-ai/function-calling/embedded/examples/index.mdx
  src/content/docs/workers-ai/platform/index.mdx
Labels: size/s, product:workers-ai

#16361 Render-aig
  src/content/docs/ai-gateway/providers/anthropic.mdx
  src/content/docs/ai-gateway/providers/openai.mdx
  src/content/docs/ai-gateway/tutorials/create-first-aig-workers.mdx
Labels: size/s, product:ai-gateway

#16633 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#16629 [ZT] remove empty page
  public/_redirects
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/kubectl.mdx
Labels: product:cloudflare-one, size/xs

#16531 [Apps] Update index.mdx
  src/content/docs/support/more-dashboard-apps/cloudflare-apps/index.mdx
Labels: size/xs, product:support

#16370 [APO] Update caching-static-html-with-magento-business-and-enterprise…
  src/content/docs/support/third-party-software/e-commerce/caching-static-html-with-magento-business-and-enterprise-only.mdx
Labels: size/xs, product:support

#16453 Redirect /workers/ai to /workers-ai
  public/_redirects
Labels: size/xs

#16637 [ZT] Fix metric type for UDP Total Sessions
  src/content/docs/cloudflare-one/connections/connect-networks/monitor-tunnels/metrics.mdx
Labels: product:cloudflare-one, size/xs

#16635 [Docs] Remove duplicated H1's
  src/content/docs/d1/observability/audit-logs.mdx
  src/content/docs/rules/cloud-connector/create-api.mdx
  src/content/docs/rules/cloud-connector/create-dashboard.mdx
  src/content/docs/rules/cloud-connector/providers.mdx
  src/content/docs/vectorize/platform/limits.mdx
  src/content/docs/vectorize/reference/metadata-filtering.mdx
Labels: product:rules, product:d1, size/m, product:vectorize

#16636 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#16570 Update fauna as having a db integration
  src/content/docs/workers/databases/connecting-to-databases.mdx
Labels: product:workers, size/xs

#16620 Pin node@22 with Volta
  package.json
Labels: size/xs

#16400 [KV] Wrangler-KV Command Update
  src/content/docs/kv/reference/kv-commands.mdx
  src/content/docs/workers/wrangler/commands.mdx
  src/content/partials/workers/wrangler-commands/kv.mdx
Labels: product:workers, size/xl, product:kv

#16643 fix: invalid link
  src/content/docs/ssl/reference/migration-guides/lets-encrypt-chain.mdx
  src/content/docs/ssl/troubleshooting/faq.mdx
Labels: product:ssl, size/xs

#16644 [WAF] Clarify behavior of IP Access rules
  src/content/docs/waf/tools/ip-access-rules/index.mdx
Labels: product:waf, size/s

#16600 [DNS] Records quota for free zones
  src/content/docs/dns/manage-dns-records/index.mdx
  src/content/docs/dns/troubleshooting/faq.mdx
  src/content/plans/index.json
Labels: product:dns, size/s

#16471 [SSL] Update ssl-only-origin-pull.mdx
  src/content/docs/ssl/origin-configuration/ssl-modes/ssl-only-origin-pull.mdx
  src/content/partials/ssl/change-encryption-mode-api.mdx
Labels: product:ssl, size/s

#16648 [Magic, CNI] Corrected content type
  src/content/docs/magic-cloud-networking/changelog.mdx
  src/content/docs/magic-wan/changelog.mdx
  src/content/docs/network-interconnect/changelog.mdx
Labels: product:network-interconnect, size/s, product:magic-wan, product:magic-cloud-networking

#16649 [DO] Overview pages audit
  src/content/docs/durable-objects/api/index.mdx
  src/content/docs/durable-objects/best-practices/index.mdx
  src/content/docs/durable-objects/examples/index.mdx
  src/content/docs/durable-objects/observability/index.mdx
  src/content/docs/durable-objects/platform/index.mdx
  src/content/docs/durable-objects/reference/index.mdx
Labels: product:durable-objects, size/s

#16647 [Cache] Updates smart tiered cache caveats
  src/content/docs/cache/how-to/tiered-cache.mdx
Labels: product:cache, size/xs

#16650 [Magic Firewall] Changelog
  src/content/changelogs/magic-firewall.yaml
  src/content/docs/magic-firewall/changelog.mdx
Labels: size/s, product:magic-firewall

#16614 [APO] Update activate-cf-wp-plugin.mdx
  src/content/docs/automatic-platform-optimization/get-started/activate-cf-wp-plugin.mdx
Labels: size/xs, product:automatic-platform-optimization

#16640 Fix variable name in email error handling
  src/content/docs/developer-spotlight/tutorials/handle-form-submission-with-astro-resend.mdx
Labels: size/xs, product:developer-spotlight

#16654 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#16052 D1 billing observability
  src/content/docs/d1/observability/billing.mdx
Labels: product:d1, size/s

#16638 [Workers] Hide overview pages as necessary
  src/content/docs/reference-architecture/diagrams/serverless/a-b-testing-using-workers.mdx
  src/content/docs/reference-architecture/diagrams/serverless/serverless-etl.mdx
  src/content/docs/reference-architecture/diagrams/serverless/serverless-global-apis.mdx
  src/content/docs/workers/configuration/cron-triggers.mdx
  src/content/docs/workers/configuration/index.mdx
  src/content/docs/workers/databases/index.mdx
  src/content/docs/workers/get-started/index.mdx
  src/content/docs/workers/index.mdx
  src/content/docs/workers/observability/index.mdx
  src/content/docs/workers/observability/logging/index.mdx
  src/content/docs/workers/reference/index.mdx
  src/content/docs/workers/reference/security-model.mdx
  src/content/docs/workers/wrangler/migration/index.mdx
  src/content/docs/workers/wrangler/migration/v1-to-v2/index.mdx
Labels: product:workers, product:reference-architecture, size/m

#16587 [Speed] Adds Speculation docs
  src/content/docs/speed/optimization/content/speculation.mdx
  src/content/plans/index.json
Labels: size/m, product:speed

#16311 Update settings.mdx
  src/content/docs/cache/how-to/cache-rules/settings.mdx
Labels: product:cache, size/xs

#16655 [MT] Added BYOIP to related products
  src/content/docs/magic-transit/index.mdx
Labels: size/xs, product:magic-transit

#16662 [Speed] Adds info about speculation rules header.
  src/content/docs/speed/optimization/content/speculation.mdx
Labels: size/xs, product:speed

#16664 [Style guide] Clarified to use only 2 note styles
  src/content/docs/style-guide/components/asides.mdx
Labels: size/s, product:style-guide

#16661 [Gateway] Egress policies Source Internal IP selector
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
  src/content/partials/cloudflare-one/gateway/selectors/source-internal-ip.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#16660 Add link to TCP resets and timeouts blog post
  src/content/docs/radar/glossary.mdx
Labels: size/xs, product:radar

#16657 [SSL] Surface LE chain update troubleshooting in more places
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/reference/troubleshooting.mdx
  src/content/docs/ssl/edge-certificates/custom-certificates/troubleshooting.mdx
  src/content/docs/ssl/reference/migration-guides/lets-encrypt-chain.mdx
  src/content/docs/ssl/troubleshooting/general-ssl-errors.mdx
  src/content/docs/ssl/troubleshooting/mixed-content-errors.mdx
  src/content/docs/ssl/troubleshooting/too-many-redirects.mdx
  src/content/docs/ssl/troubleshooting/version-cipher-mismatch.mdx
Labels: product:ssl, product:cloudflare-for-platforms, size/s

#16666 [Workers AI] Model updates
  src/content/workers-ai-models/bart-large-cnn.yaml
  src/content/workers-ai-models/bge-base-en-v1.5.yaml
  src/content/workers-ai-models/bge-large-en-v1.5.yaml
  src/content/workers-ai-models/bge-small-en-v1.5.yaml
  src/content/workers-ai-models/deepseek-coder-6.7b-base-awq.yaml
  src/content/workers-ai-models/deepseek-coder-6.7b-instruct-awq.yaml
  src/content/workers-ai-models/deepseek-math-7b-instruct.yaml
  src/content/workers-ai-models/detr-resnet-50.yaml
  src/content/workers-ai-models/discolm-german-7b-v1-awq.yaml
  src/content/workers-ai-models/distilbert-sst-2-int8.yaml
  src/content/workers-ai-models/dreamshaper-8-lcm.yaml
  src/content/workers-ai-models/falcon-7b-instruct.yaml
  src/content/workers-ai-models/gemma-2b-it-lora.yaml
  src/content/workers-ai-models/gemma-7b-it-lora.yaml
  src/content/workers-ai-models/gemma-7b-it.yaml
  src/content/workers-ai-models/hermes-2-pro-mistral-7b.yaml
  src/content/workers-ai-models/llama-2-13b-chat-awq.yaml
  src/content/workers-ai-models/llama-2-7b-chat-fp16.yaml
  src/content/workers-ai-models/llama-2-7b-chat-hf-lora.yaml
  src/content/workers-ai-models/llama-2-7b-chat-int8.yaml
  src/content/workers-ai-models/llama-3-8b-instruct-awq.yaml
  src/content/workers-ai-models/llama-3-8b-instruct.yaml
  src/content/workers-ai-models/llama-3.1-8b-instruct.yaml
  src/content/workers-ai-models/llamaguard-7b-awq.yaml
  src/content/workers-ai-models/llava-1.5-7b-hf.yaml
  src/content/workers-ai-models/m2m100-1.2b.yaml
  src/content/workers-ai-models/mistral-7b-instruct-v0.1-awq.yaml
  src/content/workers-ai-models/mistral-7b-instruct-v0.1.yaml
  src/content/workers-ai-models/mistral-7b-instruct-v0.2-lora.yaml
  src/content/workers-ai-models/mistral-7b-instruct-v0.2.yaml
  src/content/workers-ai-models/neural-chat-7b-v3-1-awq.yaml
  src/content/workers-ai-models/openchat-3.5-0106.yaml
  src/content/workers-ai-models/openhermes-2.5-mistral-7b-awq.yaml
  src/content/workers-ai-models/phi-2.yaml
  src/content/workers-ai-models/qwen1.5-0.5b-chat.yaml
  src/content/workers-ai-models/qwen1.5-1.8b-chat.yaml
  src/content/workers-ai-models/qwen1.5-14b-chat-awq.yaml
  src/content/workers-ai-models/qwen1.5-7b-chat-awq.yaml
  src/content/workers-ai-models/resnet-50.yaml
  src/content/workers-ai-models/sqlcoder-7b-2.yaml
  src/content/workers-ai-models/stable-diffusion-v1-5-img2img.yaml
  src/content/workers-ai-models/stable-diffusion-v1-5-inpainting.yaml
  src/content/workers-ai-models/stable-diffusion-xl-base-1.0.yaml
  src/content/workers-ai-models/stable-diffusion-xl-lightning.yaml
  src/content/workers-ai-models/starling-lm-7b-beta.yaml
  src/content/workers-ai-models/tinyllama-1.1b-chat-v1.0.yaml
  src/content/workers-ai-models/uform-gen2-qwen-500m.yaml
  src/content/workers-ai-models/una-cybertron-7b-v2-bf16.yaml
  src/content/workers-ai-models/whisper-tiny-en.yaml
  src/content/workers-ai-models/whisper.yaml
  src/content/workers-ai-models/zephyr-7b-beta-awq.yaml
Labels: size/m

#16670 Update explore-workers-ai-models-using-a-jupyter-notebook.mdx
  src/content/docs/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.mdx
Labels: size/xs, product:workers-ai

#16669 [AI] Update build-a-retrieval-augmented-generation-ai.mdx
  src/content/docs/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.mdx
Labels: size/s, product:workers-ai

#16667 [Apps] Update managing-cloudflare-apps.mdx
  src/content/docs/support/more-dashboard-apps/cloudflare-apps/managing-cloudflare-apps.mdx
Labels: size/xs, product:support

#16656 Queues wall time
  src/content/docs/queues/platform/limits.mdx
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, product:queues, size/xs

#16672 cURL typo
  src/content/docs/speed/optimization/content/speculation.mdx
Labels: size/xs, product:speed

#16609 Updates Node.js documentation to account for node_compat_v2
  src/content/docs/browser-rendering/platform/wrangler.mdx
  src/content/docs/hyperdrive/configuration/connect-to-postgres.mdx
  src/content/docs/hyperdrive/tutorials/serverless-timeseries-api-with-timescale/index.mdx
  src/content/docs/workers/configuration/compatibility-dates.mdx
  src/content/docs/workers/runtime-apis/nodejs/index.mdx
  src/content/docs/workers/tutorials/build-a-qr-code-generator/index.mdx
  src/content/docs/workers/tutorials/postgres/index.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/partials/workers/nodejs-compat-howto.mdx
Labels: product:workers, product:browser-rendering, size/m, product:hyperdrive

#16652 [Hyperdrive] Removing redundant Overview pages from the sidebar.
  src/content/docs/hyperdrive/configuration/index.mdx
  src/content/docs/hyperdrive/examples/index.mdx
  src/content/docs/hyperdrive/observability/index.mdx
  src/content/docs/hyperdrive/platform/index.mdx
  src/content/docs/hyperdrive/reference/index.mdx
Labels: size/s, product:hyperdrive

#16658 [D1] Write operation definition and pricing update
  src/content/docs/d1/platform/pricing.mdx
  src/content/partials/workers/d1-pricing.mdx
Labels: product:d1, size/s

#16675 [Speed] Adds speculation to example list
  src/content/docs/fundamentals/reference/cdn-cgi-endpoint.mdx
Labels: size/xs, product:fundamentals

#16623 [Rules] Add templates
  src/content/changelogs/rules.yaml
  src/content/docs/cache/how-to/cache-rules/index.mdx
  src/content/docs/rules/compression-rules/index.mdx
  src/content/docs/rules/configuration-rules/index.mdx
  src/content/docs/rules/origin-rules/index.mdx
  src/content/docs/rules/snippets/index.mdx
  src/content/docs/rules/transform/index.mdx
  src/content/docs/rules/url-forwarding/index.mdx
  src/content/partials/rules/rules-templates.mdx
Labels: product:rules, product:cache, size/m

#16676 [Speed] Adds caveat to Speculation docs
  src/content/docs/speed/optimization/content/speculation.mdx
Labels: size/xs, product:speed

#16678 [Ruleset Engine] Fix broken links (post migration)
  src/content/docs/ruleset-engine/rules-language/fields/dynamic-fields.mdx
  src/content/docs/ruleset-engine/rules-language/fields/standard-fields.mdx
Labels: product:ruleset-engine, size/s

#16677 Improve wording in Magic WAN connector's static WAN config
  src/content/docs/magic-wan/configuration/connector/configure-hardware-connector/index.mdx
Labels: size/xs, product:magic-wan

#16681 [Cache] Updates plan info for Etags
  src/content/plans/index.json
Labels: size/xs

#16634 Added limits page AI Gateway
  src/content/docs/ai-gateway/reference/limits.mdx
  src/content/partials/ai-gateway/limits-increase.mdx
Labels: size/s, product:ai-gateway

#16116 [SSL] Update ech.mdx
  src/content/docs/ssl/edge-certificates/ech.mdx
Labels: product:ssl, size/xs

#16684 Update cache-responses.mdx
  src/content/docs/cache/concepts/cache-responses.mdx
Labels: product:cache, size/s

#16686 [MWAN] Improve Get started page
  src/content/docs/magic-wan/get-started.mdx
Labels: size/s, product:magic-wan

#16659 [Chore] Update OneTrust
  astro.config.mjs
  src/components/OneTrust.astro
  src/components/overrides/Footer.astro
  src/components/overrides/SkipLink.astro
Labels: size/s

#16685 Added supported providers on costs
  src/content/docs/ai-gateway/observability/costs.mdx
  src/content/docs/ai-gateway/observability/index.mdx
Labels: size/s, product:ai-gateway

#16687 [WAF, other] Update overview pages
  src/content/docs/china-network/concepts/index.mdx
  src/content/docs/china-network/reference/index.mdx
  src/content/docs/page-shield/best-practices/index.mdx
  src/content/docs/page-shield/detection/index.mdx
  src/content/docs/page-shield/reference/index.mdx
  src/content/docs/rules/cache-rules.mdx
  src/content/docs/rules/page-rules/how-to/index.mdx
  src/content/docs/rules/page-rules/reference/index.mdx
  src/content/docs/rules/page-rules/troubleshooting/index.mdx
  src/content/docs/rules/reference/index.mdx
  src/content/docs/rules/reference/link-rule-language.mdx
  src/content/docs/rules/reference/page-rules-migration.mdx
  src/content/docs/rules/transform/request-header-modification/reference/index.mdx
  src/content/docs/rules/transform/response-header-modification/reference/index.mdx
  src/content/docs/rules/transform/url-rewrite/reference/index.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/reference/index.mdx
  src/content/docs/ruleset-engine/basic-operations/index.mdx
  src/content/docs/ruleset-engine/index.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-examples/index.mdx
  src/content/docs/ruleset-engine/reference/index.mdx
  src/content/docs/ruleset-engine/rules-language/fields/index.mdx
  src/content/docs/ruleset-engine/rules-language/index.mdx
  src/content/docs/waf/analytics/index.mdx
  src/content/docs/waf/analytics/security-analytics.mdx
  src/content/docs/waf/custom-rules/use-cases/index.mdx
  src/content/docs/waf/managed-rules/payload-logging/command-line/index.mdx
  src/content/docs/waf/managed-rules/reference/index.mdx
  src/content/docs/waf/managed-rules/reference/owasp-core-ruleset/link-configure-terraform.mdx
  src/content/docs/waf/reference/index.mdx
  src/content/docs/waf/reference/legacy/index.mdx
  src/content/docs/waf/reference/migration-guides/index.mdx
  src/content/docs/waf/tools/index.mdx
  src/content/docs/waf/tools/lists/link-bulk-redirect-lists.mdx
  src/content/docs/waf/tools/lists/lists-api/index.mdx
  src/content/docs/waf/tools/scrape-shield/index.mdx
  src/content/docs/waf/troubleshooting/index.mdx
Labels: product:rules, product:page-shield, product:waf, product:ruleset-engine, product:china-network, size/m

#16691 [Cache]Update cache-responses.mdx
  src/content/docs/cache/concepts/cache-responses.mdx
Labels: product:cache, size/xs

#16690 [WAF] Custom CSP not supported in challenge pages
  src/content/docs/waf/reference/cloudflare-challenges.mdx
Labels: product:waf, size/xs

#16373 Gradual rollout updates
  src/content/docs/workers/configuration/secrets.mdx
  src/content/docs/workers/configuration/versions-and-deployments/gradual-deployments.mdx
  src/content/docs/workers/configuration/versions-and-deployments/index.mdx
  src/content/docs/workers/configuration/versions-and-deployments/rollbacks.mdx
  src/content/docs/workers/platform/limits.mdx
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/m

#16322 Update get-started.mdx
  src/content/docs/pages/framework-guides/deploy-a-docusaurus-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-hono-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-nuxt-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-qwik-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-react-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-remix-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-solid-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-svelte-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-vite3-project.mdx
  src/content/docs/pages/framework-guides/deploy-a-vue-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-analog-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-angular-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-astro-site.mdx
  src/content/docs/pages/framework-guides/nextjs/ssr/get-started.mdx
Labels: product:pages, size/m

#16692 [Email Security (formerly Area 1)] Update India deployment
  src/content/partials/email-security/deployment/bcc-table-geographic-locations.mdx
  src/content/partials/email-security/deployment/mx-geographic-locations.mdx
Labels: size/s

#16694 Update costs.mdx
  src/content/docs/ai-gateway/observability/costs.mdx
Labels: size/xs, product:ai-gateway

#16674 Fix command output formatting
  src/content/docs/cloudflare-one/connections/connect-networks/private-net/warp-connector.mdx
Labels: product:cloudflare-one, size/xs

#16696 Update limits.mdx
  src/content/docs/ai-gateway/reference/limits.mdx
Labels: size/xs, product:ai-gateway

#16645 [WR] Adds page for control user session
  src/content/docs/waiting-room/how-to/control-user-session.mdx
  src/content/docs/waiting-room/reference/configuration-settings.mdx
  src/content/plans/index.json
Labels: product:waiting-room, size/s

#16622 Update edit-member-permissions.mdx
  src/content/partials/fundamentals/edit-member-permissions.mdx
Labels: size/s

#16425 [Email Security] Zero Trust Email Security documentation
  src/assets/images/email-security/deployment/api-setup/e-sec-api-deployment-diagram.png
  src/content/docs/cloudflare-one/api-terraform/index.mdx
  src/content/docs/cloudflare-one/email-security/auto-moves.mdx
  src/content/docs/cloudflare-one/email-security/detection-settings/additional-detections.mdx
  src/content/docs/cloudflare-one/email-security/detection-settings/allow-policies.mdx
  src/content/docs/cloudflare-one/email-security/detection-settings/blocked-senders.mdx
  src/content/docs/cloudflare-one/email-security/detection-settings/impersonation-registry.mdx
  src/content/docs/cloudflare-one/email-security/detection-settings/index.mdx
  src/content/docs/cloudflare-one/email-security/detection-settings/trusted-domains.mdx
  src/content/docs/cloudflare-one/email-security/directories/index.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-es-directories.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-ms-directories/index.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-ms-directories/manage-groups-directory.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-ms-directories/manage-users-directory.mdx
  src/content/docs/cloudflare-one/email-security/index.mdx
  src/content/docs/cloudflare-one/email-security/phish-guard.mdx
  src/content/docs/cloudflare-one/email-security/reference/dispositions-and-attributes.mdx
  src/content/docs/cloudflare-one/email-security/reference/how-es-detects-phish.mdx
  src/content/docs/cloudflare-one/email-security/reference/index.mdx
  src/content/docs/cloudflare-one/email-security/setup/api-deployment/index.mdx
  src/content/docs/cloudflare-one/email-security/setup/api-deployment/office365-api.mdx
  src/content/docs/cloudflare-one/email-security/setup/index.mdx
  src/content/docs/cloudflare-one/insights/email-monitoring/index.mdx
  src/content/docs/cloudflare-one/insights/email-monitoring/phish-submissions.mdx
  src/content/docs/cloudflare-one/insights/email-monitoring/phishing-report.mdx
  src/content/docs/cloudflare-one/insights/email-monitoring/search-email.mdx
  src/content/docs/cloudflare-one/roles-permissions.mdx
  src/content/partials/cloudflare-one/email-security/detect-phish.mdx
  src/content/partials/cloudflare-one/email-security/dispositions-and-attributes.mdx
Labels: product:cloudflare-one, size/xl

#16693 [WAF] Fix formatting of custom rules use cases (post migration)
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-ips-in-allowlist.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-verified-bots.mdx
  src/content/docs/waf/custom-rules/use-cases/block-ip-reputation.mdx
  src/content/docs/waf/custom-rules/use-cases/block-ms-exchange-autodiscover.mdx
  src/content/docs/waf/custom-rules/use-cases/challenge-bad-bots.mdx
  src/content/docs/waf/custom-rules/use-cases/configure-token-authentication.mdx
  src/content/docs/waf/custom-rules/use-cases/exempt-partners-hotlink-protection.mdx
  src/content/docs/waf/custom-rules/use-cases/require-specific-cookie.mdx
  src/content/docs/waf/custom-rules/use-cases/require-specific-headers.mdx
  src/content/docs/waf/custom-rules/use-cases/site-admin-only-known-ips.mdx
  src/content/docs/waf/custom-rules/use-cases/stop-rudy-attacks.mdx
  src/content/docs/waf/custom-rules/use-cases/update-rules-customers-partners.mdx
Labels: product:waf, size/m

#16710 Update developer spotlight docs
  src/content/docs/developer-spotlight/application-guide/index.mdx
  src/content/docs/developer-spotlight/index.mdx
Labels: size/s, product:developer-spotlight

#16715 [DDoS Protection] Fix another link anchor
  src/content/docs/ddos-protection/managed-rulesets/network/link-configure-terraform.mdx
Labels: size/xs, product:ddos-protection

#16714 [WAF] Update note about Cloudflare VPNs managed list
  src/content/docs/waf/tools/lists/managed-lists.mdx
  src/content/partials/waf/managed-lists.mdx
Labels: product:waf, size/s

#16716 [Rules] Update China Network availability
  src/content/docs/china-network/reference/available-products.mdx
Labels: product:china-network, size/xs

#16709 Fix Tor IP reputation documentation
  src/content/docs/logs/reference/pathing-status.mdx
Labels: product:logs, size/s

#16702 Change document link name.mdx
  src/content/docs/ssl/edge-certificates/advanced-certificate-manager/manage-certificates.mdx
Labels: product:ssl, size/xs

#16717 [Logs] Adds query optimization tips to Log Explorer
  src/content/docs/logs/log-explorer.mdx
Labels: product:logs, size/xs

#16712 [Apps] Update removing-cloudflare-apps.mdx
  src/content/docs/support/more-dashboard-apps/cloudflare-apps/removing-cloudflare-apps.mdx
Labels: size/xs, product:support

#16722 [Chore] Fix image audit again
  .github/workflows/image-audit.yml
Labels: size/xs

#16553 improve the hyperdrive getting started doc
  src/content/docs/hyperdrive/get-started.mdx
Labels: size/s, product:hyperdrive

#16725 fix returnes typo
  src/content/docs/hyperdrive/get-started.mdx
Labels: size/xs, product:hyperdrive

#16726 [WAF] Remove outdated screenshot
  src/assets/images/waf/security-analytics/security-analytics-dashboard.png
  src/content/docs/waf/analytics/security-analytics.mdx
Labels: product:waf, size/xs

#16699 New RA diagram: Protect hybrid cloud networks with Cloudflare Magic Transit
  src/assets/images/reference-architecture/protect-hybrid-cloud-networks-with-cloudflare-magic-transit/figure-1.svg
  src/assets/images/reference-architecture/protect-hybrid-cloud-networks-with-cloudflare-magic-transit/figure-2.svg
  src/assets/images/reference-architecture/protect-hybrid-cloud-networks-with-cloudflare-magic-transit/figure-3.svg
  src/content/docs/reference-architecture/diagrams/network/protect-hybrid-cloud-networks-with-cloudflare-magic-transit.mdx
Labels: product:reference-architecture, size/xl

#16470 Added fauna integration guide
  src/assets/images/workers/databases/native-integrations/fauna_oauth.png
  src/assets/images/workers/tutorials/store-data-with-fauna/integrate_fauna.png
  src/content/docs/workers/databases/connecting-to-databases.mdx
  src/content/docs/workers/databases/native-integrations/fauna.mdx
  src/content/docs/workers/tutorials/store-data-with-fauna/index.mdx
Labels: product:workers, size/m

#16682 Fix Lifecycle Policy Example
  src/content/docs/r2/buckets/object-lifecycles.mdx
Labels: product:r2, size/m

#16381 [R2] Add constraint on list `limit`
  src/content/docs/r2/api/workers/workers-api-reference.mdx
Labels: product:r2, size/xs

#16653 Add Presign Example for `aws4fetch`
  src/content/docs/r2/examples/aws/aws4fetch.mdx
Labels: product:r2, size/s

#16729 Update comment-changed-filenames.yml
  .github/workflows/comment-changed-filenames.yml
Labels: size/xs

#16727 [Network] Adds info about cacheable traffic being buffered not streamed
  src/content/docs/network/response-buffering.mdx
Labels: size/xs, product:network

#16735 [MWAN] Added API examples to app aware policies
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/prioritized-traffic.mdx
  src/content/partials/magic-wan/connector/app-aware-policies/add-app.mdx
  src/content/partials/magic-wan/connector/app-aware-policies/delete-app.mdx
Labels: size/m, product:magic-wan

#16737 [MWAN] Changed page order between manual and connector configs
  src/content/docs/magic-wan/configuration/connector/index.mdx
  src/content/docs/magic-wan/configuration/manually/index.mdx
Labels: size/s, product:magic-wan

#16738 [MWAN] Refined Magic WAN Overview page
  src/content/docs/magic-wan/index.mdx
Labels: size/m, product:magic-wan

#16741 Add poster attribute to the stream component
  src/components/Stream.astro
  src/content/docs/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.mdx
  src/content/partials/fundamentals/what-is-cloudflare.mdx
Labels: size/s, product:workers-ai

#16740 [Rules] Example: redirect root to www
  src/content/docs/rules/url-forwarding/examples/redirect-root-to-www.mdx
Labels: product:rules, size/s

#16742 [Chore] Re-add video click event
  src/components/Stream.astro
Labels: size/s

#16719 [Rules] wildcard_replace() in URL rewrites
  src/content/changelogs/rules.yaml
  src/content/docs/rules/transform/url-rewrite/reference/fields-functions.mdx
  src/content/docs/ruleset-engine/rules-language/functions.mdx
Labels: product:rules, product:ruleset-engine, size/s

#16739 [Cache] Removes overview pages in cache docs
  src/content/docs/cache/advanced-configuration/index.mdx
  src/content/docs/cache/cache-security/index.mdx
  src/content/docs/cache/concepts/index.mdx
  src/content/docs/cache/how-to/index.mdx
  src/content/docs/cache/performance-review/index.mdx
  src/content/docs/cache/plans.mdx
  src/content/docs/cache/reference/index.mdx
  src/content/docs/cache/troubleshooting/index.mdx
Labels: product:cache, size/s

#16744 Update Cloudflare Tunnel changelog 09/10/2024
  src/content/changelogs/tunnel.yaml
Labels: size/xs

#16746 Update Stream.astro
  src/components/Stream.astro
Labels: size/xs

#16749 Release-Sept-10-2024: Announcing 1 BETA detection.
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/s

#16734 [Logs] Adds how to specify rfc3339 time zone
  src/content/docs/logs/logpull/requesting-logs/index.mdx
Labels: product:logs, size/xs

#16756 Update changelog.mdx
  src/content/docs/style-guide/documentation-content-strategy/content-types/changelog.mdx
Labels: size/xs, product:style-guide

#16689 [AI Gateway] Added custom costs
  src/content/docs/ai-gateway/configuration/custom-costs.mdx
Labels: size/s, product:ai-gateway

#16757 [AI Gateway] custom costs changelog
  src/content/changelogs/ai-gateway.yaml
Labels: size/m

#16758 [Docs] Fix href to Tail Workers in two places
  src/content/docs/workers/observability/logging/real-time-logs.mdx
Labels: product:workers, size/xs

#16747 [Docs] Replace IP Access rules in Dev Docs homepage
  src/pages/index.astro
Labels: size/xs

#16759 [Chore] Re-enable link tracking events
  src/components/overrides/Head.astro
  src/scripts/analytics.ts
Labels: size/m

#16760 Update custom-costs.mdx
  src/content/docs/ai-gateway/configuration/custom-costs.mdx
Labels: size/xs, product:ai-gateway

#16671 [ZT] Overview audit
  src/content/docs/cloudflare-one/applications/scan-apps/casb-integrations/index.mdx
  src/content/docs/cloudflare-one/applications/scan-apps/manage-findings.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/locations/index.mdx
  src/content/docs/cloudflare-one/implementation-guides/index.mdx
  src/content/docs/cloudflare-one/insights/analytics/index.mdx
  src/content/docs/cloudflare-one/insights/index.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/index.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-profiles/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/network.mdx
  src/content/docs/cloudflare-one/policies/index.mdx
  src/content/docs/cloudflare-one/roles-permissions.mdx
Labels: product:cloudflare-one, size/m
