Repository cloudflare/cloudflare-docs, pull requests merged in 2024-05, with the labels that each got.

#14269 [Workers] Adds tutorial on sending emails with Resend
  assets/images/workers/tutorials/resend/add_dns_records.png
  assets/images/workers/tutorials/resend/verified_domain.png
  content/workers/tutorials/send-emails-with-resend/index.md
Labels: product:workers, size/m, tutorial

#14332 Update ip-geolocation.md
  content/network/ip-geolocation.md
Labels: size/xs, product:network

#14323 [ZT] Link to team name glossary
  content/cloudflare-one/identity/authorization-cookie/validating-json.md
Labels: product:cloudflare-one, size/xs

#14335 [Chore] Removed unused images
  assets/images/pages/platform/configure-preview-deployment.png
  assets/images/pages/platform/include-preview-brances.png
Labels: size/xs

#14337 [ZT] Link to "Migrate legacy tunnels" from FAQ
  content/cloudflare-one/faq/cloudflare-tunnels-faq.md
Labels: product:cloudflare-one, size/xs

#14330 Sthorpe/securing data in transit in rest in use
  assets/images/reference-architecture/securing-data-at-rest/securing-data-at-rest-fig1.svg
  assets/images/reference-architecture/securing-data-in-transit/securing-data-in-transit-fig1.svg
  assets/images/reference-architecture/securing-data-in-transit/securing-data-in-transit-fig4.svg
  assets/images/reference-architecture/securing-data-in-use/securing-data-in-use-fig1.svg
  content/reference-architecture/diagrams/security/_index.md
  content/reference-architecture/diagrams/security/securing-data-at-rest.md
  content/reference-architecture/diagrams/security/securing-data-in-transit.md
  content/reference-architecture/diagrams/security/securing-data-in-use.md
Labels: product:reference-architecture, size/l

#10722 [Workers] Clarify docs for Request and cf properties
  content/workers/runtime-apis/request.md
  data/changelogs/workers.yaml
Labels: product:workers, size/s

#14339 [Pages] Document added headers
  content/pages/configuration/serving-pages.md
Labels: product:pages, size/s

#14340 Fix spelling error
  content/registrar/get-started/register-domain.md
Labels: product:registrar, size/xs

#14322 Clarify alpha deprecation vs requests stop
  data/changelogs/d1.yaml
Labels: size/s

#14324 [Gateway] Add client notifications supported OSes
  content/cloudflare-one/_partials/gateway/_client-notifications.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#14343 [Turnstile] fix small typos
  content/turnstile/get-started/client-side-rendering.md
  content/turnstile/migration/migrating-from-hcaptcha.md
  content/turnstile/troubleshooting/client-side-errors.md
Labels: size/s, product:turnstile

#14297 Update limits.md
  content/queues/platform/limits.md
Labels: product:queues, size/xs

#14348 Added frequently asked questions section to R2 pricing page
  content/r2/pricing.md
Labels: product:r2, size/s

#14329 [Logpush] Add context on WAF custom rule optional step
  content/logs/get-started/enable-destinations/splunk/index.md
Labels: product:logs, size/xs

#14287 Link to @elithrar/workers-hono-rate-limit from Rate Limiting API docs
  content/workers/runtime-apis/bindings/rate-limit.md
Labels: product:workers, size/xs

#14351 Kinsta SSL for SaaS O2O guide
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/kinsta.md
Labels: product:cloudflare-for-platforms, size/s

#14205 [DNS] Specify DNS records deletion in parent refer to child domain only
  content/dns/zone-setups/subdomain-setup/setup.md
Labels: product:dns, size/xs

#14352 Moving surges in traffic to fundamentals
  content/_redirects
  content/ddos-protection/reference/simulate-ddos-attack.md
  content/fundamentals/_partials/_support-ticket-information.md
  content/fundamentals/basic-tasks/preparing-for-surges-or-spikes-in-web-traffic.md
  content/support/Troubleshooting/general-troubleshooting/preparing-for-surges-or-spikes-in-web-traffic.md
Labels: size/m, product:fundamentals, product:support, product:ddos-protection, product:_redirects

#14356 [MWAN] Virtual Connector VLAN tags
  content/magic-wan/configuration/connector/configure-virtual-connector.md
Labels: size/s, product:magic-wan

#14254 [Spectrum] Update analytics.md
  content/spectrum/reference/analytics.md
Labels: product:spectrum, size/xs

#14344 [Chore] Add product survey
  content/products.html
Labels: size/xs, product:products.html

#14355 R2: Update create-buckets.md
  content/r2/buckets/create-buckets.md
Labels: product:r2, size/xs

#13775 [D1] chore: remove d1 export tools
  content/d1/reference/community-projects.md
Labels: product:d1, size/xs

#14360 [Framework guides] Fix hono guide issue
  content/pages/framework-guides/deploy-a-hono-site.md
Labels: product:pages, size/xs, framework-guides

#14310 Update bindings.md for setting Secrets
  content/pages/functions/bindings.md
Labels: product:pages, size/xs

#14203 [Durable Objects] DO Transactional Storage - transaction method
  content/durable-objects/api/transactional-storage-api.md
Labels: product:durable-objects, size/xs

#14260 [pages] Add warning about checking `wrangler.toml` before deploying
  content/pages/functions/wrangler-configuration.md
Labels: product:pages, size/xs

#14346 Update c3 amended
  content/pages/get-started/c3.md
  content/workers/get-started/guide.md
  content/workers/get-started/quickstarts.md
  layouts/shortcodes/worker-starter.html
Labels: product:workers, product:pages, size/s

#14353 add note in pages functions docs clarifying that not all bindings are supported
  content/pages/functions/bindings.md
Labels: product:pages, size/xs

#13188 [Workers] Adds new flag for wrangler commands
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs, wrangler-commands

#14364 [Workers] Don't show empty page in docs
  content/_redirects
Labels: size/xs, product:_redirects

#14366 [Turnstile] Update Workers templates page format
  content/turnstile/reference/workers-templates/_index.md
  content/turnstile/reference/workers-templates/price-scraping.md
Labels: size/s, product:turnstile

#13164 [ZT] Add Crowdstrike device posture attributes
  content/cloudflare-one/identity/devices/service-providers/crowdstrike.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#14369 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#14349 New Cloudflare and Microsoft integration diagram
  assets/images/reference-architecture/cloudflare-sase-with-microsoft/cloudflare-sase-with-microsoft-fig1.svg
  assets/images/reference-architecture/cloudflare-sase-with-microsoft/cloudflare-sase-with-microsoft-fig2.svg
  assets/images/reference-architecture/cloudflare-sase-with-microsoft/cloudflare-sase-with-microsoft-fig3.svg
  assets/images/reference-architecture/cloudflare-sase-with-microsoft/cloudflare-sase-with-microsoft-fig4.svg
  content/reference-architecture/architectures/cloudflare-sase-with-microsoft.md
  content/reference-architecture/diagrams/security/securing-data-in-use.md
Labels: product:reference-architecture, size/xl

#14368 [Chore] Restore headers for ip addresses page
  content/support/Troubleshooting/Restoring Visitor IPs/Restoring original visitor IPs.md
Labels: size/s, product:support

#14091 [Migration Guide] Adding new tile for upcoming migration guides
  .github/CODEOWNERS
  assets/images/migration-guides/descaler-migration.png
  content/migration-guides/_index.md
  data/migration-guides.yml
Labels: size/s, product:migration-guides

#14367 [API Shield] Update session identifiers
  content/api-shield/_partials/_session-identifiers.md
  content/api-shield/_partials/_set-up-session-identifiers.md
  content/api-shield/get-started/index.md
  content/api-shield/management-and-monitoring/api-routing.md
  content/api-shield/management-and-monitoring/developer-portal.md
  content/api-shield/management-and-monitoring/session-identifiers.md
  content/api-shield/security/jwt-validation/_index.md
  content/api-shield/security/mtls/_index.md
  content/api-shield/security/schema-validation/_index.md
  content/api-shield/security/sequence-analytics.md
  content/api-shield/security/volumetric-abuse-detection.md
Labels: product:api-shield, size/s

#14372 [MWAN] Azure bidirectional HCs patch
  content/magic-wan/configuration/manually/third-party/azure.md
Labels: size/s, product:magic-wan

#14375 [Browser rendering] Document the keep_alive option
  content/browser-rendering/platform/limits.md
  content/browser-rendering/platform/puppeteer.md
Labels: product:browser-rendering, size/s

#14374 [MNM] Removed beta pill
  content/magic-network-monitoring/_index.md
Labels: size/xs, product:magic-network-monitoring

#14379 PCX-10756
  content/d1/platform/alpha-migration.md
Labels: product:d1, size/s

#14365 [Wrangler] Add https-key-path and https-cert-path
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#14334 [Workers] Adds New Python Workers Examples
  content/workers/examples/cache-post-request.md
  content/workers/examples/cache-tags.md
Labels: product:workers, size/s

#14382 Remove docs on static assets for Pages Plugins
  content/pages/functions/plugins/_index.md
Labels: product:pages, size/s

#14370 Update teams-troubleshooting.md
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one, size/xs

#14378 Update Zaraz Changelog
  data/changelogs/zaraz.yaml
Labels: size/xs

#14333 Document bypass OPTIONS to origin feature
  content/cloudflare-one/identity/authorization-cookie/cors.md
Labels: product:cloudflare-one, size/s

#14385 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#14338 Update access.yaml
  data/changelogs/access.yaml
Labels: size/xs

#14388 Workers 2024/05/03 changelog update
  data/changelogs/workers.yaml
Labels: size/xs

#14389 [Gateway] Protocol detection WARP client requirement
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-modes/_index.md
  content/cloudflare-one/policies/gateway/network-policies/protocol-detection.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#14373 R2: add egress == free to table
  content/r2/pricing.md
Labels: product:r2, size/xs

#14392 fix syntax highlighting
  content/browser-rendering/platform/puppeteer.md
Labels: product:browser-rendering, size/xs

#14403 [MWAN] Added new toggle for health checks
  content/magic-transit/_partials/tunnel-endpoints/_add-tunnels.md
Labels: size/xs, product:magic-transit

#14404 easier way to set a default Consent Mode v2 status
  content/zaraz/advanced/google-consent-mode.md
Labels: size/xs, product:zaraz

#14398 Fix documentation - transform images dynamic rewrite path - Update serve-images-custo…
  content/images/transform-images/serve-images-custom-paths.md
Labels: product:images, size/xs

#14397 docs(build-a-retrieval-augmented-generation-ai): add PNPM
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: size/xs, product:workers-ai

#14396 [Workers] Fix typo in wrangler command
  content/workers/configuration/versions-and-deployments/_index.md
Labels: product:workers, size/xs

#14393 Fixed formatting error on Update tokens.md
  content/r2/api/s3/tokens.md
Labels: product:r2, size/xs

#14371 [Support] Add Envoy Gateway to restoring IP doc
  content/support/Troubleshooting/Restoring Visitor IPs/Restoring original visitor IPs.md
Labels: size/s, product:support

#14407 [MWAN/MT] Clarified tunnel char limit
  content/magic-transit/_partials/tunnel-endpoints/_tunnel-endpoints.md
Labels: size/xs, product:magic-transit

#14410 RADAR-4081: Post-Quantum Encryption Adoption
  content/radar/glossary.md
Labels: size/xs, product:radar

#14390 Clarify concurrent connection limit
  content/workers/platform/limits.md
Labels: product:workers, size/xs

#14387 [Analytics] Add custom event for copying a code block
  assets/events.ts
  bin/prism.config.ts
Labels: size/s

#14361 [Chore] WASM code generation disallowed
  content/workers/runtime-apis/web-standards.md
Labels: product:workers, size/xs

#14408 [Docs Site] Bump Hugo to v0.125.6
  .github/workflows/anchor-link-audit.yml
  .github/workflows/ci.yml
  Makefile
  README.md
Labels: size/xs

#13802 [CASB] Box and Dropbox DLP support
  content/cloudflare-one/applications/scan-apps/casb-integrations/box.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/dropbox.md
Labels: product:cloudflare-one, do-not-merge-yet, size/s, sub-product:casb

#14416 [Style Guide] Add missing links
  content/style-guide/documentation-content-strategy/content-types/tutorial.md
Labels: size/s, product:style-guide

#14399 [ZT] Add a note on feature availability in _app-launcher.md
  content/cloudflare-one/_partials/access/_app-launcher.md
Labels: product:cloudflare-one, size/xs

#14383 [Stream] Document upper bound on scheduled deletion timestamps
  content/stream/stream-live/start-stream-live.md
  content/stream/uploading-videos/upload-video-file.md
Labels: product:stream, size/xs

#14424 Release-May-06-2024: Flipping 2 detections
  content/waf/change-log/2024-05-06.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#14325 Preauthorization Language
  content/support/account-management-billing/Billing Cloudflare Plans/Cloudflare Billing Policy.md
Labels: size/xs, product:support

#14426 [CF1] Adding changelogs for casb, dlp, and gateway
  content/cloudflare-one/changelog/casb.md
  content/cloudflare-one/changelog/dlp.md
  content/cloudflare-one/changelog/gateway.md
  data/changelogs/casb.yaml
  data/changelogs/dlp.yaml
  data/changelogs/gateway.yaml
Labels: product:cloudflare-one, size/s

#14421 [Rules] Update create-api.md
  content/rules/configuration-rules/create-api.md
Labels: product:rules, size/s

#14401 [Speed] Update faq.md
  content/speed/speed-test/faq.md
Labels: size/s, product:speed

#14359 Adds Tutorial For Transactional Emails With Postmark
  assets/images/workers/tutorials/postmarkapp/add_dns_records.png
  assets/images/workers/tutorials/postmarkapp/verified_domain.png
  content/workers/tutorials/send-emails-with-postmark/index.md
Labels: product:workers, size/m

#14433 [LP] Fix typo in Serverless Computing concept
  content/learning-paths/workers/concepts/serverless-computing.md
Labels: size/xs, product:learning-paths

#14432 [MWAN] Cisco tutorial patch
  content/magic-wan/configuration/manually/third-party/cisco-ios-xe.md
Labels: size/s, product:magic-wan

#14291 remove useless '\' in '\ ' which cause regex101 error, and add kaios
  content/automatic-platform-optimization/reference/cache-device-type.md
  content/cache/how-to/edge-browser-cache-ttl/create-page-rules.md
Labels: product:cache, size/xs, product:automatic-platform-optimization

#14431 Update product-compatibility.md - Origin Rules and o2o
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/product-compatibility.md
Labels: product:cloudflare-for-platforms, size/xs

#14438 [MWAN/MT] Allowed IP ranges for static routes
  content/magic-transit/_partials/static-routes/_static-routes3.md
  content/magic-transit/how-to/configure-static-routes.md
  content/magic-wan/configuration/manually/how-to/configure-static-routes.md
Labels: size/s, product:magic-transit, product:magic-wan

#14411 [Learning Paths] Updating Area 1 features available to Cybersafe Program
  content/_redirects
  content/learning-paths/cybersafe/area1-onboarding/area1-api.md
  content/learning-paths/cybersafe/area1-onboarding/area1-connection-methods.md
  content/learning-paths/cybersafe/area1-onboarding/area1-next-steps.md
Labels: size/s, product:learning-paths, product:_redirects

#14440 [Network] Clarify incorrect IP geolocation report instructions
  content/network/ip-geolocation.md
Labels: size/xs, product:network

#14443 [Speed] Deprecation of Brotli setting
  content/speed/optimization/content/brotli/content-compression.md
  content/speed/optimization/content/brotli/enable.md
Labels: size/s, product:speed

#14444 [Fundamentals] Update API deprecations
  content/fundamentals/api/reference/deprecations.md
Labels: size/m, product:fundamentals

#14447 [ZT] Fix typo in Gateway selectors
  content/cloudflare-one/policies/gateway/identity-selectors.md
Labels: product:cloudflare-one, size/xs

#14449 [ZT] Azure AD SCIM notes
  content/cloudflare-one/identity/idp-integration/azuread.md
Labels: product:cloudflare-one, size/xs

#14312 Fix typo in content/logs/reference/log-fields/account/gateway_network.md
  content/logs/reference/log-fields/account/gateway_network.md
Labels: product:logs, size/xs

#14445 Update the streams example
  content/workers/runtime-apis/streams/_index.md
Labels: product:workers, size/s

#14455 [MWAN] Removed ha info for vconn
  content/magic-wan/_partials/connector/_create-site.md
Labels: size/xs, product:magic-wan

#14199 [WAF] Add OWASP migration mapping
  content/waf/managed-rules/reference/owasp-core-ruleset/concepts.md
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
Labels: product:waf, size/s

#14428 [Changelog] Add rollup abilities by product area
  content/changelog.html
  content/cloudflare-one/changelog/_index.md
  content/cloudflare-one/changelog/casb.md
  content/cloudflare-one/changelog/dlp.md
  content/cloudflare-one/changelog/gateway.md
  content/workers/platform/changelog/_index.md
  content/workers/platform/changelog/historical-changelog.md
  content/workers/platform/changelog/workers.md
  data/changelogs/access.yaml
  data/changelogs/ai-gateway.yaml
  data/changelogs/casb.yaml
  data/changelogs/d1.yaml
  data/changelogs/dlp.yaml
  data/changelogs/durable-objects.yaml
  data/changelogs/gateway.yaml
  data/changelogs/hyperdrive.yaml
  data/changelogs/pages.yaml
  data/changelogs/queues.yaml
  data/changelogs/r2.yaml
  data/changelogs/stream.yaml
  data/changelogs/vectorize.yaml
  data/changelogs/workers-ai.yaml
  data/changelogs/workers.yaml
  data/changelogs/zaraz.yaml
  layouts/_default/changelog.rss.xml
  layouts/_default/home.rss.xml
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/_default/wide.html
  layouts/partials/full-changelog-data.html
  layouts/partials/wrangler-changelog.html
  layouts/shortcodes/full-changelog.html
  static/home.css
  static/style.css
Labels: product:workers, product:cloudflare-one, size/xl, product:changelog.html

#14459 troubleshooting failed domain transfers. updating instructions
  content/registrar/troubleshooting.md
Labels: product:registrar, size/s

#14461 [Logs] Adds partial to Datadog
  content/logs/get-started/enable-destinations/datadog/index.md
Labels: product:logs, size/s

#14481 Release-May-08-2024: One Beta rule to detect XSS
  content/waf/change-log/2024-05-08.md
  data/changelogs/waf.yaml
Labels: product:waf, changelog, size/s

#14476 [chore] Fix bug in tab switcher
  content/d1/examples/d1-and-hono.md
  content/workers/languages/python/examples.md
Labels: product:workers, product:d1, size/s

#14475 [Fundamentals] Abuse reports
  content/fundamentals/setup/account/abuse-reports.md
  content/fundamentals/setup/account/account-security/_index.md
  content/fundamentals/setup/account/customize-account/_index.md
Labels: size/s, product:fundamentals

#14469 Update historical-changelog.md
  content/workers/platform/changelog/historical-changelog.md
Labels: product:workers, size/xs

#14477 [Workers] Xata guide codeblock improvements
  content/workers/databases/native-integrations/xata.md
Labels: product:workers, size/s

#14478 [Workers] Fix imports on Python examples
  content/workers/languages/python/examples.md
Labels: product:workers, size/xs

#14165 Create tutorial: Create a sitemap for a headless CMS with Workers
  content/workers/tutorials/create-sitemap-from-sanity-cms/index.md
Labels: product:workers, size/m, developer-spotlight

#14483 [API Shield] Add ES384 credential to JWT Validation
  content/api-shield/security/jwt-validation/configure.md
Labels: product:api-shield, size/xs

#14457 [Fundamentals] Bulk enable features
  content/fundamentals/basic-tasks/basic-features.md
Labels: size/s, product:fundamentals

#14484 Add message about not supporting self-hosted instances of GitHub/GitLab
  content/pages/configuration/git-integration.md
Labels: product:pages, size/xs

#14460 Adding a note for custom hostname api posts
  content/cloudflare-for-platforms/_partials/_create-custom-hostname-api.md
Labels: product:cloudflare-for-platforms, size/xs

#13938 [DDoS] Clarify adaptive DDoS protection
  content/ddos-protection/managed-rulesets/adaptive-protection.md
Labels: size/s, product:ddos-protection

#14453 [DNS] API details following Foundation DNS + some small fixes
  assets/images/dns/dns_cname_setup.png
  content/dns/dnssec/multi-signer-dnssec/setup.md
  content/dns/foundation-dns/setup.md
  content/dns/zone-setups/partial-setup/setup.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.md
Labels: product:dns, size/s

#14485 [Chore] Fix bug in changelog rendering
  content/workers/platform/changelog/_index.md
  content/workers/platform/changelog/historical-changelog.md
  content/workers/platform/changelog/platform.md
  content/workers/platform/changelog/workers.md
  data/changelogs/ai-gateway.yaml
  data/changelogs/d1.yaml
  data/changelogs/durable-objects.yaml
  data/changelogs/hyperdrive.yaml
  data/changelogs/pages.yaml
  data/changelogs/queues.yaml
  data/changelogs/r2.yaml
  data/changelogs/stream.yaml
  data/changelogs/vectorize.yaml
  data/changelogs/workers-ai.yaml
  data/changelogs/workers.yaml
  data/changelogs/zaraz.yaml
  layouts/partials/wrangler-changelog.html
Labels: product:workers, size/s

#14495 [DNS] Add examples mapping to PTR records fields
  content/dns/additional-options/reverse-zones.md
Labels: product:dns, size/s

#14494 pcx-9495: updating language
  content/dns/manage-dns-records/reference/ttl.md
Labels: product:dns, size/xs

#14496 [Hugo] Add Spotlight author component
  content/workers/tutorials/create-sitemap-from-sanity-cms/index.md
  layouts/shortcodes/spotlight-author.html
  static/style.css
Labels: product:workers, size/s

#14427 [API Shield] JWT session IDs
  content/api-shield/_partials/_session-identifiers.md
  content/api-shield/_partials/_set-up-session-identifiers.md
Labels: product:api-shield, size/s

#14497 Switch back to `WebSocketHibernationServer`
  content/durable-objects/examples/websocket-hibernation-server.md
Labels: product:durable-objects, size/s

#14434 [AI Gateway] Add link to RAD
  content/ai-gateway/architectures.md
Labels: size/xs, product:ai-gateway

#14400 [WARP] Replace deprecated commands in warp-client/get-started/linux.md
  content/warp-client/get-started/linux.md
Labels: product:warp-client, size/xs

#14245 [Workers] Add new error code
  content/workers/observability/errors.md
Labels: product:workers, size/xs

#14504 [Hugo] Single notification shortcode
  layouts/shortcodes/available-notifications.html
Labels: size/s

#14466 [ZT] WARP changelog
  content/cloudflare-one/changelog/warp.md
  data/changelogs/warp.yaml
Labels: product:cloudflare-one, size/s

#14491 Add note about configuring security headers in Pages Functions over _headers
  content/pages/configuration/headers.md
Labels: product:pages, size/xs

#14458 Adding Connection Limits to fundamentals
  content/fundamentals/reference/connection-limits.md
  content/fundamentals/reference/tcp-connections.md
  data/glossary/fundamentals.yaml
Labels: size/s, product:fundamentals

#14511 [Fundamentals] Update TFO
  content/fundamentals/reference/tcp-connections.md
Labels: size/xs, product:fundamentals

#14510 [Rules] Compression Rules: Add Disable Brotli example
  content/rules/compression-rules/examples.md
  content/rules/compression-rules/settings.md
Labels: product:rules, size/s

#14513 adding PIR and RFI endpoints to threat intel overview page
  content/security-center/intel-apis/_index.md
Labels: product:security-center, size/xs

#14075 [SSL, BYOIP] Mention BYOIP is incompatible with Legacy certs
  content/byoip/troubleshooting.md
  content/ssl/edge-certificates/custom-certificates/uploading.md
  content/ssl/reference/browser-compatibility.md
Labels: product:byoip, product:ssl, size/s

#14406 [Workers]: Update HTMLRewriter Tutorial
  content/_redirects
  content/pages/tutorials/localize-a-website/index.md
  content/workers/runtime-apis/html-rewriter.md
Labels: product:workers, product:pages, size/m, product:_redirects

#14515 Update logging-headers.md
  content/workers/examples/logging-headers.md
Labels: product:workers, size/xs

#14409 [MWAN] Fortinet loopback interfaces and dhgrp14
  content/magic-wan/configuration/manually/third-party/fortinet.md
Labels: size/s, product:magic-wan

#14505 [BYOIP] LOA digital signatures
  content/byoip/concepts/loa.md
Labels: product:byoip, size/xs

#14506 Clarify how Image transformations follow redirects
  content/images/get-started.md
Labels: product:images, size/xs

#14514 [Chore] Update wrangler changelog logic
  layouts/_default/changelog.rss.xml
  layouts/_default/home.rss.xml
  layouts/partials/wrangler-changelog.html
Labels: size/s

#14490 Add TURN credential creation
  content/calls/turn.md
Labels: size/s, product:calls

#14524 [ZT] WARP changelog
  data/changelogs/warp.yaml
Labels: size/s

#14509 fix LoaderFunction example on deploy-a-remix-site.md
  content/pages/framework-guides/deploy-a-remix-site.md
Labels: product:pages, size/xs

#14528 Update attack-coverage.md
  content/ddos-protection/about/attack-coverage.md
Labels: size/xs, product:ddos-protection

#14536 Adding a cross-link per feedback
  content/cache/how-to/cache-rules/settings.md
  content/fundamentals/reference/connection-limits.md
Labels: product:cache, size/xs, product:fundamentals

#14537 [Rules] Add Disable RUM to configuration rule settings
  content/analytics/web-analytics/configuring-web-analytics/rules.md
  content/rules/_partials/_configuration-rule-wins-over-rum-rule.md
  content/rules/configuration-rules/settings.md
  data/changelogs/rules.yaml
Labels: product:analytics, product:rules, size/s

#14544 removed link
  content/reference-architecture/architectures/cdn.md
Labels: product:reference-architecture, size/xs

#14518 [Changelog] Add other changelog areas
  content/fundamentals/reference/changelog/performance.md
  content/fundamentals/reference/changelog/platform.md
  content/fundamentals/reference/changelog/security.md
  data/changelogs/ddos-http.yaml
  data/changelogs/ddos-network.yaml
  data/changelogs/notifications.yaml
  data/changelogs/radar.yaml
  data/changelogs/rules.yaml
  data/changelogs/tenant.yaml
  data/changelogs/trace.yaml
  data/changelogs/turnstile.yaml
  data/changelogs/version-management.yaml
  data/changelogs/waf.yaml
  data/changelogs/waiting-room.yaml
  data/changelogs/web-analytics.yaml
  layouts/shortcodes/full-changelog.html
  static/home.css
Labels: size/m, product:fundamentals

#14543 [SSL] Update CA reference with LE change and details on GTS
  content/ssl/reference/certificate-authorities.md
Labels: product:ssl, size/s

#14539 (eslint) prefer const over let
  content/calls/turn.md
Labels: size/xs, product:calls

#14480 [Hyperdrive] Fix error handling in examples
  content/hyperdrive/_partials/_create-hyperdrive-config.md
  content/hyperdrive/configuration/connect-to-postgres.md
  content/hyperdrive/get-started.md
Labels: size/xs, product:hyperdrive

#14547 Update custom-certificate.md
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/custom-certificate.md
Labels: product:cloudflare-one, size/xs

#14526 Added FedRAMP to list of supported R2 jurisdictions
  content/r2/reference/data-location.md
Labels: product:r2, size/xs

#14482 [D1] Improvements to Local Development page
  content/d1/build-with-d1/local-development.md
Labels: product:d1, size/xs

#14479 [D1] Query D1 from Hono error handling fixes
  content/d1/examples/d1-and-hono.md
Labels: product:d1, size/s

#14551 [R2] Increase max size of objects for Super Slurper to 1TB
  content/r2/data-migration/super-slurper.md
Labels: product:r2, size/xs

#14546 [Support] Create troubleshooting-other-errors.md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-other-errors.md
Labels: size/s, product:support

#14548 [Support] Update troubleshooting-cloudflare-5xx-errors.md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.md
Labels: size/xs, product:support
