Repository cloudflare/cloudflare-docs, pull requests merged in 2024-02, with the labels that each got.

#12001 wildcard domains are not supported for Pages
  content/dns/manage-dns-records/reference/wildcard-dns-records.md
Labels: product:dns, size/xs

#12791 [Chore] Place dynamic redirect at the end of the file
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#12391 [LB] Fix session affinity cookie name
  content/load-balancing/_partials/_session-affinity-by-cookie-process.md
  content/load-balancing/understand-basics/session-affinity.md
Labels: product:load-balancing, size/s

#12789 Update ICANN Lookup URL
  content/dns/additional-options/reverse-zones.md
  content/dns/troubleshooting/faq.md
  content/dns/zone-setups/full-setup/setup.md
  content/dns/zone-setups/troubleshooting/domain-deleted.md
  content/registrar/_partials/_verify-dnssec.md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-1xxx-errors.md
Labels: product:registrar, product:dns, size/s, product:support

#12786 [ZT] Move troubleshooting page to partial
  content/cloudflare-one/_partials/tunnel/_troubleshoot-private-networks.md
  content/cloudflare-one/connections/connect-networks/troubleshoot-tunnels/private-networks.md
  content/learning-paths/replace-vpn/troubleshooting/_index.md
  content/learning-paths/replace-vpn/troubleshooting/troubleshoot-private-networks.md
Labels: product:cloudflare-one, size/m, product:learning-paths, pcx_team_review

#12561 [DNS Firewall] Add response reasons section to explain new log field
  content/dns/dns-firewall/analytics.md
Labels: product:dns, size/s, pcx_team_review

#12732 [Workers AI] Adds a Jupyter Notebook tutorial
  content/workers-ai/_partials/_workers-ai-api-ipynb.md
  content/workers-ai/static/documentation/notebooks/cloudflare-workers-ai.ipynb
  content/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.md
Labels: size/l, product:workers-ai

#12635 Add known limitation IDP initiated login
  content/cloudflare-one/applications/configure-apps/dash-sso-apps.md
Labels: product:cloudflare-one, size/xs

#12647 [CASB] Shared links
  content/cloudflare-one/_partials/casb/_shared-links.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/box.md
  content/cloudflare-one/applications/scan-apps/casb-integrations/microsoft-365/_index.md
  content/cloudflare-one/applications/scan-apps/manage-findings.md
Labels: product:cloudflare-one, size/s, sub-product:casb

#12499 [ZT] Azure AD conditional access policies
  assets/images/cloudflare-one/zero-trust-security/azuread-access-policies/access-app-idp.png
  assets/images/cloudflare-one/zero-trust-security/azuread-access-policies/homepage-url.png
  content/_redirects
  content/cloudflare-one/identity/devices/access-integrations/_index.md
  content/cloudflare-one/identity/devices/access-integrations/azure-ad.md
  content/cloudflare-one/identity/idp-integration/azuread.md
  content/cloudflare-one/tutorials/azuread-conditional-access.md
Labels: product:cloudflare-one, size/m, product:_redirects, pcx_team_review

#12751 Add mermaid chart for Office 365 use case 1 with Area 1 MX
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/one-junk-admin-quarantine.md
Labels: size/s, product:email-security

#12752 Add mermaid chart for Office 365 use case 2 with Area 1 MX
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/two-junk-user-quarantine.md
Labels: size/s, product:email-security

#12812 [Access] fix broken link in spectrum configuration-options.md
  content/spectrum/reference/configuration-options.md
Labels: product:spectrum, size/xs

#12753 Add mermaid chart for Office 365 use case 3 with Area 1 MX
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/three-junk-admin-quarantine.md
Labels: size/s, product:email-security

#12755 Add mermaid chart for Office 365 use case 5 with Area 1 MX
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/five-junk-admin-quarantine.md
Labels: size/s, product:email-security

#12813 [Area 1] Corrected mermaid graph
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/five-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/four-user-quarantine-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/one-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/three-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/two-junk-user-quarantine.md
  content/learning-paths/prevent-ddos-attacks/concepts/ddos-prevention.md
Labels: size/s, product:learning-paths, pcx_team_review, product:email-security

#12794 [Docs] Fix image in shared links
  Makefile
  layouts/partials/head.meta.html
Labels: size/s, pcx_team_review

#12798 [Logs] Update Log fields
  content/logs/reference/log-fields/account/dns_firewall_logs.md
  content/logs/reference/log-fields/account/gateway_dns.md
  content/logs/reference/log-fields/account/gateway_http.md
  content/logs/reference/log-fields/zone/dns_logs.md
  content/logs/reference/log-fields/zone/http_requests.md
Labels: product:logs, size/s

#12820 [Area 1] Deleted diagrams
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/five-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/four-user-quarantine-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/one-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/three-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/two-junk-user-quarantine.md
Labels: size/m, pcx_team_review, product:email-security

#12805 [Gateway] Dropped connection log warning
  content/cloudflare-one/insights/logs/gateway-logs/_index.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#12806 [ZT] Replace your VPN: Gateway block page
  content/cloudflare-one/_partials/gateway/_add-block-page.md
  content/cloudflare-one/_partials/gateway/_customize-block-page.md
  content/learning-paths/replace-vpn/build-policies/_index.md
  content/learning-paths/replace-vpn/build-policies/block-page.md
  content/learning-paths/replace-vpn/build-policies/shadow-it.md
Labels: product:cloudflare-one, size/s, product:learning-paths, pcx_team_review

#12802 [Bots] Corporate Proxy
  content/bots/_partials/_corporate_proxy.md
  content/bots/reference/bot-management-variables.md
  content/ruleset-engine/rules-language/fields.md
Labels: product:bots, product:ruleset-engine, size/s, pcx_team_review

#12819 [WAF] Update _custom-response-blocked-requests.md
  content/waf/_partials/_custom-response-blocked-requests.md
Labels: product:waf, size/xs

#12682 [Pages] mailchannels review
  README.md
  content/pages/functions/plugins/mailchannels.md
Labels: product:pages, size/m, pcx_team_review

#12824 [ZT] Fix MDM file formatting
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/_index.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/switch-organizations.md
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
  content/cloudflare-one/static/Cloudflare_CA.crt
  content/cloudflare-one/static/Cloudflare_CA.pem
  content/cloudflare-one/static/authenticated-doh.py
  content/cloudflare-one/static/mdm/CloudflareWARP.mobileconfig
  content/cloudflare-one/static/mdm/com.cloudflare.warp.plist
  content/cloudflare-one/static/mdm/multiple-orgs/CloudflareWARP.mobileconfig
  content/cloudflare-one/static/mdm/multiple-orgs/com.cloudflare.warp.plist
Labels: product:cloudflare-one, size/m, pcx_team_review

#12839 [DNS] Update link in dnssec-states.md
  content/1.1.1.1/encryption/dnskey.md
  content/dns/dnssec/dnssec-states.md
  content/dns/dnssec/multi-signer-dnssec/about.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/dnssec-for-secondary.md
  content/registrar/_partials/_enable-dnssec.md
Labels: product:1.1.1.1, product:registrar, product:dns, size/xs, pcx_team_review

#12827 [Workers] fix numbered list index in guide.md
  content/workers/get-started/guide.md
Labels: product:workers, size/xs

#12842 Add DDoS change log entries for 2024-02-05
  content/ddos-protection/change-log/http/2024-02-05-emergency.md
  data/changelogs/ddos-http.yaml
Labels: changelog, size/s, product:ddos-protection

#12817 [Support] Update troubleshooting-surges-or-spikes-in-web-traffic.md
  content/support/Troubleshooting/general-troubleshooting/troubleshooting-surges-or-spikes-in-web-traffic.md
Labels: size/m, product:support

#12838 Release-Feb-5-2024 Announcing 2 rules (1 simulate and 1 disabled). Flipping 1 rule. Merging 5 BETAs to original detections
  content/waf/change-log/2024-02-05.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/m

#12847 [Chore] Update codeowners
  .github/CODEOWNERS
  .github/actions/assign-pr/index.js
  .github/actions/owners.ts
Labels: size/xs, pcx_team_review

#12797 SPM-2224 - Add caveat when using Cache Rules to prevent 524 errors
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.md
Labels: size/xs, product:support

#12843 [MT/MWAN] DH groups
  content/magic-transit/_partials/tunnels-reference/_tunnels-encapsulation-opening.md
  content/magic-wan/configuration/manually/third-party/alibaba-cloud.md
  content/magic-wan/configuration/manually/third-party/aruba-edgeconnect.md
  content/magic-wan/configuration/manually/third-party/aws.md
  content/magic-wan/configuration/manually/third-party/cisco-ios-xe.md
  content/magic-wan/configuration/manually/third-party/fortinet.md
  content/magic-wan/configuration/manually/third-party/palo-alto.md
  content/magic-wan/configuration/manually/third-party/sonicwall.md
  content/magic-wan/configuration/manually/third-party/strongswan.md
  content/magic-wan/configuration/manually/third-party/viptela.md
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#12826 [API Shield] JWT limitations fix + endpoint mgmt link update
  content/api-shield/management-and-monitoring/_index.md
  content/api-shield/security/jwt-validation/_index.md
Labels: product:api-shield, size/s, pcx_team_review

#12543 [Durable Objects] Add new WebSocket Hibernation API methods
  content/durable-objects/api/websockets.md
Labels: product:durable-objects, size/s

#12644 SPM-2190: Clarify the expected process for maintenance
  content/_redirects
  content/notifications/notification-available.md
  content/support/Troubleshooting/Planned maintenance/Disruptive Maintenance Windows.md
  content/support/Troubleshooting/Planned maintenance/_index.md
  content/support/Troubleshooting/disruptive-maintenance/_index.md
Labels: size/s, product:support, product:_redirects, product:notifications

#12785 Sthorpe/reference arch refresh
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-1.png
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-2.png
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-3.png
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-4.png
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-5.png
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-6.png
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-7.png
  assets/images/reference-architecture/cdn-reference-architecture-images/cdn-ref-arch-8.png
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure-hero.png
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure1.svg
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure2.svg
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure3.svg
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure4.svg
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure5.svg
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure6.svg
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure7.svg
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure8.svg
  content/_index.html
  content/_redirects
  content/cache/reference/cdn-reference-architecture.md
  content/cloudflare-one/_index.md
  content/cloudflare-one/applications/_index.md
  content/cloudflare-one/connections/connect-networks/_index.md
  content/cloudflare-one/reference-architecture.md
  content/learning-paths/get-started/concepts/reference-architectures.md
  content/learning-paths/replace-vpn/connect-private-network/connection-methods.md
  content/load-balancing/reference-architecture-external-link.md
  content/magic-transit/_index.md
  content/magic-transit/reference/reference-architecture.md
  content/magic-wan/zero-trust/cloudflare-gateway.md
  content/reference-architecture/_index.md
  content/reference-architecture/_partials/_description-of-design-guides.md
  content/reference-architecture/_partials/_description-of-ref-architectures.md
  content/reference-architecture/architectures/_index.md
  content/reference-architecture/architectures/cdn.md
  content/reference-architecture/architectures/load-balancing.md
  content/reference-architecture/architectures/magic-transit.md
  content/reference-architecture/architectures/multi-vendor.md
  content/reference-architecture/architectures/sase.md
  content/reference-architecture/design-guides/_index.md
  content/reference-architecture/design-guides/secure-application-delivery.md
Labels: product:cloudflare-one, product:load-balancing, product:cache, product:reference-architecture, size/xl, product:magic-transit, product:magic-wan, product:learning-paths, product:_redirects, product:_index.html

#12831 update outdated link to miniflare repo
  content/workers/observability/local-development-and-testing.md
Labels: product:workers, size/xs

#12841 [WAF] Clarify rate limiting duration and behavior
  content/waf/rate-limiting-rules/parameters.md
Labels: product:waf, size/xs, pcx_team_review

#12793 [Docs] Add NTS link to RFC 8915
  content/time-services/nts.md
Labels: size/xs, product:time-services

#12848 [WAF] Update create-dashboard.md
  content/waf/_partials/_custom-response-blocked-requests.md
  content/waf/custom-rules/create-dashboard.md
  content/waf/custom-rules/custom-rulesets/create-dashboard.md
  content/waf/rate-limiting-rules/create-account-dashboard.md
  content/waf/rate-limiting-rules/create-zone-dashboard.md
Labels: product:waf, size/s

#12845 fixing scim 404
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#12861 [Support] Removing the overview and renaming the troubleshooting surges in traffic page
  content/_redirects
  content/support/Troubleshooting/general-troubleshooting/preparing-for-surges-or-spikes-in-web-traffic.md
Labels: size/s, product:support, product:_redirects

#12860 [DDoS Protection] Update alerts page
  content/ddos-protection/reference/alerts.md
Labels: size/xs, product:ddos-protection, pcx_team_review

#12862 Update content-security-policies.md
  content/fundamentals/reference/policies-compliances/content-security-policies.md
Labels: size/xs, product:fundamentals, pcx_team_review

#12736 [DLS] Add configuration section
  content/data-localization/how-to/_index.md
  content/data-localization/how-to/cache.md
  content/data-localization/how-to/pages.md
  content/data-localization/how-to/zero-trust.md
  content/data-localization/regional-services/get-started.md
Labels: product:data-localization, size/m, pcx_team_review

#12863 [Pages] svelte local bindings aside
  content/pages/framework-guides/deploy-a-svelte-site.md
Labels: product:pages, size/xs, pcx_team_review

#12856 [Workers AI] Adds Explore Code Generation Using Deepseek Coder Models tutorial
  content/workers-ai/static/documentation/notebooks/deepseek-coder-exploration.ipynb
  content/workers-ai/tutorials/explore-code-generation-using-deepseek-coder-models.md
Labels: size/l, product:workers-ai

#12709 [Workers] Move TCP sockets to public beta
  content/workers/platform/betas.md
Labels: product:workers, size/xs

#12593 Update bundling.md
  content/workers/wrangler/bundling.md
Labels: product:workers, size/s

#12768 Clarify `WorkerWallTimeUs`
  content/logs/reference/log-fields/zone/http_requests.md
Labels: product:logs, size/xs, pcx_team_review

#12814 [DNS] Reference info for Domain Connect service providers
  content/dns/reference/domain-connect.md
Labels: product:dns, size/s, pcx_team_review

#12866 Add DDoS change log entries for 2024-02-06
  content/ddos-protection/change-log/http/2024-02-06-emergency.md
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#12872 New models
  content/workers-ai/models/image-classification.md
  content/workers-ai/models/speech-recognition.md
  content/workers-ai/models/text-classification.md
  content/workers-ai/models/text-embeddings.md
  content/workers-ai/models/text-generation.md
  content/workers-ai/models/text-to-image.md
  content/workers-ai/models/translation.md
Labels: size/m, product:workers-ai

#12854 [Workers AI] Adds tutorial Choose the Right Text Generation Model
  content/workers-ai/static/documentation/notebooks/text-generation-model-exploration.ipynb
  content/workers-ai/tutorials/how-to-choose-the-right-text-generation-model.md
Labels: size/xl, product:workers-ai

#12868 Adding 2 new BETA detection for release
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#12867 Minor update for new Magic WAN Connector update
  content/reference-architecture/architectures/sase.md
Labels: product:reference-architecture, size/xs

#12870 Zero downtime failover clarification
  content/fundamentals/_partials/_dns-zero-downtime-failover.md
  content/fundamentals/_partials/_zero-downtime-failover-retry-on-error.md
  content/load-balancing/understand-basics/adaptive-routing.md
  content/reference-architecture/architectures/load-balancing.md
Labels: product:load-balancing, product:reference-architecture, size/s, product:fundamentals

#12871 [Chore] Update Figure caption styling
  content/reference-architecture/architectures/magic-transit.md
  static/style.css
Labels: product:reference-architecture, size/xs, pcx_team_review

#12874 [Chore] Redirect cleanup based on traffic
  content/_redirects
Labels: size/s, product:_redirects, pcx_team_review

#12875 [Vale] Use github.repository variable to get repo name
  .github/workflows/vale.yml
Labels: size/xs

#12850 Update Zaraz changelog 2024-02-05
  data/changelogs/zaraz.yaml
Labels: size/xs

#12719 [Pages] Fix angular CLI docs
  content/pages/_partials/_build-configuration.md
Labels: product:pages, size/xs

#12849 [SSL] Clarify ACM role and cipher suites customization scope
  content/cloudflare-for-platforms/_partials/_edit-custom-hostname-api.md
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/enforce-mtls.md
  content/ssl/edge-certificates/advanced-certificate-manager/_index.md
  content/ssl/edge-certificates/universal-ssl/limitations.md
  content/ssl/reference/cipher-suites/customize-cipher-suites.md
  content/ssl/reference/cipher-suites/troubleshooting.md
Labels: product:ssl, product:cloudflare-for-platforms, size/s, pcx_team_review

#12880 [MWAN] Virtual Connector
  content/_redirects
  content/magic-wan/configuration/connector/_index.md
  content/magic-wan/configuration/connector/configure-hardware-connector.md
  content/magic-wan/configuration/connector/configure-virtual-connector.md
  content/magic-wan/configuration/connector/reference.md
  content/magic-wan/configuration/connector/troubleshooting.md
Labels: size/m, product:magic-wan, product:_redirects, pcx_team_review

#12878 [WR ]Add file size limit
  content/waiting-room/how-to/customize-waiting-room.md
Labels: product:waiting-room, size/xs, pcx_team_review

#12869 [Workers] update inbound tcp socket info
  content/workers/reference/protocols.md
Labels: product:workers, size/xs, pcx_team_review

#12864 [Pages] env.ASSETS.fetch(): clarify request object
  content/pages/functions/api-reference.md
Labels: product:pages, size/xs, pcx_team_review

#12744 update the Next.js guide to refer to the new `next.config.mjs` default
  content/pages/framework-guides/deploy-a-nextjs-site.md
Labels: product:pages, size/s

#12832 add vs code tip to local development doc
  content/workers/observability/local-development-and-testing.md
Labels: product:workers, size/xs

#12857 [Cache] Improve OCC page
  content/cache/concepts/cache-control.md
Labels: product:cache, size/m, pcx_team_review

#12882 [MWAN] Virtual Connector patch
  content/magic-wan/configuration/connector/configure-virtual-connector.md
  content/magic-wan/configuration/connector/reference.md
Labels: size/s, product:magic-wan, pcx_team_review

#12883 [Pages/D1] link out to local dev instructions
  content/d1/configuration/local-development.md
  content/pages/functions/bindings.md
Labels: product:pages, product:d1, size/s, pcx_team_review

#12884 Change Discord urls from discord.gg to our domain
  content/ai-gateway/_index.md
  content/browser-rendering/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/_index.md
  content/constellation/_index.md
  content/d1/get-started.md
  content/durable-objects/_index.md
  content/fundamentals/_partials/_cloudflare-resources.md
  content/fundamentals/subscriptions-and-billing/preview-services.md
  content/hyperdrive/get-started.md
  content/images/upload-images/sourcing-kit/_index.md
  content/kv/get-started.md
  content/learning-paths/workers/devplat/intro-to-devplat.md
  content/logs/instant-logs.md
  content/pages/_index.md
  content/pages/functions/routing.md
  content/pages/functions/smart-placement.md
  content/pages/how-to/deploy-a-wordpress-site.md
  content/pages/platform/known-issues.md
  content/queues/_index.md
  content/queues/platform/limits.md
  content/queues/reference/javascript-apis.md
  content/r2/_index.md
  content/r2/api/s3/extensions.md
  content/r2/data-migration/sippy.md
  content/r2/reference/data-location.md
  content/stream/_index.md
  content/workers-ai/get-started/workers-wrangler.md
  content/workers/_index.md
  content/workers/configuration/smart-placement.md
  content/workers/observability/sentry-integration.md
  content/workers/platform/changelog/_index.md
  content/workers/tutorials/configure-your-cdn/index.md
  content/workers/tutorials/connect-to-turso-using-workers/index.md
  content/workers/tutorials/create-a-chatgpt-powered-search-plugin/index.md
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
  content/workers/tutorials/openai-function-calls-workers/index.md
  content/workers/tutorials/postgres/index.md
  content/zaraz/_index.md
  content/zaraz/faq.md
  data/ai-gateway.yml
  data/browser-rendering.yml
  data/constellation.yml
  data/d1.yml
  data/durable-objects.yml
  data/kv.yml
  data/workers-ai.yml
  data/workers.yml
  data/zaraz.yml
  layouts/partials/footer.html
  layouts/partials/home.footer.html
Labels: product:workers, product:stream, product:images, product:pages, product:logs, product:r2, product:queues, product:d1, product:cloudflare-for-platforms, product:constellation, product:browser-rendering, product:durable-objects, size/m, product:fundamentals, product:zaraz, product:learning-paths, product:kv, product:ai-gateway, product:workers-ai, product:hyperdrive

#12889 amend "in orer" typo in Next.js guide
  content/pages/framework-guides/deploy-a-nextjs-site.md
Labels: product:pages, size/xs

#12893 Update warp-connector.md
  content/cloudflare-one/connections/connect-networks/private-net/warp-connector.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#12886 [Ref arch] Figcaption restructure
  .github/CODEOWNERS
  content/reference-architecture/architectures/cdn.md
  content/reference-architecture/architectures/load-balancing.md
  content/reference-architecture/architectures/magic-transit.md
  content/reference-architecture/architectures/multi-vendor.md
  content/reference-architecture/design-guides/secure-application-delivery.md
  static/style.css
Labels: product:reference-architecture, size/m, pcx_team_review

#12896 [MWAN] Corrected typo
  content/magic-wan/configuration/connector/configure-virtual-connector.md
Labels: size/xs, product:magic-wan, pcx_team_review

#12467 [Durable Objects] Explain blockConcurrencyWhile()
  content/durable-objects/reference/in-memory-state.md
  content/durable-objects/reference/websockets.md
Labels: product:durable-objects, size/s, pcx_team_review

#12859 [Ruleset Engine, WAF] Update exceptions documentation
  content/bots/troubleshooting.md
  content/firewall/cf-firewall-rules/actions.md
  content/ruleset-engine/_partials/_rule-position-values.md
  content/ruleset-engine/managed-rulesets/_index.md
  content/ruleset-engine/managed-rulesets/create-exception.md
  content/ruleset-engine/rulesets-api/add-rule.md
  content/ruleset-engine/rulesets-api/update-rule.md
  content/terraform/additional-configurations/waf-managed-rulesets.md
  content/waf/about/_index.md
  content/waf/managed-rules/deploy-account-dashboard.md
  content/waf/managed-rules/deploy-api.md
  content/waf/managed-rules/deploy-zone-dashboard.md
  content/waf/managed-rules/handle-false-positives.md
  content/waf/managed-rules/waf-exceptions/_index.md
  content/waf/managed-rules/waf-exceptions/define-api.md
  content/waf/managed-rules/waf-exceptions/define-dashboard.md
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
  content/waf/troubleshooting/blocked-bing-site-scans.md
  data/learning-paths/application-security.json
Labels: product:terraform, product:bots, product:firewall, product:waf, product:ruleset-engine, size/l, pcx_team_review

#12898 [Cache] Added docs for revalidation and request collapsing
  content/cache/concepts/revalidation.md
  data/glossary/cache.yaml
Labels: product:cache, size/s, pcx_team_review

#12787 update `getBindingsProxy` documentation
  content/workers/_partials/_ai-local-usage-charges.md
  content/workers/wrangler/api.md
  content/workers/wrangler/configuration.md
Labels: product:workers, size/m

#12738 [Workers] Restructure & update logging section
  content/_redirects
  content/cloudflare-for-platforms/workers-for-platforms/reference/observability.md
  content/d1/configuration/local-development.md
  content/d1/configuration/remote-development.md
  content/d1/observability/debug-d1.md
  content/email-routing/limits.md
  content/learning-paths/workers/test/intro-to-observability.md
  content/logs/about/index.md
  content/workers/observability/errors.md
  content/workers/observability/local-development-and-testing.md
  content/workers/observability/log-from-workers.md
  content/workers/observability/logging/_index.md
  content/workers/observability/logging/logpush.md
  content/workers/observability/logging/real-time-logs.md
  content/workers/observability/logging/tail-workers.md
  content/workers/observability/sentry-integration.md
  content/workers/platform/limits.md
  content/workers/runtime-apis/handlers/tail.md
  content/workers/runtime-apis/nodejs/diagnostics-channel.md
  content/workers/wrangler/configuration.md
  data/changelogs/workers.yaml
Labels: product:workers, product:logs, product:d1, product:email-routing, product:cloudflare-for-platforms, size/m, product:learning-paths, product:_redirects

#12890 [CI] Error on bad discord links
  bin/crawl.ts
Labels: size/xs, pcx_team_review

#12756 [Docs site] Replace full-page Coveo SERP with Algolia equivalent
  assets/instantsearch.js
  assets/instantsearchdropdowns.js
  assets/search-coveo.ts
  assets/search.ts
  assets/tutorial-coveo.ts
  config/_default/config.toml
  content/search.html
  layouts/_default/home.html
  layouts/partials/head.meta.html
  package.json
  static/algolia-serp.css
  static/icons/caret-down.svg
  static/search-coveo.css
  static/tutorial-coveo.css
  tsconfig.json
Labels: size/xl, pcx_team_review, product:search.html

#12894 [Security Center/ZT] Security Center Gateway policy consistency
  content/security-center/indicator-feeds/getting-started/index.md
Labels: sub-product:gateway, product:security-center, size/s

#12357 [workers] Deprecation notice on ChatGPT plugins tutorial
  content/workers/tutorials/create-a-chatgpt-powered-search-plugin/index.md
Labels: product:workers, size/xs

#12906 Add DDoS change log entries for 2024-02-08
  content/ddos-protection/change-log/http/2024-02-08-emergency.md
  data/changelogs/ddos-http.yaml
Labels: changelog, size/s, product:ddos-protection

#12818 [Docs Site] Lint YAML files with Vale
  .github/workflows/vale.yml
  .vale.ini
  data/time-services.yml
Labels: size/s

#12912 [Chore] Pin wrangler
  package.json
Labels: size/xs, pcx_team_review

#12913 Pin wrangler + workers-types and add package-lock.json
  .gitignore
  package-lock.json
  package.json
Labels: size/xl

#12743 [WAF] Clarify rate limiting behavior for multi-data center locations
  content/waf/rate-limiting-rules/request-rate.md
Labels: product:waf, size/xs, pcx_team_review

#12902 [SSL] Dedicated section for TLS 1.0 disablement
  content/ssl/edge-certificates/additional-options/minimum-tls.md
  content/ssl/reference/protocols.md
Labels: product:ssl, size/s, pcx_team_review

#12917 Update Custom Page docs to recommend using the preview service.
  content/support/More Dashboard Apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
Labels: size/s, product:support

#12919 [DDoS Protection] Remove references to "gatebot" tag
  content/ddos-protection/managed-rulesets/http/_index.md
  content/ddos-protection/managed-rulesets/http/override-parameters.md
Labels: size/s, product:ddos-protection, pcx_team_review

#12916 [MWAN] Organize connector docs
  content/magic-wan/_partials/connector/_activate-connector.md
  content/magic-wan/_partials/connector/_create-site.md
  content/magic-wan/_partials/connector/_ipsec-static-tunnels.md
  content/magic-wan/_partials/connector/_next-steps.md
  content/magic-wan/configuration/connector/configure-hardware-connector.md
  content/magic-wan/configuration/connector/configure-virtual-connector.md
  content/magic-wan/configuration/connector/dhcp/_index.md
  content/magic-wan/configuration/connector/dhcp/dhcp-relay.md
  content/magic-wan/configuration/connector/dhcp/dhcp-server.md
  content/magic-wan/configuration/connector/dhcp/dhcp-static-address-reservation.md
  content/magic-wan/configuration/connector/maintenance/_index.md
  content/magic-wan/configuration/connector/maintenance/deactivate-connector.md
  content/magic-wan/configuration/connector/maintenance/heartbeat.md
  content/magic-wan/configuration/connector/maintenance/interrupt-service-window.md
  content/magic-wan/configuration/connector/reference.md
  content/magic-wan/configuration/connector/troubleshooting.md
  content/magic-wan/prerequisites.md
Labels: size/m, product:magic-wan, pcx_team_review

#12899 [MNM]: fixes typo in _index.md
  content/magic-network-monitoring/_index.md
Labels: size/xs, product:magic-network-monitoring

#12799 rules/snippets: subrequests limit
  content/rules/snippets/_index.md
Labels: product:rules, size/xs

#12892 [BYOIP] IRR entries
  content/_redirects
  content/byoip/concepts/irr-entries/_index.md
  content/byoip/concepts/irr-entries/best-practices.md
  content/byoip/how-to/verify-irr-entries.md
  content/magic-transit/prerequisites.md
Labels: product:byoip, size/m, product:magic-transit, product:_redirects

#12925 [DevPlat] fullstack -> full-stack
  content/learning-paths/workers/devplat/_index.md
  content/learning-paths/workers/devplat/intro-to-devplat.md
  content/pages/tutorials/build-an-api-with-pages-functions/index.md
  content/turnstile/community-resources.md
  content/workers/_partials/_workers_sites.md
  content/workers/configuration/sites/_index.md
  content/workers/databases/vectorize.md
  content/workers/wrangler/commands.md
Labels: product:workers, product:pages, size/s, product:turnstile, product:learning-paths, pcx_team_review

#12923 [WAF] Rate limiting: Clarify mitigation timeout for Ent customers
  content/waf/rate-limiting-rules/parameters.md
Labels: product:waf, size/s, pcx_team_review

#12921 add information about `ctx` and `cf` objects to the `getBindingsProxy` docs
  content/workers/wrangler/api.md
Labels: product:workers, size/xs

#12918 [SSL] Fixed typo in disable-weak-cipher-suites.md
  content/ssl/edge-certificates/disable-weak-cipher-suites.md
Labels: product:ssl, size/xs

#12907 [Durable Objects] Add data-security page for Durable Objects
  content/durable-objects/reference/data-security.md
Labels: product:durable-objects, size/s

#12911 [Workers AI] Updates Jupyter Notebook Tutorials with their corresponding YouTube videos
  content/workers-ai/static/documentation/notebooks/deepseek-coder-exploration.ipynb
  content/workers-ai/static/documentation/notebooks/text-generation-model-exploration.ipynb
  content/workers-ai/tutorials/explore-code-generation-using-deepseek-coder-models.md
  content/workers-ai/tutorials/how-to-choose-the-right-text-generation-model.md
Labels: size/m, product:workers-ai

#12901 [Pages] nextjs deployment guide
  content/_redirects
  content/pages/framework-guides/_index.md
  content/pages/framework-guides/deploy-a-nextjs-site.md
  content/pages/framework-guides/nextjs/_index.md
  content/pages/framework-guides/nextjs/deploy-a-nextjs-site.md
  content/pages/framework-guides/nextjs/deploy-a-static-nextjs-site.md
  content/pages/get-started/c3.md
Labels: product:pages, size/l, product:_redirects, pcx_team_review

#12823 Add instructions to enable/disable Sippy from the dashboard
  content/r2/data-migration/sippy.md
Labels: product:r2, size/s

#12928 [API Shield] FAQ update
  content/api-shield/frequently-asked-questions.md
Labels: product:api-shield, size/xs, pcx_team_review

#12930 Update _redirects
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#12931 [ZT] Add cert file
  content/cloudflare-one/static/connections/Cloudflare_CA.crt
  content/cloudflare-one/static/connections/Cloudflare_CA.pem
Labels: product:cloudflare-one, size/s, pcx_team_review

#12932 [ZT] move cert file
  content/cloudflare-one/static/documentation/connections/Cloudflare_CA.crt
  content/cloudflare-one/static/documentation/connections/Cloudflare_CA.pem
Labels: product:cloudflare-one, size/xs, pcx_team_review

#12914 [Workers AI] Add Craig and Logan to the Workers AI tutorial and static level
  .github/CODEOWNERS
Labels: size/xs

#12905 [Billing] Update Understanding Cloudflare sales tax.md
  content/support/Account Management & Billing/Billing Cloudflare Plans/Understanding Cloudflare sales tax.md
Labels: size/xs, product:support

#12937 Fixing rule IDs
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, size/xs

#12938 Add GraphQL backend query limit
  content/analytics/graphql-api/limits/index.md
Labels: product:analytics, size/xs

#12927 [BYOIP] Dynamic Advertisement
  content/_redirects
  content/byoip/concepts/dynamic-advertisement/_index.md
  content/byoip/concepts/dynamic-advertisement/best-practices.md
  content/byoip/how-to/_index.md
  content/byoip/how-to/configure-dynamic-advertisement.md
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
  content/magic-network-monitoring/faq.md
  content/magic-transit/on-demand.md
Labels: product:byoip, size/m, product:magic-transit, product:_redirects, pcx_team_review, product:magic-network-monitoring

#12935 [chore] Fix Header Links
  content/cloudflare-one/_partials/tunnel/_enable-gateway-proxy.md
  content/cloudflare-one/_partials/tunnel/_tunnel-capacity-baseline.md
  content/d1/build-databases/import-data.md
  content/d1/build-databases/use-indexes.md
  content/d1/reference/generated-columns.md
  content/d1/reference/query-json.md
  content/images/transform-images/transform-via-workers.md
  content/magic-wan/configuration/connector/troubleshooting.md
  content/magic-wan/zero-trust/cloudflare-gateway.md
  content/pages/functions/plugins/mailchannels.md
  content/rules/page-rules/how-to/override-url-or-ip-address.md
  content/waf/managed-rules/waf-exceptions/define-api.md
  content/workers/examples/cache-using-fetch.md
  content/workers/runtime-apis/fetch.md
  content/workers/runtime-apis/request.md
Labels: product:workers, product:images, product:cloudflare-one, product:pages, product:rules, product:waf, product:d1, size/s, product:magic-wan

#12939 Update move-domain.md
  content/fundamentals/setup/manage-domains/move-domain.md
Labels: size/xs, product:fundamentals

#12941 Add DDoS change log entries for 2024-02-12
  content/ddos-protection/change-log/http/2024-02-12.md
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#12942 [API Shield] FAQ update + new learned schema note
  content/api-shield/frequently-asked-questions.md
  content/api-shield/security/schema-validation/_index.md
Labels: product:api-shield, size/s, pcx_team_review

#12944 Release feb 12 2024
  content/waf/change-log/2024-02-12.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/m

#12946 Update tunnel-run-parameters.md
  content/cloudflare-one/connections/connect-networks/configure-tunnels/tunnel-run-parameters.md
Labels: product:cloudflare-one, size/s

#12947 Update index.md with correct ref repo
  content/workers/tutorials/openai-function-calls-workers/index.md
Labels: product:workers, size/xs

#12933 [Workers AI] Reworks original Jupyter Notebook to use external assets and new video
  content/workers-ai/_partials/_workers-ai-api-ipynb.md
  content/workers-ai/static/documentation/notebooks/cloudflare-workers-ai/assets/craig-rambling.mp3
  content/workers-ai/static/documentation/notebooks/cloudflare-workers-ai/assets/output_11_0.png
  content/workers-ai/static/documentation/notebooks/cloudflare-workers-ai/assets/output_19_0.jpg
  content/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.md
Labels: size/l, product:workers-ai

#12940 [D1] Add D1 billing date
  content/d1/platform/pricing.md
Labels: product:d1, size/xs

#12958 fixing incorrect action
  content/waf/change-log/scheduled-changes.md
Labels: product:waf, size/xs

#12960 [Chore] Update homepage sections
  content/_index.html
  data/workers-ai.yml
  static/icons/ai-gateway.svg
  static/icons/ddos.svg
  static/icons/load-balancing.svg
  static/icons/speech.svg
  static/icons/vectorize.svg
  static/icons/workers-ai.svg
Labels: size/s, pcx_team_review, product:_index.html

#12959 [Vectorize] Fix title page
  content/vectorize/reference/client-api.md
Labels: size/xs, pcx_team_review, product:vectorize

#12963 Apo installation alert
  content/automatic-platform-optimization/get-started/activate-cf-wp-plugin.md
  content/automatic-platform-optimization/get-started/change-nameservers.md
  content/automatic-platform-optimization/get-started/confirm-dns-records.md
Labels: size/s, pcx_team_review, product:automatic-platform-optimization

#12955 Update global-policies.md
  content/cloudflare-one/policies/gateway/global-policies.md
Labels: product:cloudflare-one, size/s

#12855 [Notifications] Standardization
  content/notifications/notification-available.md
  data/centralized-info/notifications.yml
  layouts/shortcodes/available-notifications.html
Labels: size/xl, pcx_team_review, product:notifications

#12330 Update Gateway 504 advice
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one, size/xs

#12858 Update _index.md
  content/cloudflare-one/insights/logs/logpush/_index.md
Labels: product:cloudflare-one, size/xs

#12969 [Learning paths] Token background
  content/learning-paths/get-started/account-setup/create-api-token.md
Labels: size/xs, product:learning-paths, pcx_team_review

#12825 [Gateway] Resolver policy upstream logic
  content/cloudflare-one/_partials/gateway/_create-resolver-policy.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#11247 Update Chrome cert policy
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one, size/xs

#12970 [API Shield] GraphQL limitations update
  content/api-shield/security/graphql-protection/_index.md
Labels: product:api-shield, size/xs, pcx_team_review

#12926 [DNS, Support] Add links to Community topic on Discourse
  content/dns/manage-dns-records/reference/vendor-specific-records.md
  content/support/Third-Party Software/Forum Software/Using Cloudflare with various forums (vBulletin, Xenforo, MyBB).md
Labels: product:dns, size/s, product:support, pcx_team_review

#12951 [D1] Fix SQL typo in `database-commands.md`
  content/d1/reference/database-commands.md
Labels: product:d1, size/xs

#12956 Update adaptive-protection.md
  content/ddos-protection/managed-rulesets/adaptive-protection.md
Labels: size/xs, product:ddos-protection

#12957 update `getBindingsProxy` documentation to `getPlatformProxy`
  content/workers/wrangler/api.md
Labels: product:workers, size/s

#12971 d1: raw() vs all() vs run() fixes
  content/d1/build-databases/query-databases.md
  data/changelogs/d1.yaml
Labels: product:d1, size/m, pcx_team_review

#12975 small fix in getPlatformProxy's dispose text
  content/workers/wrangler/api.md
Labels: product:workers, size/xs

#12977 D1: Update d1.yaml
  data/changelogs/d1.yaml
Labels: product:d1, pcx_team_review

#12881 [SSL] Add use cases and more guidance to edge-certificates.md
  content/ssl/edge-certificates/_index.md
  content/ssl/get-started/index.md
Labels: product:ssl, size/s, pcx_team_review

#12979 [Docs] Centered images
  static/style.css
Labels: size/xs, pcx_team_review

#12924 [SSL] Callout tokens change upon DCV failure
  content/cloudflare-for-platforms/cloudflare-for-saas/reference/token-validity-periods.md
  content/ssl/_partials/_dcv-invalid-token-situations.md
  content/ssl/edge-certificates/changing-dcv-method/dcv-flow.md
  content/ssl/edge-certificates/changing-dcv-method/validation-backoff-schedule.md
Labels: product:ssl, product:cloudflare-for-platforms, size/s, pcx_team_review

#12982 [Magic Network Monitoring] flow diagrams
  assets/images/magic-network-monitoring/1-flowdata.png
  assets/images/magic-network-monitoring/2-flowdata.png
  assets/images/magic-network-monitoring/3-flowdata.png
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
Labels: size/s, pcx_team_review, product:magic-network-monitoring

#12976 [Logs] Updated Logs glossary
  content/logs/reference/glossary.md
  data/glossary/cache.yaml
  data/glossary/fundamentals.yaml
  data/glossary/logs.yaml
Labels: product:logs, size/m, pcx_team_review

#12983 [Cache & Analytics] Correct link and add tooltip
  content/analytics/account-and-zone-analytics/status-codes.md
  content/cache/get-started.md
Labels: product:analytics, product:cache, size/xs, pcx_team_review
