Repository cloudflare/cloudflare-docs, pull requests merged in 2024-01, with the labels that each got.

#12384 [Support/Troubleshooting] Fixed spelling for 'traceroot' and updated some readability.
  content/support/Troubleshooting/general-troubleshooting/gathering-information-for-troubleshooting-sites.md
Labels: size/s, product:support

#12362 Remove extra space in class name
  content/queues/examples/use-queues-with-durable-objects.md
Labels: product:queues, size/xs

#12366 [GraphQL API] Update index.md
  content/analytics/graphql-api/limits/index.md
Labels: product:analytics, size/xs

#12385 Update start-stream-live.md
  content/stream/stream-live/start-stream-live.md
Labels: product:stream, size/xs

#12369 R2: Add a note about lack of object listing support in public buckets
  content/r2/buckets/public-buckets.md
Labels: product:r2, size/xs

#12388 [Bots] MLv7 release notes
  content/bots/reference/machine-learning-models.md
Labels: product:bots, size/xs, pcx_team_review

#12382 Fixed incorrect domain
  content/cloudflare-one/connections/connect-devices/warp/deployment/firewall.md
Labels: product:cloudflare-one, size/xs

#12291 Turnstile: Add pre-clearance changelog and update csp for it
  content/fundamentals/reference/policies-compliances/content-security-policies.md
  content/turnstile/frequently-asked-questions.md
  content/turnstile/reference/content-security-policy.md
  data/changelogs/turnstile.yaml
Labels: size/s, product:turnstile, product:fundamentals

#12393 [CF Queues] Add info on message ordering
  content/queues/learning/how-queues-works.md
Labels: product:queues, size/xs

#12394 [WAF] Update availability table for rate limiting rules
  content/waf/rate-limiting-rules/_index.md
Labels: product:waf, size/xs, pcx_team_review

#12368 Add Tanushree Sharma as codeowner of /workers/platform
  .github/CODEOWNERS
Labels: size/xs, pcx_team_review

#12383 Fix dead Mistral link
  content/workers-ai/models/text-generation.md
Labels: size/xs, product:workers-ai

#12324 Queues: Update configuration.md
  content/queues/platform/configuration.md
Labels: product:queues, size/xs, pcx_team_review

#12194 KV: clarify expiration precedence
  content/kv/api/write-key-value-pairs.md
Labels: size/xs, pcx_team_review, product:kv

#11845 d1: Update client-api.md
  content/d1/platform/client-api.md
Labels: product:d1, size/xs, pcx_team_review

#12395 [Chore] Updated copyright date
  layouts/partials/home.footer.html
Labels: size/xs, pcx_team_review

#12396 [Billing] India tax information
  content/support/Account Management & Billing/Billing Cloudflare Plans/Understanding Cloudflare sales tax.md
Labels: size/xs, product:support, pcx_team_review

#12400 Fix Zaraz typo
  content/zaraz/advanced/datalayer-compatibility.md
Labels: size/xs, product:zaraz

#12387 [QUEUES] Create Reference section and move content
  content/_redirects
  content/pages/functions/bindings.md
  content/queues/_index.md
  content/queues/examples/use-queues-with-durable-objects.md
  content/queues/platform/changelog.md
  content/queues/platform/limits.md
  content/queues/platform/pricing.md
  content/queues/platform/storage-options.md
  content/queues/reference/_index.md
  content/queues/reference/configuration.md
  content/queues/reference/javascript-apis.md
  content/queues/reference/wrangler-commands.md
  content/workers/configuration/bindings/_index.md
  content/workers/platform/limits.md
  content/workers/platform/pricing.md
  content/workers/runtime-apis/handlers/queue.md
  content/workers/runtime-apis/queues.md
  content/workers/runtime-apis/tcp-sockets.md
  content/workers/wrangler/configuration.md
  data/changelogs/queues.yaml
Labels: product:workers, product:pages, product:queues, size/s, product:_redirects, pcx_team_review

#11382 Privacy Pass API deprecation
  content/fundamentals/api/reference/deprecations.md
Labels: size/s, product:fundamentals

#12402 [Magic WAN / MT] Custom IKE IPsec tunnels
  content/magic-transit/_partials/tunnels-reference/_tunnels-encapsulation-opening.md
Labels: size/s, product:magic-transit, pcx_team_review

#12389 [Hyperdrive] Volatile functions are not cached by hyperdrive
  content/hyperdrive/learning/query-caching.md
Labels: size/xs, product:hyperdrive

#12405 Announcing 3 new rules and toggling 1 rule
  content/waf/change-log/2024-01-04.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#12403 [QUEUES] Moving content from Learning to Reference section
  content/_redirects
  content/queues/_index.md
  content/queues/learning/.consumer-concurrency.md.swp
  content/queues/learning/_index.md
  content/queues/reference/batching-retries.md
  content/queues/reference/configuration.md
  content/queues/reference/consumer-concurrency.md
  content/queues/reference/delivery-guarantees.md
  content/queues/reference/how-queues-works.md
  content/queues/reference/javascript-apis.md
  content/queues/reference/local-development.md
  content/queues/reference/metrics.md
  content/queues/reference/wrangler-commands.md
  content/queues/tutorials/web-crawler-with-browser-rendering/index.md
  content/workers/_partials/_queues_pricing.md
  content/workers/platform/storage-options.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/configuration.md
  data/changelogs/queues.yaml
Labels: product:workers, product:queues, size/s, product:_redirects, pcx_team_review

#12406 [Version Mgmt] Remove Page Rules support
  content/version-management/_partials/_version-definition.md
  content/version-management/reference/available-settings.md
Labels: product:version-management, size/xs, pcx_team_review

#12409 Update audit logs docs
  content/fundamentals/account-and-billing/account-security/review-audit-logs.md
Labels: size/xs, product:fundamentals

#12408 [Analytics] Executive summary in Network Analytics dashboard
  assets/images/analytics/network-analytics/executive-summary-card.png
  content/analytics/network-analytics/understand/main-dashboard.md
Labels: product:analytics, size/s, pcx_team_review

#12390 Update checkout version
  content/workers/wrangler/ci-cd.md
Labels: product:workers, size/xs

#12218 [ZT] Allow users to enable local network exclusion
  content/cloudflare-one/_partials/tunnel/_warp-to-tunnel-route-ips.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#12411 [ZT] Add beta pills
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/switch-organizations.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#12407 [Durable Objects] Create Reference section and move content
  content/_redirects
  content/data-localization/_index.md
  content/durable-objects/get-started.md
  content/durable-objects/how-to/create-durable-object-stubs.md
  content/durable-objects/learning/durable-objects-migrations.md
  content/durable-objects/platform/known-issues.md
  content/durable-objects/platform/limits.md
  content/durable-objects/platform/pricing.md
  content/durable-objects/platform/storage-options.md
  content/durable-objects/reference/_index.md
  content/durable-objects/reference/data-location.md
  content/durable-objects/reference/environments.md
  content/durable-objects/reference/graphql-analytics.md
  content/durable-objects/reference/troubleshooting.md
Labels: product:data-localization, product:durable-objects, size/s, product:_redirects, pcx_team_review

#12398 [Gateway/RBI] Isolate ChatGPT policy
  content/cloudflare-one/_partials/gateway/policies/_isolate-chatgpt.md
  content/cloudflare-one/policies/browser-isolation/isolation-policies.md
  content/cloudflare-one/policies/gateway/http-policies/common-policies.md
Labels: sub-product:gateway, product:cloudflare-one, size/s, sub-product:browser-isolation

#12397 [Gateway] Dedicated egress IP recommendations
  content/cloudflare-one/policies/gateway/egress-policies/_index.md
  content/cloudflare-one/policies/gateway/egress-policies/dedicated-egress-ips.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#12415 Add Spectrum limitation
  content/spectrum/reference/limitations.md
Labels: product:spectrum, size/xs, pcx_team_review

#12416 [Durable Objects] Move content from Learning to Reference
  content/_redirects
  content/durable-objects/_index.md
  content/durable-objects/api/websockets.md
  content/durable-objects/examples/build-a-counter.md
  content/durable-objects/get-started.md
  content/durable-objects/learning/_index.md
  content/durable-objects/reference/durable-objects-migrations.md
  content/durable-objects/reference/in-memory-state.md
  content/durable-objects/reference/websockets.md
  content/workers/_partials/_transactional_storage_api_pricing.md
  content/workers/configuration/deployments.md
  content/workers/wrangler/configuration.md
Labels: product:workers, product:durable-objects, size/s, product:_redirects, pcx_team_review

#12417 Add DDoS change log entries for 2024-01-05
  content/ddos-protection/change-log/http/2024-01-05.md
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#12418 [Area 1] Added step to disable spf check
  content/email-security/deployment/inline/setup/cisco-area1-mx.md
Labels: size/s, pcx_team_review, product:email-security

#12419 [ZT] Access and Gateway log retention
  content/cloudflare-one/insights/logs/_index.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#12427 Update quarterly-ddos-reports.md
  content/radar/reference/quarterly-ddos-reports.md
Labels: size/xs, product:radar

#12428 [Reference Architecture] Fix anchor links
  content/reference-architecture/load-balancing-reference-architecture.md
  content/reference-architecture/secure-application-delivery-design-guide.md
Labels: product:reference-architecture, size/s, pcx_team_review

#12246 [WAF] Update firewall rules migration guide
  content/waf/reference/migration-guides/firewall-rules-to-custom-rules.md
  content/waf/reference/migration-guides/old-rate-limiting-deprecation.md
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
Labels: product:waf, size/s, pcx_team_review

#12430 Update quarterly-ddos-reports.md
  content/radar/reference/quarterly-ddos-reports.md
Labels: size/xs, product:radar

#12421 [Gateway] AI subcategory
  content/cloudflare-one/policies/gateway/domain-categories.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#12334 [Pulumi] new tutorial docs
  content/pulumi/_index.md
  content/pulumi/tutorial/_index.md
  content/pulumi/tutorial/add-site.md
  content/pulumi/tutorial/hello-world.md
Labels: size/l, product:pulumi

#12431 [Rules] Add examples about mobile redirects
  content/rules/url-forwarding/single-redirects/examples.md
Labels: product:rules, size/s, pcx_team_review

#12372 [Images] Add resize with workers recommendation to error 9524
  content/images/image-resizing/troubleshooting.md
Labels: product:images, size/xs

#12323 Fix image signing example
  content/images/cloudflare-images/serve-images/serve-private-images-using-signed-url-tokens.md
Labels: product:images, size/xs

#12437 [Gateway] Update IP geolocation update time
  content/cloudflare-one/policies/gateway/egress-policies/dedicated-egress-ips.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#12438 [ZT] Fix beta pill
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/switch-organizations.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#12439 [R2] Document object key length limit
  content/r2/reference/limits.md
Labels: product:r2, size/xs

#11970 [R2] Update aws-sdk-go example for R2
  content/r2/examples/aws/aws-sdk-go.md
Labels: product:r2, size/xs

#11400 docs: cloudflare r2 tf: best practices, v5 aws
  content/r2/examples/terraform-aws.md
Labels: product:r2, size/s

#11596 Update aws-sdk-js-v3.md - add import statement
  content/r2/examples/aws/aws-sdk-js-v3.md
Labels: product:r2, size/xs

#12442 [Chore] Update some assignment logic
  .github/actions/assign-issue/index.js
  .github/actions/assign-pr/index.js
  .github/actions/assign-pr/index.ts
  .github/actions/owners.ts
Labels: size/s, pcx_team_review

#12443 Update http-request-headers.md
  content/fundamentals/reference/http-request-headers.md
Labels: size/xs, product:fundamentals, pcx_team_review

#12445 [Chore] Adjust build timeout
  config.toml
Labels: size/xs, pcx_team_review

#12444 [Magic Network Monitoring] Simulate DDoS attack tut
  assets/images/magic-network-monitoring/cmd-output.png
  content/magic-network-monitoring/tutorials/ddos-testing-guide.md
Labels: size/m, pcx_team_review, product:magic-network-monitoring

#12446 clarifying DMARC supportability
  content/dmarc-management/enable.md
Labels: size/xs, pcx_team_review, product:dmarc-management

#12448 Pcx 9281
  assets/images/cloudflare-for-platforms/use-cases/Advanced.png
  assets/images/cloudflare-for-platforms/use-cases/Pro.png
  assets/images/cloudflare-for-platforms/use-cases/Standard.png
Labels: size/xs, pcx_team_review

#12413 [Gateway] Update policy builder priority text
  content/cloudflare-one/policies/gateway/order-of-enforcement.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#12033 [Hyperdrive] add Supabase example for Hyperdrive
  content/hyperdrive/_index.md
  content/hyperdrive/examples/supabase.md
  content/hyperdrive/get-started.md
Labels: size/s, product:hyperdrive

#12451 [Chore] Update localhost links to remove hostname
  content/workers/examples/basic-auth.md
  content/workers/examples/signing-requests.md
Labels: product:workers, size/xs, pcx_team_review

#12453 D1: link to Smart Placement in nav
  content/d1/platform/smart-placement.md
Labels: product:d1, size/xs, pcx_team_review

#12305 [Gateway] Client notifications
  content/cloudflare-one/_partials/gateway/_client-notifications.md
  content/cloudflare-one/_partials/gateway/_value.md
  content/cloudflare-one/policies/gateway/dns-policies/_index.md
  content/cloudflare-one/policies/gateway/http-policies/_index.md
  content/cloudflare-one/policies/gateway/network-policies/_index.md
  content/cloudflare-one/policies/gateway/network-policies/common-policies.md
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/s

#12434 Use proper XML indentation for multi-org configuration
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/switch-organizations.md
Labels: product:cloudflare-one, size/s

#12456 [W&P] Enable Zaraz
  content/pages/_index.md
  content/workers/_index.md
Labels: product:workers, product:pages, size/s, pcx_team_review

#12463 [MWAN] Added bandwidth page
  content/magic-wan/reference/bandwidth-measurement.md
Labels: size/s, product:magic-wan, pcx_team_review

#12464 [Workers] Xata revision
  content/workers/databases/native-integrations/xata.md
Labels: product:workers, size/s, pcx_team_review

#12452 [Fundamental] Clarify Roles and their Capabilities (Administrator, Billing, billing-edit, subscriptions-edit)
  content/fundamentals/setup/manage-members/roles.md
Labels: size/xs, product:fundamentals

#12450 [Durable Objects] Revisit in-memory state example
  content/_redirects
  content/durable-objects/examples/durable-object-in-memory-state.md
Labels: product:durable-objects, size/s, product:_redirects, pcx_team_review

#12462 [Front-end] Adjust pill margins
  layouts/shortcodes/heading-pill.html
  static/style.css
Labels: docs-repo-or-site, size/s

#12459 Clarified that O2O for WPEngine does not need Enterprise
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/wpengine.md
Labels: product:cloudflare-for-platforms, size/xs

#12465 Add to QuickTunnels documentation page the limits section
  content/cloudflare-one/connections/connect-networks/do-more-with-tunnels/trycloudflare.md
Labels: product:cloudflare-one, size/xs

#12469 [ZT] Update brew install command for cloudflared
  content/cloudflare-one/connections/connect-networks/downloads/_index.md
  content/cloudflare-one/connections/connect-networks/get-started/create-local-tunnel.md
  content/cloudflare-one/tutorials/gitlab.md
  content/cloudflare-one/tutorials/kubectl.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#12470 [Gateway] Dedicated egress IP ICMP limitation
  content/cloudflare-one/policies/gateway/egress-policies/dedicated-egress-ips.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#12475 [Web3] Chores
  content/_redirects
  content/web3/_index.md
  content/web3/_partials/_create-gateway-api.md
  content/web3/_partials/_create-gateway-dashboard.md
  content/web3/about.md
  content/web3/get-started.md
  content/web3/how-to/use-polygon-gateway.md
  content/web3/polygon-gateway/_index.md
  content/web3/polygon-gateway/concepts/_index.md
  content/web3/polygon-gateway/concepts/node-types.md
  content/web3/polygon-gateway/reference/_index.md
  content/web3/polygon-gateway/reference/supported-api-methods.md
  content/web3/polygon-gateway/reference/supported-networks.md
  content/web3/reference/gateway-dns-records.md
  content/web3/reference/limits.md
  data/plans.json
Labels: product:web3, size/m, product:_redirects, pcx_team_review

#12458 [D1] Create Reference section and move content
  content/_redirects
  content/d1/_index.md
  content/d1/examples/d1-and-hono.md
  content/d1/examples/d1-and-remix.md
  content/d1/get-started.md
  content/d1/learning/backups.md
  content/d1/learning/database-commands.md
  content/d1/learning/debug-d1.md
  content/d1/learning/importing-data.md
  content/d1/learning/local-development.md
  content/d1/learning/querying-json.md
  content/d1/platform/changelog.md
  content/d1/platform/limits.md
  content/d1/platform/pricing.md
  content/d1/platform/storage-options.md
  content/d1/reference/_index.md
  content/d1/reference/client-api.md
  content/d1/reference/community-projects.md
  content/d1/reference/data-security.md
  content/d1/reference/environments.md
  content/d1/reference/http-api.md
  content/d1/reference/metrics-analytics.md
  content/d1/reference/migrations.md
  content/d1/reference/wrangler-commands.md
  content/d1/tutorials/build-a-comments-api/index.md
  content/pages/functions/bindings.md
  content/workers/configuration/bindings/_index.md
  content/workers/platform/storage-options.md
  content/workers/wrangler/configuration.md
  data/changelogs/d1.yaml
Labels: product:workers, product:pages, product:d1, size/m, product:_redirects, pcx_team_review

#12404 Update procedure and add example request
  content/cache/how-to/cache-rules/create-api.md
Labels: product:cache, size/s, pcx_team_review

#12479 [Cloudflare Tunnels] Corrected monospace code
  content/cloudflare-one/connections/connect-networks/get-started/_index.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#12466 [workers] Modify HMAC example
  content/workers/examples/signing-requests.md
Labels: product:workers, size/m

#12476 [Chore] Add tracking for playground links specifically
  assets/events.ts
Labels: size/xs, pcx_team_review

#12136 Configure Token Auth move /support/
  content/_redirects
  content/r2/buckets/public-buckets.md
  content/ruleset-engine/rules-language/functions.md
  content/support/Firewall/Learn more/Configuring Token Authentication.md
  content/support/Firewall/Learn more/_index.md
  content/support/Firewall/_index.md
  content/waf/custom-rules/use-cases/configure-token-authentication.md
  content/waf/custom-rules/use-cases/require-valid-hmac-token.md
  content/workers/examples/auth-with-headers.md
  content/workers/examples/signing-requests.md
Labels: product:workers, product:waf, product:r2, product:ruleset-engine, size/m, product:support, product:_redirects, pcx_team_review

#12480 [Workers KV] Create Reference section and move content
  content/_redirects
  content/kv/api/delete-key-value-pairs.md
  content/kv/api/list-keys.md
  content/kv/api/read-key-value-pairs.md
  content/kv/api/write-key-value-pairs.md
  content/kv/get-started.md
  content/kv/platform/limits.md
  content/kv/platform/pricing.md
  content/kv/reference/_index.md
  content/kv/reference/environments.md
  content/kv/reference/kv-commands.md
Labels: size/s, product:_redirects, pcx_team_review, product:kv

#12482 [Chore] Separate out default config from local dev config
  config/_default/config.toml
  config/development/config.toml
Labels: size/xs, pcx_team_review

#12481 [DNS] Zone transfer availability and TXT limitations small fixes
  content/dns/manage-dns-records/reference/dns-record-types.md
  data/plans.json
Labels: product:dns, size/s, pcx_team_review

#12471 [workers] Auto generate playground links for examples
  content/workers/examples/basic-auth.md
  content/workers/examples/fetch-html.md
  content/workers/examples/return-html.md
  content/workers/examples/return-json.md
  content/workers/examples/signing-requests.md
  layouts/_default/example.html
  package.json
  static/style.css
  vite.config.ts
Labels: product:workers, size/l

#12485 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs, pcx_team_review

#12474 [ZT] Clarify WARP CGNAT IP
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
  content/cloudflare-one/connections/connect-networks/private-net/warp-connector.md
  content/cloudflare-one/connections/connect-networks/private-net/warp-to-warp.md
  data/glossary/cloudflare-one.yaml
Labels: product:cloudflare-one, size/s, pcx_team_review

#12489 [Chore] Remove duplicate redirect
  content/_redirects
Labels: size/xs, product:_redirects, pcx_team_review

#12488 [Chore] add updated date to examples
  content/workers/examples/basic-auth.md
  content/workers/examples/fetch-html.md
  content/workers/examples/return-html.md
  content/workers/examples/return-json.md
  content/workers/examples/signing-requests.md
Labels: product:workers, size/xs, pcx_team_review

#12483 AI Gateway - corrected endpoint for amazon bedrock
  content/ai-gateway/_partials/_bedrock.md
Labels: size/xs, product:ai-gateway

#12490 [Chore] Check for repeated source URLs in redirects
  bin/validate-redirects.ts
Labels: size/s, pcx_team_review

#12494 [Logs] Small updates
  content/logs/tutorials/examples/example-logpush-curl.md
  content/logs/tutorials/examples/example-logpush-python.md
  content/logs/tutorials/parsing-json-log-data.md
Labels: product:logs, size/s, pcx_team_review

#12496 [Chore] Update page layouts
  content/ddos-protection/change-log/http/_index.md
  content/ddos-protection/change-log/network/_index.md
  content/waf/change-log/_index.md
  content/waf/managed-rules/_index.md
Labels: product:waf, size/xs, product:ddos-protection, pcx_team_review

#12495 [SSL, ZT] Add note about CA cert requirements for mTLS
  content/cloudflare-one/identity/devices/access-integrations/mutual-tls-authentication.md
  content/ssl/_partials/_byo-ca-mtls-cert-requirements.md
  content/ssl/client-certificates/byo-ca-api-shield.md
Labels: product:cloudflare-one, product:ssl, size/s, pcx_team_review

#12486 [Workers for Platforms] Move content from Platform and Learning to Reference + fix broken links
  content/_redirects
  content/cloudflare-for-platforms/workers-for-platforms/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/get-started/configuration.md
  content/cloudflare-for-platforms/workers-for-platforms/learning/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/platform/custom-limits.md
  content/cloudflare-for-platforms/workers-for-platforms/platform/limits.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/how-workers-for-platforms-works.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/metadata.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/observability.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/outbound-workers.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/tags.md
  content/workers/wrangler/commands.md
Labels: product:workers, product:cloudflare-for-platforms, size/s, product:_redirects, pcx_team_review

#12505 [Chore] Update workers playground link tracking
  assets/events.ts
Labels: size/xs, pcx_team_review

#12519 [Speed, Logs] Fix link anchors
  content/logs/reference/change-notices/2023-02-01-security-fields-updates.md
  content/speed/optimization/content/troubleshooting/content-encoding-issues.md
Labels: product:logs, size/xs, pcx_team_review, product:speed

#12520 [Area 1] MS O365 GCC compliance
  content/email-security/_partials/_o365-gcc.md
  content/email-security/deployment/api/setup/email-retro-scan.md
  content/email-security/deployment/api/setup/office365-graph-api.md
  content/email-security/deployment/api/setup/office365-journaling.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/_index.md
  content/email-security/reference/cloudflare-sso.md
  content/email-security/reference/language-support.md
  content/email-security/reference/office365-gcc.md
  content/email-security/reference/timestamps.md
Labels: size/s, pcx_team_review, product:email-security

#12521 Add DDoS change log entries for 2024-01-15
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
  data/changelogs/ddos-http.yaml
Labels: size/s, product:ddos-protection

#12518 [Speed] Mobile redirect deprecation
  content/fundamentals/api/reference/deprecations.md
  content/speed/optimization/other/mobile-redirect.md
Labels: size/s, product:fundamentals, pcx_team_review, product:speed

#12525 [Area 1] Organize partials
  content/email-security/_partials/deployment/_bcc-table-geographic-locations.md
  content/email-security/_partials/deployment/_gmail-bcc-setup.md
  content/email-security/_partials/deployment/_journaling-connector.md
  content/email-security/_partials/deployment/_mx-deployment-prerequisites.md
  content/email-security/_partials/deployment/_mx-deployment-values.md
  content/email-security/_partials/deployment/_mx-geographic-locations.md
  content/email-security/_partials/deployment/_o365-gcc.md
  content/email-security/_partials/deployment/_o365-use-case-1-3-create-quarantine-policy.md
  content/email-security/_partials/deployment/_o365-use-case-2-4-create-quarantine-policy.md
  content/email-security/_partials/deployment/_o365-use-case-configure-domain.md
  content/email-security/_partials/deployment/_o365-use-case-configure-quarantine-notifications.md
  content/email-security/_partials/deployment/_o365-use-case-transport-rules.md
  content/email-security/_partials/deployment/_o365-use-cases-antispam.md
  content/email-security/_partials/deployment/_setup-api-overview.md
  content/email-security/_partials/deployment/_setup-inline-overview.md
  content/email-security/_partials/deployment/_setup-overview.md
  content/email-security/deployment/_index.md
  content/email-security/deployment/api/_index.md
  content/email-security/deployment/api/setup/email-retro-scan.md
  content/email-security/deployment/api/setup/gsuite-bcc-setup.md
  content/email-security/deployment/api/setup/office365-graph-api.md
  content/email-security/deployment/api/setup/office365-journaling.md
  content/email-security/deployment/inline/_index.md
  content/email-security/deployment/inline/setup/cisco-area1-mx.md
  content/email-security/deployment/inline/setup/cisco-cisco-mx.md
  content/email-security/deployment/inline/setup/gsuite-area1-mx.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/_index.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/five-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/four-user-quarantine-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/one-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/three-junk-admin-quarantine.md
  content/email-security/deployment/inline/setup/office-365-area1-mx/use-cases/two-junk-user-quarantine.md
  content/email-security/email-configuration/retract-settings/gmail-retraction.md
  content/email-security/email-configuration/retract-settings/office365-retraction.md
  content/learning-paths/cybersafe/area1-onboarding/area1-api.md
  content/learning-paths/cybersafe/area1-onboarding/area1-connection-methods.md
  content/learning-paths/cybersafe/area1-onboarding/area1-inline.md
Labels: size/m, product:learning-paths, pcx_team_review, product:email-security

#12526 [Area 1] Regular expressions
  content/email-security/email-configuration/lists/allowed-patterns.md
  content/email-security/email-configuration/lists/block-list.md
Labels: size/s, pcx_team_review, product:email-security

#12515 [Durable Objects] Consolidate location discussion for Durable Objects
  content/durable-objects/platform/known-issues.md
  content/durable-objects/reference/data-location.md
Labels: product:durable-objects, size/s

#12528 Toggling 3 WAF rules
  content/waf/change-log/2024-01-16.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#12531 Maintenance: Bad links
  content/d1/examples/d1-and-hono.md
  content/fundamentals/setup/manage-domains/remove-domain.md
Labels: product:d1, size/xs, product:fundamentals, pcx_team_review

#12533 [API Shield] Remove action field from JWT configuration
  content/api-shield/security/jwt-validation/configure.md
Labels: product:api-shield, size/xs, pcx_team_review

#12534 [Fundamental] Drop duplicates in roles
  content/fundamentals/setup/manage-members/roles.md
Labels: size/xs, product:fundamentals

#12536 Example for ip.src in CIDR range require a "{}" - Update operators.md
  content/ruleset-engine/rules-language/operators.md
Labels: product:ruleset-engine, size/xs

#12539 Release-Jan-16-2024 100621
  content/waf/change-log/2024-01-16.md
Labels: product:waf, size/s

#12529 [Durable Objects] Add known issue related to updating Durable Object code
  content/durable-objects/platform/known-issues.md
Labels: product:durable-objects, size/xs

#12541 [ZT] Move DEX test results table
  content/cloudflare-one/insights/dex/tests/http.md
  content/cloudflare-one/insights/dex/tests/traceroute.md
  content/cloudflare-one/insights/dex/tests/view-results.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#12551 [Workers AI] Fix tutorials layout
  content/workers-ai/tutorials/_index.md
Labels: size/xs, pcx_team_review, product:workers-ai

#12550 [DNS] Use hyphens consistently
  content/dns/dnssec/_index.md
Labels: product:dns, size/xs, pcx_team_review

#12553 [QUEUES] Add missing properties to tutorial
  content/queues/tutorials/web-crawler-with-browser-rendering/index.md
Labels: product:queues, size/xs, pcx_team_review

#12504 Homepage update 2
  content/_index.html
  content/workers/_partials/_fetch-html-example-js.md
  content/workers/_partials/_redirect-example-js.md
  content/workers/_partials/_respond-another-site-example-js.md
  content/workers/_partials/_return-html-example-js.md
  content/workers/_partials/_return-json-example-js.md
  content/workers/examples/fetch-html.md
  content/workers/examples/redirect.md
  content/workers/examples/respond-with-another-site.md
  content/workers/examples/return-html.md
  content/workers/examples/return-json.md
  layouts/_default/baseof.html
  layouts/_default/home.html
  layouts/partials/footer.html
  static/changelog.css
  static/codeBlock.css
  static/home.css
  static/icons/1.1.1.1.svg
  static/style.css
Labels: product:workers, size/xl, pcx_team_review, product:_index.html

#12556 [Bug] Forgot playground links on homepage
  assets/events.ts
Labels: size/xs, pcx_team_review

#12320 [GitHub] Add vale linting
  .github/styles/cloudflare/MeaningfulLinkWords.yml
  .github/workflows/vale.yml
  .vale.ini
  content/1.1.1.1/check.md
  content/style-guide/formatting/URLs-and-domain-names.md
  content/style-guide/formatting/structure/links.md
Labels: product:1.1.1.1, size/m, pcx_team_review, product:style-guide

#12537 [Workers] Wrangler update
  content/workers/wrangler/commands.md
  content/workers/wrangler/install-and-update.md
Labels: product:workers, size/s, pcx_team_review

#12559 Create vale spelling ignore
  .github/CODEOWNERS
  .github/styles/cloudflare/Spelling.yml
  .github/styles/cloudflare/spelling-exceptions.txt
  .vale.ini
Labels: size/s, pcx_team_review

#12562 Release-Jan-17-2024 Ivanti Rule
  content/waf/change-log/2024-01-17---emergency-release.md
Labels: product:waf, size/s

#12560 [Vale] Add relative link check
  .github/styles/cloudflare/RelativeLinks.yml
  .github/styles/cloudflare/Spelling.yml
Labels: size/s, pcx_team_review

#12569 [Vale] Add "namespace" to spelling exceptions
  .github/styles/cloudflare/spelling-exceptions.txt
Labels: size/xs

#12570 [Chore] Add hostname and punycode to spelling exceptions
  .github/styles/cloudflare/spelling-exceptions.txt
Labels: docs-repo-or-site, size/xs

#12571 [Chore] Partially populate ignore list words
  .github/styles/cloudflare/spelling-exceptions.txt
Labels: size/s, pcx_team_review

#12572 [Chore] Exception spelling update 2
  .github/styles/cloudflare/Spelling.yml
  .github/styles/cloudflare/spelling-exceptions.txt
  .vale.ini
Labels: size/m, pcx_team_review

#12574 [Chore] Final spelling ignore extension 3
  .github/styles/cloudflare/spelling-exceptions.txt
Labels: size/m, pcx_team_review

#12579 [MWAN] Tunnel health dash
  content/magic-transit/how-to/check-tunnel-health-dashboard.md
  content/magic-wan/_partials/_tunnel-healthchecks-dash.md
  content/magic-wan/configuration/manually/how-to/check-tunnel-health-dashboard.md
  content/magic-wan/configuration/manually/third-party/fortinet.md
  content/magic-wan/configuration/manually/third-party/sonicwall.md
  content/magic-wan/configuration/manually/third-party/sophos-firewall.md
Labels: size/s, product:magic-transit, product:magic-wan, pcx_team_review

#12156 Update troubleshooting.md
  content/ssl/edge-certificates/custom-certificates/troubleshooting.md
Labels: product:ssl, size/s

#12503 hyperdrive: Update index.md
  content/hyperdrive/tutorials/serverless-timeseries-api-with-timescale/index.md
Labels: size/xs, pcx_team_review, product:hyperdrive

#12432 workers: make size limits clearer
  content/workers/platform/limits.md
Labels: product:workers, size/s, pcx_team_review

#12580 brotli support banner
  content/speed/optimization/content/brotli/content-compression.md
Labels: size/s, pcx_team_review, product:speed

#12584 [Vale] Remove spelling check for now
  .github/styles/cloudflare/Spelling.yml
Labels: size/s, pcx_team_review

#12554 [Workers] log from workers small fixes
  assets/images/workers/learning/workers-logging-dashboard.png
  content/workers/observability/log-from-workers.md
Labels: product:workers, size/s, pcx_team_review

#12487 [Workers] fetch handler desc in get started
  content/workers/get-started/guide.md
Labels: product:workers, size/s, pcx_team_review

#12328 [SSL] Consolidate steps related to validation URL in DCV troubleshooting
  content/ssl/edge-certificates/changing-dcv-method/troubleshooting.md
Labels: product:ssl, size/xs

#12583 [Magic Firewall] Moved PCAPs info to its own top-level folder
  content/_redirects
  content/fundamentals/_partials/_account-permissions-table.md
  content/magic-firewall/best-practices/_index.md
  content/magic-firewall/packet-captures/_index.md
  content/magic-firewall/packet-captures/collect-pcaps.md
  content/magic-firewall/packet-captures/pcaps-bucket-setup.md
  content/magic-firewall/reference/_index.md
  content/magic-firewall/tutorials/_index.md
Labels: size/s, product:fundamentals, product:magic-firewall, product:_redirects, pcx_team_review

#12582 [d1]: Create query-databases.md
  content/_redirects
  content/d1/_index.md
  content/d1/examples/d1-and-hono.md
  content/d1/examples/d1-and-remix.md
  content/d1/get-started.md
  content/d1/how-to/importing-data.md
  content/d1/how-to/query-databases.md
  content/d1/how-to/querying-json.md
  content/d1/observability/debug-d1.md
  content/d1/observability/metrics-analytics.md
  content/d1/reference/client-api.md
  content/d1/reference/database-commands.md
  content/d1/tutorials/build-a-comments-api/index.md
  content/pages/functions/bindings.md
  content/workers/configuration/bindings/_index.md
  content/workers/platform/storage-options.md
  content/workers/wrangler/configuration.md
  data/changelogs/d1.yaml
Labels: product:workers, product:pages, product:d1, size/l, product:_redirects, pcx_team_review

#12588 Pcx 9497
  content/security-center/_partials/_temporary-disable.md
  content/security-center/infrastructure/index.md
  content/security-center/security-insights/_index.md
  content/security-center/security-insights/how-it-works.md
  content/security-center/security-insights/review-insights.md
Labels: product:security-center, size/s, pcx_team_review

#12590 [Workers] sentry update
  content/workers/observability/sentry-integration.md
Labels: product:workers, size/xs, pcx_team_review

#12589 d1: UPDATE LIMIT support changelog
  data/changelogs/d1.yaml
Labels: product:d1, pcx_team_review

#12566 workers: add section about deleting wrangler's local storage.
  content/workers/observability/local-development-and-testing.md
Labels: product:workers, size/xs

#12568 workers: update wrangler kv config preview_id option
  content/workers/wrangler/configuration.md
Labels: product:workers, size/xs

#12513 [Frontend] Don't repeat Shift+D if the key is held down
  assets/theme.ts
Labels: size/xs

#12355 [Fundamental] Add Prefetch UA
  content/fundamentals/reference/cloudflare-site-crawling.md
Labels: size/s, product:fundamentals

#12587 [WAF] Update OWASP migration info
  content/waf/managed-rules/reference/owasp-core-ruleset.md
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
Labels: product:waf, size/xs, pcx_team_review

#12359 Update dnssec-active-migration.md
  content/dns/dnssec/dnssec-active-migration.md
Labels: product:dns, size/s

#12581 [Cache] Add info about purge and Transform rules.
  content/cache/how-to/purge-cache/purge-by-single-file.md
  content/cache/how-to/purge-cache/purge_by_prefix.md
Labels: product:cache, size/s, pcx_team_review

#12592 [Pages] launch docs user survey
  content/pages/_index.md
  content/pages/_partials/_pages_survey.md
  content/pages/configuration/_index.md
  content/pages/framework-guides/_index.md
  content/pages/functions/_index.md
  content/pages/get-started/_index.md
  content/pages/how-to/_index.md
  content/pages/platform/_index.md
Labels: product:pages, size/s, pcx_team_review

#12601 [Workers] remove outdated dash images
  assets/images/workers/learning/metrics.png
  assets/images/workers/platform/bindings/service-bindings-triggers.png
  assets/images/workers/platform/bindings/service-bindings.png
  content/workers/configuration/bindings/about-service-bindings.md
Labels: product:workers, size/xs, pcx_team_review
