Repository cloudflare/cloudflare-docs, pull requests merged in 2024-03, with the labels that each got.

#13122 Document the preserve_file_names configuration for Wrangler
  content/workers/wrangler/configuration.md
Labels: product:workers, size/xs

#13227 [Magic Network Monitoring] sFlow DDoS alerts
  content/magic-network-monitoring/rules/sflow-ddos-alerts.md
  data/glossary/fundamentals.yaml
Labels: size/s, pcx_team_review, product:magic-network-monitoring

#13228 [MWAN] Device metrics
  content/magic-wan/configuration/connector/device-metrics.md
  content/magic-wan/configuration/connector/reference.md
  content/magic-wan/configuration/connector/troubleshooting.md
Labels: size/m, product:magic-wan, pcx_team_review

#13176 [Speed] Update _brotli-compression-warning.md
  content/speed/_partials/_brotli-compression-warning.md
Labels: size/xs, product:speed

#13230 [Workers] standard pricing updates
  content/email-routing/limits.md
  content/pages/functions/metrics.md
  content/pages/functions/pricing.md
  content/queues/reference/consumer-concurrency.md
  content/queues/tutorials/web-crawler-with-browser-rendering/index.md
  content/workers/platform/limits.md
  content/workers/platform/pricing.md
  content/workers/wrangler/configuration.md
Labels: product:workers, product:pages, product:queues, product:email-routing, size/s

#13229 [MWAN] Vconn patch
  content/magic-wan/configuration/connector/configure-virtual-connector.md
Labels: size/s, product:magic-wan, pcx_team_review

#13222 [ZT] Rename Office 365 to Microsoft 365
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/split-tunnels.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/common-issues.md
  content/cloudflare-one/policies/data-loss-prevention/_index.md
  content/cloudflare-one/policies/gateway/http-policies/_index.md
  content/learning-paths/replace-vpn/configure-device-agent/device-profiles.md
Labels: product:cloudflare-one, size/s, product:learning-paths

#13218 Update assignments reviewers
  .github/actions/assign-pr/index.js
  .github/actions/assign-pr/index.ts
Labels: size/s, pcx_team_review

#12816 queues: update consumer-concurrency.md
  content/queues/reference/consumer-concurrency.md
  data/changelogs/queues.yaml
Labels: product:queues, size/s, pcx_team_review

#13226 [Workers AI] Add pricing and model maturity
  assets/images/workers-ai/pricing-calculator.png
  content/_redirects
  content/workers-ai/_index.md
  content/workers-ai/_partials/_billing-announcement.md
  content/workers-ai/models/_index.md
  content/workers-ai/models/bart-large-cnn.md
  content/workers-ai/models/bge-base-en-v1.5.md
  content/workers-ai/models/bge-large-en-v1.5.md
  content/workers-ai/models/bge-small-en-v1.5.md
  content/workers-ai/models/codellama-7b-instruct-awq.md
  content/workers-ai/models/deepseek-coder-6.7b-base-awq.md
  content/workers-ai/models/deepseek-coder-6.7b-instruct-awq.md
  content/workers-ai/models/deepseek-math-7b-base.md
  content/workers-ai/models/deepseek-math-7b-instruct.md
  content/workers-ai/models/detr-resnet-50.md
  content/workers-ai/models/discolm-german-7b-v1-awq.md
  content/workers-ai/models/distilbert-sst-2-int8.md
  content/workers-ai/models/dreamshaper-8-lcm.md
  content/workers-ai/models/falcon-7b-instruct.md
  content/workers-ai/models/llama-2-13b-chat-awq.md
  content/workers-ai/models/llama-2-7b-chat-fp16.md
  content/workers-ai/models/llama-2-7b-chat-int8.md
  content/workers-ai/models/llamaguard-7b-awq.md
  content/workers-ai/models/m2m100-1.2b.md
  content/workers-ai/models/mistral-7b-instruct-v0.1-awq.md
  content/workers-ai/models/mistral-7b-instruct-v0.1.md
  content/workers-ai/models/neural-chat-7b-v3-1-awq.md
  content/workers-ai/models/openchat-3.5-0106.md
  content/workers-ai/models/openchat_3.5-awq.md
  content/workers-ai/models/openhermes-2.5-mistral-7b-awq.md
  content/workers-ai/models/phi-2.md
  content/workers-ai/models/qwen1.5-0.5b-chat.md
  content/workers-ai/models/qwen1.5-1.8b-chat.md
  content/workers-ai/models/qwen1.5-14b-chat-awq.md
  content/workers-ai/models/qwen1.5-7b-chat-awq.md
  content/workers-ai/models/resnet-50.md
  content/workers-ai/models/sqlcoder-7b-2.md
  content/workers-ai/models/stable-diffusion-v1-5-img2img.md
  content/workers-ai/models/stable-diffusion-v1-5-inpainting.md
  content/workers-ai/models/stable-diffusion-xl-base-1.0.md
  content/workers-ai/models/stable-diffusion-xl-lightning.md
  content/workers-ai/models/tinyllama-1.1b-chat-v1.0.md
  content/workers-ai/models/uform-gen2-qwen-500m.md
  content/workers-ai/models/whisper.md
  content/workers-ai/models/zephyr-7b-beta-awq.md
  content/workers-ai/platform/pricing.md
  layouts/_default/model.html
  layouts/shortcodes/models-grouped-by-task.md
  package-lock.json
Labels: size/xl, product:_redirects, product:workers-ai

#13225 Update [Cloudflare AI tutorial] + changed wrangler to npx wrangler in section 4 + build-a-retrieval-augmented-generation-ai.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: size/xs, product:workers-ai

#13232 [Pages] custom domains issue
  content/pages/configuration/custom-domains.md
Labels: product:pages, size/xs, pcx_team_review

#13205 [Workers] clarify bindings + envvars + secrets
  content/workers/_partials/_env_and_secrets.md
  content/workers/_partials/_envvar-example.md
  content/workers/configuration/bindings/_index.md
  content/workers/configuration/environment-variables.md
  content/workers/configuration/secrets.md
  content/workers/wrangler/api.md
  content/workers/wrangler/configuration.md
Labels: product:workers, size/s, pcx_team_review

#13157 Document same zone worker-to-worker limitation
  content/workers/platform/limits.md
Labels: product:workers, size/xs, pcx_team_review

#13156 [Cloudflare for SaaS] Tweak custom origin servers
  content/cloudflare-for-platforms/cloudflare-for-saas/start/advanced-settings/custom-origin.md
Labels: product:cloudflare-for-platforms, size/xs

#13003 [Workers for Platforms] Adding tags
  content/cloudflare-for-platforms/workers-for-platforms/reference/metadata.md
Labels: product:cloudflare-for-platforms, size/s, pcx_team_review

#13162 [QUEUES] Document queues_json_messages runtime compatibility flag
  content/workers/_partials/_platform-compatibility-dates/queues-json-messages.md
Labels: product:workers, product:queues, size/s

#13170 queues: default ContentType change
  content/queues/reference/how-queues-works.md
  content/queues/reference/javascript-apis.md
  data/changelogs/queues.yaml
Labels: product:queues, size/s, pcx_team_review

#13260 [MWAN / MT] Mermaid color patch
  content/magic-transit/_partials/_traffic-steering.md
  content/magic-transit/about.md
Labels: size/s, product:magic-transit, pcx_team_review

#13086 [Images] Clarify when "quality" and "onerror" is supported
  content/images/_partials/_supported-properties.md
Labels: product:images, size/xs

#13213 [Images] Update hard limit for AVIF
  content/images/transform-images/_index.md
Labels: product:images, size/xs

#13258 Toggling 1 rule and releasing 2 new rules
  content/waf/change-log/2024-03-04.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, changelog, size/s

#13238 [Workers] add hyperdrive config info
  content/workers/configuration/bindings/_index.md
  content/workers/wrangler/configuration.md
Labels: product:workers, size/s, pcx_team_review

#13261 [MWAN] Analytics patch
  content/_redirects
  content/magic-transit/analytics/_index.md
  content/magic-wan/_index.md
  content/magic-wan/_partials/_network-analytics.md
  content/magic-wan/analytics.md
  content/magic-wan/legal/_index.md
  content/magic-wan/reference/_index.md
Labels: size/s, product:magic-transit, product:magic-wan, product:_redirects, pcx_team_review

#13256 adding new insights
  content/security-center/security-insights/_index.md
Labels: product:security-center, size/s, pcx_team_review

#13264 Changelog for D1 billing
  data/changelogs/d1.yaml
Labels: size/s

#13269 [QUEUES] Revert Queues content type changes
  content/queues/reference/how-queues-works.md
  content/queues/reference/javascript-apis.md
  content/workers/_partials/_platform-compatibility-dates/queues-json-messages.md
  data/changelogs/queues.yaml
Labels: product:workers, product:queues, size/s

#13112 [Bots] sequence rules
  content/bots/_partials/_sequence-rules.md
  content/bots/concepts/sequence-rules.md
  content/fundamentals/reference/policies-compliances/cloudflare-cookies.md
  data/fraud-detection.yml
Labels: product:bots, size/m, product:fundamentals, pcx_team_review

#13268 Fix broken link
  content/fundamentals/setup/manage-domains/remove-domain.md
Labels: size/xs, product:fundamentals

#13272 [Pages] remove survey from docs
  content/pages/_index.md
  content/pages/_partials/_pages_survey.md
  content/pages/configuration/_index.md
  content/pages/framework-guides/_index.md
  content/pages/functions/_index.md
  content/pages/get-started/_index.md
  content/pages/how-to/_index.md
  content/pages/platform/_index.md
Labels: product:pages, size/s, pcx_team_review

#13223 [Durable Objects] Add Durable Objects dashboard
  content/durable-objects/reference/graphql-analytics.md
Labels: product:durable-objects, size/s

#13245 Clarify alert behavior when grouping by status code
  content/notifications/reference/traffic-alerts.md
Labels: size/xs, product:notifications

#13281 [Workers AI] Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#13015 [RefArch/Gateway] Replace and update SWG forwarding table
  assets/images/reference-architecture/cloudflare-one-reference-architecture-images/Summary-of-SWG-capabilities.png
  content/reference-architecture/architectures/sase.md
Labels: sub-product:gateway, product:reference-architecture, size/m

#13274 [ZT] ZTWA with private hostnames
  content/cloudflare-one/tutorials/clientless-access-private-dns.md
Labels: product:cloudflare-one, size/m, pcx_team_review

#13284 [Notifications] toggle group alerts and various other edits
  content/notifications/reference/traffic-alerts.md
  data/centralized-info/notifications.yml
Labels: size/s, pcx_team_review, product:notifications

#13285 [ZT] Access app path wildcards
  content/cloudflare-one/policies/access/app-paths.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#13270 [ZT] Add ping_group_range command
  content/cloudflare-one/_partials/tunnel/_enable-gateway-proxy.md
Labels: product:cloudflare-one, size/xs, pcx_team_review

#13292 [Logs] Changes instructions for timestamp format.
  content/logs/get-started/enable-destinations/datadog/index.md
Labels: product:logs, size/s, pcx_team_review

#13291 Update cloudflare-challenges.md
  content/waf/reference/cloudflare-challenges.md
Labels: product:waf, size/xs

#13295 Update api.md
  content/zaraz/consent-management/api.md
Labels: size/s, product:zaraz

#13293 [MWAN] Routed networks / NAT
  assets/images/magic-wan/connector/lan-static.png
  content/magic-wan/_partials/connector/_create-site.md
  content/magic-wan/configuration/connector/network-options/dhcp/dhcp-server.md
  content/magic-wan/configuration/connector/network-options/routed-subnets/_index.md
  content/magic-wan/configuration/connector/network-options/routed-subnets/enable-nat-subnet.md
Labels: size/m, product:magic-wan, pcx_team_review

#11974 [DNS] Update wildcard-dns-records.md
  content/dns/manage-dns-records/reference/wildcard-dns-records.md
Labels: product:dns, size/s

#13298 [MWAN] patch
  content/magic-wan/configuration/connector/network-options/nat-subnet.md
  content/magic-wan/configuration/connector/network-options/routed-subnets.md
Labels: size/xs, product:magic-wan, pcx_team_review

#13267 [Cache] Update default-cache-behavior.md
  content/cache/concepts/default-cache-behavior.md
Labels: product:cache, size/xs

#13275 NC-4241: [turnstile] Add more info about interactivity-timeout
  content/turnstile/get-started/client-side-rendering.md
  content/turnstile/reference/client-side-errors.md
Labels: size/s, product:turnstile

#13266 [GH] Make assignments based on CODEOWNERS file
  .github/CODEOWNERS
  .github/actions/assign-pr/index.js
  .github/actions/assign-pr/index.ts
  .github/actions/assign-pr/package-lock.json
  .github/actions/assign-pr/package.json
  .github/workflows/pr.yml
  content/waiting-room/how-to/_index.md
Labels: product:waiting-room, size/l, pcx_team_review

#13288 Document compat flag: fetcher_no_get_put_delete
  content/workers/_partials/_platform-compatibility-dates/fetcher-no-get-put-delete.md
Labels: product:workers, size/s

#13072 Add note about Workers Playground snippets to the contributing guide
  CONTRIBUTING.md
Labels: size/s

#13304 [API Shield] Clarity on Sequence Mitigation
  content/api-shield/security/sequence-mitigation/configure.md
Labels: product:api-shield, size/xs

#13306 Stream - Changelog Update for HDR tweak
  data/changelogs/stream.yaml
Labels: size/xs

#13307 D1 get started tutorial edits
  content/d1/get-started.md
Labels: product:d1, size/xs

#13308 [Chore] Clean up unused image
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure-hero.png
Labels: size/xs

#13273 [Durable Objects] Limits
  content/durable-objects/platform/limits.md
Labels: product:durable-objects, size/xs, pcx_team_review

#13311 Update Page Shield policies default allowance
  data/plans.json
Labels: size/xs

#13310 [Argo] Argo for packets patch
  content/_redirects
  content/argo-smart-routing/argo-for-packets.md
Labels: size/s, product:_redirects, product:argo-smart-routing

#13305 [Bug] Don't assign Kody that much, lol
  .github/actions/assign-pr/index.js
  .github/actions/assign-pr/index.ts
Labels: size/xs

#13283 [ZT] Add Windows Powershell syntax highlighting
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one, size/s

#13277 Update Hugo to v0.123.5
  .github/workflows/anchor-link-audit.yml
  .github/workflows/ci.yml
  Makefile
  config/_default/config.toml
  content/_redirects
  content/ddos-protection/change-log/http/2022-09-19-emergency.md
  content/ddos-protection/change-log/http/2022-12-07-emergency.md
  content/support/about-cloudflare/Enterprise Documentation/Customer Incident Management Policy.md
  content/support/about-cloudflare/Enterprise Documentation/_index.md
  content/support/about-cloudflare/_index.md
  content/support/account-management-billing/Billing Cloudflare Plans/Cloudflare Billing Policy.md
  content/support/account-management-billing/Billing Cloudflare Plans/Understanding Cloudflare sales tax.md
  content/support/account-management-billing/Billing Cloudflare Plans/_index.md
  content/support/account-management-billing/_index.md
  content/support/account-management-billing/billing-add-on-service.md
  content/support/more-dashboard-apps/Cloudflare Apps/Installing Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Managing Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Removing Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Reporting bugs or feature requests for Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Troubleshooting issues with Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Troubleshooting missing pages from Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Will Cloudflare Apps make my site slower.md
  content/support/more-dashboard-apps/Cloudflare Apps/_index.md
  content/support/more-dashboard-apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
  content/support/more-dashboard-apps/Cloudflare Custom Pages/_index.md
  content/support/more-dashboard-apps/Cloudflare Stream/Delivering Videos with Cloudflare.md
  content/support/more-dashboard-apps/Cloudflare Stream/_index.md
  content/support/more-dashboard-apps/_index.md
  content/support/third-party-software/Content Management System (CMS)/Caching HTML with Drupal.md
  content/support/third-party-software/Content Management System (CMS)/Caching Static HTML with WordPressWooCommerce.md
  content/support/third-party-software/Content Management System (CMS)/Can I use WordPress caching plugins like Super Cache or W3 Total Cache (W3TC) with Cloudflare.md
  content/support/third-party-software/Content Management System (CMS)/Cloudflare WordPress Plugin Automatic Cache Management.md
  content/support/third-party-software/Content Management System (CMS)/Cloudflare and Joomla Recommended First Steps.md
  content/support/third-party-software/Content Management System (CMS)/How do I enable HTTP2 Server Push in WordPress.md
  content/support/third-party-software/Content Management System (CMS)/Improving web security for content management systems like WordPress.md
  content/support/third-party-software/Content Management System (CMS)/Speed Up WordPress and Improve Performance.md
  content/support/third-party-software/Content Management System (CMS)/Using Cloudflare and Drupal Five Easy Recommended Steps.md
  content/support/third-party-software/Content Management System (CMS)/What settings are applied when I click Optimize Cloudflare for WordPress in Cloudflare's WordPress plugin.md
  content/support/third-party-software/Content Management System (CMS)/WordPress Jetpack and Cloudflare.md
  content/support/third-party-software/Content Management System (CMS)/WordPress.com and Cloudflare.md
  content/support/third-party-software/Content Management System (CMS)/_index.md
  content/support/third-party-software/Forum Software/Using Cloudflare with various forums (vBulletin, Xenforo, MyBB).md
  content/support/third-party-software/Forum Software/_index.md
  content/support/third-party-software/Others/Configure Cloudflare and Heroku over HTTPS.md
  content/support/third-party-software/Others/Configuring an Amazon Web Services static site to use Cloudflare.md
  content/support/third-party-software/Others/Enabling Cloudflare SSL on Azure Storage Static Web Hosting Applications.md
  content/support/third-party-software/Others/_index.md
  content/support/third-party-software/_index.md
  content/support/third-party-software/e-Commerce/Caching Static HTML with Magento (Business and Enterprise only).md
  content/support/third-party-software/e-Commerce/_index.md
Labels: size/xs, product:support, product:ddos-protection, product:_redirects

#13316 [Radar] RADAR-2730: add email-security related terms to glossary
  content/radar/glossary.md
Labels: size/s, product:radar

#13148 Clarify nameserver assignments for Secondary DNS zones
  content/dns/zone-setups/reference/nameserver-assignment.md
Labels: product:dns, size/xs

#13318 NC-4259: Fix spacing in plugin docs
  content/pages/functions/plugins/turnstile.md
Labels: product:pages, size/xs

#13321 [Pages] Fix broken build-configuration.json
  layouts/_default/build-configuration.json.json
  layouts/shortcodes/pages-build-preset.html
  layouts/shortcodes/pages-build-presets-table.html
Labels: size/xs

#13314 security center -> investigate feature
  content/radar/investigate/url-scanner.md
  content/security-center/investigate/investigate-threats.md
  content/security-center/investigate/scan-limits.md
Labels: product:security-center, size/m, product:radar

#13105 Add edgeworker release notes for release 2024.2.400
  data/changelogs/workers.yaml
Labels: size/xs

#13246 [Workers AI] Removes weird typing on run function in code examples
  layouts/partials/models/code-examples/automatic-speech-recognition.md
  layouts/partials/models/code-examples/image-classification.md
  layouts/partials/models/code-examples/stable-diffusion-v1-5-img2img.md
  layouts/partials/models/code-examples/stable-diffusion-v1-5-inpainting.md
  layouts/partials/models/code-examples/text-classification.md
  layouts/partials/models/code-examples/text-embeddings.md
  layouts/partials/models/code-examples/text-generation.md
  layouts/partials/models/code-examples/text-to-image.md
  layouts/partials/models/code-examples/translation.md
Labels: size/s

#13315 Adds lightbox support for images
  content/kv/reference/how-kv-works.md
  layouts/partials/footer.html
  static/lightbox.css
  static/lightbox.js
Labels: size/m, product:kv

#13312 [Logs] Adds Log Explorer docs
  assets/images/logs/log-explorer-dash.png
  assets/images/logs/log-explorer-filters.png
  content/logs/R2-log-retrieval.md
  content/logs/log-explorer.md
  content/waf/analytics/security-analytics/index.md
Labels: product:logs, product:waf, size/m

#13325 Add HTTP/3 QUIC not supported for regional services
  content/data-localization/_index.md
Labels: product:data-localization, size/xs

#13333 Update on "Page Load" component (reviewed)
  content/analytics/web-analytics/understanding-web-analytics/page-load-time-summary.md
Labels: product:analytics, size/xs

#13331 Update api.md
  content/zaraz/consent-management/api.md
Labels: size/s, product:zaraz

#13324 Use ESM in CORS example
  content/cloudflare-one/identity/authorization-cookie/cors.md
Labels: product:cloudflare-one, size/m

#13339 [ZT] Edit short-lived certs note
  content/cloudflare-one/_partials/ssh/_usernames.md
Labels: product:cloudflare-one, size/xs

#13141 Be explicit about edge runtime in next.js docs
  content/pages/framework-guides/nextjs/deploy-a-nextjs-site.md
Labels: product:pages, size/s, pcx_team_review

#13323 Migtate add-custom-http-headers to ESM
  content/pages/how-to/add-custom-http-headers.md
Labels: product:pages, size/xs

#13348 Zaraz docs updates
  content/zaraz/advanced/google-consent-mode.md
  content/zaraz/consent-management/api.md
  content/zaraz/faq.md
  content/zaraz/reference/settings.md
Labels: size/s, product:zaraz

#13336 [Chore] Update Hugo version in README
  README.md
Labels: size/xs

#13172 [SSL] Document rate limiting in DCV troubleshooting doc
  content/ssl/_partials/_error-rate-limiting.md
  content/ssl/edge-certificates/changing-dcv-method/troubleshooting.md
  content/ssl/edge-certificates/troubleshooting/_index.md
Labels: product:ssl, size/s, pcx_team_review

#13251 workers: clarify subrequest counting
  content/workers/platform/limits.md
Labels: product:workers, size/xs, pcx_team_review

#13330 Firewall - updating information.md
  content/firewall/cf-firewall-rules/actions.md
Labels: product:firewall, size/xs

#13347 [Magic Firewall] Updated pcaps info
  content/magic-firewall/packet-captures/_index.md
  content/magic-firewall/packet-captures/collect-pcaps.md
  content/magic-firewall/packet-captures/pcaps-bucket-setup.md
Labels: size/s, product:magic-firewall

#13351 [ZT] Update Firefox cert instructions
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one, size/s

#13357 [API Shield] JWKs updates
  content/api-shield/security/jwt-validation/_index.md
Labels: product:api-shield, size/xs

#13356 [Magic WAN / MT] Link local address update
  content/magic-transit/_partials/tunnel-endpoints/_tunnel-endpoints.md
  content/magic-wan/configuration/manually/third-party/aws.md
Labels: size/xs, product:magic-transit, product:magic-wan

#13363 Release-Mar-11-2024: Flipping 2 detections.
  content/waf/change-log/2024-03-11.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, changelog, size/s

#13234 d1: pricing - explain deletes
  content/workers/_partials/_d1-pricing.md
Labels: product:workers, size/s, pcx_team_review

#13365 [ZT] Add description to device profiles selector
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.md
Labels: product:cloudflare-one, size/xs

#13350 [QUEUES] Tutorial + change ack to acknowledge, acking to acknowledging + content/queues/examples/list-messages-from-dash/index.md
  content/queues/examples/list-messages-from-dash/index.md
Labels: product:queues, size/xs

#13376 [Docs Site] Use ranges rather than duplication in isolates diagram
  layouts/shortcodes/architecture-diagram.html
Labels: size/m

#13319 [Docs Site] Fix <p> tags on asides
  layouts/shortcodes/Aside.html
Labels: size/xs

#13378 [Cache] Adds note on non standard ports list
  content/fundamentals/reference/network-ports.md
Labels: size/xs, product:fundamentals

#13340 Clarify that direct upload of Functions is not supported only from the dashboard
  content/pages/functions/get-started.md
Labels: product:pages, size/xs

#13221 Update deploy-a-gatsby-site.md
  content/pages/framework-guides/deploy-a-gatsby-site.md
Labels: product:pages, size/xs

#12989 [support] Apps: added deprecation messaging + removed pages
  content/_redirects
  content/support/more-dashboard-apps/Cloudflare Apps/Installing Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Reporting bugs or feature requests for Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Troubleshooting issues with Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Troubleshooting missing pages from Cloudflare Apps.md
  content/support/more-dashboard-apps/Cloudflare Apps/Will Cloudflare Apps make my site slower.md
  content/support/more-dashboard-apps/Cloudflare Apps/_index.md
Labels: size/m, product:support, product:_redirects

#13379 [Chore] CSS and link fixes
  content/_index.html
  layouts/partials/topbar.mobile.html
  static/home.css
Labels: size/s, product:_index.html

#13352 Add new release notes for Workers
  data/changelogs/workers.yaml
Labels: size/xs

#13384 [ZT] Fix numbering on Get Started page
  content/cloudflare-one/setup.md
Labels: product:cloudflare-one, size/xs

#13193 [DLS] Adds new guides to DLS
  content/data-localization/how-to/durable-objects.md
  content/data-localization/how-to/r2.md
  content/data-localization/how-to/workers.md
Labels: product:data-localization, size/s, pcx_team_review

#13387 [workers] Update Workers video course link
  content/workers/tutorials/introduction-to-cloudflare-workers/index.md
Labels: product:workers, size/xs

#13385 Update CODEOWNERS for pages framework guides
  .github/CODEOWNERS
Labels: size/xs

#13353 [D1] Add redirect, add `wrangler d1 execute` changelog and docs change
  content/_redirects
  content/d1/build-databases/import-data.md
  content/d1/get-started.md
  content/d1/tutorials/build-a-comments-api/index.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
  content/workers/wrangler/commands.md
  data/changelogs/d1.yaml
Labels: product:workers, product:d1, size/m, product:_redirects, product:workers-ai

#13388 Release-Mar-12-2024: Announce 2 detections.
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#13395 Update Roughtime docs with new server
  content/time-services/roughtime/recipes.md
  content/time-services/roughtime/usage.md
Labels: size/s, product:time-services

#13396 [Radar] Update Radar glossary.md
  content/radar/glossary.md
Labels: size/xs, product:radar

#13208 Add wall time description to Workers metrics and analytics
  content/workers/observability/metrics-and-analytics.md
Labels: product:workers, size/s, pcx_team_review

#13210 Basic structure of a /workers/languages section
  content/_redirects
  content/workers/languages/_index.md
  content/workers/languages/javascript.md
  content/workers/languages/python/_index.md
  content/workers/languages/python/packages.md
  content/workers/languages/rust/_index.md
  content/workers/languages/rust/crates.md
  content/workers/languages/typescript.md
  content/workers/reference/languages.md
  content/workers/runtime-apis/webassembly/_index.md
  content/workers/runtime-apis/webassembly/javascript.md
Labels: product:workers, size/m, product:_redirects, pcx_team_review

#13360 [ZT] Capitalize WARP Connector
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
  content/cloudflare-one/connections/connect-networks/private-net/_index.md
  content/cloudflare-one/connections/connect-networks/private-net/warp-connector.md
  content/learning-paths/replace-vpn/configure-device-agent/enable-tls-decryption.md
  content/learning-paths/replace-vpn/configure-device-agent/private-dns.md
  content/learning-paths/replace-vpn/connect-private-network/connection-methods.md
  content/learning-paths/replace-vpn/connect-private-network/warp-connector.md
  content/reference-architecture/architectures/sase.md
  content/style-guide/documentation-content-strategy/component-attributes/reference-diagram.md
Labels: product:cloudflare-one, product:reference-architecture, size/m, product:learning-paths, product:style-guide

#13393 [Network] Fix Managed Transform reference
  content/network/true-client-ip-header.md
Labels: size/xs, product:network

#13383 Add DDoS change log entries for 2024-03-12
  content/ddos-protection/change-log/http/scheduled-changes.md
  content/ddos-protection/change-log/http/scheduled.json
  content/ddos-protection/change-log/network/2024-03-12.md
  data/changelogs/ddos-http.yaml
  data/changelogs/ddos-network.yaml
Labels: changelog, size/s, product:ddos-protection

#13400 [Magic] Analytics patch
  content/analytics/graphql-api/tutorials/querying-magic-transit-tunnel-bandwidth-analytics/index.md
  content/analytics/graphql-api/tutorials/querying-magic-transit-tunnel-healthcheck-results/index.md
  content/magic-transit/_partials/graphql/_query-magic-transit-bandwidth-graphql.md
  content/magic-transit/_partials/graphql/_query-magic-transit-health-checks.md
  content/magic-transit/analytics/query-bandwidth.md
  content/magic-transit/analytics/query-tunnel-health.md
  content/magic-wan/analytics/_index.md
  content/magic-wan/analytics/query-bandwidth.md
  content/magic-wan/analytics/query-tunnel-health.md
Labels: product:analytics, size/s, product:magic-transit, product:magic-wan

#13401 [Area 1] Refined Retro Scan steps
  content/email-security/deployment/api/setup/email-retro-scan.md
Labels: size/s, product:email-security

#13404 [SaaS] Update bigcommerce.md
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/bigcommerce.md
Labels: product:cloudflare-for-platforms, size/xs

#11950 Update troubleshooting-cloudflare-1xxx-errors.md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-1xxx-errors.md
Labels: size/s, product:support

#13407 [DLS] Small format fix on mermaid chart
  content/data-localization/regional-services/_index.md
Labels: product:data-localization, size/xs

#13390 [Workers AI] refresh overview
  content/workers-ai/_index.md
  content/workers-ai/_partials/_file_issues.md
  content/workers-ai/models/_index.md
Labels: size/m, product:workers-ai

#13402 Update api.md
  content/zaraz/consent-management/api.md
Labels: size/s, product:zaraz

#13413 [MWAN] Updated IPs link
  content/magic-wan/zero-trust/warp.md
Labels: size/xs, product:magic-wan

#13410 [Pages] Clarify custom domain for Vercel migration
  content/pages/migrations/migrating-from-vercel/index.md
Labels: product:pages, size/s

#13419 Issue assignment
  .github/ISSUE_TEMPLATE/content.add.yml
  .github/ISSUE_TEMPLATE/content.edit.yml
  .github/ISSUE_TEMPLATE/engineering.yml
  .github/actions/assign-issue/index.js
  .github/actions/assign-issue/index.ts
  .github/actions/assign-issue/package-lock.json
  .github/actions/assign-issue/package.json
  .github/actions/owners.ts
Labels: size/l

#13346 chore(docs): update warp-cli register
  content/warp-client/get-started/linux.md
Labels: product:warp-client, size/xs

#13420 [Magic] API key
  content/magic-transit/_partials/tunnel-endpoints/_add-tunnels.md
Labels: size/xs, product:magic-transit

#12203 [SSL] New migration guide - Let's Encrypt chain changes
  content/ssl/reference/migration-guides/dcv-update.md
  content/ssl/reference/migration-guides/lets-encrypt-chain.md
Labels: product:ssl, do-not-merge-yet, size/s, pcx_team_review

#13338 [Cache] Update cache status of none for redirects
  content/cache/concepts/cache-responses.md
Labels: product:cache, size/xs

#13349 [Images] onerror=redirect does not work in Workers
  content/images/_partials/_supported-properties.md
Labels: product:images, size/xs

#13389 [brotli]Update _brotli-compression-warning.md
  content/speed/_partials/_brotli-compression-warning.md
Labels: size/xs, product:speed

#13434 [SSL] Update lets-encrypt-chain.md
  content/ssl/reference/migration-guides/lets-encrypt-chain.md
Labels: product:ssl, size/xs

#13428 [Chore] Fix content path that causes errors
  .github/actions/assign-issue/index.js
  .github/actions/assign-issue/index.ts
Labels: size/xs

#13433 [DNS] Clarify comments are private
  content/dns/manage-dns-records/reference/record-attributes.md
Labels: product:dns, size/xs

#13381 [SSL] Update faq.md
  content/ssl/troubleshooting/faq.md
Labels: product:ssl, size/xs

#13431 Add `Deprecation` page for Roughtime
  content/time-services/roughtime/deprecation.md
Labels: size/s, product:time-services

#13366 [ZT] WARP connector firewall prereqs
  content/cloudflare-one/connections/connect-networks/private-net/warp-connector.md
Labels: product:cloudflare-one, size/s

#13092 [Workers] Add docs for Vitest testing
  assets/images/workers/testing/vitest/isolation-model-1-no-isolated-storage-no-single-worker.svg
  assets/images/workers/testing/vitest/isolation-model-2-no-isolated-storage-single-worker.svg
  assets/images/workers/testing/vitest/isolation-model-3-isolated-storage-no-single-worker.svg
  assets/images/workers/testing/vitest/isolation-model-4-isolated-storage-single-worker.svg
  components/CodeCopy.vue
  content/_redirects
  content/d1/observability/debug-d1.md
  content/learning-paths/workers/test/intro-to-observability.md
  content/workers/_partials/_testing-pages-functions.md
  content/workers/observability/_index.md
  content/workers/observability/local-development-and-testing.md
  content/workers/observability/logging/real-time-logs.md
  content/workers/testing/_index.md
  content/workers/testing/debugging-tools.md
  content/workers/testing/integration-testing.md
  content/workers/testing/local-development.md
  content/workers/testing/unit-testing.md
  content/workers/testing/vitest-integration/_index.md
  content/workers/testing/vitest-integration/configuration.md
  content/workers/testing/vitest-integration/get-started/_index.md
  content/workers/testing/vitest-integration/get-started/migrate-from-miniflare-2.md
  content/workers/testing/vitest-integration/get-started/migrate-from-unstable-dev.md
  content/workers/testing/vitest-integration/get-started/write-your-first-test.md
  content/workers/testing/vitest-integration/isolation-and-concurrency.md
  content/workers/testing/vitest-integration/known-issues.md
  content/workers/testing/vitest-integration/recipes.md
  content/workers/testing/vitest-integration/test-apis.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/configuration.md
  data/glossary/workers.yaml
  static/style.css
Labels: product:workers, product:d1, size/xl, product:learning-paths, product:_redirects

#13444 [MWAN] Breakout apps traffic
  content/magic-wan/configuration/connector/network-options/application-based-policies/_index.md
  content/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.md
Labels: size/s, product:magic-wan

#13448 [ZT] Dashboard R2 Logpush limitation
  content/cloudflare-one/insights/logs/logpush/_index.md
Labels: product:cloudflare-one, size/xs

#13408 [1.1.1.1] Introduce CLI section in Linux set up doc
  content/1.1.1.1/setup/linux.md
Labels: product:1.1.1.1, size/s

#13450 [Bug] Didn't commit built js
  .github/actions/assign-issue/index.js
Labels: size/xs

#13452 [Bug] remove undefined labels
  .github/actions/assign-issue/index.js
  .github/actions/assign-issue/index.ts
Labels: size/xs

#13462 fixed typo
  content/security-center/investigate/scan-limits.md
Labels: product:security-center, size/xs

#13426 [LB] Highlight use of custom rules to set up URL-based routing
  content/load-balancing/_partials/_custom-rules-definition.md
  content/load-balancing/additional-options/load-balancing-rules/create-rules.md
Labels: product:load-balancing, size/m

#13463 [Analytics] Corrects GraphQL example
  assets/images/analytics/graphiql-query-variables.png
Labels: size/xs

#13382 [Chore] Update local dev for wrangler changelog
  .gitignore
  README.md
  layouts/partials/wrangler-changelog.html
Labels: size/s

#13468 [Bug] Typo in file name
  README.md
  layouts/partials/wrangler-changelog.html
Labels: size/xs

#13466 [D1] Rename d1-api.md to d1-http-api.md
  content/d1/d1-api.md
Labels: product:d1, size/xs

#13080 [ZT] Virtual networks feature availability
  content/cloudflare-one/connections/connect-networks/private-net/cloudflared/tunnel-virtual-networks.md
Labels: product:cloudflare-one, size/s, pcx_team_review

#13467 [WAF] Add related products
  content/waf/_index.md
Labels: product:waf, size/xs

#13454 Add Privacy Gateway ohttp graphql node documentation
  content/privacy-gateway/_index.md
  content/privacy-gateway/reference/metrics.md
Labels: product:privacy-gateway, size/m

#13471 [1.1.1.1] Update ct URL parameter availability
  content/1.1.1.1/encryption/dns-over-https/make-api-requests/_index.md
Labels: product:1.1.1.1, size/xs

#13491 rename secrets to masked variables
  content/zaraz/advanced/worker-variables.md
  content/zaraz/get-started/create-variables.md
Labels: size/xs, product:zaraz

#13495 [Fundamentals] Fix typo
  content/fundamentals/subscriptions-and-billing/troubleshooting-failed-payments.md
Labels: size/xs, product:fundamentals

#13488 Make lightbox feature universal
  content/kv/reference/how-kv-works.md
  layouts/_default/_markup/render-image.html
  static/lightbox.js
Labels: size/m, product:kv
