Repository cloudflare/cloudflare-docs, pull requests merged in 2024-12, with the labels that each got.

#18119 Update wrangler workers site to recommend workers static assets
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/xs

#18494 [Docs] Update link anchors
  src/content/docs/speed/optimization/content/troubleshooting/content-encoding-issues.mdx
  src/content/products/casb.yaml
Labels: size/s, product:speed

#18496 [Rules] Snippets maintenance template to use 503 by default
  src/content/docs/rules/snippets/examples/maintenance.mdx
Labels: product:rules, size/xs

#18472 [Durable Objects] call out currently unsupported locations for hints
  src/content/docs/durable-objects/reference/data-location.mdx
Labels: product:durable-objects, size/s

#18499 [Fundamentals] Update api-rate-limits.mdx
  src/content/partials/fundamentals/api-rate-limits.mdx
Labels: size/xs

#18500 [Page Shield] Customized alerts
  src/content/changelogs/page-shield.yaml
  src/content/docs/page-shield/detection/configure-alerts.mdx
  src/content/docs/page-shield/get-started.mdx
  src/content/docs/page-shield/reference/csp-header.mdx
  src/content/docs/page-shield/reference/settings.mdx
  src/content/notifications/index.yaml
  src/content/partials/page-shield/alerts-configure.mdx
Labels: product:page-shield, size/s

#18504 [Gateway] Remove .com file type
  src/content/partials/cloudflare-one/gateway/sandbox-file-types.mdx
Labels: sub-product:gateway, size/xs

#18459 [Tunnel] Clarify proxy procedure
  src/content/docs/cloudflare-one/connections/connect-networks/private-net/cloudflared/index.mdx
  src/content/partials/cloudflare-one/tunnel/enable-gateway-proxy.mdx
  src/content/partials/cloudflare-one/tunnel/warp-to-tunnel-route-ips.mdx
Labels: product:cloudflare-one, size/s

#18416 workflows: update type params docs
  src/content/docs/workflows/build/events-and-parameters.mdx
  src/content/docs/workflows/build/workers-api.mdx
  src/content/partials/workflows/workflows-type-parameters.mdx
Labels: size/s, product:workflows

#18396 queues: make the interaction of batch size clearer
  src/content/docs/queues/configuration/batching-retries.mdx
Labels: product:queues, size/xs

#18509 New reference architecture diagram - Optimizing and securing connected transportation systems
  src/assets/images/reference-architecture/optimizing-and-securing-connected-transportation-systems/figure1.svg
  src/content/docs/reference-architecture/diagrams/iot/index.mdx
  src/content/docs/reference-architecture/diagrams/iot/optimizing-and-securing-connected-transportation-systems.mdx
Labels: product:reference-architecture, size/l

#18037 AI Schema Formatting & Updates
  bin/fetch-ai-models.js
  src/content/workers-ai-models/bart-large-cnn.json
  src/content/workers-ai-models/bge-base-en-v1.5.json
  src/content/workers-ai-models/bge-large-en-v1.5.json
  src/content/workers-ai-models/bge-small-en-v1.5.json
  src/content/workers-ai-models/deepseek-coder-6.7b-base-awq.json
  src/content/workers-ai-models/deepseek-coder-6.7b-instruct-awq.json
  src/content/workers-ai-models/deepseek-math-7b-instruct.json
  src/content/workers-ai-models/detr-resnet-50.json
  src/content/workers-ai-models/discolm-german-7b-v1-awq.json
  src/content/workers-ai-models/distilbert-sst-2-int8.json
  src/content/workers-ai-models/dreamshaper-8-lcm.json
  src/content/workers-ai-models/falcon-7b-instruct.json
  src/content/workers-ai-models/flux-1-schnell.json
  src/content/workers-ai-models/gemma-2b-it-lora.json
  src/content/workers-ai-models/gemma-7b-it-lora.json
  src/content/workers-ai-models/gemma-7b-it.json
  src/content/workers-ai-models/hermes-2-pro-mistral-7b.json
  src/content/workers-ai-models/llama-2-13b-chat-awq.json
  src/content/workers-ai-models/llama-2-7b-chat-fp16.json
  src/content/workers-ai-models/llama-2-7b-chat-hf-lora.json
  src/content/workers-ai-models/llama-2-7b-chat-int8.json
  src/content/workers-ai-models/llama-3-8b-instruct-awq.json
  src/content/workers-ai-models/llama-3-8b-instruct.json
  src/content/workers-ai-models/llama-3.1-8b-instruct-awq.json
  src/content/workers-ai-models/llama-3.1-8b-instruct-fp8.json
  src/content/workers-ai-models/llama-3.1-8b-instruct.json
  src/content/workers-ai-models/llama-3.2-11b-vision-instruct.json
  src/content/workers-ai-models/llama-3.2-1b-instruct.json
  src/content/workers-ai-models/llama-3.2-3b-instruct.json
  src/content/workers-ai-models/llamaguard-7b-awq.json
  src/content/workers-ai-models/llava-1.5-7b-hf.json
  src/content/workers-ai-models/m2m100-1.2b.json
  src/content/workers-ai-models/meta-llama-3-8b-instruct.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.1-awq.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.1.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.2-lora.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.2.json
  src/content/workers-ai-models/neural-chat-7b-v3-1-awq.json
  src/content/workers-ai-models/openchat-3.5-0106.json
  src/content/workers-ai-models/openhermes-2.5-mistral-7b-awq.json
  src/content/workers-ai-models/phi-2.json
  src/content/workers-ai-models/qwen1.5-0.5b-chat.json
  src/content/workers-ai-models/qwen1.5-1.8b-chat.json
  src/content/workers-ai-models/qwen1.5-14b-chat-awq.json
  src/content/workers-ai-models/qwen1.5-7b-chat-awq.json
  src/content/workers-ai-models/resnet-50.json
  src/content/workers-ai-models/sqlcoder-7b-2.json
  src/content/workers-ai-models/stable-diffusion-v1-5-img2img.json
  src/content/workers-ai-models/stable-diffusion-v1-5-inpainting.json
  src/content/workers-ai-models/stable-diffusion-xl-base-1.0.json
  src/content/workers-ai-models/stable-diffusion-xl-lightning.json
  src/content/workers-ai-models/starling-lm-7b-beta.json
  src/content/workers-ai-models/tinyllama-1.1b-chat-v1.0.json
  src/content/workers-ai-models/uform-gen2-qwen-500m.json
  src/content/workers-ai-models/una-cybertron-7b-v2-bf16.json
  src/content/workers-ai-models/whisper-tiny-en.json
  src/content/workers-ai-models/whisper.json
  src/content/workers-ai-models/zephyr-7b-beta-awq.json
Labels: size/xl

#18385 [MWAN] Oracle Cloud documentation
  src/content/docs/magic-wan/configuration/manually/third-party/oracle.mdx
Labels: size/s, product:magic-wan

#18008 [Workers] Add tutorial: Live cursors & RPC with Next.js and Durable Objects
  src/assets/images/workers/tutorials/live-cursors-nextjs/demo-live-cursors-nextjs-do.gif
  src/content/docs/workers/tutorials/live-cursors-with-nextjs-rpc-do/index.mdx
Labels: product:workers, size/l, DevRel, developer-spotlight, hyperlint-ignore

#18527 [Email Security] Delete redundant images
  src/assets/images/email-security/email-retraction/gmail/opening_img-gmail-retraction.png
  src/assets/images/email-security/email-retraction/gmail/step1-createproject.png
  src/assets/images/email-security/email-retraction/gmail/step10-enable-gmail.png
  src/assets/images/email-security/email-retraction/gmail/step11-gmail-credentials.png
  src/assets/images/email-security/email-retraction/gmail/step12-credentials.png
  src/assets/images/email-security/email-retraction/gmail/step13-service-account-details.png
  src/assets/images/email-security/email-retraction/gmail/step14-project-owner.png
  src/assets/images/email-security/email-retraction/gmail/step15-complete-setup.png
  src/assets/images/email-security/email-retraction/gmail/step16-service-accounts.png
  src/assets/images/email-security/email-retraction/gmail/step17-detail.png
  src/assets/images/email-security/email-retraction/gmail/step18-google-console.png
  src/assets/images/email-security/email-retraction/gmail/step19-api-controls.png
  src/assets/images/email-security/email-retraction/gmail/step2-authorize-gmail.png
  src/assets/images/email-security/email-retraction/gmail/step2-create.png
  src/assets/images/email-security/email-retraction/gmail/step20-domain-wide-delegation.png
  src/assets/images/email-security/email-retraction/gmail/step21-add-new.png
  src/assets/images/email-security/email-retraction/gmail/step22-clientid-oauth.png
  src/assets/images/email-security/email-retraction/gmail/step24-manage-keys.png
  src/assets/images/email-security/email-retraction/gmail/step25-create-key.png
  src/assets/images/email-security/email-retraction/gmail/step26-json-key.png
  src/assets/images/email-security/email-retraction/gmail/step3-hop-position.png
  src/assets/images/email-security/email-retraction/gmail/step3-private-key.png
  src/assets/images/email-security/email-retraction/gmail/step3-project.png
  src/assets/images/email-security/email-retraction/gmail/step4-explore-apis.png
  src/assets/images/email-security/email-retraction/gmail/step4-hops-count.png
  src/assets/images/email-security/email-retraction/gmail/step6-api-library.png
  src/assets/images/email-security/email-retraction/gmail/step8-enable-sdk.png
  src/assets/images/email-security/sso/generic/area1-allow.png
  src/assets/images/email-security/sso/generic/launch-area1-dashboard.png
  src/assets/images/email-security/sso/generic/sign-with-cloudflare.png
Labels: size/xs

#18524 [MWAN] Added Oracle to compat list
  src/content/docs/magic-wan/reference/device-compatibility.mdx
Labels: size/s, product:magic-wan

#18530 [MWAN] Oracle tut patch
  src/content/docs/magic-wan/configuration/manually/third-party/oracle.mdx
Labels: size/s, product:magic-wan

#18540 [Notifications] Update WAF alerts
  src/content/notifications/index.yaml
Labels: size/xs

#18523 [DNS] Add cf-flatten tag for per-record CNAME flattening
  src/content/docs/dns/cname-flattening/set-up-cname-flattening.mdx
  src/content/docs/dns/manage-dns-records/how-to/import-and-export.mdx
  src/content/docs/dns/manage-dns-records/reference/record-attributes.mdx
Labels: product:dns, size/xs

#18538 Add Page Shield to O2O matrix
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/product-compatibility.mdx
Labels: product:cloudflare-for-platforms, size/xs

#18536 [CODEOWNERS] Adding Tori to Workflows
  .github/CODEOWNERS
Labels: size/xs

#18534 durable objects: fix ts constructor
  src/content/docs/durable-objects/get-started/tutorial-with-sql-api.mdx
Labels: product:durable-objects, size/s

#18546 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#18543 Updated docs to make backlog count clear
  src/content/docs/queues/configuration/pull-consumers.mdx
Labels: product:queues, size/xs

#18517 [DLP] How DLP stores data
  src/content/docs/cloudflare-one/policies/data-loss-prevention/index.mdx
Labels: product:cloudflare-one, size/xs, sub-product:data-loss-prevention

#18550 [API Shield] custom JWT claim
  src/content/docs/ruleset-engine/rules-language/fields/dynamic-fields.mdx
Labels: product:ruleset-engine, size/xs

#18532 [LB] Adds new additional option
  src/content/docs/load-balancing/additional-options/load-balancing-china.mdx
  src/content/partials/load-balancing/monitor-health-check-regions-options.mdx
Labels: product:load-balancing, size/s

#18555 Adding Twilio video to yaml file
  src/content/videos/index.yaml
Labels: size/s

#18559 [Magic] Added cni to static addressing
  src/content/partials/magic-transit/traffic-steering.mdx
Labels: size/xs

#18560 Restoring nextjs tutorial to pages
  src/content/docs/pages/framework-guides/nextjs/index.mdx
Labels: product:pages, size/xs

#18561 [Magic] Corrected curved quotation marks to straight ones
  src/content/docs/magic-cloud-networking/reference.mdx
  src/content/docs/magic-network-monitoring/get-started.mdx
  src/content/docs/magic-network-monitoring/index.mdx
  src/content/docs/magic-network-monitoring/routers/netflow-ipfix-config.mdx
  src/content/docs/magic-network-monitoring/routers/recommended-sampling-rate.mdx
  src/content/docs/magic-network-monitoring/routers/sflow-config.mdx
  src/content/docs/magic-network-monitoring/routers/supported-routers.mdx
  src/content/docs/magic-network-monitoring/tutorials/ddos-testing-guide.mdx
  src/content/docs/magic-transit/about.mdx
  src/content/docs/magic-transit/analytics/network-analytics.mdx
  src/content/docs/magic-transit/get-started.mdx
  src/content/docs/magic-transit/how-to/configure-static-routes.mdx
  src/content/docs/magic-transit/network-interconnect.mdx
  src/content/docs/magic-transit/partners/kentik.mdx
  src/content/docs/magic-transit/reference/traffic-steering.mdx
  src/content/docs/magic-transit/reference/tunnels.mdx
  src/content/docs/magic-wan/analytics/index.mdx
  src/content/docs/magic-wan/configuration/connector/device-metrics.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/index.mdx
  src/content/docs/magic-wan/configuration/manually/how-to/configure-static-routes.mdx
  src/content/docs/magic-wan/get-started.mdx
  src/content/docs/magic-wan/index.mdx
  src/content/docs/magic-wan/network-interconnect.mdx
  src/content/docs/magic-wan/on-ramps.mdx
  src/content/docs/magic-wan/reference/bandwidth-measurement.mdx
  src/content/docs/magic-wan/reference/traffic-steering.mdx
  src/content/docs/magic-wan/reference/tunnels.mdx
  src/content/docs/magic-wan/security.mdx
  src/content/docs/magic-wan/zero-trust/warp.mdx
  src/content/docs/network-interconnect/index.mdx
  src/content/docs/network-interconnect/pni-and-peering.mdx
  src/content/partials/magic-transit/static-routes/static-routes1.mdx
  src/content/partials/magic-transit/traffic-steering.mdx
  src/content/partials/magic-transit/tunnel-endpoints/add-tunnels.mdx
  src/content/partials/magic-transit/tunnel-endpoints/anti-replay.mdx
  src/content/partials/magic-transit/tunnels-reference/tunnels-encapsulation-mt-network-analytics.mdx
  src/content/partials/magic-transit/tunnels-reference/tunnels-encapsulation-opening.mdx
  src/content/partials/magic-wan/anti-replay-protection.mdx
Labels: product:network-interconnect, size/m, product:magic-transit, product:magic-wan, product:magic-network-monitoring, product:magic-cloud-networking

#18562 [Magic] Deleted non-ascii chars
  src/content/docs/magic-cloud-networking/get-started.mdx
  src/content/docs/magic-cloud-networking/manage-resources.mdx
  src/content/docs/magic-network-monitoring/index.mdx
  src/content/docs/magic-transit/get-started.mdx
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
  src/content/docs/magic-transit/how-to/run-endpoint-health-checks.mdx
  src/content/docs/magic-transit/index.mdx
  src/content/docs/magic-transit/network-interconnect.mdx
  src/content/docs/magic-wan/configuration/connector/configure-hardware-connector/index.mdx
  src/content/docs/magic-wan/configuration/connector/configure-hardware-connector/sfp-port-information.mdx
  src/content/docs/magic-wan/configuration/connector/configure-virtual-connector.mdx
  src/content/docs/magic-wan/configuration/connector/device-metrics.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/nat-subnet.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/fortinet.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/juniper.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/palo-alto.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/pfsense.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/vyos.mdx
  src/content/docs/magic-wan/index.mdx
  src/content/docs/magic-wan/network-interconnect.mdx
  src/content/docs/magic-wan/on-ramps.mdx
  src/content/docs/magic-wan/zero-trust/warp.mdx
  src/content/partials/magic-transit/magic-user-role.mdx
  src/content/partials/magic-transit/mtu-mss/mtu-mss.mdx
  src/content/partials/magic-transit/prerequisites/router-vendor-guidelines-mss-settings-origin.mdx
  src/content/partials/magic-transit/static-routes/static-routes1.mdx
  src/content/partials/magic-transit/static-routes/static-routes2-prefixes-smaller-24.mdx
  src/content/partials/magic-transit/static-routes/static-routes3.mdx
  src/content/partials/magic-transit/traffic-steering.mdx
  src/content/partials/magic-transit/tunnel-health/tunnel-health-checks.mdx
  src/content/partials/magic-wan/anti-replay-protection.mdx
  src/content/partials/magic-wan/connector/create-site.mdx
  src/content/partials/magic-wan/connector/ha-configs.mdx
  src/content/partials/magic-wan/traceroute.mdx
Labels: size/m, product:magic-transit, product:magic-wan, product:magic-network-monitoring, product:magic-cloud-networking

#18566 [SSL] Add SXG impact to Digicert migration guide
  src/content/docs/ssl/reference/migration-guides/digicert-update/index.mdx
Labels: product:ssl, size/xs

#18557 [Rules] Update operators.mdx
  src/content/docs/ruleset-engine/rules-language/operators.mdx
Labels: product:ruleset-engine, size/s

#18568 [MWAN] Replaced non-ascii chars
  src/content/docs/magic-wan/configuration/manually/third-party/aruba-edgeconnect.mdx
  src/content/docs/magic-wan/reference/device-compatibility.mdx
Labels: size/s, product:magic-wan

#18525 Add more targeted AWS policy for Sippy
  src/content/docs/r2/data-migration/sippy.mdx
Labels: product:r2, size/xs

#18505 Update write-key-value-pairs.mdx
  src/content/docs/kv/api/write-key-value-pairs.mdx
Labels: size/xs, product:kv

#18531 [SSL] Clear out Let's Encrypt chain change docs
  public/_redirects
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/reference/troubleshooting.mdx
  src/content/docs/ssl/edge-certificates/custom-certificates/troubleshooting.mdx
  src/content/docs/ssl/reference/certificate-authorities.mdx
  src/content/docs/ssl/reference/migration-guides/lets-encrypt-chain.mdx
  src/content/docs/ssl/troubleshooting/general-ssl-errors.mdx
Labels: product:ssl, product:cloudflare-for-platforms, size/m

#18218 Updates pricing and limits in Workers Static Assets
  src/content/docs/workers/static-assets/index.mdx
Labels: product:workers, size/xs

#18450 [Durable Objects] Including that writing to indexes and virtual tables takes up rows written
  src/content/docs/durable-objects/api/sql-storage.mdx
  src/content/docs/durable-objects/best-practices/access-durable-objects-storage.mdx
Labels: product:durable-objects, size/xs

#18542 [Cache] Update cache-behavior.mdx
  src/content/docs/cache/concepts/cache-behavior.mdx
Labels: product:cache, size/xs

#18569 [Gateway] Client notifications rate limit
  src/content/partials/cloudflare-one/gateway/client-notifications.mdx
Labels: sub-product:gateway, size/xs

#18541 Update access.yaml
  src/content/changelogs/access.yaml
Labels: do-not-merge-yet, size/xs

#18571 [ZT] Fix file name in GCP Terraform example
  src/content/docs/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/terraform.mdx
Labels: product:cloudflare-one, size/xs

#18362 [DDoS Protection] MT Advanced DDoS Systems onboarding
  src/content/docs/ddos-protection/advanced-ddos-systems/overview/advanced-dns-protection.mdx
  src/content/docs/ddos-protection/advanced-ddos-systems/overview/advanced-tcp-protection.mdx
  src/content/partials/ddos-protection/mt-advanced-ddos-systems-onboarding.mdx
Labels: size/s, product:ddos-protection

#18551 [ZT] Infra Access supports public IPs
  src/content/docs/cloudflare-one/applications/non-http/infrastructure-apps.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/private-net/cloudflared/index.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/grpc.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/rdp.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/smb.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-warp-to-tunnel.mdx
  src/content/docs/learning-paths/replace-vpn/configure-device-agent/split-tunnel-settings.mdx
  src/content/partials/cloudflare-one/access/add-target.mdx
  src/content/partials/cloudflare-one/tunnel/warp-to-tunnel-route-ips.mdx
Labels: product:cloudflare-one, size/s, product:learning-paths

#18565 [DNS] Add EDE 30 to extended dns error codes
  src/content/docs/1.1.1.1/infrastructure/extended-dns-error-codes.mdx
Labels: product:1.1.1.1, size/xs

#18585 [MWAN] Clarified setting Connector with static IPs
  src/content/docs/magic-wan/configuration/connector/configure-hardware-connector/index.mdx
  src/content/docs/magic-wan/configuration/connector/configure-virtual-connector.mdx
  src/content/partials/magic-wan/connector/create-site.mdx
Labels: size/m, product:magic-wan

#18588 [MWAN] Refined language static IP
  src/content/docs/magic-wan/configuration/connector/configure-hardware-connector/index.mdx
  src/content/docs/magic-wan/configuration/connector/configure-virtual-connector.mdx
Labels: size/xs, product:magic-wan

#18539 [Speed] Notes about the `Content-Length` header in responses
  src/content/docs/rules/reference/troubleshooting.mdx
  src/content/docs/speed/optimization/content/compression.mdx
  src/content/partials/speed/brotli-compression-warning.mdx
Labels: product:rules, size/s, product:speed

#18589 Add Wrangler team to CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#18558 Clarify how to add HTTP headers in the dashboard
  src/content/docs/logs/get-started/enable-destinations/http.mdx
Labels: product:logs, size/xs

#18577 [ZT] Tunnel token rotation
  src/content/docs/cloudflare-one/connections/connect-networks/configure-tunnels/remote-management.mdx
Labels: product:cloudflare-one, size/m

#18594 Update configuration.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/get-started/configuration.mdx
Labels: product:cloudflare-for-platforms, size/xs

#18575 Update scim-setup.mdx
  src/content/docs/fundamentals/setup/account/account-security/scim-setup.mdx
Labels: size/xs, product:fundamentals

#18593 [Durable Objects] Clarify DO Storage is scoped by DO, not by account or namespace.
  src/content/docs/durable-objects/api/storage-api.mdx
Labels: product:durable-objects, size/xs

#18576 [Gateway] Update HTTP/3 guidance
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/pac-files.mdx
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/dedicated-egress-ips.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/http3.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tls-decryption.mdx
  src/content/docs/cloudflare-one/policies/gateway/proxy.mdx
  src/content/partials/cloudflare-one/tunnel/enable-gateway-proxy.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#17167 R2-2317 Document SSE-C Compatibility on R2
  src/content/docs/r2/api/s3/api.mdx
  src/content/docs/r2/api/workers/workers-api-reference.mdx
  src/content/docs/r2/examples/ssec.mdx
Labels: do-not-merge-yet, product:r2, size/l

#18545 [ZT] WARP Intune Android instructions
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/intune.mdx
Labels: product:cloudflare-one, size/s

#18587 [Cache] Update configure-cache-status-code.mdx
  src/content/docs/cache/how-to/configure-cache-status-code.mdx
Labels: product:cache, size/xs

#18584 Remove obsolete challenge actions
  src/content/docs/logs/reference/log-fields/zone/firewall_events.md
  src/content/docs/logs/reference/log-fields/zone/http_requests.md
  src/content/docs/logs/reference/security-fields.mdx
  src/content/docs/waf/troubleshooting/faq.mdx
Labels: product:logs, product:waf, size/s

#18556 Twilio Video Update
  src/content/docs/workflows/examples/twilio.mdx
  src/content/videos/index.yaml
Labels: size/s, product:workflows

#18482 Video Style Guide
  src/assets/images/style-guide/video/too_dark.png
  src/assets/images/style-guide/video/too_warm_cool_1.png
  src/assets/images/style-guide/video/too_warm_cool_2.png
  src/assets/images/style-guide/video/too_warm_cool_3.png
  src/assets/images/style-guide/video/warm_tone.png
  src/assets/images/style-guide/video/white_balanced.png
  src/content/docs/style-guide/video/index.mdx
Labels: size/m, product:style-guide

#18572 Update forward-client-certificate.mdx
  src/content/partials/ssl/forward-client-certificate.mdx
Labels: size/xs

#18606 [Style guide] Updated keyboard shortcut style
  src/content/docs/style-guide/formatting/keyboard-keys.mdx
Labels: size/s, product:style-guide

#18590 Ensure lower case for AI model name search comparison
  src/components/ModelCatalog.jsx
Labels: size/xs

#18350 [wrangler]: add `wrangler telemetry` commands and update existing info on telemetry collection
  src/content/docs/pages/functions/wrangler-configuration.mdx
  src/content/docs/workers/wrangler/commands.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/docs/workers/wrangler/system-environment-variables.mdx
Labels: product:workers, product:pages, blocked, size/s

#18608 Add and fix cache directories for package manager in build cache
  src/content/docs/pages/configuration/build-caching.mdx
  src/content/docs/workers/ci-cd/builds/build-caching.mdx
Labels: product:workers, product:pages, size/s

#18437 Design Guide: Designing ZTNA access policies for Cloudflare Access
  src/assets/images/reference-architecture/designing-ztna-access-policies-for-cloudflare-access/figure1.svg
  src/assets/images/reference-architecture/designing-ztna-access-policies-for-cloudflare-access/figure2.svg
  src/assets/images/reference-architecture/designing-ztna-access-policies-for-cloudflare-access/figure3.svg
  src/assets/images/reference-architecture/designing-ztna-access-policies-for-cloudflare-access/figure4.svg
  src/assets/images/reference-architecture/designing-ztna-access-policies-for-cloudflare-access/figure5.svg
  src/assets/images/reference-architecture/designing-ztna-access-policies-for-cloudflare-access/figure6.svg
  src/content/docs/reference-architecture/design-guides/designing-ztna-access-policies.mdx
Labels: product:reference-architecture, size/xl

#18407 [DDoS Protection] updates to overview/get started pages
  src/content/docs/ddos-protection/about/components.mdx
  src/content/docs/ddos-protection/about/how-ddos-protection-works.mdx
  src/content/docs/ddos-protection/about/index.mdx
  src/content/docs/ddos-protection/get-started.mdx
Labels: size/s, product:ddos-protection

#18599 Update block-page.mdx
  src/content/partials/cloudflare-one/access/block-page.mdx
Labels: size/s

#18609 Update warp-to-warp.mdx - Split tunnel Exclude mode
  src/content/docs/cloudflare-one/connections/connect-networks/private-net/warp-to-warp.mdx
Labels: product:cloudflare-one, size/xs

#18618 [Docs Site] Narrow Tailwind content glob for dev startup performance
  package-lock.json
  package.json
  tailwind.config.mjs
Labels: size/s

#18619 [Workers AI] Adds Llama 3.3
  src/content/workers-ai-models/llama-3.3-70b-instruct-fp8-fast.json
Labels: size/m

#18605 document Workers Static Assets .assetsignore file
  src/content/docs/workers/static-assets/binding.mdx
Labels: product:workers, size/s

#18598 [Apps]Update index.mdx
  src/content/docs/support/more-dashboard-apps/cloudflare-apps/index.mdx
Labels: size/xs, product:support

#18627 Add missing space
  src/content/docs/support/more-dashboard-apps/cloudflare-stream/delivering-videos-with-cloudflare.mdx
Labels: size/xs, product:support

#18170 [Email Security] Learning path
  src/assets/images/learning-paths/secure-o365-email/api-and-journaling-deployment.png
  src/assets/images/learning-paths/secure-o365-email/ms365-api-deployment.png
  src/content/docs/cloudflare-one/implementation-guides/secure-o365-email.mdx
  src/content/docs/learning-paths/secure-o365-email/concepts/index.mdx
  src/content/docs/learning-paths/secure-o365-email/concepts/prevent-phishing-attack.mdx
  src/content/docs/learning-paths/secure-o365-email/concepts/protect-from-phishing-attacks.mdx
  src/content/docs/learning-paths/secure-o365-email/concepts/what-is-cloudflare.mdx
  src/content/docs/learning-paths/secure-o365-email/concepts/what-is-email-security.mdx
  src/content/docs/learning-paths/secure-o365-email/concepts/what-is-phishing-attack.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/active-directory-sync.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/audit-logs.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/create-allow-policies.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/impersonation-registry.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/index.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/report-phish.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/set-additional-detections.mdx
  src/content/docs/learning-paths/secure-o365-email/enable-auto-moves/configure-auto-moves.mdx
  src/content/docs/learning-paths/secure-o365-email/enable-auto-moves/email-dispositions.mdx
  src/content/docs/learning-paths/secure-o365-email/enable-auto-moves/index.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/create-email-security-account.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/deployment-models.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/index.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/initial-login.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/prerequisites.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/recommended-deployment-model.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/setup-ms-graph-api.mdx
  src/content/docs/learning-paths/secure-o365-email/index.mdx
  src/content/docs/learning-paths/secure-o365-email/monitor-your-inbox/index.mdx
  src/content/docs/learning-paths/secure-o365-email/monitor-your-inbox/monitor-detections.mdx
  src/content/docs/learning-paths/secure-o365-email/monitor-your-inbox/phish-submissions.mdx
  src/content/docs/learning-paths/secure-o365-email/monitor-your-inbox/phishguard.mdx
  src/content/learning-paths/secure-o365-email.json
  src/content/partials/learning-paths/zero-trust/email-dispositions.mdx
Labels: product:cloudflare-one, size/l, product:learning-paths

#18611 [Logs] Update Log fields to add Email Security Alerts dataset
  src/content/docs/logs/reference/log-fields/account/email_security_alerts.md
Labels: product:logs, size/m

#18615 Update scim-setup.mdx
  src/content/docs/fundamentals/setup/account/account-security/scim-setup.mdx
Labels: size/xs, product:fundamentals

#18631 Update latest Developer Spotlight contributions listing
  src/content/docs/developer-spotlight/index.mdx
Labels: size/xs, product:developer-spotlight

#18633 Release-Dec-9-2024
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/m

#18432 AUTH-6594 Deprecate Access app self_hosted_domains
  src/content/changelogs/api-deprecations.yaml
Labels: size/s

#18635 Adding new implementation guide to reference architecture nav
  src/content/docs/reference-architecture/by-solution.mdx
  src/content/docs/reference-architecture/design-guides/designing-ztna-access-policies.mdx
  src/content/docs/reference-architecture/implementation-guides/index.mdx
  src/content/docs/reference-architecture/implementation-guides/zero-trust/index.mdx
  src/content/docs/reference-architecture/implementation-guides/zero-trust/secure-m365-email.mdx
Labels: product:reference-architecture, size/s

#18636 [ZT] Fix typo
  src/content/docs/cloudflare-one/connections/connect-networks/configure-tunnels/remote-management.mdx
Labels: product:cloudflare-one, size/xs

#18643 [Terraform] Clarify updates with impact on rule IDs
  src/content/docs/terraform/troubleshooting/rule-id-changes.mdx
Labels: product:terraform, size/xs

#18629 chore: Remove unnecessary text from Workers StaticAssets limitations
  src/content/docs/workers/static-assets/index.mdx
Labels: product:workers, size/xs

#18648 [Web Analytics] Updates to Web Analytics docs
  src/assets/images/web-analytics/dash-web_analytics-overview.png
  src/content/docs/web-analytics/configuration-options/filters.mdx
  src/content/docs/web-analytics/data-metrics/core-web-vitals.mdx
  src/content/docs/web-analytics/data-metrics/dimensions.mdx
  src/content/docs/web-analytics/data-metrics/page-load-time-summary.mdx
Labels: size/s, product:web-analytics

#18642 [WAF] Add new general changelog entry (IP lists)
  src/content/changelogs/waf-general.yaml
Labels: size/xs

#18650 [MWAN] Added extra info to HA Connector
  src/content/docs/magic-wan/configuration/connector/configure-hardware-connector/index.mdx
  src/content/docs/magic-wan/configuration/connector/configure-virtual-connector.mdx
  src/content/partials/magic-wan/connector/ha-configs.mdx
Labels: size/xs, product:magic-wan

#18649 [MWAN] Update details in oracle
  src/content/docs/magic-wan/configuration/manually/third-party/oracle.mdx
Labels: size/s, product:magic-wan

#18652 [MT / BYOIP] AS prefixes
  src/content/docs/byoip/concepts/irr-entries/best-practices.mdx
  src/content/docs/byoip/concepts/loa.mdx
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
Labels: product:byoip, size/s, product:magic-transit

#18591 [Durable Objects] Adding info on `alarmInfo` parameter for alarm()
  src/content/changelogs/durable-objects.yaml
  src/content/docs/durable-objects/api/alarms.mdx
  src/content/docs/durable-objects/api/base.mdx
Labels: product:durable-objects, size/s

#18654 Update dns-scan-intro.mdx
  src/content/partials/dns/dns-scan-intro.mdx
Labels: size/xs

#18647 Backfill historical R2 release notes entries
  src/content/changelogs/r2.yaml
  src/content/docs/r2/data-migration/super-slurper.mdx
Labels: product:r2, size/s

#18656 PIPE-155 Add prefix to Pipelines naming
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/s

#18644 [ZT] Add quotes to Mermaid connections
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/locations/dns-resolver-ips.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/captive-portals.mdx
  src/content/docs/cloudflare-one/policies/gateway/order-of-enforcement.mdx
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
Labels: product:cloudflare-one, size/s

#18474 [Workers] fix: update supported vitest version
  src/content/docs/workers/testing/vitest-integration/get-started/migrate-from-miniflare-2.mdx
  src/content/docs/workers/testing/vitest-integration/get-started/write-your-first-test.mdx
Labels: product:workers, size/xs

#18321 [D1] Cleaning up Build with D1
  public/_redirects
  src/content/changelogs/d1.yaml
  src/content/docs/d1/best-practices/import-export-data.mdx
  src/content/docs/d1/best-practices/index.mdx
  src/content/docs/d1/best-practices/local-development.mdx
  src/content/docs/d1/best-practices/query-d1.mdx
  src/content/docs/d1/best-practices/remote-development.mdx
  src/content/docs/d1/best-practices/use-d1-from-pages.mdx
  src/content/docs/d1/best-practices/use-indexes.mdx
  src/content/docs/d1/build-with-d1/d1-client-api.mdx
  src/content/docs/d1/configuration/index.mdx
  src/content/docs/d1/d1-api.mdx
  src/content/docs/d1/demos.mdx
  src/content/docs/d1/examples/d1-and-hono.mdx
  src/content/docs/d1/examples/d1-and-remix.mdx
  src/content/docs/d1/examples/index.mdx
  src/content/docs/d1/examples/query-d1-from-python-workers.mdx
  src/content/docs/d1/get-started.mdx
  src/content/docs/d1/index.mdx
  src/content/docs/d1/observability/debug-d1.mdx
  src/content/docs/d1/observability/index.mdx
  src/content/docs/d1/observability/metrics-analytics.mdx
  src/content/docs/d1/platform/index.mdx
  src/content/docs/d1/platform/pricing.mdx
  src/content/docs/d1/reference/backups.mdx
  src/content/docs/d1/reference/generated-columns.mdx
  src/content/docs/d1/reference/index.mdx
  src/content/docs/d1/reference/migrations.mdx
  src/content/docs/d1/reference/wrangler-commands.mdx
  src/content/docs/d1/sql-api/foreign-keys.mdx
  src/content/docs/d1/sql-api/query-json.mdx
  src/content/docs/d1/sql-api/sql-statements.mdx
  src/content/docs/d1/tutorials/build-a-comments-api/index.mdx
  src/content/docs/d1/tutorials/build-an-api-to-access-d1/index.mdx
  src/content/docs/d1/tutorials/d1-and-prisma-orm/index.mdx
  src/content/docs/d1/tutorials/import-to-d1-with-rest-api/index.mdx
  src/content/docs/d1/tutorials/index.mdx
  src/content/docs/d1/worker-api/d1-database.mdx
  src/content/docs/d1/worker-api/index.mdx
  src/content/docs/d1/worker-api/prepared-statements.mdx
  src/content/docs/d1/worker-api/return-object.mdx
  src/content/docs/d1/wrangler-commands.mdx
  src/content/docs/pages/functions/bindings.mdx
  src/content/docs/pages/functions/wrangler-configuration.mdx
  src/content/docs/workers/platform/storage-options.mdx
  src/content/docs/workers/runtime-apis/bindings/D1.mdx
  src/content/docs/workers/static-assets/compatibility-matrix.mdx
  src/content/docs/workers/testing/local-development.mdx
  src/content/docs/workers/wrangler/api.mdx
  src/content/docs/workers/wrangler/commands.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/partials/d1/use-pragma-statements.mdx
  src/content/partials/durable-objects/durable-objects-vs-d1.mdx
  src/content/partials/workers/d1-pricing.mdx
  src/content/partials/workers/wrangler-commands/d1.mdx
Labels: product:workers, product:pages, product:d1, size/xl

#18677 [Rules] Update edit-expressions.mdx
  src/content/docs/ruleset-engine/rules-language/expressions/edit-expressions.mdx
Labels: product:ruleset-engine, size/xs

#18680 [Magic] Corrects step numbering
  src/content/partials/magic-transit/tunnel-endpoints/add-tunnels.mdx
Labels: size/s

#18061 chore: fix typo montly -> monthly
  src/content/docs/workflows/build/rules-of-workflows.mdx
Labels: size/xs, product:workflows

#18686 [Terraform] Link to Snippets page
  src/content/docs/rules/snippets/create-terraform.mdx
  src/content/docs/terraform/additional-configurations/link-snippets.mdx
Labels: product:terraform, product:rules, size/xs

#18666 [CASB] Add AWS+CDE changelog entry
  src/content/changelogs/casb.yaml
Labels: size/xs, sub-product:casb

#18667 [ZT] WARP Connector incompatible with Magic WAN
  src/content/docs/cloudflare-one/connections/connect-networks/private-net/warp-connector/index.mdx
Labels: product:cloudflare-one, size/xs

#18672 Update private network load balancing language
  src/content/docs/reference-architecture/design-guides/extending-cloudflares-benefits-to-saas-providers-end-customers.mdx
Labels: product:reference-architecture, size/xs

#18670 Update load-balancing.mdx
  src/content/docs/reference-architecture/architectures/load-balancing.mdx
Labels: product:reference-architecture, size/s

#18688 [IAM] Add link to AOT blog
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#18693 add hyperdrive changelog entry
  src/content/changelogs/hyperdrive.yaml
Labels: size/xs

#18703 Typo hyperdrive changelog
  src/content/changelogs/hyperdrive.yaml
Labels: size/xs

#18676 Reference to configurable batch size in the Logpush overview
  src/content/docs/logs/about.mdx
Labels: product:logs, size/xs

#18625 Updated Melbourne IT DNS docs link
  src/content/partials/dns/ns-update-providers.mdx
Labels: product:dns, size/xs

#18705 [Magic Cloud] Clarify catalog export title
  src/content/docs/magic-cloud-networking/manage-resources.mdx
Labels: size/xs, product:magic-cloud-networking

#18610 [Docs Site] Add area-specific OpenGraph images
  public/core-services-preview.png
  public/dev-products-preview.png
  public/zt-preview.png
  src/components/overrides/Head.astro
Labels: size/s

#18683 [Reference Architecture] Cleaning up Overview pages
  src/content/docs/reference-architecture/architectures/index.mdx
  src/content/docs/reference-architecture/design-guides/index.mdx
  src/content/docs/reference-architecture/diagrams/ai/index.mdx
  src/content/docs/reference-architecture/diagrams/bots/index.mdx
  src/content/docs/reference-architecture/diagrams/content-delivery/index.mdx
  src/content/docs/reference-architecture/diagrams/index.mdx
  src/content/docs/reference-architecture/diagrams/iot/index.mdx
  src/content/docs/reference-architecture/diagrams/network/index.mdx
  src/content/docs/reference-architecture/diagrams/sase/index.mdx
  src/content/docs/reference-architecture/diagrams/security/index.mdx
  src/content/docs/reference-architecture/diagrams/serverless/index.mdx
  src/content/docs/reference-architecture/diagrams/storage/index.mdx
  src/content/docs/reference-architecture/implementation-guides/application-security/index.mdx
  src/content/docs/reference-architecture/implementation-guides/index.mdx
  src/content/docs/reference-architecture/implementation-guides/zero-trust/index.mdx
Labels: product:reference-architecture, size/s

#18692 Update limits.mdx to mention REST API rate limits
  src/content/docs/kv/platform/limits.mdx
Labels: size/xs, product:kv

#18570 [Docs Site] Remove docs-tag lines from rendered output in GitHubCode
  src/components/GitHubCode.astro
  src/content/docs/style-guide/components/github-code.mdx
Labels: size/s, product:style-guide

#18710 [Docs] Update overview pages
  src/content/docs/browser-rendering/faq.mdx
  src/content/docs/browser-rendering/get-started/index.mdx
  src/content/docs/browser-rendering/how-to/pdf-generation.mdx
  src/content/docs/browser-rendering/index.mdx
  src/content/docs/browser-rendering/platform/index.mdx
  src/content/docs/browser-rendering/platform/puppeteer.mdx
  src/content/docs/firewall/index.mdx
  src/content/docs/firewall/troubleshooting/index.mdx
  src/content/docs/spectrum/index.mdx
  src/content/partials/firewall/deprecation-notice.mdx
Labels: product:firewall, product:spectrum, product:browser-rendering, size/m

#18701 [Gateway] Revamp get started
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/dns.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/http.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/network.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-dns-policies/create-policy.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-http-policies/create-policy.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-network-policies/create-policy.mdx
  src/content/partials/cloudflare-one/gateway/get-started/create-dns-policy.mdx
  src/content/partials/cloudflare-one/gateway/get-started/create-http-policy.mdx
  src/content/partials/cloudflare-one/gateway/get-started/create-network-policy.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/m, product:learning-paths

#18715 Update speed-brain.mdx
  src/content/docs/speed/optimization/content/speed-brain.mdx
Labels: size/xs, product:speed

#18709 Update BGE emebedding models to list vector dimensions
  src/content/workers-ai-models/bge-base-en-v1.5.json
  src/content/workers-ai-models/bge-large-en-v1.5.json
  src/content/workers-ai-models/bge-small-en-v1.5.json
Labels: size/xs

#18586 remove unnecessary config for email worker
  src/content/docs/email-routing/email-workers/send-email-workers.mdx
Labels: product:email-routing, size/xs

#18526 [DNS] More intro details on different DNS setups
  src/content/docs/dns/concepts.mdx
  src/content/docs/dns/get-started.mdx
  src/content/docs/dns/zone-setups/index.mdx
Labels: product:dns, size/s

#18711 [R2] Document the max number of keys that may be deleted at a time
  src/content/docs/r2/api/workers/workers-api-reference.mdx
Labels: product:r2, size/xs

#18700 [Gateway] Sandboxing test policy
  src/content/changelogs/casb.yaml
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#18687 workflows: show how to bind from Pages
  src/content/docs/workflows/build/call-workflows-from-pages.mdx
  src/content/docs/workflows/build/events-and-parameters.mdx
  src/content/docs/workflows/build/rules-of-workflows.mdx
  src/content/docs/workflows/build/workers-api.mdx
Labels: size/m, product:workflows

#18714 Update recommended Postgres version
  src/content/docs/hyperdrive/get-started.mdx
Labels: size/xs, product:hyperdrive

#18730 [MT] IP Prefixes patch2
  src/content/docs/magic-transit/get-started.mdx
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
Labels: size/s, product:magic-transit

#18728 Correct sample code for Access Settings for origin-configuration.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/configure-tunnels/origin-configuration.mdx
Labels: product:cloudflare-one, size/xs

#16428 [DNS] Exposed DNS settings in dash
  src/content/docs/dns/additional-options/dns-zone-defaults.mdx
  src/content/docs/dns/additional-options/reverse-zones.mdx
  src/content/docs/dns/dnssec/multi-signer-dnssec/setup.mdx
  src/content/docs/dns/manage-dns-records/reference/dns-record-types.mdx
  src/content/docs/dns/manage-dns-records/reference/ttl.mdx
  src/content/docs/dns/nameservers/custom-nameservers/account-custom-nameservers.mdx
  src/content/docs/dns/nameservers/custom-nameservers/index.mdx
  src/content/docs/dns/nameservers/custom-nameservers/tenant-custom-nameservers.mdx
  src/content/docs/dns/nameservers/custom-nameservers/zone-custom-nameservers.mdx
  src/content/docs/dns/nameservers/index.mdx
  src/content/docs/dns/nameservers/nameserver-options.mdx
  src/content/docs/dns/zone-setups/reference/nameserver-assignment.mdx
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.mdx
  src/content/partials/dns/acns-tcns-intro.mdx
Labels: product:dns, size/m

#18737 [Docs Site] Only render columns in FeatureTable if feature has an entry for that plan level
  src/components/FeatureTable.astro
Labels: size/s

#18735 New reference architecture diagram - Optimizing device roaming experience with geolocated IPs
  src/assets/images/reference-architecture/optimizing-roaming-experience-with-geolocated-ips/figure1.svg
  src/assets/images/reference-architecture/optimizing-roaming-experience-with-geolocated-ips/figure2.svg
  src/content/docs/reference-architecture/diagrams/network/optimizing-roaming-experience-with-geolocated-ips.mdx
Labels: product:reference-architecture, size/m

#18740 [ZT] Remote Browser Gateway logs
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/clientless-browser-isolation.mdx
Labels: product:cloudflare-one, size/xs

#18645 [ZT] Windows multi-user support
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/parameters.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/switch-organizations.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/windows-multiuser.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/known-limitations.mdx
Labels: product:cloudflare-one, size/m

#18055 [Images] Added with parameter updates
  src/content/docs/images/transform-images/make-responsive-images.mdx
  src/content/docs/images/upload-images/direct-creator-upload.mdx
  src/content/partials/images/width.mdx
Labels: product:images, size/s

#18678 [D1] Adding info on `wrangler d1 insights`
  src/content/docs/d1/observability/metrics-analytics.mdx
  src/content/docs/d1/wrangler-commands.mdx
Labels: product:d1, size/m

#18753 Fix spelling
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/xs

#18755 [Cache] Corrects file name
  src/content/docs/cache/how-to/purge-cache/purge-zone-versions.mdx
Labels: product:cache, size/xs

#18756 [Docs] Update ip.geoip.* fields to ip.src.* fields
  src/assets/images/ruleset-engine/language/expression-builder.png
  src/assets/images/ruleset-engine/language/expression-editor.png
  src/content/docs/ddos-protection/managed-rulesets/http/override-expressions.mdx
  src/content/docs/logs/get-started/enable-destinations/splunk.mdx
  src/content/docs/rules/cloud-connector/examples/send-eu-visitors-to-gcs.mdx
  src/content/docs/rules/transform/examples/rewrite-welcome-for-countries.mdx
  src/content/docs/rules/url-forwarding/examples/redirect-country-subdomains.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-api.mdx
  src/content/docs/ruleset-engine/custom-rulesets/add-rules-ruleset.mdx
  src/content/docs/ruleset-engine/rules-language/expressions/edit-expressions.mdx
  src/content/docs/ruleset-engine/rules-language/operators.mdx
  src/content/docs/ruleset-engine/rulesets-api/add-rule.mdx
  src/content/docs/ruleset-engine/rulesets-api/delete-rule.mdx
  src/content/docs/ruleset-engine/rulesets-api/update-rule.mdx
  src/content/docs/support/troubleshooting/cloudflare-errors/troubleshooting-cloudflare-1xxx-errors.mdx
  src/content/docs/waf/custom-rules/create-api.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-specific-countries.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-verified-bots.mdx
  src/content/docs/waf/custom-rules/use-cases/block-ip-reputation.mdx
  src/content/docs/waf/custom-rules/use-cases/block-traffic-from-specific-countries.mdx
  src/content/docs/waf/custom-rules/use-cases/update-rules-customers-partners.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/docs/waf/rate-limiting-rules/use-cases.mdx
  src/content/docs/waf/troubleshooting/faq.mdx
  src/content/partials/rules/transform/header-modification-fields.mdx
  src/content/partials/rules/transform/transform-phase-fields.mdx
Labels: product:logs, product:rules, product:waf, product:ruleset-engine, size/m, product:support, product:ddos-protection

#18617 Changed value for resolved to allow DNS over TLS for systemd-resolved
  src/content/docs/1.1.1.1/setup/linux.mdx
Labels: product:1.1.1.1, size/xs

#18760 Update zaraz.yaml
  src/content/changelogs/zaraz.yaml
Labels: size/xs

#18763 Update enable-consent-management.mdx
  src/content/docs/zaraz/consent-management/enable-consent-management.mdx
Labels: size/s, product:zaraz

#18744 Release-Dec-16-2024
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/m

#18769 [Rules] Fix typo in page-rules-migration.mdx
  src/content/docs/rules/reference/page-rules-migration.mdx
Labels: product:rules, size/xs

#18772 Update overview.mdx
  src/content/docs/style-guide/documentation-content-strategy/content-types/overview.mdx
Labels: size/s, product:style-guide

#18768 fix includng typo in workflows/build page
  src/content/docs/workflows/build/workers-api.mdx
Labels: size/xs, product:workflows

#18770 [DNS] Call out supported records in partial setup
  src/content/docs/dns/zone-setups/partial-setup/index.mdx
  src/content/docs/dns/zone-setups/partial-setup/setup.mdx
  src/content/partials/dns/partial-setup-definition.mdx
Labels: product:dns, size/s

#18778 clarify r2 lifecycle rule conflict behavior
  src/content/docs/r2/buckets/object-lifecycles.mdx
Labels: product:r2, size/xs

#18776 Added suggested changes to overview.mdx
  src/content/docs/style-guide/documentation-content-strategy/content-types/overview.mdx
Labels: size/s, product:style-guide

#18774 [Docs Site] Add check for plan-level info in ProductFeatures
  src/components/ProductFeatures.astro
Labels: size/m
