Repository cloudflare/cloudflare-docs, pull requests merged in 2024-07, with the labels that each got.

#15411 [Cache] Update set-browser-ttl.md
  content/cache/how-to/edge-browser-cache-ttl/set-browser-ttl.md
Labels: product:cache, size/xs

#15415 [WAF] Revert Security Level updates
  content/_redirects
  content/bots/troubleshooting.md
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/product-compatibility.md
  content/firewall/cf-firewall-rules/actions.md
  content/fundamentals/_partials/_under-attack-mode-dash-instructions.md
  content/fundamentals/api/reference/deprecations.md
  content/fundamentals/basic-tasks/trace-request/how-to.md
  content/fundamentals/reference/under-attack-mode.md
  content/learning-paths/application-security/default-traffic-security/ddos.md
  content/learning-paths/application-security/default-traffic-security/security-level.md
  content/learning-paths/prevent-ddos-attacks/advanced/customize-security.md
  content/logs/reference/pathing-status.md
  content/rules/configuration-rules/create-api.md
  content/rules/configuration-rules/settings.md
  content/rules/page-rules/reference/recommended-rules.md
  content/rules/page-rules/reference/settings.md
  content/rules/reference/page-rules-migration/index.md
  content/rules/transform/managed-transforms/reference.md
  content/ruleset-engine/rules-language/expressions/edit-expressions.md
  content/ruleset-engine/rules-language/fields.md
  content/ruleset-engine/rules-language/values.md
  content/support/Troubleshooting/HTTP Status Codes/4xx Client Error.md
  content/support/third-party-software/Content Management System (CMS)/Cloudflare and Joomla Recommended First Steps.md
  content/support/third-party-software/Content Management System (CMS)/Using Cloudflare and Drupal Five Easy Recommended Steps.md
  content/support/third-party-software/Content Management System (CMS)/What settings are applied when I click Optimize Cloudflare for WordPress in Cloudflare's WordPress plugin.md
  content/terraform/additional-configurations/waf-managed-rulesets.md
  content/terraform/tutorial/_index.md
  content/terraform/tutorial/add-page-rules.md
  content/waf/_partials/_security-level-description.md
  content/waf/_partials/_security-level-scores.md
  content/waf/about/waf-attack-score.md
  content/waf/custom-rules/create-api.md
  content/waf/custom-rules/use-cases/block-ip-reputation.md
  content/waf/managed-rules/reference/owasp-core-ruleset/_index.md
  content/waf/managed-rules/reference/owasp-core-ruleset/configure-api.md
  content/waf/tools/security-level.md
  content/waf/troubleshooting/facebook-sharing.md
  content/workers/configuration/workers-with-page-rules.md
  data/glossary/waf.yaml
Labels: product:workers, product:terraform, product:bots, product:firewall, product:logs, product:rules, product:waf, product:ruleset-engine, product:cloudflare-for-platforms, size/m, product:fundamentals, product:support, product:learning-paths, product:_redirects

#15417 [MWAN] ECMP update
  content/magic-transit/_partials/static-routes/_static-routes1.md
  content/magic-transit/how-to/configure-static-routes.md
  content/magic-wan/configuration/manually/how-to/configure-static-routes.md
Labels: size/xs, product:magic-transit, product:magic-wan

#15421 broken header fix
  content/magic-wan/zero-trust/warp.md
Labels: size/xs, product:magic-wan

#15420 [Developer Spotlight] Restructure Developer Spotlight pages
  content/developer-spotlight/_index.md
  content/developer-spotlight/application-guide/index.md
Labels: size/m, product:developer-spotlight

#15422 [Chore] Remove unused images
  assets/images/ai-gateway/AIG-onboarding.png
  assets/images/magic-network-monitoring/cmd-output.png
  assets/images/magic-wan/connector/application-selector.png
  assets/images/pages/how-to/www_subdomain.png
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-22.svg
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-23.svg
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-28.svg
  assets/images/reference-architecture/load-balancing-reference-architecture-images/lb-ref-arch-29.svg
  assets/images/workers/tutorials/airtable/ui.png
Labels: size/xl

#15424 Snippets now available to all paid customers
  content/rules/snippets/_index.md
  data/changelogs/rules.yaml
Labels: product:rules, size/s

#15416 Update _view-audit-log.md
  content/fundamentals/_partials/_view-audit-log.md
Labels: size/xs, product:fundamentals

#15318 Add documentation and release note for worker version overrides.
  content/workers/configuration/versions-and-deployments/gradual-deployments.md
  data/changelogs/workers.yaml
Labels: product:workers, size/s

#15395 [Workers] Partial streamline of Get started CLI
  content/workers/_partials/_c3-run-command.md
  content/workers/_partials/_prereqs.md
  content/workers/get-started/guide.md
Labels: product:workers, size/m

#15427 [MWAN] Clarified overlapping routes withTunnel behaviour
  content/magic-wan/zero-trust/cloudflare-tunnel.md
Labels: size/xs, product:magic-wan

#15425 [WR] Updates to WR analytics doc
  content/waiting-room/how-to/monitor-waiting-room.md
  content/waiting-room/waiting-room-analytics.md
Labels: product:waiting-room, size/s

#15426 Remove d1 beta label
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#15432 Update DO get started with updated c3 example
  content/durable-objects/get-started.md
Labels: product:durable-objects, size/xs

#15430 Remove hyperdrive beta label
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#15428 [ZVM] add note about metrics
  content/version-management/how-to/versions.md
Labels: product:version-management, size/xs

#15407 Update managed-networks.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.md
Labels: product:cloudflare-one, size/xs

#15418 [Logs] Updates Logpush description
  content/logs/about/index.md
Labels: product:logs, size/xs

#15444 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#15442 add information about Zaraz Pricing
  content/_redirects
  content/zaraz/faq.md
  content/zaraz/monitoring.md
  content/zaraz/pricing-info.md
Labels: size/s, product:zaraz, product:_redirects

#15446 [Magic Cloud] Add new GCP resources
  content/magic-cloud-networking/reference.md
Labels: size/s, product:magic-cloud-networking

#15175 [BYOIP] Address Maps GA
  content/_redirects
  content/byoip/address-maps.md
  content/byoip/get-started/index.md
  content/byoip/proxy-ips.md
  content/fundamentals/_partials/_account-permissions-table.md
Labels: product:byoip, size/m, product:fundamentals, product:_redirects

#15438 [Speed] Remove Mobile Redirect
  content/_redirects
  content/speed/optimization/other/mobile-redirect.md
  content/speed/optimization/other/troubleshooting/_index.md
  content/speed/optimization/other/troubleshooting/mobile-redirect-affect-static-assets.md
  data/plans.json
Labels: size/m, product:_redirects, product:speed

#15014 Adds information on "script will never generate a response" errors
  content/_redirects
  content/workers/observability/errors.md
Labels: product:workers, size/s, product:_redirects

#15434 [Turnstile] update server side examples
  content/turnstile/get-started/server-side-validation.md
Labels: size/m, product:turnstile

#15423 [pages] Add undocumented pages dev flags
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#15433 [ZT] Local network exclusion timeout
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
Labels: product:cloudflare-one, size/xs

#14959 [SSL] AOP AWS integration guide
  content/ssl/origin-configuration/authenticated-origin-pull/aws-alb-integration.md
Labels: product:ssl, size/m

#15451 [Speed] Update Auto Minify banner
  content/speed/_partials/_auto-minify-deprecation-warning.md
  content/speed/optimization/content/auto-minify.md
  content/speed/optimization/content/troubleshooting/auto-minify-not-working.md
Labels: size/s, product:speed

#15419 [WAF] Add general updates changelog
  content/waf/change-log/_index.md
  content/waf/change-log/general-updates.md
  content/waf/change-log/managed-rulesets.md
  data/changelogs/waf-general.yaml
Labels: product:waf, size/s

#12241 [LB] Intro tutorial using Pages as origin
  content/load-balancing/_partials/_components-knowledge-callout.md
  content/load-balancing/get-started/quickstart.md
  content/load-balancing/pools/cloudflare-pages-origin.md
  content/pages/platform/known-issues.md
Labels: product:pages, product:load-balancing, size/m, pcx_team_review

#15458 [MWAN] List onramps
  content/magic-wan/_index.md
  content/magic-wan/analytics/_index.md
  content/magic-wan/configuration/_index.md
  content/magic-wan/glossary.md
  content/magic-wan/legal/_index.md
  content/magic-wan/network-interconnect.md
  content/magic-wan/on-ramps.md
  content/magic-wan/reference/_index.md
  content/magic-wan/security.md
  content/magic-wan/zero-trust/_index.md
Labels: size/s, product:magic-wan

#14578 Zaraz - Create embeds.md
  content/zaraz/embeds.md
Labels: size/s, product:zaraz

#15460 [SSL] Custom hostname Default CA option
  content/cloudflare-for-platforms/_partials/_create-custom-hostname-api.md
  content/cloudflare-for-platforms/_partials/_issue-certs-preamble.md
  content/cloudflare-for-platforms/cloudflare-for-saas/domain-support/create-custom-hostnames.md
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/issue-and-validate/issue-certificates.md
Labels: product:cloudflare-for-platforms, size/s

#15463 [ZT] DEX tests turn off when WARP is off
  content/cloudflare-one/insights/dex/tests/_index.md
Labels: product:cloudflare-one, size/xs

#15466 Release-Jul-3-2024: Announcing 7 detections
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, changelog, size/s

#15468 [SSL] Replace Bulk by Dynamic Redirects on 'encrypt some traffic' note
  content/ssl/edge-certificates/additional-options/always-use-https.md
Labels: product:ssl, size/s

#15305 Add instructions for properties of Durable Object errors
  content/durable-objects/best-practices/error-handling.md
  content/durable-objects/observability/troubleshooting.md
  content/workers/observability/errors.md
  content/workers/runtime-apis/rpc/error-handling.md
  data/changelogs/durable-objects.yaml
  data/changelogs/workers.yaml
Labels: product:workers, product:durable-objects, size/m

#15429 [Access for SaaS] Google Cloud tutorial
  content/cloudflare-one/applications/configure-apps/saas-apps/google-cloud-saas.md
Labels: product:cloudflare-one, size/s

#15471 [Gateway] Add per DNS query plan warning
  content/cloudflare-one/insights/logs/_index.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#15295 Added clarification on 4g/5g limitation
  content/cloudflare-one/connections/connect-devices/warp/troubleshooting/known-limitations.md
Labels: product:cloudflare-one, size/xs

#15461 Missing a few ```
  content/ssl/origin-configuration/authenticated-origin-pull/aws-alb-integration.md
Labels: product:ssl, size/xs

#14860 [SSL/TLS] Added information on HSTS on individual subdomains
  content/ssl/edge-certificates/additional-options/http-strict-transport-security.md
Labels: product:ssl, size/xs

#15475 Add FAQ entry to the Observatory about query parameters and anchors
  content/speed/speed-test/faq.md
Labels: size/s, product:speed

#15352 [DNS] Clarify DNSSEC options with Secondary DNS Override
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/proxy-traffic.md
Labels: product:dns, size/xs

#15271 [DNS] Add Logpush and DNS Zone Transfer behavior of the pending zone
  content/dns/zone-setups/reference/domain-status.md
Labels: product:dns, size/xs

#15459 [WAF, Rules] Add option to duplicate existing rule
  content/cache/how-to/cache-rules/create-dashboard.md
  content/rules/compression-rules/create-dashboard.md
  content/rules/configuration-rules/create-dashboard.md
  content/rules/origin-rules/create-dashboard.md
  content/rules/transform/request-header-modification/create-dashboard.md
  content/rules/transform/response-header-modification/create-dashboard.md
  content/rules/transform/url-rewrite/create-dashboard.md
  content/rules/url-forwarding/single-redirects/create-dashboard.md
  content/waf/custom-rules/create-dashboard.md
  content/waf/custom-rules/custom-rulesets/create-dashboard.md
  content/waf/rate-limiting-rules/create-account-dashboard.md
  content/waf/rate-limiting-rules/create-zone-dashboard.md
Labels: product:rules, product:cache, product:waf, size/s

#15483 [MWAN] Updated intro
  content/magic-wan/_index.md
  content/magic-wan/on-ramps.md
Labels: size/xs, product:magic-wan

#15482 [Ruleset Engine] Clarify terminating actions and execution order
  content/cache/how-to/cache-rules/order.md
  content/rules/_partials/_product-execution-order.md
  content/rules/configuration-rules/_index.md
  content/rules/origin-rules/_index.md
  content/rules/snippets/_index.md
  content/rules/url-forwarding/_index.md
  content/ruleset-engine/_partials/_rule-terminating-actions.md
  content/ruleset-engine/about/rules.md
  content/ruleset-engine/rules-language/actions.md
Labels: product:rules, product:cache, product:ruleset-engine, size/s

#15484 [MCN] Corrected name
  content/magic-cloud-networking/get-started.md
Labels: size/xs, product:magic-cloud-networking

#15485 [Ref Architecture] Fix typo
  content/reference-architecture/diagrams/serverless/serverless-global-apis.md
Labels: product:reference-architecture, size/xs

#15469 [Logpush] gateway dns and latest logpush fields
  content/logs/reference/log-fields/account/gateway_dns.md
  content/logs/reference/log-fields/zone/http_requests.md
Labels: product:logs, size/s

#15470 [Access for SaaS] Create Smartsheet tutorial
  content/cloudflare-one/applications/configure-apps/saas-apps/smartsheet-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/tableau-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
Labels: product:cloudflare-one, size/s

#15503 Update securing-your-stream.md
  content/stream/viewing-videos/securing-your-stream.md
Labels: product:stream, size/xs

#15496 [Pages] Correct header syntax typo in early-hints.md
  content/pages/configuration/early-hints.md
Labels: product:pages, size/xs

#15492 Update default-cache-behavior.md
  content/cache/concepts/default-cache-behavior.md
Labels: product:cache, size/xs

#15436 Add Tail Workers to bindings section
  content/workers/runtime-apis/bindings/tail-worker.md
Labels: product:workers, size/s

#15494 Workers Sites > Add static assets to existing Workers typo (wrangler dev --> wrangler deploy)
  content/workers/configuration/sites/start-from-worker.md
Labels: product:workers, size/xs

#15462 Create pull_request_template.md
  .github/pull_request_template.md
Labels: size/s

#15488 [ZT] Update page title
  content/cloudflare-one/policies/browser-isolation/setup/_index.md
Labels: product:cloudflare-one, size/xs

#15505 [Chore] Slightly update styling
  static/plans.css
Labels: size/s

#15467 [API Shield] Variable hostnames in API Discovery
  content/api-shield/security/api-discovery.md
Labels: product:api-shield, size/s

#15509 Update D1 alpha access removal date to August 15, 2024
  content/d1/platform/alpha-migration.md
  data/changelogs/d1.yaml
Labels: product:d1, size/xs

#15502 [Docs Site] Support variables within codeblocks in partials
  layouts/shortcodes/render.html
Labels: size/xs

#15508 [Pages] Update index.md
  content/pages/migrations/migrating-from-workers/index.md
Labels: product:pages, size/xs

#15235 Restructure KV get-started to indicate split local/remote KV's before snippets
  content/kv/get-started.md
Labels: size/s, product:kv

#15514 update workers analytics engine one-liner
  content/analytics/_index.md
Labels: product:analytics, size/xs

#15447 [Workers AI] Revamp fn calling
  content/workers-ai/function-calling/embedded/_index.md
  content/workers-ai/function-calling/embedded/api-reference.md
  content/workers-ai/function-calling/embedded/examples/_index.md
  content/workers-ai/function-calling/embedded/examples/fetch.md
  content/workers-ai/function-calling/embedded/examples/kv.md
  content/workers-ai/function-calling/embedded/examples/openapi.md
  content/workers-ai/function-calling/embedded/get-started.md
  content/workers-ai/function-calling/embedded/troubleshooting.md
Labels: size/l, product:workers-ai

#15507 [Chore] Remove collapse sidebar component
  assets/events.ts
  assets/main.ts
  layouts/partials/sidebar.nav.html
  static/style.css
Labels: size/m

#15513 Update cloudflare-pages-origin.md
  content/load-balancing/pools/cloudflare-pages-origin.md
Labels: product:load-balancing, size/xs

#15518 Minor diagram update - fix closet to closest
  assets/images/reference-architecture/cdn-reference-architecture-images/ref-arch-cdn-figure2.svg
Labels: size/s

#15511 [Access for SaaS] Create Pingboard tutorial
  content/cloudflare-one/applications/configure-apps/saas-apps/google-cloud-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/pingboard-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/slack-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/smartsheet-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/tableau-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
Labels: product:cloudflare-one, size/s

#15526 [Workers AI]Update to llama-3
  content/workers-ai/get-started/workers-wrangler.md
Labels: size/xs, product:workers-ai

#15527 [Rules] Update configuration rule example
  content/rules/configuration-rules/create-api.md
Labels: product:rules, size/xs

#15523 Update allowed-patterns.md
  content/email-security/email-configuration/lists/allowed-patterns.md
Labels: size/xs, product:email-security

#15340 [Turnstile] use cases page v1
  content/turnstile/reference/use-cases/_index.md
  content/turnstile/reference/use-cases/login-pages.md
Labels: size/m, product:turnstile

#15524 [MWAN] Minor stuff corrected
  content/magic-wan/configuration/connector/configure-hardware-connector/_index.md
  content/magic-wan/configuration/connector/network-options/application-based-policies/_index.md
  content/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.md
  content/magic-wan/configuration/connector/network-options/network-segmentation.md
Labels: size/s, product:magic-wan

#15529 Add example of correct and incorrect O2O configuration to SFCC O2O Provider Guide
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/salesforce-commerce-cloud.md
Labels: product:cloudflare-for-platforms, size/s

#15519 Update quarterly-ddos-reports.md
  content/radar/reference/quarterly-ddos-reports.md
Labels: size/xs, product:radar

#15517 DO get started guide rephrasing suggestion for migrations section
  content/durable-objects/get-started.md
Labels: product:durable-objects, size/xs

#15520 [Pages] Add R2 hint
  content/pages/platform/limits.md
Labels: product:pages, size/xs

#15543 [WAF] Remove Server-side Excludes
  content/_redirects
  content/cache/reference/etag-headers.md
  content/rules/configuration-rules/settings.md
  content/rules/page-rules/reference/settings.md
  content/rules/reference/page-rules-migration/index.md
  content/speed/_partials/_brotli-compression-warning.md
  content/speed/optimization/content/troubleshooting/content-encoding-issues.md
  content/support/third-party-software/Content Management System (CMS)/What settings are applied when I click Optimize Cloudflare for WordPress in Cloudflare's WordPress plugin.md
  content/waf/_partials/tools/_sse-instructions-api.md
  content/waf/_partials/tools/_sse-instructions-dash.md
  content/waf/tools/scrape-shield/server-side-excludes.md
  content/workers/configuration/workers-with-page-rules.md
  data/plans.json
Labels: product:workers, product:rules, product:cache, product:waf, size/m, product:support, product:_redirects, product:speed

#15373 Update connection tampering section in Radar glossary to resets and timeouts (#10618)
  content/radar/glossary.md
Labels: size/s, product:radar

#15263 [Docs Site] bump dependencies, improve building on Windows
  .gitattributes
  README.md
  assets/search.ts
  assets/zaraz.d.ts
  package-lock.json
  package.json
  tsconfig.config.json
  tsconfig.json
  vite.config.ts
Labels: size/xl

#15536 [DDoS Protection] Botnet threat feed ASN authentication
  content/ddos-protection/botnet-threat-feed/index.md
Labels: size/s, product:ddos-protection

#15309 fix get-started.md; + npx
  content/kv/get-started.md
Labels: size/s, product:kv

#15539 [DLP] Elaborate UTF-8 regex
  content/cloudflare-one/_partials/data-loss-prevention/_custom-profile.md
Labels: product:cloudflare-one, size/xs, sub-product:data-loss-prevention

#15530 [Speed] Update 0-rtt-connection-resumption.md
  content/speed/optimization/protocol/0-rtt-connection-resumption.md
Labels: size/xs, product:speed

#15525 [CES (formerly Area 1)] Inform users to connect a CF account
  assets/images/email-security/sso/generic/area1-allow.png
  assets/images/email-security/sso/generic/launch-dashboard.png
  assets/images/email-security/sso/generic/sign-with-cloudflare.png
  content/email-security/account-setup/connect-cloudflare-account.md
Labels: size/s, product:email-security

#15548 [Pages] Add troubleshooting callout to static html guide
  content/pages/framework-guides/deploy-anything.md
Labels: product:pages, size/xs

#15552 [DDoS Protection] Botnet threat feed: Update step order
  content/ddos-protection/botnet-threat-feed/index.md
Labels: size/s, product:ddos-protection

#15553 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#15549 [Support] Add page about linked account errors
  content/support/account-management-billing/cannot-locate-dashboard-account.md
Labels: size/s, product:support

#15555 Make TCP resets and timeouts header more succinct (#10618)
  content/radar/glossary.md
Labels: size/xs, product:radar

#15535 Update analytics.md
  content/ai-gateway/observability/analytics.md
  data/changelogs/ai-gateway.yaml
Labels: size/xs, product:ai-gateway

#15450 [turnstile] remove wrong/outdated errors
  content/turnstile/get-started/server-side-validation.md
Labels: size/s, product:turnstile

#15479 [ZT] Add time.cloudflare.com to WARP with firewall
  content/cloudflare-one/connections/connect-devices/warp/deployment/firewall.md
Labels: product:cloudflare-one, size/xs

#15561 Release-Jul-10-2024: Announcing 7 detections
  content/waf/change-log/2024-07-10.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/m

#15556 ai demo app examples from lizzie
  data/external-resources/apps.yml
Labels: size/s

#15557 [Workers AI] Adds newer AI demos
  data/external-resources/apps.yml
Labels: size/s

#15560 [Gateway] Update PAC files support
  assets/images/cloudflare-one/connections/firefox-network-settings.png
  assets/images/cloudflare-one/connections/firefox-pac-file.png
  content/cloudflare-one/connections/connect-devices/agentless/pac-files.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#15541 Adds illegal invocation error information
  content/_redirects
  content/workers/observability/errors.md
Labels: product:workers, size/s, product:_redirects

#15550 [SSL] Fix naming convention and improve readability in ciphers tables
  content/ssl/reference/cipher-suites/compliance-status.md
  content/ssl/reference/cipher-suites/supported-cipher-suites.md
Labels: product:ssl, size/s

#15554 Magic WAN Connector : update high availability to remove limitations.
  content/magic-wan/configuration/connector/configure-hardware-connector/_index.md
Labels: size/xs, product:magic-wan

#15565 [WAF] Small fixes
  content/waf/change-log/2024-07-10.md
  data/changelogs/waf.yaml
Labels: product:waf, size/xs

#15164 Update Wrangler KV commands in docs to remove ':'
  content/kv/get-started.md
  content/kv/reference/environments.md
  content/kv/reference/kv-commands.md
  content/workers/wrangler/commands.md
Labels: product:workers, size/m, product:kv

#15566 [CES] Replace Area 1 with Cloud Email Security
  content/email-security/account-setup/connect-cloudflare-account.md
Labels: size/xs, product:email-security

#15567 [Page Shield] Correct turning off behaviour
  content/page-shield/reference/settings.md
Labels: product:page-shield, size/xs

#15528 Add custom metadata documentation
  content/ai-gateway/configuration/custom-metadata.md
  data/changelogs/ai-gateway.yaml
Labels: size/m, product:ai-gateway

#15574 Deprecated model labels
  layouts/_default/model.html
  layouts/shortcodes/models-grouped-by-task.md
Labels: size/s

#15570 [Dev Spotlight] Update changelogs
  data/changelogs/workers-ai.yaml
  data/changelogs/workers.yaml
Labels: size/xs

#15532 Adds information about local dev environment vars
  content/workers/configuration/environment-variables.md
  content/workers/testing/local-development.md
Labels: product:workers, size/s

#15588 [Logs] Updates Log Explorer FAQ
  content/logs/log-explorer.md
Labels: product:logs, size/xs

#15135 [D1] document 429 HTTP response
  data/changelogs/d1.yaml
Labels: size/xs

#15577 [Workers & Pages] Update _index.md
  content/queues/_index.md
Labels: product:queues, size/xs

#15580 [Hugo] Expand external-resources-by-tag component
  content/durable-objects/demos.md
  content/kv/demos.md
  content/pages/framework-guides/deploy-a-hono-site.md
  content/use-cases/ai.md
  content/workers-ai/demos.md
  data/external-resources/apps.yml
  layouts/shortcodes/external-resources-by-tag.html
  layouts/shortcodes/external-resources.html
Labels: product:pages, product:durable-objects, size/m, product:kv, product:workers-ai, product:use-cases

#15591 [Chore] Fix header links
  content/cloudflare-one/applications/configure-apps/saas-apps/digicert-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-cloud-saas.md
  content/load-balancing/pools/cloudflare-pages-origin.md
Labels: product:cloudflare-one, product:load-balancing, size/xs

#15035 Document the EventSource API
  content/workers/runtime-apis/eventsource.md
Labels: product:workers, size/s

#15576 [Dev Spotlight] Add notes to highlight the Developer Spotlight program
  content/developer-spotlight/_index.md
  content/workers-ai/tutorials/_index.md
  content/workers/examples/_index.md
  content/workers/tutorials/_index.md
Labels: product:workers, size/s, product:workers-ai, product:developer-spotlight

#15586 Fix missing async in example for module workers
  content/workers/reference/migrate-to-module-workers.md
Labels: product:workers, size/xs

#15598 Update custom-domains.md
  content/workers/configuration/routing/custom-domains.md
Labels: product:workers, size/xs

#15575 [Access for SaaS] Braintree SAML tutorial
  content/cloudflare-one/applications/configure-apps/saas-apps/braintree-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/digicert-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/docusign-access.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-cloud-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/greenhouse-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/hubspot-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/jamf-pro-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/pagerduty-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/pingboard-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/slack-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/smartsheet-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/tableau-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
Labels: product:cloudflare-one, size/s

#15400 [Gateway] Non-authenticated DNS queries
  assets/images/cloudflare-one/policies/location-setup-instructions.png
  content/cloudflare-one/_partials/gateway/_add-locations-static-ip-warning.md
  content/cloudflare-one/_partials/gateway/_add-locations.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-tls.md
  content/cloudflare-one/connections/connect-devices/agentless/dns/locations/_index.md
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/s

#15487 Add filter non-auth queries changelog entry
  data/changelogs/gateway.yaml
Labels: do-not-merge-yet, size/xs

#15568 [MWAN] Added graphs for Connector
  content/magic-wan/configuration/connector/configure-hardware-connector/_index.md
  content/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.md
  content/magic-wan/configuration/connector/network-options/dhcp/dhcp-relay.md
  content/magic-wan/configuration/connector/network-options/network-segmentation.md
Labels: size/s, product:magic-wan

#15606 [Rules] Add a note for Transform Rules x Logpush
  content/rules/transform/troubleshooting.md
Labels: product:rules, size/xs

#15605 Update China Network DNS supporting both Full and Partial
  content/china-network/concepts/china-dns.md
  content/china-network/get-started.md
Labels: product:china-network, size/xs

#15546 [Logs] Updates Logpush instructions to match new flow
  content/logs/_partials/_enable-logpush-job.md
  content/logs/get-started/enable-destinations/aws-s3/index.md
  content/logs/get-started/enable-destinations/azure/index.md
  content/logs/get-started/enable-destinations/datadog/index.md
  content/logs/get-started/enable-destinations/google-cloud-storage/index.md
  content/logs/get-started/enable-destinations/http/index.md
  content/logs/get-started/enable-destinations/new-relic/index.md
  content/logs/get-started/enable-destinations/r2/index.md
  content/logs/get-started/enable-destinations/s3-compatible-endpoints/index.md
  content/logs/get-started/enable-destinations/splunk/index.md
  content/logs/get-started/enable-destinations/sumo-logic/index.md
Labels: product:logs, size/m

#15614 Update china-dns.md
  content/china-network/concepts/china-dns.md
Labels: product:china-network, size/xs

#15619 [Cache] Update tiered-cache.md
  content/cache/how-to/tiered-cache.md
Labels: product:cache, size/xs

#15621 [Network] Fix format error on grpc-connections docs
  content/network/grpc-connections.md
Labels: size/xs, product:network

#15592 Update index.md
  content/network-error-logging/how-to/index.md
Labels: size/xs, product:network-error-logging

#15597 Add O2O best practices to SFCC O2O Provider Guide
  content/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/salesforce-commerce-cloud.md
Labels: product:cloudflare-for-platforms, size/s

#15599 Pm patch queues gs
  content/queues/configuration/batching-retries.md
  content/queues/configuration/pull-consumers.md
  content/queues/get-started.md
Labels: product:queues, size/s

#15600 [Gateway] Resolver policies LDF conflict
  content/cloudflare-one/_partials/gateway/_create-resolver-policy.md
Labels: product:cloudflare-one, size/xs

#15540 [Workers] compat date clarification
  content/workers/configuration/compatibility-dates.md
Labels: product:workers, size/s

#15601 [Gateway] Remove Happy Eyeballs error
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#15631 [Cache] Adds more related products to cache
  content/cache/_index.md
Labels: product:cache, size/xs

#15533 [Aegis] Dedicated Aegis tile
  content/aegis/_index.md
  content/aegis/about/_index.md
  content/aegis/about/connection-forwarding.md
  content/aegis/about/ips-allocation.md
  content/aegis/configuration-options/_index.md
  content/aegis/configuration-options/access-cni.md
  content/aegis/configuration-options/data-localization.md
  content/aegis/configuration-options/load-balancing.md
  content/aegis/configuration-options/network-firewall.md
  content/aegis/configuration-options/workers.md
  data/aegis.yml
Labels: size/m, product:aegis

#15594 add example apps for R2 and D1
  content/ai-gateway/tutorials/_index.md
  content/d1/demos.md
  content/d1/examples/_index.md
  content/d1/tutorials/_index.md
  content/durable-objects/demos.md
  content/durable-objects/examples/_index.md
  content/durable-objects/tutorials/_index.md
  content/hyperdrive/examples/_index.md
  content/hyperdrive/tutorials/_index.md
  content/kv/demos.md
  content/kv/tutorials/_index.md
  content/pages/tutorials/_index.md
  content/r2/demos.md
  content/r2/examples/_index.md
  content/r2/tutorials.md
  content/style-guide/documentation-content-strategy/content-types/tutorial.md
  content/vectorize/examples/_index.md
  content/vectorize/tutorials/_index.md
  content/workers-ai/demos.md
  content/workers-ai/tutorials/_index.md
  content/workers/examples/_index.md
  content/workers/tutorials/_index.md
  data/external-resources/apps.yml
  data/glossary/fundamentals.yaml
Labels: product:workers, product:pages, product:r2, product:d1, product:durable-objects, size/m, product:style-guide, product:kv, product:ai-gateway, product:workers-ai, product:vectorize, product:hyperdrive

#15636 [Cache] Adds Aegis as related product
  content/cache/_index.md
Labels: product:cache, size/xs

#15633 Add Beta label to Google Vertex documentation
  content/ai-gateway/providers/vertex.md
Labels: size/xs, product:ai-gateway

#15604 Fix timeOrigin description
  content/workers/runtime-apis/performance.md
Labels: product:workers, size/xs

#15624 [Images] Updated Transform via URL with screenshots
  assets/images/images/anim-still.jpg
  assets/images/images/anim.gif
  assets/images/images/background.jpg
  assets/images/images/blur.jpg
  assets/images/images/brightness.jpg
  assets/images/images/cloudflare.gif
  assets/images/images/contain-example.png
  assets/images/images/contrast.jpg
  assets/images/images/cover-example.png
  assets/images/images/dpr.jpg
  assets/images/images/face.jpg
  assets/images/images/format.jpg
  assets/images/images/gamma.jpg
  assets/images/images/gravity.jpg
  assets/images/images/quality.jpg
  assets/images/images/rotate.jpg
  assets/images/images/trim.jpg
  assets/images/images/trim2.png
  assets/images/images/trim3.png
  assets/images/images/trim4.png
  assets/images/images/xxy.png
  assets/images/images/xxy2.png
  assets/images/images/zoom.jpg
  content/images/_partials/_supported-properties.md
  content/images/transform-images/transform-via-url.md
Labels: product:images, size/m

#15431 [ZT] Windows pre-login
  content/cloudflare-one/_partials/access/_create-service-token.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/windows-prelogin.md
  content/cloudflare-one/identity/service-tokens.md
  data/changelogs/warp.yaml
Labels: product:cloudflare-one, size/m

#15189 Update ssh-logging.md
  content/cloudflare-one/policies/gateway/network-policies/ssh-logging.md
Labels: product:cloudflare-one, size/xs

#15640 [DDoS Protection] Clarify wording on use cases
  content/ddos-protection/managed-rulesets/http/configure-api.md
  content/terraform/additional-configurations/ddos-managed-rulesets.md
Labels: product:terraform, size/xs, product:ddos-protection

#15559 Update Wrangler commands page to include new Hyperdrive options when creating or updating configs
  content/workers/wrangler/commands.md
Labels: product:workers, size/s, wrangler-commands

#15581 [Gateway] Ignore CNAME categories
  content/cloudflare-one/_partials/gateway/selectors/_category-options.md
  content/cloudflare-one/_partials/gateway/selectors/_content-categories.md
  content/cloudflare-one/policies/gateway/dns-policies/_index.md
  content/cloudflare-one/policies/gateway/domain-categories.md
  content/cloudflare-one/policies/gateway/resolver-policies.md
  data/changelogs/gateway.yaml
Labels: sub-product:gateway, product:cloudflare-one, size/s

#15642 [DDoS Protection] Update DDoS diagram
  assets/images/ddos-protection/ddos-diagram.png
Labels: size/xs
