Repository cloudflare/cloudflare-docs, pull requests merged in 2024-11, with the labels that each got.

#17907 Adding Observability NextJS Workflow videos
  src/content/docs/pages/framework-guides/nextjs/index.mdx
  src/content/docs/workers/observability/logs/index.mdx
  src/content/docs/workflows/tutorials/index.mdx
  src/content/videos/index.yaml
Labels: product:workers, product:pages, size/s, product:workflows

#17919 [Docs Site] Add GitHubCode component
  src/components/GitHubCode.astro
  src/components/index.ts
  src/content/docs/style-guide/components/github-code.mdx
Labels: size/m, product:style-guide

#17920 [Changelog] Update Email Security changelog
  src/content/changelogs/email-security.yaml
Labels: size/xs

#17773 [Consumer WARP] Remove WARP+ mode
  src/content/docs/warp-client/warp-modes.mdx
Labels: product:warp-client, do-not-merge-yet, size/s

#17848 [Workers] Update changelog through 10-28-24
  src/content/changelogs/workers.yaml
Labels: size/xs

#17912 [ZT] WARP local network exclusion
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
Labels: product:cloudflare-one, size/s

#17824 Simplify verification in nodes with jose
  src/content/docs/cloudflare-one/identity/authorization-cookie/validating-json.mdx
Labels: product:cloudflare-one, size/s

#17922 [Workers AI] deleted ai assistant
  src/content/docs/workers-ai/ai.mdx
Labels: size/xs, product:workers-ai

#17787 Update wrangler command docs to include location option in bucket create command
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, do-not-merge-yet, size/xs

#17924 Update local-development.mdx for Vectorize support
  src/content/docs/workers/testing/local-development.mdx
Labels: product:workers, size/xs

#17825 [D1] Bulk import examples with REST APIs
  src/content/docs/d1/tutorials/import-to-d1-with-rest-api/index.mdx
  src/content/partials/d1/generate-d1-api-token.mdx
Labels: product:d1, size/m, hyperlint-ignore

#17927 [Bots] Generic user agent error for Verified Bots form
  src/content/docs/bots/reference/verified-bots-policy.mdx
Labels: product:bots, size/s

#17929 [ZT] Certificate limits
  src/content/docs/cloudflare-one/account-limits.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/user-side-certificates/custom-certificate.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/user-side-certificates/index.mdx
Labels: product:cloudflare-one, size/s

#17951 Fix a broken table
  src/content/docs/support/contacting-cloudflare-support.mdx
Labels: size/xs, product:support

#17879 [Rules] Update index.mdx
  src/content/docs/cache/how-to/cache-rules/index.mdx
Labels: product:cache, size/xs

#17909 [R2] Update restrictions for custom domains
  src/content/docs/r2/buckets/public-buckets.mdx
Labels: product:r2, size/xs

#17850 [R2] Add example for Java
  src/content/docs/r2/examples/aws/aws-sdk-java.mdx
Labels: product:r2, size/m

#17943 [APO] Update page-rule-integration.mdx
  src/content/docs/automatic-platform-optimization/reference/page-rule-integration.mdx
Labels: size/xs, product:automatic-platform-optimization

#17925 [Email Security] Update Gmail BCC instructions
  src/content/docs/email-security/deployment/api/setup/gsuite-bcc-setup/add-domain.mdx
Labels: size/xs, product:email-security

#17956 [MCN] Terraform info
  src/content/partials/magic-cloud-networking/magic-wan-on-ramps.mdx
Labels: size/s

#17957 [CNI] Updated wording for Pending status
  src/content/docs/network-interconnect/express-cni/create-interconnects.mdx
Labels: product:network-interconnect, size/xs

#17960 [Email Security] Enable auto-move events for manually added domains
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/manual-add.mdx
Labels: product:cloudflare-one, size/s

#17965 Update concepts.mdx
  src/content/docs/waf/concepts.mdx
Labels: product:waf, size/s

#17959 Changelog MT/MWAN/CNI
  src/content/changelogs/magic-transit.yaml
  src/content/changelogs/magic-wan.yaml
  src/content/changelogs/network-interconnect.yaml
  src/content/docs/magic-transit/changelog.mdx
Labels: size/s, product:magic-transit

#17969 [Speed] Adds more details to 0-RTT Connection Resumption docs
  src/content/docs/speed/optimization/protocol/0-rtt-connection-resumption.mdx
Labels: size/xs, product:speed

#17970 [D1] Updating the limit for maximum row size.
  src/content/docs/d1/platform/limits.mdx
Labels: product:d1, size/xs

#17971 [MWAN] Corrected API create site
  src/content/partials/magic-wan/connector/create-site.mdx
Labels: size/s

#17770 script_name
  src/content/docs/workflows/build/events-and-parameters.mdx
  src/content/docs/workflows/build/workers-api.mdx
  src/content/docs/workflows/get-started/cli-quick-start.mdx
  src/content/docs/workflows/get-started/guide.mdx
Labels: size/s, product:workflows

#17782 [API Shield] Endpoint Mgmt Labeling Service
  src/content/docs/api-shield/management-and-monitoring/api-routing/index.mdx
  src/content/docs/api-shield/management-and-monitoring/developer-portal.mdx
  src/content/docs/api-shield/management-and-monitoring/endpoint-labels.mdx
  src/content/docs/api-shield/management-and-monitoring/session-identifiers.mdx
Labels: product:api-shield, size/s

#17955 [Docs Site] Increase glossary rows added on "view more terms" click
  src/components/Glossary.astro
Labels: size/xs

#17972 [DNS] Clarify Foundation DNS availability
  src/content/docs/dns/foundation-dns/index.mdx
Labels: product:dns, size/xs

#17913 [DLP] Logpush third-party storage
  public/_redirects
  src/content/docs/cloudflare-one/policies/data-loss-prevention/datasets.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/logging-options.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/payload-logging.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/index.mdx
  src/content/docs/data-localization/how-to/zero-trust.mdx
  src/content/docs/reference-architecture/diagrams/security/securing-data-in-transit.mdx
Labels: product:cloudflare-one, product:data-localization, product:reference-architecture, size/m, sub-product:data-loss-prevention

#17928 fix #17187 docs
  src/content/partials/pages/web-analytics-setup.mdx
Labels: size/xs

#17899 Adding details for the source type for the Cloudflare Splunk app
  src/content/docs/logs/get-started/enable-destinations/splunk.mdx
Labels: product:logs, size/xs

#17967 Fix typo: replace chose with choose
  src/content/docs/workers/configuration/routing/index.mdx
Labels: product:workers, size/xs

#17685 [DO] Update environments.mdx
  src/content/docs/durable-objects/reference/environments.mdx
Labels: product:durable-objects, size/xs

#17300 Clarify that preview URLs cannot run on non workers.dev subdomains
  src/content/docs/workers/configuration/previews.mdx
Labels: product:workers, size/xs

#17975 [API Shield] remove Labeling section
  src/content/docs/api-shield/management-and-monitoring/endpoint-labels.mdx
Labels: product:api-shield, size/xs

#17939 [Workers] Add custom-domain limits to routing section
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, size/xs

#16988 Update workers release notes 2024-09-20
  src/content/changelogs/workers.yaml
Labels: size/xs

#17934 [Gateway] Update selector API names
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/network-policies/index.mdx
  src/content/partials/cloudflare-one/gateway/selectors/destination-ip.mdx
  src/content/partials/cloudflare-one/gateway/selectors/source-internal-ip.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#17816 Update custom-domains.mdx: dashboard UI changes
  src/content/docs/workers/configuration/routing/custom-domains.mdx
Labels: product:workers, size/xs

#17952 fix node:crypto API support
  src/content/docs/workers/runtime-apis/nodejs/crypto.mdx
Labels: product:workers, size/s

#17976 [Pages] Update debugging-pages.mdx
  src/content/docs/pages/configuration/debugging-pages.mdx
Labels: product:pages, size/xs

#17974 [DDoS Protection] Attack Vectors
  src/content/partials/ddos-protection/ddos-attack-coverage.mdx
Labels: size/xs

#17989 [CNI] Corrected speeds
  src/content/docs/network-interconnect/about.mdx
Labels: product:network-interconnect, size/xs

#17986 Add D&C as codeowners of Workers
  .github/CODEOWNERS
Labels: size/s

#17918 Clarifying CIDR block usage for Address Maps in MT w/ L7 guide
  src/content/docs/byoip/service-bindings/magic-transit-with-cdn.mdx
Labels: product:byoip, size/s

#17993 feat: [workflows] clarify when dynamic step names can be used
  src/content/docs/workflows/build/rules-of-workflows.mdx
Labels: size/s, product:workflows

#17999 [DLP] Third-party storage changelog entry
  src/content/changelogs/dlp.yaml
Labels: size/xs, sub-product:data-loss-prevention

#17983 [ZT] Update RubyGems cert procedure
  src/content/docs/cloudflare-one/connections/connect-devices/warp/user-side-certificates/manual-deployment.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#17998 [API Shield] Sequence Analytics wording update
  src/content/docs/api-shield/security/sequence-analytics.mdx
Labels: product:api-shield, size/xs

#17042 [ZT] DEX remote captures
  src/content/docs/cloudflare-one/account-limits.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/warp-logs.mdx
  src/content/docs/cloudflare-one/insights/dex/notifications.mdx
  src/content/docs/cloudflare-one/insights/dex/remote-captures.mdx
Labels: product:cloudflare-one, size/m

#17973 fix #17498
  src/content/docs/workers/configuration/environment-variables.mdx
  src/content/docs/workers/configuration/secrets.mdx
Labels: product:workers, size/s

#18013 [DLS] Adds Smart Placement to compatibility table.
  src/content/docs/data-localization/compatibility.mdx
Labels: product:data-localization, size/xs

#18012 [WAF] Update fields for custom detection locations
  src/content/docs/waf/detections/leaked-credentials/index.mdx
Labels: product:waf, size/xs

#18014 [Spectrum] Adds API token information.
  src/content/docs/spectrum/about/byoip.mdx
Labels: product:spectrum, size/xs

#18015 Update configuration-options.mdx
  src/content/docs/spectrum/reference/configuration-options.mdx
Labels: product:spectrum, size/xs

#18009 Update troubleshooting.mdx
  src/content/docs/hyperdrive/observability/troubleshooting.mdx
Labels: size/xs, product:hyperdrive

#17995 Add browser rendering faq
  src/content/docs/browser-rendering/changelog.mdx
  src/content/docs/browser-rendering/faq.mdx
  src/content/docs/browser-rendering/index.mdx
Labels: product:browser-rendering, size/s

#18016 [Email Security] Update redirect
  src/content/docs/cloudflare-one/email-security/index.mdx
  src/content/products/email-security.yaml
Labels: product:cloudflare-one, size/s

#17516 [WAF] Add exposed credentials check upgrade guide
  src/content/docs/waf/detections/leaked-credentials/get-started.mdx
  src/content/docs/waf/detections/leaked-credentials/index.mdx
  src/content/docs/waf/managed-rules/check-for-exposed-credentials/upgrade-to-leaked-credentials-detection.mdx
  src/content/docs/waf/reference/migration-guides/index.mdx
  src/content/partials/waf/leaked-credentials-detection-enable.mdx
  src/content/partials/waf/leaked-credentials-recommend-detection.mdx
Labels: product:waf, size/m

#17230 [workers] Update QR Code example
  src/content/docs/workers/tutorials/build-a-qr-code-generator/index.mdx
Labels: product:workers, size/s

#18021 [Ruleset Engine] Update description of raw fields
  src/content/docs/ruleset-engine/rules-language/fields/http-request-body.mdx
  src/content/docs/ruleset-engine/rules-language/fields/http-request-header.mdx
  src/content/docs/ruleset-engine/rules-language/fields/http-request-response.mdx
  src/content/docs/ruleset-engine/rules-language/fields/standard-fields.mdx
  src/content/docs/ruleset-engine/rules-language/fields/uri.mdx
  src/content/partials/ruleset-engine/raw-fields-definition-with-link.mdx
Labels: product:ruleset-engine, size/m

#18023 SPEED-1066: Revert "Update Speed Brain rejected response code from 503 to 406 (#18019)"
  src/content/docs/speed/optimization/content/speed-brain.mdx
Labels: size/xs, product:speed

#18017 [Area 1] Fix typo
  src/content/docs/email-security/deployment/api/setup/gsuite-bcc-setup/add-domain.mdx
Labels: size/xs, product:email-security

#17580 Fix direct upload docs to remove incorrect information about it's interactions with git integrated projects
  src/content/docs/pages/get-started/direct-upload.mdx
Labels: product:pages, size/xs

#17855 Workflows: Added pause and resume commands to manage Workflows and removed the delete command
  src/content/docs/workers/wrangler/commands.mdx
  src/content/docs/workflows/build/sleeping-and-retrying.mdx
  src/content/docs/workflows/build/trigger-workflows.mdx
  src/content/docs/workflows/get-started/guide.mdx
Labels: product:workers, size/s, product:workflows

#18036 [Analytics] Adds footnote about API token and key.
  src/content/docs/analytics/graphql-api/tutorials/end-customer-analytics.mdx
  src/content/docs/analytics/graphql-api/tutorials/querying-access-login-events.mdx
  src/content/docs/analytics/graphql-api/tutorials/querying-firewall-events.mdx
  src/content/docs/analytics/graphql-api/tutorials/querying-magic-firewall-ids-samples.mdx
  src/content/docs/analytics/graphql-api/tutorials/querying-magic-firewall-samples.mdx
  src/content/docs/analytics/graphql-api/tutorials/querying-workers-metrics.mdx
  src/content/partials/magic-transit/graphql/query-magic-transit-bandwidth-graphql.mdx
  src/content/partials/magic-transit/graphql/query-magic-transit-health-checks.mdx
Labels: product:analytics, size/s

#18041 thomasgauvin: add limit writes per second
  src/content/docs/kv/api/write-key-value-pairs.mdx
Labels: size/m, product:kv

#17591 VS-284: Update docs to include Vectorize queryById operation
  src/content/docs/vectorize/best-practices/query-vectors.mdx
  src/content/docs/vectorize/get-started/intro.mdx
  src/content/docs/vectorize/reference/client-api.mdx
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/s, product:vectorize

#17981 [AI Assistant] Updating Cursor's intro text
  src/pages/workers/ai.astro
Labels: size/xs

#18044 [Docs Site] Fix GitHubCode tag conditional
  src/components/GitHubCode.astro
Labels: size/xs

#17802 Docs for wrangler commands for listing, adding, removing, and updating R2 bucket custom domains
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, do-not-merge-yet, size/s

#18048 WC-2683 Document Worker Assets bindings, metadata
  src/content/docs/workers/configuration/multipart-upload-metadata.mdx
Labels: product:workers, size/s

#18045 [Security Center] RFI onboarding docs
  src/content/docs/security-center/cloudforce-one/index.mdx
Labels: product:security-center, size/s

#17954 [Cache] Changes to cache headers
  src/content/docs/cache/how-to/cache-keys.mdx
  src/content/docs/cache/how-to/cache-rules/settings.mdx
Labels: product:cache, size/s

#18038 [Cache] Updates versioning for cache
  src/content/docs/cache/how-to/cache-rules/index.mdx
  src/content/docs/cache/how-to/purge-cache/index.mdx
  src/content/docs/cache/how-to/purge-cache/purge-everything.mdx
  src/content/partials/version-management/product-limitations.mdx
Labels: product:cache, size/s

#18043 [Security Center] Update Investigate and Brand Protection docs
  src/content/docs/security-center/brand-protection.mdx
  src/content/docs/security-center/investigate/investigate-threats.mdx
Labels: product:security-center, size/s

#17900 Extracts compatibility-flags out of compatibility-dates
  .github/CODEOWNERS
  src/content/changelogs/queues.yaml
  src/content/changelogs/vectorize.yaml
  src/content/changelogs/workers.yaml
  src/content/compatibility-dates/new-url-parser-implementation.md
  src/content/docs/browser-rendering/get-started/browser-rendering-with-DO.mdx
  src/content/docs/browser-rendering/get-started/screenshots.mdx
  src/content/docs/durable-objects/api/webgpu.mdx
  src/content/docs/durable-objects/best-practices/create-durable-object-stubs-and-send-requests.mdx
  src/content/docs/queues/configuration/javascript-apis.mdx
  src/content/docs/workers/configuration/compatibility-dates.mdx
  src/content/docs/workers/configuration/compatibility-flags.mdx
  src/content/docs/workers/configuration/multipart-upload-metadata.mdx
  src/content/docs/workers/examples/websockets.mdx
  src/content/docs/workers/languages/python/packages/index.mdx
  src/content/docs/workers/languages/typescript/index.mdx
  src/content/docs/workers/platform/changelog/historical-changelog.mdx
  src/content/docs/workers/platform/changelog/index.mdx
  src/content/docs/workers/runtime-apis/fetch.mdx
  src/content/docs/workers/runtime-apis/nodejs/index.mdx
  src/content/docs/workers/runtime-apis/rpc/index.mdx
  src/content/docs/workers/runtime-apis/web-standards.mdx
  src/content/docs/workers/testing/vitest-integration/configuration.mdx
  src/content/docs/workers/testing/vitest-integration/isolation-and-concurrency.mdx
  src/content/partials/workers/nodejs-compat-howto.mdx
Labels: product:workers, product:queues, product:browser-rendering, product:durable-objects, size/m

#18051 Update inter-account-transfer.mdx
  src/content/docs/registrar/account-options/inter-account-transfer.mdx
Labels: product:registrar, size/s

#18050 [APO]Update speed-up-wordpress-and-improve-performance.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/speed-up-wordpress-and-improve-performance.mdx
Labels: size/xs, product:support

#18052 [Rules] Add Cloud Connector to landing, align product order with the dashboard
  src/content/docs/rules/index.mdx
Labels: product:rules, size/s

#18047 [Rules] Update dashboard instructions
  src/assets/images/rules/normalization/url-normalization-settings.png
  src/content/docs/firewall/troubleshooting/required-changes-to-enable-url-normalization.mdx
  src/content/docs/rules/normalization/examples.mdx
  src/content/docs/rules/normalization/how-it-works.mdx
  src/content/docs/rules/normalization/index.mdx
  src/content/docs/rules/normalization/manage.mdx
  src/content/docs/rules/normalization/settings.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-api.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-dashboard.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/how-it-works.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-api.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-dashboard.mdx
  src/content/docs/rules/url-forwarding/single-redirects/settings.mdx
  src/content/docs/rules/url-forwarding/single-redirects/terraform-example.mdx
Labels: product:firewall, product:rules, size/m

#18064 [LB] Updates simulate zone
  src/content/partials/load-balancing/monitor-settings-advanced.mdx
Labels: size/xs

#18065 [Cache] Adds Cache change log
  src/content/changelogs/cache.yaml
  src/content/docs/cache/changelog.mdx
Labels: product:cache, size/s

#18066 [Rules] Cloud Connector: clarify SSL to AWS S3
  src/content/docs/rules/cloud-connector/index.mdx
  src/content/docs/rules/cloud-connector/providers.mdx
Labels: product:rules, size/s

#18069 [D1] Get started: Adding a JS version of the TS code snippet.
  src/content/docs/d1/get-started.mdx
Labels: product:d1, size/xs

#18068 [WAF] Update example expressions for leaked credentials detection
  src/content/docs/waf/detections/leaked-credentials/get-started.mdx
Labels: product:waf, size/s

#18060 fixing format inter-account-transfer.mdx
  src/content/docs/registrar/account-options/inter-account-transfer.mdx
Labels: product:registrar, size/xs

#17958 Fixing typo
  src/content/docs/workers-ai/fine-tunes/loras.mdx
Labels: size/xs, product:workers-ai

#18039 [Aegis] Add concurrent connections and China availability
  src/content/docs/aegis/about/ips-allocation.mdx
Labels: size/s, product:aegis

#18026 Update security.mdx
  src/content/docs/reference-architecture/architectures/security.mdx
Labels: product:reference-architecture, size/xs

#18056 [Gateway] TLS version support
  src/content/docs/cloudflare-one/policies/gateway/http-policies/http3.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tls-decryption.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#17991 [Support] Update cannot-locate-dashboard-account.mdx
  src/content/docs/support/account-management-billing/cannot-locate-dashboard-account.mdx
Labels: size/xs, product:support

#18062 [ZT] Clarify Python cert install
  src/content/docs/cloudflare-one/connections/connect-devices/warp/user-side-certificates/manual-deployment.mdx
Labels: product:cloudflare-one, size/s

#18073 [Cache] Corrects encoding
  src/content/docs/cache/how-to/purge-cache/purge-by-tags.mdx
Labels: product:cache, size/xs

#18086 fix: add redirect for old cloudflared install page
  public/_redirects
Labels: size/xs

#17710 [Gateway] Client notifications early access and iOS version
  src/content/docs/cloudflare-one/policies/gateway/dns-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/network-policies/index.mdx
  src/content/partials/cloudflare-one/gateway/client-notifications.mdx
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/s

#18094 [D1] Deleting Get started repeated code.
  src/content/docs/d1/get-started.mdx
Labels: product:d1, size/xs

#18082 Fix typo in tutorial-template.mdx
  templates/tutorial-template.mdx
Labels: size/xs

#18080 Update settings.mdx
  src/content/docs/cache/how-to/cache-rules/settings.mdx
Labels: product:cache, size/xs

#18005 Update limits.mdx
  src/content/docs/ai-gateway/reference/limits.mdx
Labels: size/s, product:ai-gateway

#17905 Update code from service worker to module worker format
  src/content/docs/bots/concepts/bot-score/delay-action.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/domain-support/custom-metadata.mdx
  src/content/docs/cloudflare-one/tutorials/access-workers.mdx
  src/content/docs/images/manage-images/serve-images/serve-private-images.mdx
Labels: product:images, product:cloudflare-one, product:bots, product:cloudflare-for-platforms, size/m, DevRel

#18097 [SSL, SaaS] Explain cloudflare_branding for hostnames over 64 characters
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/domain-support/create-custom-hostnames.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/reference/troubleshooting.mdx
  src/content/docs/ssl/edge-certificates/advanced-certificate-manager/manage-certificates.mdx
  src/content/partials/ssl/total-tls-character-limitation.mdx
Labels: product:ssl, product:cloudflare-for-platforms, size/s

#17714 Update get-started.mdx
  src/content/docs/pages/functions/get-started.mdx
Labels: product:pages, size/xs

#17478 Add empty and null check for the vefctorQuery.matches[0], output nece…
  src/content/docs/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.mdx
Labels: size/s, product:workers-ai

#18101 Update logpush.mdx
  src/content/docs/ai-gateway/observability/logging/index.mdx
  src/content/docs/ai-gateway/observability/logging/logpush.mdx
  src/content/docs/ai-gateway/reference/pricing.mdx
Labels: size/s, product:ai-gateway

#18104 [ZT] Remove Teams dash reference
  src/content/notifications/index.yaml
Labels: size/xs

#17926 Added docs for cache: no-store
  src/content/compatibility-dates/cache-no-store.md
  src/content/docs/workers/examples/cache-using-fetch.mdx
  src/content/docs/workers/runtime-apis/fetch.mdx
  src/content/docs/workers/runtime-apis/request.mdx
Labels: product:workers, size/s

#18099 [DNS] Replace deprecated API with instructions for new option
  src/content/docs/dns/nameservers/custom-nameservers/account-custom-nameservers.mdx
  src/content/docs/dns/nameservers/custom-nameservers/tenant-custom-nameservers.mdx
Labels: product:dns, size/s

#18087 Update path kv-namespaces.mdx
  src/content/docs/kv/concepts/kv-namespaces.mdx
Labels: size/xs, product:kv

#18006 [Docs Site] various typescript improvements
  .github/workflows/ci.yml
  .prettierrc.mjs
  ec.config.mjs
  package-lock.json
  package.json
  plugins/rehype/heading-slugs.ts
  tailwind.config.mjs
  worker/index.ts
Labels: size/s

#18120 [Security Center] Fix wording on Brand Protection
  src/content/docs/security-center/brand-protection.mdx
Labels: product:security-center, size/xs

#18121 link to open a new tab
  src/content/docs/workers-ai/index.mdx
Labels: size/xs, product:workers-ai

#18122 [Area 1] Clarify Gmail BCC instructions
  src/content/docs/email-security/deployment/api/setup/gsuite-bcc-setup/bcc-rules-to-area1.mdx
Labels: size/s, product:email-security

#18109 [Workers for Platforms] Added changelog for Workers for Platforms
  src/content/changelogs/workers-for-platforms.yaml
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/platform/changelog.mdx
Labels: product:cloudflare-for-platforms, size/s

#18124 [MWAN] Added more detail for NAT
  src/content/docs/magic-wan/configuration/connector/network-options/nat-subnet.mdx
Labels: size/xs, product:magic-wan

#18127 [Workers for Platforms] Quick fix to incorrect path
  src/content/changelogs/workers-for-platforms.yaml
Labels: size/xs

#18053 [DNS] Review set-up-cname-flattening and add per-record Dash option
  src/content/docs/dns/cname-flattening/index.mdx
  src/content/docs/dns/cname-flattening/set-up-cname-flattening.mdx
  src/content/partials/dns/cname-flattening-callout.mdx
Labels: product:dns, size/s

#18114 [Gateway] Refine TLS decryption
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tls-decryption.mdx
Labels: product:cloudflare-one, size/xs

#18081 [ZT] Clarify seat management
  src/content/docs/cloudflare-one/identity/users/seat-management.mdx
Labels: product:cloudflare-one, size/s

#18130 [Images]Update speed-up-wordpress-and-improve-performance.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/speed-up-wordpress-and-improve-performance.mdx
Labels: size/xs, product:support

#18132 [ZT] Tunnel edge-ip-version default value
  src/content/docs/cloudflare-one/connections/connect-networks/configure-tunnels/tunnel-run-parameters.mdx
Labels: product:cloudflare-one, size/xs

#18131 [Images] Added changelog
  src/content/changelogs/images.yaml
  src/content/docs/images/platform/changelog.mdx
  src/content/docs/images/platform/index.mdx
Labels: product:images, size/s

#18058 WC-2683 Provide documentation for asset upload
  src/content/docs/workers/static-assets/direct-upload.mdx
Labels: product:workers, size/m

#18134 [API Shield] Update session identifier type note
  src/content/partials/api-shield/set-up-session-identifiers.mdx
Labels: size/xs

#18143 [Ruleset Engine] Use Types component in functions reference
  src/content/docs/ruleset-engine/rules-language/functions.mdx
Labels: product:ruleset-engine, size/s

#18144 [Rules] Update link
  src/content/docs/rules/transform/index.mdx
Labels: product:rules, size/xs

#18145 [D1] Adding information on how wrangler.toml is structured behind the scenes.
  src/content/docs/d1/configuration/environments.mdx
Labels: product:d1, size/s

#17606 Add Fleet as a method to deploy Cloudflare WARP client
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/fleet.mdx
Labels: product:cloudflare-one, size/m

#18002 [AIG]fixes from feedback
  src/content/docs/ai-gateway/evaluations/index.mdx
  src/content/docs/ai-gateway/get-started.mdx
  src/content/docs/ai-gateway/observability/index.mdx
  src/content/docs/ai-gateway/providers/anthropic.mdx
  src/content/docs/ai-gateway/providers/azureopenai.mdx
  src/content/docs/ai-gateway/providers/bedrock.mdx
  src/content/docs/ai-gateway/providers/cohere.mdx
  src/content/docs/ai-gateway/providers/google-ai-studio.mdx
  src/content/docs/ai-gateway/providers/grok.mdx
  src/content/docs/ai-gateway/providers/groq.mdx
  src/content/docs/ai-gateway/providers/huggingface.mdx
  src/content/docs/ai-gateway/providers/index.mdx
  src/content/docs/ai-gateway/providers/mistral.mdx
  src/content/docs/ai-gateway/providers/openai.mdx
  src/content/docs/ai-gateway/providers/perplexity.mdx
  src/content/docs/ai-gateway/providers/replicate.mdx
  src/content/docs/ai-gateway/providers/universal.mdx
  src/content/docs/ai-gateway/providers/vertex.mdx
  src/content/docs/ai-gateway/providers/workersai.mdx
Labels: size/s, product:ai-gateway

#18148 [API Shield] Add endpoint labeling service changelog entry
  src/content/changelogs/api-shield.yaml
Labels: size/xs

#18150 [Cache] Updates encoding
  src/content/docs/cache/how-to/purge-cache/purge-by-tags.mdx
Labels: product:cache, size/xs

#18149 Add docs for Vectorize $in and $nin
  src/content/changelogs/vectorize.yaml
  src/content/docs/vectorize/reference/metadata-filtering.mdx
Labels: size/s, product:vectorize

#18152 [IAM] update super admin role title
  src/content/changelogs/api-shield.yaml
  src/content/docs/fundamentals/setup/manage-members/roles.mdx
Labels: size/xs, product:fundamentals

#18154 Remove unsupported backticks from changelog title
  src/content/changelogs/vectorize.yaml
Labels: size/xs

#18159 [ZT] Refresh JumpCloud IdP
  src/assets/images/cloudflare-one/identity/jumpcloud/jumpcloud-saml-2.png
  src/content/docs/cloudflare-one/identity/idp-integration/jumpcloud-saml.mdx
Labels: product:cloudflare-one, size/s

#18161 [IAM] Update dash SCIM docs with new API token role
  src/content/docs/fundamentals/setup/account/account-security/scim-setup.mdx
  src/content/partials/fundamentals/create-token.mdx
Labels: size/s, product:fundamentals

#18123 [DNS] Add AWS Amplify to vendor-specific-records
  src/content/docs/dns/manage-dns-records/reference/vendor-specific-records.mdx
Labels: product:dns, size/s

#18151 [Docs Site] Fix anchor link headings
  plugins/rehype/heading-slugs.ts
Labels: size/xs

#18142 [Hyperdrive] Adding a proper FAQ page
  src/content/docs/hyperdrive/platform/limits.mdx
  src/content/docs/hyperdrive/platform/pricing.mdx
  src/content/docs/hyperdrive/reference/faq.mdx
  src/content/docs/hyperdrive/reference/wrangler-commands.mdx
Labels: size/s, product:hyperdrive

#18169 [D1] Adding a line to refer index to FAQs regarding index.
  src/content/docs/d1/build-with-d1/use-indexes.mdx
Labels: product:d1, size/xs

#18171 Update zaraz.yaml
  src/content/changelogs/zaraz.yaml
Labels: size/s

#18168 Zaraz Monitoring API
  src/content/docs/zaraz/monitoring/index.mdx
  src/content/docs/zaraz/monitoring/monitoring-api.mdx
Labels: size/m, product:zaraz

#18172 [Fundamentals] Adds information about HTTP methods
  src/content/docs/fundamentals/concepts/how-cloudflare-works.mdx
Labels: size/xs, product:fundamentals

#17819 Workflows: NonRetryableErrors Section Improvement
  src/content/docs/workflows/build/sleeping-and-retrying.mdx
Labels: size/s, product:workflows

#17936 [ZT] Terraform examples (device enrollment, infra access)
  src/content/partials/cloudflare-one/access/add-infrastructure-app.mdx
  src/content/partials/cloudflare-one/access/add-target.mdx
  src/content/partials/cloudflare-one/access/create-service-token.mdx
  src/content/partials/cloudflare-one/warp/device-enrollment-mtls.mdx
  src/content/partials/cloudflare-one/warp/device-enrollment.mdx
  src/content/partials/cloudflare-one/warp/service-token-enrollment.mdx
Labels: size/m

#18174 Adds security analytics and security events changelog
  src/content/changelogs/waf-general.yaml
Labels: size/s

#18139 Update code from service worker to module worker format
  src/content/docs/automatic-platform-optimization/reference/subdomain-subdirectories.mdx
  src/content/docs/images/transform-images/control-origin-access.mdx
  src/content/docs/pages/how-to/refactor-a-worker-to-pages-functions.mdx
  src/content/docs/ssl/client-certificates/configure-your-mobile-app-or-iot-device.mdx
  src/content/docs/stream/viewing-videos/securing-your-stream.mdx
  src/content/docs/waiting-room/how-to/json-response.mdx
  src/content/docs/workers/reference/how-the-cache-works.mdx
Labels: product:workers, product:stream, product:images, product:pages, product:ssl, product:waiting-room, size/l, product:automatic-platform-optimization
