Repository cloudflare/cloudflare-docs, pull requests merged in 2024-04, with the labels that each got.

#13671 Revert "Revert "[D1] Add new example to use D1 with Prisma ORM (#13618)""
  content/d1/reference/community-projects.md
  content/d1/tutorials/d1-and-prisma-orm/index.md
Labels: product:d1, size/m

#13714 hyperdrive: available, but generally?
  content/hyperdrive/platform/pricing.md
  data/changelogs/hyperdrive.yaml
Labels: size/s, product:hyperdrive

#13711 Update Codeowners for Workers Analytics Engine
  .github/CODEOWNERS
Labels: size/xs

#13681 [Various products] Add customized LC links per page
  content/r2/data-migration/_index.md
  content/r2/data-migration/sippy.md
  content/r2/data-migration/super-slurper.md
  content/registrar/top-level-domains/_index.md
  content/registrar/top-level-domains/uk-domains.md
  content/registrar/top-level-domains/us-domains.md
  content/speed/optimization/content/auto-minify.md
  content/speed/optimization/images/mirage.md
  content/stream/stream-live/_index.md
  content/stream/stream-live/custom-domains.md
  content/stream/stream-live/download-stream-live-videos.md
  content/stream/stream-live/replay-recordings.md
  content/stream/stream-live/simulcasting.md
  content/stream/stream-live/start-stream-live.md
  content/stream/stream-live/watch-live-stream.md
  content/stream/stream-live/webhooks.md
  data/images.yml
  data/r2.yml
Labels: product:stream, product:registrar, product:r2, size/s, product:speed

#13715 [Chore] Removed unused images (april)
  assets/images/calls/calls-inside.png
  assets/images/cloudflare-one/policies/how-rbi-works.png
  assets/images/support/cloudflare_app_preview_example_1.png
  assets/images/support/cloudflare_app_preview_example_2.png
Labels: size/xs

#13664 [Cache] Clarify Serve stale content while revalidating
  content/cache/how-to/cache-rules/settings.md
Labels: product:cache, size/xs

#13716 [Browser Rendering] Remove waiting list
  content/browser-rendering/_index.md
  content/browser-rendering/get-started/reuse-sessions.md
  content/browser-rendering/platform/limits.md
  content/browser-rendering/platform/puppeteer.md
  content/browser-rendering/platform/wrangler.md
Labels: product:browser-rendering, size/s

#13694 [ZT] Deprioritize managed networks Python example
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.md
Labels: product:cloudflare-one, size/s

#13709 d1: Update account limit for paid
  content/d1/platform/limits.md
Labels: product:d1, size/xs

#13708 d1: foreign keys docs
  content/_redirects
  content/d1/build-with-d1/d1-client-api.md
  content/d1/build-with-d1/foreign-keys.md
  content/d1/build-with-d1/import-data.md
  content/d1/build-with-d1/local-development.md
  content/d1/build-with-d1/query-json.md
  content/d1/build-with-d1/remote-development.md
  content/d1/build-with-d1/use-d1-from-pages.md
  content/d1/build-with-d1/use-indexes.md
  content/d1/reference/database-commands.md
  content/d1/reference/generated-columns.md
  content/d1/reference/migrations.md
  content/d1/tutorials/d1-and-prisma-orm/index.md
  content/pages/functions/bindings.md
  data/changelogs/d1.yaml
Labels: product:pages, product:d1, size/m, product:_redirects

#13455 [Workers] Update wrangler docs for Changes to Hyperdrive commands
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#13566 [Pages] Update type argument in c3 usage docs
  content/pages/get-started/c3.md
Labels: product:pages, size/xs

#13703 Link to /request in fetch API docs
  content/workers/runtime-apis/handlers/fetch.md
Labels: product:workers, size/xs

#13719 d1: Update foreign-keys.md
  content/d1/build-with-d1/foreign-keys.md
Labels: product:d1, size/xs

#13368 [ZT] Update WARP .msi and .pkg names
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/_index.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/hexnode.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/intune.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/jamf.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/jumpcloud.md
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/kandji.md
  content/warp-client/get-started/_index.md
Labels: product:warp-client, product:cloudflare-one, do-not-merge-yet, size/s

#13712 Update Workers Analytics Engine docs
  content/analytics/analytics-engine/_index.md
  content/analytics/analytics-engine/get-started.md
  content/analytics/analytics-engine/limits.md
  content/analytics/analytics-engine/pricing.md
  content/analytics/analytics-engine/recipes/_index.md
  content/analytics/analytics-engine/recipes/usage-based-billing-for-your-saas-product.md
  content/analytics/analytics-engine/sampling.md
  content/analytics/analytics-engine/sql-api.md
Labels: product:analytics, size/m

#13718 Workers AI developer week docs update
  content/_redirects
  content/pages/functions/bindings.md
  content/vectorize/get-started/embeddings.md
  content/workers-ai/_index.md
  content/workers-ai/_partials/_file_issues.md
  content/workers-ai/_partials/_npm-update.md
  content/workers-ai/configuration/bindings.md
  content/workers-ai/configuration/rest-api.md
  content/workers-ai/configuration/workers-ai-sdk.md
  content/workers-ai/fine-tunes/_index.md
  content/workers-ai/fine-tunes/loras.md
  content/workers-ai/get-started/rest-api.md
  content/workers-ai/get-started/workers-wrangler.md
  content/workers-ai/platform/limits.md
  content/workers-ai/platform/pricing.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
  content/workers-ai/tutorials/explore-code-generation-using-deepseek-coder-models.md
  content/workers-ai/tutorials/how-to-choose-the-right-text-generation-model.md
  content/workers-ai/tutorials/storage-options.md
Labels: product:pages, size/l, product:_redirects, product:workers-ai, product:vectorize

#13721 Aig docs devweek
  content/ai-gateway/_partials/_anthropic.md
  content/ai-gateway/_partials/_perplexity.md
  content/ai-gateway/_partials/_vertex.md
  content/ai-gateway/get-started/connecting-applications.md
  content/ai-gateway/providers/anthropic.md
  content/ai-gateway/providers/azureopenai.md
  content/ai-gateway/providers/bedrock.md
  content/ai-gateway/providers/huggingface.md
  content/ai-gateway/providers/openai.md
  content/ai-gateway/providers/perplexity.md
  content/ai-gateway/providers/replicate.md
  content/ai-gateway/providers/universal.md
  content/ai-gateway/providers/vertex.md
  content/ai-gateway/providers/workersai.md
  data/changelogs/ai-gateway.yaml
Labels: size/m, product:ai-gateway

#13669 Update Brave DoH guide
  content/1.1.1.1/encryption/dns-over-https/encrypted-dns-browsers.md
Labels: product:1.1.1.1, size/xs

#13736 Revert "Update workers ai docs to use the new AI binding interface"
  content/_redirects
  content/pages/functions/bindings.md
  content/vectorize/get-started/embeddings.md
  content/workers-ai/_partials/_npm-update.md
  content/workers-ai/configuration/bindings.md
  content/workers-ai/configuration/workers-ai-sdk.md
  content/workers-ai/get-started/workers-wrangler.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
Labels: product:pages, size/m, product:_redirects, product:workers-ai, product:vectorize

#13732 [Workers AI] Adds AutoTrain tutorial
  content/workers-ai/fine-tunes/loras.md
  content/workers-ai/tutorials/fine-tune-models-with-autotrain.md
Labels: size/m, product:workers-ai

#12887 Python Workers Documentation
  assets/images/workers/languages/python/python-workers-deployment.png
  content/_redirects
  content/email-routing/email-workers/_index.md
  content/workers/_partials/_python-workers-beta-packages.md
  content/workers/languages/_index.md
  content/workers/languages/javascript.md
  content/workers/languages/python/_index.md
  content/workers/languages/python/ffi.md
  content/workers/languages/python/how-python-workers-work.md
  content/workers/languages/python/packages/_index.md
  content/workers/languages/python/packages/fastapi.md
  content/workers/languages/python/packages/langchain.md
  content/workers/languages/python/stdlib.md
  content/workers/languages/rust/_index.md
  content/workers/languages/rust/crates.md
  content/workers/languages/typescript.md
  content/workers/reference/languages.md
  content/workers/runtime-apis/webassembly/_index.md
  content/workers/runtime-apis/webassembly/javascript.md
Labels: product:workers, product:email-routing, size/l, product:_redirects

#13354 [Hyperdrive] Update connect-to-postgres.md
  content/hyperdrive/configuration/connect-to-postgres.md
Labels: size/s, product:hyperdrive

#13689 queues: update title to include delays
  content/queues/reference/batching-retries.md
Labels: product:queues, size/xs

#13739 wae: Update get-started.md
  content/analytics/analytics-engine/get-started.md
Labels: product:analytics, size/xs

#13740 [Workers AI] Change model name
  content/workers-ai/models/mistral-7b-instruct-v0.2.md
Labels: size/xs, product:workers-ai

#13688 [QUEUES] Add more links to REST API
  content/queues/reference/pull-consumers.md
Labels: product:queues, size/s

#13508 vectorize: link to RAG architecture
  content/vectorize/examples/rag.md
Labels: size/xs, product:vectorize

#13735 [Docs Site] Fix mixed-case + spaces in Tab Switcher labels
  assets/events.ts
  layouts/shortcodes/tabs.html
Labels: size/xs

#13750 [D1] Add python example
  content/d1/examples/d1-and-hono.md
  content/d1/examples/d1-and-remix.md
  content/d1/examples/d1-and-sveltekit.md
  content/d1/examples/query-d1-from-python-workers.md
Labels: product:d1, size/m

#13751 d1: Update query-d1-from-python-workers.md
  content/d1/examples/query-d1-from-python-workers.md
Labels: product:d1, size/xs

#13741 queues: improve types in tutorial
  content/queues/get-started.md
Labels: product:queues, size/xs

#13748 Workers AI — Add playground link to text generation models
  layouts/partials/models/header.md
Labels: size/xs

#13406 Update _forward-client-certificate.md
  content/ssl/_partials/_forward-client-certificate.md
Labels: product:ssl, size/xs

#13755 Update query-d1-from-python-workers.md
  content/d1/examples/query-d1-from-python-workers.md
Labels: product:d1, size/xs

#13757 Release-Apr-02-2024: Announcing 10 rules.
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#13764 Workers AI — Add Playground link to Navigation
  content/workers-ai/playground.md
Labels: size/xs, product:workers-ai

#13753 Name index.py as hello.py and entry.py in the code examples for python workers
  content/workers/languages/python/_index.md
Labels: product:workers, size/s

#13634 [Durable Objects] Update Durable Obejcts WebSocket request accounting
  content/durable-objects/platform/changelog.md
  content/durable-objects/platform/pricing.md
  content/durable-objects/reference/graphql-analytics.md
  content/workers/_partials/_durable_objects_pricing.md
  data/changelogs/durable-objects.yaml
Labels: product:workers, product:durable-objects, size/s

#13701 Added docs for GCS migration source
  content/r2/data-migration/super-slurper.md
Labels: do-not-merge-yet, product:r2, size/s

#13729 [Docs] Update community-resources.md
  content/turnstile/community-resources.md
Labels: size/xs, product:turnstile

#13737 Update client-side-rendering.md
  content/turnstile/get-started/client-side-rendering.md
Labels: size/xs, product:turnstile

#13731 sdks: add curl vs SDK examples
  content/fundamentals/api/how-to/make-api-calls.md
  content/fundamentals/api/reference/sdks.md
  content/fundamentals/basic-tasks/interact-with-cloudflare.md
Labels: size/s, product:fundamentals

#13730 Added docs for event notifications
  content/queues/tutorials/upload-logs-event-notifications.md
  content/r2/buckets/event-notifications.md
  content/r2/examples/upload-logs-event-notifications.md
  content/workers/wrangler/commands.md
Labels: product:workers, do-not-merge-yet, product:r2, product:queues, size/m

#13752 [Workers] tcp clarification
  content/workers/reference/protocols.md
  content/workers/runtime-apis/tcp-sockets.md
Labels: product:workers, size/xs

#13777 [DLS] Reorgs DLS docs and add limits page
  content/data-localization/_index.md
  content/data-localization/compatibility.md
  content/data-localization/how-to/_index.md
  content/data-localization/how-to/pages.md
  content/data-localization/how-to/zero-trust.md
  content/data-localization/key-management/_index.md
  content/data-localization/limitations.md
  content/data-localization/metadata-boundary/_index.md
  content/data-localization/metadata-boundary/logpush-datasets.md
  content/data-localization/region-support.md
  content/data-localization/regional-services/_index.md
Labels: product:data-localization, size/m

#13781 Revert "[Docs Site] Fix mixed-case + spaces in Tab Switcher labels"
  assets/events.ts
  layouts/shortcodes/tabs.html
Labels: size/xs

#13763 [Hyperdrive] Update get-started.md
  content/hyperdrive/configuration/connect-to-postgres.md
  content/hyperdrive/get-started.md
Labels: size/s, product:hyperdrive

#13784 [DNS, SSL] API tabs, remove aside, and adjust wording
  content/dns/dns-firewall/setup.md
  content/dns/manage-dns-records/how-to/import-and-export.md
  content/dns/zone-setups/troubleshooting/delete-all-records.md
  content/dns/zone-setups/zone-transfers/access-control-lists/create-new-list.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/proxy-traffic.md
  content/ssl/client-certificates/_index.md
  content/ssl/client-certificates/configure-your-mobile-app-or-iot-device.md
  content/ssl/client-certificates/enable-mtls.md
Labels: product:ssl, product:dns, size/m

#13783 hyperdrive: Update connect-to-postgres.md
  content/hyperdrive/configuration/connect-to-postgres.md
Labels: size/xs, product:hyperdrive

#13774 Small update to Magic analytics documentation for Garter SASE review
  content/magic-transit/analytics/_index.md
  content/magic-wan/_partials/_network-analytics.md
  content/magic-wan/analytics/_index.md
Labels: size/s, product:magic-transit, product:magic-wan

#13788 [Tenant] Add KYC params for account creation
  content/tenant/_partials/_create-account-api.md
Labels: product:tenant, size/s

#13287 [Bots] MLv8
  content/bots/reference/machine-learning-models.md
Labels: product:bots, size/xs, pcx_team_review

#13416 [Bots] JA4 fingerprint
  content/_redirects
  content/bots/_partials/_about-plan-bm-subscription.md
  content/bots/_partials/_bot-analytics-traffic-characteristics.md
  content/bots/_partials/_firewall-variables.md
  content/bots/_partials/_ja3-fingerprint.md
  content/bots/_partials/_ja4-fingerprint.md
  content/bots/concepts/feedback-loop.md
  content/bots/concepts/ja3-ja4-fingerprint.md
  content/bots/reference/bot-management-skips.md
  content/rules/transform/managed-transforms/reference.md
  content/ruleset-engine/rules-language/fields.md
  content/waf/custom-rules/use-cases/challenge-bad-bots.md
  content/waf/rate-limiting-rules/best-practices.md
  content/waf/rate-limiting-rules/find-rate-limit.md
Labels: product:bots, product:rules, product:waf, product:ruleset-engine, size/s, product:_redirects

#13691 [Bots] Delay action template
  content/bots/concepts/bot-score/_index.md
  content/bots/concepts/bot-score/delay-action.md
Labels: product:bots, do-not-merge-yet, size/s

#13793 Workers LP typo
  content/learning-paths/workers/concepts/workers-concepts.md
Labels: size/xs, product:learning-paths

#13791 [Bots] Account takeover updates
  content/bots/plans/biz-and-ent.md
  content/bots/plans/pro.md
Labels: product:bots, size/xs

#13656 [Bots] Signals Intelligence
  content/bots/concepts/signals-intelligence.md
Labels: product:bots, do-not-merge-yet, size/s

#13619 Update purge-by-single-file.md
  content/cache/how-to/purge-cache/purge-by-single-file.md
Labels: product:cache, size/xs

#13792 queues: link to event notifications
  content/queues/reference/event-notifications.md
Labels: product:queues, size/xs

#13789 hyperdrive: improve driver examples
  content/hyperdrive/configuration/connect-to-postgres.md
Labels: size/s, product:hyperdrive

#13564 [Durable Objects] Add documentation for gradual deployments for Durable Objects.
  assets/images/workers/platform/versions-and-deployments/durable-objects.png
  content/durable-objects/configuration/durable-object-gradual-deployments.md
  content/durable-objects/platform/known-issues.md
  content/workers/configuration/versions-and-deployments/gradual-deployments.md
Labels: product:workers, product:durable-objects, size/s

#13761 Publishing "Access to private apps without having to deploy client agents"
  assets/images/reference-architecture/sase-clientless-access-private-dns/diagram1.svg
  content/cloudflare-one/connections/connect-networks/private-net/warp-connector.md
  content/reference-architecture/diagrams/sase/_index.md
  content/reference-architecture/diagrams/sase/sase-clientless-access-private-dns.md
Labels: product:cloudflare-one, product:reference-architecture, size/m

#13794 [Calls] Update diagrams
  assets/images/calls/calls-architecture.png
  assets/images/calls/calls-timeline.png
  assets/images/calls/lifecycle-of-a-session.png
  assets/images/calls/video-calling-application.png
  content/calls/example-architecture.md
  content/calls/https-api.md
Labels: size/xs, product:calls

#13768 [Workers] Gradual Deployments edits
  content/workers/configuration/versions-and-deployments/_index.md
  content/workers/configuration/versions-and-deployments/gradual-deployments.md
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#13801 Edits to JSRPC API docs
  content/workers/runtime-apis/rpc/compatible-types.md
  content/workers/runtime-apis/rpc/lifecycle.md
  content/workers/runtime-apis/rpc/reserved-methods.md
Labels: product:workers, size/m

#13725 [Workers] Update workers.yaml
  content/workers/_partials/_platform-compatibility-dates/unwrap_custom_thenables.md
  data/changelogs/workers.yaml
Labels: product:workers, size/s

#13799 [Bots] JS detections on security insights
  content/security-center/security-insights/_index.md
Labels: product:security-center, size/xs

#13804 [Gateway] Expand cipher table suite
  content/cloudflare-one/policies/gateway/http-policies/tls-decryption.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#13808 More RPC doc tweaks: Move stuff around!
  content/workers/runtime-apis/rpc/_index.md
  content/workers/runtime-apis/rpc/compatible-types.md
  content/workers/runtime-apis/rpc/lifecycle.md
Labels: product:workers, size/m

#13726 Document cross-account repo usage error
  content/pages/configuration/git-integration.md
Labels: product:pages, size/s

#13800 workers: python examples
  content/workers/languages/python/examples.md
  content/workers/languages/python/ffi.md
  content/workers/languages/python/how-python-workers-work.md
Labels: product:workers, size/m

#13684 [DRAFT][Workers] Document Brotli compatibility flag, Fetch API compression and passthrough support
  content/workers/_partials/_platform-compatibility-dates/brotli-content-encoding.md
  content/workers/runtime-apis/fetch.md
  data/changelogs/workers.yaml
Labels: product:workers, size/s

#13693 Create monorepos.md
  assets/images/pages/configuration/ghcheckrun.png
  assets/images/pages/configuration/glcommitstatus.png
  assets/images/pages/configuration/pages-path.png
  content/pages/configuration/branch-build-controls.md
  content/pages/configuration/build-watch-paths.md
  content/pages/configuration/git-integration.md
  content/pages/configuration/monorepos.md
  content/pages/platform/known-issues.md
Labels: product:pages, size/m

#13723 service token example update
  content/cloudflare-one/identity/service-tokens.md
Labels: product:cloudflare-one, size/s

#13812 Python: fix typo in example
  content/workers/languages/python/examples.md
Labels: product:workers, size/xs

#13770 Fix cd: no such file or directory: 01-hello
  content/workers/languages/python/_index.md
Labels: product:workers, size/xs

#13553 Document the newly available Node.js MockTracker api
  content/workers/runtime-apis/nodejs/test.md
Labels: product:workers, size/s

#13411 Document the unwrap_custom_thenables compat flag
  content/workers/_partials/_platform-compatibility-dates/unwrap-custom-thenables.md
Labels: product:workers, size/s

#13581 [Workers] Remove Cache API per-request storage limit
  content/workers/platform/limits.md
Labels: product:workers, size/s

#13811 [Stream] SHIP-8670
  content/stream/edit-videos/video-clipping.md
  content/stream/stream-live/live-instant-clipping.md
Labels: product:stream, size/m

#13825 [WAF] Update max rate limiting complexity score
  content/waf/rate-limiting-rules/request-rate.md
Labels: product:waf, size/xs

#13826 [WAF] Update migration deadlines
  content/waf/reference/migration-guides/firewall-rules-to-custom-rules.md
  content/waf/reference/migration-guides/old-rate-limiting-deprecation.md
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
Labels: product:waf, size/s

#13747 [D1] Making minor changes to FK docs
  content/d1/build-with-d1/foreign-keys.md
Labels: product:d1, size/s

#13821 Rate Limiting API docs
  content/workers/runtime-apis/bindings/rate-limit.md
Labels: product:workers, size/s

#13815 [Workers] Source Map beta
  content/workers/observability/logging/real-time-logs.md
  content/workers/observability/logging/tail-workers.md
  content/workers/observability/source-maps.md
  content/workers/wrangler/configuration.md
Labels: product:workers, size/s

#13830 [Workers] Source maps wrangler version update
  content/workers/observability/source-maps.md
Labels: product:workers, size/xs

#13822 Update _index.md
  content/workers/languages/python/packages/_index.md
Labels: product:workers, size/xs

#13831 Fix typo in email-routing/limits.md
  content/email-routing/limits.md
Labels: product:email-routing, size/xs

#13828 Fix typo in introduction
  content/workers/testing/vitest-integration/get-started/write-your-first-test.md
Labels: product:workers, size/xs

#13835 workers: add more to rate limits
  content/workers/runtime-apis/bindings/rate-limit.md
Labels: product:workers, size/s

#13803 Update workers changelog and cache API limits.
  data/changelogs/workers.yaml
Labels: size/xs

#13840 More more JSRPC doc tweaks
  content/_redirects
  content/pages/functions/bindings.md
  content/workers/_partials/_platform-compatibility-dates/fetcher-no-get-put-delete.md
  content/workers/_partials/_platform-compatibility-dates/rpc.md
  content/workers/configuration/bindings/_index.md
  content/workers/configuration/integrations/_index.md
  content/workers/configuration/routing/custom-domains.md
  content/workers/configuration/versions-and-deployments/_index.md
  content/workers/platform/limits.md
  content/workers/platform/pricing.md
  content/workers/runtime-apis/fetch.md
  content/workers/testing/vitest-integration/configuration.md
  content/workers/wrangler/configuration.md
Labels: product:workers, product:pages, size/s, product:_redirects

#13836 [Workers] Fix example for version metadata binding
  content/workers/runtime-apis/bindings/version-metadata.md
Labels: product:workers, size/s

#13827 PCX-10334 - newly added reference arch diagram - serverless image con…
  assets/images/reference-architecture/serverless_image_content_management/diagram.svg
  content/reference-architecture/diagrams/serverless/_index.md
  content/reference-architecture/diagrams/serverless/serverless-image-content-management.md
Labels: product:reference-architecture, size/m

#13841 [ZT] Fix broken external link
  content/cloudflare-one/connections/connect-devices/warp/download-warp/_index.md
Labels: product:cloudflare-one, size/xs

#13819 Need to add github.com to "Tunnel with firewall" allowlist
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/tunnel-with-firewall.md
Labels: product:cloudflare-one, size/xs

#13652 [Notifications] ServiceNow webhooks
  content/notifications/get-started/configure-webhooks.md
Labels: size/xs, product:notifications

#13847 [Workers] update paths for triggers in dash in multiple files
  content/workers/configuration/cron-triggers/index.md
  content/workers/configuration/routing/custom-domains.md
  content/workers/configuration/routing/routes.md
Labels: product:workers, size/xs

#13844 (Calls) Open beta
  .github/CODEOWNERS
  content/calls/_index.md
  content/calls/sessions-tracks.md
  content/calls/turn.md
Labels: size/s, product:calls

#13850 [Bots] signals intelligence fields update
  content/bots/_partials/_ja4-fingerprint.md
  content/bots/concepts/ja3-ja4-fingerprint.md
  content/bots/concepts/signals-intelligence.md
Labels: product:bots, size/s

#13786 [R2] Describe migrator pricing
  content/r2/pricing.md
Labels: product:r2, size/s

#13658 [ZT] Update WARP MDM examples
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/switch-organizations.md
  content/cloudflare-one/static/mdm/CloudflareWARP.mobileconfig
  content/cloudflare-one/static/mdm/com.cloudflare.warp.plist
  content/cloudflare-one/static/mdm/multiple-orgs/CloudflareWARP.mobileconfig
  content/cloudflare-one/static/mdm/multiple-orgs/com.cloudflare.warp.plist
Labels: product:cloudflare-one, size/m

#13852 Update serverless-image-content-management.md
  content/reference-architecture/diagrams/serverless/serverless-image-content-management.md
Labels: product:reference-architecture, size/xs

#13851 [Gateway/Security Center] Update domain categorization
  content/cloudflare-one/policies/gateway/domain-categories.md
  content/security-center/investigate/change-categorization.md
Labels: sub-product:gateway, product:cloudflare-one, product:security-center, size/s

#13856 [Wrangler] update pages deploy command to reflect BUILD_OUTPUT_DIRECTORY is optional with wrangler.toml
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#13809 Add Baselime integration docs
  content/workers/observability/baselime-integration.md
Labels: product:workers, size/s

#13700 Clarify v8 info in web standards section
  content/workers/runtime-apis/web-standards.md
Labels: product:workers, size/xs

#13838 Fix rate limit typo
  content/workers/runtime-apis/bindings/rate-limit.md
Labels: product:workers, size/xs

#13797 (Calls) Clarify HTTP API
  content/calls/https-api.md
Labels: size/xs, product:calls

#13863 Clarify RPC unsupported errors
  content/workers/runtime-apis/rpc/error-handling.md
Labels: product:workers, size/xs

#13865 Fix some redirects
  content/durable-objects/best-practices/create-durable-object-stubs-and-send-requests.md
Labels: product:durable-objects, size/xs

#13853 [Cache/CDN] fix typo in `cache-everything-ignore-query-strings.md`
  content/cache/troubleshooting/cache-everything-ignore-query-strings.md
Labels: product:cache, size/xs

#13845 [Chore] Fix broken anchor links
  content/analytics/analytics-engine/pricing.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/metadata.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/outbound-workers.md
  content/cloudflare-one/_partials/access/_self-hosted-settings.md
  content/cloudflare-one/policies/data-loss-prevention/datasets.md
  content/learning-paths/zero-trust-web-access/initial-setup/add-site.md
  content/learning-paths/zero-trust-web-access/migrate-applications/best-practices.md
  content/learning-paths/zero-trust-web-access/migrate-applications/integrated-sso.md
  content/load-balancing/troubleshooting/load-balancing-faq.md
  content/pages/functions/bindings.md
  content/pages/functions/debugging-and-logging.md
  content/pages/functions/wrangler-configuration.md
  content/queues/reference/consumer-concurrency.md
  content/workers/configuration/bindings/_index.md
  content/workers/configuration/versions-and-deployments/gradual-deployments.md
  content/workers/wrangler/commands.md
  data/changelogs/queues.yaml
Labels: product:workers, product:cloudflare-one, product:pages, product:analytics, product:load-balancing, product:queues, product:cloudflare-for-platforms, size/m, product:learning-paths

#13746 [SSL, WAF] Explain security features in DCV validation path
  content/ssl/_partials/_dcv-path-security.md
  content/ssl/edge-certificates/changing-dcv-method/dcv-flow.md
  content/ssl/edge-certificates/changing-dcv-method/troubleshooting.md
  content/waf/troubleshooting/faq.md
Labels: product:ssl, product:waf, size/s

#13837 [DLS] Updates DLS overview page format
  content/data-localization/_index.md
Labels: product:data-localization, size/s

#13252 Revamp Service Bindings docs for RPC
  content/_redirects
  content/durable-objects/api/_index.md
  content/durable-objects/best-practices/_index.md
  content/durable-objects/best-practices/access-durable-objects-from-a-worker.md
  content/durable-objects/best-practices/create-durable-object-stubs-and-send-requests.md
  content/durable-objects/configuration/create-durable-object-stubs.md
  content/durable-objects/examples/build-a-counter.md
  content/durable-objects/get-started.md
  content/durable-objects/reference/error-handling.md
  content/durable-objects/reference/troubleshooting.md
  content/durable-objects/reference/websockets.md
  content/pages/functions/bindings.md
  content/pages/functions/wrangler-configuration.md
  content/queues/examples/use-queues-with-durable-objects.md
  content/workers/_partials/_durable_objects_pricing.md
  content/workers/_partials/_platform-compatibility-dates/fetcher-no-get-put-delete.md
  content/workers/_partials/_platform-compatibility-dates/rpc.md
  content/workers/_partials/_service-binding-rpc-example.md
  content/workers/_partials/_service-binding-rpc-functions-example.md
  content/workers/configuration/bindings.md
  content/workers/configuration/bindings/_index.md
  content/workers/configuration/bindings/about-service-bindings.md
  content/workers/configuration/integrations/_index.md
  content/workers/configuration/routing/custom-domains.md
  content/workers/configuration/versions-and-deployments/_index.md
  content/workers/configuration/versions-and-deployments/gradual-deployments.md
  content/workers/platform/limits.md
  content/workers/platform/pricing.md
  content/workers/runtime-apis/bindings/_index.md
  content/workers/runtime-apis/bindings/ai.md
  content/workers/runtime-apis/bindings/analytics-engine.md
  content/workers/runtime-apis/bindings/browser-rendering.md
  content/workers/runtime-apis/bindings/environment-variables.md
  content/workers/runtime-apis/bindings/hyperdrive.md
  content/workers/runtime-apis/bindings/secrets.md
  content/workers/runtime-apis/bindings/service-bindings.md
  content/workers/runtime-apis/bindings/service-bindings/_index.md
  content/workers/runtime-apis/bindings/service-bindings/http.md
  content/workers/runtime-apis/bindings/service-bindings/rpc.md
  content/workers/runtime-apis/context.md
  content/workers/runtime-apis/fetch.md
  content/workers/runtime-apis/handlers/fetch.md
  content/workers/runtime-apis/rpc/_index.md
  content/workers/runtime-apis/rpc/error-handling.md
  content/workers/runtime-apis/rpc/lifecycle.md
  content/workers/runtime-apis/rpc/reserved-methods.md
  content/workers/runtime-apis/rpc/typescript.md
  content/workers/runtime-apis/rpc/visibility.md
  content/workers/testing/vitest-integration/configuration.md
  content/workers/wrangler/configuration.md
  data/changelogs/workers.yaml
Labels: product:workers, product:pages, product:queues, product:durable-objects, size/xl, product:_redirects, pcx_team_review

#13874 Update cloudflare-intro.md
  content/learning-paths/workers/concepts/cloudflare-intro.md
Labels: size/xs, product:learning-paths

#13875 Normalized elithrar's assignments
  .github/CODEOWNERS
Labels: size/s

#13846 Durable Objects in Oceania changelog
  .github/CODEOWNERS
  data/changelogs/durable-objects.yaml
Labels: size/xs

#13540 Deprecate pages dev's proxy features
  content/pages/functions/local-development.md
  content/workers/wrangler/commands.md
  content/workers/wrangler/deprecations.md
Labels: product:workers, product:pages, size/s

#13879 Fix Durable Objects sidebar order & small fixes
  content/durable-objects/api/_index.md
  content/durable-objects/best-practices/_index.md
  content/durable-objects/configuration/durable-object-gradual-deployments.md
  content/durable-objects/examples/_index.md
  content/durable-objects/get-started.md
  content/durable-objects/platform/_index.md
  content/durable-objects/reference/_index.md
  content/durable-objects/reference/data-location.md
  content/durable-objects/reference/data-security.md
  content/durable-objects/reference/environments.md
  content/durable-objects/reference/error-handling.md
  content/durable-objects/reference/graphql-analytics.md
  content/durable-objects/reference/troubleshooting.md
  content/workers/_partials/_durable_objects_pricing.md
Labels: product:workers, product:durable-objects, size/s

#13869 [D1] Update commands.md
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#13805 [Hyperdrive] Add metrics reference with example GraphQL queries
  content/hyperdrive/reference/metrics.md
Labels: size/s, product:hyperdrive

#13881 Fix typo in RPC
  content/workers/runtime-apis/rpc/lifecycle.md
Labels: product:workers, size/xs

#13876 Address indexes field in Analytics Engine docs
  content/analytics/analytics-engine/get-started.md
Labels: product:analytics, size/xs

#13806 Fix typo and tweak copy
  content/d1/build-with-d1/import-data.md
Labels: product:d1, size/xs

#13882 Re-add Durable Objects Gradual Deployments docs
  content/durable-objects/reference/durable-object-gradual-deployments.md
Labels: product:durable-objects, size/s

#13375 [Docs Site] Cleanup Plan shortcode
  content/d1/_index.md
  content/hyperdrive/_index.md
  content/kv/_index.md
  content/r2/_index.md
  content/vectorize/_index.md
  layouts/shortcodes/plan.html
Labels: product:r2, product:d1, size/s, product:kv, product:vectorize, product:hyperdrive

#13063 Update enable-flexible-variants.md
  content/images/manage-images/enable-flexible-variants.md
Labels: product:images, size/xs

#13501 [Images]Update troubleshooting.md
  content/images/troubleshooting.md
Labels: product:images, size/xs

#13883 Unescaped unintentionally escaped HTML
  content/waf/_index.md
Labels: product:waf, size/xs

#13591 [Argo] Update analytics.md
  content/argo-smart-routing/analytics.md
Labels: size/xs, product:argo-smart-routing

#13773 Update dns-record-types.md
  content/dns/manage-dns-records/reference/dns-record-types.md
Labels: product:dns, size/xs

#13481 fact check health-checks-regions.md
  content/health-checks/concepts/health-checks-regions.md
Labels: product:health-checks, size/xs

#12762 Document batch support for V1 delete endpoint
  content/images/upload-images/images-batch.md
Labels: product:images, size/xs

#13858 [DLP] Expand DLP prereqs
  content/cloudflare-one/policies/data-loss-prevention/dlp-policies/_index.md
Labels: product:cloudflare-one, size/xs, sub-product:data-loss-prevention

#13880 Create migration guide for D1 alpha databases
  content/d1/platform/alpha-migration.md
  data/changelogs/d1.yaml
Labels: product:d1, size/s

#13813 Add Python Workers changelog entry
  data/changelogs/workers.yaml
Labels: size/xs

#13817 Add beta label to Rust docs
  content/workers/languages/rust/_index.md
Labels: product:workers, size/xs

#13898 docs: fix title level
  content/cache/how-to/cache-keys.md
Labels: product:cache, size/xs

#13907 [Magic Firewall] Added mfirewall to cf one group
  data/magic-firewall.yml
Labels: size/xs

#13905 [WAF] Update content scanning size limit
  content/waf/about/content-scanning/_index.md
Labels: product:waf, size/xs

#13906 Update Zaraz changelog
  data/changelogs/zaraz.yaml
Labels: size/s

#13909 [DLS] Removes incompatibility with RS
  content/data-localization/limitations.md
Labels: product:data-localization, size/xs

#13911 [Area 1] Added Area 1 domain to gmail setup
  content/email-security/deployment/inline/setup/gsuite-area1-mx.md
Labels: size/s, product:email-security

#13912 [Cache] Adds note to Query String Sort
  content/cache/advanced-configuration/query-string-sort.md
Labels: product:cache, size/xs

#13916 restructure zaraz context page and add information about ClientKV
  content/zaraz/reference/context.md
Labels: size/s, product:zaraz

#13910 NC-4426: [Turnstile] Document refresh-timeout
  content/turnstile/get-started/client-side-rendering.md
  data/changelogs/turnstile.yaml
Labels: size/s, product:turnstile

#13814 [Workers for Platforms] Fixes, feedback
  content/_redirects
  content/cloudflare-for-platforms/workers-for-platforms/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/configuration/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/configuration/custom-limits.md
  content/cloudflare-for-platforms/workers-for-platforms/configuration/observability.md
  content/cloudflare-for-platforms/workers-for-platforms/configuration/outbound-workers.md
  content/cloudflare-for-platforms/workers-for-platforms/configuration/tags.md
  content/cloudflare-for-platforms/workers-for-platforms/get-started/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/get-started/configuration.md
  content/cloudflare-for-platforms/workers-for-platforms/get-started/dynamic-dispatch.md
  content/cloudflare-for-platforms/workers-for-platforms/get-started/user-workers.md
  content/cloudflare-for-platforms/workers-for-platforms/platform/limits.md
  content/cloudflare-for-platforms/workers-for-platforms/platform/pricing.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/_index.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/how-workers-for-platforms-works.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/metadata.md
  content/cloudflare-for-platforms/workers-for-platforms/wfp-api.md
  content/workers/platform/limits.md
Labels: product:workers, product:cloudflare-for-platforms, size/m, product:_redirects
