Repository cloudflare/cloudflare-docs, pull requests merged in 2024-08, with the labels that each got.

#15613 [R2] Removes Account ID from Workers R2 Setup Docs
  content/r2/api/workers/workers-api-usage.md
Labels: product:r2, size/s

#15915 [Rules] Changelog entry for wildcard support
  data/changelogs/rules.yaml
Labels: size/xs

#15544 [SSL] Update troubleshooting.md
  content/ssl/reference/cipher-suites/troubleshooting.md
Labels: product:ssl, size/xs

#15587 [SSL] Ngayerie patch 5
  content/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/issue-and-validate/validate-certificates/troubleshooting.md
  content/ssl/edge-certificates/universal-ssl/troubleshooting.md
Labels: product:ssl, product:cloudflare-for-platforms, size/xs

#15457 Update limitations.md with Load Balancing
  content/ssl/edge-certificates/universal-ssl/limitations.md
Labels: product:ssl, size/xs

#15907 [Analytics] Adds how to capture GraphQL queries with Chrome DevTools
  assets/images/analytics/analytics-tab.png
  assets/images/analytics/chrome-developer-tools.png
  assets/images/analytics/copy-value.png
  assets/images/analytics/new-query.png
  assets/images/analytics/search-field.png
  content/analytics/graphql-api/tutorials/capture-graphql-queries-from-dashboard/index.md
Labels: product:analytics, size/s

#15911 Standardize refarch and demos / AKA the MarkDembo show
  content/ai-gateway/architectures.md
  content/ai-gateway/demos.md
  content/d1/demos.md
  content/durable-objects/demos.md
  content/hyperdrive/demos.md
  content/images/demos.md
  content/pages/demos.md
  content/queues/demos.md
  content/r2/demos.md
  content/reference-architecture/architectures/security.md
  content/reference-architecture/design-guides/secure-application-delivery.md
  content/reference-architecture/design-guides/zero-trust-for-startups.md
  content/reference-architecture/diagrams/content-delivery/optimizing-image-delivery-with-cloudflare-image-resizing-and-r2.md
  content/reference-architecture/diagrams/serverless/a-b-testing-using-workers.md
  content/reference-architecture/diagrams/serverless/serverless-etl.md
  content/reference-architecture/diagrams/serverless/serverless-global-apis.md
  content/reference-architecture/diagrams/storage/egress-free-storage-multi-cloud.md
  content/turnstile/demos.md
  content/vectorize/demos.md
  content/workers/demos.md
Labels: product:workers, product:images, product:pages, product:r2, product:queues, product:d1, product:reference-architecture, product:durable-objects, size/m, product:turnstile, product:ai-gateway, product:vectorize, product:hyperdrive

#15499 Update advanced-nameservers.md
  content/dns/_partials/_ns-advanced-vs-custom.md
  content/dns/foundation-dns/advanced-nameservers.md
  content/dns/nameservers/_index.md
  content/dns/nameservers/custom-nameservers/_index.md
Labels: product:dns, size/s

#15920 [Access for SaaS] Asana tutorial
  content/cloudflare-one/applications/configure-apps/saas-apps/asana-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/atlassian-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/aws-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/braintree-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/coupa-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/digicert-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/docusign-access.md
  content/cloudflare-one/applications/configure-apps/saas-apps/dropbox-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/github-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-cloud-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/grafana-cloud-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/grafana-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/greenhouse-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/hubspot-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/ironclad-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/jamf-pro-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/miro-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/pagerduty-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/pingboard-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/slack-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/smartsheet-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/tableau-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/workday-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zoom-saas.md
Labels: product:cloudflare-one, size/m

#15905 [Email Security (formerly Area 1)] Rename product
  assets/images/email-security/sso/generic/launch-dashboard.png
  content/email-security/account-setup/connect-cloudflare-account.md
Labels: size/s, product:email-security

#15934 [Various] Added more demo repos and new pages / sections as necessary
  content/calls/demos.md
  content/cloudflare-for-platforms/workers-for-platforms/demos.md
  content/email-routing/email-workers/demos.md
  content/images/demos.md
  data/external-resources/apps.yml
Labels: product:images, product:email-routing, product:cloudflare-for-platforms, size/m, product:calls

#15933 [Access for SaaS] Create SparkPost tutorial
  content/cloudflare-one/applications/configure-apps/saas-apps/sparkpost-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/tableau-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/workday-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zoom-saas.md
Labels: product:cloudflare-one, size/s

#15491 [ZT] WARP modes in MDM files
  content/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/parameters.md
Labels: product:cloudflare-one, size/s

#15935 [ZT] Switch WARP users on a device
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-sessions.md
Labels: product:cloudflare-one, size/xs

#15942 [Ruleset Engine] Clarify custom ruleset execution
  content/ruleset-engine/custom-rulesets/_index.md
Labels: product:ruleset-engine, size/xs

#15825 [c3] Update argument description
  content/pages/get-started/c3.md
Labels: product:pages, size/s

#15850 README and CONTRIBUTING md updates
  CONTRIBUTING.md
  README.md
Labels: size/s

#15946 [Videos] Fix indentation for entry
  data/external-resources/videos.yml
Labels: size/s

#15797 Improvements to Workers AI Getting Started
  content/workers-ai/get-started/workers-wrangler.md
Labels: do-not-merge-yet, size/s, product:workers-ai

#14908 d1: Update get-started.md
  content/d1/get-started.md
Labels: product:d1, size/s

#13151 [Logs, Analytics] Remove/replace deprecated log fields
  content/analytics/analytics-integrations/google-cloud/index.md
  content/analytics/analytics-integrations/splunk/index.md
Labels: product:analytics, size/s, pcx_team_review

#15949 [WAF] Link to get started from overview page
  content/waf/_index.md
Labels: product:waf, size/xs

#15950 [Magic - several] Added link to get started
  content/magic-cloud-networking/_index.md
  content/magic-network-monitoring/_index.md
  content/magic-transit/_index.md
  content/magic-wan/_index.md
Labels: size/xs, product:magic-transit, product:magic-wan, product:magic-network-monitoring, product:magic-cloud-networking

#15951 [Page Shield] Link to get started in overview page
  content/page-shield/_index.md
Labels: product:page-shield, size/xs

#15921 Added mistral provider documentation
  content/ai-gateway/providers/mistral.md
Labels: size/s, product:ai-gateway

#15952 [Style guide] Overview: Add link to get started page
  content/style-guide/documentation-content-strategy/content-types/overview.md
Labels: size/xs, product:style-guide

#15954 Update mistral.md
  content/ai-gateway/providers/mistral.md
Labels: size/xs, product:ai-gateway

#15919 Ai gateway structure
  content/ai-gateway/_partials/_azureopenai.md
  content/ai-gateway/_partials/_bedrock.md
  content/ai-gateway/_partials/_cohere.md
  content/ai-gateway/_partials/_groq.md
  content/ai-gateway/_partials/_huggingface.md
  content/ai-gateway/_partials/_openai.md
  content/ai-gateway/_partials/_perplexity.md
  content/ai-gateway/_partials/_replicate.md
  content/ai-gateway/_partials/_universal-gateway-example.md
  content/ai-gateway/_partials/_universal.md
  content/ai-gateway/_partials/_vertex.md
  content/ai-gateway/providers/anthropic.md
  content/ai-gateway/providers/azureopenai.md
  content/ai-gateway/providers/bedrock.md
  content/ai-gateway/providers/cohere.md
  content/ai-gateway/providers/groq.md
  content/ai-gateway/providers/huggingface.md
  content/ai-gateway/providers/openai.md
  content/ai-gateway/providers/perplexity.md
  content/ai-gateway/providers/replicate.md
  content/ai-gateway/providers/universal.md
  content/ai-gateway/providers/vertex.md
Labels: size/xl, product:ai-gateway

#15959 [Chore] Fix a few gpt3.5
  content/ai-gateway/configuration/caching.md
  content/ai-gateway/providers/anthropic.md
  content/ai-gateway/providers/bedrock.md
  content/ai-gateway/providers/groq.md
  content/ai-gateway/providers/huggingface.md
  content/ai-gateway/providers/openai.md
  content/ai-gateway/providers/perplexity.md
  content/ai-gateway/providers/replicate.md
  content/ai-gateway/providers/universal.md
  content/ai-gateway/providers/vertex.md
  content/ai-gateway/providers/workersai.md
  content/workers/examples/openai-sdk-streaming.md
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
  content/workers/tutorials/openai-function-calls-workers/index.md
Labels: product:workers, size/s, product:ai-gateway

#15960 [ZT] Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#15953 Replaced c3 commands with partial
  archetypes/tutorial.md
  content/ai-gateway/tutorials/deploy-aig-worker.md
  content/browser-rendering/get-started/browser-rendering-with-DO.md
  content/browser-rendering/get-started/reuse-sessions.md
  content/browser-rendering/get-started/screenshots.md
  content/cloudflare-for-platforms/workers-for-platforms/get-started/configuration.md
  content/cloudflare-for-platforms/workers-for-platforms/get-started/developing-with-wrangler.md
  content/cloudflare-one/identity/authorization-cookie/cors.md
  content/d1/get-started.md
  content/d1/tutorials/build-a-comments-api/index.md
  content/developer-spotlight/tutorials/creating-a-recommendation-api.md
  content/developer-spotlight/tutorials/custom-access-control-for-files.md
  content/durable-objects/get-started.md
  content/hyperdrive/get-started.md
  content/hyperdrive/tutorials/serverless-timeseries-api-with-timescale/index.md
  content/kv/get-started.md
  content/learning-paths/workers/get-started/first-worker.md
  content/pages/get-started/c3.md
  content/pages/tutorials/localize-a-website/index.md
  content/queues/get-started.md
  content/queues/tutorials/web-crawler-with-browser-rendering/index.md
  content/r2/api/workers/workers-api-usage.md
  content/r2/examples/upload-logs-event-notifications.md
  content/radar/investigate/bgp-anomalies.md
  content/vectorize/get-started/embeddings.md
  content/vectorize/get-started/intro.md
  content/workers-ai/get-started/workers-wrangler.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
  content/workers/_partials/_c3-post-run-steps.md
  content/workers/_partials/_c3-run-command-no-directory.md
  content/workers/_partials/_c3-run-command-with-directory.md
  content/workers/_partials/_dash-creation-next-steps.md
  content/workers/get-started/guide.md
  content/workers/tutorials/build-a-jamstack-app/index.md
  content/workers/tutorials/build-a-qr-code-generator/index.md
  content/workers/tutorials/build-a-slackbot/index.md
  content/workers/tutorials/connect-to-turso-using-workers/index.md
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
  content/workers/tutorials/generate-youtube-thumbnails-with-workers-and-images/index.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
  content/workers/tutorials/openai-function-calls-workers/index.md
  content/workers/tutorials/postgres/index.md
  content/workers/tutorials/store-data-with-fauna/index.md
  content/workers/tutorials/upload-assets-with-r2/index.md
Labels: product:workers, product:cloudflare-one, product:pages, product:r2, product:queues, product:d1, product:cloudflare-for-platforms, product:browser-rendering, product:durable-objects, size/l, product:radar, product:learning-paths, product:kv, product:ai-gateway, product:workers-ai, product:vectorize, product:hyperdrive, product:developer-spotlight

#15956 [ZT] Update WARP changelog
  data/changelogs/warp.yaml
Labels: size/s

#15958 r2: Update object-lifecycles.md
  content/r2/buckets/object-lifecycles.md
Labels: product:r2, size/xs

#15957 Update mistral.md
  content/ai-gateway/providers/mistral.md
  data/changelogs/ai-gateway.yaml
Labels: size/xs, product:ai-gateway

#15917 [Pulumi] updates to pages under `/pulumi`
  content/pulumi/_index.md
  content/pulumi/installing.md
  content/pulumi/tutorial/_index.md
  content/pulumi/tutorial/add-site.md
  content/pulumi/tutorial/hello-world.md
Labels: size/l, product:pulumi

#15970 images: fix redirect to pricing
  content/_redirects
Labels: size/xs, product:_redirects

#15974 [SSL] Call out TLS settings limitations with Pages in more places
  content/ssl/edge-certificates/additional-options/cipher-suites/_index.md
  content/ssl/edge-certificates/additional-options/cipher-suites/customize-cipher-suites.md
  content/ssl/edge-certificates/additional-options/minimum-tls.md
Labels: product:ssl, size/xs

#15963 [ZT] Device posture in device enrollment policies
  content/cloudflare-one/_partials/warp/_device-enrollment.md
Labels: product:cloudflare-one, size/xs

#15980 [Images] Moved pricing back. Removed redirect
  content/_redirects
  content/images/platform/_index.md
  content/images/pricing.md
Labels: product:images, size/s, product:_redirects

#15981 [CODEOWNERS] Update to reflect handover of health-checks
  .github/CODEOWNERS
Labels: size/xs

#15972 [WAF] Update RL best practices with required license info
  content/waf/rate-limiting-rules/best-practices.md
Labels: product:waf, size/xs

#15832 [KV] Increase clarity for how-kv-works.md
  content/kv/reference/how-kv-works.md
Labels: size/xs, product:kv

#15891 Workers configuration multipart metadata
  content/_redirects
  content/cloudflare-for-platforms/workers-for-platforms/get-started/user-workers.md
  content/cloudflare-for-platforms/workers-for-platforms/reference/metadata.md
  content/workers/configuration/multipart-upload-metadata.md
  content/workers/configuration/versions-and-deployments/_index.md
Labels: product:workers, product:cloudflare-for-platforms, size/m, product:_redirects

#15938 [DLP] Reorganize landing info
  content/cloudflare-one/policies/data-loss-prevention/_index.md
Labels: product:cloudflare-one, size/s, sub-product:data-loss-prevention

#15992 Release-Aug-05-2024: Releasing detections.
  content/waf/change-log/2024-08-05.md
  content/waf/change-log/scheduled-changes.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#15884 [KV] Add key concepts section and reference architectures to KV docs
  content/_redirects
  content/browser-rendering/get-started/screenshots.md
  content/cloudflare-one/policies/access/external-evaluation.md
  content/durable-objects/examples/use-kv-from-durable-objects.md
  content/kv/_index.md
  content/kv/api/write-key-value-pairs.md
  content/kv/concepts/_index.md
  content/kv/concepts/how-kv-works.md
  content/kv/concepts/kv-bindings.md
  content/kv/concepts/kv-namespaces.md
  content/kv/demos.md
  content/kv/get-started.md
  content/kv/reference/environments.md
  content/pages/framework-guides/deploy-a-qwik-site.md
  content/pages/framework-guides/deploy-a-remix-site.md
  content/pages/framework-guides/deploy-an-astro-site.md
  content/pages/functions/bindings.md
  content/pub-sub/learning/integrate-workers.md
  content/r2/api/s3/presigned-urls.md
  content/r2/api/workers/workers-api-reference.md
  content/r2/api/workers/workers-api-usage.md
  content/ssl/client-certificates/configure-your-mobile-app-or-iot-device.md
  content/workers/_index.md
  content/workers/languages/rust/_index.md
  content/workers/platform/storage-options.md
  content/workers/reference/migrate-to-module-workers.md
Labels: product:workers, product:cloudflare-one, product:pages, product:ssl, product:pub-sub, product:r2, product:browser-rendering, product:durable-objects, size/s, product:_redirects, product:kv

#15979 [CF1] Updating content type and adding last updated dates
  content/cloudflare-one/applications/configure-apps/saas-apps/adobe-sign-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/area-1.md
  content/cloudflare-one/applications/configure-apps/saas-apps/asana-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/atlassian-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/aws-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/braintree-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/coupa-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/digicert-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/docusign-access.md
  content/cloudflare-one/applications/configure-apps/saas-apps/dropbox-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/github-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-cloud-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/grafana-cloud-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/grafana-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/greenhouse-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/hubspot-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/ironclad-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/jamf-pro-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/miro-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/pagerduty-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/pingboard-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/servicenow-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/slack-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/smartsheet-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/sparkpost-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/tableau-saml-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/workday-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zoom-saas.md
Labels: product:cloudflare-one, size/s

#15996 [Images] Fixed redirect
  content/_redirects
Labels: size/xs, product:_redirects

#15977 [Images] Clarify sliding window
  content/images/pricing.md
Labels: product:images, size/xs

#16000 [Docs] Fix broken anchors in links
  content/d1/examples/d1-and-hono.md
  content/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.md
  content/workers/runtime-apis/bindings/service-bindings/rpc.md
  data/changelogs/d1.yaml
Labels: product:workers, product:d1, size/s, product:workers-ai

#16003 [Magic Firewall] Update MFW max number of rules
  content/magic-firewall/how-to/add-rules.md
Labels: size/xs, product:magic-firewall

#15983 [Chore] Update wrangler generate to c3
  content/cloudflare-one/policies/access/external-evaluation.md
  content/cloudflare-one/tutorials/azuread-risky-users.md
  content/d1/get-started.md
  content/developer-spotlight/tutorials/creating-a-recommendation-api.md
  content/durable-objects/get-started.md
  content/pages/get-started/c3.md
  content/vectorize/reference/client-api.md
  content/workers/tutorials/generate-youtube-thumbnails-with-workers-and-images/index.md
Labels: product:workers, product:cloudflare-one, product:pages, product:d1, product:durable-objects, size/s, product:vectorize, product:developer-spotlight

#15998 Forgot a slash
  content/_redirects
Labels: size/xs, product:_redirects

#16002 [Docs] Fix API links
  content/vectorize/best-practices/insert-vectors.md
  data/changelogs/radar.yaml
Labels: size/s, product:vectorize

#15997 Add D1 FTS5 SQLite extension
  content/_redirects
  content/d1/reference/sql-statements.md
Labels: product:d1, size/s, product:_redirects

#16006 Specified maximum delay in queues documentation
  content/queues/configuration/batching-retries.md
Labels: product:queues, size/xs

#15941 [Email Security (formerly Area 1)] Adding enhanced detections
  content/email-security/email-configuration/enhanced-detections/added-detections.md
Labels: size/xs, product:email-security

#15973 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/xs

#16010 r2: correct wording for audit logs
  content/r2/platform/audit-logs.md
Labels: product:r2, size/xs

#14676 Update upload-logs-event-notifications.md
  content/r2/examples/upload-logs-event-notifications.md
Labels: product:r2, size/xs

#14759 Update aws-sdk-js-v3.md; Removing the unused import from example ts
  content/r2/examples/aws/aws-sdk-js-v3.md
Labels: product:r2, size/xs

#15965 Stream does support multiple audio tracks
  content/stream/reference/faq.md
Labels: product:stream, size/xs

#15988 [R2] Add R2 Wrangler commands reference
  content/r2/reference/consistency.md
  content/r2/reference/data-location.md
  content/r2/reference/data-security.md
  content/r2/reference/durability.md
  content/r2/reference/unicode-interoperability.md
  content/r2/reference/wrangler-commands.md
Labels: product:r2, size/s

#14926 fix: replace deprecated SDK usage with updated methods
  content/r2/examples/aws/aws-sdk-go.md
Labels: product:r2, size/s

#15991 Update generic-saml.md to include idp specific metadata url
  content/cloudflare-one/identity/idp-integration/generic-saml.md
Labels: product:cloudflare-one, size/xs

#16011 [ZT] Update "Allow device to leave organization" setting
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/_index.md
Labels: product:cloudflare-one, size/xs

#16015 [Workers/Snippets] Remove non-applicable warnings
  content/rules/snippets/examples/auth-with-headers.md
  content/workers/examples/auth-with-headers.md
Labels: product:workers, product:rules, size/s

#16008 [Workers] Add details for Workers upload limit error message.
  content/workers/observability/errors.md
Labels: product:workers, size/xs

#16016 [MWAN] Updated Meraki compat table
  content/magic-wan/reference/device-compatibility.md
Labels: size/xs, product:magic-wan

#16019 [Browser Rendering] add available on paid plan only warning
  content/browser-rendering/_index.md
Labels: product:browser-rendering, size/xs

#16018 [Workers] Remove blank space in docs link
  content/workers/observability/errors.md
Labels: product:workers, size/xs

#16005 Update config.yml with external link
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/engineering.yml
Labels: size/s

#16020 Update mobile-implementation.md
  content/turnstile/get-started/mobile-implementation.md
Labels: size/xs, product:turnstile

#16021 Update client-side-rendering.md
  content/turnstile/get-started/client-side-rendering.md
Labels: size/xs, product:turnstile

#14729 Add some more info about validating Access JWTs with Cloudflare Tunnels
  content/cloudflare-one/_partials/access/_secure-tunnel-with-access.md
  content/cloudflare-one/_partials/access/_self-hosted-policy.md
  content/cloudflare-one/_partials/access/_self-hosted-settings.md
  content/cloudflare-one/applications/configure-apps/self-hosted-apps.md
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/terraform.md
  content/cloudflare-one/connections/connect-networks/get-started/create-local-tunnel.md
  content/cloudflare-one/tutorials/clientless-access-private-dns.md
  content/pages/functions/routing.md
Labels: product:cloudflare-one, product:pages, size/m

#16013 new pm onboarding adding myself as codeowner
  .github/CODEOWNERS
Labels: size/xs

#15922 [Queues] Update tutorial on Browser Rendering
  content/queues/_partials/_enable-queues.md
  content/queues/configuration/local-development.md
  content/queues/get-started.md
  content/queues/tutorials/web-crawler-with-browser-rendering/create-kv-namespaces.png
  content/queues/tutorials/web-crawler-with-browser-rendering/create-queue.png
  content/queues/tutorials/web-crawler-with-browser-rendering/index.md
  content/queues/tutorials/web-crawler-with-browser-rendering/list-namespace-id.png
  data/external-resources/apps.yml
Labels: product:queues, size/m

#15783 Update Cloudflare Billing Policy - preauths
  content/support/account-management-billing/Billing Cloudflare Plans/Cloudflare Billing Policy.md
Labels: size/xs, product:support

#16022 [MCN] GCP onramps
  assets/images/magic-cloud-networking/reference/gcp.png
  content/magic-cloud-networking/_partials/_magic-wan-on-ramps.md
  content/magic-cloud-networking/reference.md
Labels: size/s, product:magic-cloud-networking

#16024 [Calls] Calls TURN content updates with analytics
  content/calls/turn/analytics.md
  content/calls/turn/faq.md
  content/calls/turn/overview.md
  content/calls/turn/replacing-existing.md
  content/calls/turn/what-is-turn.md
  data/turn.yml
Labels: size/l, product:calls

#16025 [Turnstile] Verified bots behavior
  content/turnstile/concepts/pre-clearance-support.md
Labels: size/xs, product:turnstile

#16040 [Gateway] Update policy builder Value section
  content/cloudflare-one/_partials/gateway/_value.md
  content/cloudflare-one/policies/gateway/dns-policies/_index.md
  content/cloudflare-one/policies/gateway/http-policies/_index.md
  content/cloudflare-one/policies/gateway/network-policies/_index.md
  content/cloudflare-one/policies/gateway/resolver-policies.md
Labels: sub-product:gateway, product:cloudflare-one, size/s

#16034 Fix: retun to return
  content/ssl/origin-configuration/authenticated-origin-pull/set-up/per-hostname.md
Labels: product:ssl, size/xs

#15929 AI Gateway Workers tutorial
  content/ai-gateway/get-started.md
  content/ai-gateway/tutorials/create-first-aig-workers.md
Labels: size/s, product:ai-gateway

#16037 [Workers] Fix spelling issues found with codespell
  content/workers-ai/function-calling/embedded/api-reference.md
  content/workers-ai/function-calling/embedded/examples/openapi.md
  content/workers/configuration/compatibility-dates.md
  content/workers/configuration/multipart-upload-metadata.md
  content/workers/examples/data-loss-prevention.md
  content/workers/examples/read-post.md
  content/workers/observability/errors.md
  data/changelogs/workers-ai.yaml
Labels: product:workers, size/s, product:workers-ai

#16045 Fix: DCHP to DHCP
  content/magic-wan/configuration/connector/network-options/dhcp/dhcp-relay.md
Labels: size/xs, product:magic-wan

#16046 Plan Upgrades add
  content/fundamentals/subscriptions-and-billing/change-plan.md
Labels: size/xs, product:fundamentals

#16012 bugfix documentation (incorrect cmd script)
  content/workers/languages/python/packages/fastapi.md
Labels: product:workers, size/xs

#16028 Update cancel-subscription.md
  content/fundamentals/subscriptions-and-billing/cancel-subscription.md
Labels: size/xs, product:fundamentals

#16014 fix typo commands.md
  content/workers/wrangler/commands.md
Labels: product:workers, size/xs

#16049 Clarify getting started with C3 docs
  content/pages/get-started/c3.md
Labels: product:pages, size/s

#16042 [ZT] Access JWT payload details
  content/cloudflare-one/identity/authorization-cookie/application-token.md
  content/cloudflare-one/identity/authorization-cookie/validating-json.md
Labels: product:cloudflare-one, size/s

#15982 [Speed, other docs] Remove Auto Minify
  content/_redirects
  content/cache/get-started.md
  content/cache/reference/development-mode.md
  content/cache/reference/etag-headers.md
  content/fundamentals/api/reference/deprecations.md
  content/pages/configuration/debugging-pages.md
  content/rules/configuration-rules/settings.md
  content/rules/page-rules/reference/settings.md
  content/rules/reference/page-rules-migration/index.md
  content/speed/_partials/_auto-minify-deprecation-warning.md
  content/speed/_partials/_brotli-compression-warning.md
  content/speed/optimization/content/auto-minify.md
  content/speed/optimization/content/brotli/content-compression.md
  content/speed/optimization/content/troubleshooting/auto-minify-not-working.md
  content/speed/optimization/content/troubleshooting/content-encoding-issues.md
  content/support/third-party-software/Content Management System (CMS)/Speed Up WordPress and Improve Performance.md
  content/support/third-party-software/Content Management System (CMS)/What settings are applied when I click Optimize Cloudflare for WordPress in Cloudflare's WordPress plugin.md
  content/terraform/advanced-topics/best-practices.md
  content/terraform/tutorial/configure-https-settings.md
  content/workers/configuration/workers-with-page-rules.md
  content/workers/runtime-apis/request.md
  data/plans.json
Labels: product:workers, product:terraform, product:pages, product:rules, product:cache, size/m, product:fundamentals, product:support, product:_redirects, product:speed

#15945 [SSL] Update troubleshooting.md
  content/ssl/edge-certificates/custom-certificates/troubleshooting.md
Labels: product:ssl, size/s

#15995 [Pages] Simplify Next.js docs (and port over content from `next-on-pages` repo)
  content/_redirects
  content/pages/framework-guides/nextjs/deploy-a-nextjs-site.md
  content/pages/framework-guides/nextjs/deploy-a-static-nextjs-site.md
  content/pages/framework-guides/nextjs/ssr/_index.md
  content/pages/framework-guides/nextjs/ssr/advanced.md
  content/pages/framework-guides/nextjs/ssr/bindings.md
  content/pages/framework-guides/nextjs/ssr/caching.md
  content/pages/framework-guides/nextjs/ssr/get-started.md
  content/pages/framework-guides/nextjs/ssr/static-assets.md
  content/pages/framework-guides/nextjs/ssr/supported-features.md
  content/pages/framework-guides/nextjs/ssr/troubleshooting.md
Labels: product:pages, size/xl, product:_redirects

#16053 Update readablestream.md
  content/workers/runtime-apis/streams/readablestream.md
Labels: product:workers, size/xs

#16035 [Browser Rendering] Add new page for browser close reasons
  content/browser-rendering/platform/browser-close-reasons.md
Labels: product:browser-rendering, size/s

#16043 [Calls] Continue improving documentation and general information
  content/calls/_index.md
  content/calls/introduction.md
  content/calls/limits.md
  content/calls/turn/what-is-turn.md
Labels: size/s, product:calls

#16061 Remove backticks from .dev.vars in filename
  content/pages/functions/bindings.md
Labels: product:pages, size/xs

#16009 [Workers] document new Workers Logpush character limits
  content/workers/observability/logging/logpush.md
Labels: product:workers, size/s

#16073 [Queues] Fix type typo
  content/queues/configuration/javascript-apis.md
Labels: product:queues, size/xs

#16047 Update D1 commands for GA database versions
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#16075 Update zaraz.yaml
  data/changelogs/zaraz.yaml
Labels: size/xs

#16071 [MT/MWAN] Corrected mtu and mss size for CNI
  content/magic-transit/network-interconnect.md
  content/magic-wan/network-interconnect.md
Labels: size/xs, product:magic-transit, product:magic-wan

#16074 New limits and documentation refresh for Snippets
  content/rules/snippets/_index.md
  content/rules/snippets/errors.md
  content/rules/snippets/how-it-works.md
  data/changelogs/rules.yaml
  data/glossary/rules.yaml
  data/plans.json
Labels: product:rules, size/m

#16048 [ZT] Access policy misconfigurations
  content/cloudflare-one/policies/access/_index.md
Labels: product:cloudflare-one, size/s

#15635 Update KDE Plasma instructions for Plasma 6.x System Settings
  content/1.1.1.1/setup/linux.md
Labels: product:1.1.1.1, size/xs

#15723 Update setup.md
  content/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup.md
Labels: product:dns, size/xs

#15481 Update _universal-ssl-enable-full.md
  content/ssl/_partials/_universal-ssl-enable-full.md
Labels: product:ssl, size/xs

#16078 Update Contacting Support page to reflect new phone authentication
  content/support/contacting-cloudflare-support.md
Labels: size/xs, product:support

#16082 Snippets examples: fix broken link
  content/rules/snippets/errors.md
  content/rules/snippets/examples/_index.md
Labels: product:rules, size/xs

#16031 Update mobile-implementation.md
  content/turnstile/get-started/mobile-implementation.md
Labels: size/xs, product:turnstile

#16072 add legacy assets flag to wrangler dev/deploy
  content/workers/wrangler/commands.md
Labels: product:workers, size/s

#16084 Lower too many deploy limit to 100
  content/pages/platform/known-issues.md
Labels: product:pages, size/xs

#16087 [ZT] TLS fingerprint is optional
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.md
Labels: product:cloudflare-one, size/xs

#16088 [Rules] Cloud connector
  content/fundamentals/_partials/_zone-permissions-table.md
  content/rules/cache-rules.md
  content/rules/cloud-connector/_index.md
  content/rules/cloud-connector/create-api.md
  content/rules/cloud-connector/create-dashboard.md
  content/rules/cloud-connector/providers.md
  content/rules/compression-rules/_index.md
  content/rules/configuration-rules/_index.md
  content/rules/normalization/_index.md
  content/rules/page-rules/_index.md
  content/rules/snippets/_index.md
  content/rules/transform/_index.md
  content/ruleset-engine/reference/phases-list.md
  data/plans.json
Labels: product:rules, product:ruleset-engine, size/m, product:fundamentals

#16100 [Docs Site] Add logo.svg depended on by API docs
  public/logo.svg
Labels: size/xs

#16098 [Docs Site] PCX-12912 Dont render filters on small viewports
  src/pages/products.astro
Labels: size/xs

#16101 [Hyperdrive] Changelog entry
  src/content/changelogs/hyperdrive.yaml
Labels: size/xs

#16104 [Waiting Room] Add architecture info
  src/content/docs/waiting-room/about.mdx
  src/content/docs/waiting-room/index.mdx
Labels: size/m

#16106 [Chore] Workers pricing partials
  src/content/partials/durable-objects/durable-objects-pricing.mdx
  src/content/partials/workers/d1-pricing.mdx
  src/content/partials/workers/durable_objects_pricing.mdx
  src/content/partials/workers/kv_pricing.mdx
  src/content/partials/workers/transactional_storage_api_pricing.mdx
  src/content/partials/workers/vectorize-pricing.mdx
Labels: size/m

#16103 Beetle tracking - Zaraz
  src/content/docs/zaraz/get-started/index.mdx
Labels: size/xs

#16112 Ruleset Engine: fix links to specific fields and functions
  src/content/changelogs/rules.yaml
  src/content/docs/bots/troubleshooting.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/domain-support/custom-metadata.mdx
  src/content/docs/fundamentals/basic-tasks/trace-request/how-to.mdx
  src/content/docs/fundamentals/reference/http-request-headers.mdx
  src/content/docs/load-balancing/additional-options/load-balancing-rules/reference.mdx
  src/content/docs/magic-firewall/about/protocol-validation-rules.mdx
  src/content/docs/magic-firewall/about/traffic-types.mdx
  src/content/docs/magic-firewall/reference/magic-firewall-fields.mdx
  src/content/docs/rules/compression-rules/index.mdx
  src/content/docs/rules/custom-error-responses/create-api.mdx
  src/content/docs/rules/reference/troubleshooting.mdx
  src/content/docs/rules/transform/examples/rewrite-moved-section.mdx
  src/content/docs/rules/transform/examples/rewrite-path-archived-posts.mdx
  src/content/docs/rules/transform/managed-transforms/reference.mdx
  src/content/docs/rules/transform/url-rewrite/reference/fields-functions.mdx
  src/content/docs/rules/url-forwarding/examples/remove-locale-url.mdx
  src/content/docs/ruleset-engine/rules-language/expressions/edit-expressions.mdx
  src/content/docs/ruleset-engine/rules-language/fields/dynamic-fields.mdx
  src/content/docs/ruleset-engine/rules-language/functions.mdx
  src/content/docs/ruleset-engine/rules-language/operators.mdx
  src/content/docs/ruleset-engine/rules-language/values.mdx
  src/content/docs/waf/about/content-scanning/index.mdx
  src/content/docs/waf/about/waf-attack-score.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-specific-countries.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-verified-bots.mdx
  src/content/docs/waf/custom-rules/use-cases/block-traffic-from-specific-countries.mdx
  src/content/docs/waf/custom-rules/use-cases/challenge-bad-bots.mdx
  src/content/docs/waf/custom-rules/use-cases/exempt-partners-hotlink-protection.mdx
  src/content/docs/waf/custom-rules/use-cases/require-specific-cookie.mdx
  src/content/docs/waf/custom-rules/use-cases/require-specific-headers.mdx
  src/content/docs/waf/custom-rules/use-cases/require-specific-http-ports.mdx
  src/content/docs/waf/custom-rules/use-cases/site-admin-only-known-ips.mdx
  src/content/docs/waf/custom-rules/use-cases/stop-rudy-attacks.mdx
  src/content/docs/waf/custom-rules/use-cases/update-rules-customers-partners.mdx
  src/content/docs/waf/managed-rules/check-for-exposed-credentials/configure-api.mdx
  src/content/docs/waf/rate-limiting-rules/best-practices.mdx
  src/content/docs/waf/rate-limiting-rules/create-account-dashboard.mdx
  src/content/docs/waf/rate-limiting-rules/create-zone-dashboard.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/docs/waiting-room/additional-options/waiting-room-rules/bypass-rules.mdx
  src/content/partials/rules/transform/header-modification-fields.mdx
  src/content/partials/rules/transform/transform-phase-fields.mdx
  src/content/partials/waf/rate-limiting-availability-by-plan.mdx
Labels: size/m

#16119 [MCN] Added GCP to the changelog
  src/content/changelogs/magic-cloud-networking.yaml
  src/content/docs/magic-cloud-networking/index.mdx
Labels: size/xs

#16125 [Docs Site] Fix wrong CSS selector
  src/input.css
Labels: size/xs

#16118 [Workers AI] Add pills back to model page
  src/components/WorkersAIModels.astro
  src/pages/workers-ai/models/[name].astro
Labels: size/s

#16117 [Docs Site] Move GlossaryTooltip CSS from inline to global
  src/components/GlossaryTooltip.astro
Labels: size/xs

#16126 [Docs Site] Add padding to Feature.astro
  src/components/Feature.astro
Labels: size/xs

#16122 [Docs Site] Fix styling of OneTrust cookie button
  src/components/OneTrust.astro
  src/components/overrides/Footer.astro
Labels: size/s

#16129 [Email Security] Adding missing API documentation PDF
  public/email-security/static/api_documentation_1.38.1.pdf
Labels: size/xs

#16136 [Docs Site] Removes duplicate products
  src/content/products/pages.yml
  src/content/products/queues.yml
Labels: size/s

#16130 [Snippets] Fix Snippets markdown in feature table
  src/components/FeatureTable.astro
  src/content/plans/index.json
Labels: size/s

#16141 Remove 404 quickstarts
  src/content/docs/workers/get-started/quickstarts.mdx
Labels: size/s

#16140 Fix typo in c3-post-run-steps.mdx
  src/content/partials/workers/c3-post-run-steps.mdx
Labels: size/xs

#16139 [Browser Rendering] add changelog
  src/content/changelogs/browser-rendering.yaml
  src/content/docs/browser-rendering/changelog.mdx
Labels: size/s

#16143 [Cache] Update default-cache-behavior.mdx
  src/content/docs/cache/concepts/default-cache-behavior.mdx
Labels: size/xs

#16142 [Docs Site] Add <Markdown> component
  src/components/Markdown.astro
  src/content/docs/style-guide/components/markdown.mdx
Labels: size/s

#16144 [GraphQL] Fix missing images
  src/content/docs/analytics/graphql-api/getting-started/compose-graphql-query.mdx
  src/content/docs/analytics/graphql-api/getting-started/explore-graphql-schema.mdx
Labels: size/s

#16108 NC-5129, NC-5130: Documentation update for Turnstile (flex-width, size, feedback toggle)
  src/content/changelogs/turnstile.yaml
  src/content/docs/turnstile/get-started/client-side-rendering.mdx
Labels: size/s

#16145 Update caching.mdx
  src/content/docs/ai-gateway/configuration/caching.mdx
Labels: size/xs

#16134 chore: add 3 Nuxt full-stack examples
  src/content/apps/index.yaml
Labels: size/s

#16149 [Workers AI] Adds fp8 and awq llama-3.1 models
  src/content/workers-ai-models/llama-3.1-8b-instruct-awq.yaml
  src/content/workers-ai-models/llama-3.1-8b-instruct-fp8.yaml
Labels: size/s

#16146 [Chore] Update preview links
  .github/actions/show-changed-files/index.js
  .github/actions/show-changed-files/index.ts
Labels: size/s

#16148 [Docs Site] Improve tooltip styling
  src/components/GlossaryTooltip.astro
Labels: size/s

#16147 Product labels pr
  .github/actions/label-products/index.js
  .github/actions/label-products/index.ts
  .github/workflows/label-pr.yml
  src/content/docs/aegis/index.mdx
Labels: size/s, product:aegis

#16105 [ZT] CF1 overview / test PR
  src/content/docs/cloudflare-one/index.mdx
  src/content/partials/fundamentals/non-contract-enablement.mdx
Labels: product:cloudflare-one, size/s

#16153 [ZT] Hide Tanium page again after migration
  src/content/docs/cloudflare-one/identity/devices/service-providers/taniums2s.mdx
Labels: product:cloudflare-one, size/xs

#16151 Fixed header for example pages
  src/components/overrides/PageTitle.astro
  src/content/docs/rules/snippets/examples/override-set-cookies-value.mdx
Labels: product:rules, size/xs

#16157 [Chore] Broken asides
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup.mdx
  src/content/docs/rules/page-rules/reference/settings.mdx
  src/content/docs/style-guide/grammar/punctuation-marks-and-symbols/dashes.mdx
  src/content/docs/workers/wrangler/commands.mdx
  src/content/partials/magic-cloud-networking/magic-wan-on-ramps.mdx
Labels: product:workers, product:rules, product:dns, size/m, product:style-guide

#16162 [ZT] Managed networks Split Tunnel configuration 2
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.mdx
Labels: product:cloudflare-one, size/xs
