Repository cloudflare/cloudflare-docs, pull requests merged in 2024-06, with the labels that each got.

#14879 Update local-development.md
  content/workers/testing/local-development.md
Labels: product:workers, size/xs

#14799 Clarify Python supported packages
  content/workers/languages/python/packages/_index.md
Labels: product:workers, size/xs

#14881 Fix: Spelling
  content/email-routing/email-workers/reply-email-workers.md
Labels: product:email-routing, size/xs

#14886 [Docs Site] codespell typo fixes
  content/ai-gateway/_partials/_bedrock.md
  content/ai-gateway/_partials/_perplexity.md
  content/ai-gateway/configuration/rate-limiting.md
  content/analytics/analytics-engine/sql-api.md
  content/api-shield/security/jwt-validation/jwt-worker.md
  content/calls/turn/faq.md
  content/cloudflare-one/policies/gateway/application-app-types.md
  content/dns/manage-dns-records/reference/record-attributes.md
  content/docs-guide/manage-content/redirects/maintenance.md
  content/durable-objects/platform/pricing.md
  content/fundamentals/_partials/_zero-downtime-failover-retry-on-error.md
  content/fundamentals/reference/developer-spotlight.md
  content/learning-paths/application-security/firewall/_index.md
  content/learning-paths/application-security/lists/configuration.md
  content/learning-paths/workers/concepts/workers-concepts.md
  content/learning-paths/zero-trust-web-access/concepts/zero-trust.md
  content/learning-paths/zero-trust-web-access/migrate-applications/best-practices.md
  content/learning-paths/zero-trust-web-access/terraform/publish-apps-with-terraform.md
  content/magic-network-monitoring/_partials/_magic-transit-integration.md
  content/pages/_partials/_cli-precedence-over-file.md
  content/queues/examples/publish-to-a-queue-over-http.md
  content/reference-architecture/architectures/cdn.md
  content/reference-architecture/architectures/load-balancing.md
  content/reference-architecture/design-guides/zero-trust-for-startups.md
  content/reference-architecture/diagrams/ai/ai-composable.md
  content/speed/optimization/images/troubleshooting/troubleshooting-missing-images.md
  content/ssl/origin-configuration/authenticated-origin-pull/set-up/zone-level.md
  content/style-guide/documentation-content-strategy/content-types/reference-architecture-diagram.md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-1xxx-errors.md
  content/workers/runtime-apis/context.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/serverless-api-with-drizzle-hono-and-neon/index.md
  data/changelogs/stream.yaml
  data/glossary/email-security.yaml
Labels: product:workers, product:cloudflare-one, product:pages, product:analytics, product:ssl, product:dns, product:queues, product:reference-architecture, product:api-shield, product:durable-objects, size/s, product:fundamentals, product:support, product:learning-paths, product:magic-network-monitoring, product:style-guide, product:speed, product:ai-gateway, product:docs-guide, product:calls

#14790 Update recipes.md
  content/workers/testing/vitest-integration/recipes.md
Labels: product:workers, size/xs

#14888 [WAF] Remove 7z as example of content we scan
  content/waf/about/content-scanning/_index.md
Labels: product:waf, size/xs

#14889 [MWAN Connector] Added IPsec details
  content/magic-wan/configuration/connector/_index.md
  content/magic-wan/configuration/connector/reference.md
Labels: size/xs, product:magic-wan

#14890 [MCN] Changelog
  content/magic-cloud-networking/changelog.md
  data/changelogs/magic-cloud-networking.yaml
Labels: size/s, product:magic-cloud-networking

#14891 [Waf] Adds limit of sampled logs
  content/waf/analytics/security-analytics/index.md
Labels: product:waf, size/xs

#14887 functions.md: Clarify the `start` and `end` index of `substring` with example
  content/ruleset-engine/rules-language/functions.md
Labels: product:ruleset-engine, size/xs

#14896 [Rules] Snippets open alpha
  content/rules/snippets/_index.md
  data/changelogs/rules.yaml
Labels: product:rules, size/xs

#14900 [DDoS Protection] Remove alerts remark
  content/ddos-protection/reference/alerts.md
Labels: size/xs, product:ddos-protection

#14905 [DNS] Mention specific records limit
  content/dns/troubleshooting/faq.md
Labels: product:dns, size/xs

#14903 [SSL] Replace cert recency priority by cert expiration
  content/ssl/reference/certificate-and-hostname-priority.md
Labels: product:ssl, size/xs

#14907 d1: Update alpha-migration.md
  content/d1/platform/alpha-migration.md
Labels: product:d1, size/xs

#14914 Update object-detection.md
  layouts/partials/models/code-examples/object-detection.md
Labels: size/xs

#14910 [ZT] CASB Bitbucket Cloud integration
  data/changelogs/casb.yaml
Labels: size/xs

#14916 [Chore] Remove hardcoded model names from partials
  layouts/partials/models/code-examples/stable-diffusion-v1-5-img2img.md
  layouts/partials/models/code-examples/stable-diffusion-v1-5-inpainting.md
Labels: size/xs

#14885 [Docs Site] Fix lightbox.js bundling warnings
  assets/lightbox.js
  layouts/partials/footer.html
Labels: size/xs

#14884 [Docs Site] Upgrade mermaid to v10
  components/Mermaid.vue
  package-lock.json
  package.json
Labels: size/l

#14911 [Logs]: Render Logpush fields as headers instead of a table
  content/logs/reference/log-fields/account/access_requests.md
  content/logs/reference/log-fields/account/audit_logs.md
  content/logs/reference/log-fields/account/casb_findings.md
  content/logs/reference/log-fields/account/device_posture_results.md
  content/logs/reference/log-fields/account/dns_firewall_logs.md
  content/logs/reference/log-fields/account/gateway_dns.md
  content/logs/reference/log-fields/account/gateway_http.md
  content/logs/reference/log-fields/account/gateway_network.md
  content/logs/reference/log-fields/account/magic_ids_detections.md
  content/logs/reference/log-fields/account/network_analytics_logs.md
  content/logs/reference/log-fields/account/sinkhole_http_logs.md
  content/logs/reference/log-fields/account/workers_trace_events.md
  content/logs/reference/log-fields/account/zero_trust_network_sessions.md
  content/logs/reference/log-fields/zone/dns_logs.md
  content/logs/reference/log-fields/zone/firewall_events.md
  content/logs/reference/log-fields/zone/http_requests.md
  content/logs/reference/log-fields/zone/nel_reports.md
  content/logs/reference/log-fields/zone/page_shield_events.md
  content/logs/reference/log-fields/zone/spectrum_events.md
Labels: product:logs, size/xl

#14923 [MWAN] AWS DPD & IP range
  content/magic-transit/_partials/tunnels-reference/_tunnels-encapsulation-opening.md
  content/magic-wan/configuration/manually/third-party/aws.md
Labels: size/xs, product:magic-transit, product:magic-wan

#14915 Maintenance stuff
  assets/images/ai-gateway/Logs.png
  assets/images/pages/platform/functions/mailchannel_DKIM_DNS_setup.png
  assets/images/waf/managed-rule-example.png
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/captive-portals.md
  content/support/Troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.md
  content/workers-ai/configuration/hugging-face-chat-ui.md
  content/workers/wrangler/api.md
Labels: product:workers, product:cloudflare-one, size/s, product:support, product:workers-ai

#14927 Update context.md
  content/workers/runtime-apis/context.md
Labels: product:workers, size/xs

#14880 Added 10021 Error code
  content/workers/observability/errors.md
Labels: product:workers, size/s

#14545 Update ESM migration docs
  content/workers/reference/migrate-to-module-workers.md
Labels: product:workers, size/xs

#14931 [Notifications] Logo Match Alerts
  data/centralized-info/notifications.yml
Labels: size/xs

#14805 Add documentation for Infrequent Access storage for R2
  content/r2/api/s3/api.md
  content/r2/api/workers/workers-api-reference.md
  content/r2/buckets/create-buckets.md
  content/r2/buckets/object-lifecycles.md
  content/r2/buckets/storage-classes.md
  content/r2/pricing.md
  content/workers/wrangler/commands.md
Labels: product:workers, product:r2, size/m

#14933 [MWAN] Connector app based steering
  content/magic-wan/_partials/connector/app-aware-policies/_add-app.md
  content/magic-wan/_partials/connector/app-aware-policies/_delete-app.md
  content/magic-wan/configuration/connector/network-options/application-based-policies/_index.md
  content/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.md
  content/magic-wan/configuration/connector/network-options/application-based-policies/prioritized-traffic.md
Labels: size/s, product:magic-wan

#14935 [Notifications] Radar alerts
  content/radar/get-started/configure-alerts.md
  content/radar/get-started/embed.md
  data/centralized-info/notifications.yml
Labels: size/s, product:radar

#14912 [Access for SaaS] Add super admin note to Google Workspace
  content/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.md
Labels: product:cloudflare-one, size/xs

#14939 Update README.md
  README.md
Labels: size/xs

#14940 Fix alpha deadline on migration guide
  content/d1/platform/alpha-migration.md
Labels: product:d1, size/xs

#14874 Update aws-sso-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/aws-sso-saas.md
Labels: product:cloudflare-one, size/m

#14878 Replace deprecated `warp-cli set-mode` command with `warp-cli mode`
  content/warp-client/get-started/linux.md
Labels: product:warp-client, size/xs

#14936 [GitHub] Hyperlint config
  .hyperlint/config.yaml
Labels: size/xs

#14897 [Hugo] Add archetype for tutorial template
  CONTRIBUTING.md
  archetypes/tutorial.md
  content/fundamentals/reference/developer-spotlight.md
  content/style-guide/documentation-content-strategy/content-types/tutorial.md
Labels: size/m, product:fundamentals, product:style-guide

#14950 [Fundamentals] Fix typo
  content/fundamentals/setup/manage-domains/add-multiple-sites-automation.md
Labels: size/xs, product:fundamentals

#14951 [MWAN] Added warp virtual IPs entry
  data/changelogs/magic-wan.yaml
Labels: size/xs

#14952 [CNI] Revamps onramp for MWAN and MT
  content/magic-transit/network-interconnect.md
  content/magic-wan/analytics/_index.md
  content/magic-wan/changelog.md
  content/magic-wan/configuration/manually/how-to/traceroute.md
  content/magic-wan/configuration/manually/how-to/tunnel-health-checks.md
  content/magic-wan/glossary.md
  content/magic-wan/legal/_index.md
  content/magic-wan/network-interconnect.md
  content/magic-wan/reference/_index.md
  content/network-interconnect/pni-and-peering.md
Labels: product:network-interconnect, size/s, product:magic-transit, product:magic-wan

#14930 [DDoS Protection] Add DDoS Botnet Threat Feed
  content/ddos-protection/botnet-threat-feed/index.md
  content/ddos-protection/reference/_index.md
Labels: size/m, product:ddos-protection

#14932 [Workers] Adds New Python Examps
  content/workers/examples/hot-link-protection.md
  content/workers/examples/logging-headers.md
  content/workers/examples/modify-request-property.md
  content/workers/examples/post-json.md
  content/workers/examples/read-post.md
Labels: product:workers, size/m

#14946 Remove the outdated note of early hints
  content/workers/examples/103-early-hints.md
Labels: product:workers, size/xs

#14675 [Workers] Adds New Python Workers Example
  content/workers/examples/data-loss-prevention.md
  content/workers/examples/debugging-logs.md
  content/workers/examples/modify-response.md
Labels: product:workers, size/m

#14892 Animated WebP support included
  content/images/transform-images/_index.md
  content/images/troubleshooting.md
  content/images/upload-images/._index.md.swp
  content/images/upload-images/_index.md
Labels: product:images, size/s

#14958 [Logs] Updates delivery time for Edge Log Delivery
  content/logs/edge-log-delivery.md
Labels: product:logs, size/xs

#14937 [WAF] Store decrypted matched payloads in logs
  content/waf/managed-rules/payload-logging/_index.md
  content/waf/managed-rules/payload-logging/command-line/_index.md
  content/waf/managed-rules/payload-logging/decrypt-in-logs.md
Labels: product:waf, size/s

#14943 [Zaraz] Add play tracking to docs videos
  content/fundamentals/_partials/_what-is-cloudflare.md
  content/logs/_partials/_video-send-network-analytics-logs-to-splunk.md
  content/workers-ai/tutorials/explore-code-generation-using-deepseek-coder-models.md
  content/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.md
  content/workers-ai/tutorials/how-to-choose-the-right-text-generation-model.md
  layouts/shortcodes/stream.html
Labels: product:logs, size/s, product:fundamentals, product:workers-ai

#14786 Include `nodejs_compat` flag partials
  content/workers/_partials/_platform-compatibility-dates/nodejs-compat.md
Labels: product:workers, size/s

#14580 [Workers] Update docs to mention the timestamp
  content/workers/runtime-apis/bindings/version-metadata.md
Labels: product:workers, size/xs

#14961 [Hugo] Make GitHub editing more visible
  layouts/partials/topbar.tools.html
Labels: size/s

#14945 [ZT] Link to changelog
  content/cloudflare-one/connections/connect-devices/warp/download-warp/update-warp.md
Labels: product:cloudflare-one, size/xs

#14944 [ZT] Link to application token docs
  content/cloudflare-one/tutorials/cli.md
Labels: product:cloudflare-one, size/xs

#14966 [ZT] Tunnel with firewall typo
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/tunnel-with-firewall.md
Labels: product:cloudflare-one, size/xs

#14922 Update serving-pages.md
  content/pages/configuration/serving-pages.md
Labels: product:pages, size/xs

#14964 Add deprecation: DNS Records: "locked" Field
  content/fundamentals/api/reference/deprecations.md
Labels: size/s, product:fundamentals

#14906 [WAF] Get started
  content/waf/_partials/_exposed-creds-test-credentials.md
  content/waf/about/_index.md
  content/waf/custom-rules/_index.md
  content/waf/get-started.md
  content/waf/managed-rules/check-for-exposed-credentials/test-configuration.md
Labels: product:waf, size/m

#14430 [DNS] Add TransIP to DNSSEC provider list in _dnssec-providers.md
  content/dns/_partials/_dnssec-providers.md
Labels: product:dns, size/xs

#14973 [Hugo] Add last updated date as a component for tutorials + to several as well
  archetypes/tutorial.md
  content/workers/tutorials/build-a-jamstack-app/index.md
  content/workers/tutorials/build-a-qr-code-generator/index.md
  content/workers/tutorials/build-a-serverless-api/index.md
  content/workers/tutorials/create-sitemap-from-sanity-cms/index.md
  content/workers/tutorials/deploy-a-realtime-chat-app/index.md
  content/workers/tutorials/deploy-button/index.md
  content/workers/tutorials/generate-youtube-thumbnails-with-workers-and-images/index.md
  content/workers/tutorials/github-sms-notifications-using-twilio/index.md
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
  content/workers/tutorials/manage-projects-with-lerna/index.md
  content/workers/tutorials/openai-function-calls-workers/index.md
  content/workers/tutorials/postgres/index.md
  content/workers/tutorials/send-emails-with-postmark/index.md
  content/workers/tutorials/send-emails-with-resend/index.md
  content/workers/tutorials/serverless-api-with-drizzle-hono-and-neon/index.md
  content/workers/tutorials/store-data-with-fauna/index.md
  content/workers/tutorials/upload-assets-with-r2/index.md
  content/workers/tutorials/workers-kv-from-rust/index.md
  layouts/shortcodes/tutorial-date-info.html
  static/style.css
Labels: product:workers, size/m

#14974 [MWAN] Added app based prioritization changelog
  data/changelogs/magic-wan.yaml
Labels: size/xs

#14965 [ZT] cannot disable APO using a configuration rule
  content/cloudflare-one/applications/configure-apps/self-hosted-apps.md
Labels: product:cloudflare-one, size/xs

#14976 Add video title to specific video
  content/use-cases/ai.md
Labels: size/xs, product:use-cases

#14980 Update access.yaml
  data/changelogs/access.yaml
Labels: size/xs

#14982 [Zaraz] Update create-trigger.md
  content/zaraz/get-started/create-trigger.md
Labels: size/xs, product:zaraz

#14983 Release-Jun-06-2024: 1 detection in block mode
  content/waf/change-log/2024-06-06---emergency-release.md
  data/changelogs/waf.yaml
Labels: product:waf, size/s

#14986 [bug] svg on use cases
  content/use-cases/ai.md
  data/use-cases.yml
Labels: size/xs, product:use-cases

#14984 [CAT] iframes support
  content/waf/reference/cloudflare-challenges.md
Labels: product:waf, size/xs

#14987 Update mutual-tls-authentication.md
  content/cloudflare-one/identity/devices/access-integrations/mutual-tls-authentication.md
Labels: product:cloudflare-one, size/s

#14990 [Stream] Fix asides in Stream Player API
  content/stream/viewing-videos/using-the-stream-player/using-the-player-api.md
Labels: product:stream, size/s

#14659 Update certificate-transparency-monitoring.md
  content/ssl/edge-certificates/additional-options/certificate-transparency-monitoring.md
Labels: product:ssl, size/xs

#14813 [SSL] Update renewing.md
  content/ssl/edge-certificates/custom-certificates/renewing.md
Labels: product:ssl, size/xs

#14972 [Security Center] Link to Botnet Threat Feed
  content/security-center/intel-apis/_index.md
  content/security-center/intel-apis/limits.md
Labels: product:security-center, size/s

#14991 [DDoS Protection] Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#14953 [Workers] Update Slackbot tutorial
  content/workers/tutorials/build-a-slackbot/index.md
Labels: product:workers, size/l

#14975 docs: clarify `persist` values
  content/workers/wrangler/api.md
Labels: product:workers, size/xs

#14992 [Workers] Add a section to Wrangler configuration for top-level only keys
  content/workers/wrangler/configuration.md
Labels: product:workers, size/s

#14962 [Workers] Updated fine-tune tutorial
  assets/images/workers/tutorials/finetune/finetune-example.png
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
Labels: product:workers, size/m

#14993 [WAF, Ruleset Engine] Add JA4 field and RL characteristic
  content/ruleset-engine/rules-language/fields.md
  content/waf/_partials/_rate-limiting-availability-by-plan.md
  content/waf/rate-limiting-rules/parameters.md
Labels: product:waf, product:ruleset-engine, size/s

#14996 [Workers] Fine-tune tutorial, small tweak
  content/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.md
Labels: product:workers, size/xs

#14979 [WAF] Add attack score decoding
  content/waf/about/waf-attack-score.md
Labels: product:waf, size/xs

#14988 [Bug] Remove sidebar for CF1 changelog
  layouts/_default/list.html
  layouts/_default/single.html
Labels: size/s

#14994 [Workers] Slackbot tut -- slight re-org at top
  content/workers/tutorials/build-a-slackbot/index.md
Labels: product:workers, size/xs

#14999 Revert "[Bug] Remove sidebar for CF1 changelog"
  layouts/_default/list.html
  layouts/_default/single.html
Labels: size/s

#15000 [Logs] Change Logs tab to Logpush tab on Custom Fields doc
  content/logs/reference/custom-fields.md
Labels: product:logs, size/xs

#14722 Update _load-balancer-create-api.md
  content/load-balancing/_partials/_load-balancer-create-api.md
  content/load-balancing/_partials/_monitor-create-api.md
  content/load-balancing/_partials/_pool-create-api.md
Labels: product:load-balancing, size/xs

#15001 [IAM] fix API tokens table descriptions
  content/fundamentals/_partials/_account-permissions-table.md
Labels: size/xs, product:fundamentals

#15004 Update ai-asset-creation.md
  content/reference-architecture/diagrams/ai/ai-asset-creation.md
Labels: product:reference-architecture, size/xs

#15006 [ZT] Update SAML Metadata endpoint
  content/cloudflare-one/applications/configure-apps/saas-apps/aws-sso-saas.md
Labels: product:cloudflare-one, size/xs

#14997 [MT/MWAN] Magic health checks
  content/magic-transit/how-to/configure-magic-tunnel-alerts.md
  content/magic-transit/reference/magic-tunnels.md
  content/magic-wan/_partials/magic-tunnel-health-alerts/_magic-tunnel-health-alerts.md
  content/magic-wan/_partials/magic-tunnel-health-alerts/_magic-tunnels-slos.md
  content/magic-wan/configuration/common-settings/configure-magic-tunnel-alerts.md
  content/magic-wan/reference/magic-tunnels.md
Labels: size/s, product:magic-transit, product:magic-wan

#15005 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#15003 [Rules] Update migration guide with filters section
  assets/images/rules/reference/page-rules-migration/pr-forwarding-url-2-new.png
  assets/images/rules/reference/page-rules-migration/pr-forwarding-url-2.png
  content/rules/reference/page-rules-migration/index.md
Labels: product:rules, size/s

#15007 [ZT] Update salesforce-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-saml.md
Labels: product:cloudflare-one, size/xs

#15009 [Workers] Hotfix for pricing table styling
  content/workers/platform/pricing.md
Labels: product:workers, size/xs

#15011 [Various] Add tutorial date rendering
  content/ai-gateway/tutorials/deploy-aig-worker.md
  content/pages/tutorials/add-a-react-form-with-formspree/index.md
  content/pages/tutorials/add-an-html-form-with-formspree/index.md
  content/pages/tutorials/build-a-blog-using-nuxt-and-sanity/index.md
  content/pages/tutorials/build-an-api-with-pages-functions/index.md
  content/pages/tutorials/forms/index.md
  content/pages/tutorials/localize-a-website/index.md
  content/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.md
  content/workers-ai/tutorials/explore-code-generation-using-deepseek-coder-models.md
  content/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.md
  content/workers-ai/tutorials/fine-tune-models-with-autotrain.md
  content/workers-ai/tutorials/how-to-choose-the-right-text-generation-model.md
  content/workers/tutorials/handle-form-submissions-with-airtable/index.md
  content/workers/tutorials/openai-function-calls-workers/index.md
  content/workers/tutorials/send-emails-with-postmark/index.md
  content/workers/tutorials/send-emails-with-resend/index.md
  content/workers/tutorials/upload-assets-with-r2/index.md
Labels: product:workers, product:pages, size/s, product:ai-gateway, product:workers-ai

#14995 [Workers AI] Small changes / tweaks
  content/pages/functions/bindings.md
  content/vectorize/get-started/embeddings.md
  content/workers-ai/get-started/workers-wrangler.md
  layouts/_default/model.html
  layouts/partials/models/code-examples/summarization.md
  layouts/partials/models/code-examples/text-generation.md
  layouts/shortcodes/models-grouped-by-task.md
Labels: product:pages, size/s, product:workers-ai, product:vectorize

#14998 Update Configuring Custom Pages (Error and Challenge).md
  content/support/more-dashboard-apps/Cloudflare Custom Pages/Configuring Custom Pages (Error and Challenge).md
Labels: size/xs, product:support

#14963 [Fundamentals] Update sdks.md
  content/fundamentals/api/reference/sdks.md
Labels: size/xs, product:fundamentals

#15012 [ZT] Update salesforce-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-oidc.md
Labels: product:cloudflare-one, size/xs

#14855 Update true-client-ip-header.md
  content/network/true-client-ip-header.md
Labels: size/xs, product:network

#14947 Calls: Add content on datachannels and turn
  content/calls/datachannels.md
  content/calls/turn/custom-domains.md
  content/calls/turn/faq.md
  content/calls/turn/generate-credentials.md
  content/calls/turn/overview.md
  content/calls/turn/rfc-matrix.md
Labels: size/s, product:calls

#15013 Update true-client-ip-header.md
  content/network/true-client-ip-header.md
Labels: size/xs, product:network

#15010 [Chore] Fix ZT changelog formatting
  layouts/_default/list.html
  layouts/_default/single.html
Labels: size/s

#15021 Update developer-spotlight.md
  content/fundamentals/reference/developer-spotlight.md
Labels: size/s, product:fundamentals

#15024 Mark Page Rules as legacy product
  assets/dashboard-landing.json
  content/automatic-platform-optimization/reference/page-rule-integration.md
  content/bots/get-started/free.md
  content/bots/troubleshooting.md
  content/cache/concepts/default-cache-behavior.md
  content/cache/how-to/cache-rules/order.md
  content/cache/how-to/edge-browser-cache-ttl/create-page-rules.md
  content/cache/troubleshooting/cache-everything-ignore-query-strings.md
  content/china-network/reference/available-products.md
  content/cloudflare-for-platforms/cloudflare-for-saas/domain-support/custom-metadata.md
  content/cloudflare-one/policies/access/_index.md
  content/fundamentals/basic-tasks/preparing-for-surges-or-spikes-in-web-traffic.md
  content/fundamentals/reference/redirects.md
  content/rules/_index.md
  content/rules/_partials/_page-rules-deprecation.md
  content/rules/_partials/_page-rules-migration.md
  content/rules/normalization/settings.md
  content/rules/origin-rules/faq.md
  content/rules/page-rules/_index.md
  content/rules/page-rules/how-to/_index.md
  content/rules/page-rules/how-to/override-url-or-ip-address.md
  content/rules/page-rules/how-to/rewrite-host-headers.md
  content/rules/page-rules/how-to/url-forwarding.md
  content/rules/page-rules/manage.md
  content/rules/page-rules/reference/_index.md
  content/rules/page-rules/reference/additional-reference.md
  content/rules/page-rules/reference/recommended-rules.md
  content/rules/page-rules/reference/settings.md
  content/rules/page-rules/reference/wildcard-matching.md
  content/rules/page-rules/troubleshooting/_index.md
  content/rules/page-rules/troubleshooting/billing-and-subscription.md
  content/rules/page-rules/troubleshooting/general.md
  content/rules/reference/page-rules-migration/index.md
  content/support/Troubleshooting/HTTP Status Codes/3xx Redirection.md
  content/support/Troubleshooting/HTTP Status Codes/HTTP Status Codes.md
  content/support/third-party-software/Content Management System (CMS)/Caching HTML with Drupal.md
  content/support/third-party-software/Content Management System (CMS)/Caching Static HTML with WordPressWooCommerce.md
  content/support/third-party-software/e-Commerce/Caching Static HTML with Magento (Business and Enterprise only).md
  content/terraform/advanced-topics/best-practices.md
  content/terraform/tutorial/add-page-rules.md
  content/waf/reference/migration-guides/waf-managed-rules-migration.md
  content/waf/troubleshooting/facebook-sharing.md
  content/waiting-room/troubleshooting.md
  content/workers/configuration/workers-with-page-rules.md
  content/workers/reference/how-the-cache-works.md
  content/workers/runtime-apis/request.md
  data/changelogs/rules.yaml
  data/plans.json
  layouts/shortcodes/heading-pill.html
  layouts/shortcodes/inline-pill.html
  static/home.css
  static/style.css
Labels: product:workers, product:terraform, product:cloudflare-one, product:bots, product:rules, product:waiting-room, product:cache, product:waf, product:china-network, product:cloudflare-for-platforms, size/m, product:fundamentals, product:support, product:automatic-platform-optimization

#15022 [Docs Site] Style triple-quoted strings properly
  static/codeBlock.css
Labels: size/xs

#14928 Clarify _on prefix for handlers, for Python Workers
  content/workers/runtime-apis/handlers/_index.md
Labels: product:workers, size/xs

#15026 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#15028 [Bots] add JA4 field on BM variables + Workers
  content/bots/_partials/_firewall-variables.md
  content/bots/_partials/_workers-cf-request.md
  content/workers/runtime-apis/request.md
Labels: product:workers, product:bots, size/xs

#15029 [Gateway] SAML API example
  content/cloudflare-one/policies/gateway/identity-selectors.md
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#14918 [ZT] DLP will log 20 "bytes" of additional context
  content/cloudflare-one/policies/data-loss-prevention/dlp-policies/payload-logging.md
Labels: product:cloudflare-one, size/xs

#15032 [ZT] PowerShell for Python cert
  content/cloudflare-one/connections/connect-devices/warp/user-side-certificates/install-cloudflare-cert.md
Labels: product:cloudflare-one, size/s

#15002 [Workers AI] Update from API with schemas!
  content/workers-ai/models/bart-large-cnn.md
  content/workers-ai/models/bge-base-en-v1.5.md
  content/workers-ai/models/bge-large-en-v1.5.md
  content/workers-ai/models/bge-small-en-v1.5.md
  content/workers-ai/models/deepseek-coder-6.7b-base-awq.md
  content/workers-ai/models/deepseek-coder-6.7b-instruct-awq.md
  content/workers-ai/models/deepseek-math-7b-instruct.md
  content/workers-ai/models/detr-resnet-50.md
  content/workers-ai/models/discolm-german-7b-v1-awq.md
  content/workers-ai/models/distilbert-sst-2-int8.md
  content/workers-ai/models/dreamshaper-8-lcm.md
  content/workers-ai/models/falcon-7b-instruct.md
  content/workers-ai/models/gemma-2b-it-lora.md
  content/workers-ai/models/gemma-7b-it-lora.md
  content/workers-ai/models/gemma-7b-it.md
  content/workers-ai/models/hermes-2-pro-mistral-7b.md
  content/workers-ai/models/llama-2-13b-chat-awq.md
  content/workers-ai/models/llama-2-7b-chat-fp16.md
  content/workers-ai/models/llama-2-7b-chat-hf-lora.md
  content/workers-ai/models/llama-2-7b-chat-int8.md
  content/workers-ai/models/llama-3-8b-instruct-awq.md
  content/workers-ai/models/llama-3-8b-instruct.md
  content/workers-ai/models/llamaguard-7b-awq.md
  content/workers-ai/models/llava-1.5-7b-hf.md
  content/workers-ai/models/m2m100-1.2b.md
  content/workers-ai/models/meta-llama-3-8b-instruct.md
  content/workers-ai/models/mistral-7b-instruct-v0.1-awq.md
  content/workers-ai/models/mistral-7b-instruct-v0.1.md
  content/workers-ai/models/mistral-7b-instruct-v0.2-lora.md
  content/workers-ai/models/mistral-7b-instruct-v0.2.md
  content/workers-ai/models/neural-chat-7b-v3-1-awq.md
  content/workers-ai/models/openchat-3.5-0106.md
  content/workers-ai/models/openhermes-2.5-mistral-7b-awq.md
  content/workers-ai/models/phi-2.md
  content/workers-ai/models/qwen1.5-0.5b-chat.md
  content/workers-ai/models/qwen1.5-1.8b-chat.md
  content/workers-ai/models/qwen1.5-14b-chat-awq.md
  content/workers-ai/models/qwen1.5-7b-chat-awq.md
  content/workers-ai/models/resnet-50.md
  content/workers-ai/models/sqlcoder-7b-2.md
  content/workers-ai/models/stable-diffusion-v1-5-img2img.md
  content/workers-ai/models/stable-diffusion-v1-5-inpainting.md
  content/workers-ai/models/stable-diffusion-xl-base-1.0.md
  content/workers-ai/models/stable-diffusion-xl-lightning.md
  content/workers-ai/models/starling-lm-7b-beta.md
  content/workers-ai/models/tinyllama-1.1b-chat-v1.0.md
  content/workers-ai/models/uform-gen2-qwen-500m.md
  content/workers-ai/models/una-cybertron-7b-v2-bf16.md
  content/workers-ai/models/whisper-tiny-en.md
  content/workers-ai/models/whisper.md
  content/workers-ai/models/zephyr-7b-beta-awq.md
  layouts/partials/models/code-examples/image-to-text.md
  layouts/partials/models/responses/image-to-text.md
Labels: size/m, product:workers-ai

#14846 [Turnstile] Errors update
  content/turnstile/_partials/_troubleshooting-steps.md
  content/turnstile/troubleshooting/client-side-errors.md
  content/turnstile/troubleshooting/client-side-errors/_index.md
  content/turnstile/troubleshooting/client-side-errors/error-codes.md
  content/turnstile/troubleshooting/feedback-reports.md
  content/turnstile/troubleshooting/infinite-loops.md
  content/turnstile/troubleshooting/troubleshooting-faqs.md
Labels: size/m, product:turnstile

#15038 Page Rules Migration Guide: Clarify Cloudflare for SaaS examples
  content/rules/reference/page-rules-migration/index.md
Labels: product:rules, size/xs

#15034 Update Hyperdrive notes to reflect general availability
  content/hyperdrive/_partials/_beta-public-connectivity.md
  content/hyperdrive/_partials/_public-connectivity.md
  content/hyperdrive/configuration/connect-to-postgres.md
  content/hyperdrive/examples/aws-rds-aurora.md
  content/hyperdrive/examples/google-cloud-sql.md
Labels: size/s, product:hyperdrive

#15037 Update traffic-alerts.md to clarify origin error rate alert
  content/notifications/reference/traffic-alerts.md
Labels: size/xs, product:notifications

#15045 Update creating-gateway.md
  content/ai-gateway/get-started/creating-gateway.md
Labels: size/xs, product:ai-gateway

#15049 [ZVM] Page Shield limitation
  content/version-management/_partials/_product-limitations.md
Labels: product:version-management, size/xs

#15047 [ZT] Remove storage partitioned error
  content/cloudflare-one/faq/teams-troubleshooting.md
Labels: product:cloudflare-one, size/s

#14761 add Docusaurus to build-caching documentation
  content/pages/configuration/build-caching.md
Labels: product:pages, do-not-merge-yet, size/s

#14835 [reference architecture diagram] - pmm-876-image-resizing
  assets/images/reference-architecture/optimizing-image-delivery-with-cloudflare-image-resizing-and-r2-diagrams/optimizing-image-delivery-with-cloudflare-image-resizing-and-r2-diagram.svg
  content/reference-architecture/diagrams/content-delivery/_index.md
  content/reference-architecture/diagrams/content-delivery/optimizing-image-delivery-with-cloudflare-image-resizing-and-r2.md
Labels: product:reference-architecture, size/m

#15061 Fix Global Contribution Badge
  .github/holopin.yml
  .github/workflows/holopin.yml
Labels: size/s

#15040 [Workers AI] Manually add deprecation notice
  content/workers-ai/models/llama-2-7b-chat-int8.md
  data/changelogs/workers-ai.yaml
  layouts/_default/model.html
  layouts/shortcodes/models-grouped-by-task.md
Labels: size/s, product:workers-ai

#15054 [Risk Score] Risk behavior logs
  content/cloudflare-one/insights/risk-score.md
Labels: product:cloudflare-one, size/xs

#15063 [Stream] Changelog and permissions clarification
  content/stream/getting-analytics/_index.md
  data/changelogs/stream.yaml
Labels: product:stream, size/xs

#15064 [ZT] Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#15033 [ZT] Azure AD SCIM provisioning attributes
  content/cloudflare-one/identity/idp-integration/azuread.md
Labels: product:cloudflare-one, size/s

#15036 [ZT] SCIM secret expiration
  content/cloudflare-one/_partials/access/_enable-scim-on-dashboard.md
Labels: product:cloudflare-one, size/xs

#15050 [Risk Score] SentinelOne risk behavior
  content/cloudflare-one/identity/devices/service-providers/sentinelone.md
  content/cloudflare-one/insights/risk-score.md
Labels: product:cloudflare-one, do-not-merge-yet, size/s

#15067 Update magic-transit.md
  content/reference-architecture/architectures/magic-transit.md
Labels: product:reference-architecture, size/xs

#14807 Add the command to increase the number of ports available to cloudflared on Windows
  content/cloudflare-one/connections/connect-networks/deploy-tunnels/system-requirements.md
Labels: product:cloudflare-one, size/s

#15046 Update managed-networks.md
  content/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.md
Labels: product:cloudflare-one, size/s

#14812 [D1] Minor improvements
  content/_redirects
  content/d1/_index.md
  content/d1/build-with-d1/foreign-keys.md
  content/d1/build-with-d1/import-export-data.md
  content/d1/build-with-d1/remote-development.md
  content/d1/examples/query-d1-from-python-workers.md
  content/d1/reference/backups.md
  content/d1/reference/generated-columns.md
  data/changelogs/d1.yaml
Labels: product:d1, size/s, product:_redirects

#14957 [Workers] Adds New Python Examples
  content/workers/examples/cache-api.md
  content/workers/examples/protect-against-timing-attacks.md
  content/workers/examples/rewrite-links.md
  content/workers/examples/security-headers.md
  content/workers/examples/turnstile-html-rewriter.md
Labels: product:workers, size/m

#14694 [Workers] Adds New Python Examples
  content/workers/examples/geolocation-app-weather.md
  content/workers/examples/geolocation-custom-styling.md
  content/workers/examples/geolocation-hello-world.md
Labels: product:workers, size/s

#15075 [ZT] update WARP OS versions
  content/cloudflare-one/_partials/warp/system-requirements/_linux.md
  content/cloudflare-one/_partials/warp/system-requirements/_macOS.md
  content/cloudflare-one/_partials/warp/system-requirements/_windows.md
  content/cloudflare-one/connections/connect-devices/warp/download-warp/_index.md
  content/warp-client/get-started/_index.md
Labels: product:warp-client, product:cloudflare-one, size/m

#15069 Update caching.md
  content/ai-gateway/configuration/caching.md
Labels: size/xs, product:ai-gateway

#15042 [Access for SaaS] Jamf Pro and Slack tutorials
  content/cloudflare-one/applications/configure-apps/saas-apps/jamf-pro-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-oidc.md
  content/cloudflare-one/applications/configure-apps/saas-apps/salesforce-saas-saml.md
  content/cloudflare-one/applications/configure-apps/saas-apps/slack-saas.md
  content/cloudflare-one/applications/configure-apps/saas-apps/zendesk-sso-saas.md
Labels: product:cloudflare-one, size/m

#15068 Add that Pages are not supported to sentry integrations docs
  content/workers/observability/sentry-integration.md
Labels: product:workers, size/xs

#15076 Updates related to China network for CDN reference architecture
  content/reference-architecture/architectures/cdn.md
Labels: product:reference-architecture, size/xs

#15083 [Magic Cloud] add four more permissions to AWS custom policy
  content/magic-cloud-networking/get-started.md
Labels: size/xs, product:magic-cloud-networking

#15085 [ZT] Access glossary updates
  data/glossary/cloudflare-one.yaml
  data/glossary/ssl.yaml
Labels: size/s

#15088 [Page Rules] Update _index.md
  content/rules/page-rules/_index.md
Labels: product:rules, size/xs

#15077 Update developer-spotlight.md
  content/fundamentals/reference/developer-spotlight.md
Labels: size/xs, product:fundamentals

#15084 fixed discord link
  content/workers-ai/_partials/_file_issues.md
Labels: size/xs, product:workers-ai

#15073 Update _enable-dnssec.md
  content/registrar/_partials/_enable-dnssec.md
Labels: product:registrar, size/xs

#15092 [Docs Site] Fix header links
  content/ddos-protection/_partials/_ddos-attack-coverage.md
  content/waf/_partials/_rate-limiting-best-practices.md
  content/workers/observability/errors.md
Labels: product:workers, product:waf, size/s, product:ddos-protection

#15096 [ZT] WARP glossary entries
  data/glossary/cloudflare-one.yaml
Labels: size/s

#15103 Delete duplicate custom thenables compat flag section
  content/workers/_partials/_platform-compatibility-dates/unwrap_custom_thenables.md
Labels: product:workers, size/s

#15106 Access env via cloudflare object in Remix starter example
  content/d1/examples/d1-and-remix.md
Labels: product:d1, size/xs
