Repository cloudflare/cloudflare-docs, pull requests merged in 2025-03, with the labels that each got.

#20393 [ZT] Remove cert warning banner
  src/content/docs/cloudflare-one/applications/non-http/infrastructure-apps.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/automated-deployment.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/custom-certificate.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/manual-deployment.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/block-page.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/antivirus-scanning.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/common-policies.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/http3.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tenant-control.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tls-decryption.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/websocket.mdx
Labels: product:cloudflare-one, do-not-merge-yet, size/s

#20446 [Docs Site] chore: optimize more SVGs
  src/assets/images/agents/agent-workflow.svg
  src/assets/images/agents/co-pilot.svg
  src/assets/images/agents/human-in-the-loop.svg
  src/assets/images/agents/workflow-automation.svg
  src/assets/images/changelog/hero.svg
  src/icons/learning-paths.svg
  src/icons/notifications.svg
  src/icons/speed.svg
Labels: size/xl

#20430 [Docs Site] Remove duplicate markup link fragment
  src/content/docs/d1/get-started.mdx
Labels: product:d1, size/xs

#20431 Update set-up-guardrail.mdx
  src/content/docs/ai-gateway/guardrails/set-up-guardrail.mdx
Labels: size/xs, product:ai-gateway

#20370 Make edit and issue buttons less glaring
  src/components/overrides/TableOfContents.astro
Labels: size/xs

#20323 [Rules] Removing the page rules article rewrite-host-headers
  public/_redirects
  src/content/docs/cache/how-to/cache-keys.mdx
  src/content/docs/load-balancing/pools/cloudflare-pages-origin.mdx
  src/content/docs/rules/page-rules/how-to/override-url-or-ip-address.mdx
  src/content/docs/rules/page-rules/how-to/rewrite-host-headers.mdx
  src/content/docs/rules/page-rules/reference/settings.mdx
  src/content/docs/rules/transform/url-rewrite/index.mdx
  src/content/partials/learning-paths/limit-external-connections-application.mdx
  src/content/partials/load-balancing/route-production-traffic.mdx
Labels: product:load-balancing, product:rules, product:cache, size/m

#20468 [Docs Site] Add video page onto Learning Path cards
  src/components/LearningPathCatalog.tsx
  src/content/learning-paths/sase-overview-course.json
  src/schemas/learning-paths.ts
Labels: size/s

#20333 [Docs Site] Add SubtractIPCalculator component
  package-lock.json
  package.json
  src/components/SubtractIPCalculator.tsx
  src/content/docs/style-guide/components/subtract-ip-calculator.mdx
Labels: size/m, product:style-guide

#20104 [Magic Firewall] Update the bucket name in the packet capture doc
  src/content/docs/magic-firewall/packet-captures/collect-pcaps.mdx
  src/content/docs/magic-firewall/packet-captures/pcaps-bucket-setup.mdx
Labels: size/xs, product:magic-firewall

#20475 [Docs Site] Overhaul Stream component and add chapters
  package-lock.json
  package.json
  src/components/Stream.astro
  src/components/homepage/FeaturedContentSection.astro
  src/content/docs/china-network/index.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/index.mdx
  src/content/docs/d1/tutorials/build-a-comments-api/index.mdx
  src/content/docs/durable-objects/get-started/video-series/app-frontend.mdx
  src/content/docs/durable-objects/get-started/video-series/deploy-app.mdx
  src/content/docs/durable-objects/get-started/video-series/durable-objects.mdx
  src/content/docs/durable-objects/get-started/video-series/intro.mdx
  src/content/docs/durable-objects/get-started/video-series/make-answer-webrtc-calls.mdx
  src/content/docs/durable-objects/get-started/video-series/real-time-messaging.mdx
  src/content/docs/durable-objects/get-started/video-series/serverless-websocket.mdx
  src/content/docs/learning-paths/sase-overview-course/series/connect-secure-from-any-network-to-anywhere-4.mdx
  src/content/docs/learning-paths/sase-overview-course/series/evolution-corporate-networks-1.mdx
  src/content/docs/learning-paths/sase-overview-course/series/protect-users-from-internet-risks-5.mdx
  src/content/docs/learning-paths/sase-overview-course/series/secure-remote-access-to-critical-infrastructure-3.mdx
  src/content/docs/learning-paths/sase-overview-course/series/stop-hosting-own-vpn-service-2.mdx
  src/content/docs/learning-paths/workers/devplat/intro-to-devplat.mdx
  src/content/docs/pages/framework-guides/deploy-a-hono-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-nuxt-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-astro-site.mdx
  src/content/docs/pages/framework-guides/nextjs/index.mdx
  src/content/docs/pages/tutorials/build-a-blog-using-nuxt-and-sanity/index.mdx
  src/content/docs/pages/tutorials/build-an-api-with-pages-functions/index.mdx
  src/content/docs/style-guide/components/stream.mdx
  src/content/docs/use-cases/ai.mdx
  src/content/docs/workers-ai/function-calling/index.mdx
  src/content/docs/workers-ai/tutorials/explore-code-generation-using-deepseek-coder-models.mdx
  src/content/docs/workers-ai/tutorials/explore-workers-ai-models-using-a-jupyter-notebook.mdx
  src/content/docs/workers-ai/tutorials/how-to-choose-the-right-text-generation-model.mdx
  src/content/docs/workers-ai/tutorials/image-generation-playground/image-generator-flux-newmodels.mdx
  src/content/docs/workers-ai/tutorials/image-generation-playground/image-generator-flux.mdx
  src/content/docs/workers-ai/tutorials/image-generation-playground/image-generator-store-and-catalog.mdx
  src/content/docs/workers/observability/logs/index.mdx
  src/content/docs/workers/runtime-apis/rpc/index.mdx
  src/content/docs/workflows/examples/twilio.mdx
  src/content/partials/fundamentals/what-is-cloudflare.mdx
  src/content/partials/logs/video-send-network-analytics-logs-to-splunk.mdx
Labels: product:workers, product:pages, product:d1, product:china-network, product:cloudflare-for-platforms, product:durable-objects, size/m, product:learning-paths, product:style-guide, product:workers-ai, product:use-cases, product:workflows

#20483 [Docs Site] Add nowrap to external link arrow
  src/styles/links.css
Labels: size/xs

#20189 Create X25519MLKEM768 entry for nginx
  src/content/docs/ssl/post-quantum-cryptography/pqc-support.mdx
Labels: product:ssl, size/xs

#20429 [Gateway] GraphQL datasets and queries
  src/content/docs/cloudflare-one/insights/analytics/gateway.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#20320 [CF1] failed to fetch user/group info
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
  src/content/docs/cloudflare-one/identity/idp-integration/gsuite.mdx
Labels: product:cloudflare-one, size/s

#20484 [ZT] mTLS supports HTTP/3
  src/content/docs/cloudflare-one/identity/devices/access-integrations/mutual-tls-authentication.mdx
Labels: product:cloudflare-one, size/xs

#20469 [Docs Site] Add APIRequest and CURL components
  astro.config.ts
  package-lock.json
  package.json
  src/components/APIRequest.astro
  src/components/CURL.astro
  src/components/index.ts
  src/components/live-code/Layout.astro
  src/content/docs/api-shield/security/schema-validation/configure.mdx
  src/content/docs/style-guide/components/api-request.mdx
  src/content/docs/style-guide/components/curl.mdx
  src/styles/live-code.css
  src/util/api.ts
Labels: product:api-shield, size/m, product:style-guide

#20400 Add zrt option
  src/content/docs/ssl/edge-certificates/additional-options/tls-13.mdx
Labels: product:ssl, size/xs

#20490 [CF1] minor error
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
Labels: product:cloudflare-one, size/xs

#20485 [Changelog] Access for saas saml
  src/assets/images/changelog/access/oidc-claims.png
  src/assets/images/changelog/access/saml-attribute-statements.png
  src/assets/images/changelog/access/transformation-box.png
  src/content/changelog/access/2025-03-03-saml-oidc-fields-saml-transformations.mdx
Labels: size/s

#20494 Add expected behaviors for user lifecycle management to dash SCIM docs
  src/content/docs/fundamentals/setup/account/account-security/scim-setup.mdx
Labels: size/s, product:fundamentals

#20360 [Vitest Integration] add vitest debugging guide
  src/content/docs/workers/testing/vitest-integration/debugging.mdx
Labels: product:workers, size/s

#20514 [Security Center] RFIs Delete functionality
  src/content/docs/security-center/cloudforce-one/index.mdx
Labels: product:security-center, size/xs

#20496 Update limits.mdx
  src/content/docs/browser-rendering/platform/limits.mdx
Labels: product:browser-rendering, size/xs

#20497 Update usage-considerations.mdx
  src/content/docs/ai-gateway/guardrails/usage-considerations.mdx
Labels: size/xs, product:ai-gateway

#20448 Add how to use system prompt to github copilot #20046
  src/content/docs/workers/get-started/prompting.mdx
Labels: product:workers, size/xs

#20517 [Security Center] Access Cloudforce One
  src/content/docs/security-center/cloudforce-one/index.mdx
Labels: product:security-center, size/s

#20520 [Security Center] Cloudforce One API docs
  src/content/docs/security-center/cloudforce-one/index.mdx
  src/content/docs/security-center/intel-apis/index.mdx
Labels: product:security-center, size/xs

#20533 [Gateway] ECH guidance
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tls-decryption.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#20411 EW-6697 Remove workers.dev Cache API restriction
  src/content/docs/workers/runtime-apis/cache.mdx
Labels: product:workers, size/xs

#20501 [Docs Site] Support parameter substitution in APIRequest
  src/components/APIRequest.astro
  src/content/docs/style-guide/components/api-request.mdx
Labels: size/s, product:style-guide

#20478 [Docs Site] Upgrade Astro to 5.4.1 and Starlight to 0.32.2
  package-lock.json
  package.json
  src/components/Description.astro
  src/components/Flex.astro
  src/components/HomepageHero.astro
  src/components/MetaInfo.astro
  src/components/RelatedProduct.astro
  src/components/homepage/FooterHeroBlock.astro
  src/components/homepage/TryItSection.astro
  src/components/models/SchemaViewer.astro
  src/components/overrides/Footer.astro
  src/components/overrides/Head.astro
  src/components/overrides/Hero.astro
  src/components/overrides/Page.astro
  src/components/overrides/PageTitle.astro
  src/components/overrides/Sidebar.astro
  src/components/overrides/SocialIcons.astro
  src/components/overrides/TableOfContents.astro
  src/util/props.ts
  src/util/sidebar.ts
  worker/index.worker.test.ts
Labels: size/xl

#20552 [SSL] Remove instruction to reach out to keyless via email
  src/content/docs/ssl/keyless-ssl/hardware-security-modules/index.mdx
Labels: product:ssl, size/xs

#20550 [Logs] Adds one click logpush instructions
  src/assets/images/logs/logs-r2.png
  src/content/docs/logs/get-started/enable-destinations/r2.mdx
Labels: product:logs, size/s

#20551 [MCN] Federated account access
  src/content/docs/magic-cloud-networking/get-started.mdx
Labels: size/m, product:magic-cloud-networking

#20527 Update index.mdx
  src/content/docs/ai-gateway/observability/logging/index.mdx
Labels: size/xs, product:ai-gateway

#20553 [Security Center] Batch submission of URLs
  src/content/docs/radar/investigate/url-scanner.mdx
Labels: size/xs, product:radar

#20066 [DNS] Internal DNS initial docs
  src/content/docs/dns/internal-dns/analytics.mdx
  src/content/docs/dns/internal-dns/connectivity.mdx
  src/content/docs/dns/internal-dns/dns-views.mdx
  src/content/docs/dns/internal-dns/get-started.mdx
  src/content/docs/dns/internal-dns/index.mdx
  src/content/docs/dns/internal-dns/internal-zones/index.mdx
  src/content/docs/dns/internal-dns/internal-zones/reference-zones.mdx
  src/content/docs/dns/internal-dns/internal-zones/setup.mdx
  src/content/partials/dns/internal-dns-beta-note.mdx
  src/content/partials/dns/internal-dns-view-conditions.mdx
  src/content/partials/dns/internal-reference-zone-api.mdx
  src/content/partials/dns/internal-zones-conditions.mdx
Labels: product:dns, size/m

#20558 [MCONN] Added missing param
  src/content/partials/magic-wan/connector/configure-connectors.mdx
Labels: size/xs

#19846 Document wrangler r2 lock command (list, add, remove, set)
  src/content/docs/r2/buckets/bucket-locks.mdx
  src/content/partials/workers/wrangler-commands/r2.mdx
Labels: do-not-merge-yet, product:r2, size/m

#20535 Calls: Update API diagram to Mermaid and Improve DataChannel page
  src/assets/images/calls/deprecated-lifecycle-of-a-session.png
  src/assets/images/calls/lifecycle-of-a-session.png
  src/content/docs/calls/datachannels.mdx
  src/content/docs/calls/https-api.mdx
Labels: size/m, product:calls

#20556 [Email Security] Specify detection logs
  src/content/docs/cloudflare-one/insights/logs/enable-logs.mdx
Labels: product:cloudflare-one, size/xs

#20503 [ZT] Access for SaaS: SAML attributes
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/generic-saml-saas.mdx
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/index.mdx
Labels: product:cloudflare-one, size/m

#20447 [Docs Site] chore: tweak grammar of PR comment for external
  .github/workflows/pr.yml
Labels: size/xs

#20482 [LB] Update limitations.mdx
  src/content/docs/load-balancing/reference/limitations.mdx
Labels: product:load-balancing, size/xs

#20574 [MCN] Refined steps
  src/content/docs/magic-cloud-networking/get-started.mdx
Labels: size/xs, product:magic-cloud-networking

#20521 update Docusaurus on Workers with Assets guide now that it no longer experimental
  src/content/docs/workers/frameworks/framework-guides/docusaurus.mdx
Labels: product:workers, size/xs

#19986 Erin/china network update
  public/_redirects
  src/content/docs/china-network/concepts/china-express.mdx
  src/content/docs/china-network/concepts/global-acceleration.mdx
  src/content/docs/china-network/index.mdx
Labels: product:china-network, size/m

#20576 [MT/MWAN] Summarized routes + IP ranges
  src/content/docs/magic-transit/how-to/configure-static-routes.mdx
  src/content/docs/magic-wan/configuration/manually/how-to/configure-static-routes.mdx
  src/content/partials/magic-transit/static-routes.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#20273 [Rules] Snippets UI updates
  src/content/docs/rules/snippets/create-dashboard.mdx
  src/content/docs/rules/snippets/index.mdx
Labels: product:rules, size/s

#20561 [Email Security] Redirect users to logs
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/api/office365-api.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/bcc-setup/bcc-microsoft-exchange.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/bcc-setup/gmail-bcc-setup/enable-gmail-integration.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/office365-journaling.mdx
  src/content/partials/cloudflare-one/email-security/enable-logs.mdx
Labels: product:cloudflare-one, size/s

#19761 Secret bindings note - replaced Pages content with partial
  src/content/docs/pages/functions/bindings.mdx
Labels: product:pages, size/xs

#20488 [Brower Isolation] Changelog entry for logging
  src/content/changelog/browser-isolation/2025-03-03-user-action-logging.mdx
  src/content/docs/logs/reference/log-fields/account/biso_user_actions.md
  src/content/docs/logs/reference/log-fields/account/dns_firewall_logs.md
  src/content/docs/logs/reference/log-fields/account/gateway_dns.md
  src/content/docs/logs/reference/log-fields/account/network_analytics_logs.md
  src/content/docs/logs/reference/log-fields/account/workers_trace_events.md
  src/content/docs/logs/reference/log-fields/account/zero_trust_network_sessions.md
  src/content/docs/logs/reference/log-fields/zone/dns_logs.md
  src/content/docs/logs/reference/log-fields/zone/firewall_events.md
  src/content/docs/logs/reference/log-fields/zone/http_requests.md
  src/content/docs/logs/reference/log-fields/zone/page_shield_events.md
  src/content/docs/logs/reference/log-fields/zone/spectrum_events.md
Labels: product:logs, size/m

#20559 [Browser rendering]new REST api release notes
  src/content/release-notes/browser-rendering.yaml
Labels: size/xs

#20569 Update pricing.mdx
  src/content/docs/ai-gateway/reference/pricing.mdx
Labels: size/xs, product:ai-gateway

#20568 Update index.mdx
  src/content/docs/ai-gateway/observability/logging/index.mdx
Labels: size/s, product:ai-gateway

#20583 [Docs Site] Support FormData in APIRequest
  src/components/APIRequest.astro
  src/components/CURL.astro
  src/content/docs/style-guide/components/api-request.mdx
  src/content/docs/style-guide/components/curl.mdx
Labels: size/s, product:style-guide

#20325 [CF1] generic saml cert expiration
  src/content/docs/cloudflare-one/identity/idp-integration/generic-saml.mdx
Labels: product:cloudflare-one, size/s

#20214 Workers react framework guide
  src/content/docs/workers/frameworks/framework-guides/react.mdx
Labels: product:workers, size/s

#20571 Remove unimplemented command from Wrangler commands docs
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/s

#20585 [Security Center] Add roles to CF Fundamentals
  src/content/docs/fundamentals/setup/manage-members/roles.mdx
Labels: size/xs, product:fundamentals

#20587 [Email Security] Large scale moves
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
Labels: product:cloudflare-one, size/xs

#20581 [Support] Updates 1XXX page
  src/content/docs/support/troubleshooting/cloudflare-errors/troubleshooting-cloudflare-1xxx-errors.mdx
Labels: size/m, product:support

#20588 updating stream ids
  src/content/docs/learning-paths/sase-overview-course/series/connect-secure-from-any-network-to-anywhere-4.mdx
  src/content/docs/learning-paths/sase-overview-course/series/evolution-corporate-networks-1.mdx
  src/content/docs/learning-paths/sase-overview-course/series/protect-users-from-internet-risks-5.mdx
  src/content/docs/learning-paths/sase-overview-course/series/secure-remote-access-to-critical-infrastructure-3.mdx
  src/content/docs/learning-paths/sase-overview-course/series/stop-hosting-own-vpn-service-2.mdx
Labels: size/xs, product:learning-paths

#20567 [Fundamentals] Update message about verifying device
  src/content/docs/fundamentals/setup/account/account-security/2fa.mdx
Labels: size/xs, product:fundamentals

#20592 [Docs Site] Re-design /search/ and add view more results footer to searchbox
  package-lock.json
  package.json
  src/components/search/InstantSearch.tsx
  src/pages/search.astro
  src/plugins/docsearch/index.ts
Labels: size/l

#20479 [CF1] Gsuite IdP guide update
  src/assets/images/cloudflare-one/identity/google/click-configure-consent.png
  src/assets/images/cloudflare-one/identity/google/configure-consent-screen.png
  src/assets/images/cloudflare-one/identity/google/create-oauth-client.png
  src/assets/images/cloudflare-one/identity/google/create-oauth.png
  src/assets/images/cloudflare-one/identity/gsuite/trust-internal-apps.png
  src/content/docs/cloudflare-one/identity/idp-integration/google.mdx
  src/content/docs/cloudflare-one/identity/idp-integration/gsuite.mdx
Labels: product:cloudflare-one, size/s

#20566 Add R2 bucket lock changelog entry + update bucket lock docs
  src/content/changelog/r2/2025-03-06-r2-bucket-locks.mdx
  src/content/docs/r2/buckets/bucket-locks.mdx
  src/content/partials/workers/wrangler-commands/r2.mdx
Labels: product:r2, size/s

#20595 Sahidya/oneclick logpush changelog
  src/assets/images/changelog/logs/Oneclick.gif
  src/content/changelog/logs/2025-03-06-oneclick-logpush.mdx
Labels: size/s

#20591 [Cache] Update purge-by-single-file.mdx
  src/content/docs/cache/how-to/purge-cache/purge-by-single-file.mdx
Labels: product:cache, size/xs

#20596 [Docs Site] Track component usage in style guide
  package-lock.json
  package.json
  src/components/ComponentsUsage.astro
  src/components/index.ts
  src/components/overrides/PageTitle.astro
  src/content/docs/style-guide/components/anchor-heading.mdx
  src/content/docs/style-guide/components/api-request.mdx
  src/content/docs/style-guide/components/available-notifications.mdx
  src/content/docs/style-guide/components/buttons.mdx
  src/content/docs/style-guide/components/cards.mdx
  src/content/docs/style-guide/components/code.mdx
  src/content/docs/style-guide/components/compatibility-flag.mdx
  src/content/docs/style-guide/components/curl.mdx
  src/content/docs/style-guide/components/description.mdx
  src/content/docs/style-guide/components/details.mdx
  src/content/docs/style-guide/components/directory-listing.mdx
  src/content/docs/style-guide/components/example.mdx
  src/content/docs/style-guide/components/external-resources.mdx
  src/content/docs/style-guide/components/feature-table.mdx
  src/content/docs/style-guide/components/feature.mdx
  src/content/docs/style-guide/components/file-tree.mdx
  src/content/docs/style-guide/components/flex.mdx
  src/content/docs/style-guide/components/glossary-definition.mdx
  src/content/docs/style-guide/components/glossary-tooltip.mdx
  src/content/docs/style-guide/components/glossary.mdx
  src/content/docs/style-guide/components/inline-badge.mdx
  src/content/docs/style-guide/components/link-cards.mdx
  src/content/docs/style-guide/components/list-examples.mdx
  src/content/docs/style-guide/components/list-tutorials.mdx
  src/content/docs/style-guide/components/markdown.mdx
  src/content/docs/style-guide/components/package-managers.mdx
  src/content/docs/style-guide/components/pages-build-environment.mdx
  src/content/docs/style-guide/components/pages-build-preset.mdx
  src/content/docs/style-guide/components/pages-build-presets-table.mdx
  src/content/docs/style-guide/components/plan-info.mdx
  src/content/docs/style-guide/components/plan.mdx
  src/content/docs/style-guide/components/product-features.mdx
  src/content/docs/style-guide/components/products-by-tag.mdx
  src/content/docs/style-guide/components/public-stats.mdx
  src/content/docs/style-guide/components/related-product.mdx
  src/content/docs/style-guide/components/render.mdx
  src/content/docs/style-guide/components/resources-by-selector.mdx
  src/content/docs/style-guide/components/rule-id.mdx
  src/content/docs/style-guide/components/spotlight-author-details.mdx
  src/content/docs/style-guide/components/steps.mdx
  src/content/docs/style-guide/components/stream.mdx
  src/content/docs/style-guide/components/subtract-ip-calculator.mdx
  src/content/docs/style-guide/components/tabs.mdx
  src/content/docs/style-guide/components/type-highlighting.mdx
  src/content/docs/style-guide/components/typescript-example.mdx
  src/content/docs/style-guide/components/usage.mdx
  src/content/docs/style-guide/components/worker-starter.mdx
  src/content/docs/style-guide/components/youtube.mdx
  src/schemas/base.ts
  src/util/components.ts
Labels: size/m, product:style-guide

#20420 Update TURN credential generation docs to use /generate-ice-servers
  src/content/docs/calls/turn/generate-credentials.mdx
Labels: size/s, product:calls

#20570 [Gateway] Generic DoT/DoH endpoints
  src/assets/images/cloudflare-one/connections/get-unique-subdomain.png
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-tls.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#20590 [Gateway] Remove domain selector for Force IP version
  src/content/docs/cloudflare-one/policies/gateway/dns-policies/common-policies.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#20441 Build a rag tutorial updates
  src/content/docs/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.mdx
Labels: size/s, product:workers-ai

#20435 Changing @cloudflare/textsplitters to @langchain/textsplitters correct package name
  src/content/docs/workers-ai/tutorials/build-a-retrieval-augmented-generation-ai.mdx
Labels: size/xs, product:workers-ai

#20599 [ZT] Update service provider instructions
  src/content/docs/cloudflare-one/identity/devices/service-providers/crowdstrike.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/kolide.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/microsoft.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/sentinelone.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/taniums2s.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/uptycs.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/workspace-one.mdx
  src/content/partials/cloudflare-one/posture/test-posture-provider.mdx
Labels: product:cloudflare-one, size/s

#20602 [Turnstile] Removes availability
  src/content/docs/turnstile/concepts/widget.mdx
  src/content/docs/turnstile/index.mdx
Labels: size/xs, product:turnstile

#20532 [Stream] Documentation edits
  src/content/changelog/stream/2025-03-06-media-transformations.mdx
  src/content/docs/stream/transform-videos/index.mdx
Labels: product:stream, size/m

#20606 [Stream] URL format correction, beta badge
  src/content/docs/stream/transform-videos/index.mdx
Labels: product:stream, size/xs

#20612 [Workflows] Cleaning up "Platform" sidebar
  public/_redirects
  src/content/docs/workflows/reference/index.mdx
  src/content/docs/workflows/reference/storage-options.mdx
Labels: size/s, product:workflows

#20499 fix: Update API docs links to prevent 404s
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/prioritized-traffic.mdx
Labels: size/xs, product:magic-wan

#20604 Update pricing.mdx
  src/content/docs/ai-gateway/reference/pricing.mdx
Labels: size/xs, product:ai-gateway

#20579 remove all `the the` and `and and` repetitions
  src/content/docs/browser-rendering/rest-api/scrape-endpoint.mdx
  src/content/docs/cloudflare-one/email-security/phish-submissions.mdx
  src/content/docs/d1/best-practices/query-d1.mdx
  src/content/docs/learning-paths/secure-o365-email/configure-email-security/report-phish.mdx
  src/content/docs/zaraz/consent-management/iab-tcf-compliance.mdx
  src/content/docs/zaraz/reference/context.mdx
  src/content/release-notes/images.yaml
  src/content/workers-ai-models/whisper-large-v3-turbo.json
Labels: product:cloudflare-one, product:d1, product:browser-rendering, size/s, product:zaraz, product:learning-paths

#20589 fix up assets c3 command
  src/content/docs/workers/frameworks/index.mdx
Labels: product:workers, size/xs

#20615 [Magic] Removed no longer used vars
  src/content/docs/magic-transit/how-to/configure-static-routes.mdx
  src/content/docs/magic-wan/configuration/connector/configure-hardware-connector/index.mdx
  src/content/docs/magic-wan/configuration/connector/configure-virtual-connector.mdx
  src/content/partials/magic-wan/connector/configure-connectors.mdx
Labels: size/xs, product:magic-transit, product:magic-wan

#20616 [Email Security] Attachments
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
Labels: product:cloudflare-one, size/xs

#20620 [WAF] Fix output syntax highlighting in migration guide
  src/content/docs/waf/reference/migration-guides/waf-managed-rules-migration.mdx
Labels: product:waf, size/s

#20617 [AIG]fix broken link
  src/content/docs/ai-gateway/configuration/fallbacks.mdx
Labels: size/xs, product:ai-gateway

#20555 Update edgeworker release notes for last week's releases.
  src/content/release-notes/workers.yaml
Labels: size/xs

#20239 [Hyperdrive] Hyperdrive pool placement improvement + ip address egress
  src/assets/images/hyperdrive/configuration/hyperdrive-regional-pooling-query-latency-improvement.png
  src/content/changelog/hyperdrive/2025-03-04-hyperdrive-pooling-near-database-and-ip-range-egress.mdx
  src/content/docs/hyperdrive/configuration/firewall-and-networking-configuration.mdx
  src/content/docs/hyperdrive/configuration/how-hyperdrive-works.mdx
  src/content/docs/hyperdrive/reference/faq.mdx
  src/content/release-notes/hyperdrive.yaml
Labels: size/s, product:hyperdrive

#20629 Hyperdrive changelog typo
  src/content/release-notes/hyperdrive.yaml
Labels: size/xs

#20626 Pushing up changelog for the release of endpoint monitoring for digit…
  src/assets/images/changelog/dex/cloudflare-one-agent-health-monitoring.gif
  src/content/changelog/dex/2025-03-07-cloudflare-one-device-health-monitoring.mdx
Labels: size/s

#20605 Update logging-options.mdx
  src/content/docs/cloudflare-one/insights/logs/logpush.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/logging-options.mdx
Labels: product:cloudflare-one, size/s

#20368 Explain bindings vs REST APIs
  src/content/docs/workers/runtime-apis/bindings/index.mdx
Labels: product:workers, size/xs

#20600 [Gateway] Resolver policy and Terraform precedence
  src/content/docs/cloudflare-one/policies/gateway/dns-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/network-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/resolver-policies.mdx
  src/content/partials/cloudflare-one/gateway/create-resolver-policy.mdx
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
  src/content/partials/cloudflare-one/gateway/terraform-precedence-warning.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#20641 [Challenges] Caveats for Transform Rules and custom error pages
  src/content/docs/waf/reference/cloudflare-challenges.mdx
Labels: product:waf, size/xs

#20519 agents: fix typo
  src/content/docs/agents/api-reference/configuration.mdx
Labels: size/xs, product:agents

#20631 prompt: improve import guidance
  src/content/partials/prompts/base-prompt.txt
Labels: size/s

#20636 workflows: creation rate limit
  src/content/docs/workflows/reference/limits.mdx
Labels: size/xs, product:workflows

#20661 Remove typo in tutorial's index.js code
  src/content/docs/cloudflare-one/tutorials/extend-sso-with-workers.mdx
Labels: product:cloudflare-one, size/xs

#20664 [MCN onramps] Corrected links
  src/content/partials/magic-cloud-networking/magic-wan-on-ramps.mdx
Labels: size/xs

#20630 [Docs Site] Adopt new header styling
  astro.config.ts
  package-lock.json
  package.json
  src/components/HeaderDropdowns.tsx
  src/components/overrides/Header.astro
  src/components/overrides/SocialIcons.astro
  src/styles/title.css
Labels: size/m

#20637 docs: Add examples for scheduled handlers in Cron Triggers documentation
  src/content/docs/workers/configuration/cron-triggers.mdx
  src/content/docs/workers/examples/cron-trigger.mdx
  src/content/partials/workers/cron-trigger-example.mdx
Labels: product:workers, size/s

#20675 [MT] Clarified language around BGP prefix advertisement
  src/assets/images/magic-transit/bgp-diagram.png
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
Labels: size/xs, product:magic-transit

#20669 [Fundamentals] Update API token permission names
  src/content/docs/fundamentals/api/reference/permissions.mdx
  src/content/partials/fundamentals/account-permissions-table.mdx
  src/content/partials/fundamentals/zone-permissions-table.mdx
Labels: size/m, product:fundamentals

#20673 [WARP] Fix latest Linux release version number
  src/content/warp-releases/linux/ga/2025.1.861.0.yaml
Labels: size/xs

#20680 [ZT] Device enrollment policy flow
  src/content/partials/cloudflare-one/warp/service-token-enrollment.mdx
Labels: size/xs

#20676 [3rd Party]Update using-cloudflare-with-various-forums-vbulletin-xenf…
  src/content/docs/support/third-party-software/forum-software/using-cloudflare-with-various-forums-vbulletin-xenforo-mybb.mdx
Labels: size/xs, product:support

#20679 [BRAPI] reference links
  src/content/docs/browser-rendering/rest-api/content-endpoint.mdx
  src/content/docs/browser-rendering/rest-api/snapshot.mdx
Labels: product:browser-rendering, size/xs

#20682 [Workers AI] Updates Traditional Function Calling Example
  src/content/docs/workers-ai/function-calling/index.mdx
Labels: size/xs, product:workers-ai

#20674 [Browser Rendering ]added limits link
  src/content/docs/browser-rendering/platform/limits.mdx
  src/content/partials/browser-rendering/limits-increase.mdx
Labels: product:browser-rendering, size/s

#20634 Add MCP server documentation
  src/content/docs/agents/examples/build-mcp-server.mdx
Labels: size/m, product:agents

#20638 [ZT] Access policy tester
  src/content/docs/cloudflare-one/policies/access/policy-management.mdx
Labels: product:cloudflare-one, size/s

#20694 [API Shield] Add Authentication Posture to list of OWASP issues
  src/content/docs/api-shield/security/index.mdx
Labels: product:api-shield, size/xs

#20618 Remove mentions of Wrangler & Miniflare v2
  src/content/docs/d1/tutorials/build-a-comments-api/index.mdx
  src/content/docs/pages/how-to/use-direct-upload-with-continuous-integration.mdx
  src/content/docs/workers/wrangler/custom-builds.mdx
  src/content/partials/kv/tutorials-wrangler-v1-warning.mdx
  src/content/partials/workers/tutorials-wrangler-v1-warning.mdx
  src/content/partials/workers/wrangler-v1-deprecation.mdx
Labels: product:workers, product:pages, product:d1, size/s

#20703 [MCN] Added roles
  src/content/docs/magic-cloud-networking/get-started.mdx
Labels: size/xs, product:magic-cloud-networking

#20704 [Magic] Updating API paths and use APIRequest
  src/content/docs/magic-network-monitoring/tutorials/encrypt-network-flow-data.mdx
  src/content/docs/magic-transit/how-to/configure-magic-tunnel-alerts.mdx
  src/content/docs/magic-wan/configuration/common-settings/configure-magic-tunnel-alerts.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/network-segmentation.mdx
Labels: size/m, product:magic-transit, product:magic-wan, product:magic-network-monitoring

#20684 [Logs] Adds information about status code
  src/content/docs/logs/get-started/alerts-and-analytics.mdx
Labels: product:logs, size/xs

#20577 [Rules] Update dash instructions for features now in Settings
  src/content/docs/rules/normalization/manage.mdx
  src/content/docs/rules/transform/managed-transforms/configure.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-dashboard.mdx
Labels: product:rules, size/s

#20706 [Fundamentals] Updated Magic tokens
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#20686 [Radar] Deprecate layer 7 attack magnitude parameter
  src/content/changelog/radar/2025-02-27-radar-dns-insights.mdx
  src/content/docs/radar/investigate/application-layer-attacks.mdx
  src/content/release-notes/api-deprecations.yaml
Labels: size/s, product:radar

#20707 [CNI] Updated Direct CNI status
  src/content/docs/network-interconnect/express-cni/create-interconnects.mdx
Labels: product:network-interconnect, size/xs

#20693 [Style guide] Added property
  src/content/docs/style-guide/frontmatter/custom-properties.mdx
Labels: size/xs, product:style-guide

#20671 Hyperlint config updates
  .github/workflows/pr.yml
  .hyperlint/config.yaml
Labels: size/s

#20708 [Docs Site] Adopt new footer styling
  src/components/homepage/FooterHeroBlock.astro
  src/components/overrides/Footer.astro
Labels: size/m

#20642 Adds changelog and flag information for process.env population
  src/content/changelog/workers/2025-03-11-process-env-support.mdx
  src/content/compatibility-flags/nodejs-compat-populate-process-env.md
  src/content/docs/workers/runtime-apis/nodejs/process.mdx
Labels: product:workers, size/s

#20546 [Fundamentals] Update cannot-add-domain.mdx
  src/content/docs/dns/zone-setups/troubleshooting/cannot-add-domain.mdx
Labels: product:dns, size/s

#20695 [Stream] Temporary edit. Full URLs required for Media Transforms beta; working on fix.
  src/content/docs/stream/transform-videos/index.mdx
Labels: product:stream, size/xs

#20584 Add Workers Assets + Vue framework guide
  src/content/docs/workers/frameworks/framework-guides/react.mdx
  src/content/docs/workers/frameworks/framework-guides/vue.mdx
Labels: product:workers, blocked, size/s

#20710 [Fundamental] Update remove-domain.mdx
  src/content/docs/fundamentals/setup/manage-domains/remove-domain.mdx
Labels: size/xs, product:fundamentals

#20578 [workers assets] remove experimental flag for framework guides for angular, gatsby and nuxt
  src/content/docs/workers/frameworks/framework-guides/angular.mdx
  src/content/docs/workers/frameworks/framework-guides/gatsby.mdx
  src/content/docs/workers/frameworks/framework-guides/nuxt.mdx
Labels: product:workers, size/xs

#20603 [ZT] Access for SaaS OIDC
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/generic-oidc-saas.mdx
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/generic-saml-saas.mdx
  src/content/docs/cloudflare-one/identity/users/session-management.mdx
  src/content/partials/cloudflare-one/access/saas-apps/saas-sessions.mdx
Labels: product:cloudflare-one, size/s

#20713 changelog: fix typo + add example
  src/content/changelog/workers/2025-03-11-process-env-support.mdx
Labels: size/s

#20714 [Durable Objects] Renaming "Changelog" to "Release notes"
  public/_redirects
  src/content/docs/durable-objects/release-notes.mdx
  src/content/release-notes/durable-objects.yaml
Labels: product:durable-objects, size/xs

#20712 [D1] Renaming things to "Release notes"
  public/_redirects
  src/content/changelog/d1/2025-01-07-d1-faster-query.mdx
  src/content/docs/d1/platform/alpha-migration.mdx
  src/content/docs/d1/platform/release-notes.mdx
  src/content/release-notes/d1.yaml
Labels: product:d1, size/s

#20716 [Hyperdrive] Renaming Hyperdrive changelog to release notes
  public/_redirects
  src/content/docs/hyperdrive/platform/release-notes.mdx
  src/content/release-notes/hyperdrive.yaml
Labels: size/s, product:hyperdrive

#20372 [CF1] git lfs tutorial troubleshooting
  src/content/docs/cloudflare-one/tutorials/gitlab.mdx
Labels: product:cloudflare-one, size/xs

#20719 [Cache]Update etag-headers.mdx
  src/content/docs/cache/reference/etag-headers.mdx
Labels: product:cache, size/xs

#20643 Update index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-profiles/index.mdx
Labels: product:cloudflare-one, size/xs

#20525 Correct API token quota values
  src/content/partials/fundamentals/api-rate-limits.mdx
Labels: size/xs

#20544 [Images] Add missing blur transformation in `bindings.mdx` example
  src/content/docs/images/transform-images/bindings.mdx
Labels: product:images, size/xs

#20723 [ZT] Remove Generic OIDC beta
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/generic-oidc-saas.mdx
Labels: product:cloudflare-one, size/xs

#20729 [Gateway] Remove custom root cert requirement for pass-through
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#20736 [Ruleset Engine] Fix field name and link
  src/content/fields/index.yaml
Labels: size/xs

#20644 Added tested s3-compatible providers for Super Slurper
  src/content/docs/r2/data-migration/super-slurper.mdx
Labels: product:r2, size/s

#20725 Update quickstart steps for Zaraz setup
  src/content/docs/zaraz/get-started.mdx
Labels: size/xs, product:zaraz

#20720 [MWAN] APIRequest + partial
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/breakout-traffic.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/application-based-policies/prioritized-traffic.mdx
  src/content/partials/magic-wan/connector/app-aware-policies/add-app.mdx
  src/content/partials/magic-wan/connector/app-aware-policies/breakout-prioritized.mdx
  src/content/partials/magic-wan/connector/app-aware-policies/delete-app.mdx
Labels: size/l, product:magic-wan

#20743 [WAF] Small updates in Security Analytics
  src/content/docs/waf/analytics/security-analytics.mdx
  src/content/docs/waf/rate-limiting-rules/find-rate-limit.mdx
Labels: product:waf, size/s

#20746 migrating durable objects series into a videos folder and into learni…
  public/_redirects
  src/content/docs/durable-objects/get-started/video-series/app-frontend.mdx
  src/content/docs/durable-objects/get-started/video-series/deploy-app.mdx
  src/content/docs/durable-objects/get-started/video-series/durable-objects.mdx
  src/content/docs/durable-objects/get-started/video-series/index.mdx
  src/content/docs/durable-objects/get-started/video-series/intro.mdx
  src/content/docs/durable-objects/get-started/video-series/make-answer-webrtc-calls.mdx
  src/content/docs/durable-objects/get-started/video-series/real-time-messaging.mdx
  src/content/docs/durable-objects/get-started/video-series/serverless-websocket.mdx
  src/content/docs/durable-objects/video-tutorials.mdx
  src/content/docs/learning-paths/durable-objects-course/series/build-the-app-frontend-5.mdx
  src/content/docs/learning-paths/durable-objects-course/series/deploy-your-video-call-app-7.mdx
  src/content/docs/learning-paths/durable-objects-course/series/index.mdx
  src/content/docs/learning-paths/durable-objects-course/series/introduction-to-series-1.mdx
  src/content/docs/learning-paths/durable-objects-course/series/make-answer-webrtc-calls-6.mdx
  src/content/docs/learning-paths/durable-objects-course/series/real-time-messaging-with-websockets-4.mdx
  src/content/docs/learning-paths/durable-objects-course/series/serverless-websocket-backend-3.mdx
  src/content/docs/learning-paths/durable-objects-course/series/what-are-durable-objects-2.mdx
  src/content/learning-paths/durable-objects-course.json
  src/content/partials/learning-paths/durable-objects-series-additional-resources.mdx
  src/content/partials/learning-paths/durable-objects-series-navigation.mdx
Labels: product:durable-objects, size/l, product:learning-paths

#20726 [Docs site] Tags allowlist
  .github/CODEOWNERS
  src/schemas/tags.ts
Labels: size/m
