Repository cloudflare/cloudflare-docs, pull requests merged in 2025-07, with the labels that each got.

#22786 [Radar] Mention new bots and crawlers datasets in release notes, changelog and glossary
  src/content/changelog/radar/2025-07-01-radar-bots-insights.mdx
  src/content/docs/radar/glossary.mdx
  src/content/release-notes/api-deprecations.yaml
  src/content/release-notes/radar.yaml
Labels: do-not-merge-yet, size/s, product:radar

#23283 Update Vite plugin static assets docs and add changelog entry
  src/content/changelog/workers/2025-07-01-vite-plugin-enhanced-assets-support.mdx
  src/content/docs/workers/vite-plugin/reference/static-assets.mdx
  src/content/docs/workers/vite-plugin/tutorial.mdx
Labels: product:workers, size/m

#23356 [Bots] Link to blog
  src/content/docs/bots/concepts/bot/verified-bots/web-bot-auth.mdx
Labels: product:bots, size/xs

#23359 [D1] D1 account storage limit increase update
  src/content/docs/d1/platform/limits.mdx
  src/content/release-notes/d1.yaml
Labels: product:d1, size/s

#23333 [ZT] RDP user experience details
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/rdp/rdp-browser.mdx
Labels: product:cloudflare-one, size/s

#23280 Registrant contact updates
  src/content/docs/registrar/account-options/domain-contact-updates.mdx
  src/content/docs/registrar/faq.mdx
Labels: product:registrar, size/s

#23270 [Gateway] DLP precedence caveat
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
  src/content/partials/cloudflare-one/gateway/order-of-precedence.mdx
Labels: sub-product:gateway, size/s, sub-product:data-loss-prevention

#23364 [DDoS Protection] More overrides
  src/content/docs/ddos-protection/managed-rulesets/http/http-overrides/index.mdx
  src/content/partials/ddos-protection/override-example.mdx
  src/content/partials/ddos-protection/override-logic.mdx
Labels: size/m, product:ddos-protection

#23370 Change binding name in KV get started
  src/content/docs/kv/index.mdx
Labels: size/s, product:kv

#22951 Update query-caching.mdx
  src/content/docs/hyperdrive/configuration/query-caching.mdx
Labels: size/xs, product:hyperdrive

#23385 [Cache] Update tiered-cache.mdx
  src/content/docs/cache/how-to/tiered-cache.mdx
Labels: product:cache, size/xs

#23386 [AI Audit] Adding note on detection, adding note on PPC beta
  src/content/docs/ai-audit/features/manage-ai-crawlers.mdx
Labels: size/s, product:ai-audit

#23389 [MWAN Connector] Adds self serve option
  src/content/docs/magic-wan/configuration/connector/network-options/nat-subnet.mdx
  src/content/docs/magic-wan/configuration/connector/network-options/routed-subnets.mdx
  src/content/docs/magic-wan/configuration/connector/reference.mdx
  src/content/partials/networking-services/mconn/configure-connectors.mdx
Labels: size/s, product:magic-wan

#23209 Adding FAQ for hardware troubleshooting
  src/content/docs/magic-wan/configuration/connector/troubleshooting.mdx
Labels: size/xs, product:magic-wan

#23391 [Spectrum] Clarify IP access rule behavior
  src/content/docs/spectrum/reference/configuration-options.mdx
Labels: product:spectrum, size/xs

#23374 Remove unnecessary period
  src/content/docs/ai-audit/features/pay-per-crawl/what-is-pay-per-crawl.mdx
Labels: size/xs, product:ai-audit

#23392 [Cache] Updates AOT compatibility for Tiered Cache
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#23393 hyperdrive: fix syntax
  src/content/partials/hyperdrive/use-node-postgres-to-make-query.mdx
Labels: size/xs

#21299 Show how to use secrets
  src/content/docs/workers/configuration/secrets.mdx
Labels: product:workers, size/s

#23170 Update Serverless databases to mention connecting with Hyperdrive
  src/content/docs/workers/databases/connecting-to-databases.mdx
Labels: product:workers, size/s

#23375 [Bots] New dash
  src/content/docs/bots/additional-configurations/ai-labyrinth.mdx
  src/content/docs/bots/additional-configurations/block-ai-bots.mdx
  src/content/docs/bots/additional-configurations/detection-ids.mdx
  src/content/docs/bots/additional-configurations/managed-robots-txt.mdx
  src/content/docs/bots/additional-configurations/sequence-rules.mdx
  src/content/docs/bots/additional-configurations/static-resources.mdx
  src/content/docs/bots/bot-analytics.mdx
  src/content/docs/bots/concepts/bot/verified-bots/policy.mdx
  src/content/docs/bots/concepts/feedback-loop.mdx
  src/content/docs/bots/frequently-asked-questions.mdx
  src/content/docs/bots/get-started/bot-fight-mode.mdx
  src/content/docs/bots/get-started/bot-management.mdx
  src/content/docs/bots/reference/alerts.mdx
  src/content/docs/bots/troubleshooting/wordpress-loopback-issue.mdx
  src/content/partials/bots/ai-labyrinth-enable.mdx
  src/content/partials/bots/block-ai-bots-enable.mdx
  src/content/partials/bots/bot-fight-mode-enable.mdx
  src/content/partials/bots/disable-sbfm.mdx
  src/content/partials/bots/enable-managed-robots-txt.mdx
  src/content/partials/bots/get-started-pro-biz-steps.mdx
  src/content/partials/bots/latest-ml-model-enable.mdx
  src/content/partials/bots/sbfm-upgrade.mdx
  src/content/partials/cloudflare-challenges/javascript-detections-enable.mdx
Labels: product:bots, size/m

#23243 [Gateway] Connection establishment
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
Labels: sub-product:gateway, size/s

#23401 [DDoS Protection] New dash
  src/content/docs/ddos-protection/advanced-ddos-systems/how-to/add-prefix-allowlist.mdx
  src/content/docs/ddos-protection/advanced-ddos-systems/how-to/add-prefix.mdx
  src/content/docs/ddos-protection/advanced-ddos-systems/how-to/create-filter.mdx
  src/content/docs/ddos-protection/advanced-ddos-systems/how-to/create-rule.mdx
  src/content/docs/ddos-protection/advanced-ddos-systems/how-to/exclude-prefix.mdx
  src/content/docs/ddos-protection/advanced-ddos-systems/overview/index.mdx
  src/content/docs/ddos-protection/best-practices/respond-to-ddos-attacks.mdx
  src/content/docs/ddos-protection/botnet-threat-feed.mdx
  src/content/docs/ddos-protection/get-started.mdx
  src/content/docs/ddos-protection/managed-rulesets/adaptive-protection.mdx
  src/content/docs/ddos-protection/managed-rulesets/http/http-overrides/configure-dashboard.mdx
  src/content/partials/ddos-protection/create-notification.mdx
  src/content/partials/ddos-protection/managed-rulesets/create-override.mdx
  src/content/partials/ddos-protection/managed-rulesets/delete-override.mdx
  src/content/partials/ddos-protection/override-logic.mdx
  src/content/plans/index.json
Labels: size/m, product:ddos-protection

#23405 [Billing] Additions to billing policy
  src/content/docs/billing/billing-policy.mdx
Labels: size/s, product:billing

#23411 [Fundamentals] Removing unused images
  src/assets/images/email-security/deployment/api-setup/O365_API_Deployment_Graph.png
  src/assets/images/fundamentals/get-started/account-navigation-profile.png
  src/assets/images/fundamentals/get-started/account-navigation.png
  src/assets/images/fundamentals/get-started/delete-account.png
  src/assets/images/fundamentals/get-started/profile-navigation.png
  src/assets/images/fundamentals/get-started/zone-navigation.png
Labels: size/xs

#23384 [R2] Adding warning note about querying bucket with jurisdictions
  src/content/docs/r2/platform/metrics-analytics.mdx
Labels: product:r2, size/s

#23418 Updates China Network product support
  src/content/docs/china-network/reference/available-products.mdx
Labels: product:china-network, size/xs

#23420 [MWAN] Site analytics patch
  src/content/docs/magic-wan/analytics/site-analytics.mdx
  src/content/docs/magic-wan/configuration/common-settings/sites.mdx
  src/content/partials/networking-services/analytics/site-analytics.mdx
Labels: size/m, product:magic-wan

#23396 [DNS] Use APIRequest component to generate examples for Import/Export
  src/content/docs/dns/manage-dns-records/how-to/import-and-export.mdx
Labels: product:dns, size/s

#23421 [Style Guide] Added note on how to use markdown with optional params
  src/content/docs/style-guide/components/render.mdx
Labels: size/s, product:style-guide

#23388 Add documentation for preview aliases during version upload
  src/content/docs/workers/configuration/multipart-upload-metadata.mdx
  src/content/docs/workers/configuration/previews.mdx
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/s

#23410 Release-Jul-1-2025
  src/content/docs/waf/change-log/scheduled-changes.mdx
  src/content/release-notes/waf.yaml
Labels: product:waf, size/s

#23189 [Cache] Adds info about visitor scheme vs Origin scheme in Cache Keys
  src/content/docs/cache/how-to/cache-keys.mdx
Labels: product:cache, size/s

#23358 Update read-key-value-pairs.mdx
  src/content/docs/kv/api/read-key-value-pairs.mdx
Labels: size/xs, product:kv

#23404 [ZT] SSH logs limitation
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
Labels: product:cloudflare-one, size/xs

#23425 Document max zt access reusable policies count
  src/content/docs/cloudflare-one/account-limits.mdx
Labels: product:cloudflare-one, size/xs

#23431 [API Shield/WAF] GraphQL malicious query
  src/content/docs/api-shield/security/graphql-protection/index.mdx
  src/content/docs/waf/rate-limiting-rules/best-practices.mdx
Labels: product:waf, product:api-shield, size/xs

#23430 Revert "Revert "[DocsAI] Update noresponse message""
  src/components/DocsAI.tsx
Labels: size/xs

#23398 [Email Security | RBI] Open links in Browser Isolation
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/clientless-browser-isolation.mdx
Labels: product:cloudflare-one, size/s

#23432 Update limit increase message
  src/content/docs/hyperdrive/platform/limits.mdx
Labels: size/xs, product:hyperdrive

#23435 Fix Workers link in 1015 error page
  src/content/docs/support/troubleshooting/http-status-codes/cloudflare-1xxx-errors/error-1015.mdx
Labels: size/xs, product:support

#23409 [ZT] ICMP command updates
  src/content/docs/cloudflare-one/connections/connect-networks/troubleshoot-tunnels/common-errors.mdx
  src/content/docs/cloudflare-one/policies/gateway/proxy.mdx
  src/content/partials/cloudflare-one/tunnel/enable-gateway-proxy.mdx
Labels: product:cloudflare-one, size/m

#23445 Vectorize: clarify vector dimension storage precision
  src/content/docs/vectorize/best-practices/insert-vectors.mdx
  src/content/docs/vectorize/platform/limits.mdx
Labels: size/xs, product:vectorize

#23476 [WAF] Update lists availability table
  src/content/partials/waf/lists-notes.mdx
  src/content/plans/index.json
Labels: size/s

#23452 [Email Security] Remove Suspicious actions
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/gsuite-email-security-mx.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/m365-email-security-mx/use-cases/five-junk-admin-quarantine.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/m365-email-security-mx/use-cases/one-junk-admin-quarantine.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/m365-email-security-mx/use-cases/three-junk-admin-quarantine.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/m365-email-security-mx/use-cases/two-junk-user-quarantine.mdx
Labels: product:cloudflare-one, size/s

#23428 [Email Security] Overview page refresh
  src/content/docs/cloudflare-one/email-security/index.mdx
Labels: product:cloudflare-one, size/s

#23227 [D1] Fix example date command in time-travel.mdx
  src/content/docs/d1/reference/time-travel.mdx
Labels: product:d1, size/xs

#23443 R2-3134: Document CRC64NVME Support for Multipart Uploads
  src/content/docs/r2/api/s3/api.mdx
  src/content/docs/r2/examples/aws/aws-cli.mdx
  src/content/docs/r2/examples/aws/aws-sdk-go.mdx
  src/content/docs/r2/examples/aws/aws-sdk-java.mdx
  src/content/docs/r2/examples/aws/aws-sdk-js-v3.mdx
  src/content/docs/r2/examples/aws/aws-sdk-net.mdx
  src/content/docs/r2/examples/aws/aws-sdk-php.mdx
  src/content/docs/r2/examples/aws/aws-sdk-ruby.mdx
  src/content/docs/r2/examples/aws/aws-sdk-rust.mdx
  src/content/docs/r2/examples/aws/boto3.mdx
  src/content/release-notes/r2.yaml
Labels: product:r2, size/m

#23486 Improving statement for Magic WAN Connector deployment
  src/content/docs/reference-architecture/architectures/sase.mdx
Labels: product:reference-architecture, size/xs

#23412 Create 2025-06-30-warp-ga-android.mdx
  src/content/changelog/zero-trust-warp/2025-06-30-warp-ga-android.mdx
Labels: size/s

#23413 Create 2025-06-30-warp-ga-ios.mdx
  src/content/changelog/zero-trust-warp/2025-06-30-warp-ga-ios.mdx
Labels: size/s

#23485 [Security Center] Clarify Security Insights
  src/content/partials/security-center/setup.mdx
Labels: size/xs

#23484 Update host selector limitations
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
Labels: product:cloudflare-one, size/s

#23397 how r2 works
  public/images/r2/r2-architecture.png
  public/images/r2/read-data-to-r2-with-cloudflare-cache.png
  public/images/r2/read-data-to-r2.png
  public/images/r2/write-data-to-r2.png
  src/content/docs/r2/how-r2-works.mdx
Labels: product:r2, size/s

#23302 minor fixes for process.env
  src/content/changelog/workers/2025-03-11-process-env-support.mdx
  src/content/compatibility-flags/nodejs-compat-populate-process-env.md
  src/content/docs/r2/data-catalog/config-examples/spark-scala.mdx
  src/content/docs/workers/runtime-apis/nodejs/process.mdx
Labels: product:workers, product:r2, size/s

#23502 [WAF] Update IPv6 addresses
  src/content/docs/waf/tools/ip-access-rules/parameters.mdx
  src/content/docs/waf/tools/lists/custom-lists.mdx
  src/content/docs/waf/tools/lists/lists-api/json-object.mdx
Labels: product:waf, size/s

#23483 [WAF] IP lists limit changes
  src/content/changelog/waf/2025-07-07-increased-ip-list-limits.mdx
Labels: size/s

#23508 [DMARC] Update link
  src/content/docs/dmarc-management/index.mdx
Labels: size/xs, product:dmarc-management

#23507 [Fundamentals] Update AOT compat. matrix
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#23506 Clarify Assets count is per-Worker
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, size/xs

#23511 [DLS] Add APIRequest to DLS docs
  src/content/docs/data-localization/metadata-boundary/get-started.mdx
  src/content/docs/data-localization/regional-services/get-started.mdx
Labels: product:data-localization, size/m

#23492 [Changelog] ZT dash app library
  src/assets/images/changelog/cloudflare-one/app-library.png
  src/assets/images/changelog/cloudflare-one/cloudy-explanation.png
  src/content/changelog/cloudflare-one/2025-07-07-cloudy-summaries-access-gateway.mdx
  src/content/changelog/cloudflare-one/2025-07-07-dashboard-app-library.mdx
Labels: size/s

#23491 Adds changelog for remote bindings support in OpenNext
  src/content/changelog/workers/2025-06-25-getPlatformProxy-support-remote-bindings.mdx
Labels: size/s

#23424 Update login.mdx
  src/content/docs/fundamentals/user-profiles/login.mdx
Labels: size/s, product:fundamentals

#23467 Update cdn.mdx
  src/content/docs/reference-architecture/architectures/cdn.mdx
Labels: product:reference-architecture, size/xs

#23520 [Codeowners] Update containers
  .github/CODEOWNERS
Labels: size/xs

#23523 [Changelog] HEIC support for Images
  src/content/changelog/images/heic-support.mdx
Labels: size/xs

#23525 [Bots] Update AI bots list
  src/content/partials/bots/list-ai-bots.mdx
Labels: size/xs

#23451 [Secrets Store, DNS] Replace examples with APIRequest
  src/content/docs/dns/dnssec/dnssec-active-migration.mdx
  src/content/docs/dns/dnssec/multi-signer-dnssec/setup.mdx
  src/content/docs/dns/manage-dns-records/reference/dns-record-types.mdx
  src/content/docs/secrets-store/integrations/workers.mdx
  src/content/docs/secrets-store/manage-secrets/how-to.mdx
  src/content/partials/dns/add-mx-records.mdx
Labels: product:dns, size/m, product:secrets-store

#23526 [CNI] Added alerts
  src/content/docs/network-interconnect/alerts.mdx
  src/content/docs/network-interconnect/changelog.mdx
Labels: product:network-interconnect, size/s

#23528 [WAF] Update privacy-pass.mdx
  src/content/docs/waf/tools/privacy-pass.mdx
Labels: product:waf, size/xs

#23531 [Cache] Adds APIRequest component to Cache docs
  src/content/docs/cache/advanced-configuration/cache-reserve.mdx
  src/content/docs/cache/advanced-configuration/vary-for-images.mdx
  src/content/docs/cache/how-to/purge-cache/purge-cache-key.mdx
  src/content/docs/cache/how-to/tiered-cache.mdx
Labels: product:cache, size/m

#23437 [Gateway] Overlapping hostnames
  src/content/docs/cloudflare-one/policies/gateway/application-app-types.mdx
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/xs

#23536 [Hyperdrive] Updating docs with accurate error handling + pg version
  src/content/docs/hyperdrive/examples/connect-to-postgres/index.mdx
  src/content/partials/hyperdrive/use-node-postgres-to-make-query.mdx
Labels: size/xs, product:hyperdrive

#23535 [Workers AI] Minor changes for grammar and clarity in using-bigquery-with-workers-ai.mdx
  src/content/docs/workers-ai/guides/tutorials/using-bigquery-with-workers-ai.mdx
Labels: size/s, product:workers-ai

#23198 [Docs Site] Fetch all Linux platforms for WARP releases
  bin/fetch-warp-releases.js
  src/components/WARPRelease.astro
  src/content/warp-releases/linux/beta/2025.2.459.1.yaml
  src/content/warp-releases/linux/beta/2025.2.460.1.yaml
  src/content/warp-releases/linux/beta/2025.4.589.1.yaml
  src/content/warp-releases/linux/beta/2025.5.735.1.yaml
  src/content/warp-releases/linux/beta/2025.5.828.1.yaml
  src/content/warp-releases/linux/ga/2024.11.309.0.yaml
  src/content/warp-releases/linux/ga/2024.12.554.0.yaml
  src/content/warp-releases/linux/ga/2024.6.497.0.yaml
  src/content/warp-releases/linux/ga/2024.9.346.0.yaml
  src/content/warp-releases/linux/ga/2025.1.861.0.yaml
  src/content/warp-releases/linux/ga/2025.2.600.0.yaml
  src/content/warp-releases/linux/ga/2025.4.929.0.yaml
  src/content/warp-releases/linux/ga/2025.4.943.0.yaml
  src/content/warp-releases/linux/ga/2025.5.893.0.yaml
  src/content/warp-releases/windows/ga/2025.5.893.0.yaml
  src/schemas/warp-releases.ts
  src/util/warp-platforms.json
Labels: size/l

#23493 Release-Jul-7-2025
  src/content/docs/waf/change-log/2025-07-07.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
  src/content/release-notes/waf.yaml
Labels: product:waf, size/m

#23402 [ZT] Max SSH session duration
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
Labels: product:cloudflare-one, size/s

#23542 [ZT] update WARP Linux versions
  src/content/partials/cloudflare-one/warp/system-requirements/linux.mdx
Labels: size/xs

#23540 [API Shield] API Discovery new dash steps
  src/content/docs/api-shield/security/api-discovery.mdx
Labels: product:api-shield, size/s

#23537 Update brand-protection.mdx
  src/content/docs/security-center/brand-protection.mdx
Labels: product:security-center, size/xs

#23553 [MWAN] Analytics patch
  src/content/docs/magic-wan/analytics/site-analytics.mdx
  src/content/docs/magic-wan/configuration/common-settings/sites.mdx
  src/content/partials/networking-services/analytics/set-thresholds-site-health.mdx
Labels: size/s, product:magic-wan

#23555 [Page Shield] Add new nav instructions
  src/content/docs/page-shield/alerts/alert-types.mdx
  src/content/docs/page-shield/alerts/configure.mdx
  src/content/docs/page-shield/alerts/index.mdx
  src/content/docs/page-shield/best-practices/handle-an-alert.mdx
  src/content/docs/page-shield/best-practices/index.mdx
  src/content/docs/page-shield/detection/monitor-connections-scripts.mdx
  src/content/docs/page-shield/detection/review-changed-scripts.mdx
  src/content/docs/page-shield/detection/review-malicious-scripts.mdx
  src/content/docs/page-shield/get-started.mdx
  src/content/docs/page-shield/how-it-works/index.mdx
  src/content/docs/page-shield/how-it-works/malicious-script-detection.mdx
  src/content/docs/page-shield/index.mdx
  src/content/docs/page-shield/policies/create-dashboard.mdx
  src/content/docs/page-shield/policies/csp-directives.mdx
  src/content/docs/page-shield/policies/index.mdx
  src/content/docs/page-shield/policies/violations.mdx
  src/content/docs/page-shield/reference/page-shield-api.mdx
  src/content/docs/page-shield/reference/settings.mdx
  src/content/docs/page-shield/troubleshooting.mdx
  src/content/partials/page-shield/alerts-intro.mdx
  src/content/plans/index.json
Labels: product:page-shield, size/m

#23556 [Email Security] Remove redundant suspicious
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/m365-email-security-mx/index.mdx
Labels: product:cloudflare-one, size/xs

#23495 Add troubleshooting section with exposing-ports sub-section to containers local-dev docs
  src/content/docs/containers/local-dev.mdx
Labels: size/s, product:containers

#23557 [MWAN] Removed wrong redirect
  public/__redirects
Labels: size/xs

#23576 [Changelog] Email security browser isolation links
  src/assets/images/changelog/email-security/browser-rendering-links.jpg
  src/content/changelog/email-security-cf1/2025-05-15-open-links-browser-isolation.mdx
Labels: size/s

#23574 [Search] Add csv file for additional Algolia indexing
  public/search-additions.csv
Labels: size/xs

#23568 [Aegis] Mention port in concurrent connections explanation and link earlier to API
  src/content/docs/aegis/about/ips-allocation.mdx
  src/content/docs/aegis/analytics.mdx
  src/content/docs/aegis/setup.mdx
  src/content/partials/aegis/concurrent-connections-explainer.mdx
Labels: size/s, product:aegis

#23579 CUSTESC-53389 - Clarify configuration restrictions apply to all custom list types
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
Labels: product:waf, size/xs

#23593 [Docs Site] Sync vendored Markdown files into ZT DevDocs bucket
  .github/workflows/publish-production.yml
Labels: size/s

#23596 Update search-additions.csv
  public/search-additions.csv
Labels: size/xs

#23534 typo
  src/content/docs/cloudflare-one/connections/connect-networks/do-more-with-tunnels/local-management/create-local-tunnel.mdx
Labels: product:cloudflare-one, size/xs

#23584 [Tunnel] Document WARP Connector limit per account
  src/content/docs/cloudflare-one/account-limits.mdx
Labels: product:cloudflare-one, size/xs

#23530 [CF1] Access and tunnels with public hostnames callout
  src/content/docs/cloudflare-one/connections/connect-networks/routing-to-tunnel/index.mdx
Labels: product:cloudflare-one, size/xs

#23602 [Docs Site] Exclude 404 pages from sitemap
  astro.config.ts
Labels: size/xs

#23423 [Docs Site] Refactor ResourcesBySelector
  src/components/ReactSelect.tsx
  src/components/ResourcesBySelector.astro
  src/components/ResourcesBySelector.tsx
  src/components/changelog/ProductSelect.tsx
  src/content/docs/ai-gateway/tutorials/deploy-aig-worker.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/demos.mdx
  src/content/docs/d1/tutorials/build-a-staff-directory-app/index.mdx
  src/content/docs/developer-spotlight/tutorials/creating-a-recommendation-api.mdx
  src/content/docs/pages/tutorials/build-a-blog-using-nuxt-and-sanity/index.mdx
  src/content/docs/reference-architecture/diagrams/ai/ai-asset-creation.mdx
  src/content/docs/reference-architecture/diagrams/ai/ai-rag.mdx
  src/content/docs/reference-architecture/diagrams/ai/bigquery-workers-ai.mdx
  src/content/docs/reference-architecture/diagrams/content-delivery/optimizing-image-delivery-with-cloudflare-image-resizing-and-r2.mdx
  src/content/docs/reference-architecture/diagrams/iot/optimizing-and-securing-connected-transportation-systems.mdx
  src/content/docs/reference-architecture/diagrams/sase/augment-access-with-serverless.mdx
  src/content/docs/reference-architecture/diagrams/serverless/a-b-testing-using-workers.mdx
  src/content/docs/reference-architecture/diagrams/serverless/fullstack-application.mdx
  src/content/docs/reference-architecture/diagrams/serverless/programmable-platforms.mdx
  src/content/docs/reference-architecture/diagrams/serverless/serverless-etl.mdx
  src/content/docs/reference-architecture/diagrams/serverless/serverless-global-apis.mdx
  src/content/docs/reference-architecture/diagrams/serverless/serverless-image-content-management.mdx
  src/content/docs/reference-architecture/diagrams/storage/durable-object-control-data-plane-pattern.mdx
  src/content/docs/reference-architecture/diagrams/storage/egress-free-storage-multi-cloud.mdx
  src/content/docs/reference-architecture/diagrams/storage/event-notifications-for-storage.mdx
  src/content/docs/reference-architecture/diagrams/storage/on-demand-object-storage-migration.mdx
  src/content/docs/reference-architecture/diagrams/storage/storing-user-generated-content.mdx
  src/content/docs/style-guide/components/resources-by-selector.mdx
  src/content/docs/workers-ai/guides/tutorials/build-a-retrieval-augmented-generation-ai.mdx
  src/content/docs/workers-ai/guides/tutorials/build-a-workers-ai-whisper-with-chunking.mdx
  src/content/docs/workers-ai/guides/tutorials/build-ai-interview-practice-tool.mdx
  src/content/docs/workers-ai/guides/tutorials/fine-tune-models-with-autotrain.mdx
  src/content/docs/workers-ai/guides/tutorials/image-generation-playground/index.mdx
  src/content/docs/workers-ai/guides/tutorials/llama-vision-tutorial.mdx
  src/content/docs/workers-ai/guides/tutorials/using-bigquery-with-workers-ai.mdx
  src/content/docs/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.mdx
  src/content/docs/workers/tutorials/openai-function-calls-workers/index.mdx
Labels: product:workers, product:pages, product:d1, product:reference-architecture, product:cloudflare-for-platforms, size/m, product:style-guide, product:ai-gateway, product:workers-ai, product:developer-spotlight

#23601 [Docs Site] Add Zaraz events for SERP clicks
  src/components/404.astro
  src/plugins/docsearch/index.ts
Labels: size/xs

#23603 [Docs Site] Fix sitemap filter
  astro.config.ts
Labels: size/s

#23599 [Email Security] Update button name
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
  src/content/docs/cloudflare-one/email-security/phish-submissions.mdx
Labels: product:cloudflare-one, size/s

#23606 [Docs Site] Add page links in ComponentsUsage
  src/components/ComponentUsage.astro
Labels: size/s

#23607 [Docs] Fix some broken anchors
  src/content/docs/cloudflare-challenges/frequently-asked-questions.mdx
  src/content/docs/fundamentals/reference/policies-compliances/content-security-policies.mdx
  src/content/docs/fundamentals/reference/under-attack-mode.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-examples/link-override-ddos-l34-rule-sensitivity.mdx
  src/content/docs/security/settings.mdx
  src/content/docs/support/contacting-cloudflare-support.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/docs/waf/tools/ip-access-rules/actions.mdx
  src/content/docs/waf/troubleshooting/samesite-cookie-interaction.mdx
  src/content/partials/support/2fa-enable.mdx
Labels: product:waf, product:ruleset-engine, size/s, product:fundamentals, product:support, product:security, product:cloudflare-challenges

#23612 Update search-additions.csv
  public/search-additions.csv
Labels: size/xs

#23608 [Docs Site] Add PartialsUsage component
  src/components/ComponentUsage.astro
  src/components/Details.astro
  src/components/PartialsUsage.astro
  src/components/UsageList.astro
  src/components/index.ts
  src/content/docs/style-guide/components/render.mdx
  src/util/components.ts
Labels: size/m, product:style-guide

#23632 Malformed table problem
  src/content/docs/china-network/reference/available-products.mdx
Labels: product:china-network, size/xs

#23440 [CF1] clarity on usage for connectivity.cloudflareclient.com
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/firewall.mdx
Labels: product:cloudflare-one, size/xs

#23637 Update 2025.5.893.0.yaml
  src/content/warp-releases/windows/ga/2025.5.893.0.yaml
Labels: size/xs

#23636 [GitHub] Broaden redirects comment to include partial checks
  .github/workflows/potential-redirects-or-partials.yml
  src/content/docs/ai-gateway/configuration/manage-gateway.mdx
Labels: size/s, product:ai-gateway

#23597 [Security] Update settings (new nav)
  src/content/docs/api-shield/management-and-monitoring/developer-portal.mdx
  src/content/docs/api-shield/management-and-monitoring/endpoint-labels.mdx
  src/content/docs/api-shield/security/jwt-validation/index.mdx
  src/content/docs/api-shield/security/schema-validation/index.mdx
  src/content/docs/bots/additional-configurations/managed-robots-txt.mdx
  src/content/docs/bots/get-started/bot-management.mdx
  src/content/docs/cloudflare-challenges/challenge-types/challenge-pages/challenge-passage.mdx
  src/content/docs/page-shield/get-started.mdx
  src/content/docs/security-center/infrastructure/security-file.mdx
  src/content/docs/security/settings.mdx
  src/content/docs/security/web-assets.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-specific-countries.mdx
  src/content/docs/waf/custom-rules/use-cases/block-by-geographical-location.mdx
  src/content/docs/waf/custom-rules/use-cases/block-traffic-from-specific-countries.mdx
  src/content/docs/waf/detections/firewall-for-ai.mdx
  src/content/docs/waf/detections/leaked-credentials/get-started.mdx
  src/content/docs/waf/detections/malicious-uploads/get-started.mdx
  src/content/docs/waf/get-started.mdx
  src/content/docs/waf/managed-rules/deploy-zone-dashboard.mdx
  src/content/docs/waf/managed-rules/reference/sensitive-data-detection.mdx
  src/content/docs/waf/rate-limiting-rules/use-cases.mdx
  src/content/docs/waf/tools/browser-integrity-check.mdx
  src/content/docs/waf/tools/replace-insecure-js-libraries.mdx
  src/content/partials/waf/leaked-credentials-detection-enable.mdx
Labels: product:bots, product:page-shield, product:waf, product:security-center, product:api-shield, size/m, product:security, product:cloudflare-challenges

#23624 fix python snippet for bge-reranker-base
  src/components/models/code/Bge-Reranker-Base.astro
Labels: size/xs

#23638 [Email Security] Update Directories page
  src/content/docs/cloudflare-one/email-security/directories/index.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-es-directories.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-integrated-directories/index.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-integrated-directories/manage-groups-directory.mdx
  src/content/docs/cloudflare-one/email-security/directories/manage-integrated-directories/manage-users-directory.mdx
Labels: product:cloudflare-one, size/s

#23363 Update screenshots.mdx
  src/content/docs/browser-rendering/faq.mdx
  src/content/docs/browser-rendering/workers-bindings/screenshots.mdx
Labels: product:browser-rendering, size/s

#23454 Add debug terminals changelog
  src/content/changelog/workers/2025-07-04-javascript-debug-terminals.mdx
  src/content/docs/workers/observability/dev-tools/breakpoints.mdx
Labels: product:workers, size/s

#23640 [Images] Remove incorrect example
  src/content/docs/images/pricing.mdx
Labels: product:images, size/xs

#23583 [CF1] tunnel upgrade instructions update
  src/content/docs/cloudflare-one/connections/connect-networks/downloads/update-cloudflared.mdx
Labels: product:cloudflare-one, size/xs

#23663 [Logs] Updates overview page
  src/content/docs/logs/index.mdx
Labels: product:logs, size/xs

#23665 [Docs Site] Add noindex to 404 pages
  src/pages/404.astro
  src/pages/[product]/404.astro
  worker/index.ts
Labels: size/s

#23660 [MT] Advertise prefixes
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
  src/content/partials/networking-services/reference/traffic-steering-region-codes.mdx
  src/content/partials/networking-services/reference/traffic-steering.mdx
Labels: size/m, product:magic-transit

#23661 clarify Simultaneous open connections for workers
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, size/s

#23591 Security Insights - clarity around resolving insights and scan frequency
  src/content/docs/security-center/security-insights/review-insights.mdx
  src/content/partials/security-center/scan-frequency.mdx
Labels: product:security-center, size/xs

#23671 [Docs Site] Fix CopyPageButton height on small viewports
  src/components/CopyPageButton.tsx
Labels: size/xs

#23677 [Docs Site] Add usage amount to PartialsUsage dropdowns
  src/components/PartialsUsage.astro
Labels: size/xs

#23646 Update wrangler.mdx
  src/content/docs/browser-rendering/platform/wrangler.mdx
  src/content/docs/browser-rendering/workers-bindings/browser-rendering-with-DO.mdx
  src/content/docs/browser-rendering/workers-bindings/reuse-sessions.mdx
Labels: product:browser-rendering, size/xs

#23679 [Docs Site] Use prod_devdocs_styleguide index on /style-guide/
  src/plugins/docsearch/index.ts
Labels: size/xs

#23684 [Changelog] Tunnel: UDP Performance & Reliability Improvements
  src/content/changelog/cloudflare-tunnel/2025-07-15-udp-improvements.mdx
Labels: size/s

#23549 [ZT] Managed network using Windows IIS
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.mdx
Labels: product:cloudflare-one, size/m

#23689 [Docs Site] Upload vendored Markdown to AutoRAG R2 bucket
  .github/workflows/publish-production.yml
Labels: size/s

#23691 [Bug] Expand header value for partial usage
  src/components/PartialsUsage.astro
Labels: size/xs

#23692 [Docs Site] Add copyright icon to footer
  src/components/overrides/Footer.astro
Labels: size/xs

#23673 [Style Guide] AI consumability in How we docs
  astro.config.ts
  src/assets/images/style-guide/how-we-docs/page-options.png
  src/content/docs/style-guide/how-we-docs/ai-consumability.mdx
Labels: size/s, product:style-guide

#23683 [ZT] Kandji TLS decryption
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/kandji.mdx
Labels: product:cloudflare-one, size/xs

#23697 [Bug] Fix broken link references
  astro.config.ts
Labels: size/xs

#23681 [Aegis] GraphQL Explorer in Aegis analytics docs
  src/content/docs/aegis/analytics.mdx
Labels: size/m, product:aegis

#23710 [Logs] Moves glossary page
  public/__redirects
  src/content/docs/logs/glossary.mdx
Labels: product:logs, size/xs

#23717 [Email Security] Fix URL defang description
  src/content/docs/cloudflare-one/email-security/detection-settings/configure-link-actions.mdx
Labels: product:cloudflare-one, size/xs

#23718 Allow new security dash docs in robots.txt
  public/robots.txt
Labels: size/xs

#23719 [WAF] Custom block response requirements
  src/content/docs/waf/custom-rules/create-dashboard.mdx
  src/content/docs/waf/rate-limiting-rules/create-zone-dashboard.mdx
Labels: product:waf, size/xs

#23711 [Docs Site] Add ignore-md class for vendored Markdown
  src/components/overrides/PageTitle.astro
  src/content/docs/style-guide/components/render.mdx
  src/plugins/rehype/filter-elements.ts
  src/util/markdown.ts
Labels: size/s, product:style-guide

#23713 [Logs] Creates a Logpush section in the docs
  public/__redirects
  src/content/changelog/access/2025-01-15-ssh-logs-and-logpush.mdx
  src/content/docs/analytics/account-and-zone-analytics/zone-analytics.mdx
  src/content/docs/analytics/analytics-integrations/graylog.mdx
  src/content/docs/analytics/analytics-integrations/looker.mdx
  src/content/docs/analytics/network-analytics/index.mdx
  src/content/docs/bots/concepts/bot-tags.mdx
  src/content/docs/bots/frequently-asked-questions.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/hostname-analytics.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
  src/content/docs/cloudflare-one/insights/logs/logpush.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/logging-options.mdx
  src/content/docs/containers/faq.mdx
  src/content/docs/data-localization/limitations.mdx
  src/content/docs/data-localization/metadata-boundary/index.mdx
  src/content/docs/ddos-protection/managed-rulesets/adaptive-protection.mdx
  src/content/docs/dns/dns-firewall/analytics.mdx
  src/content/docs/fundamentals/account/account-security/review-audit-logs.mdx
  src/content/docs/learning-paths/data-center-protection/post-prefix-fine-tuning.mdx
  src/content/docs/learning-paths/prevent-ddos-attacks/advanced/improve-analytics.mdx
  src/content/docs/logs/logpull/index.mdx
  src/content/docs/logs/logpull/understanding-the-basics.mdx
  src/content/docs/logs/logpush/index.mdx
  src/content/docs/page-shield/policies/violations.mdx
  src/content/docs/reference-architecture/diagrams/serverless/fullstack-application.mdx
  src/content/docs/rules/transform/troubleshooting.mdx
  src/content/docs/style-guide/how-we-docs/redirects.mdx
  src/content/docs/waf/managed-rules/payload-logging/decrypt-in-logs.mdx
  src/content/docs/waf/managed-rules/payload-logging/index.mdx
  src/content/docs/workers/observability/logs/logpush.mdx
  src/content/partials/fundamentals/view-audit-log.mdx
  src/content/plans/index.json
Labels: product:workers, product:cloudflare-one, product:analytics, product:bots, product:logs, product:rules, product:page-shield, product:dns, product:waf, product:data-localization, product:reference-architecture, product:cloudflare-for-platforms, size/s, product:fundamentals, product:ddos-protection, product:learning-paths, product:style-guide, product:containers

#23721 [Spectrum] Update plan restriction
  src/content/docs/spectrum/about/static-ip.mdx
Labels: product:spectrum, size/xs

#23682 [ZT] Edit China MDM example
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/switch-organizations.mdx
Labels: product:cloudflare-one, size/s

#23703 [Docs Site] Move vendored Markdown upload to rclone
  .github/workflows/publish-production.yml
  bin/rclone.conf
Labels: size/s

#23706 Update logging-options.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/logging-options.mdx
Labels: product:cloudflare-one, size/xs

#23705 [ZT] update Access wildcard example
  src/content/docs/cloudflare-one/policies/access/app-paths.mdx
Labels: product:cloudflare-one, size/xs

#23704 [ZT] Browser-based RDP WARP auth
  src/content/docs/cloudflare-one/applications/non-http/infrastructure-apps.mdx
  src/content/docs/cloudflare-one/applications/non-http/self-hosted-private-app.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/rdp/rdp-browser.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
  src/content/partials/cloudflare-one/access/modify-gateway-policy-precedence.mdx
Labels: product:cloudflare-one, size/s

#23737 [DDoS Protection] Adaptive DDoS Protection for Origins
  src/content/docs/ddos-protection/managed-rulesets/adaptive-protection.mdx
  src/content/docs/ddos-protection/managed-rulesets/http/index.mdx
Labels: size/s, product:ddos-protection

#23743 [Fundamentals] Added docs for viewing submitted reports
  src/content/docs/fundamentals/reference/report-abuse/submit-report.mdx
Labels: size/s, product:fundamentals

#23676 [Email Security] Update changelog
  src/assets/images/changelog/email-security/Attachment-RBI.png
  src/assets/images/changelog/email-security/CASB-EmailSecurity.png
  src/assets/images/changelog/email-security/DLP-Alert.png
  src/assets/images/changelog/email-security/DLP-Blocked.png
  src/assets/images/changelog/email-security/DLP-Pop-up.png
  src/assets/images/changelog/email-security/Escalate.png
  src/assets/images/changelog/email-security/Logpush-Detections.png
  src/assets/images/changelog/email-security/Logpush-User-Actions.png
  src/assets/images/changelog/email-security/Open-Links-Security-Center.png
  src/assets/images/changelog/email-security/Status-Page.png
  src/assets/images/changelog/email-security/investigate-links.jpg
  src/content/changelog/email-security-cf1/2024-11-07-logpush-user-actions.mdx
  src/content/changelog/email-security-cf1/2024-12-19-escalate-user-submissions.mdx
  src/content/changelog/email-security-cf1/2024-12-19-reclassification-tab.mdx
  src/content/changelog/email-security-cf1/2025-02-07-check-status.mdx
  src/content/changelog/email-security-cf1/2025-02-07-open-links-security-center.mdx
  src/content/changelog/email-security-cf1/2025-02-25-dlp-assist-for-m365.mdx
  src/content/changelog/email-security-cf1/2025-03-01-logpush-detections.mdx
  src/content/changelog/email-security-cf1/2025-04-01-casb-email-security.mdx
  src/content/changelog/email-security-cf1/2025-05-08-open-attachments-with-browser-isolation.mdx
  src/content/changelog/email-security-cf1/2025-05-15-open-links-browser-isolation.mdx
Labels: size/m

#23687 Update faq.mdx
  src/content/docs/browser-rendering/faq.mdx
Labels: product:browser-rendering, size/xs

#23224 [R2] Adding infrequent access storage example
  src/content/docs/r2/pricing.mdx
Labels: product:r2, size/s
