Repository cloudflare/cloudflare-docs, pull requests merged in 2025-06, with the labels that each got.

#22823 [Logs] Creates changelog folder for Logs
  src/content/docs/logs/changelog/audit-logs.mdx
  src/content/docs/logs/changelog/index.mdx
  src/content/docs/logs/changelog/logs.mdx
Labels: product:logs, size/s

#22816 docs: Fix typo in Update brower-rendering-autorag-tutorial.mdx
  src/content/docs/autorag/tutorial/brower-rendering-autorag-tutorial.mdx
Labels: size/xs, product:AutoRAG

#22683 [Chore] Update cookie preference icon
  src/assets/privacyoptions.svg
  src/components/OneTrust.astro
  src/components/overrides/Footer.astro
Labels: size/s

#22827 [Turnstile] Add 400020, 400030 and 400040 error codes
  src/content/docs/turnstile/troubleshooting/client-side-errors/error-codes.mdx
Labels: size/xs, product:turnstile

#22829 [Cache ]Updates operator's list
  src/content/docs/cache/how-to/cache-rules/settings.mdx
Labels: product:cache, size/xs

#22701 [Chore] Deprecate release notes RSS feed
  public/__redirects
  src/content/release-notes/feed-deprecation-ddos.yaml
  src/content/release-notes/feed-deprecation-waf.yaml
  src/content/release-notes/feed-deprecation.yaml
  src/pages/release-notes/index.xml.ts
  worker/index.worker.test.ts
Labels: size/m

#22794 [Docs Site] New schema value for Support AI
  src/components/overrides/Head.astro
  src/schemas/base.ts
  src/util/markdown.ts
Labels: size/s

#22804 Update chat-completion.mdx
  src/content/docs/ai-gateway/chat-completion.mdx
Labels: size/xs, product:ai-gateway

#22835 [Fundamentals] Adding in link
  src/content/docs/fundamentals/manage-members/user-groups.mdx
Labels: size/xs, product:fundamentals

#22589 Update connection-limits.mdx
  src/content/docs/fundamentals/reference/connection-limits.mdx
Labels: size/xs, product:fundamentals

#22838 [Fundamentals] Added missing redirect
  public/__redirects
Labels: size/xs

#22639 [Gateway] Remove protocol detection ENT
  src/content/docs/cloudflare-one/policies/gateway/network-policies/protocol-detection.mdx
  src/content/partials/cloudflare-one/gateway/selectors/protocol-detection.mdx
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/s

#22765 Cf1 gateway analytics changelog
  src/assets/images/changelog/cloudflare-one/gateway-analytics.png
  src/content/changelog/cloudflare-one/gateway-analytics-v2
Labels: size/s

#22789 Document Gateway's blocking behaviour for DNS queries other than A/AAAA
  src/content/docs/cloudflare-one/policies/gateway/block-page.mdx
  src/content/docs/cloudflare-one/policies/gateway/dns-policies/index.mdx
  src/content/partials/cloudflare-one/gateway/block-page-dns-records.mdx
Labels: product:cloudflare-one, size/s

#22084 [Load Balancing] Account Load Balancing updates
  src/content/docs/load-balancing/additional-options/load-balancing-china.mdx
  src/content/docs/load-balancing/load-balancers/dns-records.mdx
  src/content/docs/load-balancing/load-balancers/index.mdx
  src/content/docs/load-balancing/private-network/index.mdx
  src/content/docs/load-balancing/understand-basics/load-balancing-components.mdx
  src/content/partials/load-balancing/dns-load-balancing-limitations.mdx
  src/content/partials/load-balancing/layer-7-load-balancing-benefits.mdx
  src/content/partials/load-balancing/load-balancer-create.mdx
  src/content/partials/load-balancing/load-balancer-definition.mdx
  src/content/partials/load-balancing/session-affinity-definition.mdx
Labels: product:load-balancing, size/s

#22849 [LB] Updates magic wan docs
  src/content/docs/load-balancing/private-network/magic-wan.mdx
Labels: product:load-balancing, size/s

#22852 R2 learning path
  src/content/docs/learning-paths/r2-intro/series/index.mdx
  src/content/docs/learning-paths/r2-intro/series/r2-1.mdx
  src/content/docs/learning-paths/r2-intro/series/r2-2.mdx
  src/content/docs/learning-paths/r2-intro/series/r2-3.mdx
  src/content/docs/learning-paths/r2-intro/series/r2-4.mdx
  src/content/docs/learning-paths/r2-intro/series/r2-5.mdx
  src/content/learning-paths/r2-intro.json
  src/content/partials/learning-paths/r2-series-navigation.mdx
Labels: size/m, product:learning-paths

#22386 Fix the description of `--keep-vars`
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs

#22834 release June 02-2025
  src/content/docs/waf/change-log/2025-06-02.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
  src/content/release-notes/waf.yaml
Labels: product:waf, size/m

#22855 [Changelog] Add entry: Shopify O2O improvements
  src/assets/images/changelog/dns/shop-dns-icon-o2o.png
  src/content/changelog/dns/2025-06-03-shopify-o2o-improvements.mdx
Labels: size/s

#22825 [C4Platforms, DNS] Update Shopify guide
  src/assets/images/cloudflare-for-platforms/provider-guides/shopify-dns-entry.png
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/shopify.mdx
  src/content/docs/dns/manage-dns-records/reference/dns-record-types.mdx
Labels: product:dns, product:cloudflare-for-platforms, size/s

#22863 [Various] Adds LC links to relevant pages
  src/content/docs/bots/concepts/bot/index.mdx
  src/content/docs/bots/concepts/bot/verified-bots/index.mdx
  src/content/docs/bots/get-started/bot-management.mdx
  src/content/docs/ddos-protection/about/how-ddos-protection-works.mdx
  src/content/docs/ddos-protection/botnet-threat-feed.mdx
Labels: product:bots, size/s, product:ddos-protection

#22860 [Realtime] Fix simulcast example dead link
  src/content/docs/realtime/simulcast.mdx
Labels: size/xs, product:realtime

#22814 marimo data catalog: use cleaner syntax
  src/content/docs/r2/data-catalog/get-started.mdx
Labels: product:r2, size/xs

#22832 [Docs Site] Add tags filter to /search/
  src/components/search/InstantSearch.tsx
  src/styles/input.css
Labels: size/s

#22831 [Docs Site] Attempt to redirect index.md files
  public/__redirects
  worker/index.ts
  worker/index.worker.test.ts
  wrangler.toml
Labels: size/m

#22862 [WR] Adds FAQ to WR docs
  src/content/docs/waiting-room/troubleshooting.mdx
Labels: product:waiting-room, size/xs

#22836 [Docs Site] Enforce and transform frontmatter tags
  astro.config.ts
  src/components/TagsUsage.astro
  src/content/docs/kv/examples/cache-data-with-workers-kv.mdx
  src/content/docs/kv/examples/distributed-configuration-with-workers-kv.mdx
  src/content/docs/kv/examples/implement-ab-testing-with-workers-kv.mdx
  src/content/docs/kv/examples/routing-with-workers-kv.mdx
  src/content/docs/kv/examples/workers-kv-to-serve-assets.mdx
  src/content/docs/style-guide/frontmatter/tags.mdx
  src/plugins/starlight/route-data.ts
  src/schemas/tags.ts
Labels: size/m, product:style-guide, product:kv

#22867 [Various] Empty indexes
  src/content/docs/bots/additional-configurations/index.mdx
  src/content/docs/bots/concepts/index.mdx
  src/content/docs/bots/get-started/index.mdx
  src/content/docs/bots/reference/index.mdx
  src/content/docs/bots/troubleshooting/index.mdx
  src/content/docs/bots/workers-templates/index.mdx
  src/content/docs/cloudflare-challenges/challenge-types/index.mdx
  src/content/docs/cloudflare-challenges/concepts/index.mdx
  src/content/docs/cloudflare-challenges/reference/index.mdx
  src/content/docs/ddos-protection/advanced-ddos-systems/index.mdx
Labels: product:bots, size/s, product:ddos-protection, product:cloudflare-challenges

#22874 [DDoS/NAv2] User permission limitations
  src/content/docs/analytics/network-analytics/get-started.mdx
Labels: product:analytics, size/xs

#22885 [Fundamentals ] Removed screenshots. Combined sentences
  src/content/docs/fundamentals/concepts/accounts-and-zones.mdx
Labels: size/s, product:fundamentals

#22886 Changelog for new bindings canvas
  src/assets/images/changelog/workers/bindings-canvas.png
  src/content/changelog/workers/2025-06-03-visualize-your-worker-architecture.mdx
Labels: size/s

#22891 Update Pages v3 and Workers Builds build images
  src/content/docs/workers/ci-cd/builds/build-image.mdx
  src/content/pages-build-environment/v3.yaml
Labels: product:workers, size/s

#22850 add more detail around how to use bindings in React-Router Workers projects
  src/content/docs/workers/frameworks/framework-guides/react-router.mdx
Labels: product:workers, size/m

#22870 DLS-178: Fix CMB graphql datasets table
  src/content/docs/data-localization/metadata-boundary/graphql-datasets.mdx
Labels: product:data-localization, size/s

#22830 [Rules] Update error page types
  src/content/docs/rules/custom-errors/api-calls.mdx
  src/content/docs/rules/custom-errors/edit-error-pages.mdx
  src/content/docs/rules/custom-errors/reference/error-page-types.mdx
Labels: product:rules, size/m

#22553 [Email Security] Migration docs
  src/content/docs/email-security/migrate-to-email-security.mdx
Labels: size/m, product:email-security

#22894 Update User Groups Changelog
  src/content/changelog/fundamentals/2025-06-02-user-groups-beta.mdx
Labels: size/xs

#22643 Add binding example to AI Gateway universal page
  src/content/docs/ai-gateway/universal.mdx
Labels: size/s, product:ai-gateway

#22853 [DNS] API docs link review
  src/content/docs/dns/cname-flattening/set-up-cname-flattening.mdx
  src/content/docs/dns/foundation-dns/setup.mdx
  src/content/docs/dns/nameservers/custom-nameservers/account-custom-nameservers.mdx
  src/content/docs/dns/nameservers/custom-nameservers/tenant-custom-nameservers.mdx
  src/content/docs/dns/zone-setups/conversions/convert-full-to-secondary.mdx
  src/content/docs/dns/zone-setups/conversions/convert-partial-to-secondary.mdx
  src/content/docs/dns/zone-setups/conversions/convert-secondary-to-full.mdx
  src/content/release-notes/api-deprecations.yaml
Labels: product:dns, size/s

#22903 [SSL] chatbot_deprioritize and note on AOP cert order
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/reference/versioning.mdx
  src/content/docs/ssl/origin-configuration/authenticated-origin-pull/set-up/manage-certificates.mdx
  src/content/docs/ssl/origin-configuration/authenticated-origin-pull/set-up/per-hostname.mdx
  src/content/docs/ssl/origin-configuration/authenticated-origin-pull/set-up/zone-level.mdx
Labels: product:ssl, product:cloudflare-for-platforms, size/s

#22897 [D1] Adding D1 simultaneous connection limit as an FAQ
  src/content/docs/d1/platform/limits.mdx
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, product:d1, size/xs

#22699 [CF1] signing cert clarification
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/custom-certificate.mdx
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/client-certificate.mdx
  src/content/partials/cloudflare-one/upload-mtls-cert.mdx
Labels: product:cloudflare-one, size/s

#22899 [Email Security] Add associate an integration instructions
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/mx-inline-deployment-setup.mdx
Labels: product:cloudflare-one, size/s

#22864 [D1] Updating D1Result object to include the new fields
  src/content/docs/d1/worker-api/return-object.mdx
Labels: product:d1, size/s

#22790 [CF1] add details on serial numbers in posture checks
  src/content/docs/cloudflare-one/identity/devices/service-providers/custom.mdx
  src/content/docs/cloudflare-one/identity/devices/service-providers/sentinelone.mdx
  src/content/partials/cloudflare-one/posture/service-provider-intro.mdx
Labels: product:cloudflare-one, size/m

#22905 [CF1] partial front matter edit
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/custom-certificate.mdx
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/client-certificate.mdx
  src/content/partials/cloudflare-one/upload-mtls-cert.mdx
Labels: product:cloudflare-one, size/xs

#22907 [AI Gateway] OpenAI SDK example fix
  src/content/docs/ai-gateway/chat-completion.mdx
Labels: size/xs, product:ai-gateway

#22909 new load balancing ui
  src/assets/images/changelog/load-balancing/account-load-balancing-ui.png
  src/assets/images/changelog/load-balancing/private-load-balancer.png
  src/content/changelog/load-balancing/2025-06-04-account-load-balancing-ui.mdx
Labels: size/s

#22664 [CF1] CWI step 3 expansion
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/clientless-browser-isolation.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/index.mdx
Labels: product:cloudflare-one, size/s

#22888 [Gateway] Update EDNS behavior
  src/content/partials/cloudflare-one/gateway/add-locations.mdx
Labels: sub-product:gateway, size/xs

#22914 [ZT] Remove outdated WARP requirements from Hexnode guide
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/hexnode.mdx
Labels: product:cloudflare-one, size/s

#22887 [Gateway] Unknown action in logs
  src/content/docs/cloudflare-one/insights/logs/gateway-logs/index.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#22868 [SSL] Clarify criteria for HTTP validation with CHs
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/issue-and-validate/renew-certificates.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/issue-and-validate/validate-certificates/delegated-dcv.mdx
Labels: product:cloudflare-for-platforms, size/s

#22741 Clarify additional option
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.mdx
Labels: product:dns, size/xs

#22920 Update 2025-06-03-aig-openai-compatible-endpoint.mdx
  src/content/changelog/ai-gateway/2025-06-03-aig-openai-compatible-endpoint.mdx
Labels: size/xs

#22921 Fix broken links in Deploy to Cloudflare buttons
  src/content/docs/durable-objects/get-started.mdx
  src/content/docs/workers/frameworks/framework-guides/astro.mdx
  src/content/docs/workers/frameworks/framework-guides/hono.mdx
  src/content/docs/workers/frameworks/framework-guides/react.mdx
  src/content/docs/workers/platform/deploy-buttons.mdx
Labels: product:workers, product:durable-objects, size/xs

#22933 [D1] Adding beta badge to read replication docs
  src/content/docs/d1/best-practices/read-replication.mdx
Labels: product:d1, size/xs

#22934 [Chore] Update video listings to remove non-showed
  src/content/videos/index.yaml
Labels: size/s

#22824 Update override-expressions.mdx
  src/content/docs/ddos-protection/managed-rulesets/network/override-expressions.mdx
Labels: do-not-merge-yet, size/xs, product:ddos-protection

#22910 Update DLS region lists, sort them and move them onto a single page
  src/content/docs/data-localization/region-support.mdx
  src/content/docs/data-localization/regional-services/get-started.mdx
Labels: product:data-localization, size/m

#22881 [ZT] Managed networks feature availability
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.mdx
Labels: product:cloudflare-one, size/s

#22879 Consumer WARP - switch tunnel protocol
  src/content/docs/warp-client/get-started/linux.mdx
Labels: product:warp-client, size/s

#22518 [ZT] WARP SCCM
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
Labels: product:cloudflare-one, size/s

#22844 [ZT] WARP post-quantum mdm parameter
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/parameters.mdx
Labels: product:cloudflare-one, size/s

#22603 Add changelog for v5.5.0 Terraform provider release
  src/content/changelog/fundamentals/2025-05-19-terraform-v5.5.0-provider.mdx
Labels: size/s

#22632 [iDNS] Internal DNS MVP UI release
  src/content/docs/dns/index.mdx
  src/content/docs/dns/internal-dns/dns-views.mdx
  src/content/docs/dns/internal-dns/get-started.mdx
  src/content/docs/dns/internal-dns/index.mdx
  src/content/docs/dns/internal-dns/internal-zones/index.mdx
  src/content/docs/dns/internal-dns/internal-zones/internal-dns-records.mdx
  src/content/docs/dns/internal-dns/internal-zones/reference-zones.mdx
  src/content/docs/dns/internal-dns/internal-zones/setup.mdx
  src/content/partials/dns/internal-dns-view-create-dash.mdx
  src/content/partials/dns/internal-reference-zone-intro.mdx
  src/content/partials/dns/internal-zone-create-api.mdx
  src/content/partials/dns/internal-zone-create-dash.mdx
  src/content/partials/dns/internal-zones-conditions.mdx
  src/content/products/internal-dns.yaml
Labels: product:dns, size/m

#22949 Update get-started.mdx
  src/content/docs/r2/data-catalog/get-started.mdx
Labels: product:r2, size/xs

#22945 Update override-expressions.mdx
  src/content/docs/ddos-protection/managed-rulesets/network/override-expressions.mdx
Labels: size/xs, product:ddos-protection

#22937 [Browser Rendering] Removed API term
  src/content/docs/browser-rendering/get-started.mdx
  src/content/docs/browser-rendering/index.mdx
  src/content/docs/browser-rendering/platform/limits.mdx
  src/content/docs/browser-rendering/rest-api/index.mdx
  src/content/docs/browser-rendering/workers-binding-api/index.mdx
Labels: product:browser-rendering, size/s

#22954 [Turnstile] Offlabel wording
  src/content/docs/turnstile/concepts/widget.mdx
Labels: size/xs, product:turnstile

#22955 Realtime: Add additional questions to the TURN FAQs
  src/content/docs/realtime/turn/faq.mdx
Labels: size/xs, product:realtime

#22960 [Rules] Changelog: cf.worker.upstream_zone in Transform Rules and 4xx/5xx content fetching in Custom Errors
  src/assets/images/changelog/rules/transform-rule-subrequest-matching.png
  src/content/changelog/rules/2025-06-09-custom-errors-fetch-4xx-5xx-assets.mdx
  src/content/changelog/rules/2025-06-09-transform-rule-subrequest-matching.mdx
  src/content/docs/rules/custom-errors/troubleshooting.mdx
Labels: product:rules, size/s

#22952 add prompt to migrate to workers
  public/workers/prompts/pages-to-workers.txt
  src/content/docs/workers/static-assets/migration-guides/migrate-from-pages.mdx
Labels: product:workers, size/m

#22970 fix weird characters in pages to workers prompt
  public/workers/prompts/pages-to-workers.txt
Labels: size/xs

#22969 Documents environment variables present in workers builds
  src/content/docs/pages/configuration/build-configuration.mdx
  src/content/docs/workers/ci-cd/builds/configuration.mdx
Labels: product:workers, product:pages, size/s

#22965 Release June 9th - 2025
  src/content/docs/waf/change-log/2025-06-09.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
  src/content/release-notes/waf.yaml
Labels: product:waf, size/m

#22983 [Docs Site] Add chatbot_deprioritize to changelogs
  src/pages/changelog/[...slug].astro
  src/pages/changelog/index.astro
Labels: size/xs

#22972 chore: Add BANDA team as codeowners on AI prompts for Cloudflare Workers
  .github/CODEOWNERS
Labels: size/xs

#22987 Release-Jun-10-2025
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/s

#22754 [Docs Site] Add DocsAI.tsx
  package-lock.json
  package.json
  src/components/DocsAI.tsx
  src/content/docs/support/ai.mdx
  src/content/docs/support/cloudflare-status.mdx
  src/content/docs/support/customer-incident-management-policy.mdx
  src/content/docs/support/disruptive-maintenance.mdx
Labels: size/m, product:support

#22984 [Bots] Clarification wording to bots list
  src/content/docs/ai-audit/get-started.mdx
  src/content/partials/bots/list-ai-bots.mdx
Labels: size/s, product:ai-audit

#22998 [Docs Site] Add tracking events and hide footer elements on DocsAI
  src/components/DocsAI.tsx
  src/components/overrides/Footer.astro
  src/components/overrides/Page.astro
  src/components/overrides/TableOfContents.astro
  src/content/docs/support/ai.mdx
  src/schemas/base.ts
  src/styles/tailwind.css
Labels: size/s, product:support

#22995 [Docs site] update wrong text in c3 prompt
  src/content/docs/pages/get-started/c3.mdx
  src/content/partials/workers/c3-post-run-steps.mdx
Labels: product:pages, size/xs

#22996 Add changelog entry for NSEC3 support and update ENT-only availability for NSEC3
  src/content/changelog/dns/2025-06-11-nsec3-support.mdx
  src/content/docs/dns/dnssec/enable-nsec3.mdx
Labels: product:dns, size/s

#22976 Update response-buffering.mdx
  src/content/docs/network/response-buffering.mdx
Labels: size/xs, product:network

#22999 [DDoS Protection] update FAQ
  src/content/docs/ddos-protection/frequently-asked-questions.mdx
Labels: size/s, product:ddos-protection

#23015 Remove-Entry-Vercel
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/s

#23039 [Ruleset Engine] Fix `concat()` documentation
  src/content/docs/ruleset-engine/rules-language/functions.mdx
Labels: product:ruleset-engine, size/xs

#23044 Add changelog entry for Internal DNS beta UI release
  src/assets/images/changelog/dns/internal-dns-beta-ui.png
  src/content/changelog/dns/2025-06-16-internal-dns-beta-ui.mdx
Labels: size/s

#22919 [ZT] Push mdm.xml to Windows devices with Intune
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/intune.mdx
Labels: product:cloudflare-one, size/m

#23052 [Learning paths] Deleting personal website learning path
  public/__redirects
  src/content/docs/learning-paths/application-security/default-traffic-security/ddos.mdx
  src/content/docs/learning-paths/personal-website/concepts/create-account.mdx
  src/content/docs/learning-paths/personal-website/concepts/index.mdx
  src/content/docs/learning-paths/personal-website/concepts/verify-email-address.mdx
  src/content/docs/learning-paths/personal-website/domain-setup/add-domain.mdx
  src/content/docs/learning-paths/personal-website/domain-setup/index.mdx
  src/content/docs/learning-paths/personal-website/domain-setup/minimize-downtime.mdx
  src/content/docs/learning-paths/personal-website/domain-setup/update-nameservers.mdx
  src/content/docs/learning-paths/personal-website/pages-setup/connect-git-pages.mdx
  src/content/docs/learning-paths/personal-website/pages-setup/git-configure-deployment.mdx
  src/content/docs/learning-paths/personal-website/pages-setup/git-manage-site.mdx
  src/content/docs/learning-paths/personal-website/pages-setup/index.mdx
  src/content/docs/learning-paths/personal-website/select-themes/index.mdx
  src/content/docs/reference-architecture/diagrams/iot/optimizing-and-securing-connected-transportation-systems.mdx
  src/content/learning-paths/personal-website.json
Labels: product:reference-architecture, size/m, product:learning-paths

#22416 Create terraform-example for bulk redirect
  src/content/docs/rules/url-forwarding/bulk-redirects/terraform-example.mdx
  src/content/partials/fundamentals/account-permissions-table.mdx
Labels: product:rules, size/m

#22362 [Workers][Developer Platform] Add "Workers Platform" roles to "roles.mdx"
  src/content/changelog/workers/2025-06-16-workers-platform-admin-role.mdx
  src/content/docs/fundamentals/manage-members/roles.mdx
Labels: size/s, product:fundamentals

#23065 [Rules] Add example for subrequests from other zones
  src/content/docs/rules/transform/examples/add-request-header-subrequest-other-zone.mdx
Labels: product:rules, size/s

#23071 [ZT] WARP beta
  bin/fetch-warp-releases.js
  src/content/warp-releases/macos/beta/2025.5.828.1.yaml
  src/content/warp-releases/windows/beta/2025.5.828.1.yaml
Labels: size/s

#23072 [MWAN] Corrected link
  src/content/partials/networking-services/mconn/configure-connectors.mdx
Labels: size/xs

#23068 Mitigations put in place for SSRF in `@opennextjs/cloudflare`
  src/content/changelog/workers/2025-06-17-open-next-ssrf.mdx
Labels: size/s

#21008 [Workers] Add getting started guide for API and IaC
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/get-started/user-workers.mdx
  src/content/docs/terraform/additional-configurations/link-workers.mdx
  src/content/docs/workers/configuration/multipart-upload-metadata.mdx
  src/content/docs/workers/platform/infrastructure-as-code.mdx
Labels: product:workers, product:terraform, product:cloudflare-for-platforms, size/m

#22710 Registrar renewal doc FAQ edits
  src/content/docs/registrar/faq.mdx
Labels: product:registrar, size/xs

#23070 Create changelog for Terraform v5.6.0 release
  src/content/changelog/fundamentals/2025-06-17-terraform-v5.6.0-provider.mdx
Labels: size/s

#23078 [Gateway] Non-Latin character limitation
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/lists.mdx
  src/content/partials/cloudflare-one/gateway/selectors/domain.mdx
  src/content/partials/cloudflare-one/gateway/selectors/host.mdx
  src/content/partials/cloudflare-one/gateway/selectors/non-latin-characters.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#23076 [C4Plat] Add Render provider guide
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/bigcommerce.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/hubspot.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/kinsta.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/render.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/salesforce-commerce-cloud.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/shopify.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/wpengine.mdx
  src/content/partials/cloudflare-for-platforms/provider-guide-benefits.mdx
  src/content/partials/cloudflare-for-platforms/provider-guide-help.mdx
  src/content/partials/cloudflare-for-platforms/provider-guide-intro.mdx
Labels: product:cloudflare-for-platforms, size/m

#23087 2025-06-18-new-order-of-enforcement.mdx
  src/content/changelog/gateway/2025-06-17-new-order-of-enforcement.mdx
Labels: size/s

#23083 [ZT] Gateway proxy and global WARP settings in Terraform
  src/content/docs/learning-paths/replace-vpn/configure-device-agent/enable-proxy.mdx
  src/content/partials/cloudflare-one/tunnel/enable-gateway-proxy.mdx
  src/content/partials/learning-paths/zero-trust/device-profiles.mdx
Labels: size/s, product:learning-paths

#22602 Add Python code to Durable Object get-started.mdx.
  src/components/TypeScriptExample.astro
  src/content/docs/durable-objects/get-started.mdx
Labels: product:durable-objects, size/m

#23095 [Docs Site] Add ComponentUsage component
  src/components/ComponentUsage.astro
  src/components/ComponentsUsage.astro
  src/components/index.ts
  src/components/overrides/PageTitle.astro
  src/util/components.ts
Labels: size/s

#23098 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#22784 Update zone-analytics.mdx
  src/content/docs/analytics/account-and-zone-analytics/zone-analytics.mdx
Labels: product:analytics, size/s

#23049 [Log Explorer] Log explorer docs
  .github/CODEOWNERS
  public/__redirects
  src/assets/images/log-explorer/supported-sql-grammar-graph.png
  src/content/docs/log-explorer/api.mdx
  src/content/docs/log-explorer/custom-dashboards.mdx
  src/content/docs/log-explorer/index.mdx
  src/content/docs/log-explorer/log-search.mdx
  src/content/docs/log-explorer/manage-datasets.mdx
  src/content/docs/logs/log-explorer.mdx
  src/content/products/log-explorer.yaml
  src/icons/log-explorer.svg
Labels: product:logs, size/m, product:log-explorer

#23100 Remove irrelevant config from remote bindings example
  src/content/docs/workers/development-testing/index.mdx
Labels: product:workers, size/xs

#23111 [Gateway] Sandboxing add-on availability
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#23061 [CF1] DoH and service tokens
  src/content/docs/cloudflare-one/connections/connect-devices/agentless/dns/dns-over-https.mdx
Labels: product:cloudflare-one, size/xs

#23112 [API Shield] components + light reorg
  public/__redirects
  src/content/docs/api-shield/get-started.mdx
  src/content/docs/api-shield/index.mdx
  src/content/docs/api-shield/management-and-monitoring/api-routing.mdx
  src/content/docs/api-shield/management-and-monitoring/developer-portal.mdx
  src/content/docs/api-shield/management-and-monitoring/endpoint-labels.mdx
  src/content/docs/api-shield/management-and-monitoring/endpoint-management/index.mdx
  src/content/docs/api-shield/management-and-monitoring/endpoint-management/schema-learning.mdx
  src/content/docs/api-shield/reference/terraform.mdx
  src/content/docs/api-shield/security/authentication-posture.mdx
  src/content/docs/api-shield/security/graphql-protection/api.mdx
  src/content/docs/api-shield/security/jwt-validation/api.mdx
  src/content/docs/api-shield/security/jwt-validation/index.mdx
  src/content/docs/api-shield/security/jwt-validation/jwt-worker.mdx
  src/content/docs/api-shield/security/jwt-validation/transform-rules.mdx
  src/content/docs/api-shield/security/mtls/configure.mdx
  src/content/docs/api-shield/security/mtls/index.mdx
  src/content/docs/api-shield/security/schema-validation/api.mdx
  src/content/docs/api-shield/security/schema-validation/index.mdx
  src/content/docs/api-shield/security/sequence-mitigation/api.mdx
  src/content/docs/api-shield/security/sequence-mitigation/custom-rules.mdx
  src/content/docs/api-shield/security/sequence-mitigation/index.mdx
  src/content/docs/api-shield/security/sequence-mitigation/manage-sequence-rules.mdx
  src/content/docs/api-shield/security/volumetric-abuse-detection.mdx
  src/content/docs/data-localization/metadata-boundary/graphql-datasets.mdx
  src/content/docs/security/settings.mdx
  src/content/docs/waf/custom-rules/use-cases/check-jwt-claim-to-protect-admin-user.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/partials/api-shield/mtls-create-rule.mdx
  src/content/partials/api-shield/routing.mdx
  src/content/partials/api-shield/set-up-session-identifiers.mdx
  src/content/partials/api-shield/source-endpoints.mdx
Labels: product:waf, product:data-localization, product:api-shield, size/l, product:security

#23117 [Log Explorer] Updates
  src/content/docs/log-explorer/custom-dashboards.mdx
  src/content/docs/log-explorer/log-search.mdx
  src/content/docs/log-explorer/manage-datasets.mdx
Labels: size/xs, product:log-explorer

#23119 Update local-data.mdx
  src/content/docs/workers/development-testing/local-data.mdx
Labels: product:workers, size/xs

#23101 Add changelog entry for account level DNS analytics
  src/content/changelog/dns/2025-06-23-account-level-dns-analytics-api.mdx
Labels: size/s

#23036 Anni/autorag changelog 2
  public/__redirects
  src/content/changelog/autorag/2025-04-23-autorag-metadata-filtering.mdx
  src/content/changelog/autorag/2025-06-19-autorag-custom-metadata-and-context.mdx
  src/content/changelog/autorag/2025-06-19-autorag-filename-filter.mdx
  src/content/docs/autorag/autorag-api.mdx
  src/content/docs/autorag/configuration/data-source.mdx
  src/content/docs/autorag/configuration/metadata.mdx
  src/content/docs/autorag/how-to/multitenancy.mdx
  src/content/docs/autorag/platform/limits-pricing.mdx
  src/content/partials/autorag/ai-search-api-params.mdx
  src/content/partials/autorag/search-api-params.mdx
  src/content/release-notes/autorag.yaml
Labels: size/m, product:AutoRAG

#23124 [Email Security] Update Egress IPs page
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/egress-ips.mdx
Labels: product:cloudflare-one, size/xs

#23094 [Magic] Traffic labels
  src/content/docs/magic-transit/analytics/network-analytics.mdx
  src/content/docs/magic-wan/analytics/network-analytics.mdx
  src/content/partials/networking-services/analytics/network-analytics.mdx
  src/content/partials/networking-services/analytics/network-traffic-filters.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#23137 [Bots] Updates to AI bot language
  src/content/docs/bots/concepts/bot/index.mdx
  src/content/docs/bots/concepts/bot/verified-bots/categories.mdx
  src/content/partials/bots/list-ai-bots.mdx
Labels: product:bots, size/s

#23135 Use badge for beta
  src/content/docs/workers/runtime-apis/bindings/secrets-store.mdx
  src/util/sidebar.ts
Labels: product:workers, size/xs

#23138 [Chore] Remove unused image files
  src/assets/images/agents/mcp-demo-oauth-flow.png
  src/assets/images/agents/workflow-automation.png
  src/assets/images/ai-gateway/cerebras.png
  src/assets/images/cloudflare-one/connections/device-information-only-windows.png
  src/assets/images/cloudflare-one/zero-trust-security/gitlab/app-list.png
  src/assets/images/cloudflare-one/zero-trust-security/require-yubikey/app-list.png
  src/assets/images/email-routing/mta-sts-worker.png
  src/assets/images/email-security/email-retraction/gmail/step23-service-accounts.png
  src/assets/images/email-security/email-retraction/gmail/step5-enable-apis.png
  src/assets/images/email-security/email-retraction/gmail/step7-sdk-api.png
  src/assets/images/email-security/email-retraction/gmail/step9-gmail-api.png
  src/assets/images/fundamentals/cloudflare-areas.png
  src/assets/images/fundamentals/get-started/dash-overview-api-close-view.png
  src/assets/images/fundamentals/google/cf-logpush-to-google-cloud-platform.png
  src/assets/images/fundamentals/google/cf-logs-insights-template.png
  src/assets/images/gateway/assigning-pdns-user-role.png
  src/assets/images/learning-paths/secure-o365-email/api-and-journaling-deployment.png
  src/assets/images/magic-network-monitoring/custom-time-range.png
  src/assets/images/migration-guides/descaler-migration.png
  src/assets/images/support/gathering_har_file_save.png
  src/assets/images/workers-ai/pricing-calculator.png
  src/assets/images/workers/databases/native-integrations/fauna_oauth.png
  src/assets/images/workers/platform/assets/workers-assets-invoke-worker.png
  src/assets/images/workers/platform/assets/workers-assets-serve-asset.png
  src/assets/images/workers/platform/ci-cd/workers-builds-name.png
  src/assets/images/workers/tutorials/store-data-with-fauna/integrate_fauna.png
Labels: size/xs

#23123 D1 alpha backup access removed
  src/content/docs/d1/reference/backups.mdx
  src/content/release-notes/d1.yaml
Labels: product:d1, size/s

#23139 Update index.mdx
  src/content/docs/fundamentals/manage-domains/index.mdx
Labels: size/s, product:fundamentals

#23045 Update deploy-a-react-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-react-site.mdx
Labels: product:pages, size/xs

#22843 Update cron-triggers.mdx
  src/content/docs/workers/configuration/cron-triggers.mdx
Labels: product:workers, size/xs

#22624 Remove unused "Example"
  src/content/partials/images/fit.mdx
Labels: size/xs

#23097 [DocsAI] Update noresponse message
  src/components/DocsAI.tsx
Labels: size/xs

#23136 add experimental `remoteBindings` option to `getPlatformProxy` docs
  src/content/docs/workers/development-testing/index.mdx
  src/content/docs/workers/wrangler/api.mdx
Labels: product:workers, size/s

#23128 Update limits.mdx
  src/content/docs/analytics/analytics-engine/limits.mdx
Labels: product:analytics, size/xs

#23008 adds new static routing options under run_worker_first
  src/content/changelog/workers/2025-06-17-advanced-routing.mdx
  src/content/docs/workers/static-assets/billing-and-limitations.mdx
  src/content/docs/workers/static-assets/binding.mdx
  src/content/docs/workers/static-assets/index.mdx
  src/content/docs/workers/static-assets/routing/single-page-application.mdx
  src/content/docs/workers/static-assets/routing/worker-script.mdx
  src/content/docs/workers/vite-plugin/reference/static-assets.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/partials/workers/static_asset_routing_reference.mdx
Labels: product:workers, size/m

#22986 [GraphQL] Hint more errors
  src/content/docs/analytics/graphql-api/errors.mdx
  src/content/docs/analytics/graphql-api/limits.mdx
Labels: product:analytics, size/xs

#23140 [Email Security] Add limitations to DLP Assist
  src/content/docs/cloudflare-one/email-security/outbound-dlp.mdx
Labels: product:cloudflare-one, size/s

#23145 Duplicate "Figure 3:" on figure caption
  src/content/docs/reference-architecture/diagrams/sase/zero-trust-and-virtual-desktop-infrastructure.mdx
Labels: product:reference-architecture, size/xs

#23114 [Logs] Update Logpush to Splunk
  src/content/docs/logs/get-started/enable-destinations/splunk.mdx
Labels: product:logs, size/s

#23155 docs: fix alignment code block
  src/content/docs/kv/index.mdx
Labels: size/s, product:kv

#23163 [Docs Site] Add chatbotDeprioritize to hidden pages
  src/components/overrides/Head.astro
  worker/index.worker.test.ts
Labels: size/xs

#23129 Create 2025-06-19-increased-blob-size-limits-in-Workers-Analytics.mdx
  src/content/changelog/workers/2025-06-20-increased-blob-size-limits-in-Workers-Analytics.mdx
Labels: size/s

#23152 User Groups GA docs updates
  src/content/docs/fundamentals/account/account-security/scim-setup/entra.mdx
  src/content/docs/fundamentals/manage-members/user-groups.mdx
  src/content/partials/fundamentals/idp-group-deprecation.mdx
Labels: size/s, product:fundamentals

#23168 [Workers AI] Use model catalog instead of static lists
  src/content/docs/workers-ai/features/batch-api/index.mdx
  src/content/docs/workers-ai/features/fine-tunes/loras.mdx
Labels: size/s, product:workers-ai

#23167 [Workers AI] More updates to model docs
  src/content/workers-ai-models/deepseek-coder-6.7b-base-awq.json
  src/content/workers-ai-models/deepseek-coder-6.7b-instruct-awq.json
  src/content/workers-ai-models/deepseek-math-7b-instruct.json
  src/content/workers-ai-models/deepseek-r1-distill-qwen-32b.json
  src/content/workers-ai-models/discolm-german-7b-v1-awq.json
  src/content/workers-ai-models/gemma-2b-it-lora.json
  src/content/workers-ai-models/gemma-7b-it.json
  src/content/workers-ai-models/llama-2-13b-chat-awq.json
  src/content/workers-ai-models/llama-2-7b-chat-fp16.json
  src/content/workers-ai-models/llama-2-7b-chat-hf-lora.json
  src/content/workers-ai-models/llama-2-7b-chat-int8.json
  src/content/workers-ai-models/llama-3-8b-instruct-awq.json
  src/content/workers-ai-models/llama-3-8b-instruct.json
  src/content/workers-ai-models/llama-3.1-8b-instruct-awq.json
  src/content/workers-ai-models/llama-3.2-1b-instruct.json
  src/content/workers-ai-models/llama-3.2-3b-instruct.json
  src/content/workers-ai-models/llama-3.3-70b-instruct-fp8-fast.json
  src/content/workers-ai-models/llama-4-scout-17b-16e-instruct.json
  src/content/workers-ai-models/llamaguard-7b-awq.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.1-awq.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.1.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.2-lora.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.2.json
  src/content/workers-ai-models/openchat-3.5-0106.json
  src/content/workers-ai-models/openhermes-2.5-mistral-7b-awq.json
  src/content/workers-ai-models/phi-2.json
  src/content/workers-ai-models/qwen1.5-0.5b-chat.json
  src/content/workers-ai-models/qwen1.5-1.8b-chat.json
  src/content/workers-ai-models/qwen1.5-14b-chat-awq.json
  src/content/workers-ai-models/qwen1.5-7b-chat-awq.json
  src/content/workers-ai-models/sqlcoder-7b-2.json
  src/content/workers-ai-models/tinyllama-1.1b-chat-v1.0.json
  src/content/workers-ai-models/zephyr-7b-beta-awq.json
Labels: size/l

#23166 [LB] Updates LB navigation
  src/content/docs/cloudflare-one/tutorials/migrate-lb-tunnel.mdx
  src/content/docs/load-balancing/additional-options/load-balancing-rules/create-rules.mdx
  src/content/docs/load-balancing/additional-options/load-balancing-rules/index.mdx
  src/content/docs/load-balancing/additional-options/load-shedding.mdx
  src/content/docs/load-balancing/additional-options/spectrum.mdx
  src/content/docs/load-balancing/get-started/enable-load-balancing.mdx
  src/content/docs/load-balancing/load-balancers/create-load-balancer.mdx
  src/content/docs/load-balancing/monitors/create-monitor.mdx
  src/content/docs/load-balancing/pools/cloudflare-pages-origin.mdx
  src/content/docs/load-balancing/pools/create-pool.mdx
  src/content/docs/load-balancing/reference/migration-guides/health-monitor-notifications.mdx
  src/content/docs/load-balancing/understand-basics/adaptive-routing.mdx
  src/content/partials/load-balancing/confirm-pool-health.mdx
  src/content/partials/load-balancing/monitor-create.mdx
  src/content/partials/load-balancing/pool-create.mdx
Labels: product:cloudflare-one, product:load-balancing, size/m

#23169 [Email Security] Fix bug
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/index.mdx
Labels: product:cloudflare-one, size/xs

#23187 [Magic] Added tunnel info
  src/content/partials/networking-services/tunnel-health/magic-tunnel-health-alerts.mdx
Labels: size/xs

#23186 [Email Security] Updated references to Office 365
  public/__redirects
  src/content/docs/cloudflare-one/email-security/email-monitoring/index.mdx
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
  src/content/docs/cloudflare-one/email-security/outbound-dlp.mdx
  src/content/docs/cloudflare-one/email-security/retro-scan.mdx
  src/content/docs/cloudflare-one/email-security/setup/index.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/api/m365-api.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/m365-journaling.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/manual-add.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/egress-ips.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/mx-inline-deployment-setup.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/microsoft365-email-security-mx.mdx
  src/content/docs/learning-paths/secure-o365-email/get-started/deployment-models.mdx
Labels: product:cloudflare-one, size/s, product:learning-paths

#23188 Clarify that Durable Objects does not charge for duration beyond the …
  src/content/partials/durable-objects/durable-objects-pricing.mdx
Labels: size/s

#23195 [Email Security] Update diagrams
  src/assets/images/email-security/deployment/api-setup/M365_API_Deployment_Graph.png
  src/assets/images/email-security/deployment/inline-setup/Cisco_to_Email_Security_MX_Inline.png
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/api/index.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/prerequisites/cisco-email-security-mx.mdx
Labels: product:cloudflare-one, size/xs

#23174 Apirequest clarification
  src/content/docs/style-guide/components/api-request.mdx
Labels: size/xs, product:style-guide

#23196 [LB] Adds scenario to DNS records
  src/content/docs/load-balancing/load-balancers/dns-records.mdx
Labels: product:load-balancing, size/xs
