Repository cloudflare/cloudflare-docs, pull requests merged in 2025-09, with the labels that each got.

#24789 Add Python example to d1 tutorial
  src/content/docs/d1/get-started.mdx
Labels: product:d1, size/s

#23956 [CF1] warp troubleshooting
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/managed-networks.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/split-tunnels.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-modes/index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-sessions.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/troubleshooting-guide.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/warp-logs.mdx
  src/content/docs/cloudflare-one/insights/dex/monitoring.mdx
  src/content/docs/cloudflare-one/insights/dex/remote-captures.mdx
  src/content/docs/learning-paths/warp-overview-course/series/warp-basics-1.mdx
  src/content/docs/learning-paths/warp-overview-course/series/warp-basics-2.mdx
  src/content/partials/cloudflare-one/dex/pcaps-check.mdx
  src/content/partials/cloudflare-one/dex/pcaps-download.mdx
  src/content/partials/cloudflare-one/dex/pcaps-run.mdx
  src/content/partials/cloudflare-one/warp/device-profile-order-of-precedence.mdx
  src/content/partials/cloudflare-one/warp/edit-profile-settings.mdx
  src/content/partials/cloudflare-one/warp/managed-networks-sha-256.mdx
  src/content/partials/cloudflare-one/warp/manually-reauth.mdx
  src/content/partials/cloudflare-one/warp/split-tunnel-intro.mdx
  src/content/partials/cloudflare-one/warp/warp-comprises.mdx
  src/content/partials/cloudflare-one/warp/warp-installation-details.mdx
  src/content/partials/cloudflare-one/warp/warp-modes.mdx
  src/content/partials/cloudflare-one/warp/warpdiag-run.mdx
Labels: product:cloudflare-one, size/m

#24831 [WAF] Edit/delete managed rules exceptions
  src/content/docs/waf/managed-rules/waf-exceptions/define-dashboard.mdx
Labels: product:waf, size/s

#24836 [CF1] Fixing broken link
  src/content/docs/cloudflare-one/connections/connect-networks/get-started/tunnel-useful-terms.mdx
Labels: product:cloudflare-one, size/xs

#24838 Release-1st-Sep-2025
  src/content/changelog/waf/2025-09-01-waf-release.mdx
  src/content/changelog/waf/scheduled-waf-release.mdx
Labels: size/m

#24807 fix indent issue in nextjs docs
  src/content/docs/workers/framework-guides/web-apps/nextjs.mdx
Labels: product:workers, size/xs

#24023 Add DO and Workflow remote resources local usage instructions
  src/content/docs/workers/development-testing/index.mdx
Labels: product:workers, size/s

#24844 [D1] Updating CLI instruction for Getting started
  src/content/docs/d1/get-started.mdx
Labels: product:d1, size/xs

#24848 [Docs Site] Create DashButton component
  src/components/AvailableDashRoutes.astro
  src/components/DashButton.astro
  src/components/index.ts
  src/content/dash-routes/index.json
  src/content/docs/style-guide/components/dash-button.mdx
Labels: size/l, product:style-guide

#24822 Update React Router documentation with SPA note
  src/content/docs/workers/framework-guides/web-apps/react-router.mdx
Labels: product:workers, size/xs

#24857 [Docs Site] Open DashButton links in a new tab
  src/components/DashButton.astro
Labels: size/xs

#24814 [Realtime] Introduce Media Transport Adapters
  src/content/docs/realtime/sfu/media-transport-adapters/index.mdx
  src/content/docs/realtime/sfu/media-transport-adapters/websocket-adapter.mdx
  src/content/release-notes/realtime.yaml
Labels: size/m, product:realtime

#24778 [AI Gateway] Add documentation for DLP on AI Gateway
  src/content/docs/ai-gateway/features/dlp/index.mdx
  src/content/docs/ai-gateway/features/dlp/set-up-dlp.mdx
  src/content/docs/ai-gateway/features/index.mdx
Labels: size/m, product:ai-gateway

#24867 Tweak title
  src/content/changelog/cloudflare-one/2025-08-27-shadow-it-analytics.mdx
Labels: size/xs

#24869 Update gitlab-cicd.mdx
  src/content/docs/workers/ci-cd/external-cicd/gitlab-cicd.mdx
Labels: product:workers, size/xs

#24870 [API Shield] Fix transform rules step
  src/content/docs/api-shield/security/jwt-validation/transform-rules.mdx
Labels: product:api-shield, size/xs

#24813 Update advanced-settings.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-profiles/advanced-settings.mdx
Labels: product:cloudflare-one, size/xs

#24872 Add print limitation
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/rdp/rdp-browser.mdx
Labels: product:cloudflare-one, size/xs

#24875 Minor Fixes for China Network Available Products
  src/content/docs/china-network/reference/available-products.mdx
Labels: product:china-network, size/s

#24833 use wrangler command component for versions upload
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/s

#24859 [ZT] warp diag analyzer
  src/content/changelog/zero-trust-warp/2025-08-29-warp-AI-diag-analyzer
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/warp-logs.mdx
  src/content/docs/cloudflare-one/insights/dex/remote-captures.mdx
  src/content/partials/cloudflare-one/dex/pcaps-view-warp-diag.mdx
Labels: product:cloudflare-one, size/s

#24812 [ZT] New IPs for Microsoft 365 traffic
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/known-limitations.mdx
Labels: product:cloudflare-one, size/s

#24558 Terraform v7 v8x
  src/content/changelog/fundamentals/2025-07-11-terraform-v5.7.0-provider.mdx
  src/content/changelog/fundamentals/2025-08-01-terraform-v5.8.2-provider.mdx
Labels: size/s

#24902 remove links to interactive demos in agents/patterns docs
  src/content/docs/agents/patterns.mdx
Labels: size/xs, product:agents

#24885 [WAF] Use DashButton in instructions
  src/content/docs/waf/account/custom-rulesets/create-dashboard.mdx
  src/content/docs/waf/account/managed-rulesets/deploy-dashboard.mdx
  src/content/docs/waf/account/rate-limiting-rulesets/create-dashboard.mdx
  src/content/docs/waf/analytics/security-analytics.mdx
  src/content/docs/waf/analytics/security-events.mdx
  src/content/docs/waf/managed-rules/waf-exceptions/define-dashboard.mdx
  src/content/docs/waf/reference/legacy/old-rate-limiting/index.mdx
  src/content/docs/waf/reference/phases.mdx
  src/content/docs/waf/tools/lists/create-dashboard.mdx
  src/content/partials/waf/managed-rules-browse-account.mdx
Labels: product:waf, size/m

#24886 [Rules] Use DashButton in instructions
  src/content/docs/rules/custom-errors/edit-error-pages.mdx
  src/content/docs/rules/origin-rules/tutorials/point-to-pages-with-custom-domain.mdx
  src/content/docs/rules/origin-rules/tutorials/point-to-r2-bucket-with-custom-domain.mdx
  src/content/docs/rules/trace-request/how-to.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-dashboard.mdx
Labels: product:rules, size/m

#24879 Update browser-rendering.yaml
  src/content/release-notes/browser-rendering.yaml
Labels: size/xs

#24880 Update index.mdx
  src/content/docs/browser-rendering/rest-api/index.mdx
Labels: product:browser-rendering, size/xs

#24881 Update pdf-generation.mdx
  src/content/docs/browser-rendering/how-to/pdf-generation.mdx
Labels: product:browser-rendering, size/xs

#24909 [Email Security and Magic Firewall] Dashbutton-related updates
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
  src/content/docs/magic-firewall/how-to/add-rules.mdx
  src/content/docs/magic-firewall/how-to/enable-managed-rulesets.mdx
  src/content/docs/magic-firewall/tutorials/graphql-analytics.mdx
Labels: product:cloudflare-one, size/s, product:magic-firewall

#24878 Update index.mdx
  src/content/docs/browser-rendering/how-to/index.mdx
Labels: product:browser-rendering, size/xs

#24876 [ZT] CGNAT IPS in local firewall
  src/content/docs/cloudflare-one/connections/connect-networks/private-net/warp-connector/user-to-site.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/private-net/warp-to-warp.mdx
Labels: product:cloudflare-one, size/s

#24915 [ZT] update Access block policy example
  src/content/docs/cloudflare-one/policies/access/index.mdx
Labels: product:cloudflare-one, size/xs

#24865 Update faq.mdx
  src/content/docs/browser-rendering/faq.mdx
Labels: product:browser-rendering, size/xs

#24914 [Bots] Additional detection IDs
  src/content/docs/bots/additional-configurations/detection-ids.mdx
Labels: product:bots, size/s

#24913 [ZT] Dash deep links
  src/content/docs/cloudflare-one/tutorials/ai-wrapper-tenant-control.mdx
  src/content/docs/cloudflare-one/tutorials/r2-logs.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#24920 [Chore] Update partials count to remove overcounting
  src/util/components.ts
Labels: size/xs

#24877 Update index.mdx
  src/content/docs/browser-rendering/index.mdx
Labels: product:browser-rendering, size/s

#24898 [DNS] DashButton - Internal DNS, DNS Firewall, and partials
  src/content/docs/dns/dns-firewall/setup.mdx
  src/content/docs/dns/internal-dns/dns-views.mdx
  src/content/docs/dns/internal-dns/get-started.mdx
  src/content/docs/dns/internal-dns/internal-zones/reference-zones.mdx
  src/content/partials/dns/create-peer-server.mdx
  src/content/partials/dns/internal-dns-view-create-dash.mdx
  src/content/partials/dns/internal-zone-create-dash.mdx
  src/content/partials/dns/tsig-create-dash.mdx
Labels: product:dns, size/s

#24937 Add embeddinggemma-300m model to Workers AI docs
  src/content/workers-ai-models/embeddinggemma-300m.json
  src/content/workers-ai-models/lucid-origin.json
  src/content/workers-ai-models/nova-3.json
  src/content/workers-ai-models/smart-turn-v2.json
Labels: size/s

#24918 [Turnstile] Maintenance + `DashButton` and `Steps`
  src/content/docs/cloudflare-challenges/concepts/clearance.mdx
  src/content/docs/turnstile/additional-configuration/hostname-management.mdx
  src/content/docs/turnstile/extensions/google-firebase.mdx
  src/content/docs/turnstile/get-started/client-side-rendering/widget-configurations.mdx
  src/content/docs/turnstile/get-started/widget-management/dashboard.mdx
  src/content/docs/turnstile/migration/hcaptcha.mdx
  src/content/docs/turnstile/migration/recaptcha.mdx
  src/content/docs/turnstile/troubleshooting/rotate-secret-key.mdx
  src/content/docs/turnstile/turnstile-analytics/index.mdx
  src/content/docs/turnstile/tutorials/integrating-turnstile-waf-and-bot-management.mdx
  src/content/docs/turnstile/tutorials/login-pages.mdx
  src/content/docs/turnstile/tutorials/protecting-your-payment-form-from-attackers-bots-using-turnstile.mdx
Labels: size/m, product:turnstile, product:cloudflare-challenges

#24761 Update disable-cf-bm-cookie.mdx
  src/content/partials/bots/disable-cf-bm-cookie.mdx
Labels: size/xs

#24941 [Notifications] `DashButton` component
  src/content/docs/bots/reference/alerts.mdx
  src/content/docs/notifications/get-started/configure-pagerduty.mdx
  src/content/docs/notifications/get-started/configure-webhooks.mdx
  src/content/docs/notifications/get-started/index.mdx
Labels: product:bots, size/s, product:notifications

#24947 WAFMR Emergency Release - 4th sep (2)
  src/content/changelog/waf/2025-09-04-emergency-waf-release.mdx
Labels: size/s

#24949 [ZT] WARP auth not supported for RDP
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/generic-oidc-saas.mdx
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/generic-saml-saas.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/rdp/rdp-browser.mdx
  src/content/partials/cloudflare-one/access/access-choose-idps.mdx
  src/content/partials/cloudflare-one/access/self-hosted-app/generic-public-app.mdx
Labels: product:cloudflare-one, size/s

#24901 [Images] Nav changes - batch 1
  src/content/docs/images/get-started.mdx
  src/content/docs/images/manage-images/blur-variants.mdx
  src/content/docs/images/manage-images/configure-webhooks.mdx
  src/content/docs/images/manage-images/create-variants.mdx
  src/content/docs/images/manage-images/delete-images.mdx
  src/content/docs/images/manage-images/delete-variants.mdx
  src/content/docs/images/manage-images/edit-images.mdx
  src/content/docs/images/manage-images/enable-flexible-variants.mdx
  src/content/docs/images/manage-images/export-images.mdx
  src/content/docs/images/manage-images/serve-images/serve-private-images.mdx
  src/content/docs/images/upload-images/sourcing-kit/edit.mdx
  src/content/docs/images/upload-images/sourcing-kit/enable.mdx
  src/content/docs/images/upload-images/upload-dashboard.mdx
Labels: product:images, size/m

#24940 [AI Gateway] Nav changes
  src/content/docs/ai-gateway/evaluations/add-human-feedback.mdx
  src/content/docs/ai-gateway/reference/audit-logs.mdx
  src/content/partials/ai-gateway/logging.mdx
Labels: size/s, product:ai-gateway

#23403 thomasgauvin: add docs for postgres planetscale
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/planetscale-postgres.mdx
  src/content/docs/hyperdrive/reference/supported-databases-and-features.mdx
  src/content/docs/workers/databases/connecting-to-databases.mdx
  src/content/docs/workers/databases/third-party-integrations/planetscale.mdx
  src/content/partials/hyperdrive/planetscale-partial.mdx
Labels: size/s, product:hyperdrive

#24961 [Images] Nav changes - batch 2
  src/content/docs/images/manage-images/serve-images/serve-from-custom-domains.mdx
  src/content/docs/images/polish/activate-polish.mdx
  src/content/docs/images/transform-images/serve-images-custom-paths.mdx
Labels: product:images, size/s

#24917 Create supported-fonts.mdx
  src/content/docs/browser-rendering/reference/supported-fonts.mdx
Labels: product:browser-rendering, size/s

#24953 [Workers AI] Models update
  src/components/models/ModelBadges.tsx
  src/components/models/ModelFeatures.tsx
  src/content/changelog/workers-ai/2025-09-05-embeddinggemma.mdx
  src/content/release-notes/workers-ai.yaml
  src/content/workers-ai-models/deepseek-coder-6.7b-base-awq.json
  src/content/workers-ai-models/deepseek-coder-6.7b-instruct-awq.json
  src/content/workers-ai-models/deepseek-math-7b-instruct.json
  src/content/workers-ai-models/discolm-german-7b-v1-awq.json
  src/content/workers-ai-models/falcon-7b-instruct.json
  src/content/workers-ai-models/llama-2-13b-chat-awq.json
  src/content/workers-ai-models/llamaguard-7b-awq.json
  src/content/workers-ai-models/mistral-7b-instruct-v0.1-awq.json
  src/content/workers-ai-models/neural-chat-7b-v3-1-awq.json
  src/content/workers-ai-models/openchat-3.5-0106.json
  src/content/workers-ai-models/openhermes-2.5-mistral-7b-awq.json
  src/content/workers-ai-models/qwen1.5-0.5b-chat.json
  src/content/workers-ai-models/qwen1.5-1.8b-chat.json
  src/content/workers-ai-models/qwen1.5-14b-chat-awq.json
  src/content/workers-ai-models/qwen1.5-7b-chat-awq.json
  src/content/workers-ai-models/starling-lm-7b-beta.json
  src/content/workers-ai-models/tinyllama-1.1b-chat-v1.0.json
  src/content/workers-ai-models/una-cybertron-7b-v2-bf16.json
  src/content/workers-ai-models/zephyr-7b-beta-awq.json
Labels: size/s

#24943 [Consumer WARP] How to get WARP+
  src/content/docs/warp-client/get-started/linux.mdx
  src/content/docs/warp-client/warp-modes.mdx
Labels: product:warp-client, size/s

#24968 [Maintenance] Nav updates in CF1
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/intune.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/jamf.mdx
  src/content/docs/cloudflare-one/faq/getting-started-faq.mdx
  src/content/docs/cloudflare-one/identity/authorization-cookie/cors.mdx
  src/content/docs/cloudflare-one/identity/idp-integration/entra-id.mdx
  src/content/docs/cloudflare-one/identity/idp-integration/keycloak.mdx
  src/content/docs/cloudflare-one/identity/service-tokens.mdx
  src/content/docs/cloudflare-one/tutorials/access-workers.mdx
  src/content/docs/cloudflare-one/tutorials/kubectl.mdx
  src/content/docs/learning-paths/clientless-access/initial-setup/add-site.mdx
  src/content/partials/cloudflare-one/choose-team-name.mdx
Labels: product:cloudflare-one, size/s, product:learning-paths

#24945 Add Apache Trino to R2 Data Catalog examples
  src/content/docs/r2/data-catalog/config-examples/trino.mdx
Labels: product:r2, size/s

#24974 [Turnstile] Troubleshooting fixes
  public/__redirects
  src/content/docs/turnstile/frequently-asked-questions.mdx
  src/content/docs/turnstile/troubleshooting/challenge-solve-issues.mdx
  src/content/docs/turnstile/troubleshooting/feedback-reports.mdx
  src/content/docs/turnstile/troubleshooting/troubleshooting-faqs.mdx
Labels: size/m, product:turnstile

#24938 Yomna/codeowneradd
  .github/CODEOWNERS
Labels: size/s

#24986 [Docs Site] Update dash-routes JSON
  src/content/dash-routes/index.json
  src/content/partials/cloudflare-one/choose-team-name.mdx
Labels: size/s

#24317 [DNS Firewall] Analytics
  src/content/docs/dns/additional-options/analytics.mdx
  src/content/docs/dns/dns-firewall/analytics.mdx
  src/content/docs/dns/dns-firewall/setup.mdx
  src/content/plans/index.json
Labels: product:dns, size/s

#24936 Use vCPU instead of CPU
  src/content/docs/workers/ci-cd/builds/limits-and-pricing.mdx
Labels: product:workers, size/xs

#24989 [Rules] Use Steps component
  src/content/docs/rules/cloud-connector/create-dashboard.mdx
  src/content/docs/rules/cloud-connector/examples/route-images-to-s3.mdx
  src/content/docs/rules/cloud-connector/examples/send-eu-visitors-to-gcs.mdx
  src/content/docs/rules/cloud-connector/examples/serve-static-assets-from-azure.mdx
  src/content/docs/rules/cloud-connector/providers.mdx
  src/content/docs/rules/compression-rules/create-dashboard.mdx
  src/content/docs/rules/configuration-rules/create-dashboard.mdx
  src/content/docs/rules/custom-errors/create-rules.mdx
  src/content/docs/rules/custom-errors/edit-error-pages.mdx
  src/content/docs/rules/custom-errors/index.mdx
  src/content/docs/rules/normalization/how-it-works.mdx
  src/content/docs/rules/normalization/manage.mdx
  src/content/docs/rules/normalization/settings.mdx
  src/content/docs/rules/origin-rules/create-dashboard.mdx
  src/content/docs/rules/origin-rules/tutorials/change-uri-path-and-host-header.mdx
  src/content/docs/rules/origin-rules/tutorials/point-to-pages-with-custom-domain.mdx
  src/content/docs/rules/origin-rules/tutorials/point-to-r2-bucket-with-custom-domain.mdx
  src/content/docs/rules/page-rules/how-to/url-forwarding.mdx
  src/content/docs/rules/page-rules/manage.mdx
  src/content/docs/rules/page-rules/troubleshooting/billing-and-subscription.mdx
  src/content/docs/rules/reference/esc-deprecation.mdx
  src/content/docs/rules/reference/page-rules-migration.mdx
  src/content/docs/rules/snippets/create-dashboard.mdx
  src/content/docs/rules/trace-request/how-to.mdx
  src/content/docs/rules/transform/managed-transforms/configure.mdx
  src/content/docs/rules/transform/request-header-modification/create-dashboard.mdx
  src/content/docs/rules/transform/response-header-modification/create-dashboard.mdx
  src/content/docs/rules/transform/url-rewrite/create-dashboard.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-api.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-dashboard.mdx
  src/content/docs/rules/url-forwarding/examples/redirect-all-another-domain.mdx
  src/content/docs/rules/url-forwarding/examples/redirect-all-country.mdx
  src/content/docs/rules/url-forwarding/examples/redirect-all-different-domain-root.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-dashboard.mdx
  src/content/partials/rules/page-rules-migration.mdx
Labels: product:rules, size/l

#25000 WAFMR Sep 8th Release - Fixes
  src/content/changelog/waf/2025-09-08-waf-release.mdx
  src/content/changelog/waf/scheduled-waf-release.mdx
Labels: size/s

#24993 [Workers] Nav changes - batch 1
  src/content/docs/workers/ci-cd/builds/index.mdx
  src/content/docs/workers/ci-cd/external-cicd/gitlab-cicd.mdx
  src/content/docs/workers/configuration/integrations/momento.mdx
  src/content/docs/workers/configuration/previews.mdx
  src/content/docs/workers/configuration/routing/workers-dev.mdx
  src/content/docs/workers/configuration/secrets.mdx
  src/content/docs/workers/configuration/smart-placement.mdx
  src/content/docs/workers/configuration/versions-and-deployments/rollbacks.mdx
  src/content/docs/workers/observability/errors.mdx
  src/content/docs/workers/observability/logs/logpush.mdx
  src/content/docs/workers/observability/logs/workers-logs.mdx
  src/content/docs/workers/observability/metrics-and-analytics.mdx
  src/content/docs/workers/observability/query-builder.mdx
  src/content/docs/workers/platform/limits.mdx
  src/content/docs/workers/tutorials/generate-youtube-thumbnails-with-workers-and-images/index.mdx
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/m

#25013 [CNI] Small updates to language
  src/content/docs/network-interconnect/get-started.mdx
  src/content/partials/networking-services/cni-product-use-cases.mdx
Labels: product:network-interconnect, size/s

#25017 [Browser Rendering] Nav updates
  src/content/docs/browser-rendering/platform/browser-close-reasons.mdx
  src/content/docs/browser-rendering/platform/pricing.mdx
  src/content/docs/browser-rendering/rest-api/index.mdx
Labels: product:browser-rendering, size/s

#25016 [Durable Objects] Pricing wording
  src/content/partials/durable-objects/do-faq-pricing.mdx
  src/content/partials/durable-objects/durable-objects-pricing.mdx
Labels: size/xs

#25012 adding changelog for Wrangler interactive improvement for Assets deployment
  src/content/changelog/workers/2025-09-09-interactive-wrangler-assets.mdx
Labels: size/s

#25026 Update browser-close-reasons.mdx
  src/content/docs/browser-rendering/platform/browser-close-reasons.mdx
Labels: product:browser-rendering, size/xs

#25027 [WAF] Highlight lines in APIRequest calls
  src/content/docs/waf/custom-rules/create-api.mdx
  src/content/docs/waf/managed-rules/payload-logging/configure-api.mdx
  src/content/docs/waf/managed-rules/reference/owasp-core-ruleset/configure-api.mdx
  src/content/docs/waf/rate-limiting-rules/create-api.mdx
Labels: product:waf, size/s

#25048 [MWAN] IKE ID patch
  src/content/docs/magic-wan/configuration/common-settings/custom-ike-id-ipsec.mdx
Labels: size/s, product:magic-wan

#25044 Default code block title -- PCX-16857
  src/content/docs/1.1.1.1/troubleshooting.mdx
  src/plugins/expressive-code/default-titles.js
Labels: product:1.1.1.1, size/s

#25054 [MWAN] Two tunnels per WAN
  src/content/docs/magic-wan/configuration/connector/reference.mdx
  src/content/partials/networking-services/mconn/configure-connectors.mdx
  src/content/partials/networking-services/mconn/wan-two-tunnels.mdx
Labels: size/s, product:magic-wan

#25055 Q3-2 WARP Client Beta Release Notes
  src/content/warp-releases/linux/beta/2025.7.106.1.yaml
  src/content/warp-releases/linux/ga/2025.6.1335.0.yaml
  src/content/warp-releases/macos/beta/2025.7.106.1.yaml
  src/content/warp-releases/windows/beta/2025.7.106.1.yaml
  src/util/warp-platforms.json
Labels: size/s

#25056 [WAF] Several updates to rate limiting rules
  src/content/docs/waf/account/rate-limiting-rulesets/create-api.mdx
  src/content/docs/waf/account/rate-limiting-rulesets/create-dashboard.mdx
  src/content/docs/waf/account/rate-limiting-rulesets/index.mdx
  src/content/docs/waf/rate-limiting-rules/index.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/docs/waf/rate-limiting-rules/request-rate.mdx
  src/content/glossary/waf.yaml
Labels: product:waf, size/s

#25058 [Turnstile] Remove unused Turnstile images
  src/assets/images/turnstile/challenge-timed-out.png
  src/assets/images/turnstile/dark-compact.png
  src/assets/images/turnstile/dark-regular.png
  src/assets/images/turnstile/dark-success.png
  src/assets/images/turnstile/dark-verifying.png
  src/assets/images/turnstile/interaction-timed-out.png
  src/assets/images/turnstile/light-compact.png
  src/assets/images/turnstile/light-regular.png
  src/assets/images/turnstile/light-success.png
  src/assets/images/turnstile/light-verifying.png
  src/assets/images/turnstile/unknown-error-state.png
  src/assets/images/turnstile/unsupported-browser.png
Labels: size/xs

#25059 [ZT] update minimum WARP version
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/windows-multiuser.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/windows-prelogin.mdx
Labels: product:cloudflare-one, size/xs

#25061 [Browser Rendering] Create partial for FAQ
  src/content/docs/browser-rendering/faq.mdx
  src/content/docs/browser-rendering/platform/limits.mdx
  src/content/partials/browser-rendering/manage-concurrency-faq.mdx
Labels: product:browser-rendering, size/s

#25074 Removing duplicate link
  src/content/docs/reference-architecture/diagrams/sase/augment-access-with-serverless.mdx
Labels: product:reference-architecture, size/xs

#25009 [Gateway] Private networks internal DNS
  src/content/docs/magic-wan/zero-trust/cloudflare-gateway.mdx
Labels: sub-product:gateway, size/xs, product:magic-wan

#24610 Update azure-virtual-wan.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/azure/azure-virtual-wan.mdx
Labels: size/xs, product:magic-wan

#25039 Dash button - Fundamentals and Version control
  src/content/docs/fundamentals/account/account-security/audit-logs.mdx
  src/content/docs/fundamentals/account/account-security/cloudflare-access.mdx
  src/content/docs/fundamentals/account/account-security/leaked-password-notifications.mdx
  src/content/docs/fundamentals/account/account-security/manage-active-sessions.mdx
  src/content/docs/fundamentals/account/create-account.mdx
  src/content/docs/fundamentals/account/find-account-and-zone-ids.mdx
  src/content/docs/fundamentals/api/get-started/ca-keys.mdx
  src/content/docs/fundamentals/api/get-started/keys.mdx
  src/content/docs/fundamentals/api/how-to/control-api-access.mdx
  src/content/docs/fundamentals/manage-domains/add-site.mdx
  src/content/docs/fundamentals/manage-domains/remove-domain.mdx
  src/content/docs/fundamentals/manage-members/scope.mdx
  src/content/docs/fundamentals/manage-members/user-groups.mdx
  src/content/docs/fundamentals/reference/report-abuse/submit-report.mdx
  src/content/docs/fundamentals/reference/under-attack-mode.mdx
  src/content/docs/fundamentals/user-profiles/2fa.mdx
  src/content/docs/fundamentals/user-profiles/customize-account.mdx
  src/content/docs/fundamentals/user-profiles/delete-account.mdx
  src/content/docs/fundamentals/user-profiles/login.mdx
  src/content/docs/fundamentals/user-profiles/verify-email-address.mdx
  src/content/docs/version-management/how-to/environments.mdx
  src/content/docs/version-management/how-to/versions.mdx
Labels: product:version-management, size/m, product:fundamentals

#25034 Implementing DashButton
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/security/waf-for-saas/index.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/get-started/configuration.mdx
  src/content/docs/registrar/account-options/domain-contact-updates.mdx
  src/content/docs/registrar/account-options/domain-management.mdx
  src/content/docs/registrar/account-options/icloud-domains.mdx
  src/content/docs/registrar/account-options/renew-domains.mdx
  src/content/docs/registrar/account-options/transfer-out-from-cloudflare.mdx
  src/content/docs/registrar/faq.mdx
  src/content/docs/registrar/get-started/register-domain.mdx
  src/content/docs/registrar/get-started/transfer-domain-to-cloudflare.mdx
  src/content/docs/registrar/top-level-domains/uk-domains.mdx
  src/content/docs/registrar/troubleshooting.mdx
Labels: product:registrar, product:cloudflare-for-platforms, size/m

#25144 [Speed] Mirage deprecation - update
  src/content/docs/speed/optimization/images/mirage.mdx
Labels: size/xs, product:speed

#25070 Update limits.mdx
  src/content/docs/browser-rendering/platform/limits.mdx
Labels: product:browser-rendering, size/xs

#25109 Create example-screenshot-from-url.mdx
  src/content/docs/browser-rendering/rest-api/screenshot-endpoint.mdx
  src/content/partials/browser-rendering/example-screenshot-from-url.mdx
Labels: size/s

#25161 [Radar] Add IRR AS-SET section to glossary
  src/content/docs/radar/glossary.mdx
Labels: size/xs, product:radar

#25165 Update track-history.mdx
  src/content/docs/terraform/tutorial/track-history.mdx
Labels: product:terraform, size/xs

#25137 [Docs Site] Add WranglerCLI component
  src/components/WranglerCLI.astro
  src/components/WranglerCLI.astro.test.ts
  src/components/WranglerCommand.astro
  src/components/index.ts
  src/content/docs/style-guide/components/wrangler-cli.mdx
  src/util/wrangler.ts
  vitest.workspace.ts
Labels: size/m, product:style-guide

#25133 [Consumer WARP] proxy mode version limitation
  src/content/docs/warp-client/warp-modes.mdx
Labels: product:warp-client, size/xs

#25178 Private networks in gateway resolver
  src/content/changelog/gateway/2025-09-11-dns-filtering-for-private-network-onramps.mdx
Labels: size/s

#25177 remove duplicated `@cloudflare/wrangler` codeowner instances
  .github/CODEOWNERS
Labels: size/xs

#24942 [Rules] Update settings.mdx
  src/content/docs/rules/configuration-rules/settings.mdx
Labels: product:rules, size/xs

#25187 [DNS] Link to RFC 4592 when describing wildcards with advanced ns
  src/content/docs/dns/foundation-dns/setup.mdx
Labels: product:dns, size/xs

#25188 [Logs] Corrects format
  src/content/docs/logs/logpush/logpush-job/api-configuration.mdx
  src/content/docs/logs/logpush/logpush-job/filters.mdx
Labels: product:logs, size/xs

#25189 [Rules] Mirage deprecation notice - small tweak
  src/content/docs/rules/configuration-rules/settings.mdx
Labels: product:rules, size/xs

#24957 [Support] Updates to navigation in support docs
  src/content/docs/cache/how-to/edge-browser-cache-ttl/set-browser-ttl.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/caching-html-with-drupal.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/caching-static-html-with-wordpresswoocommerce.mdx
  src/content/docs/support/third-party-software/e-commerce/caching-static-html-with-magento-business-and-enterprise-only.mdx
  src/content/docs/support/third-party-software/others/configure-cloudflare-and-heroku-over-https.mdx
Labels: product:cache, size/s, product:support

#25194 [Workers KV] Updating commit for GitHubCode
  src/content/docs/kv/get-started.mdx
Labels: size/xs, product:kv

#25196 [Cache] Update purge-varied-images.mdx
  src/content/docs/cache/how-to/purge-cache/purge-varied-images.mdx
Labels: product:cache, size/xs

#25197 [Magic Firewall] Update phase list
  src/content/docs/ruleset-engine/reference/phases-list.mdx
Labels: product:ruleset-engine, size/s

#25126 [Fundamentals] Added docs for orgs closed beta
  src/content/docs/fundamentals/manage-members/index.mdx
  src/content/docs/fundamentals/organizations.mdx
Labels: size/s, product:fundamentals

#25035 [ZT] Register WARP with minimal user interaction
  src/assets/images/cloudflare-one/connections/warp-protocol-handler.png
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/protocol-handler.mdx
  src/content/partials/cloudflare-one/warp/device-enrollment.mdx
Labels: product:cloudflare-one, size/s

#25209 APIOPS-11396: Update track-history.mdx
  src/content/docs/terraform/tutorial/track-history.mdx
Labels: product:terraform, size/xs

#25210 APIOPS-11396: Update configure-https-settings.mdx
  src/content/docs/terraform/tutorial/configure-https-settings.mdx
Labels: product:terraform, size/xs

#25221 [Fundamentals] Renamed rate limiting headers
  src/content/docs/fundamentals/api/reference/limits.mdx
Labels: size/xs, product:fundamentals

#25225 Adding minor code block fixes
  src/content/docs/durable-objects/reference/in-memory-state.mdx
  src/content/docs/kv/concepts/kv-bindings.mdx
Labels: product:durable-objects, size/s, product:kv

#25226 [CF1] Updating line endings
  src/content/changelog/cloudflare-one/2025-09-16-new-ai-enabled-search-for-zero-trust-dashboard.mdx
Labels: size/s

#25201 [WARP] last seen device profile
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.mdx
Labels: product:cloudflare-one, size/s

#25228 [Cache] Update cache-keys.mdx
  src/content/docs/cache/how-to/cache-keys.mdx
Labels: product:cache, size/xs

#25151 [CF4SaaS] Add ciphers and MinTLS example API calls
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/enforce-mtls.mdx
  src/content/docs/ssl/edge-certificates/additional-options/cipher-suites/customize-cipher-suites/index.mdx
  src/content/partials/cloudflare-for-platforms/edit-custom-hostname-api.mdx
Labels: product:ssl, product:cloudflare-for-platforms, size/s

#25244 [ZT] remove admin requirement for Cloudy summaries
  src/content/docs/fundamentals/reference/cloudy-ai-agent.mdx
  src/content/partials/cloudflare-one/dex/pcaps-view-warp-diag.mdx
Labels: size/s, product:fundamentals

#25241 [Maintenance] Zone-level dashbutton for Tunnel docs
  src/content/docs/cloudflare-one/connections/connect-networks/routing-to-tunnel/dns.mdx
  src/content/docs/cloudflare-one/tutorials/gitlab.mdx
  src/content/docs/cloudflare-one/tutorials/kubectl.mdx
Labels: product:cloudflare-one, size/s

#25236 Create 2025-09-17-update-preview-url-setting.mdx
  src/content/changelog/workers/2025-09-17-update-preview-url-setting.mdx
Labels: size/s

#25224 CUSTESC-55739 - Document /.well-known/ is treated as static resource
  src/content/docs/bots/additional-configurations/static-resources.mdx
Labels: product:bots, size/xs

#25252 [ZT] macOS captive portal diag limitation
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/captive-portals.mdx
Labels: product:cloudflare-one, size/xs

#25258 Update faq.mdx
  src/content/docs/waf/troubleshooting/faq.mdx
Labels: product:waf, size/xs

#25262 [Security Center] Update scan frequency
  src/content/partials/security-center/scan-frequency.mdx
Labels: size/xs

#25267 Update CODEOWNERS for realtime documentation
  .github/CODEOWNERS
Labels: size/xs

#25253 fix(realtimekit-legal): added legal section along with copy of licenses for realtimekit dependencies
  src/content/docs/realtime/realtimekit/legal/3rdparty.mdx
  src/content/docs/realtime/realtimekit/legal/index.mdx
Labels: size/xl, product:realtime

#24990 Add changelog and edit doc for increased builds vCPU on paid
  src/content/changelog/workers/2025-09-07-builds-increased-cpu-paid.mdx
  src/content/docs/workers/ci-cd/builds/limits-and-pricing.mdx
Labels: product:workers, size/s

#25271 Changelog: Tunnel hostname routing is available to all Cloudflare One users
  src/assets/images/changelog/cloudflare-one/tunnel-hostname-routing.webp
  src/content/changelog/cloudflare-tunnel/2025-09-18-tunnel-hostname-routing.mdx
Labels: size/s

#25272 [GitHub] Add created label
  .github/actions/issue-label-assign/index.js
  .github/actions/issue-label-assign/index.ts
  .github/actions/label-products/index.js
  .github/actions/label-products/index.ts
Labels: size/s

#25283 [Bots] Update Bots plan feature availability
  src/content/docs/bots/plans/biz-and-ent.mdx
  src/content/docs/bots/plans/bm-subscription.mdx
  src/content/docs/bots/plans/free.mdx
  src/content/docs/bots/plans/pro.mdx
Labels: product:bots, size/m, September 2025

#25288 [WAF] Update custom rules
  src/content/docs/waf/custom-rules/index.mdx
  src/content/partials/waf/custom-rules-intro.mdx
Labels: product:waf, size/xs, September 2025

#25286 [Speed] Change link Speed test > Observatory
  public/__redirects
  src/content/docs/data-localization/compatibility.mdx
  src/content/docs/fundamentals/reference/cloudflare-site-crawling.mdx
  src/content/docs/smart-shield/get-started.mdx
  src/content/docs/speed/index.mdx
  src/content/docs/speed/observatory/faq.mdx
  src/content/docs/speed/observatory/index.mdx
  src/content/docs/speed/observatory/rum-beacon.mdx
  src/content/docs/speed/observatory/run-speed-test.mdx
  src/content/docs/speed/observatory/test-results.mdx
  src/content/docs/speed/optimization/measurement.mdx
  src/content/docs/web-analytics/get-started/rum-beacon.mdx
  src/content/partials/speed/brotli-compression-warning.mdx
Labels: product:data-localization, size/s, product:fundamentals, product:speed, product:web-analytics, product:smart-shield, September 2025

#25290 [D1] Fixing release note image
  src/content/release-notes/d1.yaml
Labels: size/xs, September 2025

#25291 [Chore] Remove inactive GitHub action
  .github/workflows/issue-sync.yml
Labels: size/s, September 2025

#25292 2025-07-14 and 2025-07-28 fixed
  src/content/changelog/waf/2025-07-14-waf-release.mdx
  src/content/changelog/waf/2025-07-28-waf-release.mdx
Labels: size/s, September 2025

#25162 [DNS] Update cname-domain-verification.mdx
  src/content/docs/dns/manage-dns-records/troubleshooting/cname-domain-verification.mdx
Labels: product:dns, size/xs

#25299 [Durable Objects] Adding WranglerConfig
  src/content/docs/durable-objects/best-practices/websockets.mdx
Labels: product:durable-objects, size/s, September 2025

#25268 Document remote bindings + environments
  src/content/docs/workers/development-testing/index.mdx
Labels: product:workers, size/s

#25304 [ZT] Service types in published application routes
  src/content/docs/cloudflare-one/connections/connect-networks/do-more-with-tunnels/local-management/configuration-file.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/do-more-with-tunnels/local-management/create-local-tunnel.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/routing-to-tunnel/dns.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/routing-to-tunnel/index.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/routing-to-tunnel/lb.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/routing-to-tunnel/protocols.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/smb.mdx
Labels: product:cloudflare-one, size/s, September 2025

#25306 Update managed-robots-txt.mdx
  src/content/docs/bots/additional-configurations/managed-robots-txt.mdx
Labels: product:bots, size/s, September 2025

#25203 APIOPS-11336: Update revert-configuration.mdx
  src/content/docs/terraform/tutorial/revert-configuration.mdx
Labels: product:terraform, size/m

#25284 Remove process unsupported section
  src/content/docs/workers/runtime-apis/nodejs/process.mdx
Labels: product:workers, size/s, September 2025

#25305 [Docs site] Add observability
  wrangler.toml
Labels: size/xs, September 2025

#25051 cron-triggers.mdx: Fix a typo
  src/content/docs/workers/configuration/cron-triggers.mdx
Labels: product:workers, size/xs

#25315 [AI Gateway] Add documentation for Fal AI
  src/content/docs/ai-gateway/usage/providers/fal.mdx
  src/content/docs/ai-gateway/usage/websockets-api/realtime-api.mdx
Labels: size/m, product:ai-gateway, September 2025

#25318 [Log Explorer] Add info about retention
  src/content/docs/log-explorer/index.mdx
Labels: size/xs, product:log-explorer, September 2025

#25293 Update potential-isp-blocking.mdx
  src/content/docs/support/troubleshooting/general-troubleshooting/potential-isp-blocking.mdx
Labels: size/xs, product:support, September 2025

#24633 Restructure containers docs
  public/__redirects
  src/content/docs/containers/architecture.mdx
  src/content/docs/containers/beta-info.mdx
  src/content/docs/containers/container-package.mdx
  src/content/docs/containers/examples/container-backend.mdx
  src/content/docs/containers/examples/cron.mdx
  src/content/docs/containers/examples/env-vars-and-secrets.mdx
  src/content/docs/containers/examples/stateless.mdx
  src/content/docs/containers/examples/status-hooks.mdx
  src/content/docs/containers/examples/websocket.mdx
  src/content/docs/containers/faq.mdx
  src/content/docs/containers/get-started.mdx
  src/content/docs/containers/index.mdx
  src/content/docs/containers/local-dev.mdx
  src/content/docs/containers/platform-details/architecture.mdx
  src/content/docs/containers/platform-details/durable-object-methods.mdx
  src/content/docs/containers/platform-details/environment-variables.mdx
  src/content/docs/containers/platform-details/image-management.mdx
  src/content/docs/containers/platform-details/index.mdx
  src/content/docs/containers/platform-details/limits.mdx
  src/content/docs/containers/platform-details/rollouts.mdx
  src/content/docs/containers/platform-details/scaling-and-routing.mdx
  src/content/docs/containers/pricing.mdx
  src/content/docs/containers/wrangler-commands.mdx
  src/content/docs/containers/wrangler-configuration.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/partials/fundamentals/account-permissions-table.mdx
Labels: size/m, product:containers

#25180 Update links-endpoint.mdx
  src/content/docs/browser-rendering/rest-api/links-endpoint.mdx
  src/content/release-notes/browser-rendering.yaml
Labels: product:browser-rendering, size/s

#25282 ZTIA-882: remove beta tag from browser-based RDP
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/rdp/rdp-browser.mdx
Labels: product:cloudflare-one, size/xs, September 2025

#25334 new dashboard refresh r2 release note
  src/content/docs/r2/platform/release-notes.mdx
  src/content/release-notes/r2.yaml
Labels: product:r2, size/xs, September 2025

#25331 [Radar] add IRR AS-SET lookup endpoint
  src/content/release-notes/radar.yaml
Labels: size/xs, September 2025

#25374 Update index.mdx about important remarks
  src/content/docs/rules/transform/response-header-modification/index.mdx
Labels: product:rules, size/xs, September 2025

#25077 R2-3497: Migrate R2 Auth Example to AWS S3 JS SDK v3
  src/content/docs/r2/examples/authenticate-r2-auth-tokens.mdx
Labels: product:r2, size/m

#25377 adds support for Content-Signal
  public/robots.txt
Labels: size/s, September 2025

#25380 [Rules] Use DashButton in zone-level instructions
  src/content/docs/rules/cloud-connector/create-dashboard.mdx
  src/content/docs/rules/cloud-connector/examples/route-images-to-s3.mdx
  src/content/docs/rules/cloud-connector/examples/send-eu-visitors-to-gcs.mdx
  src/content/docs/rules/cloud-connector/examples/serve-static-assets-from-azure.mdx
  src/content/docs/rules/compression-rules/create-dashboard.mdx
  src/content/docs/rules/configuration-rules/create-dashboard.mdx
  src/content/docs/rules/custom-errors/create-rules.mdx
  src/content/docs/rules/custom-errors/edit-error-pages.mdx
  src/content/docs/rules/normalization/manage.mdx
  src/content/docs/rules/origin-rules/create-dashboard.mdx
  src/content/docs/rules/origin-rules/tutorials/change-uri-path-and-host-header.mdx
  src/content/docs/rules/origin-rules/tutorials/point-to-r2-bucket-with-custom-domain.mdx
  src/content/docs/rules/page-rules/how-to/url-forwarding.mdx
  src/content/docs/rules/page-rules/manage.mdx
  src/content/docs/rules/page-rules/troubleshooting/billing-and-subscription.mdx
  src/content/docs/rules/snippets/create-dashboard.mdx
  src/content/docs/rules/transform/managed-transforms/configure.mdx
  src/content/docs/rules/transform/request-header-modification/create-dashboard.mdx
  src/content/docs/rules/transform/response-header-modification/create-dashboard.mdx
  src/content/docs/rules/transform/url-rewrite/create-dashboard.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-dashboard.mdx
Labels: product:rules, size/m, September 2025

#25392 Fix stagehand example code
  src/content/docs/browser-rendering/platform/stagehand.mdx
Labels: product:browser-rendering, September 2025

#25390 [Email Security] Retro scan - Add more instructions
  src/content/docs/cloudflare-one/email-security/retro-scan.mdx
Labels: product:cloudflare-one, size/xs, September 2025

#25382 [Analytics] Adds section for Confidence Intervals
  src/content/docs/analytics/graphql-api/features/confidence-intervals.mdx
Labels: product:analytics, size/s, September 2025
