Repository cloudflare/cloudflare-docs, pull requests merged in 2025-01, with the labels that each got.

#18858 [DNS] New cf-proxied tag and use in import/export
  src/content/docs/dns/cname-flattening/set-up-cname-flattening.mdx
  src/content/docs/dns/manage-dns-records/how-to/import-and-export.mdx
  src/content/docs/dns/manage-dns-records/reference/record-attributes.mdx
  src/content/docs/dns/troubleshooting/faq.mdx
  src/content/partials/dns/limitations.mdx
Labels: product:dns, size/s

#18983 Update convert-partial-to-full.mdx
  src/content/docs/dns/zone-setups/conversions/convert-partial-to-full.mdx
Labels: product:dns, size/xs

#18984 Update certificate-signing-requests.mdx
  src/content/docs/ssl/edge-certificates/additional-options/certificate-signing-requests.mdx
Labels: product:ssl, size/xs

#18887 [Errors] Update 4xx-client-error.mdx
  src/content/docs/support/troubleshooting/http-status-codes/4xx-client-error.mdx
Labels: size/xs, product:support

#18912 Add rpxy to pqc-support.mdx
  src/content/docs/ssl/post-quantum-cryptography/pqc-support.mdx
Labels: product:ssl, size/xs

#18948 Update automated-deployment.mdx with WARP updates
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/automated-deployment.mdx
Labels: product:cloudflare-one, size/xs

#18996 [ZT] Fix Windows multi-user example
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/windows-multiuser.mdx
Labels: product:cloudflare-one, size/xs

#18974 [Radar] Update url scanner docs to use V2
  .github/CODEOWNERS
  src/content/docs/radar/investigate/url-scanner.mdx
Labels: size/m, product:radar

#18998 [Docs] Fix unknown code block languages
  src/content/docs/learning-paths/mtls/mtls-app-security/index.mdx
  src/content/docs/learning-paths/mtls/mtls-cloudflare-access/index.mdx
  src/content/docs/r2/tutorials/summarize-pdf.mdx
  src/content/docs/workers/static-assets/binding.mdx
Labels: product:workers, product:r2, size/m, product:learning-paths

#19001 [Speed] Creates section about multiplexing
  src/content/docs/speed/optimization/protocol/http2-to-origin.mdx
Labels: size/s, product:speed

#19002 Update dns-scan-note.mdx
  src/content/partials/dns/dns-scan-note.mdx
Labels: size/xs

#18704 [ZT] Tunnel diag logs
  src/content/changelogs/tunnel.yaml
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/warp-logs.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/configure-tunnels/tunnel-run-parameters.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/monitor-tunnels/logs.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/monitor-tunnels/metrics.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/troubleshoot-tunnels/diag-logs.mdx
  src/content/docs/cloudflare-one/faq/cloudflare-tunnels-faq.mdx
Labels: product:cloudflare-one, size/m

#18962 Update DNS FAQ and information about proxied records
  src/content/docs/dns/manage-dns-records/reference/proxied-dns-records.mdx
  src/content/docs/dns/troubleshooting/faq.mdx
  src/content/partials/dns/limitations.mdx
Labels: product:dns, size/s

#18982 Update customize-cipher-suites.mdx
  src/content/docs/ssl/edge-certificates/additional-options/cipher-suites/customize-cipher-suites.mdx
Labels: product:ssl, size/s

#18468 Document Wrangler r2 bucket cors command (list, set, delete)
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, do-not-merge-yet, size/m

#18473 Document Wrangler r2 bucket domain get command
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, do-not-merge-yet, size/s

#19006 [Fundamentals] Update delete-account.mdx
  src/content/docs/fundamentals/subscriptions-and-billing/delete-account.mdx
Labels: size/xs, product:fundamentals

#18837 Update implementation-guide.mdx page title
  src/content/docs/style-guide/documentation-content-strategy/content-types/implementation-guide.mdx
Labels: size/xs, product:style-guide

#18838 Update how-to.mdx page title
  src/content/docs/style-guide/documentation-content-strategy/content-types/how-to.mdx
Labels: size/xs, product:style-guide

#18839 Update get-started.mdx title
  src/content/docs/style-guide/documentation-content-strategy/content-types/get-started.mdx
Labels: size/xs, product:style-guide

#19004 Workflow example review
  src/content/docs/workflows/examples/backup-d1.mdx
Labels: size/s, product:workflows

#19020 Workers-ai-prompting-link
  src/content/docs/workers-ai/guides/prompting.mdx
Labels: size/xs, product:workers-ai

#18994 Update deepseek.mdx
  src/content/changelogs/ai-gateway.yaml
  src/content/docs/ai-gateway/providers/deepseek.mdx
Labels: size/s, product:ai-gateway

#19019 [Docs Site] Hide Cursor illustration on small-medium viewports
  src/pages/workers/ai.astro
Labels: size/s

#19015 [Docs Site] Add llms.txt
  package-lock.json
  package.json
  src/pages/llms.txt.ts
Labels: size/s

#18507 [Workers] Clarify scope of tail workers
  src/content/docs/workers/observability/logs/tail-workers.mdx
Labels: product:workers, size/xs

#19023 [SSL, Pages] Add SSL.com to Pages CAA records troubleshooting
  public/_redirects
  src/content/docs/pages/configuration/custom-domains.mdx
Labels: product:pages, size/xs

#19009 Fix official OS names
  src/content/docs/cloudflare-one/connections/connect-networks/downloads/update-cloudflared.mdx
Labels: product:cloudflare-one, size/xs

#18428 Adds suggestions for more prod-like debugging in DevTools
  src/content/docs/workers/observability/dev-tools/cpu-usage.mdx
  src/content/docs/workers/observability/dev-tools/memory-usage.mdx
Labels: product:workers, size/xs

#19013 Release-Jan-6-2025
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/2025-01-06.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/l

#19017 Update latest dev spotlight contributions
  src/content/docs/developer-spotlight/index.mdx
  src/content/docs/turnstile/tutorials/protecting-your-payment-form-from-attackers-bots-using-turnstile.mdx
  src/content/docs/workers-ai/tutorials/build-a-voice-notes-app-with-auto-transcription.mdx
  src/content/docs/workers/tutorials/generate-dynamic-og-images-using-workers/index.mdx
Labels: product:workers, size/s, product:turnstile, product:workers-ai, product:developer-spotlight

#19026 [Docs Site] Enable last updated times on docs pages
  astro.config.ts
Labels: size/s

#19012 [Cloudflare Tunnel] Fix broken API link
  src/content/docs/cloudflare-one/connections/connect-networks/configure-tunnels/remote-management.mdx
Labels: product:cloudflare-one, size/xs

#19028 [SSL] Add disclaimer to pqc-support
  src/content/docs/ssl/post-quantum-cryptography/pqc-support.mdx
Labels: product:ssl, size/xs

#18926 [ZT] New captive portal detection behavior
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/captive-portals.mdx
Labels: product:cloudflare-one, size/s

#18891 [Workers] Clarify Smart Placement and RPC compatibility
  src/content/docs/workers/configuration/smart-placement.mdx
Labels: product:workers, size/xs

#18937 Update authentication.mdx to use correct auth header for OpenAI and V…
  src/content/docs/ai-gateway/configuration/authentication.mdx
Labels: size/xs, product:ai-gateway

#19024 adding nuxt video tutorial
  src/content/docs/pages/framework-guides/deploy-a-nuxt-site.mdx
Labels: product:pages, size/xs

#18882 [Docs Site] Exclude Style Guide from indexing
  src/components/overrides/Head.astro
Labels: size/s

#19022 [DLS] Removes Keyless SSL from DLS
  public/_redirects
  src/content/docs/data-localization/compatibility.mdx
  src/content/docs/data-localization/geo-key-manager.mdx
  src/content/docs/data-localization/index.mdx
  src/content/docs/data-localization/key-management/index.mdx
  src/content/docs/data-localization/key-management/keyless-ssl.mdx
Labels: product:data-localization, size/s

#19042 [Rules] Add proxied DNS record requirement
  src/content/docs/rules/cloud-connector/index.mdx
  src/content/docs/rules/custom-error-responses/index.mdx
  src/content/docs/rules/snippets/index.mdx
Labels: product:rules, size/s

#19044 [Docs Site] Add CODEOWNERS for changelogs-next
  .github/CODEOWNERS
Labels: size/xs

#19039 [Docs Site] Fix dark model styling in catalog components
  src/components/ModelCatalog.jsx
  src/components/ProductCatalog.tsx
Labels: size/s

#19043 [API Shield] Minor tweaks to Transform Rules section
  src/content/docs/api-shield/security/jwt-validation/transform-rules.mdx
Labels: product:api-shield, size/xs

#19029 Issues/18824: Fix documentation around auto-trailing-slash
  src/content/docs/workers/static-assets/routing.mdx
Labels: product:workers, size/s

#18518 Clarify that Pages assets already served from Tiered Cache
  src/content/docs/pages/configuration/serving-pages.mdx
Labels: product:pages, size/xs

#19041 [Docs Site] Add collapsible plugin to code blocks
  ec.config.mjs
  package-lock.json
  package.json
  src/content/docs/style-guide/components/code.mdx
Labels: size/s, product:style-guide

#19052 [Logs] Removes code owner
  .github/CODEOWNERS
Labels: size/xs

#19046 [AIG]Aig-remove-beta-label
  src/content/docs/ai-gateway/providers/google-ai-studio.mdx
  src/content/docs/ai-gateway/providers/grok.mdx
  src/content/docs/ai-gateway/providers/mistral.mdx
Labels: size/xs, product:ai-gateway

#19051 [D1] Adding information on `D1PreparedStatement` object.
  src/content/docs/d1/worker-api/d1-database.mdx
  src/content/docs/d1/worker-api/prepared-statements.mdx
Labels: product:d1, size/m

#19055 [Cache] Add Cache Rules requirement
  src/content/docs/cache/how-to/cache-rules/index.mdx
Labels: product:cache, size/xs

#18989 [Ruleset Engine] Adds missing API Shield fields
  src/content/docs/ruleset-engine/rules-language/fields/dynamic-fields.mdx
Labels: product:ruleset-engine, size/s

#18993 Update prefix-delegations.mdx
  src/content/docs/byoip/concepts/prefix-delegations.mdx
Labels: product:byoip, size/s

#19071 adding nuxt to the video list and updating the video
  src/content/docs/pages/framework-guides/deploy-a-nuxt-site.mdx
  src/content/videos/index.yaml
Labels: product:pages, size/s

#18495 Add better messaging on Vitest Pool Workers and nodejs_compat
  src/content/docs/workers/testing/vitest-integration/isolation-and-concurrency.mdx
Labels: product:workers, size/s

#19070 [Docs Site] Fix fetch-depth and last updated on pages with updated frontmatter.
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
  astro.config.ts
  src/components/overrides/LastUpdated.astro
Labels: size/s

#19078 Update status for Load Balancing in account-owned-tokens.mdx
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19058 Address confusing comment around input and output gates
  src/content/docs/durable-objects/api/storage-api.mdx
  src/content/glossary/durable-objects.yaml
Labels: product:durable-objects, size/s

#19025 Add deprecation notice for resolver.cloudflare-eth.com
  src/content/changelogs/api-deprecations.yaml
Labels: size/s

#19054 Create 2025-01-07-aig-provider-deepseek.mdx
  src/assets/images/ai-gateway/deepseek.png
  src/content/changelogs-next/2025-01-07-aig-provider-deepseek.mdx
Labels: size/s

#19081 [Support] Moves information about RFCs
  src/content/docs/support/troubleshooting/http-status-codes/1xx-informational.mdx
Labels: size/s, product:support

#19035 Update how-hyperdrive-works.mdx
  src/content/docs/hyperdrive/configuration/how-hyperdrive-works.mdx
Labels: size/s, product:hyperdrive

#19087 [ZT] Update analytics w/ overview page + Access
  public/_redirects
  src/content/docs/cloudflare-one/connections/connect-devices/warp/index.mdx
  src/content/docs/cloudflare-one/insights/analytics/access.mdx
  src/content/docs/cloudflare-one/insights/analytics/analytics-overview.mdx
  src/content/docs/cloudflare-one/insights/analytics/gateway.mdx
  src/content/docs/cloudflare-one/insights/analytics/shadow-it-discovery.mdx
  src/content/docs/learning-paths/replace-vpn/build-policies/shadow-it.mdx
  src/content/docs/learning-paths/secure-internet-traffic/build-http-policies/browser-isolation.mdx
  src/content/docs/reference-architecture/design-guides/zero-trust-for-saas.mdx
  src/content/docs/reference-architecture/design-guides/zero-trust-for-startups.mdx
  src/content/partials/cloudflare-one/gateway/policies/block-applications.mdx
Labels: product:cloudflare-one, do-not-merge-yet, product:reference-architecture, size/m, product:learning-paths

#19068 [Workers] Document preview_urls config
  src/content/docs/workers/configuration/previews.mdx
  src/content/docs/workers/configuration/routing/routes.mdx
  src/content/docs/workers/configuration/routing/workers-dev.mdx
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/s

#19091 Update troubleshooting-cloudflare-5xx-errors.mdx
  src/content/docs/support/troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.mdx
Labels: size/xs, product:support

#19083 [R2] Editing CODEOWNERS to take on R2.
  .github/CODEOWNERS
Labels: size/xs

#19095 [Cache] Updates Cache changelog
  src/content/changelogs/cache.yaml
Labels: size/xs

#19082 [Aegis] Add note about expected behavior with Workers subrequests
  src/content/docs/aegis/configuration-options/workers.mdx
Labels: size/xs, product:aegis

#19073 [Aegis] Document Spectrum support
  src/content/docs/aegis/configuration-options/access-cni.mdx
  src/content/docs/aegis/configuration-options/data-localization.mdx
  src/content/docs/aegis/configuration-options/load-balancing.mdx
  src/content/docs/aegis/configuration-options/network-firewall.mdx
  src/content/docs/aegis/configuration-options/spectrum.mdx
  src/content/docs/aegis/configuration-options/workers.mdx
  src/content/docs/aegis/index.mdx
  src/content/docs/cache/index.mdx
  src/content/partials/learning-paths/ent-only-network-security.mdx
Labels: product:cache, size/s, product:aegis

#19096 [Cache] Adds clarification for cache rules fields and purge
  src/content/docs/cache/how-to/cache-rules/settings.mdx
Labels: product:cache, size/s

#19086 Update _redirects
  public/_redirects
Labels: size/xs

#19101 [Magic] Updates to BGP peering docs
  src/content/docs/magic-transit/how-to/bgp-peering.mdx
  src/content/docs/magic-wan/configuration/manually/how-to/bgp-peering.mdx
  src/content/partials/network-interconnect/bgp-peering.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#19097 [Support] Update troubleshooting-cloudflare-5xx-errors.mdx
  src/content/docs/support/troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.mdx
Labels: size/s, product:support

#18869 Workflows: update workflows changelog and added instanceId to the WorkflowEvent params
  src/content/changelogs/workflows.yaml
  src/content/docs/workflows/build/events-and-parameters.mdx
  src/content/docs/workflows/build/workers-api.mdx
  src/content/docs/workflows/reference/limits.mdx
Labels: size/s, product:workflows

#19102 [Cache] Adds info about Load Balancing interaction
  src/content/docs/cache/how-to/tiered-cache.mdx
Labels: product:cache, size/xs

#19100 [Docs Site] Sort by sort_date in CompatibilityFlags component
  src/components/CompatibilityFlags.astro
Labels: size/xs

#19104 [Magic Cloud] Add additional actions to aws IAM policy
  src/content/docs/magic-cloud-networking/get-started.mdx
Labels: size/xs, product:magic-cloud-networking

#18986 Update cloudflare-gateway.mdx
  src/content/docs/magic-wan/zero-trust/cloudflare-gateway.mdx
Labels: size/xs, product:magic-wan

#19106 [Rules] Rules Overview page
  src/assets/images/rules/transform/create-request-header-modification-rule.png
  src/assets/images/rules/transform/create-response-header-modification-rule.png
  src/assets/images/rules/transform/transform-rules-tab.png
  src/content/changelogs/rules.yaml
  src/content/docs/api-shield/security/jwt-validation/transform-rules.mdx
  src/content/docs/cache/how-to/cache-rules/create-dashboard.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/salesforce-commerce-cloud.mdx
  src/content/docs/firewall/troubleshooting/required-changes-to-enable-url-normalization.mdx
  src/content/docs/images/manage-images/serve-images/serve-from-custom-domains.mdx
  src/content/docs/images/transform-images/serve-images-custom-paths.mdx
  src/content/docs/rules/cloud-connector/examples/route-images-to-s3.mdx
  src/content/docs/rules/cloud-connector/examples/send-eu-visitors-to-gcs.mdx
  src/content/docs/rules/cloud-connector/examples/serve-static-assets-from-azure.mdx
  src/content/docs/rules/compression-rules/create-dashboard.mdx
  src/content/docs/rules/configuration-rules/create-dashboard.mdx
  src/content/docs/rules/normalization/manage.mdx
  src/content/docs/rules/origin-rules/create-dashboard.mdx
  src/content/docs/rules/origin-rules/examples/change-uri-path-and-host-header.mdx
  src/content/docs/rules/transform/manage.mdx
  src/content/docs/rules/transform/managed-transforms/configure.mdx
  src/content/docs/rules/transform/request-header-modification/create-dashboard.mdx
  src/content/docs/rules/transform/response-header-modification/create-dashboard.mdx
  src/content/docs/rules/transform/url-rewrite/create-dashboard.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-dashboard.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-dashboard.mdx
  src/content/docs/ssl/troubleshooting/general-ssl-errors.mdx
Labels: product:images, product:firewall, product:rules, product:ssl, product:cache, product:api-shield, product:cloudflare-for-platforms, size/m

#19107 Fix code example
  src/content/docs/workflows/examples/backup-d1.mdx
Labels: size/xs, product:workflows

#19048 Remove China Network SSL section
  src/content/docs/ssl/troubleshooting/faq.mdx
Labels: product:ssl, size/xs

#19050 [DNS] Update setup.mdx
  src/content/docs/dns/dns-firewall/setup.mdx
Labels: product:dns, size/xs

#19080 [DNS] Update account-custom-nameservers.mdx
  src/content/docs/dns/nameservers/custom-nameservers/account-custom-nameservers.mdx
  src/content/docs/dns/nameservers/custom-nameservers/tenant-custom-nameservers.mdx
  src/content/docs/dns/nameservers/custom-nameservers/zone-custom-nameservers.mdx
Labels: product:dns, size/s

#19105 Clarify the ability of using Custom Rules to act on truncated payloads
  src/content/docs/waf/managed-rules/index.mdx
Labels: product:waf, size/xs

#19092 [DNS] The max number of linked peers per zone
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.mdx
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup.mdx
  src/content/docs/dns/zone-setups/zone-transfers/index.mdx
  src/content/partials/dns/linked-peers-limit.mdx
Labels: product:dns, size/s

#18582 [DNS] DNS records initial setup and review guidance
  src/content/docs/dns/get-started.mdx
  src/content/docs/dns/manage-dns-records/how-to/batch-record-changes.mdx
  src/content/docs/dns/manage-dns-records/how-to/create-dns-records.mdx
  src/content/docs/dns/manage-dns-records/how-to/create-subdomain.mdx
  src/content/docs/dns/manage-dns-records/how-to/create-zone-apex.mdx
  src/content/docs/dns/manage-dns-records/how-to/email-records.mdx
  src/content/docs/dns/manage-dns-records/how-to/import-and-export.mdx
  src/content/docs/dns/manage-dns-records/how-to/managing-dynamic-ip-addresses.mdx
  src/content/docs/dns/manage-dns-records/how-to/round-robin-dns.mdx
  src/content/docs/dns/manage-dns-records/how-to/subdomains-outside-cloudflare.mdx
  src/content/docs/dns/manage-dns-records/index.mdx
  src/content/docs/ssl/edge-certificates/index.mdx
  src/content/partials/dns/create-subdomain-record.mdx
  src/content/partials/dns/dns-scan-procedure.mdx
Labels: product:ssl, product:dns, size/m

#19077 doc(runtime-apis/diagnostics-channel) fix code block syntax
  src/content/docs/workers/runtime-apis/nodejs/diagnostics-channel.mdx
Labels: product:workers, size/xs

#19007 [C3] Consistently use full official full stack framework names
  public/_redirects
  src/content/docs/d1/examples/d1-and-sveltekit.mdx
  src/content/docs/pages/framework-guides/deploy-a-solid-start-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-svelte-kit-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-elderjs-site.mdx
  src/content/docs/pages/get-started/c3.mdx
  src/content/docs/pages/how-to/preview-with-cloudflare-tunnel.mdx
Labels: product:pages, product:d1, size/s

#19120 [Email Security] Add BCC Rules
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/bcc-setup/gmail-bcc-setup/add-bcc-rules.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/bcc-setup/gmail-bcc-setup/enable-auto-moves.mdx
Labels: product:cloudflare-one, size/s

#19053 [Load Balancing] Update dynamic-steering.mdx
  src/content/docs/load-balancing/understand-basics/traffic-steering/steering-policies/dynamic-steering.mdx
Labels: product:load-balancing, size/xs

#18757 wrangler: document the new "redirected" configuration feature
  src/content/docs/workers/wrangler/bundling.mdx
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/s

#19116 Update Access and Zaraz status for AOTs
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19079 Change notes and mentions of node compat v2
  src/content/docs/browser-rendering/platform/wrangler.mdx
  src/content/docs/workers/tutorials/generate-dynamic-og-images-using-workers/index.mdx
  src/content/docs/workers/tutorials/postgres/index.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/partials/workers/nodejs-compat-howto.mdx
Labels: product:workers, product:browser-rendering, size/s

#19098 [CF4SaaS] Clarify O2O intro adding a DNS record example
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/how-it-works.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/index.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/start/getting-started.mdx
  src/content/partials/cloudflare-for-platforms/get-started-per-hostname.mdx
Labels: product:cloudflare-for-platforms, size/s

#19089 [ZT] Cert process updates
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/automated-deployment.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/index.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#18675 [WAF] Add Terraform info for leaked credentials & malicious uploads
  src/content/docs/terraform/additional-configurations/waf-custom-rules.mdx
  src/content/docs/waf/detections/leaked-credentials/examples.mdx
  src/content/docs/waf/detections/leaked-credentials/get-started.mdx
  src/content/docs/waf/detections/malicious-uploads/example-rules.mdx
  src/content/docs/waf/detections/malicious-uploads/get-started.mdx
  src/content/partials/waf/leaked-credentials-detection-enable.mdx
Labels: product:terraform, product:waf, size/m

#19127 Update dev spotlight terms location
  src/content/docs/developer-spotlight/application-guide.mdx
  src/content/docs/developer-spotlight/terms.mdx
Labels: size/s, product:developer-spotlight

#19131 Update Developer Spotlight terms.mdx
  src/content/docs/developer-spotlight/terms.mdx
Labels: size/xs, product:developer-spotlight

#19118 [Ruleset Engine] Review examples for request body fields
  src/content/docs/ruleset-engine/rules-language/fields/dynamic-fields.mdx
  src/content/docs/ruleset-engine/rules-language/fields/http-request-body.mdx
  src/content/docs/ruleset-engine/rules-language/fields/http-request-header.mdx
  src/content/docs/ruleset-engine/rules-language/fields/http-request-response.mdx
  src/content/docs/ruleset-engine/rules-language/fields/magic-firewall.mdx
  src/content/docs/ruleset-engine/rules-language/fields/standard-fields.mdx
Labels: product:ruleset-engine, size/m

#19114 [ZT] Create and activate cert via API
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/index.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#19088 Document change to default D1 export to --local
  src/content/partials/workers/wrangler-commands/d1.mdx
Labels: size/s

#19133 Update SSL/TLS status for AOTs
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19128 Delete extraneous trailing colons
  src/content/docs/pages/framework-guides/nextjs/ssr/troubleshooting.mdx
  src/content/docs/pages/functions/bindings.mdx
Labels: product:pages, size/xs

#19152 [crawl]Update troubleshooting-crawl-errors.mdx
  src/content/docs/support/troubleshooting/general-troubleshooting/troubleshooting-crawl-errors.mdx
Labels: size/xs, product:support

#19146 [Pages] Update pricing.mdx
  src/content/docs/pages/functions/pricing.mdx
Labels: product:pages, size/xs

#19117 [Spectrum] Update configuration-options.mdx
  src/content/docs/spectrum/reference/configuration-options.mdx
Labels: product:spectrum, size/s

#19157 [DO] Clarifying that `bindings` is a spread via `...`
  src/content/docs/durable-objects/api/sql-storage.mdx
Labels: product:durable-objects, size/xs

#19155 [Support] Update troubleshooting-crawl-errors.mdx
  src/content/docs/support/troubleshooting/general-troubleshooting/troubleshooting-crawl-errors.mdx
Labels: size/s, product:support

#19159 chore: drop deprecated `@types/dompurify`
  package-lock.json
  package.json
Labels: size/s

#19160 [MWAN] IPsec phases
  src/assets/images/magic-wan/third-party/pfsense/ipsec-phase1.png
  src/assets/images/magic-wan/third-party/pfsense/ipsec-phase1b.png
  src/assets/images/magic-wan/third-party/pfsense/ipsec-phase2.png
  src/assets/images/magic-wan/third-party/sonicwall/4-vpn-policy-proposals.png
  src/assets/images/magic-wan/third-party/sophos-firewall/1-ipsec-profile.png
  src/content/docs/magic-wan/configuration/manually/third-party/alibaba-cloud.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/aws.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/azure.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/cisco-ios-xe.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/fitelnet.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/fortinet.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/google.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/juniper.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/oracle.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/palo-alto.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/pfsense.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/sonicwall.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/sophos-firewall.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/strongswan.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/vyos.mdx
Labels: size/m, product:magic-wan

#19132 [DNS] Email records example and intro adjustments
  src/content/docs/dns/concepts.mdx
  src/content/partials/dns/add-mx-records.mdx
  src/content/partials/dns/dns-scan-procedure.mdx
Labels: product:dns, size/s

#19163 [AIG]fixed code syntax
  src/content/docs/ai-gateway/integrations/aig-workers-ai-binding.mdx
Labels: size/s, product:ai-gateway

#18853 [Workers] Point users to the npm package for workers-types instead of the archived repo
  src/content/docs/workers/runtime-apis/request.mdx
Labels: product:workers, size/xs

#19103 [Workers KV] FAQ page
  src/content/docs/kv/platform/pricing.mdx
  src/content/docs/kv/reference/faq.mdx
Labels: size/s, product:kv

#19164 [Magic] Corrected weight values
  src/content/partials/magic-transit/static-routes/static-routes1.mdx
Labels: size/s

#19093 Fix typo
  src/content/docs/ai-gateway/providers/bedrock.mdx
Labels: size/xs, product:ai-gateway

#19069 [D1] Setting up changelog notice for a future free tier limit enforcement
  src/content/changelogs/d1.yaml
  src/content/docs/d1/platform/limits.mdx
Labels: product:d1, size/s

#19169 Update codeowners
  .github/CODEOWNERS
Labels: size/xs

#19170 Release-Jan-13-2025
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/2025-01-13.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/m

#19171 Clarify that account owned tokens work with Durable Objects
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/m

#19136 Update entra-id.mdx
  src/content/docs/cloudflare-one/identity/idp-integration/entra-id.mdx
Labels: product:cloudflare-one, size/s

#19173 Update temporary-auth.mdx
  src/content/docs/cloudflare-one/policies/access/temporary-auth.mdx
Labels: product:cloudflare-one, size/xs

#19174 Update casb-dlp.mdx
  src/content/docs/cloudflare-one/applications/casb/casb-dlp.mdx
Labels: product:cloudflare-one, size/xs

#19166 [AIG] details on how to manually delete logs
  src/content/docs/ai-gateway/observability/logging/index.mdx
Labels: size/s, product:ai-gateway

#19182 [Magic Cloud] Specify Azure GatewaySubnet size
  src/content/docs/magic-cloud-networking/reference.mdx
Labels: size/xs, product:magic-cloud-networking

#19193 [5xx] Update troubleshooting-cloudflare-5xx-errors.mdx
  src/content/docs/support/troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.mdx
Labels: size/xs, product:support

#19180 [Browser Rendering] Add an how to on how to use browser rendering tog…
  src/content/docs/browser-rendering/how-to/ai.mdx
Labels: product:browser-rendering, size/m

#19195 Update index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
Labels: product:cloudflare-one, size/xs

#19194 Update parameters.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/parameters.mdx
Labels: product:cloudflare-one, size/xs

#18917 [Pages] Update Hexo framework guides, solve the deployment failure issue
  src/content/docs/pages/framework-guides/deploy-a-hexo-site.mdx
Labels: product:pages, size/xs

#19184 [Gateway] Update Install CA availability
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/automated-deployment.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#19188 Update Account owned token product compatibility
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19200 Added Workflows to the AoT compatibility matrix
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: fundamentals, size/xs, product:workflows

#19202 [D1] Fixing broken links for D1.
  src/content/docs/d1/best-practices/import-export-data.mdx
  src/content/docs/d1/observability/billing.mdx
  src/content/docs/d1/platform/alpha-migration.mdx
  src/content/docs/d1/reference/migrations.mdx
  src/content/docs/d1/worker-api/d1-database.mdx
  src/content/docs/d1/worker-api/index.mdx
  src/content/docs/d1/worker-api/prepared-statements.mdx
  src/content/partials/workers/wrangler-commands/d1.mdx
Labels: product:d1, size/s

#19201 [DO] Fixing broken links
  src/content/docs/durable-objects/api/alarms.mdx
  src/content/docs/durable-objects/api/base.mdx
  src/content/docs/durable-objects/api/sql-storage.mdx
  src/content/docs/durable-objects/best-practices/websockets.mdx
  src/content/docs/durable-objects/examples/alarms-api.mdx
  src/content/docs/durable-objects/examples/build-a-counter.mdx
  src/content/docs/durable-objects/examples/build-a-rate-limiter.mdx
  src/content/docs/durable-objects/examples/durable-object-in-memory-state.mdx
  src/content/docs/durable-objects/examples/websocket-hibernation-server.mdx
  src/content/docs/durable-objects/examples/websocket-server.mdx
  src/content/docs/durable-objects/index.mdx
  src/content/docs/durable-objects/platform/limits.mdx
  src/content/docs/durable-objects/tutorials/build-a-seat-booking-app/index.mdx
Labels: product:durable-objects, size/s

#19199 [SSL] Link to custom cipher suites and update USSL limitations
  src/content/docs/ssl/edge-certificates/additional-options/cipher-suites/customize-cipher-suites.mdx
  src/content/docs/ssl/edge-certificates/additional-options/cipher-suites/index.mdx
  src/content/docs/ssl/edge-certificates/universal-ssl/limitations.mdx
  src/content/docs/ssl/index.mdx
Labels: product:ssl, size/s

#19211 [DNS] Specify what Auto means for unproxied records TTL
  src/content/docs/dns/manage-dns-records/reference/ttl.mdx
Labels: product:dns, size/xs

#19203 [Rules] New managed transform for malicious uploads detection
  src/content/docs/rules/transform/managed-transforms/reference.mdx
Labels: product:rules, product:waf, size/s

#19212 [Workers KV] Fixing broken links.
  src/content/docs/kv/api/delete-key-value-pairs.mdx
  src/content/docs/kv/api/list-keys.mdx
  src/content/docs/kv/api/read-key-value-pairs.mdx
  src/content/docs/kv/api/write-key-value-pairs.mdx
  src/content/docs/kv/concepts/kv-bindings.mdx
  src/content/docs/kv/get-started.mdx
Labels: size/s, product:kv

#19213 [Magic] Refined BGP info
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
  src/content/docs/magic-transit/how-to/bgp-peering.mdx
  src/content/docs/magic-transit/how-to/configure-static-routes.mdx
  src/content/docs/magic-transit/how-to/configure-tunnels.mdx
  src/content/docs/magic-wan/configuration/manually/how-to/configure-static-routes.mdx
  src/content/docs/magic-wan/configuration/manually/how-to/configure-tunnels.mdx
  src/content/partials/magic-transit/static-routes/static-routes1.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#19192 [Support] Improve 3xx Redirection page
  src/content/docs/support/troubleshooting/http-status-codes/1xx-informational.mdx
  src/content/docs/support/troubleshooting/http-status-codes/3xx-redirection.mdx
Labels: size/m, product:support

#19217 [Docs Site] Fix isCurrent sidebar item on custom pages and nested hideChildren pages
  src/components/overrides/Sidebar.astro
Labels: size/xs

#19220 [CF1] forbidden page FAQ
  src/content/docs/cloudflare-one/faq/policies-faq.mdx
Labels: product:cloudflare-one, size/s

#19126 [CF1] azure and containers in warp exclusion
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/common-issues.mdx
Labels: product:cloudflare-one, size/xs

#19222 [Security Center] Update Brand Protection docs
  src/content/docs/security-center/brand-protection.mdx
Labels: product:security-center, size/s

#19218 [R2] Implementing partials for R2 Wrangler commands.
  src/content/changelogs/r2.yaml
  src/content/docs/ai-gateway/tutorials/deploy-aig-worker.mdx
  src/content/docs/learning-paths/workers/get-started/c3-and-wrangler.mdx
  src/content/docs/r2/buckets/create-buckets.mdx
  src/content/docs/r2/buckets/event-notifications.mdx
  src/content/docs/r2/buckets/object-lifecycles.mdx
  src/content/docs/r2/data-migration/sippy.mdx
  src/content/docs/r2/tutorials/summarize-pdf.mdx
  src/content/docs/r2/tutorials/upload-logs-event-notifications.mdx
  src/content/docs/workers/configuration/secrets.mdx
  src/content/docs/workers/configuration/versions-and-deployments/gradual-deployments.mdx
  src/content/docs/workers/configuration/versions-and-deployments/index.mdx
  src/content/docs/workers/tutorials/build-a-jamstack-app/index.mdx
  src/content/docs/workers/tutorials/create-finetuned-chatgpt-ai-models-with-r2/index.mdx
  src/content/docs/workers/tutorials/github-sms-notifications-using-twilio/index.mdx
  src/content/docs/workers/tutorials/openai-function-calls-workers/index.mdx
  src/content/docs/workers/tutorials/postgres/index.mdx
  src/content/docs/workers/wrangler/commands.mdx
  src/content/docs/workers/wrangler/environments.mdx
  src/content/partials/workers/wrangler-commands/r2.mdx
Labels: product:workers, product:r2, size/xl, product:learning-paths, product:ai-gateway

#19119 [SSL] Update certificate-and-hostname-priority.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/security/certificate-management/enforce-mtls.mdx
  src/content/docs/ssl/reference/certificate-and-hostname-priority.mdx
Labels: product:ssl, product:cloudflare-for-platforms, size/s

#19121 [DNS] Update faq.mdx
  src/content/docs/dns/troubleshooting/faq.mdx
Labels: product:dns, size/xs

#19227 Add email relay to approved
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19230 [ZT] Fix broken Kandji link
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/partners/kandji.mdx
Labels: product:cloudflare-one, size/xs
