Repository cloudflare/cloudflare-docs, pull requests merged in 2025-08, with the labels that each got.

#24059 Remove Python packages warning from main Python docs
  src/content/docs/workers/languages/python/index.mdx
Labels: product:workers, size/xs

#24069 Add changelog for Magic Transit and Magic WAN health check data being compatible with CMB EU
  src/assets/images/changelog/magic-transit/2025-07-30-mt-mwan-health-checks-cmb-eu.png
  src/content/changelog/magic-transit/2025-07-30-mt-mwan-health-check-cmb-eu.mdx
Labels: size/s

#24126 [Hyperdrive] Improving Hyperdrive <> Tunnel tutorial to use steps and details components
  src/content/docs/hyperdrive/configuration/connect-to-private-database.mdx
  src/content/partials/cloudflare-one/tunnel/create-tunnel.mdx
Labels: size/s, product:hyperdrive

#24112 [ZT] Indicator feed file size limit
  src/content/docs/security-center/indicator-feeds.mdx
Labels: sub-product:gateway, product:security-center, size/xs

#23974 Update errors.mdx
  src/content/docs/workers/observability/errors.mdx
Labels: product:workers, size/xs

#24107 PCX-18641: Adds limitation to browser-based RDP docs about Entra AD joined accounts
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/rdp/rdp-browser.mdx
Labels: product:cloudflare-one, size/xs

#24122 [Browser Rendering] Clarified limit note
  src/content/docs/browser-rendering/platform/limits.mdx
  src/content/partials/browser-rendering/limits-increase.mdx
Labels: size/xs

#22975 Add Workers for Platforms bindings documentation
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/get-started/bindings.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/get-started/user-workers.mdx
Labels: product:cloudflare-for-platforms, size/m

#24146 [Magic] Tunnel HCs patch
  src/content/partials/networking-services/reference/tunnel-health-checks.mdx
Labels: size/s

#23954 Create 2025-07-30-Scam-domain-category-introduced.mdx
  src/content/changelog/gateway/2025-07-28-Spam-domain-category-introduced.mdx
Labels: size/s

#24150 add env import in container env var docs
  src/content/docs/containers/examples/env-vars-and-secrets.mdx
Labels: size/s, product:containers

#24101 Update browser-rendering.yaml
  src/content/docs/browser-rendering/rest-api/screenshot-endpoint.mdx
  src/content/release-notes/browser-rendering.yaml
Labels: size/xs

#24135 [Video] Added SASE videos to docs
  src/content/docs/cloudflare-one/applications/non-http/index.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/index.mdx
  src/content/docs/cloudflare-one/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/index.mdx
  src/content/docs/magic-wan/index.mdx
Labels: product:cloudflare-one, size/s, product:magic-wan

#24152 Update faq.mdx
  src/content/docs/browser-rendering/faq.mdx
Labels: product:browser-rendering, size/xs

#24130 [CF1] warp diag log retention
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/warp-logs.mdx
Labels: product:cloudflare-one, size/s

#24119 [CF1] update sshd_config file instructions
  src/content/docs/cloudflare-one/applications/non-http/short-lived-certificates-legacy.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
  src/content/docs/cloudflare-one/policies/gateway/network-policies/ssh-logging.mdx
  src/content/partials/cloudflare-one/ssh/modify-sshd.mdx
Labels: product:cloudflare-one, size/s

#24158 d1: fix footnote for limits
  src/content/docs/d1/platform/limits.mdx
Labels: product:d1, size/xs

#24173 [D1] Adding footnote entry into details component
  src/content/docs/d1/platform/limits.mdx
Labels: product:d1, size/s

#23674 [Containers] document custom instance types in configuration.mdx
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/s

#24180 Update puppeteer.mdx
  src/content/docs/browser-rendering/platform/puppeteer.mdx
Labels: product:browser-rendering, size/s

#24177 Agents changelog 0508
  src/content/changelog/agents/2025-08-05-agents-MCP-update.mdx
  src/content/changelog/agents/2025-08-05-sandbox-sdk-major-update.mdx
Labels: size/m

#23984 [Docs Site] Sort entries on /products/
  src/pages/products.astro
Labels: size/s

#24042 [Docs Site] Wrap Stream component in div
  src/components/Stream.astro
Labels: size/m

#24097 [architectures] Update cdn.mdx
  src/content/docs/reference-architecture/architectures/cdn.mdx
Labels: product:reference-architecture, size/xs

#24181 [ZT] Update mTLS references in WARP docs
  src/content/docs/cloudflare-one/identity/devices/access-integrations/mutual-tls-authentication.mdx
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/client-certificate.mdx
  src/content/partials/cloudflare-one/access/add-mtls-cert.mdx
  src/content/partials/cloudflare-one/warp/device-enrollment-mtls.mdx
Labels: product:cloudflare-one, size/s

#24184 changelog and model docs
  .gitignore
  src/content/changelog/workers-ai/2025-08-05-openai-open-models.mdx
  src/content/workers-ai-models/gpt-oss-120b.json
  src/content/workers-ai-models/gpt-oss-20b.json
Labels: size/xl

#24187 pinning and pricing
  src/components/ModelCatalog.tsx
  src/components/models/code/OpenAIResponsesTextGenerationCode.astro
  src/content/docs/workers-ai/configuration/open-ai-compatibility.mdx
  src/content/docs/workers-ai/platform/pricing.mdx
  src/pages/workers-ai/models/[name].astro
Labels: size/xs, product:workers-ai

#24204 [Rules] Update available fields
  src/content/docs/rules/transform/request-header-modification/reference/fields-functions.mdx
  src/content/docs/rules/transform/response-header-modification/reference/fields-functions.mdx
  src/content/partials/rules/transform/header-modification-fields.mdx
Labels: product:rules, size/s

#24209 [Workers AI] Remove completions note from oss
  src/components/models/code/OpenAIResponsesTextGenerationCode.astro
Labels: size/s

#24211 Removed public folder from gitignore
  .gitignore
Labels: size/xs

#23936 Update index.mdx
  src/content/docs/google-tag-gateway/index.mdx
Labels: size/xs, product:google-tag-gateway

#24229 [ZT] Add Load Balancing + Internal DNS to CF1
  src/content/products/internal-dns.yaml
  src/content/products/load-balancing.yaml
Labels: size/xs

#24154 [CF1] identity-based selectors
  src/content/docs/cloudflare-one/policies/access/index.mdx
Labels: product:cloudflare-one, size/s

#24227 [Bots] Add robots.txt example file in iframe
  src/content/docs/bots/additional-configurations/managed-robots-txt.mdx
Labels: product:bots, size/s

#24236 [Fundamentals] Fix permission name
  src/content/partials/fundamentals/account-permissions-table.mdx
Labels: size/xs

#24234 [DO] Updating code for websocket hibernation
  src/content/docs/durable-objects/examples/websocket-hibernation-server.mdx
Labels: product:durable-objects, size/m

#24222 Update faq.mdx
  src/content/docs/browser-rendering/faq.mdx
Labels: product:browser-rendering, size/xs

#24240 TEST
  src/content/docs/fundamentals/reference/changelog/security.mdx
  src/content/docs/time-services/tos.mdx
Labels: size/s, product:fundamentals, product:time-services

#24239 Update ip-geolocation.mdx
  src/content/docs/network/ip-geolocation.mdx
Labels: size/xs, product:network

#24242 Test 2
  src/content/docs/fundamentals/reference/changelog/security.mdx
Labels: size/xs, product:fundamentals

#24243 Fix typo in "Bot Management" in fullstack reference architecture diagram
  src/assets/images/reference-architecture/fullstack-app/fullstack-app-base.svg
Labels: size/xl

#24244 [Chore] Remove unused pages
  src/content/docs/fundamentals/reference/changelog/performance.mdx
  src/content/docs/fundamentals/reference/changelog/platform.mdx
  src/content/docs/fundamentals/reference/changelog/security.mdx
Labels: size/s, product:fundamentals

#24249 tag added to change log entry
  src/content/changelog/workers/2025-07-01-workers-deploy-button-supports-environment-variables-and-secrets.mdx
Labels: size/xs

#24251 Release-Aug-07-2025- Emergency
  src/content/changelog/waf/2025-08-07-emergency-waf-release.mdx
Labels: size/s

#24250 [ZT] fix Tunnel Terraform example
  src/content/docs/cloudflare-one/connections/connect-networks/deployment-guides/ansible.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/deployment-guides/terraform.mdx
  src/content/partials/cloudflare-one/terraform/providers-v5.mdx
Labels: product:cloudflare-one, size/s

#24255 [API Shield] Add Authentication Posture link
  src/content/docs/api-shield/management-and-monitoring/endpoint-management/index.mdx
Labels: product:api-shield, size/xs

#24259 Update 2025-08-04-waf-release.mdx
  src/content/changelog/waf/2025-08-04-waf-release.mdx
Labels: size/xs

#24176 [Errors] Update error-500.mdx
  src/content/docs/support/troubleshooting/http-status-codes/cloudflare-5xx-errors/error-500.mdx
Labels: size/xs, product:support

#24179 [Error] Update error-1016.mdx
  src/content/docs/support/troubleshooting/http-status-codes/cloudflare-1xxx-errors/error-1016.mdx
Labels: size/s, product:support

#24257 Encourage changelogs to be written as part of docs PR template
  .github/pull_request_template.md
Labels: size/xs

#23837 Document the new .env support for local development
  src/content/docs/workers/configuration/environment-variables.mdx
  src/content/docs/workers/development-testing/environment-variables.mdx
  src/content/docs/workers/vite-plugin/reference/cloudflare-environments.mdx
  src/content/docs/workers/wrangler/environments.mdx
  src/content/docs/workers/wrangler/system-environment-variables.mdx
  src/content/partials/workers/secrets-in-dev.mdx
Labels: product:workers, size/s

#23829 [Stream] live stream troubleshooting guide
  src/assets/images/changelog/stream/2025-08-05-live-input-metrics.png
  src/content/changelog/stream/2025-08-08-stream-live-observability.mdx
  src/content/docs/stream/stream-live/troubleshooting.mdx
Labels: product:stream, size/s

#24067 Add changelog entry for .env support
  src/content/changelog/workers/2025-08-01-dot-env-in-local-dev.mdx
Labels: size/s

#24264 [Various] APIRequest component
  src/content/docs/api-shield/security/schema-validation/api.mdx
  src/content/docs/api-shield/security/volumetric-abuse-detection.mdx
  src/content/docs/bots/frequently-asked-questions.mdx
  src/content/docs/ddos-protection/botnet-threat-feed.mdx
Labels: product:bots, product:api-shield, size/m, product:ddos-protection

#24269 Update products.astro for title + meta description
  src/pages/products.astro
Labels: size/xs

#24241 Update cache-reserve.mdx
  src/content/docs/cache/advanced-configuration/cache-reserve.mdx
Labels: product:cache, size/xs

#24254 [Gateway] Apply suggestions
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/dedicated-egress-ips.mdx
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#24272 PCX-18758 - update directory page filter, adding a docs grouping
  src/content/products/1.1.1.1.yaml
  src/content/products/aegis.yaml
  src/content/products/ai-audit.yaml
  src/content/products/automatic-platform-optimization.yaml
  src/content/products/byoip.yaml
  src/content/products/data-localization.yml
  src/content/products/developer-spotlight.yaml
  src/content/products/fundamentals.yml
  src/content/products/google-tag-gateway.yaml
  src/content/products/learning-paths.yaml
  src/content/products/log-explorer.yaml
  src/content/products/logs.yaml
  src/content/products/radar.yml
  src/content/products/reference-architecture.yml
  src/content/products/support.yml
  src/content/products/terraform.yaml
  src/content/products/warp-client.yaml
  src/content/products/web3.yml
  src/content/products/workers-analytics-engine.yaml
  src/content/products/workers-for-platforms.yaml
  src/content/products/zaraz.yml
Labels: size/s

#24278 Updating no-cache changelog for clarity
  src/content/changelog/workers/2025-08-07-cache-no-cache.mdx
  src/content/compatibility-flags/cache-no-cache.md
Labels: size/s

#24275 Add worker isolation docs, update limits/pricing pages, and remove old changelog page
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/platform/changelog.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/platform/limits.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/platform/pricing.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/platform/worker-isolation.mdx
Labels: product:cloudflare-for-platforms, size/s

#24120 Add --json flag to `r2 bucket info` command
  src/content/partials/workers/wrangler-commands/r2.mdx
Labels: size/xs

#24186 Update faq.mdx
  src/content/docs/kv/reference/faq.mdx
Labels: size/xs, product:kv

#24273 Improve the node:timers example
  src/content/docs/workers/runtime-apis/nodejs/timers.mdx
Labels: product:workers, size/s

#23808 Improve and extend node:http docs
  src/content/docs/workers/runtime-apis/nodejs/http.mdx
  src/content/docs/workers/runtime-apis/nodejs/https.mdx
Labels: product:workers, size/m

#24302 Update commands.mdx
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs

#23773 Start to making some incremental improvements to node compat docs
  src/content/docs/workers/runtime-apis/nodejs/EventEmitter.mdx
  src/content/docs/workers/runtime-apis/nodejs/assert.mdx
  src/content/docs/workers/runtime-apis/nodejs/buffer.mdx
  src/content/docs/workers/runtime-apis/nodejs/crypto.mdx
Labels: product:workers, size/s

#24308 [Compat flags] remove repeating text block
  src/content/docs/workers/configuration/compatibility-flags.mdx
Labels: product:workers, size/xs

#24309 Update index.mdx
  src/content/docs/workers/runtime-apis/bindings/index.mdx
Labels: product:workers, size/xs

#24300 [HTTP codes] Update error-1020.mdx
  src/content/docs/support/troubleshooting/http-status-codes/cloudflare-1xxx-errors/error-1020.mdx
Labels: size/xs, product:support

#22200 fix: instance.status() return type
  src/content/docs/workflows/build/workers-api.mdx
Labels: size/xs, product:workflows

#24277 [Error] Update error-526.mdx
  src/content/docs/support/troubleshooting/http-status-codes/cloudflare-5xx-errors/error-526.mdx
Labels: size/xs, product:support

#24318 [Containers] Update image size limit
  src/content/docs/containers/platform-details.mdx
Labels: size/s, product:containers

#23909 [ZT] Added how to change a team domain name
  src/content/docs/cloudflare-one/applications/configure-apps/dash-sso-apps.mdx
  src/content/docs/cloudflare-one/faq/getting-started-faq.mdx
  src/content/glossary/cloudflare-one.yaml
Labels: product:cloudflare-one, size/s

#24274 [ZT] Remove single use partials
  src/content/docs/cloudflare-one/insights/logs/gateway-logs/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/dns-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/domain-categories.mdx
  src/content/docs/cloudflare-one/policies/gateway/initial-setup/dns.mdx
  src/content/docs/cloudflare-one/policies/gateway/network-policies/index.mdx
  src/content/docs/learning-paths/cybersafe/gateway-onboarding/gateway-create-cipa-policy.mdx
  src/content/partials/cloudflare-one/gateway/domain-categories.mdx
  src/content/partials/cloudflare-one/gateway/get-started/create-dns-policy.mdx
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
  src/content/partials/cloudflare-one/gateway/order-of-precedence-dns-order.mdx
  src/content/partials/cloudflare-one/gateway/order-of-precedence-dns.mdx
  src/content/partials/cloudflare-one/gateway/policies/block-cipa.mdx
  src/content/partials/cloudflare-one/gateway/selectors/indicator-feeds.mdx
  src/content/partials/cloudflare-one/gateway/selectors/protocol-detection.mdx
  src/content/partials/cloudflare-one/gateway/selectors/sni-domain.mdx
  src/content/partials/cloudflare-one/gateway/selectors/sni.mdx
  src/content/partials/cloudflare-one/gateway/uploaded-downloaded-file.mdx
  src/content/partials/learning-paths/create-cloudflare-account.mdx
  src/content/partials/learning-paths/zero-trust/enterprise-account-perms.mdx
Labels: product:cloudflare-one, size/m, product:learning-paths

#18866 Update Platform limits to be more direct
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, size/xs

#24320 Move bun to language rather than tool
  src/content/pages-build-environment/v2.yaml
  src/content/pages-build-environment/v3.yaml
Labels: size/s

#21864 Update choose-on-ramp.mdx
  src/content/docs/learning-paths/secure-internet-traffic/connect-devices-networks/choose-on-ramp.mdx
Labels: size/xs, product:learning-paths

#24325 [ZT] Delete duplicate API token page
  public/__redirects
  src/assets/images/cloudflare-one/api-terraform/create-token.png
  src/assets/images/cloudflare-one/api-terraform/edit-token.png
  src/assets/images/cloudflare-one/api-terraform/view-token.png
  src/content/docs/cloudflare-one/api-terraform/index.mdx
  src/content/docs/cloudflare-one/api-terraform/scoped-api-tokens.mdx
Labels: product:cloudflare-one, size/s

#22968 Simplify language on WASM docs
  src/content/docs/workers/runtime-apis/webassembly/index.mdx
Labels: product:workers, size/xs

#24213 [Fundamentals] Update add-site.mdx
  src/content/docs/fundamentals/manage-domains/add-site.mdx
Labels: size/xs, product:fundamentals

#22779 [Workers for Platforms] Fix pricing formula for scripts in pricing.mdx
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/platform/pricing.mdx
Labels: product:cloudflare-for-platforms, size/xs

#23897 Update api-rate-limits.mdx
  src/content/partials/fundamentals/api-rate-limits.mdx
Labels: size/xs, product:fundamentals

#24326 [ZT] update Access SSH logs UI
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
Labels: product:cloudflare-one, size/xs

#24312 [WAF] Update max content object size to 30 MB
  src/content/docs/waf/detections/malicious-uploads/example-rules.mdx
  src/content/docs/waf/detections/malicious-uploads/index.mdx
Labels: product:waf, size/s

#24246 [Stream] Add filename option to Media Transformations
  src/content/docs/stream/transform-videos/index.mdx
Labels: product:stream, size/s

#21328 Update splunk-integration-guide.mdx
  src/content/docs/email-security/reporting/siem-integration/splunk-integration-guide.mdx
Labels: size/xs, product:email-security

#24331 [Magic] New hcs dash magic
  src/content/docs/magic-transit/network-health/check-tunnel-health-dashboard.mdx
  src/content/docs/magic-wan/configuration/common-settings/check-tunnel-health-dashboard.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/fortinet.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/sonicwall.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/sophos-firewall.mdx
  src/content/partials/networking-services/tunnel-health/check-tunnel-healthchecks-dash.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#18328 Update events-and-parameters.mdx
  src/content/docs/workflows/build/events-and-parameters.mdx
Labels: size/xs, product:workflows

#19143 Update rules-of-workflows.mdx
  src/content/docs/workflows/build/rules-of-workflows.mdx
Labels: size/xs, product:workflows

#21814 [Docs Site] fix typo in rules-of-workflows.mdx
  src/content/docs/workflows/build/rules-of-workflows.mdx
Labels: size/xs, product:workflows

#20554 Remove redundant redirect in Workflows code example
  src/content/docs/workflows/build/trigger-workflows.mdx
Labels: size/xs, product:workflows

#22160 Update sleeping-and-retrying.mdx
  src/content/docs/workflows/build/sleeping-and-retrying.mdx
Labels: size/xs, product:workflows

#24333 [Durable Objects] Updating Websocket server example
  src/content/docs/durable-objects/examples/websocket-server.mdx
Labels: product:durable-objects, size/m

#24313 [Workers] Updating note on the main key
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/xs

#24341 [Workflows] Updating Workflows overview
  src/content/docs/workflows/index.mdx
Labels: size/s, product:workflows

#24336 [CF1] nested groups callout on entra id
  src/content/docs/cloudflare-one/identity/idp-integration/entra-id.mdx
Labels: product:cloudflare-one, size/xs

#24169 [CF1] Local domain fallback best practice
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/local-domains.mdx
  src/content/docs/cloudflare-one/policies/gateway/resolver-policies.mdx
  src/content/partials/cloudflare-one/warp/ldf-best-practice.mdx
Labels: product:cloudflare-one, size/s

#24339 [WAF] Update RL requirements
  src/content/docs/waf/rate-limiting-rules/best-practices.mdx
  src/content/partials/waf/rate-limiting-availability-by-plan.mdx
Labels: product:waf, size/s

#19292 Add hostMetadata to Request docs
  src/content/docs/workers/runtime-apis/request.mdx
Labels: product:workers, size/xs

#24344 [Magic Transit] IPv6 patch
  src/content/docs/magic-transit/how-to/ipv6.mdx
Labels: size/s, product:magic-transit

#21649 remove extra hyphen
  src/content/docs/agents/index.mdx
Labels: size/xs, product:agents

#24349 [Agents] Title capitalisation nit
  src/content/docs/agents/model-context-protocol/transport.mdx
Labels: size/s, product:agents

#22493 [Agents] Add instruction on adding DO binding
  src/content/docs/agents/index.mdx
Labels: size/s, product:agents

#24334 [Workers] Update rate limiting
  src/content/docs/workers/runtime-apis/bindings/rate-limit.mdx
Labels: product:workers, size/s

#24357 Add cross link to 526 error page
  src/content/docs/workers/runtime-apis/fetch.mdx
Labels: product:workers, size/xs

#21999 add dynamic base URL config for Zola preview deployments
  src/content/docs/pages/framework-guides/deploy-a-zola-site.mdx
Labels: product:pages, size/s

#24165 Fix: correct TypeScript in example snippet
  src/content/docs/workers/framework-guides/web-apps/react-router.mdx
Labels: product:workers, size/xs

#24358 Add limitation for websocket logging
  src/content/docs/workers/observability/logs/real-time-logs.mdx
Labels: product:workers, size/xs

#24327 [ZT] Old Tanium integration is no longer recommended
  src/content/docs/cloudflare-one/identity/devices/access-integrations/tanium.mdx
Labels: product:cloudflare-one, size/xs

#24293 docs: added realtime kit documentation
  .github/CODEOWNERS
  public/__redirects
  src/content/docs/realtime/concepts.mdx
  src/content/docs/realtime/getting-started.mdx
  src/content/docs/realtime/index.mdx
  src/content/docs/realtime/introduction.mdx
  src/content/docs/realtime/sfu/calls-vs-sfus.mdx
  src/content/docs/realtime/sfu/changelog.mdx
  src/content/docs/realtime/sfu/datachannels.mdx
  src/content/docs/realtime/sfu/demos.mdx
  src/content/docs/realtime/sfu/example-architecture.mdx
  src/content/docs/realtime/sfu/get-started.mdx
  src/content/docs/realtime/sfu/https-api.mdx
  src/content/docs/realtime/sfu/index.mdx
  src/content/docs/realtime/sfu/introduction.mdx
  src/content/docs/realtime/sfu/limits.mdx
  src/content/docs/realtime/sfu/pricing.mdx
  src/content/docs/realtime/sfu/sessions-tracks.mdx
  src/content/docs/realtime/sfu/simulcast.mdx
Labels: size/s, product:realtime

#24252 [Chore] Remove unused or inaccurate components
  src/components/NetworkMap.astro
  src/components/PlanInfo.astro
  src/components/ProductsByTag.astro
  src/components/ResourcesBySelector.astro
  src/components/ResourcesBySelector.tsx
  src/components/TroubleshootingList.astro
  src/components/WorkerStarter.astro
  src/components/index.ts
  src/content/docs/dns/dnssec/troubleshooting.mdx
  src/content/docs/dns/troubleshooting/index.mdx
  src/content/docs/dns/zone-setups/full-setup/troubleshooting.mdx
  src/content/docs/dns/zone-setups/zone-transfers/troubleshooting.mdx
  src/content/docs/speed/optimization/content/fonts/faq.mdx
  src/content/docs/speed/optimization/content/fonts/troubleshooting.mdx
  src/content/docs/speed/troubleshooting.mdx
  src/content/docs/ssl/client-certificates/troubleshooting.mdx
  src/content/docs/ssl/edge-certificates/custom-certificates/troubleshooting.mdx
  src/content/docs/ssl/troubleshooting/index.mdx
  src/content/docs/style-guide/components/pages-build-environment.mdx
  src/content/docs/style-guide/components/pages-build-presets-table.mdx
  src/content/docs/style-guide/components/plan-info.mdx
  src/content/docs/style-guide/components/product-changelog.mdx
  src/content/docs/style-guide/components/products-by-tag.mdx
  src/content/docs/style-guide/components/worker-starter.mdx
  src/content/docs/style-guide/frontmatter/tags.mdx
  src/content/docs/use-cases/ai.mdx
  src/content/docs/workers/reference/how-workers-works.mdx
Labels: product:workers, size/l, product:style-guide, product:use-cases

#24363 Update logpush.mdx
  src/content/docs/workers/observability/logs/logpush.mdx
Labels: product:workers, size/s

#20493 Add Claude Code suggestion to Prompting doc
  src/content/docs/workers/get-started/prompting.mdx
Labels: product:workers, size/xs

#24365 [Workers AI] Curl bug
  src/components/models/code/LlamaGuard.astro
Labels: size/xs

#22833 Tell the reader to remove unwanted `binding` property in "Pages to Workers" migration docs
  src/content/docs/workers/static-assets/migration-guides/migrate-from-pages.mdx
Labels: product:workers, size/xs

#24353 [Email Security] Add Configure journal rule instructions
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/m365-journaling.mdx
Labels: product:cloudflare-one, size/s

#24371 [Gateway] Reorder priority between policy types
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
Labels: sub-product:gateway, size/s

#23948 Update worker-variables.mdx
  src/content/docs/zaraz/variables/worker-variables.mdx
Labels: size/s, product:zaraz

#23208 [Browser Rendering] Take a screenshot of a specific element using selector
  src/content/docs/browser-rendering/rest-api/screenshot-endpoint.mdx
Labels: product:browser-rendering, size/s

#21094 Document Wrangler Command KV Bulk Get
  src/content/partials/workers/wrangler-commands/kv.mdx
Labels: size/s

#23307 Update batching-retries.mdx
  src/content/docs/queues/configuration/batching-retries.mdx
Labels: product:queues, size/xs

#21119 add note about environments in generated wrangler configuration section
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/s

#24171 [CF1] Access event analytics
  src/content/docs/cloudflare-one/insights/analytics/access.mdx
Labels: product:cloudflare-one, size/s

#24359 [CF1] restart > reload SSH server
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
  src/content/partials/cloudflare-one/ssh/restart-server.mdx
Labels: product:cloudflare-one, size/s

#24384 [SSL] Add link to blog on alternatives to certificate pinning
  src/content/docs/ssl/reference/certificate-pinning.mdx
Labels: product:ssl, size/xs

#21787 [Workers]: Update Docusaurus framework guide
  src/content/docs/workers/framework-guides/web-apps/more-web-frameworks/docusaurus.mdx
Labels: product:workers, size/m

#24385 [1.1.1.1.] Update folder name to avoid double slugify
  public/__redirects
  src/content/docs/1.1.1.1/additional-options/dns-in-google-sheets.mdx
  src/content/docs/1.1.1.1/additional-options/dns-over-discord.mdx
  src/content/docs/1.1.1.1/additional-options/dns-over-tor.mdx
  src/content/docs/1.1.1.1/additional-options/index.mdx
  src/content/docs/1.1.1.1/index.mdx
Labels: product:1.1.1.1, size/xs

#24383 [Stream] Cross links to new live stream troubleshooting
  src/content/docs/stream/examples/obs-from-scratch/index.mdx
  src/content/docs/stream/stream-live/start-stream-live.mdx
Labels: product:stream, size/xs

#24377 Added changelog for expanded link isolation for CES.
  src/assets/images/changelog/email-security/expanded-link-actions.jpg
  src/content/changelog/email-security-cf1/2025-08-07-expanded-link-isolation.mdx
Labels: size/s

#24376 [ZT] Validate Access JWT header instead of cookie
  src/content/docs/cloudflare-one/identity/authorization-cookie/validating-json.mdx
Labels: product:cloudflare-one, size/xs

#24388 [1.1.1.1] Replace cloudflared with WARP client in DoH clients
  src/content/docs/1.1.1.1/encryption/dns-over-https/dns-over-https-client.mdx
Labels: product:1.1.1.1, size/s

#24379 [ZT] Logpush SIEM destinations
  src/content/docs/cloudflare-one/insights/logs/logpush.mdx
  src/content/docs/logs/logpush/logpush-job/enable-destinations/index.mdx
Labels: product:cloudflare-one, product:logs, size/s

#24373 [MCP] Add Cloudflare Access as an authorization method
  src/content/docs/agents/model-context-protocol/authorization.mdx
Labels: size/s, product:agents

#24394 [CASB] Validating status
  src/content/docs/cloudflare-one/applications/casb/manage-findings.mdx
Labels: product:cloudflare-one, size/s, sub-product:casb

#24409 [Radar] Add AI Bots Crawl Purpose Dimension to release notes
  src/content/release-notes/radar.yaml
Labels: size/xs

#24330 update xata docs
  src/content/docs/workers/databases/third-party-integrations/xata.mdx
  src/content/partials/hyperdrive/xata-partial.mdx
Labels: product:workers, size/m

#24397 Sahidya/ibm_cloud_logs_destination
  src/content/changelog/logs/2025-08-13-ibm-cloud-logs-destination.mdx
Labels: size/xs

#24389 [Docs Site] Using ResourceBySelector component where possible
  src/components/ListExamples.astro
  src/components/ResourcesBySelector.astro
  src/components/ResourcesBySelector.tsx
  src/components/index.ts
  src/content/docs/cloudflare-one/api-terraform/access-api-examples/index.mdx
  src/content/docs/containers/examples/index.mdx
  src/content/docs/d1/examples/index.mdx
  src/content/docs/durable-objects/examples/index.mdx
  src/content/docs/images/examples/index.mdx
  src/content/docs/kv/examples/index.mdx
  src/content/docs/pub-sub/examples/index.mdx
  src/content/docs/queues/examples/index.mdx
  src/content/docs/r2/tutorials/index.mdx
  src/content/docs/rules/cloud-connector/examples/index.mdx
  src/content/docs/rules/compression-rules/examples/index.mdx
  src/content/docs/rules/configuration-rules/examples/index.mdx
  src/content/docs/rules/examples.mdx
  src/content/docs/rules/origin-rules/examples/index.mdx
  src/content/docs/rules/snippets/examples/index.mdx
  src/content/docs/rules/transform/examples/index.mdx
  src/content/docs/rules/url-forwarding/examples/index.mdx
  src/content/docs/stream/examples/index.mdx
  src/content/docs/style-guide/components/list-examples.mdx
  src/content/docs/style-guide/components/resources-by-selector.mdx
  src/content/docs/turnstile/reference/workers-templates/index.mdx
  src/content/docs/workers/examples/index.mdx
  src/content/docs/workflows/examples/index.mdx
  src/schemas/stream.ts
Labels: product:workers, product:stream, product:images, product:cloudflare-one, product:rules, product:pub-sub, product:queues, product:d1, product:durable-objects, size/s, product:turnstile, product:kv, product:workflows, product:containers

#24413 [Chore] Tag changelog header with selectable attribute
  src/components/changelog/Header.astro
Labels: size/xs

#24402 [Video] Adding onboarding videos
  src/content/docs/cache/index.mdx
  src/content/docs/dns/manage-dns-records/index.mdx
  src/content/docs/fundamentals/concepts/how-cloudflare-works.mdx
  src/content/partials/fundamentals/what-is-cloudflare.mdx
Labels: product:dns, product:cache, size/xs, product:fundamentals

#24367 [Docs Site] Add facetingAfterDistinct to InstantSearch
  src/components/search/InstantSearch.tsx
Labels: size/xs

#23843 Create new-applications-71825
  src/content/changelog/cloudflare-one/new-applications-71825
Labels: size/s

#24392 Update Python Worker docs to use default entrypoint handlers.
  src/content/changelog/workers/2025-05-14-python-worker-durable-object.mdx
  src/content/changelog/workers/2025-08-14-new-python-handlers.mdx
  src/content/docs/d1/examples/query-d1-from-python-workers.mdx
  src/content/docs/durable-objects/get-started.mdx
  src/content/docs/workers/examples/103-early-hints.mdx
  src/content/docs/workers/examples/ab-testing.mdx
  src/content/docs/workers/examples/accessing-the-cloudflare-object.mdx
  src/content/docs/workers/examples/aggregate-requests.mdx
  src/content/docs/workers/examples/alter-headers.mdx
  src/content/docs/workers/examples/auth-with-headers.mdx
  src/content/docs/workers/examples/block-on-tls.mdx
  src/content/docs/workers/examples/bulk-origin-proxy.mdx
  src/content/docs/workers/examples/bulk-redirects.mdx
  src/content/docs/workers/examples/cache-api.mdx
  src/content/docs/workers/examples/cache-post-request.mdx
  src/content/docs/workers/examples/cache-tags.mdx
  src/content/docs/workers/examples/cache-using-fetch.mdx
  src/content/docs/workers/examples/conditional-response.mdx
  src/content/docs/workers/examples/cors-header-proxy.mdx
  src/content/docs/workers/examples/country-code-redirect.mdx
  src/content/docs/workers/examples/data-loss-prevention.mdx
  src/content/docs/workers/examples/debugging-logs.mdx
  src/content/docs/workers/examples/extract-cookie-value.mdx
  src/content/docs/workers/examples/fetch-html.mdx
  src/content/docs/workers/examples/fetch-json.mdx
  src/content/docs/workers/examples/geolocation-app-weather.mdx
  src/content/docs/workers/examples/geolocation-hello-world.mdx
  src/content/docs/workers/examples/hot-link-protection.mdx
  src/content/docs/workers/examples/images-workers.mdx
  src/content/docs/workers/examples/logging-headers.mdx
  src/content/docs/workers/examples/modify-request-property.mdx
  src/content/docs/workers/examples/modify-response.mdx
  src/content/docs/workers/examples/post-json.mdx
  src/content/docs/workers/examples/protect-against-timing-attacks.mdx
  src/content/docs/workers/examples/read-post.mdx
  src/content/docs/workers/examples/redirect.mdx
  src/content/docs/workers/examples/respond-with-another-site.mdx
  src/content/docs/workers/examples/return-html.mdx
  src/content/docs/workers/examples/return-json.mdx
  src/content/docs/workers/examples/rewrite-links.mdx
  src/content/docs/workers/examples/security-headers.mdx
  src/content/docs/workers/examples/signing-requests.mdx
  src/content/docs/workers/examples/turnstile-html-rewriter.mdx
  src/content/docs/workers/languages/python/examples.mdx
  src/content/docs/workers/languages/python/ffi.mdx
  src/content/docs/workers/languages/python/how-python-workers-work.mdx
  src/content/docs/workers/languages/python/index.mdx
  src/content/docs/workers/languages/python/packages/fastapi.mdx
  src/content/docs/workers/languages/python/packages/langchain.mdx
  src/content/docs/workers/platform/infrastructure-as-code.mdx
  src/content/docs/workers/runtime-apis/handlers/index.mdx
  src/content/partials/workers/service-binding-rpc-example.mdx
Labels: product:workers, product:d1, product:durable-objects, size/xl

#21397 Update plans.mdx
  src/content/docs/magic-firewall/plans.mdx
Labels: size/xs, product:magic-firewall

#23972 [Search] Surface content type on SERP
  src/components/search/InstantSearch.tsx
Labels: size/xs

#24400 [Gateway] H3 DNI recommendation
  src/content/docs/cloudflare-one/policies/gateway/http-policies/http3.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#24423 [Changelog] Add lastUpdated from changelog entry date
  src/components/overrides/Head.astro
  src/pages/changelog/[...slug].astro
Labels: size/s

#24421 [Video] Added transcripts for videos
  src/content/stream/china-network-acceleration/index.yaml
  src/content/stream/onboard-domain-cf/index.yaml
  src/content/stream/sase-1-evolution-corp-networks/index.yaml
  src/content/stream/sase-2-stop-hosting-own-vpn/index.yaml
  src/content/stream/sase-3-secure-remote-access/index.yaml
  src/content/stream/sase-4-connect-secure/index.yaml
  src/content/stream/sase-5-protect-users/index.yaml
  src/content/stream/warp-1-basics/index.yaml
  src/content/stream/warp-2-diagonostic-logs/index.yaml
Labels: size/xl

#24415 [DO] Improving definition for namespace in Glossary
  src/content/glossary/durable-objects.yaml
Labels: size/xs

#24439 Create 2025-08-15-brand-protection-bulk-endpoint.mdx
  src/content/changelog/security-center/2025-08-15-brand-protection-bulk-endpoint.mdx
Labels: size/xs
