Repository cloudflare/cloudflare-docs, pull requests merged in 2025-04, with the labels that each got.

#21251 [DNS] Add Secondary DNS Warning notification
  src/content/notifications/index.yaml
Labels: size/xs

#19289 Add clarification on onRequest call fall-through
  src/content/docs/pages/functions/api-reference.mdx
Labels: product:pages, size/xs

#21265 Codeowner Browser Rendering
  .github/CODEOWNERS
Labels: size/xs

#21286 [DNS] Fix API doc links for DNS view actions
  src/content/docs/dns/internal-dns/dns-views.mdx
  src/content/docs/dns/internal-dns/get-started.mdx
  src/content/docs/dns/internal-dns/internal-zones/reference-zones.mdx
Labels: product:dns, size/s

#21252 [Ruleset Engine] Use APIRequest component
  src/content/docs/ruleset-engine/basic-operations/add-rule-phase-rulesets.mdx
  src/content/docs/ruleset-engine/basic-operations/deploy-rulesets.mdx
  src/content/docs/ruleset-engine/basic-operations/view-rulesets.mdx
  src/content/docs/ruleset-engine/custom-rulesets/add-rules-ruleset.mdx
  src/content/docs/ruleset-engine/custom-rulesets/create-custom-ruleset.mdx
  src/content/docs/ruleset-engine/custom-rulesets/deploy-custom-ruleset.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-examples/deploy-cmr-joomla-only.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-examples/deploy-cmr-wordpress-block.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-examples/enable-selected-rules.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-examples/override-ddos-rule-sensitivity.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-examples/override-ruleset-tag-rule.mdx
  src/content/docs/ruleset-engine/managed-rulesets/override-managed-ruleset.mdx
  src/content/docs/ruleset-engine/rulesets-api/add-rule.mdx
  src/content/docs/ruleset-engine/rulesets-api/create.mdx
  src/content/docs/ruleset-engine/rulesets-api/delete-rule.mdx
  src/content/docs/ruleset-engine/rulesets-api/delete.mdx
  src/content/docs/ruleset-engine/rulesets-api/update-rule.mdx
  src/content/docs/ruleset-engine/rulesets-api/update.mdx
  src/content/docs/ruleset-engine/rulesets-api/view.mdx
Labels: product:ruleset-engine, size/xl

#21287 [Page Shield] Clarify alerts on policies
  src/content/docs/page-shield/detection/configure-alerts.mdx
Labels: product:page-shield, size/xs

#21250 [AIG]: remove beta badges from the ai gateway logs
  src/content/docs/ai-gateway/observability/logging/index.mdx
  src/content/docs/ai-gateway/observability/logging/logpush.mdx
Labels: size/s, product:ai-gateway

#21143 [SaaS] Update getting-started.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/start/getting-started.mdx
Labels: product:cloudflare-for-platforms, size/xs

#21290 Remove incorrect backticks present in vite3 page
  src/content/docs/pages/framework-guides/deploy-a-vite3-project.mdx
Labels: product:pages, size/xs

#21291 [WAF, REng] Clarify skip rules scope
  src/content/docs/ruleset-engine/rules-language/actions.mdx
  src/content/docs/waf/custom-rules/skip/options.mdx
Labels: product:waf, product:ruleset-engine, size/s

#21245 Release-Apr-01-2025
  src/content/docs/waf/change-log/2025-04-01.mdx
  src/content/docs/waf/change-log/scheduled-changes.mdx
  src/content/release-notes/waf.yaml
Labels: product:waf, size/m

#21125 [D1] Add e-commerce tutorial
  src/content/docs/d1/tutorials/using-read-replication-for-e-com/index.mdx
Labels: product:d1, size/l

#21292 [Docs Site] Escape double quotes in CURL component
  src/components/CURL.astro
Labels: size/xs

#20948 [Images] Update quality.mdx
  src/content/partials/images/quality.mdx
Labels: size/xs

#19272 [Images]Update troubleshooting.mdx
  src/content/docs/images/reference/troubleshooting.mdx
Labels: product:images, size/xs

#21293 Add ai gateway get url binding method docs
  src/content/docs/ai-gateway/integrations/worker-binding-methods.mdx
Labels: size/s, product:ai-gateway

#20297 Update cancel-subscription.mdx
  src/content/docs/fundamentals/subscriptions-and-billing/cancel-subscription.mdx
Labels: size/xs, product:fundamentals

#21209 [Version Management] Update get-started.mdx
  src/content/docs/version-management/get-started.mdx
Labels: product:version-management, size/xs

#21207 SPM-2787
  src/content/docs/version-management/how-to/versions.mdx
Labels: product:version-management, size/xs

#21273 update c3 command for next + workers assets
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
Labels: product:workers, size/xs

#21205 Redact s3 api creds
  src/content/docs/r2/buckets/cors.mdx
  src/content/docs/r2/buckets/object-lifecycles.mdx
  src/content/docs/r2/reference/data-location.mdx
Labels: product:r2, size/s

#21257 add note about the days of the week in cron settings
  src/content/docs/workers/configuration/cron-triggers.mdx
Labels: product:workers, size/xs

#21242 Fix links for setWebSocketAutoResponse
  src/content/partials/durable-objects/durable-objects-pricing.mdx
  src/content/partials/workers/durable_objects_pricing.mdx
Labels: size/xs

#21206 SPM-2787
  src/content/docs/version-management/index.mdx
Labels: product:version-management, size/xs

#19713 [Browser Rendering] Fix how to AI example formatting
  src/content/docs/browser-rendering/how-to/ai.mdx
Labels: product:browser-rendering, size/m

#21302 Unused images april
  .github/workflows/image-audit.yml
  src/assets/images/pulumi/hello-world-tutorial/sn2.png
  src/assets/images/pulumi/hello-world-tutorial/sn3.png
  src/assets/images/pulumi/hello-world-tutorial/sn4.png
  src/assets/images/pulumi/hello-world-tutorial/sn5.png
  src/assets/images/pulumi/hello-world-tutorial/sn6.png
  src/assets/images/support/gathering_har_file_record.png
  src/assets/images/support/hc-import-status_codes_error_by_data_center.png
  src/assets/images/support/hc-import-web_traffic_status_codes.png
  src/assets/images/turnstile/complete-tut--admin.png
  src/assets/images/turnstile/complete-tut--challenge-page.png
  src/assets/images/turnstile/complete-tut--frontend.png
  src/assets/images/turnstile/complete-tut--rule-definition.png
  src/assets/images/workers/tutorials/dynamic-og-images/style-1.png
  src/assets/images/workers/tutorials/dynamic-og-images/style-2.png
  src/assets/images/workers/tutorials/dynamic-og-images/style-3.png
  src/assets/images/workers/tutorials/dynamic-og-images/style-4.png
Labels: size/xs

#19648 fix fragment link to the delete worker command in wrangler commands
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs

#20178 Improve clarity of Pages > Build Image > Limitations
  src/content/docs/pages/configuration/build-image.mdx
Labels: product:pages, size/xs

#19716 [Docs Site] add missing type highlighting to c3.mdx
  src/content/docs/pages/get-started/c3.mdx
Labels: product:pages, size/s

#21318 Update authorization.mdx
  src/content/docs/agents/model-context-protocol/authorization.mdx
Labels: size/xs, product:agents

#21294 [Cache] Edits table
  src/content/docs/cache/how-to/purge-cache/purge-by-single-file.mdx
  src/content/docs/cache/how-to/purge-cache/purge-by-tags.mdx
  src/content/docs/cache/how-to/purge-cache/purge_by_prefix.mdx
  src/content/plans/index.json
Labels: product:cache, size/xs

#21319 [Support] Replicates PR 20261
  src/content/docs/support/troubleshooting/cloudflare-errors/troubleshooting-cloudflare-5xx-errors.mdx
Labels: size/xs, product:support

#21320 [DNS] Update notifications/index.yaml
  src/content/notifications/index.yaml
Labels: size/s

#21324 [Area 1] Fix table
  src/content/docs/email-security/deployment/inline/setup/cisco-cisco-mx.mdx
Labels: size/s, product:email-security

#21305 Update reuse-sessions.mdx
  src/content/docs/browser-rendering/workers-binding-api/reuse-sessions.mdx
Labels: product:browser-rendering, size/xs

#21215 [Rules] Use APIRequest component in API examples
  src/content/docs/rules/cloud-connector/create-api.mdx
  src/content/docs/rules/compression-rules/examples/disable-all-brotli.mdx
  src/content/docs/rules/compression-rules/examples/disable-compression-avif.mdx
  src/content/docs/rules/compression-rules/examples/enable-zstandard.mdx
  src/content/docs/rules/compression-rules/examples/gzip-for-csv.mdx
  src/content/docs/rules/compression-rules/examples/only-brotli-url-path.mdx
  src/content/docs/rules/configuration-rules/create-api.mdx
  src/content/docs/rules/custom-errors/create-api.mdx
  src/content/docs/rules/origin-rules/create-api.mdx
  src/content/docs/rules/snippets/create-api.mdx
  src/content/docs/rules/transform/managed-transforms/configure.mdx
  src/content/docs/rules/transform/request-header-modification/create-api.mdx
  src/content/docs/rules/transform/response-header-modification/create-api.mdx
  src/content/docs/rules/transform/url-rewrite/create-api.mdx
  src/content/docs/rules/url-forwarding/bulk-redirects/create-api.mdx
  src/content/docs/rules/url-forwarding/single-redirects/create-api.mdx
Labels: product:rules, size/xl

#21325 [MT] IPv6 beta
  src/assets/images/magic-transit/ipv6.png
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
  src/content/docs/magic-transit/how-to/ipv6.mdx
  src/content/docs/magic-transit/how-to/run-endpoint-health-checks.mdx
Labels: size/s, product:magic-transit

#21306 Update mta-sts.mdx
  src/content/docs/email-routing/setup/mta-sts.mdx
Labels: product:email-routing, size/xs

#21303 [API Shield] Sequence rules lookback window matching mechanism
  src/content/docs/api-shield/security/sequence-mitigation/index.mdx
  src/content/docs/bots/concepts/sequence-rules.mdx
Labels: product:bots, product:api-shield, size/xs

#21263 New reference architecture diagram: Storing user generated content
  src/assets/images/reference-architecture/storing-user-generated-content/ai-generated-content-in-r2.svg
  src/assets/images/reference-architecture/storing-user-generated-content/uploads-to-r2-via-signed-urls.svg
  src/content/docs/r2/api/s3/presigned-urls.mdx
  src/content/docs/reference-architecture/by-solution.mdx
  src/content/docs/reference-architecture/diagrams/storage/storing-user-generated-content.mdx
Labels: product:r2, product:reference-architecture, size/xl

#21330 Release-Apr-02-2025
  src/content/docs/waf/change-log/2025-04-02.mdx
  src/content/release-notes/waf.yaml
Labels: product:waf, size/s

#21295 [ZT] Update ZT permission names and descriptions
  src/content/partials/fundamentals/account-permissions-table.mdx
Labels: do-not-merge-yet, size/s

#21321 [Support] Moves other errors to HTTP/2
  public/__redirects
  src/content/docs/speed/optimization/protocol/http2.mdx
  src/content/docs/support/troubleshooting/cloudflare-errors/troubleshooting-other-errors.mdx
Labels: size/s, product:support, product:speed

#21314 Update categories.mdx
  src/content/docs/bots/concepts/bot/verified-bots/categories.mdx
Labels: product:bots, size/s

#21323 Update how-ddos-protection-works.mdx
  src/content/docs/ddos-protection/about/how-ddos-protection-works.mdx
Labels: size/xs, product:ddos-protection

#21309 [Turnstile] Align availability table
  src/content/plans/index.json
Labels: size/s

#21336 ai gateway cache key changes
  src/content/release-notes/ai-gateway.yaml
Labels: size/xs

#21267 Update gathering-information-for-troubleshooting-sites.mdx
  src/content/docs/support/troubleshooting/general-troubleshooting/gathering-information-for-troubleshooting-sites.mdx
Labels: size/xs, product:support

#21304 Removes warning that's been fixed
  src/content/docs/workers/configuration/routing/routes.mdx
Labels: product:workers, size/xs

#20965 CACHE-11939: add request cf overriding cache rules compat flags
  src/content/compatibility-flags/fetch-api-request-cf-overrides-cache-rules.md
Labels: size/s

#21337 [ZT] RBI accessibility page
  src/content/docs/cloudflare-one/policies/browser-isolation/accessibility.mdx
Labels: product:cloudflare-one, size/s

#21339 [Fundamentals] Moved file & added redirect
  public/__redirects
  src/content/docs/fundamentals/reference/policies-compliances/delivering-videos-with-cloudflare.mdx
Labels: size/s, product:fundamentals

#21326 durable objects: FURTHER clarify blockConcurrencyWhile
  src/content/docs/durable-objects/api/state.mdx
Labels: product:durable-objects, size/s

#21322 [Speed]Update troubleshooting.mdx
  src/content/docs/speed/optimization/content/fonts/troubleshooting.mdx
Labels: size/xs, product:speed

#21360 [WAF] Update malicious uploads example
  src/content/docs/waf/detections/malicious-uploads/example-rules.mdx
Labels: product:waf, size/xs

#21363 [Page Shield] Clarify where sampling occurs
  src/content/docs/page-shield/how-it-works/index.mdx
  src/content/docs/page-shield/reference/csp-header.mdx
Labels: product:page-shield, size/xs

#21345 [Images] Added tutorials and examples
  src/content/docs/images/examples/index.mdx
  src/content/docs/images/examples/transcode-from-workers-ai.mdx
  src/content/docs/images/examples/watermark-from-kv.mdx
  src/content/docs/images/tutorials/index.mdx
  src/content/docs/images/tutorials/optimize-user-uploaded-image.mdx
Labels: product:images, do-not-merge-yet, size/m

#20392 missing await for response.text()
  src/content/docs/workers/examples/fetch-json.mdx
Labels: product:workers, size/xs, bad-example

#21329 Change log for Automatic Audit Logs Beta release
  src/content/changelog/audit-logs/2025-03-27-automatic-audit-logs-beta-release.mdx
  src/content/products/audit-logs.yaml
Labels: size/s

#21212 [Workers] Update to workers builds limits and pricing
  src/content/docs/workers/ci-cd/builds/limits-and-pricing.mdx
Labels: product:workers, size/s

#21364 [Ruleset Engine] Update request header fields
  src/content/fields/index.yaml
Labels: size/xs

#21300 [CF1] WARP limits
  src/content/docs/cloudflare-one/account-limits.mdx
Labels: product:cloudflare-one, size/xs

#21365 fix: wrap Images binding examples in <WranglerConfig>
  src/content/changelog/images/2025-02-21-images-bindings-in-workers.mdx
  src/content/docs/images/transform-images/bindings.mdx
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, product:images, size/s

#21369 [Cache] Reorganizes purge limits table
  src/content/docs/cache/how-to/purge-cache/index.mdx
  src/content/plans/index.json
Labels: product:cache, size/s

#21253 Workers-ai-typescript
  src/content/docs/workers-ai/function-calling/embedded/get-started.mdx
  src/content/docs/workers-ai/get-started/workers-wrangler.mdx
Labels: size/s, product:workers-ai

#21370 [Cache] Updates section title
  src/content/docs/cache/how-to/purge-cache/index.mdx
  src/content/docs/cache/how-to/purge-cache/purge-by-hostname.mdx
  src/content/docs/cache/how-to/purge-cache/purge-by-single-file.mdx
  src/content/docs/cache/how-to/purge-cache/purge-by-tags.mdx
  src/content/docs/cache/how-to/purge-cache/purge-everything.mdx
  src/content/docs/cache/how-to/purge-cache/purge_by_prefix.mdx
Labels: product:cache, size/s

#21373 [Rules] Add disclaimer to Terraform examples
  src/content/docs/rules/cloud-connector/create-terraform.mdx
  src/content/docs/rules/cloud-connector/examples/route-images-to-aws-s3-using-terraform.mdx
  src/content/docs/rules/configuration-rules/examples/define-single-configuration-terraform.mdx
  src/content/docs/rules/origin-rules/examples/define-single-origin-terraform.mdx
  src/content/docs/rules/snippets/create-terraform.mdx
  src/content/docs/rules/url-forwarding/single-redirects/terraform-example.mdx
Labels: product:rules, size/s

#21354 ack-cf/purge-for-all
  src/content/changelog/cache/2025-04-01-purge-for-all.mdx
Labels: size/s

#21366 Update workers.yaml
  src/content/release-notes/workers.yaml
Labels: size/xs

#21375 Add compat flag for assets
  src/content/compatibility-flags/assets-navigation-prefers-asset-serving.md
Labels: size/s

#21384 [ZT] Revise non-identity block page description
  src/content/partials/cloudflare-one/access/block-page.mdx
Labels: size/xs

#21382 [Gateway] Google IP Protection third party warning
  src/content/partials/cloudflare-one/gateway/third-party-warning.mdx
Labels: sub-product:gateway, size/xs

#20981 [BRAPI] json endpoint docs
  src/content/docs/browser-rendering/rest-api/api-reference.mdx
  src/content/docs/browser-rendering/rest-api/json-endpoint.mdx
  src/content/docs/browser-rendering/rest-api/links-endpoint.mdx
Labels: product:browser-rendering, size/m

#20481 Vite plugin docs
  src/content/docs/workers/vite-plugin/get-started.mdx
  src/content/docs/workers/vite-plugin/index.mdx
  src/content/docs/workers/vite-plugin/reference/api.mdx
  src/content/docs/workers/vite-plugin/reference/cloudflare-environments.mdx
  src/content/docs/workers/vite-plugin/reference/debugging.mdx
  src/content/docs/workers/vite-plugin/reference/index.mdx
  src/content/docs/workers/vite-plugin/reference/migrating-from-wrangler-dev.mdx
  src/content/docs/workers/vite-plugin/reference/secrets.mdx
  src/content/docs/workers/vite-plugin/reference/static-assets.mdx
  src/content/docs/workers/vite-plugin/reference/vite-environments.mdx
  src/content/docs/workers/vite-plugin/tutorial.mdx
Labels: product:workers, size/l

#21378 [CF1] windows application check
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/application-check.mdx
Labels: product:cloudflare-one, size/xs

#21395 [MT] Refined IPv6 text
  src/content/docs/magic-transit/how-to/ipv6.mdx
Labels: size/xs, product:magic-transit

#21017 [BRAPI]Markdown endpoint docs
  src/content/docs/browser-rendering/rest-api/api-reference.mdx
  src/content/docs/browser-rendering/rest-api/markdown-endpoint.mdx
Labels: product:browser-rendering, size/s

#21400 [cache]Update cache-responses.mdx
  src/content/docs/cache/concepts/cache-responses.mdx
Labels: product:cache, size/xs

#21396 [CF1] windows pcaps limit
  src/content/docs/cloudflare-one/insights/dex/remote-captures.mdx
Labels: product:cloudflare-one, size/s

#21393 [Fundamentals] Update cloudflare-ray-id.mdx
  src/content/docs/fundamentals/reference/cloudflare-ray-id.mdx
Labels: size/xs, product:fundamentals

#21401 [Stream] Remove trailing spaces
  src/content/docs/stream/edit-videos/applying-watermarks.mdx
  src/content/docs/stream/transform-videos/index.mdx
  src/content/docs/stream/uploading-videos/player-api.mdx
  src/content/docs/stream/uploading-videos/resumable-uploads.mdx
  src/content/docs/stream/uploading-videos/upload-via-link.mdx
  src/content/docs/stream/viewing-videos/using-the-stream-player/index.mdx
  src/content/docs/stream/webrtc-beta.mdx
Labels: product:stream, size/s

#21406 [CF1] windows error with clientless web isolation
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/setup/clientless-browser-isolation.mdx
Labels: product:cloudflare-one, size/s

#21402 Adds Playwright documentation
  src/content/changelog/browser-rendering/2025-04-04-playwright-beta.mdx
  src/content/docs/browser-rendering/platform/playwright.mdx
Labels: product:browser-rendering, size/m

#21385 [Gateway] Egress load balancing
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#21261 SQC-480 add sslmode flag to hyperdrive command
  src/content/partials/workers/wrangler-commands/hyperdrive.mdx
Labels: size/s

#21350 Update docs for R2 Account level and User level API tokens
  public/__redirects
  src/content/docs/data-localization/how-to/r2.mdx
  src/content/docs/logs/R2-log-retrieval.mdx
  src/content/docs/r2/api/s3/presigned-urls.mdx
  src/content/docs/r2/api/tokens.mdx
  src/content/docs/r2/buckets/bucket-locks.mdx
  src/content/docs/r2/buckets/object-lifecycles.mdx
  src/content/docs/r2/data-migration/sippy.mdx
  src/content/docs/r2/examples/rclone.mdx
  src/content/docs/r2/examples/terraform-aws.mdx
  src/content/docs/r2/index.mdx
  src/content/docs/r2/tutorials/cloudflare-access.mdx
  src/content/docs/terraform/advanced-topics/remote-backend.mdx
  src/content/partials/r2/keys.mdx
Labels: product:terraform, product:logs, product:r2, product:data-localization, size/l

#21416 [Docs Site] Add workflow to update api-schemas pinned commit
  .github/workflows/update-api-schemas.yml
  src/util/api.ts
Labels: size/s

#21409 [Docs Site] Document RSSButton component
  src/components/ProductReleaseNotes.astro
  src/content/docs/style-guide/components/rss-button.mdx
Labels: size/s, product:style-guide

#21417 [Docs Site] Fix branch name in API schema workflow
  .github/workflows/update-api-schemas.yml
Labels: size/s

#21421 Update __redirects
  public/__redirects
Labels: size/xs

#21279 [Gateway] Sandboxing environment
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
Labels: sub-product:gateway, product:cloudflare-one, do-not-merge-yet, size/xs

#20157 Update update-billing-info.mdx
  src/content/docs/fundamentals/subscriptions-and-billing/update-billing-info.mdx
Labels: size/xs, product:fundamentals

#21429 adding scout
  src/components/ModelCatalog.tsx
  src/content/workers-ai-models/llama-4-scout-17b-16e-instruct.json
Labels: size/m

#20938 [DO] FT + SRS GA Docs
  public/__redirects
  src/content/changelog/durable-objects/2025-04-07-durable-objects-free-tier.mdx
  src/content/changelog/durable-objects/2025-04-07-sqlite-in-durable-objects-ga.mdx
  src/content/docs/agents/api-reference/schedule-tasks.mdx
  src/content/docs/agents/api-reference/store-and-sync-state.mdx
  src/content/docs/browser-rendering/workers-binding-api/browser-rendering-with-DO.mdx
  src/content/docs/durable-objects/api/sql-storage.mdx
  src/content/docs/durable-objects/api/storage-api.mdx
  src/content/docs/durable-objects/best-practices/access-durable-objects-storage.mdx
  src/content/docs/durable-objects/best-practices/create-durable-object-stubs-and-send-requests.mdx
  src/content/docs/durable-objects/best-practices/error-handling.mdx
  src/content/docs/durable-objects/best-practices/websockets.mdx
  src/content/docs/durable-objects/examples/agents.mdx
  src/content/docs/durable-objects/examples/alarms-api.mdx
  src/content/docs/durable-objects/examples/build-a-counter.mdx
  src/content/docs/durable-objects/examples/build-a-rate-limiter.mdx
  src/content/docs/durable-objects/examples/durable-object-in-memory-state.mdx
  src/content/docs/durable-objects/examples/durable-object-ttl.mdx
  src/content/docs/durable-objects/examples/websocket-hibernation-server.mdx
  src/content/docs/durable-objects/examples/websocket-server.mdx
  src/content/docs/durable-objects/get-started.mdx
  src/content/docs/durable-objects/get-started/index.mdx
  src/content/docs/durable-objects/get-started/tutorial.mdx
  src/content/docs/durable-objects/index.mdx
  src/content/docs/durable-objects/platform/limits.mdx
  src/content/docs/durable-objects/platform/pricing.mdx
  src/content/docs/durable-objects/reference/durable-objects-migrations.mdx
  src/content/docs/durable-objects/reference/environments.mdx
  src/content/docs/durable-objects/what-are-durable-objects.mdx
  src/content/docs/kv/concepts/kv-bindings.mdx
  src/content/docs/queues/examples/use-queues-with-durable-objects.mdx
  src/content/docs/workers/local-development.mdx
  src/content/docs/workers/platform/pricing.mdx
  src/content/docs/workers/platform/storage-options.mdx
  src/content/docs/workers/tutorials/deploy-a-realtime-chat-app/index.mdx
  src/content/docs/workers/tutorials/live-cursors-with-nextjs-rpc-do/index.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/glossary/durable-objects.yaml
  src/content/partials/durable-objects/do-plans-note.mdx
  src/content/partials/durable-objects/do-sqlite-storage-no-bill-note.mdx
  src/content/partials/durable-objects/durable-objects-pricing.mdx
  src/content/partials/durable-objects/durable-objects-sql.mdx
  src/content/partials/durable-objects/durable-objects-vs-d1.mdx
  src/content/partials/durable-objects/storage-intro-text.mdx
  src/content/partials/workers/durable_objects_pricing.mdx
  src/content/partials/workers/storage_api_pricing.mdx
  src/content/release-notes/durable-objects.yaml
  src/content/release-notes/hyperdrive.yaml
Labels: product:workers, product:queues, product:browser-rendering, product:durable-objects, size/xl, product:kv, hyperlint-ignore, product:agents

#21432 fix changelog
  src/content/changelog/durable-objects/2025-04-07-durable-objects-free-tier.mdx
  src/content/changelog/durable-objects/2025-04-07-sqlite-in-durable-objects-ga.mdx
Labels: size/xs

#21407 Create 2025-04-07-br-free-ga-playwright.mdx
  src/content/changelog/browser-rendering/2025-04-07-br-free-ga-playwright.mdx
Labels: size/s

#21423 [BRAPI]removed beta label
  src/content/docs/browser-rendering/rest-api/index.mdx
Labels: product:browser-rendering, size/xs

#21424 [BRAPI ]Updated limits and workers plan
  src/content/docs/browser-rendering/index.mdx
  src/content/docs/browser-rendering/platform/limits.mdx
Labels: product:browser-rendering, size/s

#21433 Update Node.js Compat docs to mirror compatibility report
  src/content/docs/workers/runtime-apis/nodejs/index.mdx
Labels: product:workers, size/s

#21437 [xs] Fix Wrangler config Pages docs
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/xs

#21107 add deploy to cloudflare docs + fix getting started
  src/assets/images/workers/dtw-share-project.png
  src/assets/images/workers/dtw-user-flow.png
  src/content/docs/workers/get-started/dashboard.mdx
  src/content/docs/workers/platform/deploy-buttons.mdx
  src/content/docs/workers/tutorials/deploy-button/index.mdx
Labels: product:workers, size/m

#21439 Hibernation support for McpAgent
  src/content/docs/agents/model-context-protocol/mcp-agent-api.mdx
Labels: size/xs, product:agents

#21440 Add auth provider integrations, authentication context, and permissio…
  src/content/docs/agents/model-context-protocol/authorization.mdx
Labels: size/m, product:agents

#21434 Update browser-rendering.yaml
  src/content/release-notes/browser-rendering.yaml
Labels: size/xs

#21391 Update log fields to include Registration ID
  src/content/docs/logs/reference/log-fields/account/biso_user_actions.md
  src/content/docs/logs/reference/log-fields/account/device_posture_results.md
  src/content/docs/logs/reference/log-fields/account/gateway_dns.md
  src/content/docs/logs/reference/log-fields/account/gateway_http.md
  src/content/docs/logs/reference/log-fields/account/gateway_network.md
  src/content/docs/logs/reference/log-fields/account/workers_trace_events.md
  src/content/docs/logs/reference/log-fields/account/zero_trust_network_sessions.md
Labels: product:logs, size/s

#21110 [workers-observability] remove source maps reference to open beta
  src/content/docs/workers/observability/source-maps.mdx
Labels: product:workers, size/s

#21444 [BRAPI]Fixed limits page
  src/content/docs/browser-rendering/platform/limits.mdx
Labels: product:browser-rendering, size/s

#21408 Removed header limits for custom fields
  src/content/docs/logs/reference/custom-fields.mdx
Labels: product:logs, size/xs

#21415 [Docs Site] Add Width component
  src/components/Width.astro
  src/components/index.ts
  src/content/docs/style-guide/components/width.mdx
Labels: size/s, product:style-guide

#21414 [Docs Site] Create YouTubeVideos component
  package-lock.json
  package.json
  src/components/YouTubeVideos.astro
  src/components/index.ts
  src/content/docs/style-guide/components/youtube-videos.mdx
Labels: size/m, product:style-guide

#19877 Add `wrangler check startup` docs
  src/content/docs/workers/platform/limits.mdx
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/s

#21376 [workers-observability] changelog: increase workers trace events limit to 256 KB
  src/content/changelog/workers/2025-04-07-increase-trace-events-limit.mdx
  src/content/docs/workers/observability/logs/workers-logs.mdx
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, size/s

#21431 [SSL] Remove trailing spaces
  src/content/docs/ssl/client-certificates/create-a-client-certificate.mdx
  src/content/docs/ssl/edge-certificates/additional-options/total-tls/index.mdx
  src/content/docs/ssl/edge-certificates/custom-certificates/bundling-methodologies.mdx
  src/content/docs/ssl/edge-certificates/custom-certificates/renewing.mdx
Labels: product:ssl, size/xs

#21447 docs: Remove parameters table from JSON endpoint documentation
  src/content/docs/browser-rendering/rest-api/json-endpoint.mdx
Labels: product:browser-rendering, size/xs

#21445 [Ruleset Eng, Workers] Add new TLS fields
  src/content/docs/workers/runtime-apis/request.mdx
  src/content/fields/index.yaml
Labels: product:workers, size/s

#21404 [Docs Site] Add Copy Page dropdown for Markdown
  src/components/CopyPageButton.tsx
  src/components/index.ts
  src/components/overrides/PageTitle.astro
Labels: size/m

#21410 [CF1] local tunnel update instructions
  src/content/docs/cloudflare-one/connections/connect-networks/downloads/update-cloudflared.mdx
Labels: product:cloudflare-one, size/s

#21450 updating yt component to only show relevant videos
  src/components/YouTube.astro
Labels: size/xs

#21456 Update authorization.mdx
  src/content/docs/agents/model-context-protocol/authorization.mdx
Labels: size/xs, product:agents

#21458 [MWAN] Added note about cloudflared
  src/content/docs/magic-wan/configuration/connector/network-options/dhcp/dhcp-relay.mdx
Labels: size/xs, product:magic-wan

#21461 added demo video to autorag
  src/content/docs/autorag/index.mdx
Labels: size/s, product:AutoRAG

#21460 [LB] Adds info about Smart Tiered Cache
  src/content/docs/load-balancing/understand-basics/load-balancing-components.mdx
Labels: product:load-balancing, size/xs

#21463 [MCN] Refines docs
  src/content/partials/networking-services/routing/mcn-magic-wan-on-ramps.mdx
Labels: size/s

#21457 Update bedrock example for AI Gateway
  src/content/docs/ai-gateway/providers/bedrock.mdx
Labels: size/s, product:ai-gateway

#21331 Include `--platform=pages` in c3
  src/content/docs/pages/framework-guides/deploy-a-docusaurus-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-nuxt-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-qwik-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-react-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-remix-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-svelte-kit-site.mdx
  src/content/docs/pages/framework-guides/deploy-a-vue-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-analog-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-angular-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-astro-site.mdx
  src/content/docs/pages/framework-guides/nextjs/ssr/get-started.mdx
Labels: product:pages, blocked, size/s

#21467 [Images] Remove trailing spaces
  src/content/docs/images/manage-images/create-variants.mdx
  src/content/docs/images/pricing.mdx
  src/content/docs/images/transform-images/draw-overlays.mdx
  src/content/docs/images/transform-images/make-responsive-images.mdx
  src/content/docs/images/tutorials/optimize-user-uploaded-image.mdx
  src/content/docs/images/upload-images/sourcing-kit/enable.mdx
  src/content/docs/images/upload-images/upload-custom-path.mdx
Labels: product:images, size/s

#21465 [WAF] Firewall for AI: Add API instructions
  src/content/docs/waf/detections/firewall-for-ai.mdx
Labels: product:waf, size/s

#21468 [MWAN] Fortinet nat-t
  src/content/docs/magic-wan/configuration/manually/third-party/fortinet.mdx
Labels: product:magic-wan

#21351 [Hyperdrive] MySQL for Hyperdrive changelog announcement
  src/content/changelog/hyperdrive/2025-04-08-hyperdrive-mysql-support.mdx
Labels: size/s

#21470 Tracking for buttons
  src/components/CopyPageButton.tsx
  src/components/SubtractIPCalculator.tsx
Labels: size/xs

#21449 [workers-observability] Add changelog entry for CPU time and Wall time in Workers Observability offerings
  src/assets/images/changelog/workers/observability/2025-04-09-query-builder.png
  src/assets/images/changelog/workers/observability/2025-04-09-wall-time-filter.png
  src/content/changelog/workers/2025-04-07-increase-trace-events-limit.mdx
  src/content/changelog/workers/2025-04-09-workers-timing.mdx
Labels: size/s

#21462 [Docs Site] Add product filter to /search/
  src/components/search/InstantSearch.tsx
Labels: size/m

#21367 update various framework guides (hono, react etc.)
  src/content/docs/workers/frameworks/framework-guides/angular.mdx
  src/content/docs/workers/frameworks/framework-guides/docusaurus.mdx
  src/content/docs/workers/frameworks/framework-guides/gatsby.mdx
  src/content/docs/workers/frameworks/framework-guides/hono.mdx
  src/content/docs/workers/frameworks/framework-guides/nuxt.mdx
  src/content/docs/workers/frameworks/framework-guides/qwik.mdx
  src/content/docs/workers/frameworks/framework-guides/react.mdx
  src/content/docs/workers/frameworks/framework-guides/remix.mdx
  src/content/docs/workers/frameworks/framework-guides/solid.mdx
  src/content/docs/workers/frameworks/framework-guides/svelte.mdx
  src/content/docs/workers/frameworks/framework-guides/vue.mdx
  src/content/partials/workers/frameworks-bindings.mdx
Labels: product:workers, size/m

#20586 New Vite plugin docs for local development
  src/content/docs/workers/local-development.mdx
  src/content/docs/workers/local-development/bindings-per-env.mdx
  src/content/docs/workers/local-development/environment-variables.mdx
  src/content/docs/workers/local-development/index.mdx
  src/content/docs/workers/local-development/local-data.mdx
  src/content/docs/workers/local-development/remote-data.mdx
  src/content/partials/workers/bindings_per_env.mdx
Labels: product:workers, size/m

#21474 Update __redirects
  public/__redirects
Labels: size/xs

#21475 [CASB] Re-add directory listing component
  src/content/docs/cloudflare-one/applications/casb/casb-integrations/google-workspace/index.mdx
  src/content/docs/cloudflare-one/applications/casb/casb-integrations/index.mdx
Labels: product:cloudflare-one, size/s, sub-product:casb

#21315 Update ai-bots-definition.mdx
  src/content/partials/bots/ai-bots-definition.mdx
Labels: size/xs

#21312 [ZT] Multi-user phase 2
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
  src/content/docs/cloudflare-one/insights/logs/gateway-logs/index.mdx
  src/content/docs/cloudflare-one/insights/logs/posture-logs.mdx
Labels: product:cloudflare-one, size/s

#21471 Replace Remix framework guide with new React Router framework guide
  public/__redirects
  src/content/docs/workers/frameworks/framework-guides/react-router.mdx
  src/content/docs/workers/frameworks/framework-guides/remix.mdx
  src/content/docs/workers/vite-plugin/get-started.mdx
  src/content/docs/workers/vite-plugin/index.mdx
  src/content/docs/workers/vite-plugin/reference/cloudflare-environments.mdx
Labels: product:workers, size/m

#21489 Migration guide
  public/__redirects
  src/content/docs/pages/migrate-to-workers.mdx
  src/content/docs/pages/migrations/index.mdx
  src/content/docs/pages/migrations/migrating-from-firebase.mdx
  src/content/docs/pages/migrations/migrating-from-netlify/index.mdx
  src/content/docs/pages/migrations/migrating-from-vercel/index.mdx
  src/content/docs/pages/migrations/migrating-from-workers/index.mdx
  src/content/docs/pages/migrations/migrating-jekyll-from-github-pages.mdx
  src/content/docs/workers/static-assets/compatibility-matrix.mdx
  src/content/docs/workers/static-assets/direct-upload.mdx
  src/content/docs/workers/static-assets/migrate-from-pages.mdx
  src/content/docs/workers/wrangler/commands.mdx
  src/content/docs/workers/wrangler/custom-builds.mdx
Labels: product:workers, product:pages, size/l

#21383 Non-production branch builds, GitHub comments and preview URLs
  src/assets/images/workers/platform/ci-cd/github-pull-request-comment-history.png
  src/assets/images/workers/platform/ci-cd/github-pull-request-comment.png
  src/content/docs/workers/ci-cd/builds/advanced-setups.mdx
  src/content/docs/workers/ci-cd/builds/build-branches.mdx
  src/content/docs/workers/ci-cd/builds/build-watch-paths.mdx
  src/content/docs/workers/ci-cd/builds/configuration.mdx
  src/content/docs/workers/ci-cd/builds/git-integration/github-integration.mdx
  src/content/docs/workers/ci-cd/builds/git-integration/gitlab-integration.mdx
  src/content/docs/workers/ci-cd/builds/git-integration/index.mdx
  src/content/docs/workers/ci-cd/builds/limits-and-pricing.mdx
  src/content/docs/workers/ci-cd/builds/troubleshoot.mdx
Labels: product:workers, blocked, size/m

#21353 [Hyperdrive] Adjustement to pricing and limits for tier update
  src/content/docs/hyperdrive/platform/limits.mdx
  src/content/docs/hyperdrive/platform/pricing.mdx
  src/content/docs/workers/platform/pricing.mdx
  src/content/partials/workers/hyperdrive_pricing.mdx
Labels: product:workers, size/s, product:hyperdrive

#21482 Adds tls and crypto updates for node and changelog
  src/content/changelog/workers/2025-01-28-nodejs-compat-improvements.mdx
  src/content/changelog/workers/2025-02-03-workers-metrics-revamp.mdx
  src/content/changelog/workers/2025-04-08-nodejs-crypto-and-tls.mdx
  src/content/docs/workers/runtime-apis/nodejs/crypto.mdx
  src/content/docs/workers/runtime-apis/nodejs/tls.mdx
Labels: product:workers, size/m

#21256 Updates Next Framework Guide for deploying on Workers
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
Labels: product:workers, size/m

#21494 fix: alerts syntax
  src/content/docs/workflows/reference/pricing.mdx
Labels: size/xs, product:workflows

#21497 Minor typo for Nuxt Framework
  src/content/docs/pages/framework-guides/deploy-a-nuxt-site.mdx
Labels: product:pages, size/xs

#21500 remove beta tags for static assets
  src/content/docs/workers/frameworks/framework-guides/angular.mdx
  src/content/docs/workers/frameworks/framework-guides/astro.mdx
  src/content/docs/workers/frameworks/framework-guides/docusaurus.mdx
  src/content/docs/workers/frameworks/framework-guides/gatsby.mdx
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
  src/content/docs/workers/frameworks/framework-guides/nuxt.mdx
  src/content/docs/workers/frameworks/framework-guides/qwik.mdx
  src/content/docs/workers/frameworks/framework-guides/solid.mdx
  src/content/docs/workers/frameworks/framework-guides/svelte.mdx
  src/content/docs/workers/frameworks/framework-guides/vue.mdx
  src/content/docs/workers/frameworks/index.mdx
  src/content/docs/workers/static-assets/index.mdx
Labels: product:workers, size/m

#21454 [workers] Update vitest getting started guide
  src/content/docs/workers/testing/index.mdx
  src/content/docs/workers/testing/vitest-integration/get-started/index.mdx
  src/content/docs/workers/testing/vitest-integration/get-started/write-your-first-test.mdx
  src/content/docs/workers/testing/vitest-integration/index.mdx
Labels: product:workers, size/m

#21490 adds changelog for vite plugin
  src/content/changelog/workers/2025-04-08-vite-plugin.mdx
Labels: size/s

#21485 Adds changelog for full-stack GA support
  src/assets/images/changelog/workers/fullstack-on-workers.png
  src/content/changelog/workers/2025-04-08-fullstack-on-workers.mdx
Labels: size/s
