Repository cloudflare/cloudflare-docs, pull requests merged in 2025-10, with the labels that each got.

#25446 DS-15484: Document upcoming SQL feature additions to Workers Analytics Engine
  src/content/docs/analytics/analytics-engine/sampling.mdx
  src/content/docs/analytics/analytics-engine/sql-api.mdx
  src/content/docs/analytics/analytics-engine/sql-reference.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/aggregate-functions.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/bit-functions.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/conditional-functions.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/date-time-functions.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/encoding-functions.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/index.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/literals.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/mathematical-functions.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/operators.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/statements.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/string-functions.mdx
  src/content/docs/analytics/analytics-engine/sql-reference/type-conversion-functions.mdx
  src/content/docs/analytics/analytics-engine/worker-querying.mdx
Labels: product:analytics, size/xl, September 2025

#25559 [Realtime] Update __redirects
  public/__redirects
Labels: size/xs, October 2025

#25565 return markdown to changelog
  src/content/changelog/fundamentals/2025-10-01-md-returned.mdx
Labels: size/s, October 2025

#25566 Fix Emergency Changelog
  src/content/changelog/waf/2025-09-28-emergency-waf-release.mdx
Labels: size/xs, October 2025

#25435 Updates container limits changelog date
  src/content/changelog/containers/2025-09-24-higher-container-resource-limits.mdx
Labels: size/xs, September 2025

#25573 [GH] Update auto assignment for eng issues
  .github/ISSUE_TEMPLATE/engineering.yml
Labels: size/xs, October 2025

#25546 [CAC] Apply suggestions and add changelog entry
  src/content/changelog/gateway/2025-09-25-new-granular-controls-for-saas-applications.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/granular-controls.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s, September 2025

#25576 Create 2025-10-01-new-file-type-support.mdx
  src/content/changelog/dlp/2025-10-01-new-file-type-support.mdx
Labels: size/s, October 2025

#25581 [Images/Polish] fix: Update the path to Image Optimization to reflect current UI
  src/content/docs/images/polish/activate-polish.mdx
Labels: product:images, size/xs, October 2025

#25584 Patch 6
  src/content/changelog/logs/2024-10-08-new-gateway-fields.mdx
  src/content/docs/logs/changelog/logs.mdx
  src/content/docs/logs/logpush/logpush-job/enable-destinations/datadog.mdx
Labels: product:logs, size/s, October 2025

#25591 [Docs site] [Analytics] Send feedback events to Zaraz
  src/components/FeedbackPrompt.tsx
Labels: size/xs, October 2025

#25594 Spectrum now supports AOT
  src/content/docs/fundamentals/api/get-started/account-owned-tokens.mdx
Labels: size/xs, product:fundamentals, October 2025

#25528 Update respond-to-ddos-attacks.mdx
  src/content/docs/ddos-protection/best-practices/respond-to-ddos-attacks.mdx
Labels: size/xs, product:ddos-protection, September 2025

#25595 new model
  src/components/models/code/DeepgramFlux.astro
  src/content/changelog/workers-ai/2025-10-02-deepgram-flux.mdx
  src/content/release-notes/workers-ai.yaml
  src/content/workers-ai-models/flux.json
  src/pages/workers-ai/models/[name].astro
Labels: size/m, October 2025

#25596 fix: changelog missing backticks
  src/content/changelog/workers-ai/2025-10-02-deepgram-flux.mdx
Labels: size/xs, October 2025

#25598 [Docs site] Update page options display to be more actionable
  src/components/CopyPageButton.tsx
  src/components/icons/ChatGPTIcon.tsx
  src/components/icons/ClaudeIcon.tsx
Labels: size/m, October 2025

#25587 fix: Add more examples of correctly placed DNS TXT record for SSO setup
  src/content/docs/cloudflare-one/applications/configure-apps/dash-sso-apps.mdx
Labels: product:cloudflare-one, size/xs, October 2025

#25588 [Email Security] Add comparison table
  src/content/docs/cloudflare-one/email-security/setup/index.mdx
Labels: product:cloudflare-one, size/s, October 2025

#25571 update docs for resource-level permissioning
  src/content/docs/fundamentals/manage-members/roles.mdx
  src/content/docs/fundamentals/manage-members/scope.mdx
Labels: size/s, product:fundamentals, October 2025

#25569 changelog for access fine-grained permissioning
  src/assets/images/changelog/fundamentals/2025-10-01-fine-grained-permissioning-ux.png
  src/content/changelog/fundamentals/2025-10-01-fine-grained-permissioning-beta.mdx
Labels: size/s, October 2025

#25517 [AI Gateway] Add documentation for Parallel AI Provider
  src/content/docs/ai-gateway/usage/providers/parallel.mdx
Labels: size/m, product:ai-gateway, September 2025

#25608 Update pfsense.mdx
  src/content/docs/magic-wan/configuration/manually/third-party/pfsense.mdx
Labels: size/xs, product:magic-wan, October 2025

#25504 changelog wae sql function updates
  src/content/changelog/workers/2025-09-26-analytics-engine-sql-enhancements.mdx
Labels: size/s, September 2025

#25606 Fixed Link in host-selectors.mdx
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/host-selectors.mdx
Labels: product:cloudflare-one, size/xs, October 2025

#25617 Release-Oct-03-2025: 21 Rules
  src/content/changelog/waf/2025-10-03-waf-release.mdx
Labels: size/m, October 2025

#25620 [ZT] Update macOS application check to handle spaces
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/application-check.mdx
Labels: product:cloudflare-one, size/xs, October 2025

#25636 Clarify that wrangler check startup generates a local CPU profile
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs, October 2025

#25586 [CF1] linux log note
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/warp-logs.mdx
Labels: product:cloudflare-one, size/s, October 2025

#25644 [Docs] Fix typos
  src/content/docs/pulumi/tutorial/add-site.mdx
  src/content/docs/registrar/faq.mdx
Labels: product:registrar, size/xs, product:pulumi, October 2025

#25648 [Codeowner] Add account to images
  .github/CODEOWNERS
Labels: size/xs, October 2025

#25654 [Radar] Mention new PQ test in changelog/release notes
  src/assets/images/radar/pq-encryption-test.png
  src/content/changelog/radar/2025-10-06-radar-pq-encryption-test.mdx
  src/content/release-notes/radar.yaml
Labels: changelog, size/s, product:radar

#25616 Add separate bullet points for cert types
  src/content/docs/cloudflare-one/identity/devices/warp-client-checks/client-certificate.mdx
Labels: product:cloudflare-one, size/xs, October 2025

#25660 small typo
  src/content/docs/stream/transform-videos/index.mdx
Labels: product:stream, size/xs, October 2025

#25665 Create 2025-10-07-emergency-waf-release.mdx
  src/content/changelog/waf/2025-10-07-emergency-waf-release.mdx
Labels: size/s, October 2025

#25399 [SaaS] Update troubleshooting.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/reference/troubleshooting.mdx
Labels: product:cloudflare-for-platforms, size/xs, September 2025

#25518 Update uploading.mdx
  src/content/docs/ssl/edge-certificates/custom-certificates/uploading.mdx
Labels: product:ssl, size/s, September 2025

#24826 [SSL] Update caa-records-added-by-cf.mdx
  src/content/partials/ssl/caa-records-added-by-cf.mdx
Labels: size/xs

#25661 Update transfer-domain-to-cloudflare.mdx
  src/content/docs/registrar/get-started/transfer-domain-to-cloudflare.mdx
Labels: product:registrar, size/s, October 2025

#25458 Fullstack reference architecture update: Add Containers
  src/assets/images/reference-architecture/fullstack-app/developer-platform.svg
  src/assets/images/reference-architecture/fullstack-app/fullstack-app-base.svg
  src/content/docs/reference-architecture/by-solution.mdx
  src/content/docs/reference-architecture/diagrams/serverless/fullstack-application.mdx
Labels: product:reference-architecture, size/xl, September 2025

#25682 Update requirements.mdx
  src/content/partials/registrar/requirements.mdx
Labels: size/xs, October 2025

#25675 [Containers] Use partial for instance types
  .github/CODEOWNERS
  src/content/docs/containers/platform-details/limits.mdx
  src/content/docs/containers/pricing.mdx
  src/content/partials/containers/instance-types.mdx
Labels: size/s, product:containers, October 2025

#25462 Added line to explain pointing reverse DNS lookups to internal server.
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/local-domains.mdx
Labels: product:cloudflare-one, size/xs, September 2025

#25687 fix: update ai gateway model ids
  src/content/docs/ai-gateway/configuration/authentication.mdx
  src/content/docs/ai-gateway/features/dynamic-routing/usage.mdx
  src/content/docs/ai-gateway/get-started.mdx
  src/content/docs/ai-gateway/usage/chat-completion.mdx
  src/content/docs/ai-gateway/usage/providers/anthropic.mdx
  src/content/docs/ai-gateway/usage/providers/google-ai-studio.mdx
  src/content/docs/ai-gateway/usage/providers/openai.mdx
  src/content/docs/ai-gateway/usage/providers/openrouter.mdx
  src/content/docs/ai-gateway/usage/providers/vertex.mdx
  src/content/docs/ai-gateway/usage/websockets-api/realtime-api.mdx
Labels: size/s, product:ai-gateway, October 2025

#25508 [Email Security] Expand PhishGuard docs
  src/content/docs/cloudflare-one/email-security/phish-guard.mdx
Labels: product:cloudflare-one, size/s, September 2025

#25689 Update 2025-09-09-interactive-wrangler-assets.mdx
  src/content/changelog/workers/2025-09-09-interactive-wrangler-assets.mdx
Labels: size/xs, October 2025

#25683 APISHI-4914: Reflect new JWT routes in dev docs
  src/content/docs/api-shield/security/jwt-validation/api.mdx
  src/content/docs/api-shield/security/jwt-validation/jwt-worker.mdx
Labels: product:api-shield, size/s, October 2025

#25694 Remove passive voice in PR template
  .github/pull_request_template.md
Labels: size/xs, October 2025

#25699 [API Shield] Update links in Get started
  src/content/docs/api-shield/get-started.mdx
Labels: product:api-shield, size/s, October 2025

#25384 [Email Routing] Update email-routing-dns-records.mdx
  src/content/docs/email-routing/troubleshooting/email-routing-dns-records.mdx
Labels: product:email-routing, size/xs, September 2025

#25696 APISHI-4914: Update JWT route to new route
  src/content/docs/api-shield/security/jwt-validation/api.mdx
Labels: product:api-shield, size/xs, October 2025

#24978 [Docs site] update arrow style in `ListCard` component
  src/components/astro/ListCard.astro
Labels: size/xs

#25707 [Email Security] Explain why DLP assist add-in is needed
  src/content/docs/cloudflare-one/email-security/outbound-dlp.mdx
Labels: product:cloudflare-one, size/xs, October 2025

#25656 [API Shield] FAQ to docs
  public/__redirects
  src/content/docs/api-shield/frequently-asked-questions.mdx
  src/content/docs/api-shield/index.mdx
  src/content/docs/api-shield/management-and-monitoring/endpoint-management/index.mdx
  src/content/docs/api-shield/security/api-discovery.mdx
  src/content/docs/api-shield/security/schema-validation/index.mdx
  src/content/docs/api-shield/security/volumetric-abuse-detection.mdx
Labels: product:api-shield, size/m, October 2025
