Repository cloudflare/cloudflare-docs, pull requests merged in 2025-05, with the labels that each got.

#22093 Extend D1 docs with clarifications for one-way type conversions
  src/content/docs/d1/worker-api/index.mdx
Labels: product:d1, size/m

#21593 Reduce superfluous <Tabs> usage inside images transform docs
  src/content/partials/images/background.mdx
  src/content/partials/images/fit.mdx
  src/content/partials/images/gravity.mdx
  src/content/partials/images/metadata.mdx
Labels: size/m

#22064 DirectoryListing tag filter
  public/__redirects
  src/components/DirectoryListing.astro
  src/content/compatibility-flags/assets-navigation-prefers-asset-serving.md
  src/content/docs/pages/framework-guides/nextjs/ssr/supported-features.mdx
  src/content/docs/style-guide/components/directory-listing.mdx
  src/content/docs/workers/configuration/multipart-upload-metadata.mdx
  src/content/docs/workers/frameworks/framework-guides/angular.mdx
  src/content/docs/workers/frameworks/framework-guides/astro.mdx
  src/content/docs/workers/frameworks/framework-guides/docusaurus.mdx
  src/content/docs/workers/frameworks/framework-guides/gatsby.mdx
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
  src/content/docs/workers/frameworks/framework-guides/nuxt.mdx
  src/content/docs/workers/frameworks/framework-guides/qwik.mdx
  src/content/docs/workers/frameworks/framework-guides/react-router.mdx
  src/content/docs/workers/frameworks/framework-guides/react.mdx
  src/content/docs/workers/frameworks/framework-guides/solid.mdx
  src/content/docs/workers/frameworks/framework-guides/svelte.mdx
  src/content/docs/workers/frameworks/framework-guides/vue.mdx
  src/content/docs/workers/static-assets/binding.mdx
  src/content/docs/workers/static-assets/direct-upload.mdx
  src/content/docs/workers/static-assets/headers.mdx
  src/content/docs/workers/static-assets/index.mdx
  src/content/docs/workers/static-assets/migration-guides/index.mdx
  src/content/docs/workers/static-assets/migration-guides/migrate-from-pages.mdx
  src/content/docs/workers/static-assets/migration-guides/vercel-to-workers.mdx
  src/content/docs/workers/static-assets/routing.mdx
  src/content/docs/workers/static-assets/routing/advanced/html-handling.mdx
  src/content/docs/workers/static-assets/routing/advanced/index.mdx
  src/content/docs/workers/static-assets/routing/advanced/serving-a-subdirectory.mdx
  src/content/docs/workers/static-assets/routing/full-stack-application.mdx
  src/content/docs/workers/static-assets/routing/index.mdx
  src/content/docs/workers/static-assets/routing/single-page-application.mdx
  src/content/docs/workers/static-assets/routing/static-site-generation.mdx
  src/content/docs/workers/static-assets/routing/worker-script.mdx
  src/content/docs/workers/vite-plugin/reference/static-assets.mdx
  src/content/docs/workers/vite-plugin/tutorial.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/partials/workers/custom_headers.mdx
  src/content/partials/workers/headers_redirects_directory.mdx
  src/content/partials/workers/navigation_requests.mdx
  src/content/partials/workers/static_asset_routing_reference.mdx
  src/content/partials/workers/workers-assets-routing-summary.mdx
Labels: product:workers, size/l, product:style-guide

#22097 [Pages] SEO: Sveltekit
  src/content/docs/pages/framework-guides/deploy-a-svelte-kit-site.mdx
  src/content/docs/pages/functions/routing.mdx
Labels: product:pages, size/s

#22105 [CF1] dash SSO email domain callout
  src/content/docs/cloudflare-one/applications/configure-apps/dash-sso-apps.mdx
Labels: product:cloudflare-one, size/xs

#22145 Provide details around GitLab comments for Workers Builds.
  src/assets/images/workers/platform/ci-cd/gitlab-pull-request-comment.png
  src/content/docs/workers/ci-cd/builds/git-integration/gitlab-integration.mdx
Labels: product:workers, size/s

#22158 [Radar] Add link to Radar MCP server
  src/content/docs/radar/api-reference.mdx
  src/content/docs/radar/glossary.mdx
  src/content/docs/radar/index.mdx
  src/content/docs/radar/mcp-server.mdx
  src/content/docs/radar/release-notes.mdx
Labels: size/s, product:radar

#22087 [CF1] RBI http support
  src/content/docs/cloudflare-one/policies/browser-isolation/known-limitations.mdx
Labels: product:cloudflare-one, size/xs

#22162 [Docs Site] Allow details and summary elements in filter-elements
  src/plugins/rehype/filter-elements.ts
Labels: size/xs

#22163 [Vale] Be more limited in check descriptions
  .hyperlint/automations/styles/cloudflare-automation/EOLWhitespace.yml
  .hyperlint/automations/styles/cloudflare-automation/HeadingLinks.yml
  .hyperlint/automations/styles/cloudflare-automation/HeadingPunctuation.yml
  .hyperlint/automations/styles/cloudflare-automation/NonStandardQuotes.yml
  .hyperlint/automations/styles/cloudflare-automation/UnclearAntecedent.yml
  .hyperlint/automations/styles/cloudflare/Contractions.yml
  .hyperlint/automations/styles/cloudflare/InclusiveLanguage.yml
  .hyperlint/automations/styles/cloudflare/LatinTerms.yml
  .hyperlint/automations/styles/cloudflare/LinkChecks.yml
  .hyperlint/automations/styles/cloudflare/MeaningfulLinkWords.yml
  .hyperlint/automations/styles/cloudflare/Repetition.yml
  .hyperlint/automations/styles/plain-text-style-checks/spelling.md
Labels: size/s

#22113 [CF1] IdP-initiated SSO dash login
  src/content/docs/cloudflare-one/applications/configure-apps/dash-sso-apps.mdx
Labels: product:cloudflare-one, size/s

#22165 [Anchor links] Ignore missing '#_top' links
  bin/.htmltest.yml
  src/content/docs/fundamentals/reference/policies-compliances/incident-management-policy.mdx
  src/content/docs/fundamentals/subscriptions-and-billing/billing-policy.mdx
Labels: size/xs, product:fundamentals

#22168 [GHA] More perms
  .github/workflows/anchor-link-audit.yml
  .github/workflows/comment-changed-filenames.yml
  .github/workflows/image-audit.yml
  .github/workflows/issue.yml
  .github/workflows/no-response.yml
Labels: size/s

#22170 Update FAQ for bulk updates KV
  src/content/docs/kv/api/read-key-value-pairs.mdx
  src/content/docs/kv/platform/limits.mdx
  src/content/docs/kv/reference/faq.mdx
Labels: size/s, product:kv

#22167 [chore] Update naming of google tag gateway, allow the robots
  public/__redirects
  public/robots.txt
  src/assets/images/google-tag-first-party-mode/google-tag-configuration.png
  src/assets/images/google-tag-first-party-mode/google-tag-id-path.png
  src/assets/images/google-tag-gateway/google-tag-configuration.png
  src/assets/images/google-tag-gateway/google-tag-id-path.png
  src/content/docs/google-tag-first-party-mode/index.mdx
  src/content/docs/google-tag-gateway/index.mdx
  src/content/products/google-tag-first-party-mode.yaml
  src/content/products/google-tag-gateway.yaml
  src/icons/google-tag-gateway.svg
Labels: size/s, product:google-tag-first-party-mode, product:google-tag-gateway

#22173 Update __redirects
  public/__redirects
Labels: size/xs

#22186 [Gateway] Include and enablement for egress policy selectors
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/split-tunnels.mdx
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
  src/content/partials/cloudflare-one/gateway/selectors/egress-selector-limitation.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#22197 Fix a broken link in a note
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/xs

#22202 [CNI] Removed MT from Cloud CNI
  src/content/docs/network-interconnect/cloud-cni.mdx
Labels: product:network-interconnect, size/xs

#22177 [Docs Site] chore: optimize more SVGs
  src/assets/images/hyperdrive/configuration/hyperdrive-comparison.svg
  src/assets/images/reference-architecture/programmable-platforms/programmable-platforms-1.svg
  src/assets/images/reference-architecture/programmable-platforms/programmable-platforms-2.svg
  src/assets/images/reference-architecture/programmable-platforms/programmable-platforms-3.svg
  src/assets/images/reference-architecture/programmable-platforms/programmable-platforms-4.svg
  src/assets/images/reference-architecture/programmable-platforms/programmable-platforms-5.svg
  src/assets/images/reference-architecture/programmable-platforms/programmable-platforms-6.svg
  src/assets/images/reference-architecture/storing-user-generated-content/ai-generated-content-in-r2.svg
  src/assets/images/reference-architecture/storing-user-generated-content/uploads-to-r2-via-signed-urls.svg
  src/assets/images/workers-ai/blackforestlabs.svg
  src/assets/images/workers-ai/deepseek.svg
  src/assets/images/workers-ai/qwen.svg
  src/icons/autorag.svg
  src/icons/browser-isolation.svg
  src/icons/casb.svg
  src/icons/data-loss-prevention.svg
  src/icons/dex.svg
  src/icons/gateway.svg
  src/icons/pipelines.svg
  src/icons/secrets-store.svg
  src/icons/security.svg
  src/icons/zero-trust-networks.svg
Labels: size/xl

#22123 global acceleration rebrand for reference architecture
  src/content/docs/reference-architecture/architectures/cdn.mdx
Labels: product:reference-architecture, size/xs

#22205 Add references to the `global_fetch_strictly_public` compatibility flag
  src/content/docs/support/troubleshooting/http-status-codes/cloudflare-5xx-errors/error-522.mdx
  src/content/docs/workers/observability/errors.mdx
  src/content/docs/workers/runtime-apis/fetch.mdx
Labels: product:workers, size/m, product:support

#22206 [Email Routing] Added reference to runtime api
  src/content/docs/email-routing/email-workers/index.mdx
Labels: product:email-routing, size/s

#22212 [DNS] Update analytics max time and historical limits for ENT
  src/content/plans/index.json
Labels: size/xs

#22194 Update warp-sessions.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-sessions.mdx
Labels: product:cloudflare-one, size/xs

#22146 Add cross-references to API reference docs
  src/content/docs/fundamentals/api/reference/deprecations.mdx
  src/content/docs/fundamentals/api/reference/graphql-api.mdx
  src/content/docs/fundamentals/api/reference/limits.mdx
  src/content/docs/fundamentals/api/reference/permissions.mdx
  src/content/docs/fundamentals/api/reference/rest-api.mdx
  src/content/docs/fundamentals/api/reference/sdks.mdx
  src/content/docs/fundamentals/api/reference/template.mdx
  src/content/docs/fundamentals/api/reference/wrangler-api.mdx
Labels: size/m, product:fundamentals

#22218 CF4Saas pricing update
  src/content/plans/index.json
Labels: size/s

#22220 [Vale] Tweaks
  .hyperlint/automations/styles/cloudflare-automation/NonStandardQuotes.yml
Labels: size/xs

#19441 replaced deprecated function to the recommended one as per MDN
  src/content/docs/stream/manage-video-library/using-webhooks.mdx
Labels: product:stream, size/xs

#22176 Update set-up-guardrail.mdx
  src/content/docs/ai-gateway/guardrails/set-up-guardrail.mdx
Labels: size/s, product:ai-gateway

#21756 [ZT] AI wrapper tenant control tutorial
  src/content/docs/cloudflare-one/tutorials/ai-wrapper-tenant-control.mdx
Labels: product:cloudflare-one, size/m

#21757 [APO]Update verify-apo-works.mdx
  src/content/docs/automatic-platform-optimization/get-started/verify-apo-works.mdx
Labels: size/s, product:automatic-platform-optimization

#22224 [ZT] WARP settings lag
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/automated-deployment.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/split-tunnels.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
  src/content/docs/cloudflare-one/insights/dex/rules.mdx
  src/content/partials/cloudflare-one/warp/add-split-tunnels-route.mdx
  src/content/partials/cloudflare-one/warp/client-notification-lag.mdx
Labels: product:cloudflare-one, size/s

#22226 [ZT] Quick Tunnels SSE limitation
  src/content/docs/cloudflare-one/connections/connect-networks/do-more-with-tunnels/trycloudflare.mdx
Labels: product:cloudflare-one, size/xs

#22234 [LB] Updates protocol support
  src/content/docs/load-balancing/monitors/index.mdx
Labels: product:load-balancing, size/xs

#22161 [Workers] SEO: Add environmental variables
  src/content/docs/d1/get-started.mdx
  src/content/docs/d1/platform/limits.mdx
  src/content/docs/d1/sql-api/sql-statements.mdx
  src/content/docs/hyperdrive/configuration/local-development.mdx
  src/content/docs/kv/get-started.mdx
  src/content/docs/vectorize/get-started/embeddings.mdx
  src/content/docs/vectorize/get-started/intro.mdx
  src/content/docs/workers/configuration/environment-variables.mdx
  src/content/docs/workers/wrangler/configuration.mdx
  src/content/docs/workers/wrangler/migration/v1-to-v2/wrangler-legacy/commands.mdx
Labels: product:workers, product:d1, size/s, product:kv, product:vectorize, product:hyperdrive

#22140 [D1] Adding "Deploy to Cloudflare" button into D1 Getting started.
  src/content/docs/d1/get-started.mdx
Labels: product:d1, size/m

#20668 Add compat flag docs for FinalizationRegistry and WeakRef
  src/content/changelog/workers/2025-05-05-finalization-registry.mdx
  src/content/compatibility-flags/js-weak-refs.md
Labels: size/s

#22237 [Several] Updates 5xx links
  src/content/docs/cache/how-to/always-online.mdx
  src/content/docs/cache/how-to/cache-rules/settings.mdx
  src/content/docs/cache/troubleshooting/always-online.mdx
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
  src/content/docs/ddos-protection/managed-rulesets/adaptive-protection.mdx
  src/content/docs/ddos-protection/managed-rulesets/http/index.mdx
  src/content/docs/fundamentals/reference/connection-limits.mdx
  src/content/docs/pages/configuration/custom-domains.mdx
  src/content/docs/ssl/origin-configuration/ssl-modes/full-strict.mdx
  src/content/docs/ssl/origin-configuration/ssl-modes/full.mdx
  src/content/docs/support/third-party-software/others/configure-cloudflare-and-heroku-over-https.mdx
  src/content/docs/support/troubleshooting/general-troubleshooting/gathering-information-for-troubleshooting-sites.mdx
  src/content/docs/support/troubleshooting/http-status-codes/1xx-informational.mdx
  src/content/docs/workers-ai/guides/tutorials/build-a-retrieval-augmented-generation-ai.mdx
  src/content/docs/workers/get-started/guide.mdx
  src/content/docs/workers/languages/rust/index.mdx
  src/content/partials/fundamentals/zero-downtime-failover-retry-on-error.mdx
Labels: product:workers, product:cloudflare-one, product:pages, product:ssl, product:cache, size/s, product:fundamentals, product:support, product:ddos-protection, product:workers-ai

#22239 Revert "Add compat flag docs for FinalizationRegistry and WeakRef"
  src/content/changelog/workers/2025-05-05-finalization-registry.mdx
  src/content/compatibility-flags/js-weak-refs.md
Labels: size/s

#22214 [CF1] docker + WARP DNS
  src/content/docs/cloudflare-one/connections/connect-devices/warp/troubleshooting/known-limitations.mdx
Labels: product:cloudflare-one, size/s

#22240 [SSL] Add note on private_key to byoca reqs partial
  src/content/partials/ssl/byo-ca-mtls-cert-requirements.mdx
Labels: size/xs

#22019 [Email Security] Retro scan
  src/content/docs/cloudflare-one/email-security/auto-moves.mdx
  src/content/docs/cloudflare-one/email-security/detection-settings/index.mdx
  src/content/docs/cloudflare-one/email-security/directories/index.mdx
  src/content/docs/cloudflare-one/email-security/email-monitoring/index.mdx
  src/content/docs/cloudflare-one/email-security/outbound-dlp.mdx
  src/content/docs/cloudflare-one/email-security/phish-guard.mdx
  src/content/docs/cloudflare-one/email-security/phish-submissions.mdx
  src/content/docs/cloudflare-one/email-security/reference/index.mdx
  src/content/docs/cloudflare-one/email-security/retro-scan.mdx
  src/content/docs/cloudflare-one/email-security/setup/index.mdx
Labels: product:cloudflare-one, size/s

#22207 [KV] add note on bulk reads for pricing
  src/content/partials/workers/kv_pricing.mdx
Labels: size/s

#22242 [Workers, SSL] Fix typos
  src/content/docs/ssl/keyless-ssl/hardware-security-modules/fortanix-dsm.mdx
  src/content/docs/workers/platform/deploy-buttons.mdx
Labels: product:workers, product:ssl, size/xs

#22124 [R2] Update custom domain docs to align with new UI
  src/content/docs/r2/buckets/public-buckets.mdx
  src/content/docs/r2/data-migration/sippy.mdx
  src/content/partials/r2/custom-domain-steps.mdx
Labels: product:r2, size/s

#19827 Added Community Pages Plugin - Rollbar
  src/content/docs/pages/functions/plugins/community-plugins.mdx
Labels: product:pages, size/xs

#22238 Brapi-pricing
  src/content/docs/browser-rendering/platform/pricing.mdx
Labels: product:browser-rendering, size/xs

#22247 [CEP] Update troubleshooting.mdx
  src/content/docs/rules/custom-errors/troubleshooting.mdx
Labels: product:rules, size/xs

#21989 Update the Developer Platform fullstack reference architecture
  src/assets/images/reference-architecture/fullstack-app/developer-platform.svg
  src/assets/images/reference-architecture/fullstack-app/fullstack-app-base.svg
  src/content/docs/reference-architecture/diagrams/serverless/fullstack-application.mdx
Labels: product:reference-architecture, size/xl

#22248 [DNS] Remove secondary to primary limitation callout
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-secondary/index.mdx
Labels: product:dns, size/xs

#22245 [Page Shield] Clarify hash of script version
  src/content/docs/page-shield/detection/monitor-connections-scripts.mdx
  src/content/docs/page-shield/detection/review-malicious-scripts.mdx
  src/content/partials/page-shield/scripts-hash-note.mdx
Labels: product:page-shield, size/s

#22246 [tutorials] Separate out YT videos from tutorials
  src/components/ListTutorials.astro
  src/components/YouTubeVideos.astro
  src/content/docs/ai-gateway/tutorials/index.mdx
  src/content/docs/d1/tutorials/index.mdx
  src/content/docs/developer-spotlight/tutorials/index.mdx
  src/content/docs/durable-objects/tutorials/index.mdx
  src/content/docs/kv/tutorials/index.mdx
  src/content/docs/pages/tutorials/index.mdx
  src/content/docs/queues/tutorials/index.mdx
  src/content/docs/r2/tutorials/index.mdx
  src/content/docs/vectorize/tutorials/index.mdx
  src/content/docs/workers-ai/guides/tutorials/index.mdx
  src/content/docs/workers/examples/index.mdx
  src/content/docs/workers/tutorials/index.mdx
  src/content/docs/workflows/tutorials/index.mdx
  src/content/videos/index.yaml
Labels: product:workers, product:pages, product:r2, product:queues, product:d1, product:durable-objects, size/m, product:kv, product:ai-gateway, product:workers-ai, product:vectorize, product:developer-spotlight, product:workflows

#22135 [SSL/TLS] Remove previously required browser settings change in tls-13.mdx
  src/content/docs/ssl/edge-certificates/additional-options/tls-13.mdx
Labels: product:ssl, size/s

#22216 Create 2025-05-05-private-health-monitoring-methods.mdx
  public/__redirects
  src/content/changelog/load-balancing/2025-05-06-private-health-monitoring-methods.mdx
  src/content/docs/load-balancing/changelog.mdx
  src/content/release-notes/load-balancing.yaml
Labels: product:load-balancing, size/m

#22227 [DLP] AV scanning plan file size limits
  src/content/docs/cloudflare-one/policies/gateway/http-policies/antivirus-scanning.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
  src/content/partials/cloudflare-one/gateway/nonscannable-files.mdx
Labels: product:cloudflare-one, size/s, sub-product:data-loss-prevention

#22204 [Email Worker] Update type
  src/content/docs/email-routing/email-workers/runtime-api.mdx
Labels: product:email-routing, size/s

#22258 remove the beta badge for Next.js
  src/content/docs/workers/frameworks/framework-guides/nextjs.mdx
Labels: product:workers, size/xs

#22210 [Docs] Update threat score references
  src/content/docs/analytics/account-and-zone-analytics/threat-types.mdx
  src/content/docs/analytics/account-and-zone-analytics/total-threats-stopped.mdx
  src/content/docs/fundamentals/trace-request/how-to.mdx
  src/content/docs/logs/reference/pathing-status.mdx
  src/content/docs/ruleset-engine/custom-rulesets/add-rules-ruleset.mdx
  src/content/docs/ruleset-engine/rules-language/operators.mdx
  src/content/docs/ruleset-engine/rulesets-api/add-rule.mdx
  src/content/docs/ruleset-engine/rulesets-api/delete-rule.mdx
  src/content/docs/ruleset-engine/rulesets-api/update-rule.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/cloudflare-and-joomla-recommended-first-steps.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/using-cloudflare-and-drupal-five-easy-recommended-steps.mdx
  src/content/docs/waf/custom-rules/use-cases/update-rules-customers-partners.mdx
  src/content/docs/waf/troubleshooting/faq.mdx
  src/content/glossary/waf.yaml
  src/content/partials/waf/security-level-description.mdx
  src/content/partials/waf/security-level-scores.mdx
Labels: product:analytics, product:logs, product:waf, product:ruleset-engine, size/m, product:fundamentals, product:support

#22259 [R2] Adding character length restriction for R2 buckets
  src/content/docs/r2/buckets/create-buckets.mdx
Labels: product:r2, size/xs

#22260 [Analytics] Removes integration
  public/__redirects
  src/content/docs/analytics/analytics-integrations/google-cloud.mdx
  src/content/docs/analytics/analytics-integrations/looker.mdx
  src/content/docs/logs/get-started/enable-destinations/google-cloud-storage.mdx
Labels: product:analytics, product:logs, size/m

#22241 [CF1] dex pcap limit
  src/content/docs/cloudflare-one/insights/dex/remote-captures.mdx
Labels: product:cloudflare-one, size/xs

#22265 [Logs] Update looker.mdx
  src/content/docs/analytics/analytics-integrations/looker.mdx
Labels: product:analytics, size/xs

#22267 [Analytics] Updated calculator tracking
  src/components/SubtractIPCalculator.tsx
  src/components/TunnelCalculator.astro
Labels: size/s

#22144 [R2] Update changelog with latest release
  src/assets/images/r2/r2-dashboard-updates.png
  src/content/changelog/r2/2025-05-01-r2-dashboard-updates.mdx
Labels: size/s

#22274 [Email Security] Update PhishNet broken link
  src/content/docs/cloudflare-one/email-security/phish-submissions.mdx
Labels: product:cloudflare-one, size/xs

#22244 [CF1] private IP and BISO limit
  src/content/docs/cloudflare-one/applications/non-http/self-hosted-private-app.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/known-limitations.mdx
Labels: product:cloudflare-one, size/xs

#22272 Images: remove notes stating that quality and format only work on transformations
  src/content/partials/images/format.mdx
  src/content/partials/images/onerror.mdx
  src/content/partials/images/quality.mdx
  src/content/partials/images/slow-connection-quality.mdx
Labels: size/s

#22149 changelog: add Workers Terraform, API, and Smart Placement fixes
  src/content/changelog/fundamentals/2025-03-21-resource-force-replacement-bug.mdx
  src/content/changelog/fundamentals/2025-03-21-sensitive-values-redacted.mdx
  src/content/changelog/workers/2025-03-22-smart-placement-stablization.mdx
  src/content/changelog/workers/2025-04-15-workers-api-fixes.mdx
Labels: size/m

#22249 Add Terraform v5.4.0 changelog
  src/content/changelog/fundamentals/2025-05-06-terraform-v5.4.0-provider.mdx
Labels: size/s

#22278 Corrected case for MS Intune
  src/content/docs/cloudflare-one/connections/connect-devices/warp/download-warp/update-warp.mdx
  src/content/docs/learning-paths/replace-vpn/configure-device-agent/enable-tls-decryption.mdx
  src/content/docs/reference-architecture/architectures/cloudflare-sase-with-microsoft.mdx
  src/content/docs/reference-architecture/design-guides/zero-trust-for-startups.mdx
  src/content/docs/reference-architecture/diagrams/sase/secure-access-to-saas-applications-with-sase.mdx
Labels: product:cloudflare-one, product:reference-architecture, size/s, product:learning-paths

#21983 add doc on handling categories and app types in gateway via terraform
  src/content/docs/cloudflare-one/policies/gateway/application-app-types.mdx
  src/content/docs/cloudflare-one/policies/gateway/domain-categories.mdx
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
  src/content/partials/cloudflare-one/gateway/terraform-precedence-warning.mdx
Labels: product:cloudflare-one, size/m

#22243 [Cache] Adds information about normalization
  src/content/docs/cache/how-to/cache-keys.mdx
  src/content/docs/cache/how-to/cache-rules/settings.mdx
Labels: product:cache, size/xs

#22268 [SSL] Custom cipher suites clarifications
  src/content/docs/ssl/edge-certificates/additional-options/cipher-suites/customize-cipher-suites/dashboard.mdx
  src/content/docs/ssl/edge-certificates/additional-options/cipher-suites/customize-cipher-suites/index.mdx
  src/content/docs/ssl/edge-certificates/additional-options/cipher-suites/recommendations.mdx
Labels: product:ssl, size/s

#22263 workflows learning path
  public/__redirects
  src/content/docs/learning-paths/workflows-course/series/index.mdx
  src/content/docs/learning-paths/workflows-course/series/workflows-1.mdx
  src/content/docs/learning-paths/workflows-course/series/workflows-2.mdx
  src/content/docs/learning-paths/workflows-course/series/workflows-3.mdx
  src/content/docs/workflows/tutorials/index.mdx
  src/content/docs/workflows/videos.mdx
  src/content/learning-paths/workflows-course.json
  src/content/partials/learning-paths/workflows-series-navigation.mdx
Labels: size/l, product:learning-paths, product:workflows

#22289 [MWAN] CFd and MWAN interaction advice
  src/content/docs/magic-wan/zero-trust/cloudflare-tunnel.mdx
Labels: size/xs, product:magic-wan

#22291 [WAF] Update payload logging
  src/assets/images/waf/transform-rules/payload-decrypted.png
  src/assets/images/waf/transform-rules/payload-logging-example.png
  src/content/docs/waf/managed-rules/payload-logging/decrypt-in-logs.mdx
  src/content/docs/waf/managed-rules/payload-logging/index.mdx
  src/content/docs/waf/managed-rules/payload-logging/view.mdx
Labels: product:waf, size/s

#22292 [WAF] Add changelog entry
  src/assets/images/changelog/waf/2025-05-payload-logging-update.png
  src/content/changelog/waf/2025-05-08-improved-payload-logging.mdx
Labels: size/s

#22273 [Email Security] Reorder dispositions
  src/content/docs/cloudflare-one/email-security/reference/dispositions-and-attributes.mdx
  src/content/partials/cloudflare-one/email-security/dispositions-and-attributes.mdx
Labels: product:cloudflare-one, size/xs

#22295 Add FinalizationRegistry docs (Revert #22239)
  src/content/changelog/workers/2025-05-08-finalization-registry.mdx
  src/content/compatibility-flags/js-weak-refs.md
Labels: size/s

#22275 [Challenges] Reorganize Fundamentals section + add new information
  public/__redirects
  src/content/docs/analytics/account-and-zone-analytics/status-codes.mdx
  src/content/docs/analytics/account-and-zone-analytics/threat-types.mdx
  src/content/docs/analytics/account-and-zone-analytics/total-threats-stopped.mdx
  src/content/docs/bots/additional-configurations/detection-ids.mdx
  src/content/docs/bots/get-started/bot-management.mdx
  src/content/docs/bots/troubleshooting/frequently-asked-questions.mdx
  src/content/docs/cloudflare-challenges/challenge-types/challenge-pages.mdx
  src/content/docs/cloudflare-challenges/challenge-types/index.mdx
  src/content/docs/cloudflare-challenges/challenge-types/javascript-detections.mdx
  src/content/docs/cloudflare-challenges/concepts/how-challenges-work.mdx
  src/content/docs/cloudflare-challenges/concepts/index.mdx
  src/content/docs/cloudflare-challenges/index.mdx
  src/content/docs/cloudflare-challenges/reference/challenge-solve-rate.mdx
  src/content/docs/cloudflare-challenges/reference/index.mdx
  src/content/docs/cloudflare-challenges/reference/private-access-tokens.mdx
  src/content/docs/cloudflare-challenges/reference/supported-browsers.mdx
  src/content/docs/cloudflare-challenges/reference/supported-languages.mdx
  src/content/docs/cloudflare-challenges/troubleshooting/challenge-solve-issues.mdx
  src/content/docs/cloudflare-challenges/troubleshooting/frequently-asked-questions.mdx
  src/content/docs/cloudflare-challenges/troubleshooting/index.mdx
  src/content/docs/ddos-protection/managed-rulesets/adaptive-protection.mdx
  src/content/docs/ddos-protection/managed-rulesets/http/override-parameters.mdx
  src/content/docs/fundamentals/reference/under-attack-mode.mdx
  src/content/docs/fundamentals/security/cloudflare-challenges/challenge-passage.mdx
  src/content/docs/fundamentals/security/cloudflare-challenges/index.mdx
  src/content/docs/fundamentals/trace-request/how-to.mdx
  src/content/docs/learning-paths/application-security/rate-limiting/configurations.mdx
  src/content/docs/radar/investigate/application-layer-attacks.mdx
  src/content/docs/reference-architecture/architectures/security.mdx
  src/content/docs/rules/custom-errors/edit-error-pages.mdx
  src/content/docs/rules/custom-errors/index.mdx
  src/content/docs/rules/custom-errors/reference/parameters.mdx
  src/content/docs/rules/custom-errors/troubleshooting.mdx
  src/content/docs/rules/reference/troubleshooting.mdx
  src/content/docs/security/settings.mdx
  src/content/docs/turnstile/concepts/pre-clearance-support.mdx
  src/content/docs/turnstile/concepts/widget.mdx
  src/content/docs/turnstile/get-started/mobile-implementation.mdx
  src/content/docs/turnstile/get-started/supported-browsers.mdx
  src/content/docs/turnstile/index.mdx
  src/content/docs/turnstile/troubleshooting/client-side-errors/error-codes.mdx
  src/content/docs/turnstile/tutorials/implicit-vs-explicit-rendering.mdx
  src/content/docs/turnstile/tutorials/integrating-turnstile-waf-and-bot-management.mdx
  src/content/docs/waf/analytics/security-events.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/docs/waf/reference/legacy/old-rate-limiting/index.mdx
  src/content/docs/waf/tools/ip-access-rules/actions.mdx
  src/content/docs/waf/troubleshooting/faq.mdx
  src/content/docs/waf/troubleshooting/samesite-cookie-interaction.mdx
  src/content/partials/bots/javascript-detections-implementation.mdx
  src/content/partials/turnstile/challenge-behavior.mdx
  src/content/partials/turnstile/troubleshooting-steps.mdx
  src/content/partials/turnstile/turnstile/challenge-behavior.mdx
  src/content/partials/turnstile/turnstile/troubleshooting-steps.mdx
  src/content/products/cloudflare-challenges.yaml
  src/icons/cloudflare-challenges.svg
Labels: product:analytics, product:bots, product:rules, product:waf, product:reference-architecture, size/l, product:turnstile, product:fundamentals, product:radar, product:ddos-protection, product:learning-paths, product:security, product:cloudflare-challenges

#22030 [ZT] DNS in WARP tunnel
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/warp-architecture.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/firewall.mdx
  src/content/partials/cloudflare-one/warp/doh-ips.mdx
  src/content/partials/learning-paths/zero-trust/install-agent.mdx
Labels: product:cloudflare-one, size/s

#22156 [Email Security] Overview page
  src/content/docs/cloudflare-one/email-security/index.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/api/office365-api.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/manual-add.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/office365-journaling.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/mx-inline-deployment-setup.mdx
Labels: product:cloudflare-one, size/s

#22298 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#22286 gateway terraform doc changes
  src/content/docs/cloudflare-one/policies/gateway/application-app-types.mdx
  src/content/docs/cloudflare-one/policies/gateway/domain-categories.mdx
  src/content/partials/cloudflare-one/gateway/order-of-enforcement.mdx
Labels: product:cloudflare-one, size/xs

#22297 DISCO-000 add call to action
  src/content/docs/google-tag-gateway/index.mdx
Labels: size/xs, product:google-tag-gateway

#22302 [Challenges] Fix redirect
  public/__redirects
Labels: size/xs

#22138 Create unpaid-invoices-or-balances.mdx
  src/content/docs/fundamentals/subscriptions-and-billing/unpaid-invoices-or-balances.mdx
Labels: size/s, product:fundamentals

#22304 Rework hyperlint checks to plain text
  .hyperlint/.vale.ini
  .hyperlint/automations/styles/cloudflare-automation/EOLWhitespace.yml
  .hyperlint/automations/styles/cloudflare-automation/ExclamationMarks.yml
  .hyperlint/automations/styles/cloudflare-automation/HeadingLinks.yml
  .hyperlint/automations/styles/cloudflare-automation/HeadingPunctuation.yml
  .hyperlint/automations/styles/cloudflare-automation/NonStandardQuotes.yml
  .hyperlint/automations/styles/cloudflare-automation/UnclearAntecedent.yml
  .hyperlint/automations/styles/cloudflare/spelling-exceptions.txt
  .hyperlint/automations/styles/plain-text-style-checks/casing.md
  .hyperlint/automations/styles/plain-text-style-checks/eolwhitespace.md
  .hyperlint/automations/styles/plain-text-style-checks/exclamation-marks.md
  .hyperlint/automations/styles/plain-text-style-checks/heading-links.md
  .hyperlint/automations/styles/plain-text-style-checks/heading-punctuation.md
  .hyperlint/automations/styles/plain-text-style-checks/nonstandard-quotes.md
  .hyperlint/automations/styles/plain-text-style-checks/unclear-antecedent.md
Labels: size/l

#22277 [ZT] Terraform split tunnels
  src/content/partials/cloudflare-one/warp/add-split-tunnels-route.mdx
  src/content/partials/cloudflare-one/warp/change-split-tunnels-mode.mdx
  src/content/partials/learning-paths/zero-trust/split-tunnel-settings.mdx
Labels: size/m

#22307 [Hyperlint] Tweak, AI too literal
  .hyperlint/automations/styles/cloudflare/MeaningfulLinkWords.yml
  .hyperlint/config.yaml
Labels: size/xs

#22313 Update bots.yaml
  src/content/release-notes/bots.yaml
Labels: size/xs

#22223 Update limits.mdx
  src/content/docs/browser-rendering/platform/limits.mdx
Labels: product:browser-rendering, size/xs

#22293 [Speed] Updates quota
  src/content/docs/speed/speed-test/run-speed-test.mdx
Labels: size/xs, product:speed

#22321 [DO] Clarifying that calling setAlarm can override previously scheduled alarm
  src/content/docs/durable-objects/api/alarms.mdx
Labels: product:durable-objects, size/xs

#22303 [Rules] Snippets updates
  src/content/docs/ddos-protection/managed-rulesets/http/configure-api.mdx
  src/content/docs/firewall/cf-dashboard/rule-preview.mdx
  src/content/docs/firewall/cf-firewall-rules/index.mdx
  src/content/docs/magic-firewall/about/list-types.mdx
  src/content/docs/magic-firewall/best-practices/extended-ruleset.mdx
  src/content/docs/magic-firewall/how-to/use-rules-list.mdx
  src/content/docs/rules/snippets/examples/maintenance.mdx
  src/content/docs/rules/snippets/examples/slow-suspicious-requests.mdx
  src/content/docs/rules/snippets/how-it-works.mdx
  src/content/docs/rules/transform/response-header-modification/index.mdx
  src/content/docs/ruleset-engine/rules-language/values.mdx
  src/content/docs/security/settings.mdx
  src/content/docs/waf/custom-rules/use-cases/allow-traffic-from-ips-in-allowlist.mdx
  src/content/docs/waf/rate-limiting-rules/best-practices.mdx
  src/content/docs/waf/rate-limiting-rules/parameters.mdx
  src/content/docs/waf/tools/ip-access-rules/index.mdx
  src/content/docs/waf/tools/lists/custom-lists.mdx
Labels: product:firewall, product:rules, product:waf, product:ruleset-engine, size/m, product:ddos-protection, product:magic-firewall, product:security

#22301 [Rules] Snippets now support Custom Lists, Bot Score, and WAF Attack Score
  src/assets/images/changelog/rules/snippets-lists-scores.png
  src/content/changelog/rules/2025-05-09-snippets-cloud-connector-lists-waf-bot-scores.mdx
Labels: size/s

#22319 Fix OpenAI tutorial link
  src/content/docs/ai-gateway/get-started.mdx
Labels: size/xs, product:ai-gateway

#22325 [Chore] Update public stats
  src/components/PublicStats.astro
Labels: size/xs

#22279 add FW note retro-update 2025-05-05
  src/content/docs/waf/change-log/2025-05-05.mdx
Labels: product:waf, size/s

#21950 [AIG]universal endpoint new path
  public/__redirects
  src/content/changelog/ai-gateway/2025-01-26-worker-binding-methods.mdx
  src/content/changelog/ai-gateway/2025-02-05-aig-request-handling.mdx
  src/content/docs/ai-gateway/changelog.mdx
  src/content/docs/ai-gateway/configuration/fallbacks.mdx
  src/content/docs/ai-gateway/configuration/index.mdx
  src/content/docs/ai-gateway/configuration/request-handling.mdx
  src/content/docs/ai-gateway/glossary.mdx
  src/content/docs/ai-gateway/guardrails/index.mdx
  src/content/docs/ai-gateway/integrations/index.mdx
  src/content/docs/ai-gateway/integrations/worker-binding-methods.mdx
  src/content/docs/ai-gateway/observability/index.mdx
  src/content/docs/ai-gateway/reference/index.mdx
  src/content/docs/ai-gateway/tutorials/index.mdx
  src/content/docs/ai-gateway/universal.mdx
  src/content/docs/ai-gateway/websockets-api/index.mdx
Labels: size/m, product:ai-gateway

#22318 [ZT] Terraform local domain fallback
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/route-traffic/local-domains.mdx
  src/content/partials/cloudflare-one/warp/add-local-domain-IP.mdx
  src/content/partials/cloudflare-one/warp/add-local-domain.mdx
  src/content/partials/cloudflare-one/warp/view-local-domains.mdx
  src/content/partials/learning-paths/zero-trust/private-dns.mdx
Labels: product:cloudflare-one, size/m

#22329 [Email Security] Upload .EML file
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
Labels: product:cloudflare-one, size/s

#22269 [BRAPI]Release Notes - Automatic Request Headers
  src/content/release-notes/browser-rendering.yaml
Labels: size/xs

#22312 [Challenges] Address feedback to the new tile
  .github/CODEOWNERS
  public/__redirects
  src/content/docs/bots/additional-configurations/javascript-detections.mdx
  src/content/docs/bots/get-started/bot-management.mdx
  src/content/docs/cloudflare-challenges/challenge-types/javascript-detections.mdx
  src/content/docs/cloudflare-challenges/index.mdx
  src/content/docs/cloudflare-challenges/reference/challenge-solve-rate.mdx
  src/content/docs/cloudflare-challenges/reference/private-access-tokens.mdx
  src/content/docs/cloudflare-challenges/reference/supported-browsers.mdx
  src/content/docs/cloudflare-challenges/reference/supported-languages.mdx
  src/content/docs/cloudflare-challenges/troubleshooting/challenge-solve-issues.mdx
  src/content/docs/cloudflare-challenges/troubleshooting/frequently-asked-questions.mdx
  src/content/docs/turnstile/get-started/pre-clearance.mdx
  src/content/partials/cloudflare-challenges/cf-clearance-cookie.mdx
  src/content/partials/cloudflare-challenges/javascript-detections-csp.mdx
  src/content/partials/cloudflare-challenges/javascript-detections-definition.mdx
  src/content/partials/cloudflare-challenges/javascript-detections-enable.mdx
  src/content/partials/cloudflare-challenges/javascript-detections-implementation.mdx
Labels: product:bots, size/m, product:turnstile, product:cloudflare-challenges

#22332 Update llama-vision-tutorial.mdx
  src/content/docs/workers-ai/guides/tutorials/llama-vision-tutorial.mdx
Labels: size/xs, product:workers-ai

#21805 Workers Assets TanStack framework guide
  src/content/docs/workers/frameworks/framework-guides/tanstack.mdx
Labels: product:workers, size/m

#22317 [Gateway] Egress policies incompatible on-ramps
  src/content/docs/cloudflare-one/policies/gateway/egress-policies/index.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/xs

#22280 [Workers AI] model updates
  src/content/workers-ai-models/gemma-3-12b-it.json
  src/content/workers-ai-models/llama-3.3-70b-instruct-fp8-fast.json
  src/content/workers-ai-models/llama-4-scout-17b-16e-instruct.json
  src/content/workers-ai-models/mistral-small-3.1-24b-instruct.json
  src/content/workers-ai-models/qwen2.5-coder-32b-instruct.json
  src/content/workers-ai-models/qwq-32b.json
Labels: size/s

#22333 [CF1] entra ID screenshot update
  src/assets/images/cloudflare-one/identity/azure/azure-values.png
  src/assets/images/cloudflare-one/identity/azure/client-cert-value.png
  src/assets/images/cloudflare-one/identity/azure/configured-perms.png
  src/assets/images/cloudflare-one/identity/azure/entra-email-claim.png
  src/assets/images/cloudflare-one/identity/azure/name-app.png
  src/content/docs/cloudflare-one/identity/idp-integration/entra-id.mdx
Labels: product:cloudflare-one, size/xs

#22334 [ZT] Terraform Gateway settings
  src/content/partials/cloudflare-one/gateway/create-resolver-policy.mdx
  src/content/partials/cloudflare-one/gateway/enable-tls-decryption.mdx
  src/content/partials/cloudflare-one/tunnel/enable-gateway-proxy.mdx
Labels: size/s

#17946 Update deploy-an-angular-site.mdx
  src/content/docs/pages/framework-guides/deploy-an-angular-site.mdx
Labels: product:pages, size/xs

#22345 [WAF] Add back two missing tables
  src/content/docs/waf/tools/ip-access-rules/create.mdx
  src/content/docs/waf/tools/lists/lists-api/endpoints.mdx
  src/content/docs/waf/tools/lists/lists-api/index.mdx
  src/content/docs/waf/tools/lists/lists-api/json-object.mdx
Labels: product:waf, size/m

#22327 [Email Security] Update initial onboarding steps
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/api/office365-api.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/bcc-setup/gmail-bcc-setup/enable-gmail-integration.mdx
  src/content/docs/cloudflare-one/email-security/setup/pre-delivery-deployment/mx-inline-deployment-setup.mdx
Labels: product:cloudflare-one, size/s

#22125 [Hyperdrive] add drivers and orms docs
  public/__redirects
  src/content/docs/hyperdrive/configuration/connect-to-private-database.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/index.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-database-providers/aws-rds-aurora.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-database-providers/azure.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-database-providers/google-cloud-sql.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-database-providers/index.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-database-providers/planetscale.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-drivers-and-libraries/drizzle-orm.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-drivers-and-libraries/index.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-drivers-and-libraries/mysql.mdx
  src/content/docs/hyperdrive/examples/connect-to-mysql/mysql-drivers-and-libraries/mysql2.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/index.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/aws-rds-aurora.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/azure.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/cockroachdb.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/digital-ocean.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/fly.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/google-cloud-sql.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/index.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/materialize.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/neon.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/nile.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/pgedge.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/supabase.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/timescale.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-database-providers/xata.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-drivers-and-libraries/drizzle-orm.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-drivers-and-libraries/index.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-drivers-and-libraries/node-postgres.mdx
  src/content/docs/hyperdrive/examples/connect-to-postgres/postgres-drivers-and-libraries/postgres-js.mdx
  src/content/docs/hyperdrive/reference/supported-databases-and-features.mdx
  src/content/docs/workers/databases/connecting-to-databases.mdx
  src/content/partials/hyperdrive/create-hyperdrive-config-mysql-next-steps.mdx
  src/content/partials/hyperdrive/create-hyperdrive-config-mysql.mdx
  src/content/partials/hyperdrive/create-hyperdrive-config-next-steps.mdx
  src/content/partials/hyperdrive/create-hyperdrive-config.mdx
  src/content/partials/hyperdrive/hyperdrive-node-compatibility-requirement.mdx
  src/content/partials/hyperdrive/use-mysql-to-make-query.mdx
  src/content/partials/hyperdrive/use-mysql2-to-make-query.mdx
  src/content/partials/hyperdrive/use-node-postgres-to-make-query.mdx
  src/content/partials/hyperdrive/use-postgres-js-to-make-query.mdx
  src/content/partials/hyperdrive/use-postgresjs-to-make-query.mdx
Labels: product:workers, size/xl, product:hyperdrive

#22328 [DNS] Use APIRequest component
  src/content/docs/dns/dns-firewall/random-prefix-attacks/setup.mdx
  src/content/docs/dns/dnssec/dnssec-active-migration.mdx
  src/content/docs/dns/dnssec/multi-signer-dnssec/setup.mdx
  src/content/docs/dns/foundation-dns/setup.mdx
  src/content/docs/dns/nameservers/custom-nameservers/tenant-custom-nameservers.mdx
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-primary/dnssec-for-primary.mdx
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-primary/setup.mdx
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-secondary/dnssec-for-secondary.mdx
  src/content/docs/dns/zone-setups/zone-transfers/cloudflare-as-secondary/proxy-traffic.mdx
  src/content/partials/dns/internal-reference-zone-api.mdx
Labels: product:dns, size/m

#21975 [R2] Update Presigned URL docs
  src/content/docs/r2/api/s3/presigned-urls.mdx
Labels: product:r2, size/m

#22354 Release note for D1 HTTP API permissions fix
  src/content/release-notes/d1.yaml
Labels: size/xs

#22356 [R2] Adding Anni to Codeowners for R2
  .github/CODEOWNERS
Labels: size/xs

#22351 [Email Security] Add note about PhishGuard user submissions
  src/content/docs/cloudflare-one/email-security/email-monitoring/search-email.mdx
Labels: product:cloudflare-one, size/xs

#22209 [AutoRAG] SEO: RAG application
  src/content/docs/autorag/configuration/cache.mdx
  src/content/docs/autorag/configuration/models.mdx
  src/content/docs/autorag/get-started.mdx
  src/content/docs/autorag/index.mdx
  src/content/docs/autorag/tutorial/brower-rendering-autorag-tutorial.mdx
  src/content/docs/vectorize/reference/what-is-a-vector-database.mdx
Labels: size/s, product:vectorize, product:AutoRAG

#22361 [Docs Site] Allow UI frameworks in filter-elements
  src/plugins/rehype/filter-elements.ts
Labels: size/xs

#22208 [CF1] custom block dialogs rbi
  src/content/docs/cloudflare-one/policies/browser-isolation/isolation-policies.mdx
Labels: product:cloudflare-one, size/s

#22366 [Docs Site] Fix tippy-box styling
  src/styles/footnotes.css
Labels: size/xs

#22365 [Docs Site] Support EC props in APIRequest
  src/components/APIRequest.astro
  src/content/docs/style-guide/components/api-request.mdx
Labels: size/s, product:style-guide

#22348 [Workers] RedwoodSDK framework - reformat
  src/content/docs/workers/frameworks/framework-guides/redwoodsdk.mdx
Labels: product:workers, size/s

#22370 [Tenant] Updated Partner references
  src/content/docs/tenant/reference/subscriptions.mdx
Labels: product:tenant, size/xs

#22367 [Email Security] Update buttons
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/api/office365-api.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/bcc-setup/gmail-bcc-setup/enable-auto-moves.mdx
  src/content/docs/cloudflare-one/email-security/setup/post-delivery-deployment/bcc-journaling/journaling-setup/manual-add.mdx
Labels: product:cloudflare-one, size/s

#22371 [Docs Site] Track DocSearch click events
  src/scripts/analytics.ts
  src/scripts/analytics/docsearch.ts
Labels: size/xs

#22368 [Docs Site] Ignore external_link entries when setting current sidebar entry
  src/util/sidebar.ts
Labels: size/xs

#22369 [Docs Site] Comment matched CODEOWNERS entries on PRs
  .github/workflows/ci.yml
  bin/post-codeowners-comment/constants.ts
  bin/post-codeowners-comment/index.ts
Labels: size/m

#22355 [Rules]Update troubleshooting.mdx
  src/content/docs/rules/custom-errors/troubleshooting.mdx
Labels: product:rules, size/xs

#22360 Update seat-management.mdx
  src/content/docs/cloudflare-one/identity/users/seat-management.mdx
Labels: product:cloudflare-one, size/xs

#22338 [ZT] Terraform - Replace your VPN policies
  src/content/docs/learning-paths/replace-vpn/build-policies/block-page.mdx
  src/content/docs/learning-paths/replace-vpn/build-policies/create-policy.mdx
  src/content/partials/cloudflare-one/gateway/customize-block-page.mdx
  src/content/partials/cloudflare-one/gateway/lists.mdx
  src/content/partials/cloudflare-one/warp/warp-sessions-gateway.mdx
Labels: size/m, product:learning-paths

#22233 Removed outdated message about SCIM email verification requirement
  src/content/docs/fundamentals/setup/account/account-security/scim-setup.mdx
Labels: size/xs, product:fundamentals

#22190 release note entry for hyperdrive caching improvement
  src/content/release-notes/hyperdrive.yaml
Labels: size/xs

#22379 [Email Security] Retro Scan note
  src/content/docs/cloudflare-one/email-security/retro-scan.mdx
Labels: product:cloudflare-one, size/xs

#22381 [Learning paths] Data center patch
  src/content/docs/learning-paths/data-center-protection/concepts/index.mdx
Labels: size/xs, product:learning-paths

#22382 [MT] Added language around supernets
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
Labels: size/xs, product:magic-transit

#22100 Add warning for Service Worker deprecation
  src/content/docs/learning-paths/mtls/mtls-workers/index.mdx
  src/content/docs/workers/configuration/sites/start-from-existing.mdx
  src/content/docs/workers/examples/cache-using-fetch.mdx
  src/content/docs/workers/observability/errors.mdx
  src/content/docs/workers/observability/logs/workers-logs.mdx
  src/content/docs/workers/reference/migrate-to-module-workers.mdx
  src/content/docs/workers/runtime-apis/fetch.mdx
  src/content/docs/workers/runtime-apis/streams/index.mdx
  src/content/docs/workers/wrangler/migration/v1-to-v2/wrangler-legacy/configuration.mdx
Labels: product:workers, size/m, product:learning-paths

#22359 [BRAPI]fixed changelog
  src/content/release-notes/browser-rendering.yaml
Labels: size/xs

#22296 Brapi-faqs update
  src/content/docs/browser-rendering/faq.mdx
Labels: product:browser-rendering, size/s

#21589 [D1] Update e-commerce tutorial
  src/content/docs/d1/tutorials/using-read-replication-for-e-com/index.mdx
Labels: product:d1, size/xl

#22349 Add `--metafile` flag to `pages functions build` and `wrangler deploy`
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/xs

#22387 [Changelog] RBI saml post support
  src/content/changelog/browser-isolation/2025-05-13-rbi-saml-post-support.mdx
Labels: size/xs

#22391 [CF4SaaS] Fix Ent pricing for additional CHs
  src/content/plans/index.json
Labels: size/xs

#22228 [STREAM] Add Media Transformations documentation for source origin controls
  src/assets/images/images/add-origin.png
  src/assets/images/images/allowed-origins.png
  src/content/docs/stream/transform-videos/sources.mdx
Labels: product:stream, size/s

#22392 [MNM] Supernet auto advertisement
  src/content/docs/magic-network-monitoring/rules/dynamic-threshold.mdx
  src/content/docs/magic-network-monitoring/rules/s-flow-ddos-attack.mdx
  src/content/docs/magic-network-monitoring/rules/static-threshold.mdx
Labels: size/xs, product:magic-network-monitoring

#22290 document multiple config flags in wrangler dev and types
  src/content/docs/workers/wrangler/commands.mdx
Labels: product:workers, size/s

#22393 [Fundamentals] Copied existing screenshot and added callout
  src/assets/images/fundamentals/ray-id.png
  src/content/docs/fundamentals/reference/cloudflare-ray-id.mdx
Labels: size/xs, product:fundamentals
