Repository cloudflare/cloudflare-docs, pull requests merged in 2025-02, with the labels that each got.

#19633 [ZT] Update cert warning tense
  src/content/docs/cloudflare-one/applications/non-http/infrastructure-apps.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/automated-deployment.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/custom-certificate.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/index.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/manual-deployment.mdx
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
  src/content/docs/cloudflare-one/policies/browser-isolation/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/block-page.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/antivirus-scanning.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/common-policies.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/file-sandboxing.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/http3.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/index.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tenant-control.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/tls-decryption.mdx
  src/content/docs/cloudflare-one/policies/gateway/http-policies/websocket.mdx
Labels: product:cloudflare-one, do-not-merge-yet, size/s

#19647 Fix typo s/asserts/assets
  src/content/docs/support/third-party-software/content-management-system-cms/how-do-i-enable-http2-server-push-in-wordpress.mdx
Labels: size/xs, product:support

#19650 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: size/xs

#19637 [Workflows] Properly spell `your`
  src/content/docs/workflows/build/workers-api.mdx
Labels: size/xs, product:workflows

#19612 [3rd Party] Update cloudflare-and-joomla-recommended-first-steps.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/cloudflare-and-joomla-recommended-first-steps.mdx
Labels: size/xs, product:support

#19629 [Docs Site] Make rehype output fragments
  src/components/AnchorHeading.astro
Labels: size/xs

#19600 [Docs Site] Always use current origin in search results
  astro.config.ts
  src/plugins/docsearch/index.ts
Labels: size/s

#19661 [MWAN] Broken links
  src/content/docs/magic-transit/how-to/bgp-peering.mdx
  src/content/docs/magic-transit/how-to/configure-tunnels.mdx
  src/content/docs/magic-wan/configuration/manually/how-to/bgp-peering.mdx
  src/content/docs/magic-wan/configuration/manually/how-to/configure-tunnels.mdx
  src/content/docs/magic-wan/network-interconnect.mdx
  src/content/partials/magic-transit/legacy-hc-system.mdx
Labels: size/s, product:magic-transit, product:magic-wan

#19660 [Docs] Fix some broken anchors
  src/content/docs/browser-rendering/index.mdx
  src/content/docs/cache/troubleshooting/always-online.mdx
  src/content/docs/cloudflare-one/implementation-guides/index.mdx
  src/content/docs/cloudflare-one/policies/data-loss-prevention/dlp-policies/logging-options.mdx
  src/content/docs/cloudflare-one/policies/gateway/block-page.mdx
  src/content/docs/support/troubleshooting/http-status-codes/1xx-informational.mdx
  src/content/docs/support/troubleshooting/http-status-codes/2xx-success.mdx
  src/content/docs/support/troubleshooting/http-status-codes/3xx-redirection.mdx
  src/content/docs/support/troubleshooting/http-status-codes/4xx-client-error.mdx
  src/content/docs/workers/index.mdx
  src/pages/index.astro
Labels: product:workers, product:cloudflare-one, product:cache, product:browser-rendering, size/m, product:support

#19581 [Docs Site] Add Turnstile and track referrer in feedback prompt
  package-lock.json
  package.json
  src/components/FeedbackPrompt.astro
  src/components/FeedbackPrompt.tsx
  src/components/index.ts
  src/components/overrides/Footer.astro
  src/components/overrides/MarkdownContent.astro
  src/components/overrides/TableOfContents.astro
  src/input.css
  src/pages/index.astro
  src/pages/products.astro
  tailwind.config.mjs
  tsconfig.json
Labels: size/l

#19659 [WR] Turnstile in waiting room
  src/content/docs/waiting-room/how-to/create-waiting-room.mdx
  src/content/docs/waiting-room/reference/configuration-settings.mdx
  src/content/plans/index.json
Labels: product:waiting-room, size/s

#19664 Adding WFP video to overview
  src/content/docs/cloudflare-for-platforms/workers-for-platforms/index.mdx
Labels: product:cloudflare-for-platforms, size/xs

#19667 [Security Center] Add Brand Protection role
  src/content/docs/security-center/brand-protection.mdx
Labels: product:security-center, size/xs

#19666 [MWAN, MT] Refactor CNI page with JSX expressions
  src/content/docs/magic-transit/network-interconnect.mdx
  src/content/docs/magic-wan/network-interconnect.mdx
  src/content/partials/network-interconnect/magic-cni.mdx
Labels: size/m, product:magic-transit, product:magic-wan

#19671 [Images] Content Credentials
  src/assets/images/images/preserve-content-credentials.png
  src/content/docs/images/transform-images/control-origin-access.mdx
  src/content/docs/images/transform-images/draw-overlays.mdx
  src/content/docs/images/transform-images/integrate-with-frameworks.mdx
  src/content/docs/images/transform-images/make-responsive-images.mdx
  src/content/docs/images/transform-images/preserve-content-credentials.mdx
  src/content/docs/images/transform-images/serve-images-custom-paths.mdx
  src/content/docs/images/transform-images/transform-via-url.mdx
  src/content/docs/images/transform-images/transform-via-workers.mdx
  src/content/partials/images/metadata.mdx
Labels: product:images, size/s

#19649 [Docs Site] changelog-next styling
  src/components/changelog-next/Header.astro
  src/components/changelog-next/ProductPills.astro
  src/pages/changelog-next/[...slug].astro
  src/pages/changelog-next/index.astro
  src/pages/changelog-next/rss.xml.ts
Labels: size/m

#19672 [Email Security] Add ZT note
  src/content/docs/cloudflare-one/roles-permissions.mdx
  src/content/docs/fundamentals/setup/manage-members/roles.mdx
Labels: product:cloudflare-one, size/xs, product:fundamentals

#19634 [ZT] warp-cli target list filters
  src/content/docs/cloudflare-one/applications/non-http/infrastructure-apps.mdx
Labels: product:cloudflare-one, size/xs

#19610 [SSL] Pre-validation possible with HTTP DCV
  src/content/docs/ssl/edge-certificates/changing-dcv-method/methods/http.mdx
  src/content/partials/ssl/cname-cert-verification.mdx
  src/content/partials/ssl/partial-zone-acm-dcv-wildcard.mdx
Labels: product:ssl, size/s

#19673 [Security Center] Update changelog
  src/content/changelogs/security-center.yaml
Labels: size/xs

#19663 Update account-owned-tokens.mdx
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19613 Add log explorer to AOT supported list
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19668 [Docs Site] Add dev-only middleware for /api/ links
  src/middleware/index.ts
Labels: size/s

#19679 [D1] Renaming "Terminology" to "Bookmarks"
  src/content/docs/d1/reference/time-travel.mdx
Labels: product:d1, size/xs

#19636 [Style guide] Properly spell `variable`
  src/content/docs/style-guide/components/markdown.mdx
Labels: size/xs, product:style-guide

#19680 [Docs Site] Remove unnecessary ts-expect-error directives
  eslint.config.js
  src/components/ListExamples.astro
  src/components/ListTutorials.astro
  src/components/Plan.astro
  src/components/WorkersArchitectureDiagram.astro
  src/content/docs/src/env.d.ts
  src/plugins/rehype/heading-slugs.ts
Labels: size/xl, product:src

#19684 [Queues] Fix typo in Batching Retries
  src/content/docs/queues/configuration/batching-retries.mdx
Labels: product:queues, size/xs

#19688 Release-Feb-03-2025
  src/content/changelogs/waf.yaml
  src/content/docs/waf/change-log/scheduled-changes.mdx
Labels: product:waf, size/s

#19590 [workers-observability] Add changelog entry for revamped workers metrics
  public/images/workers/observability/metrics-graphical-timepicker.png
  public/images/workers/observability/metrics-legend-selector.png
  public/images/workers/observability/workers-metrics.png
  src/content/changelogs-next/2025-02-03-workers-metrics-revamp.mdx
Labels: size/s

#19706 Update devices-faq.mdx
  src/content/docs/cloudflare-one/faq/devices-faq.mdx
Labels: product:cloudflare-one, size/xs

#19705 Update getting-started-faq.mdx
  src/content/docs/cloudflare-one/faq/getting-started-faq.mdx
Labels: product:cloudflare-one, size/xs

#19708 Update policies-faq.mdx
  src/content/docs/cloudflare-one/faq/policies-faq.mdx
Labels: product:cloudflare-one, size/xs

#19709 [workers-observability] fix image path
  src/assets/images/workers/observability/metrics-graphical-timepicker.png
  src/assets/images/workers/observability/metrics-legend-selector.png
  src/assets/images/workers/observability/workers-metrics.png
  src/content/changelogs-next/2025-02-03-workers-metrics-revamp.mdx
Labels: size/xs

#19710 Add Mike Nomitch to Workers Changelog CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#19678 [R2] Further clarifying R2 pricing.
  src/content/docs/r2/pricing.mdx
Labels: product:r2, size/s

#19378 [Radar] Update glossary
  .gitignore
  src/content/docs/radar/concepts/aggregation-intervals.mdx
  src/content/docs/radar/concepts/bot-classes.mdx
  src/content/docs/radar/concepts/normalization.mdx
  src/content/docs/radar/get-started/error-codes.mdx
  src/content/docs/radar/get-started/making-comparisons.mdx
  src/content/docs/radar/glossary.mdx
  src/content/docs/radar/investigate/application-layer-attacks.mdx
  src/content/docs/radar/investigate/dns.mdx
  src/content/docs/radar/investigate/domain-ranking-datasets.mdx
  src/content/docs/radar/investigate/http-requests.mdx
  src/content/docs/radar/investigate/index.mdx
  src/content/docs/radar/investigate/netflows.mdx
  src/content/docs/radar/investigate/network-layer-attacks.mdx
  src/content/docs/radar/investigate/outages.mdx
  src/content/docs/radar/investigate/url-scanner.mdx
Labels: documentation, do-not-merge-yet, size/l, product:radar

#19700 [Security Center] Remove trailing spaces
  src/content/docs/security-center/intel-apis/manage-miscategorization-reports.mdx
Labels: product:security-center, size/s

#19717 [MT] Static routes - BGP
  src/content/docs/magic-transit/cloudflare-ips.mdx
  src/content/docs/magic-transit/get-started.mdx
  src/content/docs/magic-transit/how-to/advertise-prefixes.mdx
Labels: size/xs, product:magic-transit

#19722 Update configure.mdx
  src/content/docs/api-shield/security/mtls/configure.mdx
Labels: product:api-shield, size/xs

#19681 [WAF, Terraform] Improve Terraform info and links from/to the WAF
  src/content/docs/rules/transform/index.mdx
  src/content/docs/rules/transform/managed-transforms/configure.mdx
  src/content/docs/rules/transform/managed-transforms/index.mdx
  src/content/docs/rules/transform/request-header-modification/link-create-terraform.mdx
  src/content/docs/rules/transform/response-header-modification/link-create-terraform.mdx
  src/content/docs/rules/transform/url-rewrite/index.mdx
  src/content/docs/rules/transform/url-rewrite/link-create-terraform.mdx
  src/content/docs/terraform/additional-configurations/ddos-managed-rulesets.mdx
  src/content/docs/terraform/additional-configurations/rate-limiting-rules.mdx
  src/content/docs/terraform/additional-configurations/transform-rules.mdx
  src/content/docs/terraform/additional-configurations/waf-custom-rules.mdx
  src/content/docs/terraform/additional-configurations/waf-managed-rulesets.mdx
  src/content/docs/waf/account/custom-rulesets/index.mdx
  src/content/docs/waf/account/custom-rulesets/link-create-terraform.mdx
  src/content/docs/waf/account/managed-rulesets/link-create-exceptions.mdx
  src/content/docs/waf/account/managed-rulesets/link-create-terraform.mdx
  src/content/docs/waf/account/rate-limiting-rulesets/create-api.mdx
  src/content/docs/waf/account/rate-limiting-rulesets/index.mdx
  src/content/docs/waf/account/rate-limiting-rulesets/link-create-terraform.mdx
  src/content/docs/waf/custom-rules/index.mdx
  src/content/docs/waf/custom-rules/link-create-terraform.mdx
  src/content/docs/waf/custom-rules/link-custom-rulesets.mdx
  src/content/docs/waf/custom-rules/skip/index.mdx
  src/content/docs/waf/custom-rules/use-cases/index.mdx
  src/content/docs/waf/managed-rules/deploy-api.mdx
  src/content/docs/waf/managed-rules/link-deploy-terraform.mdx
  src/content/docs/waf/rate-limiting-rules/create-api.mdx
  src/content/docs/waf/rate-limiting-rules/index.mdx
  src/content/docs/waf/rate-limiting-rules/link-create-terraform.mdx
  src/content/docs/waf/reference/migration-guides/waf-managed-rules-migration.mdx
Labels: product:terraform, product:rules, product:waf, size/m

#19723 [Queues] Fix parameter name in pull consumer docs
  src/content/docs/queues/configuration/pull-consumers.mdx
Labels: product:queues, size/xs

#19725 Update CODEOWNERS for agents
  .github/CODEOWNERS
Labels: size/xs

#19718 Made json first in wrangler component
  src/components/WranglerConfig.astro
Labels: size/xs

#19690 [Turnstile] Fix typos
  src/content/docs/turnstile/concepts/ephemeral-id.mdx
  src/content/docs/turnstile/concepts/hostname-management.mdx
  src/content/docs/turnstile/get-started/client-side-rendering.mdx
  src/content/docs/turnstile/reference/content-security-policy.mdx
Labels: size/xs, product:turnstile

#19701 [ZT] Update `warp-cli target list` output
  src/content/docs/cloudflare-one/applications/non-http/infrastructure-apps.mdx
Labels: product:cloudflare-one, size/s

#19702 [ZT] Infra Access changelog
  src/content/changelogs/access.yaml
  src/content/docs/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access.mdx
Labels: product:cloudflare-one, size/s

#19703 [ZT] Update custom cert API calls
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/custom-certificate.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/index.mdx
  src/content/partials/cloudflare-one/upload-mtls-cert.mdx
Labels: product:cloudflare-one, size/m

#17490 [Gateway] Fix GDrive common HTTP policy
  src/content/docs/cloudflare-one/policies/gateway/http-policies/common-policies.mdx
Labels: sub-product:gateway, product:cloudflare-one, size/s

#19746 Calls: Add pricing page
  src/content/docs/calls/pricing.mdx
Labels: size/s, product:calls

#19730 [MWAN] Refined Azure vHub text
  src/content/docs/magic-wan/configuration/manually/third-party/azure/azure-virtual-wan.mdx
Labels: size/xs, product:magic-wan

#19715 chore: move Local Development up to top level in Workers docs
  public/_redirects
  src/content/docs/d1/observability/debug-d1.mdx
  src/content/docs/pages/functions/bindings.mdx
  src/content/docs/pages/functions/wrangler-configuration.mdx
  src/content/docs/workers/ci-cd/index.mdx
  src/content/docs/workers/configuration/index.mdx
  src/content/docs/workers/databases/index.mdx
  src/content/docs/workers/demos.mdx
  src/content/docs/workers/frameworks/index.mdx
  src/content/docs/workers/glossary.mdx
  src/content/docs/workers/languages/index.mdx
  src/content/docs/workers/local-development.mdx
  src/content/docs/workers/observability/dev-tools/breakpoints.mdx
  src/content/docs/workers/observability/dev-tools/cpu-usage.mdx
  src/content/docs/workers/observability/dev-tools/index.mdx
  src/content/docs/workers/observability/dev-tools/memory-usage.mdx
  src/content/docs/workers/observability/index.mdx
  src/content/docs/workers/observability/logs/real-time-logs.mdx
  src/content/docs/workers/observability/logs/tail-workers.mdx
  src/content/docs/workers/platform/index.mdx
  src/content/docs/workers/playground.mdx
  src/content/docs/workers/reference/index.mdx
  src/content/docs/workers/runtime-apis/index.mdx
  src/content/docs/workers/static-assets/compatibility-matrix.mdx
  src/content/docs/workers/static-assets/index.mdx
  src/content/docs/workers/testing/index.mdx
  src/content/docs/workers/wrangler/commands.mdx
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, product:pages, product:d1, size/s

#19737 [WAF] Remove trailing spaces
  src/content/docs/waf/tools/lists/create-dashboard.mdx
  src/content/docs/waf/tools/lists/lists-api/endpoints.mdx
Labels: product:waf, size/s

#19751 Fix a couple of broken links to Hyperdrive dashboard pages
  src/content/docs/hyperdrive/configuration/connect-to-postgres.mdx
  src/content/docs/hyperdrive/configuration/rotate-credentials.mdx
Labels: size/xs, product:hyperdrive

#19732 [Docs Site] Restore larger content width when ToC is disabled
  src/components/overrides/Page.astro
Labels: size/xs

#19675 [Docs Site] Rename /changelog-next/ to /changelog/, /changelog/ to /release-notes/
  public/_redirects
  src/components/changelog-next/Header.astro
  src/content/docs/fundamentals/api/reference/deprecations.mdx
  src/pages/changelog-next/index.astro
  src/pages/changelog/[...slug].astro
  src/pages/changelog/index.astro
  src/pages/changelog/rss.xml.ts
  src/pages/deprecations/index.astro
  src/pages/release-notes/index.astro
  src/pages/release-notes/index.xml.ts
  tests/index.test.ts
  wrangler-workers.toml
Labels: size/l, product:fundamentals

#19753 [Analytics] Hide TOC in schema map
  src/content/docs/analytics/graphql-api/migration-guides/network-analytics-v2/schema-map.mdx
Labels: product:analytics, size/xl

#18765 Added no_nodejs_compat_v2 to notes
  src/content/docs/workers/configuration/compatibility-flags.mdx
  src/content/docs/workers/runtime-apis/nodejs/index.mdx
Labels: product:workers, size/s

#19689 Update Agents dev docs to add MCP server page
  src/content/docs/agents/capabilities/control-web-browsers.mdx
  src/content/docs/agents/capabilities/mcp-server.mdx
  src/content/docs/agents/capabilities/run-models.mdx
  src/content/docs/agents/capabilities/send-email.mdx
  src/content/docs/agents/capabilities/webrtc-realtime.mdx
Labels: size/m, product:agents

#19742 D1 changelog read permission fix
  src/content/changelogs/d1.yaml
Labels: size/xs

#19508 Adds more details to overview, basic workflow, and How it works section
  src/content/docs/workers/frameworks/index.mdx
  src/content/docs/workers/static-assets/billing-and-limitations.mdx
  src/content/docs/workers/static-assets/binding.mdx
  src/content/docs/workers/static-assets/index.mdx
  src/content/docs/workers/static-assets/routing.mdx
Labels: product:workers, size/m

#19616 Add some notes to hyperdrive docs
  src/content/docs/hyperdrive/configuration/connect-to-postgres.mdx
  src/content/docs/hyperdrive/get-started.mdx
  src/content/docs/hyperdrive/observability/troubleshooting.mdx
  src/content/docs/pages/functions/bindings.mdx
  src/content/docs/workers/tutorials/postgres/index.mdx
  src/content/partials/hyperdrive/create-hyperdrive-config.mdx
  src/content/partials/hyperdrive/use-postgresjs-to-make-query.mdx
Labels: product:workers, product:pages, size/s, product:hyperdrive

#19759 [DO] Adding suggested fix to clarify example code behaviour
  src/content/docs/durable-objects/examples/alarms-api.mdx
Labels: product:durable-objects, size/xs

#19522 Update magic-transit-with-cdn.mdx
  src/content/docs/byoip/service-bindings/magic-transit-with-cdn.mdx
Labels: product:byoip, size/xs

#19223 [DRAFT][Magic WAN] update Azure instructions
  src/content/docs/magic-wan/configuration/manually/third-party/azure/azure-vpn-gateway.mdx
Labels: size/m, product:magic-wan

#19729 [AIG]Cartesian new model
  src/content/docs/ai-gateway/providers/cartesia.mdx
Labels: size/s, product:ai-gateway

#19767 [SSL] Remove third-party plug-ins recommendation
  src/content/docs/ssl/troubleshooting/mixed-content-errors.mdx
  src/content/docs/ssl/troubleshooting/too-many-redirects.mdx
Labels: product:ssl, size/xs

#19768 [MWAN Azure] Refined text
  src/content/docs/magic-wan/configuration/manually/third-party/azure/azure-vpn-gateway.mdx
Labels: size/s, product:magic-wan

#19724 [AIG]Cerebras provider
  src/content/docs/ai-gateway/providers/cerebras.mdx
Labels: size/s, product:ai-gateway

#19766 [AIG]new-providers-changelog
  src/content/changelogs/ai-gateway.yaml
Labels: size/xs

#19743 [SSL for SaaS] Update O2O Provider Guides
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/hubspot.mdx
  src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/saas-customers/provider-guides/salesforce-commerce-cloud.mdx
Labels: product:cloudflare-for-platforms, size/s

#19755 Workers AI Vision tutorial
  src/content/docs/workers-ai/tutorials/llama-vision-tutorial.mdx
Labels: size/m, product:workers-ai

#19765 Update ownership for changelog content + include image path
  .github/CODEOWNERS
Labels: size/xs

#19775 Update CODEOWNERS
  .github/CODEOWNERS
Labels: size/xs

#19670 [Docs Site] Post Workers preview URL on PRs
  .github/actions/show-changed-files/action.yml
  .github/actions/show-changed-files/index.js
  .github/actions/show-changed-files/index.ts
  .github/actions/show-changed-files/package-lock.json
  .github/actions/show-changed-files/package.json
  .github/actions/show-changed-files/readme.md
  .github/actions/show-changed-files/tsconfig.json
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
  .github/workflows/show-changed-files.yml
Labels: size/xl

#19778 Codeowners --> If I have to touch this again, I'm going to scream
  .github/CODEOWNERS
Labels: size/xs

#19682 [Docs Site] Move pagination buttons above footer links
  src/components/overrides/Footer.astro
Labels: size/s

#19428 Update kubernetes.mdx
  src/content/docs/cloudflare-one/connections/connect-networks/deploy-tunnels/deployment-guides/kubernetes.mdx
Labels: product:cloudflare-one, size/xs

#19773 [Fundamentals] Add information about cf_clearance cookies
  src/content/docs/fundamentals/reference/policies-compliances/cloudflare-cookies.mdx
Labels: size/s, product:fundamentals

#19736 Fix table formatting
  src/content/docs/data-localization/metadata-boundary/graphql-datasets.mdx
Labels: product:data-localization, size/s

#19786 [MAGIC WAN] recommend stronger IPsec policy on Azure S2S IPsec
  src/content/docs/magic-wan/configuration/manually/third-party/azure/azure-vpn-gateway.mdx
Labels: size/s, product:magic-wan

#19787 [API Shield] Remove trailing spaces
  src/content/docs/api-shield/management-and-monitoring/api-routing/configure.mdx
  src/content/docs/api-shield/management-and-monitoring/api-routing/index.mdx
  src/content/docs/api-shield/management-and-monitoring/developer-portal.mdx
  src/content/docs/api-shield/management-and-monitoring/endpoint-labels.mdx
  src/content/docs/api-shield/management-and-monitoring/index.mdx
Labels: product:api-shield, size/s

#19783 Update ai-gateway.yaml
  src/content/changelogs/ai-gateway.yaml
Labels: size/xs

#19788 [MT] Added extra rpki info
  src/content/docs/magic-transit/get-started.mdx
Labels: size/xs, product:magic-transit

#19752 [DO] Clarifying how Durable Object is billed
  src/content/partials/workers/durable_objects_pricing.mdx
Labels: size/s

#19757 [Email Security] Add Reclassifications
  src/content/docs/cloudflare-one/insights/email-monitoring/search-email.mdx
Labels: product:cloudflare-one, size/s

#19784 [Docs Site] Overhaul Vitest setup, fix show-changed-files condition
  .github/actions/show-changed-files/package-lock.json
  .github/actions/show-changed-files/package.json
  .github/actions/show-changed-files/tsconfig.json
  .github/workflows/publish-preview.yml
  .github/workflows/publish-production.yml
  .github/workflows/show-changed-files.yml
  .prettierignore
  bin/show-changed-files/README.md
  bin/show-changed-files/constants.ts
  bin/show-changed-files/index.node.test.ts
  bin/show-changed-files/index.ts
  bin/show-changed-files/util.ts
  package-lock.json
  package.json
  src/plugins/rehype/index.node.test.ts
  src/util/props.node.test.ts
  tests/globalSetup.ts
  tests/tsconfig.json
  tsconfig.json
  vitest.config.ts
  vitest.workspace.ts
  worker-configuration.d.ts
  worker/index.worker.test.ts
  worker/tsconfig.json
  worker/worker-configuration.d.ts
  wrangler-workers.toml
  wrangler.toml
Labels: size/xl

#19790 [Docs] Fix quotes in strings with variables
  src/content/docs/ai-gateway/configuration/caching.mdx
  src/content/docs/ai-gateway/configuration/custom-costs.mdx
  src/content/docs/ai-gateway/observability/logging/index.mdx
  src/content/docs/analytics/graphql-api/migration-guides/zone-analytics-colos.mdx
  src/content/docs/cloudflare-one/connections/connect-devices/user-side-certificates/index.mdx
Labels: product:cloudflare-one, product:analytics, size/s, product:ai-gateway

#19792 [Email Security] Add roles
  src/content/docs/cloudflare-one/roles-permissions.mdx
Labels: product:cloudflare-one, size/s

#19789 TME-153 - new reference architecture diagram about Cloudflare app svc…
  src/content/docs/reference-architecture/diagrams/security/fips-140-3.mdx
Labels: product:reference-architecture, size/m

#19677 [Workers AI]Workers AI error table
  src/content/docs/workers-ai/workers-ai-errors.mdx
Labels: size/s, product:workers-ai

#19756 [1.1.1.1] Add warning about lack of RFC for DoH JSON format
  src/content/docs/1.1.1.1/encryption/dns-over-https/make-api-requests/dns-json.mdx
  src/content/docs/1.1.1.1/encryption/dns-over-https/make-api-requests/dns-wireformat.mdx
Labels: product:1.1.1.1, size/xs

#19795 [Images] Updated docs for allowed origins
  src/assets/images/images/add-origin.png
  src/assets/images/images/allowed-origins.png
  src/content/docs/images/get-started.mdx
  src/content/docs/images/transform-images/sources.mdx
Labels: product:images, size/s

#19771 [Docs Site] Remove trailing spaces
  src/content/docs/pub-sub/learning/websockets-browsers.mdx
Labels: product:pub-sub, size/xs

#19449 [Magic Firewall] IDS Limitation
  src/content/docs/magic-firewall/how-to/enable-ids.mdx
Labels: size/xs, product:magic-firewall

#19798 [Images] Feedback from original PR
  src/content/docs/images/get-started.mdx
  src/content/docs/images/transform-images/sources.mdx
Labels: product:images, size/s

#19797 [Email Security] Add Escalate step
  src/content/docs/cloudflare-one/insights/email-monitoring/search-email.mdx
Labels: product:cloudflare-one, size/s

#19805 [Images] Fixed typo
  src/content/docs/images/get-started.mdx
Labels: product:images, size/xs

#19770 [CF1] google IdP 401 error
  src/content/docs/cloudflare-one/faq/troubleshooting.mdx
  src/content/docs/cloudflare-one/identity/idp-integration/google.mdx
  src/content/docs/cloudflare-one/identity/idp-integration/gsuite.mdx
  src/content/partials/cloudflare-one/access/error-401.mdx
Labels: product:cloudflare-one, size/s

#19762 [CF1] google workspace guide update
  src/content/docs/cloudflare-one/applications/configure-apps/saas-apps/google-workspace-saas.mdx
Labels: product:cloudflare-one, size/xs

#19754 [CF1] sso limitations update
  src/content/docs/cloudflare-one/applications/configure-apps/dash-sso-apps.mdx
Labels: product:cloudflare-one, size/s

#19758 [CF1] changelog updates Feb 5, 2025
  src/content/changelogs/dex.yaml
  src/content/changelogs/gateway.yaml
Labels: size/xs

#19811 Update ai-gateway.yaml
  src/content/changelogs/ai-gateway.yaml
Labels: size/xs

#19687 Create Terraform v5 changelog
  src/assets/images/changelog-next/2024-02-03-terraform-v5-screenshot.png
  src/content/changelogs-next/2025-02-03-terraform-v5-provider.mdx
Labels: size/s

#19813 Remove mentions of Bun
  src/content/docs/developer-spotlight/index.mdx
  src/content/docs/pages/get-started/c3.mdx
  src/content/docs/workers/languages/typescript/index.mdx
  src/content/docs/workers/tutorials/generate-dynamic-og-images-using-workers/index.mdx
  src/content/partials/workers/dash-creation-next-steps.mdx
Labels: product:workers, product:pages, size/l, product:developer-spotlight

#19731 Create 2025-02-04-aig-provider-cartesia-eleven-cerebras.mdx
  src/assets/images/ai-gateway/cerebras.png
  src/assets/images/ai-gateway/cerebras2.png
  src/content/changelogs-next/2025-02-04-aig-provider-cartesia-eleven-cerebras.mdx
Labels: size/s

#19748 Create 2025-02-05-aig-request-handling.mdx
  src/content/changelogs-next/2025-02-05-aig-request-handling.mdx
Labels: size/s

#19810 [ZT] Windows multi-user WARP version
  src/content/docs/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/windows-multiuser.mdx
Labels: product:cloudflare-one, size/xs

#19580 [CASB] Salesforce FedRAMP integration
  src/content/docs/cloudflare-one/applications/casb/casb-integrations/index.mdx
  src/content/docs/cloudflare-one/applications/casb/casb-integrations/salesforce-fedramp.mdx
  src/content/docs/cloudflare-one/applications/casb/casb-integrations/salesforce.mdx
  src/content/docs/cloudflare-one/policies/gateway/lists.mdx
  src/content/partials/cloudflare-one/casb/integration-description.mdx
  src/content/partials/cloudflare-one/casb/integration-perms.mdx
  src/content/partials/cloudflare-one/casb/salesforce-integration.mdx
  src/content/partials/cloudflare-one/casb/security-findings.mdx
  src/content/partials/cloudflare-one/casb/shared-links.mdx
  src/content/partials/cloudflare-one/gateway/response.mdx
  src/content/partials/cloudflare-one/gateway/url-slash.mdx
  src/content/partials/learning-paths/zero-trust/threat-intelligence-automation.mdx
Labels: product:cloudflare-one, do-not-merge-yet, size/m, sub-product:casb

#19824 [MWAN Connector] Details on HA connections
  src/content/docs/magic-wan/configuration/connector/reference.mdx
  src/content/partials/magic-wan/connector/ha-configs.mdx
Labels: size/s, product:magic-wan

#19243 [WORKERS] fix typo in configuration/preview.mdx
  src/content/docs/workers/configuration/previews.mdx
Labels: product:workers, size/xs

#19793 [Analytics] Avoid repeated word in sidebar
  src/content/docs/analytics/network-analytics/reference/network-analytics-v1.mdx
Labels: product:analytics, size/xs

#19825 Add redirect for removed tutorial
  public/_redirects
Labels: product:workers, size/xs

#19823 [Docs Site] Deploy preview URLs to WfP and fix Show Changed Files comments
  .github/workflows/publish-preview.yml
  .github/workflows/show-changed-files.yml
  bin/post-preview-url-comment/README.md
  bin/post-preview-url-comment/constants.ts
  bin/post-preview-url-comment/index.node.test.ts
  bin/post-preview-url-comment/index.ts
  bin/post-preview-url-comment/util.ts
  bin/show-changed-files/index.node.test.ts
  bin/show-changed-files/index.ts
  package-lock.json
  package.json
Labels: size/l

#19829 [Lint] Remove non-standard quotes
  .github/styles/cloudflare/NonStandardQuotes.yml
Labels: size/s

#19821 Add serverless language to agents and workers ai
  src/content/docs/agents/index.mdx
  src/content/docs/workers-ai/index.mdx
Labels: size/xs, product:workers-ai, product:agents

#19828 [Chore] Align with public stats component
  src/components/PublicStats.astro
  src/content/docs/learning-paths/workers/concepts/workers-concepts.mdx
  src/content/docs/reference-architecture/architectures/cdn.mdx
  src/content/docs/reference-architecture/architectures/load-balancing.mdx
  src/content/docs/reference-architecture/architectures/sase.mdx
  src/content/docs/reference-architecture/architectures/security.mdx
  src/content/docs/reference-architecture/design-guides/securing-guest-wireless-networks.mdx
  src/content/docs/reference-architecture/diagrams/sase/deploying-self-hosted-VoIP-services-for-hybrid-users.mdx
  src/content/docs/style-guide/documentation-content-strategy/component-attributes/introduction.mdx
Labels: product:reference-architecture, size/s, product:learning-paths, product:style-guide

#19834 [Magic Firewall] Add MWAN support
  src/content/docs/magic-firewall/how-to/enable-ids.mdx
Labels: size/xs, product:magic-firewall

#19822 [ZT] Add more info to TLS decryption section
  src/content/docs/learning-paths/replace-vpn/configure-device-agent/enable-tls-decryption.mdx
Labels: sub-product:gateway, size/xs, product:learning-paths

#19838 [DLS] Remove trailing spaces
  src/content/docs/data-localization/how-to/r2.mdx
  src/content/docs/data-localization/index.mdx
  src/content/docs/data-localization/limitations.mdx
  src/content/docs/data-localization/metadata-boundary/get-started.mdx
  src/content/docs/data-localization/metadata-boundary/index.mdx
  src/content/docs/data-localization/regional-services/get-started.mdx
Labels: product:data-localization, size/s

#19833 [Learning Paths] Move landing page to new grid layout
  src/components/LearningPathCatalog.tsx
  src/content/learning-paths/cybersafe.json
  src/icons/learning-paths.svg
  src/icons/notifications.svg
  src/icons/speed.svg
  src/pages/changelog/index.astro
  src/pages/learning-paths.astro
Labels: size/m

#19819 [ZT] MASQUE minimum WARP version
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/warp-settings/index.mdx
Labels: product:cloudflare-one, size/xs

#19841 [ZT] WARP macOS beta release
  src/content/changelogs/warp.yaml
  src/content/warp-releases/macos/beta/2025.1.634.1.yaml
Labels: size/s

#19794 changelog update (new ways to get started on Workers)
  src/assets/images/workers/choose-template-import-repo.png
  src/content/changelogs-next/2025-02-07-new-ways-to-get-started-on-workers.mdx
Labels: size/s

#19711 [Workers] Update Workers changelog incl. V8 13.2, 13.3
  src/content/changelogs/workers.yaml
Labels: size/xs

#19831 [DO] Clarifying request context for Durable Objects
  src/content/docs/durable-objects/api/state.mdx
  src/content/docs/pages/framework-guides/deploy-an-analog-site.mdx
  src/content/glossary/durable-objects.yaml
  src/content/partials/workers/durable_objects_pricing.mdx
Labels: product:pages, product:durable-objects, size/s

#19840 typo agents
  src/content/docs/agents/index.mdx
Labels: size/xs, product:agents

#19861 [LB] Remove trailing spaces
  src/content/docs/load-balancing/additional-options/load-balancing-china.mdx
  src/content/docs/load-balancing/additional-options/spectrum.mdx
  src/content/docs/load-balancing/index.mdx
  src/content/docs/load-balancing/load-balancers/index.mdx
  src/content/docs/load-balancing/monitors/index.mdx
  src/content/docs/load-balancing/pools/cloudflare-pages-origin.mdx
  src/content/docs/load-balancing/pools/index.mdx
  src/content/docs/load-balancing/troubleshooting/load-balancing-faq.mdx
  src/content/docs/load-balancing/understand-basics/load-balancing-components.mdx
  src/content/docs/load-balancing/understand-basics/traffic-steering/origin-level-steering/least-outstanding-requests-pools.mdx
  src/content/docs/load-balancing/understand-basics/traffic-steering/steering-policies/least-outstanding-requests.mdx
Labels: product:load-balancing, size/s

#19864 [D1] Fixing wrong variable reference in the code.
  src/content/docs/d1/worker-api/return-object.mdx
Labels: product:d1, size/xs

#19852 [Web3] Remove trailing spaces
  src/content/docs/web3/ethereum-gateway/concepts/index.mdx
  src/content/docs/web3/index.mdx
  src/content/docs/web3/ipfs-gateway/concepts/dnslink.mdx
  src/content/docs/web3/ipfs-gateway/concepts/index.mdx
Labels: product:web3, size/xs

#19866 [3rd Party] Update caching-static-html-with-wordpresswoocommerce.mdx
  src/content/docs/support/third-party-software/content-management-system-cms/caching-static-html-with-wordpresswoocommerce.mdx
Labels: size/xs, product:support

#19865 [DO] Adding missing `--remote` flag
  src/content/docs/durable-objects/observability/troubleshooting.mdx
Labels: product:durable-objects, size/xs

#17874 [Wrangler] Removed duplicate line in D1 Bindings section
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/xs

#19868 Update PublicStats.astro
  src/components/PublicStats.astro
Labels: size/xs

#19085 [Fundamentals] Update free-plan.mdx
  src/content/docs/fundamentals/concepts/free-plan.mdx
Labels: size/xs, product:fundamentals

#19005 [Workflows] docs: fix note syntax
  src/content/docs/workflows/build/call-workflows-from-pages.mdx
Labels: size/xs, product:workflows

#18954 Fix batch image upload endpoint from v2 to v1
  src/content/docs/images/upload-images/images-batch.mdx
Labels: product:images, size/s

#19294 Update configuration.mdx - Fix description of browser binding
  src/content/docs/workers/wrangler/configuration.mdx
Labels: product:workers, size/xs

#19226 Update metrics-and-analytics.mdx
  src/content/docs/workers/observability/metrics-and-analytics.mdx
Labels: product:workers, size/xs

#19165 Better Workflows wording
  src/content/docs/workflows/build/local-development.mdx
Labels: size/xs, product:workflows

#19317 easier to understand Tail Worker doc
  src/content/docs/workers/observability/logs/tail-workers.mdx
Labels: product:workers, size/xs

#19837 [Chore] Update preview images
  public/changelog-preview.png
  public/core-services-preview.png
  public/dev-products-preview.png
  public/zt-preview.png
  src/components/overrides/Head.astro
Labels: size/xs

#19215 Removed confusing self-referential link
  src/content/docs/workers/runtime-apis/bindings/service-bindings/index.mdx
Labels: product:workers, size/xs

#17896 Update limits.mdx
  src/content/docs/workers/platform/limits.mdx
Labels: product:workers, size/xs

#19847 [Docs Site] fix: changelog scrollbar overflow
  src/components/changelog-next/Header.astro
Labels: size/xs

#19872 [Cache] Updates Tiered Cache compatibility
  src/content/partials/fundamentals/account-owned-tokens.mdx
Labels: size/xs

#19869 [Docs Site] Update Vite to 6.1
  package-lock.json
Labels: size/xs

#19874 [ZT] Verify WARP device profile
  src/content/docs/cloudflare-one/connections/connect-devices/warp/configure-warp/device-profiles.mdx
Labels: product:cloudflare-one, size/xs

#19587 Update sippy.mdx
  src/content/docs/r2/data-migration/sippy.mdx
Labels: product:r2, size/xs

#19875 [Bug] Changelog preview image
  src/components/overrides/Head.astro
Labels: size/s

#19721 [Docs Site] Refactor partials property validation and docs
  astro.config.ts
  src/components/Render.astro
  src/content.config.ts
  src/content/docs/cloudflare-one/identity/idp-integration/entra-id.mdx
  src/content/docs/style-guide/components/markdown.mdx
  src/content/docs/style-guide/components/render.mdx
  src/content/partials/cloudflare-one/access/enable-scim-on-dashboard.mdx
  src/content/partials/style-guide/code-in-props.mdx
  src/content/partials/style-guide/hello.mdx
  src/content/partials/style-guide/image-in-props.mdx
  src/content/partials/style-guide/link-in-props.mdx
  src/content/partials/style-guide/optional-props.mdx
  src/content/partials/style-guide/simple-props.mdx
  src/content/partials/style-guide/strong-in-props.mdx
  src/schemas/partials.ts
Labels: product:cloudflare-one, size/m, product:style-guide
